<div *ngIf="(posDevice$ | async) as posDevice"></div>
<ng-template #loading>

  <div class="ps-flex-group-nowrap">
    <div class="simple-icon">
      <mat-icon
        matBadge="0"
        matBadgeColor="accent"
        matBadgePosition="before">
        mail_outline
      </mat-icon>
    </div>
    <div>
      <button
          mat-button
          color="primary"
          (click)="refreshMessages()" >
          <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </div>

</ng-template>

<div *ngIf="(messages$ | async) as messages; else loading">
  <div *ngIf="messages">
    <button   mat-raised-button
              color="primary"
              style="height:45px"
              (click)="archiveAll()" >
          <mat-icon>archive</mat-icon>
      Archive All
    </button>

    <button   mat-raised-button
          color="primary"
          style="height:45px"
          (click)="archiveVoids()" >
      <mat-icon>archive</mat-icon>
      Archive Voids
    </button>
  </div>

  <div class="ps-flex-group">
    <div *ngIf="orderID">
      <h2 > OrderID {{orderID}} </h2>
    </div>

    <div>
      <button
          mat-raised-button
          color="primary"
          (click)="hideshowMessages = !hideshowMessages" >
        <mat-icon
              *ngIf="!hideshowMessages"
              matBadge=" {{messages.length}}"
              matBadgeColor="accent"
              matBadgePosition="before">
              mail
        </mat-icon>
        <mat-icon
              *ngIf="hideshowMessages"
              matBadge=" {{messages.length}}"
              matBadgeColor="accent"
              matBadgePosition="before">
              mail
        </mat-icon>
      </button>
    </div>

    <div>
      <button
          mat-button
          color="primary"
          (click)="refreshMessages()" >
          <mat-icon>refresh</mat-icon>
      </button>
    </div>

    <div *ngIf="orderID">
      <button mat-button
              (click)="exit()">
        <mat-icon>exit</mat-icon>
        Close
      </button>
    </div>

  </div>

  <div *ngIf="hideshowMessages">
    <mat-card *ngIf="!messages || messages.length == 0">
      <mat-label color='accent'>There are no messages</mat-label>
    </mat-card>

    <mat-card *ngIf="messages && messages.length > 0">
      <mat-card-content>
        <div *ngFor = "let item of messages"
              class = "message-list">
             
          <app-request-message
            [enableActions]="enableActions"
            (archiveEvent)="toggleArchive(item)"
            (actionEvent)="activeEvent(item)">
            <div message > {{item?.message}} </div>
            <div subject > {{item?.subject}} </div>
            <div body >    {{item?.message}} - {{item?.type}} </div>
            <div *ngIf="item.requestDate" completed >   {{item?.requestDate | date: 'short'}} </div>
            <div *ngIf="item.requestCompleted" requested >   {{item?.requestCompleted | date: 'short'}} </div>
          </app-request-message>
        </div>

        <div  *ngIf="(message$ | async) as message">
          <button *ngIf="enableActions"
                   mat-raised-button
                  (click)="clearMessage()">
              Clear
          </button>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>

<div *ngIf="messageRefresh$ | async"></div>
<div *ngIf="(order$ | async) as order"></div>
<div *ngIf="(action$ | async) as action"></div>
<div *ngIf="(user$ | async) as user"></div>
<div *ngIf="(printServerDevice$ | async) as device"></div>
<div *ngFor="let observable of observablesArray$ | async">
  <ng-container *ngIf="observable | async as value">
  </ng-container>
</div>
