.grid-values {
    display: grid;
    grid-template-columns: 150px 350px;
    gap: 5px;
  }

  .grid {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat( auto-fit, minmax(475px, 1fr) );
  }
