<div class="container" *ngIf="toggleListGrid">
  <div class="grid-list">
    <div>

      <ng-container [ngTemplateOutlet]="sortSelectors"></ng-container>
      <ng-container [ngTemplateOutlet]="summaryEnabled"></ng-container>
      <div *ngIf="value" class="loader">
        <mat-progress-bar mode="determinate" [value]="value"></mat-progress-bar>
      </div>

      <ag-grid-angular
            #agGrid
            [style]              ="gridDimensions"
            id                   ="myGrid"
            [class]              ="agtheme"
            [columnDefs]         ="columnDefs"
            [defaultColDef]      ="defaultColDef"
            [gridOptions]        ="gridOptions"
            [rowSelection]       ="rowSelection"
            [frameworkComponents]="frameworkComponents"
            (selectionChanged)   ="onSelectionChanged($event)"
            (sortChanged)        ="onSortChanged($event)"
            (gridReady)          ="onGridReady($event)">
      </ag-grid-angular>
    </div>

    <div class="filter-panel">
      <app-pos-payments-filter
          (outputRefreshSearch)="refreshSearchAny($event)">
      </app-pos-payments-filter>
    </div>
  </div>

</div>

<ng-template #summaryView>

  <div *ngIf="summary as items" style="margin-left:10px;font-weight:500;">
    # {{totalRecordCount}} | Sales :  {{items?.amountPaid ?? 0 | currency}} | Total: {{items?.totalReceived ?? 0 | currency}}
  </div>
</ng-template>

<ng-template #sortSelectors>
  <app-sort-selectors
    (outPutSort)="setSortData($event)"
    [searchType]="'payment'"
    [sortByEmployee]="true"
    [sortByService]="true"
    [sortByAmount]="true"
    [sortBySheetID]="true"
    >
  </app-sort-selectors>
</ng-template>
