<div class="item-container" *ngIf="isApp && order">
  <div>
    <button class="payment-buttons" color="primary" mat-raised-button (click)="cashPayment()">Cash</button>
  </div>

  <div *ngIf="uiTransactions.enableExactChange" >
    <button class="payment-buttons" color="primary" mat-raised-button (click)="applyCashPayment(order.balanceRemaining)">Pay Balance </button>
  </div>

  <div>
    <button class="payment-buttons" color="primary" mat-raised-button (click)="applyCashPayment(5)">$5.00</button>
  </div>
  <div>
    <button class="payment-buttons" color="primary" mat-raised-button (click)="applyCashPayment(10)">$10.00</button>
  </div>
  <div>
    <button class="payment-buttons" color="primary" mat-raised-button
            (click)="applyCashPayment(20)">$20.00</button>
  </div>
  <div>
    <button class="payment-buttons"
            color="primary"
            mat-raised-button (click)="applyCashPayment(100)">$100.00</button>
  </div>
  <div></div>
  <div></div>
</div>

<span *ngIf="(action$ | async) as action">

</span>
