

.light-theme-green {
  background-color: lightgreen;
  color: black;
}

.light-theme-blue {
  background-color: lightblue;
  color: black;
}

.dark-theme-green {
  background-color: #498049;
  color: white;
}

.dark-theme-blue {
  background-color: darkblue;
  color: white;
}


.buttons {
  margin-top: 5px;
  margin-bottom: 5px;
}
.item-container {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  // align-content: center;
  row-gap: 5px;
  column-gap: 15px;
  justify-content:flex-start;
  width: 100%;
}


