body, form , .form {
  background-color: white !Important;
}

.form-background {
  background-color: white !Important;
}

::ng-deep .cdk-overlay-pane {
  /* Do you changes here */
    min-width:  auto !important;
}

// mat-form-field {
//   margin: 5px;
// }
mat-form-field {
  font-size: .8em;
}
