<div [formGroup]="searchForm"
     *ngIf="searchForm"
     class="form-background">

  <mat-form-field class="form-background"  appearance="outline" >
    <mat-label class="form-background">Search Item</mat-label>

    <input
           #input
           type="text"
           class="form-background"
           placeholder="Search Items"
           matInput
           formControlName="packageName"
           [matAutocomplete]="auto">

    <mat-autocomplete panelWidth="auto" #auto="matAutocomplete"
                     [displayWith]="displayFn.bind(this)"  >
      <mat-option *ngFor="let item of results$ | async"  [value]="item">
        {{item.name}}
      </mat-option>
    </mat-autocomplete>

 </mat-form-field>

</div>
