
.grid-container {
  display: grid;
  grid-template-columns: 185px 185px 125px 125px 100px;
  // gap: 15px;
}

.container {
  // max-height: 500px;
  overflow-y: auto;
  max-width: 800px;
  overflow-x: scroll;
}

.field-width {
  width: 200px;
}

.grid-units {
  display: grid;
  grid-template-columns: 100px 45px ;
  gap: 15px;
}


mat-card {
  padding: 5px;
  margin: 5px;
}
