<div *ngIf="( product$ | async) as product"></div>
<div *ngIf="( action$ | async) as product"></div>

<ng-container [ngTemplateOutlet]="editForm"></ng-container>

<ng-template #editForm>
  <mat-card *ngIf="inputForm">
    <div [formGroup]="inputForm">
      <mat-card>
        <mat-card-content>

          <div class="grid-container">
            <ng-container [ngTemplateOutlet]="addButtonView"></ng-container>
            <ng-container [ngTemplateOutlet]="productSelector"></ng-container>
            <ng-template #productSelector>
              <div class="grid-units">

                <div   *ngIf="posOrderItem" style="width:125px;margin-left:15px">
                  <product-selector
                    [inputForm]     = 'inputForm'
                    [posOrderItem]  = 'posOrderItem'
                    [name]          = "posOrderItem.productName"
                    [id]            = 'posOrderItem?.productID'
                    [searchForm]    = 'productSearchForm'
                    (itemSelect)    = 'assignProduct($event)'>
                    Select product
                  </product-selector>
                </div>

              </div>
            </ng-template>
            <ng-container [ngTemplateOutlet]="deleteButton"></ng-container>
            <ng-template #deleteButton>
              <div style="margin-left:45px">
                <button mat-button (click)="clearUnit()">
                  <mat-icon color="warn">delete</mat-icon>
                </button>
              </div>
            </ng-template>
          </div>
            <!-- <ng-container [ngTemplateOutlet]="unitSelector"></ng-container>

            <ng-template #unitSelector>
              <div class="grid-units">
                <div *ngIf="posOrderItem"    style="width:100px">
                  <unit-type-select
                    [inputForm]     = 'inputForm'
                    [posOrderItem]  = 'posOrderItem'
                    [name]          = "posOrderItem.unitName"
                    [id]            = 'posOrderItem?.unitType'
                    [searchForm]    = 'unitSearchForm'
                    (itemSelect)    = 'assignItem($event)'>
                  </unit-type-select>
                </div>

                <div style="margin-left:45px">
                  <button mat-button (click)="clearUnit()">
                    <mat-icon color="warn">delete</mat-icon>
                  </button>
                </div>
              </div>
            </ng-template> -->

            <!-- <app-value-fields
                [inputForm]="inputForm"
                [fieldType]="'number'"
                [fieldName]="'price'">
              Price
            </app-value-fields>

            <app-value-fields
                [inputForm]="inputForm"
                [fieldType]="'number'"
                [fieldName]="'cost'">
              Cost
            </app-value-fields>

            <app-value-fields
                [inputForm]="inputForm"
                [fieldType]="'number'"
                [fieldName]="'quantity'">
              Quantity
            </app-value-fields>
          </div> -->

        </mat-card-content>
      </mat-card>

    </div>
  </mat-card>
</ng-template>
<ng-template #addButtonView>
  <div style="margin-left:15px">
    <button color="primary"
        style="height:50px"
        mat-raised-button
        (click)="addItem()">
      <mat-icon>add</mat-icon>Add
    </button>
  </div>
</ng-template>
