
.grid-container {
  display: grid;
  grid-template-columns: 105px 185px 225px 75px 75px;
  gap: 15px;
}

.container {
  // max-height: 500px;
  overflow-y: auto;
  max-width: 800px;
  overflow-x: scroll;
}

.field-width {
  width: 200px;
}

