<div *ngIf="( product$ | async) as product"></div>
<div *ngIf="( action$ | async) as product"></div>
<div *ngIf="( unitType$ | async) as unit"></div>
<div *ngIf="( repOrderUnitType$ | async) as reOrderUnit"></div>

<ng-container [ngTemplateOutlet]="editForm"></ng-container>

<ng-template #editForm>
  <mat-card *ngIf="inputForm" [formGroup]="inputForm">
    <mat-card>
      <mat-card-content>

        <div class="grid-container">
          <ng-container [ngTemplateOutlet]="newProduct"></ng-container>
          <ng-container [ngTemplateOutlet]="addButtonView"></ng-container>
          <ng-container [ngTemplateOutlet]="productSelector"></ng-container>
          <ng-container [ngTemplateOutlet]="unitSelector"></ng-container>
          <ng-container [ngTemplateOutlet]="quantity"></ng-container>
          <ng-container [ngTemplateOutlet]="deleteButton"></ng-container>
        </div>
        <div >
          <ng-container [ngTemplateOutlet]="unitOptionsSelector"></ng-container>
        </div>

      </mat-card-content>
    </mat-card>
  </mat-card>
</ng-template>

<ng-template #deleteButton>
  <div>
      <button mat-button (click)="clearInputs(null)">
        Reset
      </button>
  </div>
</ng-template>

<ng-template #unitOptionsSelector>
  <div *ngIf="posOrderItem && menuItemSelected">
    <div *ngIf="unitOptions">
      <mat-form-field  style="width:300px" *ngIf="unitOptions"
                      appearance="fill">
          <mat-label>Add on Items</mat-label>
          <mat-chip-list
                  [(ngModel)]="unitSelected"
                  selectable="true"
                  multiple="false">
            <span *ngFor="let item of unitOptions">
              <mat-chip
                    [value]="item"
                    (click)="toggleChip(item)">
                {{item?.name}}
              </mat-chip>
            </span>
        </mat-chip-list>
      </mat-form-field>
    </div>
  </div>
</ng-template>

<ng-template #productSelector>
  <div   *ngIf="posOrderItem"
          style="width:125px">
    <product-selector
      [inputForm]     = 'inputForm'
      [searchForm]      = 'productSearchForm'
      [posOrderItem]    = 'posOrderItem'
      [name]            = "posOrderItem.productName"
      [id]              = 'posOrderItem?.productID'
      (clearInputsEmit) = 'clearInputs($event)'
      (itemSelect)      = 'assignProduct($event)'>
      Select product
    </product-selector>
  </div>
</ng-template>

<ng-template #unitSelector>
  <div *ngIf="posOrderItem && menuItemSelected"
        style="width:100px">
    <unit-type-select
      [inputForm]     = 'inputForm'
      [posOrderItem]  = 'posOrderItem'
      [name]          = "posOrderItem.unitName"
      [id]            = 'posOrderItem?.unitType'
      [searchForm]    = 'unitSearchForm'
      [setChange]     = 'setChange'
      (undoSetChange) = 'updateSetChange($event)'
      (itemSelect)    = 'assignItem($event)'>
    </unit-type-select>
  </div>
</ng-template>

<ng-template #quantity>
  <div style="width:75px;">
      <app-value-fields
          [inputForm]   ="inputForm"
          [fieldsClass] ="'font-small'"
          [fieldType]   ="'number'"
          [fieldName]  ="'quantity'">
        Quantity
      </app-value-fields>
  </div>
</ng-template>

<ng-template #addButtonView>
  <div style="margin-left:15px;width:100px">
    <button color="primary"
        *ngIf="menuItemSelected"
        style="height:50px"
        mat-raised-button
        (click)="addItem()">
      <mat-icon>add</mat-icon>Add
    </button>

    <button color="primary"
        *ngIf="!menuItemSelected"
        style="height:50px"
        mat-raised-button
        (click)="makenewProduct()">
      <mat-icon>add</mat-icon>New
    </button>

  </div>
</ng-template>

<ng-template #newProduct>

</ng-template>
