
    <!-- <ol>
    <li>  1. Make a matt card - will be mostly image </li>
    <li>     1. include the fields {{category.name}}</li>
    <li>     3. refrence the picture, wherever it's located img src = "{{category.urlMainPicture}}"</li>
    <li>     3. Animation For selecting of Image</li>
    <li>     4. Add @Input for category</li>
    <li>     5. Add @Output for Emmiter</li>
    <li>     6. Add function to emitt</li>
    <li>     7. Add function to route to Category Items from Emitter</li>
    </ol> -->

<p>menu-card-categories works!</p>
