<div>
  <div  *ngIf="item.id != -1"
        class="grid-display-device"
        (click)= "listItems(item.id)">

    <div>
      <div class="text">{{item?.name  | truncateText: textLength  }}</div>
      <div class="grid-item" *ngIf="!disableImages && imageName" >
        <img
            draggable = "false"
            [src]     = "urlImage"
            (click)   = "listItems(item.id)"
            class     = 'item-image'
            [alt]     = "item?.description">
      </div>
      <div *ngIf="disableImages" style="height:50px"></div>
    </div>
  </div>

  <div *ngIf="item.id == -1">
      <div class="text">{{item?.name  | truncateText: textLength  }}</div>
    <div class="grid-item-button">
      <button mat-raised-button
            color="warn"
          (click)  ="nextPage()">
        <div class="text">Load More...</div>
      </button>
    </div>
  </div>
</div>

<ng-template #editButtonView>
  <div  class="edit-float-category-button"
        *ngIf="isAdmin" >
    <button
        mat-mini-fab
        color  ="accent"
        (click)="editItem(item)" >
      <mat-icon  color="primary">info</mat-icon>
    </button>
  </div>
</ng-template>