<ng-template #loading>
  <div>
    ...getting menu.
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</ng-template>

<div class="bg" *ngIf="(action$ | async) as items; else loading"
                [style.border-radius]="'10px'"
                [style.margin-right]="'5px'"
                [style.background]="backgroundURL"
                [style.height]="'calc(120% + 200px)'"
                [style.width]="'100%'"
                [ngStyle]="{
                'background-repeat': 'repeat'
                }" >

  <display-menu-title
      *ngIf="menu"
      [bucket]="bucket"
      [menu]="menu">
  </display-menu-title>

  <div *ngFor="let category of items" class="categories-grid" >
    <div class="category-view"
              [style.background]="backgroundURL"
              style.background-repeat="repeat"
              [style.height]="'calc(120% + 200px)'"
              [style.width]="'100%'"
              [style.opacity]="menu.backcolorOpacity">
      <div >
        <div class="category">
          <h1>{{ category?.name }}</h1>
          <mat-divider></mat-divider>
        </div>
      </div>

      <div
          [style.opacity]="menu.backcolorOpacity"
          >
        <div *ngIf="category">
          <div class="item-container">
            <div class="grid-container">
              <div></div>
              <div *ngIf="category.showABV">ABV</div>
              <div *ngIf="category.showImage"></div>
              <div *ngIf="category.showProof">Proof</div>
              <div *ngIf="category.showTHC">THC</div>
              <div *ngIf="category.showCBD">CBD</div>
              <div *ngIf="category.showGlueten">GF</div>
            </div>
          </div>
        </div>

        <div class="item" *ngFor="let item of category.itemDiscounts">

            <div class="item-container" *ngIf="item" >
              <div class="grid-container">
                <div>{{ item?.menuItem?.name }}</div>

                <div  class="menu-item-image"
                    *ngIf="(!item?.menuItem?.urlImageMain ||
                            item?.menuItem?.urlImageMain === '') && category.showImage">
                </div>

                <div *ngIf="item?.menuItem?.urlImageMain && item?.image != '' && category?.showImage">
                    <img
                      loading   = "lazy"
                      draggable = "false"
                      [src]     = "getItemSrc(item?.logo)"
                      err-SRC   = "getPlaceHolder()"
                      onerror   = "this.src='assets/images/placeholderimage.png'"
                      class     = "menu-item-image"
                      [alt]     = "item?.logo">
                </div>

                <div *ngIf="item?.menuItem?.abv && category.showABV">
                  {{ item?.menuItem?.abv | percent: '1.2-2' }}
                </div>

                <div *ngIf="item?.menuItem?.proof && category.showProof">
                  {{ item?.menuItem?.proof | percent: '1.2-2' }}
                </div>

                <div *ngIf="item?.menuItem?.thc && category.showTHC">
                  {{ item?.menuItem?.thc }}
                </div>

                <div *ngIf="item?.menuItem?.cbd && category.showCBD">
                  {{ item?.menuItem?.cbd }}
                </div>

                <div *ngIf="category.showGlueten">
                  <mat-slide-toggle
                    class="example-margin"
                    color="primary"
                    [checked]="item?.menuItem?.gluetenFree"
                    [disabled]="true"
                  >
                  </mat-slide-toggle>
                </div>
              </div>

              <div class="item-price">{{ item?.menuItem?.retail | currency }}</div>
            </div>

            <div *ngIf="item?.menuItem?.description" class="item-description-row">
              {{  item?.description | slice: 0:200 }}
            </div>

        </div>

      </div>
    </div>
  </div>

  <!-- [style.background]="backgroundURL" -->
  <!-- [style.opacity]="menu?.backcolorOpacity" -->
  <div class="category-view"
            [style.background]="backgroundURL"
            style.background-repeat="repeat"
            [style.height]="'calc(120% + 200px)'"
            [style.width]="'100%'"
            [style.opacity]="menu.backcolorOpacity"
      >
    <div *ngIf="menu && menu.footer">
    {{ menu?.footer }}
    </div>
  </div>

</div>
