<div *ngIf="(addMenuItem$ | async) as menuItemAdd"></div>

<ng-template #loading>
  <div>
    ...getting menu.
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</ng-template>

<div class="bg" *ngIf="(action$ | async) as items; else loading"
                [style.border-radius]="'10px'"
                [style.margin-right]="'5px'"
                [style.background]="backgroundURL"
                [style.height]="'calc(120% + 200px)'"
                [style.width]="'100%'"
                [ngStyle]="{ 'background-repeat': 'repeat' }" >

  <display-menu-title
      *ngIf="menu"
      [bucket]="bucket"
      [menu]="menu">
  </display-menu-title>
  <div *ngFor="let category of items" class="categories-grid" >
    <app-menu-section [menu]="category"></app-menu-section>
  </div>

  <ng-container [ngTemplateOutlet]="footerView"
                [ngTemplateOutletContext]="{$implicit: menu}"></ng-container>
</div>

<ng-template #footerView let-menu>
  <div class="category-view"
      [style.background]="backgroundURL"
      style.background-repeat="repeat"
      [style.height]="'calc(120% + 200px)'"
      [style.width]="'100%'"
      [style.opacity]="1" >
    <div *ngIf="menu && menu.footer">
    {{ menu?.footer }}
    </div>
  </div>
</ng-template>
