

<div  class="form-background"
      [formGroup]="searchForm">

  <mat-form-field class="form-background"
                  appearance="outline"
                  fxFlexFill >
    <mat-label class="form-background">Price Lookup</mat-label>

    <input
            #input
            matInput
            type             ="text"
            class            ="input-field"
            placeholder      ="Price Categories"
            formControlName  ="priceCategoryLookup"
            [matAutocomplete]="auto">

        <mat-autocomplete panelWidth    = "auto"
                          #auto         = "matAutocomplete"
                          (optionSelected)="onChange($event)">

        <mat-option *ngFor="let item of results$ | async"
                    [value]="item">
            {{item.name}}
        </mat-option>

    </mat-autocomplete>
  </mat-form-field>

</div>

<div hidden="true"
     *ngIf="inputForm && !isInventory"
     [formGroup]="inputForm">
  <input  formControlName="priceCategory">
</div>

<div hidden="true"
     *ngIf="inputForm && isInventory"
     [formGroup]="inputForm">
  <input  formControlName="priceCategoryID">
  </div>
