mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 175px;
}

// .mat-form-field-infix {
//     display: block;
//     position: relative;
//     flex: auto;
//     min-width: 0;
//     width: 175px;
// }

// .mat-form-field {
//   // display: inline-block;
//   // position: relative;
//   // text-align: left;
//   // width: 175px;
//   font-size: .8em;
// }
.formFieldClass-standard {
  font-size: medium;
}
.formFieldClass {
  font-size: small;
}
.mat-form-field2 {
  font-size: medium;
}
