@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:host {
    .mat-icon {
            vertical-align: middle;
            margin-right: 20px;
    }
}

mat-sidenav-container {
    min-width: 125px !important;
    border-right: 1px solid #eee;
    box-shadow: 6px 0px 6px 6px rgb(115, 118, 124);
    background-color:rgb(55, 55, 59);
  }

.sidenav-container {
  height: 200vh;
}

.sidenav {
  width: 220px;
}

