

<mat-card>

  <mat-card-subtitle>
    <h4 *ngIf="closeDayValidation.allowClose">Ready to Close</h4>
    <mat-label color="warn">
      <h4><div *ngIf="!closeDayValidation.allowClose">Resolutions required to close.</div></h4>
    </mat-label>
  </mat-card-subtitle>

  <mat-card-content *ngIf="closeDayValidation">

    <div *ngIf="closeDayValidation.openBalanceSheets && closeDayValidation.openBalanceSheets.length">
      <mat-label >{{closeDayValidation.openBalanceSheets.length}} Balance Sheets </mat-label>
      <div class="grid-buttons" >
        <div *ngFor="let sheets of closeDayValidation.openBalanceSheets">
          <button mat-raised-button color="warn" (click)="openBalanceSheet(sheets.id)">
            {{sheets?.deviceName}} - {{sheets?.balanceSheetEmployee?.lastName}}
          </button>
        </div>
      </div>
    </div>


    <div *ngIf="(action$ | async) as action;else loading"></div>
    <ng-template #loading>
      <div *ngIf="actionOn">
        ...deleting
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
    </ng-template>

    <div *ngIf="closeDayValidation.openPaidOrders && closeDayValidation.openPaidOrders.length">
      <mat-label >{{closeDayValidation.openPaidOrders.length}} Partial Paid Orders </mat-label>
      <div class="grid-buttons" >
        <div *ngFor="let item of closeDayValidation.openPaidOrders">
          <button mat-raised-button color="warn" (click)="setOrder(item.id)">
          {{item.id}}</button>
        </div>
      </div>
    </div>

    <div *ngIf="closeDayValidation.openPrintedOrders && closeDayValidation.openPrintedOrders.length">
      <button  mat-raised-button color="warn" (click)="deleteUnPrinted()">Delete UnPrinted Orders<mat-icon>delete</mat-icon></button>
    </div>

    <div *ngIf="closeDayValidation.openPrintedOrders && closeDayValidation.openPrintedOrders.length">
      <mat-label>{{closeDayValidation.openPrintedOrders.length}} Orders With Items Unpaid </mat-label>
      <div class="grid-buttons">
        <div *ngFor="let item of closeDayValidation.openPrintedOrders">
          <button mat-raised-button color="warn" (click)="setOrder(item.id)">
            {{item.id}}</button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
