<mat-card>

  <div class="grid-container">

    <div class="grid-item">
      <div class="grid-item">
        <app-mat-select
            (outputItem)="getAssignedSiteSelection($event)"
            [list$]     ="sites$"
            [fieldName] ="'selectedSiteID'"
            [inputForm] ="searchForm"
            >
        </app-mat-select>
      </div>
    </div>

    <div class="grid-item">
      <button
              mat-button
              color="primary"
              (click)="showresults()"
              >
      <mat-icon>refresh</mat-icon>
      Process Sales
      </button>
    </div>

    <div class="grid-item">
      <button
              mat-button
              color="primary"
              (click)="showresults()"
              >
              <mat-icon>refresh</mat-icon>
              Show unProcessed
      </button>
    </div>

    <div class="grid-item">
      <button
              mat-button
              color="primary"
              (click)="showresults()"
              >
              <mat-icon>refresh</mat-icon>
              Show Processed
      </button>
    </div>

  </div>

</mat-card>

<mat-card *ngIf="metrcSales$">

  <ag-grid-angular
      #agGrid
      id="myGrid"
      [style]="gridDimensions"
      [class]="agtheme"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="metrcSales$ | async"
      [frameworkComponents]="frameworkComponents"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>

<div>
