<div *ngIf="(menus$ | async) as menus">
  <div
      class="row-class"
      *ngIf="isStaff && !displayCategories && menus">

    <ul id="accordion"
        class="accordion">
      <li class="menu-item"
          @fade
          *ngFor="let menu of menus; let i = index"
          [class.active]="menu.active">
          <div  *ngIf="isAuthorized(menu?.userType)">
            <div class="menu"
                  (click)="toggle(menu, i)">

              <div class="grid-toggle-tiny">
                <div class="item-font" *ngIf="menu?.icon">
                  <mat-icon>{{ menu?.icon }}</mat-icon>
                </div>
                <div class="item-text" *ngIf="gridtoggletiny != 'grid-toggle-collapsed'">
                  {{menu?.name | truncateText : 20}}
                </div>
              </div>

            </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row-class"
      *ngIf="displayCategories">
  <div class="accordion  menu-header">

    <div class="grid-toggle-tiny">
      <div class="item-font" *ngIf="menus[index]?.icon">
        <mat-icon>{{menus[index]?.icon}}</mat-icon>
      </div>
      <div class="item-font" *ngIf="gridtoggletiny != 'grid-toggle-collapsed'">
        {{menus[index]?.name  | truncateText : 20}}
      </div>
    </div>

    <div *ngIf="!tinyMenu">
       <mat-divider></mat-divider>
    </div>

    <div class="menu-header-footer"></div>
  </div>

  <div *ngIf="submenu">
    <ul id="accordion"
        class="accordion">
      <li class="menu-item"
          @fade
          *ngFor="let item of submenu" >
        <div *ngIf="!item?.minimized">
          <div class="menu"
               *ngIf="isAuthorized(item?.userType)">
              <!-- <button mat-menu-item
                routerLinkActive={{item?.routerLinkActive}}
                routerLink=      {{item?.routerLink}}> -->
                <button mat-menu-item
                        (click)="navigateMenu(item.routerLink)">

              <div class="grid-toggle-tiny">
                <div class="item-font" *ngIf="item.icon">
                  <mat-icon>{{item?.icon}}</mat-icon>
                </div>
                <div class="item-font" *ngIf="gridtoggletiny != 'grid-toggle-collapsed'">
                  {{item?.name | truncateText : 20}}
                </div>
              </div>
            </button>
          </div>
        </div>
      </li>
    </ul>

    <button mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <ul id="accordion"
        class="accordion">
        <li class="menu-item"
            @fade>
          <mat-menu #menu="matMenu">
            <div  *ngFor="let item of submenu">
              <div  *ngIf="isAuthorized(item?.userType)">
                <div *ngIf="item && item?.minimized">
                  <button mat-menu-item
                          (click)="navigateMenu(item.routerLink)">

                    <div class="grid-toggle-tiny">
                      <div class="item-font" *ngIf="item.icon">
                        <mat-icon>{{item.icon}}</mat-icon>
                      </div>
                      <div class="item-font"*ngIf="gridtoggletiny != 'grid-toggle-collapsed'">
                        {{item.name | truncateText : 20}}
                      </div>
                    </div>

                  </button>
                </div>
              </div>
            </div>
          </mat-menu>

        </li>
      </ul>

      <ul id="accordion"
          class="accordion">
          <li class="menu-item"
              @fade>
            <div class="menu">
              <a  mat-list-item
                      (click)="resetMenu()">
                <mat-icon>navigate_before</mat-icon>
              </a>
            </div>
          </li>
      </ul>

  </div>

  <button mat-icon-button
      (click)="setSmallMenu()"
      aria-label=" toggle">
    <mat-icon>view_compact</mat-icon>
  </button>

</div>

