  <mat-card class="centered centered-flex mat-card" 
            *ngIf="uiHomePageSetting; else loading">
        <mat-card-title>
          <div>

            <div *ngIf="uiHomePageSetting && uiHomePageSetting.logoHomePage"
                  class="logo"   >
              <app-logo
                    [uiHomePageSetting] ="uiHomePageSetting"
                    [logoSize]          ="'medium'"
                    [logo]              ="uiHomePageSetting.logoHomePage"
              ></app-logo>
            </div>

            <h2 *ngIf="uiHomePageSetting">
                {{uiHomePageSetting.displayCompanyName}}
            </h2>

          </div>
        </mat-card-title>

        <mat-card-subtitle>
          <div >
            <div *ngIf="!uiHomePageSetting.smtpEmailEnabled && !uiHomePageSetting.twilioEnabled">Self registration is not allowed. </div>

            <span *ngIf="uiHomePageSetting.smtpEmailEnabled || uiHomePageSetting.twilioEnabled">
              <h2>Register Account</h2>
                <p>
                <span *ngIf="uiHomePageSetting.smtpEmailEnabled">  For email input your email. </span>
                <span *ngIf="uiHomePageSetting.twilioEnabled">For text messang, only numeric, no spaces for text messaging</span>.
                </p>
              <p> We will send an email or text with a code to make a password.</p>
            </span>
          </div>
        </mat-card-subtitle>
        <mat-card-content  *ngIf="uiHomePageSetting.smtpEmailEnabled || uiHomePageSetting.twilioEnabled">
              <div [formGroup]="loginForm">
                <div>
                  <mat-form-field appearance="outline">
                      <mat-label>
                        <span *ngIf="uiHomePageSetting.twilioEnabled">Phone </span> 
                        <span *ngIf="uiHomePageSetting.smtpEmailEnabled && uiHomePageSetting.twilioEnabled">or</span>
                        <span *ngIf="uiHomePageSetting.smtpEmailEnabled"> Email</span>
                      </mat-label>
                      <input matInput type="text" formControlName="username" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                          <div *ngIf="f.username.errors.required">You may use your number or email as account name</div>
                      </div>
                  </mat-form-field>
                </div>

                <api-status-display>Service may be unavalible</api-status-display>
              </div>

              <div class="margin-5" >
                <button mat-raised-button
                        color="primary"
                        (click)="registerToken()">
                    Request Code</button>
              </div>

              <div >
                <div *ngIf="submitted && (result$ | async) as result; else loading">
                </div>
                {{message}}
              </div>

              <div class="margin-5" >
                <mat-divider></mat-divider>
              </div>

              <div class="margin-5" >
                <button mat-raised-button
                        color="warn"
                        (click)='goBack()'>Cancel</button>
              </div>
        </mat-card-content>

  </mat-card>

  <ng-template #loading >
    <div *ngIf="submitted">
      <h2>Please wait ....</h2>
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
  </ng-template>
