@import "/src/mixins.scss";

:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 5px;
  }
}

mat-toolbar {
  padding: 0px;
}

mat-menu {
  overflow-x: hidden;
  overflow-y: auto;
}

mat-card  {
  padding:0px;
}

form {
  margin-top: 1em;
  font-size: .8em;
}

ul li{
  list-style: none;
  display: inline;
  margin-left: 5px;
}

.small-screen {
  visibility: visible;
  @include for-phone-only  {
    visibility: hidden;
  }
}

.grid-flow {
    --gap: 10px;
    display: grid;
    margin-top: 0px;
    gap: var(--gap);
    // grid-template-columns: repeat( auto-fit, minmax(50px, 1fr) );
    grid-template-columns: repeat(10, 1fr); // repeat( auto-fit, minmax(50px, 1fr) );
    // margin-top: -5px;
    margin-left: -5px;

  @include for-phone-only  {
    --gap: 0px;
    display: grid;
    gap: var(--gap);
    // grid-template-columns: repeat( auto-fit, minmax(50px, 1fr) );
    grid-template-columns: repeat(10, 1fr); // repeat( auto-fit, minmax(50px, 1fr) );
    // margin-top: -5px;
    margin-left: -15px;
    left: -10px;
  }
}

.second-list {
  position: relative;
}

.pos-panel {
  margin-top: 20px;
}

.margin-info {
  margin-left: 3px;;
}

button {
  margin-left: 3px;
}

//disable text
.site-name {
  -webkit-user-select:none;
  -webkit-touch-callout:none;
       -moz-user-select:none;
       -ms-user-select:none;
       user-select:none;
}

.pos-name {
  -webkit-user-select:none;
  -webkit-touch-callout:none;
       -moz-user-select:none;
       -ms-user-select:none;
       user-select:none;
  // margin-left: .5em;
  font-style: italic;
}

.search {
  margin-left : 5px;
  margin-right: 5px;
  padding     : 5px;
}

.profile-card {
    text-align: center;
    padding: 0 20px  20px  20px;
    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.mat-item {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

// mat-sidenav {
//   min-width: 125px !important;
//   border-right: 1px solid #eee;
//   box-shadow: 6px 0 6px rgba(0, 0, 0, .1);
//   background-color:rgb(63, 81, 181);
// }

@media (min-width: 10em) and (max-width: 100em) {
  h1, h3, h2, h4 {
    font-size: .9rem;
  }
  size-format {
    display: none;
  }
}

.cart-button {
  margin-left: 5px;
}


