@import "/src/mixins.scss";

:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 5px;
  }
}

.infosmall {
  font-size: small;
}

:host .mat-menu-panel {
  margin-top: 15px  !important;
  width     : 100%!important;
  min-width : 300px;
  overflow-x: hidden;
}

.mat-toolbar-android-no-user {
  margin-top    : 5px  ;
  width         : 100%  ;
  min-width     : 300px ;
  height        : 45px  ;
  overflow      : hidden;

  @include horizontal-tablet  {
    margin-top    : 0px  ;
  }
  @include for-phone-only  {
    margin-top    : 5px  ;
  }
}

.mat-toolbar-android {
  padding-top   : 10px;
  margin-top    : 15px  ;
  width         : 100%  ;
  min-width     : 300px ;
  height        : 45px  ;
  overflow      : hidden;

  @include horizontal-tablet  {
    margin-top    : 0px  ;
  }
  @include for-phone-only  {
    margin-top    : 5px  ;
  }

}

.mat-toolbar {
  width         : 100%  !important;
  min-width     : 300px;
  height        : 45px !important;
  overflow      : hidden;
}

.more-button {
  width: 50px;
}

.mat-divider {
  margin-bottom: 3px;
}

.api-status {
  margin-right: 10px;
}

mat-menu {
  overflow-y: hidden;
}

mat-card  {
  padding:0px;
}

ul li{
  list-style: none;
  display: inline;
  margin-left: 5px;
}

.small-screen {
  visibility: visible;
  @include for-phone-only  {
    visibility: hidden;
  }
}

.grid-flow {
    display: grid;
    margin-top: 0px;
    gap: 5px;
    grid-template-columns: repeat(10, 1fr); // repeat( auto-fit, minmax(50px, 1fr) );
    margin-left: -5px;
    margin-right: 5px;
    @include for-tablet-landscape-up {
      gap: 5px;
      display: grid;
      gap: 5px;
      grid-template-columns: repeat(10, 1fr); // repeat( auto-fit, minmax(50px, 1fr) );
      margin-left: -15px;
      left: -10px;
    }

    @include for-phone-only  {
      gap: 3px;
      display: grid;
      grid-template-columns: repeat(10, 1fr);

    }

}

.pos-panel {
  // margin-top: 15px;
  position: relative;
  // top: -20px;
  margin-top: 5px;
  top:  -10px;
  // @include for-phone-only  {
  //   top: 0px;
  // }

  @include horizontal-tablet  {
    margin-top    : 15px  ;
    top:  -10px;
  }
  @include for-phone-only  {
    margin-top    : 15px  ;
    top:  -10px;
  }

}

.search-input {
  margin-top: -15px;
}

.second-list {
  position: relative;
}

.margin-info {
  margin-left: 8px;
}

button {
  margin-left: 3px;
}

.logo {
  margin-left: 5px;
  width      : 50px;
}

.flex-sections-nouser {
  display         : flex;
  justify-content : space-between;
  flex-direction  : row;
  flex-basis      : auto;

  @include for-phone-only  {
    margin-top: 35px;
    align-content: center;
    justify-content: center;
  }
}

.flex-sections {
  display         : flex;
  justify-content : space-between;
  flex-direction  : row;
  flex-basis      : auto;


  @include for-phone-only  {
    // margin-top: 35px;
    align-content: center;
    justify-content: center;
    // margin-top    : 5px  ;
    // padding-top   : 5px ;
  }

  @include horizontal-tablet  {
    // margin-top    : 25px  ;
    // padding-top   : 10px ;
    // margin-top    : 15px  ;
    // padding-top   : 5px ;
    align-content: center;
    justify-content: center;
  }
}

.grid-margin {
  margin-top      : 15px;
  padding-top     : 10px;

  @include for-phone-only  {
    align-content: center;
    justify-content: center;
    margin-top    : 5px  ;
    padding-top   : 5px ;
  }

  @include horizontal-tablet  {
    margin-top    : 5px  ;
    padding-top   : 5px ;
    align-content: center;
    justify-content: center;
  }

}

.grid-margin-nostaff {
  margin-top         : 10px;
  // padding-top     : 10px;

  @include for-phone-only  {
    align-content: center;
    justify-content: center;
    margin-top    : 5px  ;
    // padding-top   : 5px ;
  }

  @include horizontal-tablet  {
    margin-top    : 5px  ;
    // padding-top   : 5px ;
    align-content: center;
    justify-content: center;
  }

}

.flex-sections-user {
  display         : flex;
  justify-content : space-between;
  flex-direction  : row;
  flex-basis      : auto;
  // margin-top      : 35px;
  padding-top     : 10px;
  @include for-phone-only  {
    margin-top: 5px;
    padding-top     : 5px;
  }
}

//disable text
.site-name {
  -webkit-user-select:none;
  -webkit-touch-callout:none;
       -moz-user-select:none;
       -ms-user-select:none;
       user-select:none;
  max-width: 65px;
  margin: 4px
}

.pos-name {
  -webkit-user-select:none;
  -webkit-touch-callout:none;
       -moz-user-select:none;
       -ms-user-select:none;
       user-select:none;
  font-style: italic;
}

.search {
  margin-left : 5px;
  margin-right: 5px;
  padding     : 5px;
}


.profile-card {
    text-align: center;
    padding: 0 20px  20px  20px;
    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.mat-item {
  justify-content: center;
  align-items : center;
  display     : flex;
  text-align  : center;
  height      : 75px;
  min-height  : 75px;
  margin-top  : 5px;
  margin-bottom: 5px;
}

.menu-button {
  height: 100%;
  width: 100%;
}

@media (min-width: 10em) and (max-width: 100em) {
  h1, h3, h2, h4 {
    font-size: .9rem;
  }
  size-format {
    display: none;
  }
}

.cart-button {
  margin-left: 5px;
  width: 200px;
  // min-width: 200px;
}

.grid-section-flow {
  display: grid;
  gap:5px;
  grid-template-columns: repeat( auto-fit, minmax(155px, 1fr) );
  grid-auto-flow: row;
}

.ul-pos-panel {
  padding: 3px;
  margin: 2px;
}

.panel-card {
  margin-top: 0px;
  padding: 5px;
}

