<mat-toolbar color="primary">

  <mat-toolbar-row>
     <div  fxFlex
           fxLayout="row"
           fxLayoutAlign="start start">
        <div class="grid-flow">

          <div *ngIf="!smallDevice">
            <button aria-label="back" mat-button
                    (click)="goBack()">
             <mat-icon aria-hidden="true">keyboard_arrow_left</mat-icon>
             <!-- <span aria-hidden="true">menu</span> -->
            </button>
          </div>

          <div *ngIf="isUserStaff || isAdmin">
            <button aria-label="menu"
                    mat-button
                   (click)="toggleSideBar()">
              <mat-icon >menu</mat-icon>
            </button>
          </div>

          <div>
            <button aria-label="search"
                    mat-button
                    (click)="toggleSearchMenu()">
              <mat-icon >search</mat-icon>
            </button>
          </div>

          <div>
            <button aria-label="home"
                    mat-button
                    (click)="goHome()">
              <mat-icon >home</mat-icon>
            </button>
          </div>

          <div *ngIf="!smallDevice" id="location" >
            <div class="site-name" *ngIf="site && site.name">
              <h2 > {{ site.name.toUpperCase()  }} </h2>
            </div>
          </div>

          <div *ngIf="!smallDevice" >
            <button  aria-label="location_on"
                    mat-button
                    (click)="siteSelector()">
              <mat-icon>location_on</mat-icon>
            </button>
          </div>

          <div>
            <api-status-display></api-status-display>
          </div>
<!--
          <div *ngIf="smallDevice">
            <app-cart-button> </app-cart-button>
          </div> -->

          <div *ngIf="smallDevice &&  ( (isUserStaff && platFormService.platForm !='web') || (isAdmin) )">
            <button mat-button
                    aria-label="POS"
                    color="accent"
                    (click)="navPOSOrders()">
              <mat-icon>point_of_sale</mat-icon>
            </button>
          </div>

        </div>
      </div>

      <div  class="pos-buttons-mat-card">
        <mat-card
                *ngIf="!smallDevice && ( (isUserStaff && platFormService.platForm !='web' ) || (isUserStaff) )"
               >
          <ul
              fxFlex fxLayout="row"
              fxLayoutAlign="center center">

              <li *ngIf="employeeName">
                {{employeeName.toUpperCase() | truncateText : 8}}
              </li>

              <li *ngIf="!smallDevice">
                <div class="pos-name"
                    *ngIf="(orderService && orderService.posName && showSearchForm) "
                    id="pos-name">
                  <h2 > | POS {{ orderService?.posName.toUpperCase()  }} | </h2>
                </div>
              </li>

              <li>
                <button mat-button
                        color="accent"
                        aria-label="POS"
                        (click)="navPOSOrders()">
                  <mat-icon>point_of_sale</mat-icon>
                </button>
              </li>

              <li>
                <button *ngIf="showTableLayout"
                        aria-label="dining"
                        mat-button  routerLinkActive="list-item-active"
                        routerLink="/dining-layout">
                  <mat-icon>dining</mat-icon>
                </button>
              </li>

              <!-- if android device -->
              <li *ngIf="platFormService.androidApp">
                <button mat-button
                        aria-label="badge"
                        routerLinkActive="list-item-active"
                        routerLink="/barcodescanner">
                  <mat-icon>badge</mat-icon>
                </button>
              </li>

              <li>
                <list-product-search-input></list-product-search-input>
              </li>

              <li *ngIf="scaleInfo">
                {{scaleInfo.value}} {{scaleInfo.mode}}
              </li>

              <li *ngIf="platFormService && !platFormService.webMode">
                <button mat-button
                        aria-label="transfer_within_a_station"
                        color="accent"
                        (click)="switchUser()">
                  <mat-icon>transfer_within_a_station</mat-icon>
                </button>
              </li>

              <li>
                <button color="warn"
                        mat-button
                        aria-label="exit_to_app"
                        class="nav-item nav-link"
                        (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span *ngIf="!user">Log Out</span>
                </button>
              </li>

          </ul>

        </mat-card>

      </div>
      <div fxFlex fxLayout="row" fxLayoutAlign="end center" >
        <div class="grid-flow">

          <div *ngIf="!smallDevice && !isUserStaff">
            <app-toggle-theme></app-toggle-theme>
          </div>

          <div class="cart-button" >
            <app-cart-button> </app-cart-button>
          </div>

          <div *ngIf="!user">
            <button color="warn"
                    mat-button
                    aria-label="logout"
                    class="nav-item nav-link"
                    (click)="logout()">
                    Sign In
                <mat-icon>exit_to_app</mat-icon>
            </button>
          </div>

          <div *ngIf="user">
            <button   aria-label="user"
                      mat-button [matMenuTriggerFor]="menu">
              <mat-icon>person_outline</mat-icon>
            </button>

            <mat-menu #menu="matMenu">

              <button aria-label="logout" color="warn" mat-menu-item>
                <button
                        mat-button
                        class="nav-item nav-link"
                        aria-label="logout"
                        (click)="logout()">
                    Log Out
                    <mat-icon>exit_to_app</mat-icon>
                </button>
              </button>

              <mat-divider class="mat-divider"></mat-divider>

              <button mat-menu-item>
                <button
                      mat-button
                      class="nav-item nav-link"
                      aria-label="face"
                      routerLink="/app-profile">
                      {{ userName }} - {{userRoles}}
                    <mat-icon>face</mat-icon>
                </button>
              </button>

              <mat-divider class="mat-divider"></mat-divider>

              <mat-card>
                <div  mat-menu-item
                      *ngIf="smallDevice || isUserStaff">
                    <div class="site-name" >
                      <app-toggle-theme></app-toggle-theme>
                    </div>
                </div>
              </mat-card>

              <mat-divider class="mat-divider"></mat-divider>

              <mat-card>
                <div  mat-menu-item
                      *ngIf="smallDevice"
                      class="mat-item" >
                  <div class="site-name" *ngIf="site">
                    <h2 > {{ site.name  }} </h2>
                  </div>
                </div>

                <div  mat-menu-item
                      class="mat-item"
                      *ngIf="smallDevice">
                  <button
                        mat-button
                        aria-label="location"
                        class="mat-button-item"
                        (click)="siteSelector()">
                    <mat-icon>location_on</mat-icon>
                  </button>
                </div>
              </mat-card>

            </mat-menu>
          </div>
        </div>
      </div>

  </mat-toolbar-row>

</mat-toolbar>
