<div *ngIf="( product$ | async) as product"></div>

<ng-container [ngTemplateOutlet]="editForm"></ng-container>

<mat-card>
  <mat-card-title>
    <button color="primary" mat-raised-button (click)="addItem()">
      <mat-icon>add</mat-icon>Add
    </button>

  </mat-card-title>

  <mat-card-content *ngIf="pb_Main && pb_Main.pB_Components" >
    <div *ngIf="pb_Main.pB_Components as components">
      <ag-grid-angular
            #agGrid
            style="width: 100%; height: 35vh;"
            id="mySearchGrid"
            class="ag-theme-material"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [rowSelection]="rowSelection"
            [rowData]="components"
            [frameworkComponents]="frameworkComponents"
            (gridReady)="onGridReady($event)"
        >
      </ag-grid-angular>
    </div>
  </mat-card-content>

</mat-card>

<ng-template #editForm>
  <mat-card *ngIf="pb_Component && componentForm">
    <div [formGroup]="componentForm">
      <button color="primary" mat-raised-button (click)="saveEdit()">
        <mat-icon>save</mat-icon>Save
      </button>

      <mat-card>
        <mat-card-content>

          <div class="ps-grid-items">
            <ng-container [ngTemplateOutlet]="productSelector"></ng-container>
            <ng-template #productSelector>
              <div class="grid-units">
                <div   *ngIf="pb_Component" style="width:100px">
                  <product-selector
                    [inputForm]     = 'componentForm'
                    [pb_Component]  = 'pb_Component'
                    [name]          = "pb_Component.name"
                    [id]            = 'pb_Component?.productID'
                    [searchForm]    = 'productSearchForm'
                    (itemSelect)    = 'assignProduct($event)'>
                  </product-selector>
                </div>
                <div style="margin-left:45px">
                  <button mat-button (click)="clearUnit()">
                    <mat-icon color="warn">delete</mat-icon>
                  </button>
                </div>
              </div>
            </ng-template>

            <ng-container [ngTemplateOutlet]="unitSelector"></ng-container>

            <ng-template #unitSelector>
              <div class="grid-units">
                <div *ngIf="pb_Component"    style="width:100px">
                  <unit-type-select
                    [inputForm]     = 'componentForm'
                    [pb_Component]  = 'pb_Component'
                    [name]          = "pb_Component.unitName"
                    [id]            = 'pb_Component?.unitTypeID'
                    [searchForm]    = 'unitSearchForm'
                    (itemSelect)    = 'assignItem($event)'>
                  </unit-type-select>
                </div>
                <div style="margin-left:45px">
                  <button mat-button (click)="clearUnit()">
                    <mat-icon color="warn">delete</mat-icon>
                  </button>
                </div>
              </div>
            </ng-template>


            <app-value-fields
                [inputForm]="componentForm"
                [fieldType]="'number'"
                [fieldName]="'price'">
              Price
            </app-value-fields>

            <app-value-fields
                [inputForm]="componentForm"
                [fieldType]="'number'"
                [fieldName]="'cost'">
              Cost
            </app-value-fields>

            <app-value-fields
                [inputForm]="componentForm"
                [fieldType]="'number'"
                [fieldName]="'quantity'">
              Quantity
            </app-value-fields>
          </div>

        </mat-card-content>
      </mat-card>

    </div>
  </mat-card>
</ng-template>

<ng-template #editItemView>
  <!-- <div class="edit-float-button">
    <button
        mat-mini-fab
        color="accent"
        (click)="editItem()" >
      <mat-icon  color="primary">info</mat-icon>
    </button>
  </div> -->
</ng-template>
