
.grid-container {
  display: grid;
  grid-template-columns:  repeat(100px);
  margin: 10px;
}

.container {

  max-height: 500px;
  overflow-y: auto;
  max-width: 800px;
  overflow-x: scroll;
}

.field-width {
  width: 200px;
}

.grid-units {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
}


