@import "/src/mixins.scss";

.container {
  overflow: hidden;
}
.mat-input-element {
  font-size: 1em;
}

.mat-label {
  font-size: 1.2em;
}

.mat-card {
  height: 99%;
  overflow: hidden;
}

mat-card{
  margin:  5px ;
}

mat-tab  {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

.grid-headers {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-gap: 10px;
}

.search-selector {
  width: 200px;
}

// .grid-auths {
//   display: grid;
//   grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
//   grid-gap: 10px;
//   max-height: 400px;
//   overflow-x: hidden;
//   overflow-y: auto;
// }

.grid-auths {
  display              : grid;
  grid-template-columns: 1fr 1fr;
  width                : 400px;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}

.grid-fields {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
  gap: 5px;

}

.header-container {
  --gap: 10px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: 200px 1fr;

  @include for-phone-only  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    justify-content: space-between;
  }
}

.spacer {
  margin-top: 10px;
}
