
.mat-card-container {
  max-width: 375px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mat-divider {
  margin-top: 15px;
  margin-bottom: 5px;
}


button {
  margin: 4px;
}
mat-card {
  margin: 10px;
}

.summary {
  margin: 5px;
}

.mat-card-title {
  margin-bottom: 10px;
}

.header-labels {
  font-size     : 12px;
  margin        : 0px 5px 5px 5px;
  padding       : 0px 5px 5px 5px;
  white-space   : nowrap;
  overflow      : hidden;
  text-overflow : ellipsis;
  text-transform: capitalize;
  float         : left;
  align-items   : baseline;
  line-height   : 1em;
  @media print {
    font-size: 14pt;
    font-weight: bold;
  }
}

.field_bold {
  font-weight: 700px;
}


.tax_label {
  font-size: .9em;
  margin: 0px 5px 5px 5px;
  padding: 0px 5px 5px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  float: left;
  align-items: baseline;
  line-height: 1em;
  @media print {
    font-size: 14pt;
    font-weight: bold;
  }
  // text-align: right;
}

.totals_label{
  font-size: .9em;
  margin: 0px 5px 5px 5px;
  padding: 0px 5px 5px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  float: left;
  align-items: baseline;
  line-height: 1em;
  text-align: left;
  @media print {
    font-size: 14pt;
    font-weight: bold;
  }
}

.discounts_label{
  font-size: .9em;
  margin: 0px 5px 5px 5px;
  padding: 0px 5px 5px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  float: left;
  align-items: baseline;
  line-height: 1em;
  @media print {
    font-size: 14pt;
    font-weight: bold;
  }
}

.other_label {

  font-size: .9em;
  margin: 0px 5px 5px 5px;
  padding: 0px 5px 5px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  float: left;
  align-items: baseline;
  line-height: 1em;
  @media print {
    font-size: 14pt;
    font-weight: bold;
  }

}

.totals {
  font-size: .9em;
  margin: 0px 5px 5px 5px;
  padding: 0px 5px 5px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  float: left;
  align-items: baseline;
  line-height: 1em;
  text-align: right;
  @media print {
    font-size: 14pt;
    font-weight: bold;
  }
}

.tax{
  font-size: .9em;
  margin: 0px 5px 5px 5px;
  padding: 0px 5px 5px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  float: left;
  align-items: baseline;
  line-height: 1em;
  text-align: right;
  @media print {
    font-size: 14pt;
    font-weight: bold;
  }
}

.other {
  font-size: .9em;
  margin: 0px 5px 5px 5px;
  padding: 0px 5px 5px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  float: left;
  align-items: baseline;
  line-height: 1em;
  @media print {
    font-size: 14pt;
    font-weight: bold;
  }
}

.discounts {
  font-size: .9em;
  margin: 0px 5px 5px 5px;
  padding: 0px 5px 5px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  float: left;
  align-items: baseline;
  line-height: 1em;
}


.grid-item {
  align-items: flex-end;

  @media print {
    font-size: 14pt;
    font-weight: bold;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr auto ;
  grid-template-rows: auto;
  grid-gap: 2px;
}


.grid-footer {
  margin-top           : 5px ;
  padding-top:           10px;
  display              : grid;
  grid-template-columns: 1fr auto ;
  grid-template-rows   : auto;
  grid-gap             : 2px;
  margin-left          : 15px;
  justify-content: space-between;
  max-width: 350px;

}
