// mat-button-toggle {
//   width    : 165px;
//   max-width: 165px;
//   min-width: 165px;
//   margin-left: 5px;
// }

.toggle-buttons-wide {
  // width    : 300px;
  // max-width: 300px;
  // min-width: 300px;
  width: 95%;
  margin-left: 5px;
}

.button-dimensions {

}

.button-dimensions-tall {
  height: 60px;
  margin-bottom: 5px;
}

.toggle-buttons {
  // width    :  185px;
  // max-width:  185px;
  // min-width:  185px;
  justify-content: center;
  align-content: center;
  width: 95%;
  margin-left: 5px;
}

.grid-item {
  align-items: center;
  margin-bottom: 5px;
}

.heading {
  font-size: 1.1em;
  align-items: center;
  text-align: center;
}

.toggle-group {
  width: 100%;
  height: 240px;
  overflow-y: auto;
  overflow-x: hidden;
}

.toggle-group-tall {
  width: 385px;
  height: 385px;
  overflow-y: auto;
  overflow-x: hidden;
}

mat-button-toggle-group {
  width: 100%;
}

mat-button-toggle {
  flex: 1 1 100%;
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  display: flex;
}
