<div *ngIf="action$ | async"></div>
<div class="heading" [ngStyle]="toggleWidth">
  <h4>
    <ng-content></ng-content>
  </h4>
</div>

<div [class]="toggleDimensions"
      *ngIf="toggleVertical && list; else loading">
    <div [style.height]="toggleStyleHeight">
      <mat-button-toggle-group
          name         = "type"
          [(ngModel)]  = "id"
          (change)     = "changeSelection()"
          vertical >

        <mat-button-toggle
              *ngIf="!hideAllOption"
              [value]="emptyItem"
              (click)="setItemNull()"
              (mouseover) ="setItemMouseOver(null)"
              [class]="buttonDimensions">
            All
        </mat-button-toggle>

        <div class="toggle-buttons-height">
        <div [class]="toggleHeight" [style.height]="styleHeight">
          <div [style.height]="styleHeight">
            <mat-button-toggle
                      *ngFor="let item of list"
                      type="button"
                      [value]="item"
                      [style.background-color]="item?.menuButtonJSON?.buttonColor"
                      (click)="setItem(item)"
                      id="item.id">

                    <div class="grid-toggle-tiny">
                      <div class="item-font"
                            *ngIf="showIcon && item.icon && item.icon != ''">
                        <span *ngIf="materialIcons">
                          <mat-icon>{{item.icon}}</mat-icon>
                        </span>
                        <span *ngIf="!materialIcons"
                            [class]="'mdi ' + item.icon">
                        </span>
                      </div>
                      <div class="item-text"
                          *ngIf="((item.icon === '' || !item.icon) && tinyMenu )
                                  || !tinyMenu">
                        {{item[fieldName] | truncateText : textLength}}
                      </div>
                    </div>
            </mat-button-toggle>
            <mat-menu
                      class="mat-menu-panel"
                      [overlapTrigger]="true"
                      #departmentMenu="matMenu">
                <span>
                  <h4>{{departmentID}}</h4>
                </span>
            </mat-menu>
          </div>
        </div>
        </div>

      </mat-button-toggle-group>

    </div>

  </div>

  <div [class]="toggleDimensions"
        *ngIf="!toggleVertical && list; else loading">
    <div [class]="toggleHeight">

       <mat-button-toggle-group
          name         = "type"
          [(ngModel)]  = "id"
          (change)     = "changeSelection()"
           >

      <mat-button-toggle
            *ngIf="!hideAllOption"
            [value]="emptyItem"
            (click)="setItemNull()"
            (mouseover) ="setItemMouseOver(null)"
            [class]="buttonDimensions">
          All
      </mat-button-toggle>

      <div class="toggle-buttons-height" >
        <div [class]="toggleHeight" [style.height]="styleHeight">

          <mat-button-toggle
                *ngFor="let item of list"
                type="button"
                [value]="item"
                (click)="setItem(item)"
                id="item.id">

              <div class="grid-toggle-tiny">
                <div class="item-font"
                      *ngIf="showIcon && item.icon && item.icon != ''">

                  <span *ngIf="materialIcons">
                      <mat-icon>{{item?.icon}}</mat-icon>
                  </span>
                  <span *ngIf="!materialIcons"
                      [class]="'mdi ' + item?.icon">
                  </span>

                </div>

                <div class="item-text"
                      *ngIf="((item?.icon === '' || !item?.icon) && tinyMenu )
                            || !tinyMenu">
                  {{item[fieldName] | truncateText : textLength}}
                </div>
              </div>

          </mat-button-toggle>

          <mat-menu
                    class="mat-menu-panel"
                    [overlapTrigger]="true"
                    #departmentMenu="matMenu">
              <span>
                <h4>{{departmentID}}</h4>
              </span>
          </mat-menu>
        </div>
      </div>
       </mat-button-toggle-group>

    </div>
  </div>

<ng-template #loading>
  <!-- <mat-spinner [diameter]="50"></mat-spinner> -->
</ng-template>

