<div class="heading">
  <h4>
    <ng-content></ng-content>
  </h4>
</div>

<div [class]="toggleDimensions"
     *ngIf="list; else loading">
    <mat-button-toggle-group
          name         = "type"
          [(ngModel)]  = "id"
          (change)="changeSelection()"
          vertical >
      <mat-button-toggle
            *ngIf="!hideAllOption"
            [value]="emptyItem"
            [class]="buttonDimensions">
          All
      </mat-button-toggle>

      <div class="toggle-buttons-height" >
        <div [class]="toggleHeight">
          <mat-button-toggle
                type="button"
                [value]="item"
                (click)="setItem(item)"
                *ngFor="let item of list" >

              <div class="grid-toggle-tiny">
                <div class="item-font" *ngIf="showIcon && item.icon">
                  <span [class]="'mdi ' + item.icon"></span>
                </div>
                <div class="item-text" *ngIf="!tinyMenu">
                  {{item.name | truncateText : textLength}}
                </div>
              </div>
          </mat-button-toggle>
        </div>
      </div>

    </mat-button-toggle-group>
</div>

<ng-template #loading>
  <mat-spinner [diameter]="50"></mat-spinner>
</ng-template>
