<div class="heading">
  <h4>
    <ng-content></ng-content>
  </h4>
</div>

<div [class]="toggleDimensions"
     *ngIf="list; else loading">
    <mat-button-toggle-group
          name         = "type"
          [(ngModel)]  = "id"
          (change)="changeSelection()"
          vertical >
      <mat-button-toggle
            *ngIf="!hideAllOption"
            [value]="emptyItem"
            (click)="setItemNull()"
            (mouseover) ="setItemNull()"
            [class]="buttonDimensions">
          All
      </mat-button-toggle>

      <div class="toggle-buttons-height" >
        <div [class]="toggleHeight"
             >
          <mat-button-toggle
                *ngFor="let item of list"
                type="button"
                [value]="item"
                (click)="setItem(item)"
                >
              <div class="grid-toggle-tiny"
                  (mouseover) ="setItemMouseOver(item)">
                <div class="item-font" *ngIf="showIcon && item.icon && item.icon != ''">
                  <span *ngIf="materialIcons">
                    <mat-icon>{{item.icon}}</mat-icon>
                  </span>
                  <span *ngIf="!materialIcons" [class]="'mdi ' + item.icon"></span>
                </div>
                <div class="item-text" *ngIf="!tinyMenu">
                  {{item[fieldName] | truncateText : textLength}}
                </div>
              </div>
          </mat-button-toggle>
        </div>
      </div>

    </mat-button-toggle-group>
</div>

<ng-template #loading>
  <mat-spinner [diameter]="50"></mat-spinner>
</ng-template>
