@import "/src/mixins.scss";


.toggle-buttons-wide {
  // width    : 300px;
  // max-width: 300px;
  // min-width: 300px;

  width: 95%;
  margin-left: 5px;

  @include for-phone-only  {
    max-width: 350px;
    width:  325px;

  }

}

.button-dimensions {

}

.button-dimensions-tall {
  height: 75px;
  margin-bottom: 5px;


}

.mat-button-toggle  {
  height: 60px;
}

.toggle-buttons-height {
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;

  @include for-phone-only  {
    max-width: 350px;
    width:  325px;

  }
}
.toggle-buttons {
  // width    :  185px;
  // max-width:  185px;
  // min-width:  185px;
  justify-content: center;
  align-content: center;
  width: 95%;
  margin-left: 5px;

  @include for-phone-only  {
    max-width: 350px;
    width:  325px;

  }
}

.grid-item {
  align-items: center;
  margin-bottom: 5px;
}

.heading {
  font-size: 1.1em;
  align-items: center;
  text-align: center;
}

.toggle-group {
  width: 100%;
  height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;

  @include for-phone-only  {
    max-width: 275px;
    width:  275px;

  }
}

.toggle-group-short {
  width: 100%;
  height: 450h;
  overflow-y: auto;
  overflow-x: hidden;

  @include for-phone-only  {
    max-width: 275px;
    width:  275px;

  }
}


.toggle-group-tall {
  width: 385px;
  height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;

  @include for-phone-only  {
    max-width: 275px;
    width:  275px;

  }
}

mat-button-toggle-group {
  width: 100%;

  @include for-phone-only  {
    max-width: 275px;
    width:  275px;

  }
}

mat-button-toggle {
  flex: 1 1 100%;
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  display: flex;

}
