@import "/src/mixins.scss";

:host ::ng-deep .mat-button-toggle-button {
  text-align: left !important;
  padding: 0 !important;
  z-index: 10 !important;
  // font-size: .9em;
  @include for-phone-only  {
    font-size: .9em;
  }
}

.item-text {
  font-size: 1rem;
}
.item-font {
  font-size: 1.5rem;
}
.toggle-buttons-wide {
  width: 95%;
  margin-left: 5px;
  text-align: left !important;
}

.button-dimensions {
  vertical-align: middle;
  text-align: left;
}

.button-dimensions-short {
  vertical-align: middle;
  text-align: left;
}

.button-dimensions-tall {
  height: 75px;
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: left;
}

.mat-button-toggle  {
  height: 60px;
}

.toggle-buttons-height {
  overflow-y: auto;
  overflow-x: hidden;
  @include for-phone-only  {
    max-width: 350px;
    width: 100%;
  }
}

.toggle-buttons-height-size-tall {
  max-height: 550px;
  @include for-phone-only  {
    max-height: 75vh;
  }
}

.toggle-buttons-height-medium {
  max-height: 350px;
}

.toggle-buttons-height-short {
  max-height: 250px;
}

.toggle-buttons {
  justify-content: center;
  align-content: center;
  width: 95%;
  margin-left: 5px;
  @include for-phone-only  {
    width: 100%;
  }
}

.grid-item {
  align-items: center;
  margin-bottom: 5px;
}

.heading {
  font-size: 1.1em;
  align-items: center;
  text-align: center;
}

.toggle-group {
  width: 100%;
  // height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
  @include for-phone-only  {
    max-width: 275px;
    width:  275px;
  }
}

.toggle-group-short {
  width: 100%;
  height: 450h;
  overflow-y: auto;
  overflow-x: hidden;
  @include for-phone-only  {
    width: 100%;
  }
}

.toggle-group-tall {
  width: 100%;
  // height: 95vh;
  overflow-y: auto;
  overflow-x: hidden;
  @include for-phone-only  {
    width: 100%;
  }
}

mat-button-toggle-group {
  width: 100%;
  @include for-phone-only  {
    width: 100%;
  }
}

mat-button-toggle {
  flex: 1 1 100%;
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  display: flex;
}
