<mat-card *ngIf="menu" (click)="navItem(menu)">
  <div class="grid-items"  *ngIf="menu?.enabled">

    <div class="info">
      <div class="title">{{menu?.title}}</div>
      <div class="subTitle">
        {{menu?.subTitle}}
      </div>
      <div [innerHtml]="menu?.description"></div>
    </div>

    <div class="logo">
      <button >
        <img
            loading   = "lazy"
            draggable = "false"
            [src]     = "getItemSrc(menu?.logo)"
            err-SRC   = "getPlaceHolder()"
            onerror   = "this.src='assets/images/placeholderimage.png'"
            class     = "menu-item-image"
            [alt]     = "menu?.description">
      </button>
    </div>
  </div>
</mat-card>
