@import "/src/mixins.scss";

mat-card {
  opacity: 95%;
  width: calc(99% );
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 10px;
  padding-bottom: 40px;
  overflow: hidden;
  // height: 300px;
}

.title {
  height: 80px;
}

.image-class {
  // background-color: red;
  background-blend-mode: screen;
}

.menu-item-image {
  width: 75%;
  object-fit: fill;
  border-radius: 20px;
  max-width: 150px;
}

.grid-items {
  margin-top: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  @include for-phone-only {
    display: flex;
    flex-direction: column;
  }
}

.logo {
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 200px;
}

.info {
  padding: 1px;
  justify-content: center;
  align-items: center;
  color: white;
  // text-align: center;
  overflow : auto;
}

.title {
  font-size  : clamp(1.5rem, 2.5vw, 2rem);
  line-height: 1.5em;
}

.subtTitle {
  font-size: clamp(1rem, 2.5vw, 2rem);
  line-height: 1.5em;
}

.item-span {
  grid-column: 1 /span 2;
}

.description {
  margin-top: 15px;
  font-size: clamp(1rem, 1vw, 1.5rem); ;
  font-weight: 500;
  line-height: 1.5em;
  margin: 0.2em;
}

button {
  border-radius: 10px;
}

.image-text {
  background-size: cover;
  background-clip: text;
  // color: transparent;
  background-color: rgb(76, 68, 68);
  color: rgb(240, 243, 40);
  font-size: 1.2em;
  z-index: 100;
  border-radius: 10px;
  padding: 5px;
  z-index: 100;
}

.image-text-background {
  background-blend-mode: screen;
  background: rgb(68, 86, 97);
  opacity: 70%;
  border-radius: 10px;
}
