<div  class="title"
      style.background-repeat="repeat"
      [style.height]="styleHeight"
      [style.width]="styleWidth"
      [style.min-width]="styleMinWidth"
      [style.background-color]="backGroundStyle"  >

    <mat-card *ngIf="menu"
              class="image-class"
              (click)="navItem(menu)"
              [style.background]="backgroundURL"
              [style.background-repeat]="repeat"
              [style.height]="'100%'"
              [style.width]="'100%'"
              [style.object-fit]="objectfit"
              [style.opacity]="menu?.backcolorOpacity"  >

      <div class="grid-items image-text-background"
          *ngIf="menu?.enabled" [style.opacity]="1">
        <div class="info image-text ">
          <div>{{menu?.title}}</div>
          <div class="subTitle">
            {{menu?.subTitle}}
          </div>
          <div [innerHtml]="menu?.description"></div>
        </div>
        <ng-container [ngTemplateOutlet]="iconViewDisabled"></ng-container>
      </div>

  </mat-card>
</div>

<ng-template #iconViewEnabled>

</ng-template>

<ng-template #iconViewDisabled>
  <div class="logo" *ngIf="!hideLogo && !iconView" [style.opacity]="1">
    <button >
      <img
          loading   = "lazy"
          draggable = "false"
          [src]     = "getItemSrc(menu?.logo)"
          err-SRC   = "getPlaceHolder()"
          onerror   = "this.src='assets/images/placeholderimage.png'"
          class     = "menu-item-image"
          [alt]     = "menu?.description">
    </button>
  </div>
</ng-template>
