<div class="header">
  <mat-icon>group_work</mat-icon>
  Prompts & Kits 
</div>

<div class="grid-items">
  <div > 
    <button mat-raised-button (click)="setStep(1)">
      <mat-icon>group</mat-icon>Groups
    </button>
  </div>
  <div > 
    <button mat-raised-button (click)="setStep(2)">
      <mat-icon>group</mat-icon>Pages
    </button>
  </div>
  <div > 
    <button mat-raised-button (click)="setStep(3)">
      <mat-icon>group</mat-icon>Associations
    </button>
  </div>
</div>

<div class="settings"
     *ngIf="role">

  <div *ngIf="role === 'admin' || role === 'manager'">
    <mat-accordion class="example-headers-align" multi="false">

      <mat-expansion-panel [expanded]="accordionStep === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span *ngIf="accordionStep != 0">
              <mat-icon>unfold_more</mat-icon>
            </span>
            Prompt Groups
          </mat-panel-title>
          <mat-panel-description>
             Prompt Groups - Edit Titles & Descriptions.
            <mat-icon>database</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

          <prompt-groups></prompt-groups>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>

      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="accordionStep === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
              <span *ngIf="accordionStep != 1">
                <mat-icon>unfold_more</mat-icon>
              </span>
              Pages for Prompts
            </mat-panel-title>
            <mat-panel-description>
              Create Pages to associate with Prompts
              <mat-icon>speaker_group</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <prompt-sub-groups></prompt-sub-groups>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>

      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="accordionStep === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
              <span *ngIf="accordionStep != 3">
                <mat-icon>unfold_more</mat-icon>
              </span>
              Associations
            </mat-panel-title>
            <mat-panel-description>
              Associations - Link Pages to Prompts
              <mat-icon>attachment</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <prompt-associations></prompt-associations>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>

      </mat-expansion-panel>

    </mat-accordion>
  </div>
</div>
