<div class="container" *ngIf="toggleListGrid">
  <div class="grid-list">
    <div>
      <div *ngIf="value" class="loader">
        <mat-progress-bar mode="determinate" [value]="value"></mat-progress-bar>
      </div>

      <ag-grid-angular
            #agGrid
            [style]              ="gridDimensions"
            id                   ="myGrid"
            [class]              ="agtheme"
            [columnDefs]         ="columnDefs"
            [defaultColDef]      ="defaultColDef"
            [gridOptions]        ="gridOptions"
            [rowSelection]       ="rowSelection"
            [frameworkComponents]="frameworkComponents"
            (selectionChanged)   ="onSelectionChanged($event)"
            (gridReady)          ="onGridReady($event)">
      </ag-grid-angular>
    </div>

    <div class="filter-panel">
      <app-items-filter
          (outputRefreshSearch)="refreshSearchAny($event)">
      </app-items-filter>
    </div>
  </div>

</div>
