::ng-deep .cdk-overlay-pane {
  /* Do you changes here */
    min-width:  auto !important;
}

mat-form-field {
  font-size: .8em;
}

.form-background {
  max-width: 200px;
  width: 95%;
}

.small-text {
  font-size: small;
}

.mat-option {
  white-space: normal;
  line-height: normal;
}

