::ng-deep .cdk-overlay-pane {
  /* Do you changes here */
    min-width:  auto !important;
}

mat-form-field {
  // font-size: .8em;
}

.small-text {
  font-size: small;
}

.mat-option {
  white-space: normal;
  line-height: normal;
}

.font-size {
  font-size: 10px;
}
mat-form-field-appearance-outline mat-form-field-wrapper {
  /* margin: .25em 0; */
  margin: 10px;
}
