//VARIABLES BECAUSE CSS PREPROCESSORS ARE COOL
$gray: #555;
$yellow: #f2e968;
$white: #efefef;

//GET THE GOOGLE FONT SPECIMEN
// @import url(https://fonts.googleapis.com/css?family=Rubik);

body,
html {
  // color: #fff;
  text-align: center;
  // background: $white;
  font-family: Helvetica, sans-serif;
  margin: 0;
}

.grid-container {
  // background: $white;
  // font-family: 'Rubik', sans-serif;
}

//ENABLE CSS GRID FOR LIFT OFF  🚀
@supports(display: grid) {

  .grid-container {

    display: grid;
    grid-template-columns: .2fr 1fr .2fr;
    grid-template-rows: .2fr .2fr auto;

    //Let the craziness begin!!!
    grid-template-areas:
      "header header header"
      "title title footer"
      "main main main";

    @media screen and (max-width: 500px) {
      grid-template-columns: 1fr;
      grid-template-rows: 0.3fr 1fr auto .3fr;
      grid-template-areas:
        "header"
        "title"
        "main"
        "footer";
    }
  }

  .grid-item::-webkit-scrollbar{
    width:0;
  }

  .grid-item {
    padding-left: .5em;
    font-size: .8em;
    font-weight: 500;
  }

  .header {
    // background-color: darken(skyblue, 60%);
    grid-area: header;
    padding: 1em;
  }

  .title {
    // color: $gray;
    // background-color: lighten(rgb(139, 140, 141), 25%);
    grid-area: title;
  }

  .main {
    // color: lighten($gray, 25%);
    // background-color: lighten(skyblue, 60%);
    grid-area: main;
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .footer {
    // background-color: darken(skyblue, 10%);
    grid-area: footer;
    padding: 0.6em;
  }

  .items {
    position: relative;
    width: 100%;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;

    overflow-x: hidden;
    overflow-y: hidden;

    @media screen and (max-width: 800px) {
      overflow-x: scroll;
    }
  }

  .items.active {
    // background: rgba(255,255,255,0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }

  .item {
    display: inline-block;
    border-radius: 10px;
    max-height: 25vh;
    max-width: 25vw;
    min-width: 15vw;

    margin: .25em;

    -webkit-user-select:none;
    -webkit-touch-callout:none;
         -moz-user-select:none;
         -ms-user-select:none;
         user-select:none;

    @media screen and (max-width: 800px) {
      height: 25vh;
      width: 25vw;
      min-width: 20vw;
    }
  }
}

.text {
  text-align: center;
  text-overflow: ellipsis;
  margin: .25em;
}

img {

  width: 15vh;
  height: 15vh;
  border-radius: 50%;

  @media screen and (max-width: 500px) {
    min-width: 12vh;
    min-height: 12vh;
  }
}

img:hover {
  // box-shadow: 1px 1px 2px black, 0 0 25px rgb(33, 43, 33), 0 0 5px darkblue;
  transform: scale(1.02);
}

img:active:hover {
  // box-shadow: 1px 1px 2px rgb(158, 82, 82), 0 0 25px rgb(76, 175, 76), 0 0 5px rgb(84, 116, 90);
  transform: scale(1.07);
}

.center-vertical {
  top:5%;
  transform: translateY(2%);

  @media screen and (max-width: 800px) {
    top:5%;
    transform: translateY(5%);
  }
}

.center-horizontal {
  // position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


a {
  // display: block;
  // color: lighten(skyblue, 15%);
  text-decoration: underline;
  margin: 1em auto;
  &:hover {
    cursor: pointer;
  }
}

p {
  text-align: center;
  text-indent: 20px;
  font-weight: 100;
}

i {
  color: skyblue;
}
