<div *ngIf="(action$ | async) as action"></div>
<div class="container">
  <div *ngIf="smallDevice && !reportOnly">
    <button mat-button (click)="filterBottomSheet()">
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <button mat-button (click)="onExportToCsv()"><mat-icon>download</mat-icon>CSV</button>

  <button mat-button (click)="viewType = 0"><mat-icon>list</mat-icon>List
  </button>
  <button mat-button (click)="viewType = 1"><mat-icon>data</mat-icon>JSON
  </button>
  <button mat-button (click)="viewType = 2"><mat-icon>money</mat-icon>Sales
  </button>

  <button mat-button (click)="reCalcList()"><mat-icon>refresh</mat-icon>ReCalc
  </button>

  <app-list-printers-electron
      [printerName]      ="printerName"
      (outputPrinterName)="setPrinter($event)" >
    Receipt Printer
  </app-list-printers-electron>


  <div *ngIf="smallDevice">
    <mat-divider></mat-divider>
  </div>

  <div class="grid-list">
    <div>
      <div *ngIf="value" class="loader">
          <mat-progress-bar mode="determinate" [value]="value"></mat-progress-bar>
      </div>


      <div *ngIf="summary"  class="grid-headers">
        <div>Total Hours</div>
        <div>Total Pay</div>
        <div>Reg Hours</div>
        <div>Reg Pay</div>
        <div>OT Hours</div>
        <div>OT Pay</div>
      </div>

      <div *ngIf="summary"  class="grid-headers">
        <div>{{summary?.regHours || 0 + summary.otHours || 0}}</div>
        <div>{{summary?.otPay + summary.regPay  | currency}}</div>
        <div>{{summary?.regHours || 0}}</div>
        <div>{{summary?.regPay || 0 | currency}}</div>
        <div>{{summary?.otHours || 0}}</div>
        <div>{{summary?.otPay || 0  | currency}}</div>
      </div>

      <ng-container [ngTemplateOutlet]="taxReportView"></ng-container>


      <ag-grid-angular
          *ngIf="viewType == 0"
          #agGrid
          [style]              ="gridDimensions"
          id                   ="myGrid"
          [class]              ="agtheme"
          [columnDefs]         ="columnDefs"
          [defaultColDef]      ="defaultColDef"
          [gridOptions]        ="gridOptions"
          [rowSelection]       ="rowSelection"
          [frameworkComponents]="frameworkComponents"
          (selectionChanged)   ="onSelectionChanged($event)"
          (gridReady)          ="onGridReady($event)">
      </ag-grid-angular>

      <mat-card *ngIf="viewType == 1" [style] ="JSONDimensions">
        <mat-card-title>
          <h4>Data</h4>
          <mat-label>To retrieve all day, make sure you page through go to the last page in the list view.</mat-label>
          <button mat-button (click)="copyJSONToClipBoard()"><mat-icon>file_copy</mat-icon>Copy JSON</button>
        </mat-card-title>
        <mat-card-content>
          <ngx-json-viewer [json]="jsonData"></ngx-json-viewer>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>


    </div>

    <div class="filter-panel" *ngIf="!reportOnly">
      <employee-clock-filter
          (outputRefreshSearch)="refreshSearchAny($event)">
      </employee-clock-filter>
    </div>
  </div>

</div>

<ng-template #taxReport>
  <button mat-raised-button (click)="getSalesEmployeesInPeriod()"><mat-icon>refresh</mat-icon>Refresh Sales</button>
  <div *ngIf=" (employeeList$ | async) as list">
    <div *ngFor="let item of list.results">
      <!-- (outputComplete) ="setOutPutCompleted($event)" -->
      <sales-tax-report
            [printerName]    ="printerName"
            [site]           ="site"
            [dateFrom]       ="startDate"
            [dateTo]         ="endDate"
            [employeeID]     ="item?.id"
            [disableDiscounts]="true"
            [disableOther]       ="true"
            [disableTaxBreakDown]="true"
            [disableCOSG]        ="true"
            [disableLabor]       ="true"
            >
        <div header>
           {{item?.employeeName}} {{item?.id}}
          <mat-divider></mat-divider>
        </div>
      </sales-tax-report>
    </div>
  </div>
</ng-template>
<!-- search.startDate =  this.startDate;
search.endDate   =  this.endDate;
search.employeeID = this.employeeID -->
