

.mat-icon-button {
  margin: 4px 4px 4px 4px;
  float: left;
}

.filter-form {
    margin: 4px 4px 4px 4px;
    font-size: 1rem;
    float: left;
}

mat-form-field {
  margin: 2px;
  font-size: .8em;
}

// ::ng-deep
// .mat-datepicker-content .mat-calendar
// {
//      zoom: .85;
// }
