<!-- <div *ngIf="designerMode">
  BackColor: {{layoutService.dashboardModel.backgroundColor}} Opacity: {{layoutService.dashboardModel.opacity}}
  State Changed {{ layoutService.stateChanged}}
  <mat-checkbox [(ngModel)]="options.swap" (ngModelChange)="changedOptions()">
    Swap
  </mat-checkbox>
  <mat-checkbox [(ngModel)]="options.swapWhileDragging" (ngModelChange)="changedOptions()">
    Swap Items While Dragging
  </mat-checkbox>
  <mat-checkbox [(ngModel)]="options.pushItems" (ngModelChange)="changedOptions()">
    Push Items
  </mat-checkbox>
</div> -->
