<div *ngIf="(setting$ | async) as grid">
  <div *ngIf="authService.isAuthorized &&
              layoutService.designerMode &&
              layoutService.options &&
              layoutService.dashboardModel"
            class="grid"
            >
     <mat-card>
      <h4><mat-icon>settings</mat-icon> Settings </h4>
      <mat-divider></mat-divider>

      <div>
      <mat-checkbox [(ngModel)]="layoutService.options.swap"
              (ngModelChange)="changedOptions()">
        Swap
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="layoutService.options.swapWhileDragging"
              (ngModelChange)="changedOptions()">
        Swap Items While Dragging
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="layoutService.options.pushItems"
              (ngModelChange)="changedOptions()">
        Push Items
      </mat-checkbox>

      </div>
    </mat-card> 

    </div>
</div>
<div *ngIf="(action$ | async) as action"></div>

