<div
     class="grid-container"
     *ngIf="searchForm" >

    <div class="grid-item">
      <search-debounce-input
              [itemNameControl] = "'itemName'"
              [searchForm]      = "searchForm"
              (outPutMethod)    = "refreshSearchPhrase($event)">
        <div fieldDescription>
            <mat-icon>search</mat-icon>
            Search
        </div>
      </search-debounce-input>
    </div>

    <div class="grid-item">
      <button mat-button
              class="assign-button"
              (click)="listAll()">
        <mat-icon>list</mat-icon>
        List All
      </button>
    </div>

    <div class="grid-item">
      <button mat-button
              class="assign-button"
              (click)="refreshGrid()">
        <mat-icon>refresh</mat-icon>
        Refresh
      </button>
    </div>

    <div  class="header-items">
      <button mat-button
              (click)="addItem()">
        <mat-icon>add_box</mat-icon>Add</button>
    </div>

    <div  class="header-items">
      <button mat-button
              (click)="resetOrderButtons()">
        <mat-icon>reset</mat-icon>Reset Order Buttons</button>
    </div>

</div>

<div>
  <ag-grid-angular
      #agGrid
      [style]              ="gridDimensions"
      id                   ="myGrid"
      [class]              ="agtheme"
      [columnDefs]         ="columnDefs"
      [defaultColDef]      ="defaultColDef"
      [gridOptions]        ="gridOptions"
      [rowSelection]       ="rowSelection"
      [frameworkComponents]="frameworkComponents"
      (selectionChanged)   ="onSelectionChanged($event)"
      (gridReady)          ="onGridReady($event)">
  </ag-grid-angular>
</div>
