<div *ngIf="action$ | async as item; else opening"></div>
<!-- <div *ngIf="(product$ | async) as product"></div>
<div *ngIf="(copy$ | async) as copy"></div>
<div *ngIf="(urlPath$ | async) as urlPath"></div> -->
<h1>Brands List </h1>
<mat-label>Assign each column a value, these relate to your price classes.</mat-label>

<button mat-button (click)="nav()"><mat-icon>open_in_new</mat-icon>Price Class</button>

<ng-template #opening>
  <!-- <div *ngIf="openingProduct">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div> -->
</ng-template>
<mat-divider></mat-divider>

<div [class]="gridlist">
  <div>

    <div *ngIf="value" class="loader">
      <mat-progress-bar mode="determinate" [value]="value"></mat-progress-bar>
    </div>
    
    <!-- [class]              ="agtheme" -->
    <ag-grid-angular
          #agGrid
          [style]              ="gridDimensions"
          id                   ="myGrid"
          [class]              ="'ag-theme-alpine'"
          [columnDefs]         ="columnDefs"
          [defaultColDef]      ="defaultColDef"
          [gridOptions]        ="gridOptions"
          [rowSelection]       ="rowSelection"
          [frameworkComponents]="frameworkComponents"
          (selectionChanged)   ="onSelectionChanged($event)"
          (cellValueChanged)   ='cellValueChanged($event)'
          (cellClicked)        ='onCellClicked($event)'
          (gridReady)          ="onGridReady($event)">
    </ag-grid-angular>

  </div>

  <div *ngIf="!hideAdd" >
    <brand-class-filter   
      [parent]="'brand'"
      [pagingForm]="pagingForm"
      class="grid-list-item" >
    </brand-class-filter>
  </div>
</div>

<div style="flex-grow:0">
  <span id="selectedRows"> </span>
</div>