<div *ngIf="(action$ | async) as item; else opening"></div>
<div *ngIf="(brandResale$ | async) as brand"></div>
<div *ngIf="(urlPath$  | async) as item"></div>
<h1>Brands List </h1>
<mat-label>Assign each column a value, these relate to your price classes.</mat-label>

<div class="flex-grid-row">
  <div style="margin:5px">
    <button mat-button (click)="nav()"><mat-icon>open_in_new</mat-icon>Price Class</button>
  </div>
  <div style="margin:5px" *ngIf="brand_Resale">
    <button mat-button (click)="updateBrand()"><mat-icon>update</mat-icon>Update Brand Prices</button>

  </div>
  <div></div>
</div>


<ng-template #opening>

</ng-template>
<mat-divider></mat-divider>

<div [class]="gridlist">
  <div>

    <div *ngIf="value" class="loader">
      <mat-progress-bar mode="determinate" [value]="value"></mat-progress-bar>
    </div>

    <!-- [class]              ="agtheme" -->
    <ag-grid-angular
          #agGrid
          [style]              ="gridDimensions"
          id                   ="myGrid"
          [class]              ="'ag-theme-alpine'"
          [columnDefs]         ="columnDefs"
          [defaultColDef]      ="defaultColDef"
          [gridOptions]        ="gridOptions"
          [rowSelection]       ="rowSelection"
          [frameworkComponents]="frameworkComponents"
          (selectionChanged)   ="onSelectionChanged($event)"
          (cellValueChanged)   ='cellValueChanged($event)'
          (cellClicked)        ='onCellClicked($event)'
          (gridReady)          ="onGridReady($event)">
    </ag-grid-angular>

  </div>

 <div>
    <brand-class-filter
      [parent]="'brand'"
      [pagingForm]="pagingForm"
      class="grid-list-item" >
      Search
    </brand-class-filter>

    <brand-class-editor
      [brand]="brand_Resale"
      (outPutRefresh)="refresh($event)">
      Item Info
    </brand-class-editor>
  </div>
</div>

<div style="flex-grow:0">
  <span id="selectedRows"> </span>
</div>
