<mat-card>
  <mat-card-subtitle *ngIf="instructions && editField">
    {{instructions}} - {{editField}}
  </mat-card-subtitle>
  <mat-card-content *ngIf="posOrderItem">

    <div [formGroup]="inputForm"
         id="inputForm">

      <div *ngIf="editField == 'modifierNote'">
        <mat-form-field appearance="outline"  >
          <mat-label>Item Notes</mat-label>
          <textarea matInput
                rows="10"
                cols="45"
                formControlName="modifierNote"
          ></textarea>
        </mat-form-field>
      </div>

      <div *ngIf="editField == 'quantity'">
        <app-key-pad
                [inputForm]           = "inputForm"
                [inputTypeValue]      = "'text'"
                [showInput]           = "true"
                (outPutReturnEnter)   = "saveChange($event)">
                Enter Quantity
        </app-key-pad>
      </div>

    </div>
  </mat-card-content>
  <mat-card-actions >
    <button *ngIf="editField != 'quantity'" mat-button color='primary' (click)="save()"><mat-icon>save</mat-icon>Save</button>
    <button mat-raised-button
            color="primary"
            (click)="onCancel()"><mat-icon>exit</mat-icon>Cancel</button>
  </mat-card-actions>
</mat-card>
