<!-- <div class="features-grid">
</div> -->

<div class="features-grid">
  <div>
    <app-uitransactions></app-uitransactions>
  </div>
</div>

<!--
  moved to app config.
 <div>
  <app-edit-settings
    [settingName]="'ageGateEnabled'"
    [settingFieldName]="'boolean'"
    [fieldType]="'boolean'"
  >
    <div header >Enable App Gate. :</div>
    <div body >If you want to prompt the user to confirm they are over a certain age when entering your site.</div>
    <div fielddescription >On Off.</div>
  </app-edit-settings>
</div> -->
