<!-- <div class="features-grid">
</div> -->

<div class="features-grid">
  <div>
    <uihome-page-settings>Home Page Settings</uihome-page-settings>
  </div>
  <div>
    <app-uitransactions>Transaction View Settings</app-uitransactions>
  </div>

  <div><app-scale-settings></app-scale-settings></div>
</div>

<!--
  moved to app config.
 <div>
  <app-edit-settings
    [settingName]="'ageGateEnabled'"
    [settingFieldName]="'boolean'"
    [fieldType]="'boolean'"
  >
    <div header >Enable App Gate. :</div>
    <div body >If you want to prompt the user to confirm they are over a certain age when entering your site.</div>
    <div fielddescription >On Off.</div>
  </app-edit-settings>
</div> -->
