<mat-card *ngIf="employee && inputForm; else loading">
  <mat-card-subtitle>
    Enter METRC Info for:
    {{employee.firstName}} {{employee.lastName}}
  </mat-card-subtitle>
  <mat-card-content>
    <div [formGroup]="inputForm" class="formdimensions">
      <app-value-fields
                        [inputForm]="inputForm"
                        [fieldName]="'metrcKey'">
        Metrc Key
      </app-value-fields>
      <app-value-fields
            [passwordMask]="true"
            [inputForm]="inputForm"
            [fieldName]="'metrcPass'">
        Password
      </app-value-fields>
    </div>
  </mat-card-content>

  <mat-action-row>
    <div *ngIf="inputForm.valid">
      <button mat-raised-button (click)="saveEmployee()"><mat-icon>save</mat-icon>Save</button>
    </div>
    <div >
      <button mat-raised-button (click)="cancel(false)"><mat-icon>close</mat-icon>Cancel</button>
    </div>

  </mat-action-row>
</mat-card>

<ng-template #loading>
  ...loading
  <mat-divider></mat-divider>
  <button mat-raised-button (click)="cancel(true)"><mat-icon>close</mat-icon>Cancel</button>
</ng-template>
