<mat-card>
  <button mat-button
          color="primary"
          (click)="import()">
          <mat-icon>download</mat-icon>Import
  </button>
  <div *ngIf="importing">
    <mat-spinner [diameter]="50">
    </mat-spinner>
    ...importing
  </div>

  <button mat-button
      color="primary"
      (click)="searchItems()">
      <mat-icon>refresh</mat-icon>Refresh
  </button>

  <div class="grid-item" *ngIf="searchForm && sites" >
    <app-mat-select
        (outputItem)= "getAssignedSiteSelection($event)"
        [list]      = "sites"
        [fieldName] = "'selectedSiteID'"
        [inputForm] = "searchForm"
        >
        Select Site
    </app-mat-select>
  </div>

</mat-card>

<mat-card *ngIf="mETRCFacilities">

  <ag-grid-angular
    #agGrid
    style                ="width: 100%; height: 75vh;"
    id                   ="mySearchGrid"
    class                ="ag-theme-material"
    [columnDefs]         ="columnDefs"
    [defaultColDef]      ="defaultColDef"
    [rowData]            ="mETRCFacilities"
    [frameworkComponents]="frameworkComponents"
    (gridReady)          ="onGridReady($event)">
  </ag-grid-angular>

</mat-card>


