 <mat-card>
   <mat-card-title>
      <button class="payment-buttons" mat-button (click)="newOrder()">
        <mat-icon>receipt</mat-icon><span>New Default Order</span>
    </button>

   </mat-card-title>

   <mat-card-subtitle>

    <div *ngIf="orderMethodsService.toggleChangeOrderType">
      <mat-label>Update all Items</mat-label>
      <mat-button-toggle-group
            [ngModel]="updateItems">
          <mat-button-toggle [value]="true">
            Yes
          </mat-button-toggle>
          <mat-button-toggle [value]="false">
            No
          </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div *ngIf="(process$ | async) as item; else loading">{{message}}</div>

    <ng-template #loading>
        <div *ngIf="process$">
          <mat-spinner [diameter]="50"></mat-spinner>
          ...processing
        </div>
    </ng-template>

   </mat-card-subtitle>
   <mat-card-content>
     <!-- [toggleWidth]="'width: 250px'" -->
    <app-mat-toggle-selector
        class="toggle-selector"
        [buttonDimensions]="'button-dimensions'"
        [list$]="serviceTypes$"
        [hideAllOption]="'true'"
        (outPutID)="orderByType($event)">

        <div *ngIf="orderMethodsService.toggleChangeOrderType">
          Change Order Type
        </div>
        <div *ngIf="!orderMethodsService.toggleChangeOrderType">
           Start new Order
        </div>

    </app-mat-toggle-selector>
   </mat-card-content>
   <mat-card-actions>
    <button *ngIf="showCancel"
            mat-button
            (click)="onCancel()">
      <mat-icon>close</mat-icon><span>Dismiss</span>
     </button>
  </mat-card-actions>
 </mat-card>
