 <div *ngIf="(order$ | async) as order"></div>

 <mat-card style="width:65vw;min-width:400px">
   <mat-card-title>
      <button class="payment-buttons" mat-button (click)="newOrder()">
        <mat-icon>receipt</mat-icon><span>New Default Order</span>
    </button>

   </mat-card-title>

   <mat-card-subtitle>

    <div *ngIf="orderMethodsService.toggleChangeOrderType">
      <mat-label>Update all Items</mat-label>

      <mat-button-toggle-group
            [(ngModel)]="updateItems">
          <mat-button-toggle [value]="true">
            Yes
          </mat-button-toggle>
          <mat-button-toggle [value]="false">
            No
          </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div *ngIf="(process$ | async) as item; else loading">{{message}}</div>

    <ng-template #loading>
        <div *ngIf="process$">
          <mat-spinner [diameter]="50"></mat-spinner>
          ...processing
        </div>
    </ng-template>

   </mat-card-subtitle>
   <mat-card-content>


    <div class="grid-serviceTypeItems">
      <div>
        <app-mat-toggle-selector
            class="toggle-selector"
            [buttonDimensions]="'button-dimensions'"
            [list$]="serviceTypes$"
            [hideAllOption]="'true'"
            (outPutID)="orderByType($event)">

            <div *ngIf="orderMethodsService.toggleChangeOrderType">
               Select Type
            </div>
            <div *ngIf="!orderMethodsService.toggleChangeOrderType">
               Start new Order
            </div>

        </app-mat-toggle-selector>
      </div>

      <div *ngIf="orderMethodsService.assignPOSItems as items">
        <div *ngIf="items.length>0">
          <h4>Selected Items</h4>
          <div *ngFor="let item of items; let i = index">
            <button  style="margin-left: 5px;max-width:200px"  
                     mat-icon-button 
                     (click)="removeSelectedItem(i)">
              {{item?.productName}} <mat-icon color="warn">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

  </mat-card-content>
   <mat-card-actions>
    <button *ngIf="showCancel"
            mat-button
            (click)="onCancel()">
      <mat-icon>close</mat-icon><span>Dismiss</span>
     </button>
  </mat-card-actions>
 </mat-card>


<div *ngIf="(action$ | async) as action"></div>
