<div *ngIf="(action$  | async) as action"></div>
<div *ngIf="pb_Main$ | async"></div>

<mat-card>
  <mat-card-title>
    <div class="ps-flex-group-start">
      <div>
        <mat-icon>edit</mat-icon> {{pb_Main?.name}}
        <h4><mat-label>Last Edited: {{pb_Main?.dateUpdated | date: 'short'}}</mat-label></h4>
        <mat-divider> </mat-divider>
      </div>
      <div class="ps-flex-group-start">

        <app-edit-buttons-standard
          [enableCopy]            ="true"
          (outputeupdateItem)     ="updateSave($event)"
          (outputupdateItemExit)  ="updateItemExit($event)"
          (outputupdatedeleteItem)="deleteItem($event)"
          (outputupdateonCancel)  ="onCancel($event)"
          (outputCopy)            ="copyItem($event)"
          (outPutRefresh)         ="refreshForm($event)"
          [refresh]="true"
        ></app-edit-buttons-standard>
      </div>
    </div>
  </mat-card-title>

  <mat-card-content>
    <div *ngIf="loopDetected">
      <mat-icon color="warn">warning</mat-icon><mat-label color="warn">Infinite reference loop detected!</mat-label>
    </div>
    <div class="ps-flex-group-column">
      <app-value-fields
          style="width:250px"
          [inputForm]="inputForm"
          [fieldName]="'name'">
        Name
      </app-value-fields>
    </div>
    <part-builder-component-edit
        (saveUpdate)="saveUpdate($event)"
        (outPutRefresh)="refreshForm($event)">
    </part-builder-component-edit>
  </mat-card-content>
</mat-card>

<mat-card>
  <part-builder-tree [pb_Main]="pb_Main"></part-builder-tree>
</mat-card>
