<div >
  <div *ngIf="inputForm">
    <div [formGroup]="inputForm">
      <mat-card>
        <mat-card-title>
          Edit {{item.name}} <br>
          Menu Group
        </mat-card-title>
        <mat-card-subtitle>
          <button mat-button (click)="save()">
            <mat-icon>save</mat-icon>
          </button>
        </mat-card-subtitle>

        <mat-card-content>
            <div class="grid-container">

              <div class="fields">
                <mat-form-field appearance="outline">
                  <mat-label >Name</mat-label>
                  <input matInput
                        type="text"
                        formControlName="name"
                        class="form-control" >
                </mat-form-field>
              </div>

              <div class="fields">
                <mat-form-field appearance="outline">
                  <mat-label >Icon</mat-label>
                  <input matInput
                        type="text"
                        formControlName="icon"
                        class="form-control" >
                </mat-form-field>
              </div>

              <div class="fields">
                <mat-form-field appearance="outline">
                  <mat-label >Router Link</mat-label>
                  <input matInput
                        type="text"
                        formControlName="routerLink"
                        class="form-control" >
                </mat-form-field>
              </div>

              <div class="fields">
                <mat-form-field appearance="outline">
                  <mat-label >Router Link Active</mat-label>
                  <input matInput
                        type="text"
                        formControlName="routerLinkActive"
                        class="form-control" >
                </mat-form-field>
              </div>

              <div class="fields">
                <mat-form-field appearance="outline">
                  <mat-label >Access</mat-label>
                  <input matInput
                        type="text"
                        formControlName="userType"
                        class="form-control" >
                </mat-form-field>
              </div>

              <div  class="fields">

                <mat-label >Minimized</mat-label>
                <mat-slide-toggle
                        class           ="price-values"
                        formGroupName   ="minimized"
                        formControlName ="minimized"
                        [(ngModel)]     ="minimized"
                        >
                </mat-slide-toggle>
              </div>

              <div  class="fields">
                method:               {{item.method}}
              </div>
            </div>

        </mat-card-content>

        <!-- <mat-card-actions>

        </mat-card-actions> -->


     </mat-card>

    </div>
  </div>
</div>
