
<div  class="side-panel-buttons-container"
      [style.width]="deviceWidthPercentage"
      *ngIf="order && !mainPanel && !smallDevice  " >
    <div *ngIf="!phoneDevice">
      <button
              [disabled]="disableViewCart"
              mat-raised-button
              color="accent"
              class="button"
              (click)="toggleOpenOrderBar()">
        <div *ngIf="order && (order.balanceRemaining == 0 || order.history)">
          <mat-icon color="primary">edit</mat-icon>
          View Cart
        </div>
        <div *ngIf="order && ( order.balanceRemaining != 0 && !order.history)">
          <mat-icon color="primary">edit</mat-icon>
          Edit Cart
        </div>
      </button>
    </div>
    <div>

      <button  mat-raised-button
              [disabled]="disableCheckOut"
              color="accent"
              class="button"
              (click)="makePayment()">
          <div *ngIf="order && (order.balanceRemaining == 0 || order.history)">
            <mat-icon color="primary">credit_card</mat-icon>
            View Payment
          </div>
          <div *ngIf="order && ( order.balanceRemaining != 0 && !order.history)">
            <mat-icon color="primary">credit_card</mat-icon>
            Check Out
          </div>
      </button>
    </div>
  </div>
