

.side-panel-buttons-container  {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5px;
  // grid-template-columns: repeat( auto-fit, minmax(65px, 1fr) );
 //  margin-bottom : 1px;
 //  margin-top    : 1px;
 //  margin-left   : 2px;
 //  height: 75px;
  overflow: hidden;
}

.button {
  width: 95%;
  margin: 5px;
}

button {
  // margin: 5px ;
  height: 55px;
}
