
<div *ngIf="(action$ | async) as action"></div>

<div class="parent-container">
  <div>
    <span >
      <button *ngIf="smallDevice"  mat-button (click)="filterBottomSheet()">
        <mat-icon>search</mat-icon>
      </button>

      <span>
        <span *ngIf="!smallDevice || (!smallDevice && hidePanel)">
          <button mat-button (click)="displayPanel($event)">
            <mat-icon>search</mat-icon>Search
          </button>
        </span>
      </span>

      <button mat-button (click)="newOrder()" *ngIf="isAuthorized || isStaff">
        <mat-icon>receipt</mat-icon><span>New Order</span>
      </button>
      <button mat-button (click)="newOrderOptions()" *ngIf="isAuthorized || isStaff">
        <mat-icon>add</mat-icon><span>Other New</span>
      </button>
    </span>

    <button *ngIf="!smallDevice" mat-button (click)="changeView()">
      <mat-icon>
        <span *ngIf="viewType == 1">view_list</span>
        <span *ngIf="viewType == 0">view_module</span>
        <span *ngIf="viewType == 3">view_module</span>
      </mat-icon>
      <span *ngIf="viewType == 1"> List View</span>
      <span *ngIf="viewType == 0"> Grid View</span>
      <span *ngIf="viewType == 3"> Grid View</span>
    </button>

    <span *ngIf="!smallDevice && !isUser">
      <button mat-button (click)="setViewType(3)">
        <mat-icon>countertops</mat-icon> View Prep
      </button>
    </span>

    <span *ngIf="!smallDevice && !isUser">
      <button mat-button (click)="toggleMergeOrders()">
        <div *ngIf="mergeOrders">
          Disable Merge
        </div>
        <div *ngIf="!mergeOrders">
          <mat-icon>join_right</mat-icon>Merge Orders
        </div>
      </button>
    </span>

  </div>

  <div [class]="gridcontainer">
    <div>
      <ng-container [ngTemplateOutlet]="orderSelectedList"></ng-container>
      <ng-container [ngTemplateOutlet]="orderView || orderCard"></ng-container>
    </div>

    <div *ngIf="!smallDevice && !hidePanel"
         class="filter-container">
      <app-order-filter-panel
          (outPutHidePanel)="hideFilterPanel($event)">
      </app-order-filter-panel>
    </div>

  </div>

</div>

<ng-template #orderPrep>
  <span *ngIf="viewType == 3 && (printerLocations$ | async) as printLocations">
      <span class="toggle-sections">
          <mat-icon>location_on</mat-icon>
          <mat-button-toggle-group
                name        ="toggleOpenClosedAll"
                class       ="toggle-view"
                [(ngModel)] ="printLocation"
                (click)     ="updatePrinterLocation()" >
            <mat-button-toggle   color="warn" value="0" >
                  All
            </mat-button-toggle>
          </mat-button-toggle-group>
          <mat-button-toggle-group
                *ngFor      ="let item of printLocations; let i = index"
                name        ="toggleOpenClosedAll"
                class       ="toggle-view"
                [(ngModel)] ="printLocation"
                (click)     ="updatePrinterLocation()" >

            <mat-button-toggle
                color="warn" [value]="item.id" >
              <span *ngIf="item && item.name && item.name.toLowerCase()  == 'bar'"><mat-icon>blender</mat-icon></span>
              <span *ngIf="item && item.name && item.name.toLowerCase()  == 'kitchen'"><mat-icon>soup_kitchen</mat-icon></span>
              <span *ngIf="item && item.name && item.name.toLowerCase()  == 'barista'"><mat-icon>local_cafe</mat-icon></span>
              {{item.name}}
            </mat-button-toggle>

          </mat-button-toggle-group>
      </span>

      <span class="toggle-sections">
          <mat-icon>filter_alt</mat-icon>
          <mat-button-toggle-group
                  class="toggle-button"
                  mat-button
                  [(ngModel)] ="prepStatus"
                  (click)="togglePrepStatus()">
              <mat-button-toggle   color="primary" value="0" >
                <mat-icon>pending</mat-icon>Pending
              </mat-button-toggle>
              <mat-button-toggle  color="primary" value="1" >
                <mat-icon>hourglass_top</mat-icon>Prepping
              </mat-button-toggle>
              <mat-button-toggle  color="primary" value="2" >
                <mat-icon>done</mat-icon>Ready
              </mat-button-toggle>
          </mat-button-toggle-group>
      </span>
    </span>

    <app-order-cards
      [site]= 'site'
      [cardStyle]="'prep'">
    </app-order-cards>

</ng-template>

<ng-template #ordersSelectedView>
  <div>
    <div class="flex-row" >
      <div><button
        *ngIf="posOrdersSelectedList && posOrdersSelectedList.length>0"
        mat-raised-button
        (click)="mergeOrdersComplete()"
        aria-label="merge"><mat-icon>join_full</mat-icon>Merge</button>
      </div>
      <div><button mat-raised-button (click)="cancelMerge()" aria-label="trash">Cancel</button></div>
      <div *ngFor="let order of posOrdersSelectedList; let i = index">
        <div><button mat-raised-button (click)="removeFromList(i)" aria-label="trash">
               {{order.id}}<mat-icon>delete</mat-icon>
              </button></div>
      </div>
   </div>
  </div>
</ng-template>

<ng-template #orderCard>
  <app-order-cards
    [cardStyle]="'block'"
    (orderOutPut)="addOrderToSelectedList($event)"
    ></app-order-cards>
</ng-template>

<ng-template #orderList>
  <app-orders-list
    [height]="listHeight">
  </app-orders-list>
</ng-template>

<ng-template #orderPanel>
  <app-order-cards
    [cardStyle]="'panel'">
    <h2>
      Your order history
    </h2>
  </app-order-cards>
</ng-template>
