<div *ngIf="(action$ | async) as action"></div>
<div *ngIf="(viewType$ | async) as viewPrep"></div>

<div class="parent-container">

  <ng-container [ngTemplateOutlet]="filterViewFull"></ng-container>


  <ng-container [ngTemplateOutlet]="summaryEnabled"></ng-container>

  <div [class]="gridcontainer">

    <ng-container [ngTemplateOutlet]="filterViewPhone"></ng-container>

    <div>
      <div *ngIf="scheduleDateStart && scheduleDateEnd">
        <ng-container [ngTemplateOutlet]="scheduledItems"></ng-container>
      </div>
      <ng-container [ngTemplateOutlet]="orderSelectedList"></ng-container>
      <ng-container [ngTemplateOutlet]="orderView || orderCard"></ng-container>
    </div>

    <div *ngIf="!smallDevice && !hidePanel"
         class="filter-container" filterDiv>
      <app-order-filter-panel
          (outPutHidePanel)="hideFilterPanel($event)">
      </app-order-filter-panel>
    </div>
  </div>
</div>

<ng-template #sortSelectors>
  <app-sort-selectors
    (outPutSort)="setSortData($event)"
    [searchType]="'order'"
    [sortByEmployee]="true"
    [sortByService]="true"
    [sortByAmount]="true">
  </app-sort-selectors>
</ng-template>

<ng-template #summaryView>
  <div *ngIf="(summary$ | async) as items" style="margin-left:10px;font-weight:500;">
    # {{items?.paging?.recordCount}} | Total: {{items?.summary?.total | currency}}
  </div>
</ng-template>

<ng-template #transferOrderView>
  <button #coachingTransferOrder class="dark-theme-green " mat-button (click)="transferOrder()"
          *ngIf="auths &&  auths.allowTransferOrder">
        <mat-icon>move_up</mat-icon><span>Transfer</span>
  </button>
</ng-template>

<ng-template #houseAccountView>
  <button #coachingHouseAccount class="dark-theme-green " mat-button (click)="setHouseAccountsOn()"
          *ngIf="auths &&  auths.allowSuspendTransaction">
      <mat-icon>accounts</mat-icon><span>House Account</span>
  </button>
</ng-template>

<ng-template #freshOrders>
  <button class="button"
      mat-button
      *ngIf="filterIsSet"
      color="accent"
      (click)="refreshSearch()">
    <div *ngIf="!filterIsSet">
      <mat-icon  color="accent">refresh</mat-icon>
      <span>Refresh</span>
    </div>
    <div *ngIf="filterIsSet" >
      <mat-icon style="top:5px;" color="warn">filter_alt</mat-icon>
      <mat-label  color="warn">Filter On</mat-label>
    </div>
  </button>
</ng-template>

<ng-template #allOrders>
    <button class="button"
            mat-button
            color="accent"
            (click)="showAllOpenOrders()">
      <mat-icon>refresh</mat-icon>
      <span>All Open</span>
    </button>
</ng-template>

<ng-template #houseAccountsList>
  <house-accounts-list
    (selectClient)="selectHouseAccountClient($event)"
  ></house-accounts-list>
</ng-template>


<ng-template #orderPrep>
  <span *ngIf="viewType == 3 && (printerLocations$ | async) as printLocations">
      <span class="toggle-sections">
          <mat-icon>location_on</mat-icon>
          <mat-button-toggle-group
                name        ="toggleOpenClosedAll"
                class       ="toggle-view"
                [(ngModel)] ="printLocation"
                (click)     ="updatePrinterLocation()" >
            <mat-button-toggle   color="warn" value="0" >
                  All
            </mat-button-toggle>
          </mat-button-toggle-group>
          <mat-button-toggle-group
                *ngFor      ="let item of printLocations; let i = index"
                name        ="toggleOpenClosedAll"
                class       ="toggle-view"
                [(ngModel)] ="printLocation"
                (click)     ="updatePrinterLocation()" >

            <mat-button-toggle
                color="warn" [value]="item.id" >
              <span *ngIf="item && item.name && item.name.toLowerCase()  == 'bar'"><mat-icon>blender</mat-icon></span>
              <span *ngIf="item && item.name && item.name.toLowerCase()  == 'kitchen'"><mat-icon>soup_kitchen</mat-icon></span>
              <span *ngIf="item && item.name && item.name.toLowerCase()  == 'barista'"><mat-icon>local_cafe</mat-icon></span>
              {{item.name}}
            </mat-button-toggle>
          </mat-button-toggle-group>

          <ng-content [ngTemplateOutlet]="orderPrepRefresh"></ng-content>

      </span>

      <span class="toggle-sections">
          <mat-icon>filter_alt</mat-icon>
          <mat-button-toggle-group
                  class="toggle-button"
                  mat-button
                  [(ngModel)] ="prepStatus"
                  (click)="togglePrepStatus()">
              <mat-button-toggle   color="primary" value="0" >
                <mat-icon>pending</mat-icon>Pending
              </mat-button-toggle>
              <mat-button-toggle  color="primary" value="1" >
                <mat-icon>hourglass_top</mat-icon>Prepping
              </mat-button-toggle>
              <mat-button-toggle  color="primary" value="2" >
                <mat-icon>done</mat-icon>Ready
              </mat-button-toggle>
          </mat-button-toggle-group>
      </span>

      <span>
        <button mat-raised-button color='accent' (click)="refreshPrep()"><mat-icon>refresh</mat-icon>Refresh</button>
      </span>
      <ng-container [ngTemplateOutlet]="styleView"></ng-container>

    </span>

    <app-order-cards
      [prepOnExit]="uiTransactions?.prepOrderOnExit"
      [site]= 'site'
      [cardStyle]="'prep'">
    </app-order-cards>

</ng-template>

<ng-template #ordersSelectedView>
  <div>
    <div class="flex-row" >
      <div>
        <button
                *ngIf="posOrdersSelectedList && posOrdersSelectedList.length>0"
                mat-raised-button
                (click)="mergeOrdersComplete()"
          aria-label="merge">
          <mat-icon>join_full</mat-icon>
            Merge
        </button>
      </div>
      <div><button mat-raised-button (click)="cancelMerge()" aria-label="trash">Cancel</button></div>
      <div *ngFor="let order of posOrdersSelectedList; let i = index">
        <div>
          <button mat-raised-button
                  (click)="removeFromList(i)"
                  aria-label="trash">
               {{order.id}}<mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
   </div>
  </div>
</ng-template>

<ng-template #orderCard>

  <app-order-cards
      [cardStyle]="'block'"
      (orderOutPut)="addOrderToSelectedList($event)" >
  </app-order-cards>
</ng-template>

<ng-template #orderList>
  <div class="grid-view-container">
    <div>
      <ng-container [ngTemplateOutlet]="viewHouseAccountList"></ng-container>
    </div>
    <div>
      <app-orders-list
        [height]="'80vh'">
      </app-orders-list>
    </div>
  </div>
</ng-template>

<ng-template #orderPanel>
  <app-order-cards  [cardStyle]="'panel'">
    <h2>   Order history  </h2>
  </app-order-cards>
</ng-template>

<ng-template #orderItemPanel>
  <div *ngIf="(orderItemHistory$ | async) as orderItems">
    <mat-divider></mat-divider>
    <h2>Recently Purchased Items</h2>
    <mat-label>For more items, press search to review your order history.</mat-label>
     <mat-divider style="margin:10px;"></mat-divider>
    <pos-order-items
      [purchaseOrderEnabled]="false"
      [mainPanel]           ="true"
      [enableExitLabel]     ="false"
      [userAuths]           ='auths'
      [disableActions]      = "true"
      [displayHistoryInfo]  = "true"
      [enableItemReOrder]      ="uiTransactions && uiTransactions.enableItemReOrder"
      [posOrderItems]       ="orderItems">
    </pos-order-items>
  </div>
</ng-template>

<ng-template #scheduledItems>
  <div>
    <item-sales-card
          [site]="site"
          [viewType]="'activeReportView'"
          [scheduleDateStart]="scheduleDateStart"
          [scheduleDateEnd]  ="scheduleDateEnd"
          [removeGiftCard]="true"
          [groupBy]="'items'">
        <mat-icon>menu</mat-icon> Scheduled Items
        <mat-divider></mat-divider>
    </item-sales-card>
  </div>
</ng-template>

<ng-template #filterMyOrdersView>

  <span *ngIf="!smallDevice && !isUser && userAuthorization.user
               && userAuthorization.user.userPreferences &&
               (uiTransactions && uiTransactions.toggleUserOrAllOrders)"  >
    <button mat-button (click)="toggleShowAllOrders()">
      <div *ngIf="userAuthorization.user.userPreferences.showAllOrders">
        <mat-icon>filter_alt_off</mat-icon>Show My Orders
      </div>
      <div *ngIf="!userAuthorization.user.userPreferences.showAllOrders">
        <mat-icon>filter_alt</mat-icon>Show All Orders
      </div>
    </button>
  </span>
</ng-template>

<ng-template #mergeView>
  <span *ngIf="!smallDevice && !isUser">
    <button  class="dark-theme-green"
             mat-button
             (click)="toggleMergeOrders()">
      <div *ngIf="mergeOrders">
        Disable Merge
      </div>
      <div *ngIf="!mergeOrders">
        <mat-icon>join_right</mat-icon>Merge Orders
      </div>
    </button>
  </span>
</ng-template>

<ng-template #styleView>
  <button color="accent" *ngIf="!smallDevice" mat-button (click)="changeView()">
    <mat-icon>
      <span *ngIf="viewType == 1">view_list</span>
      <span *ngIf="viewType == 0">view_module</span>
      <span *ngIf="viewType == 3">view_module</span>
    </mat-icon>
    <span *ngIf="viewType == 1"> List View</span>
    <span *ngIf="viewType == 0"> Grid View</span>
    <span *ngIf="viewType == 3"> Grid View</span>
  </button>
</ng-template>

<ng-template #prepView>
  <span *ngIf="!smallDevice && !isUser && (!isApp ||
                                           (isApp &&
                                            (terminalSettings && terminalSettings.enablePrepView)
                                           )
                                          )
                                             ">

    <button  class="dark-theme-green " mat-button (click)="setViewType(3)">
      <mat-icon>countertops</mat-icon> View Prep
    </button>
  </span>
</ng-template>

<ng-template #helpButton>
  <span *ngIf="user?.userPreferences?.enableCoachMarks">
    <coach-marks-button
            (initPopOver)="initPopover()"
            [enabled]="true"></coach-marks-button>
  </span>
</ng-template>


<ng-template #filterView>
  <div  *ngIf="!viewPrep" >
    <span>
      <span>
        <button  *ngIf="smallDevice" color="accent" mat-button (click)="filterBottomSheet()">
          <mat-icon>search</mat-icon>
        </button>

        <span>
          <span #coachingSearch *ngIf="!smallDevice || (!smallDevice && hidePanel)">
            <button mat-button color="accent" (click)="searchBtn($event)">
              <mat-icon>search</mat-icon>Search
            </button>
          </span>
        </span>

        <ng-container [ngTemplateOutlet]="freshOrders"></ng-container>
        <ng-container [ngTemplateOutlet]="allOrders"></ng-container>
      </span>

      <span>

        <button mat-button  (click)="newOrder()" *ngIf="isAuthorized || isStaff">
          <mat-icon>receipt</mat-icon><span>New Order</span>
        </button>

        <button mat-button color="accent" (click)="getOrderItemHistory()"  *ngIf="isUser">
          <mat-icon>receipt</mat-icon><span>Past Items</span>
        </button>

        <button #coachingOtherNew
                mat-button (click)="newOrderOptions()"
                *ngIf="isAuthorized || isStaff">
          <mat-icon>add</mat-icon><span>Other New</span>
        </button>

        <ng-container [ngTemplateOutlet]="houseAccount"></ng-container>

      </span>
    </span>

    <span #coachingListView>
      <ng-container [ngTemplateOutlet]="styleView"></ng-container>
    </span>

    <span #coachingPrep>
      <ng-container [ngTemplateOutlet]="prepView"></ng-container>
    </span>

    <span #coachingMergeView>
      <ng-container [ngTemplateOutlet]="mergeViewEnabled"></ng-container>
    </span>

    <ng-container [ngTemplateOutlet]="transferOrderView"></ng-container>
    <ng-container [ngTemplateOutlet]="filterMyOrdersView"></ng-container>
    <ng-container [ngTemplateOutlet]="helpButton"></ng-container>

    <ng-container [ngTemplateOutlet]="sortSelectorsView"></ng-container>
  </div>
</ng-template>
