
<div *ngIf="(serviceType$ | async) as serviceTYpe"></div>
<div *ngIf="(action$ | async) as action"></div>

<div class="container">
  <mat-card class="mat-card" [style]="serviceColor">
    <mat-card-content class="center">
      <div *ngIf="!smallDevice" class="grid-orderproperties">
        <div class='date-header' *ngIf="order.orderDate">
          {{order?.orderDate |  date: 'shortTime'}}  |  {{minutesOpen}} . <br>
          {{order?.orderDate |  date: 'shortDate'}}
        </div>

        <div [class]="tableFont" >
            {{order?.serviceType | truncateText : 15}}
            <span  *ngIf="order.tableName">{{order?.tableName}}</span>
        </div>

        <div class="employee-name">
          {{order?.employeeName | truncateText : 12 }}
        </div>

        <div *ngIf="order.completionDate">
          {{order?.completionDate |  date: 'shortDate'}}
        </div>

        <div *ngIf="!order.completionDate"
              class="time">
          {{order?.completionDate |  date: 'shortTime'}}
        </div>
      </div>

      <div class="center">
        <div class="flex-row">

          <div class="field-center">
            {{order?.id}}
            <div class="orderID grid-action">
              
              <div *ngIf="prepScreen && (prepStatus == 1)">
                <button
                        mat-raised-button color='primary'
                      (click)="setItemsAsPrepped()">
                      <mat-icon>done</mat-icon>
                </button>
              </div>
              
              <div *ngIf="prepScreen && (prepStatus == 2)">
                <button
                      mat-raised-button color='primary'
                      (click)="printOrder()">
                      <mat-icon>print</mat-icon>
                </button>
              </div>

              <div *ngIf="prepScreen">
                <button
                        mat-raised-button color='primary'
                        (click)="openOrder()">
                        <mat-icon>open_in_new</mat-icon>
                </button>
              </div>

            </div>
          </div>

          <div>
            <div class="field-center">
              <div class="order-name" >
                <div *ngIf="smallDevice">
                  {{ order?.customerName | truncateText : 15}}
                </div>
                <div *ngIf="!smallDevice">
                  {{ order?.customerName | truncateText : 12}}
                </div>
              </div>
            </div>
<!--   
            <div *ngIf="!prepScreen" class="items">Items</div>
            <div *ngIf="!prepScreen" class="itemcount">{{order?.itemCount}} </div> -->
  
            <div *ngIf="prepScreen" class="items">Items  </div>
            <div *ngIf="prepScreen" class="itemcount">{{itemCount}} </div>
          </div>

        </div>
      </div>
    </mat-card-content>

  </mat-card>

  <div class="order-items"
       *ngIf="orderItems">
        <pos-order-items
          [mainPanel]      ="false"
          [printLocation]  ="printLocation"
          [prepStatus]     ='prepStatus'
          [prepScreen]     ='true'
          [order]          ="order"
          [posOrderItems]  ="order.posOrderItems"  >
        </pos-order-items>
  </div>
</div>
