<div *ngIf="(layout$ | async) as layout">
  <div *ngIf="order" class="mat-card-white" >
      <div  *ngIf="receiptLayoutSetting &&
                  ((headerText &&  itemsText) || order)"
            class="border-section">
          <app-receipt-layout #printsection
                              [index]       ="index"
                              [headerText]  ="headerText"
                              [footerText]  ="footerText"
                              [itemText]    ="itemsText"
                              [printerWidth]="receiptLayoutSetting.option9"
                              [paymentsText]="paymentsText"
                              [paymentsWICEBTText]="paymentsCreditText"
                              [paymentsCreditText]="paymentsWICEBTText"
                              [subFooterText]  ="subFooterText"
                              [items]          ="order.posOrderItems"
                              [order]          ="order"
                              [payments]       ="order.posPayments"
                              [orderType]      ="orderTypes"
                              [testdata]       ="false"
                              [liveEdit]       ="false"
                              [templateInit]   ="true"
                              [styles]         ="receiptStyles"
                              (outPutPrintReady)="printHTML($event)"
                            >
          </app-receipt-layout>
      </div>
  </div>
</div>
<!---->
