
.button {
  height     : 50px;
  margin-left: 5px;
  min-width: 100px;
}

.border-section {
  width: 300px;
  border: 3px;
  border-radius: 3px;
  margin: 3px 3px 3px 3px;
  padding: 3px 3px 3px 3px;
}
