
  <mat-card class="centered-flex">
    <h4> Pick your location!</h4>
  </mat-card>

  <div class="centered-flex">
    <div  *ngFor="let site of sites$ | async">
      <!--  -->
      <app-site-card [site]="site" [bucketName]="bucketName" (click)="setSite(site?.id)" ></app-site-card>
    </div>
  </div>

  <div class="centered-flex"  >
      <button mat-raised-button
              color="primary"
              class="big-button"
              mat-dialog-close>
        <mat-icon>close</mat-icon>
        Close
      </button>
  </div>

  <ng-template #loading >
    <mat-spinner></mat-spinner>
  </ng-template>
