@import "/src/mixins.scss";

h3, .h3 {
  font-size: 1rem;
  margin-top: 1px;
  margin-bottom: -1px;
}

.button-list {
  overflow-y: auto;
  overflow-x: hidden;
}

.itemRow {
  margin-top: -5px;
}

.product-name {
  font-weight: 599;
  font-size: 1.2em;
}

.exit-label-button {
  max-width: 65px;
}


.index {
  font-weight: 350;
  font-size: 1.1em;
}

.quantity {
  margin-left: 10px ;
  font-size: 1.1em;
  background-blend-mode: lighten;
  padding: 5px 5px 5px 5px;
}

.product-name-alt {
  font-weight: 899;
  font-size: 1.2em;
  color: #f56400;
}

button {
  margin: 2px 2px 2px 2px;
  padding: 2px 2px 2px 2px
}

.mat-icon-label {
  margin: 1px;
  padding: 1px ;
  float: left;
}

.item-data {
  float: left;
}

.img-main {
  width: 300px;
}

.thc, .cbd {
  float: left;
  margin-right: 1em;
}

.progressSpinner {
  width: 50px;
}

.custom-card {
  padding       : 10px;
  margin        : 5px;
  min-height    : 50px;
  @include for-phone-only  {
    margin       : 5px;
    padding      : 5px;
  }
}

.custom-card-prep {
  padding      : 0px;
  padding-bottom: 10px;
  padding-top   : 10px;
  padding-left : 15px;
  margin       : 5px;
  width: 85%;
  height: auto;
  min-height: 50px;
}

.custom-card-modifier-prep {
  left         : 35px;
}

.custom-card-modifier {
  padding        : 0px;
  padding-bottom : 0px;
  padding-left   : 15px;
  margin         : 5px;
  left           : 35px;
  width: 85%;
  height: auto;
  min-height: 5px;
  @include for-phone-only  {
    margin       : 15px;
    padding      : 15px;
    padding-left : 15px;
    left         : 25px;
    width        : 95%;
  }
}

.custom-card-side {
  padding       : 10px;
  margin-left   : 4px;
  margin-top    : 4px;
  margin-bottom : 4px;
  margin-right  : 4px;
  min-height    : 50px;
}

.productname-modifier {
  color: cornflowerblue;
  background-blend-mode: difference;
  font-size: 1.2em;
}

.more-button {
  width: 75px;
  top: -15px;
  padding:0px;
  height: 50px;
}

.more-button-main {
  width: 75px;
  height: 50px;
  top: -15px;
  padding:0px;
}


.notes {
  font-weight: 600;
  color: cornflowerblue;
  background-blend-mode: difference;
}

.discount-description {
font-style: italic;
}

.panel {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #f00;
  min-height: 70px;

  $breakpoint: 600px;
  --multiplier: calc( #{$breakpoint} - 100%);

  .element{
    min-width: 33%;
    max-width: 100%;
    flex-grow: 1;
    flex-basis: calc( var(--multiplier) * 999 );
    background: orange;
  }

}

.panel-modifier {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #f00;

  $breakpoint: 600px;
  --multiplier: calc( #{$breakpoint} - 100%);
  .element{
    min-width: 33%;
    max-width: 100%;
    flex-grow: 1;
    flex-basis: calc( var(--multiplier) * 999 );
    background: orange;
  }
}

.item-details-grid {
  --gap: 20px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
}

.field-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10px ;
  row-gap: 10px;
}

.field-values {
  width: 100px;
}

.field-values-long {
  width: 200px;
}

.grid-items {
  display: grid;
  gap: 5px;
  grid-gap: 5px;
  grid-template-columns: 1fr auto;
  max-width: 99%;
}

.displayimage {
  width: 100%;
  max-width: 65px;
  margin-left: 4px;
  margin-right: 4px;
  object-fit: cover;
}

.image {
  border-radius: 10px;
  max-height: 65px;
  height    : 65px;
  object-fit: contain;
  // height: 200px;
}

.image-modifier {
  border-radius: 10px;
  max-height: 45px;
  height    : 45px;
  object-fit: contain;
  // height: 200px;
}

.grid-items-main-panel {
  display: grid;
  gap: 10px;
  grid-template-columns: .9fr 65px 65px auto;
}

.menu-buttons {
  position: relative;
  top: 10px;
  vertical-align: middle;
  margin: 5px;
}

.status-icon {
  right: 0px;
  top: 2px;
  position: absolute;
  margin-right: 10px;
}

.ready-icon {
  right: 0px;
  top: 35px;
  position: absolute;
  margin-right: 10px;
}

.grid-item-span {
  grid-column: span 2;
}

.grid-item-button {
  margin-right: 10px;
  vertical-align: middle;
}

.void-info {
  float: right;
}

.icon-text {
  display: flex;
  align-items: center;
}

.mat-icon {
  vertical-align: middle;
}

.grid-mat-icon {
  vertical-align: middle;
  margin-right: 10px;
}

.buttons-items {
  --gap: 5px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(125px, 1fr) );

  @include for-phone-only  {
    --gap: 5px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
  }
}

.buttons-container {
  --gap: 5px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(125px, 1fr) );

  @include for-phone-only  {
    --gap: 5px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
  }
}

img {
  width: 95px;
  align-content: center;
  border: rgba(78, 53, 53, 0.1);
  border-radius: 5px;
  border-style: solid;
  border-width: 3px;
  margin: 3px;
  padding: 3px;

  @media screen and (max-width: 600px) {
    visibility: hidden;
  }
  else {
    visibility: visible;
  }
}

.price {
  background-color: bisque;
  border: cadetblue;
  border-radius: 2px;
  border-style: solid;
  margin: 5px;
  padding: 5px 5px 5px 5px;
}


button {
  margin: 5px 5px;
  width: 110px;
}

.btn {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  height: 38px;
  line-height: 1.4;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}

.btn-primary {
  background-color: #f56400;
  border-color: rgba(0, 0, 0, 0.1);
  color: #fff;
}

.transaction-data {
  background-color: #f5f5f1;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
  padding: 3px 3px;
  display: table;
}

.item-data {
  background-color: #f5f5f1;
  border: 0px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
  margin-top: 3px;
  padding: 3px 5px;
  display: table;
}

.onlineShortDescription {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 5px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    height: calc(100vh - 10px);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto min-content;
    grid-gap: 10px;
    height: calc(100vh - 10px);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto min-content;
    grid-gap: 10px;
    height: calc(100vh - 10px);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto min-content;
    grid-gap: 10px;
    height: calc(100vh - 10px);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
  .grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto min-content;
    grid-gap: 10px;
    height: calc(100vh - 10px);
  }
}

#product-name {
  @media only screen and (min-width: 1400px) {
    width: 240px;
  }
  @media only screen and (min-width: 1200px) {
    width: 220px;
  }
  @media only screen and (min-width: 992px) {
    width: 220px;
  }
  @media only screen and (min-width: 768px) {
    width: 200px;
  }
}
#advertisement {
  @media only screen and (min-width: 1400px) {
    width: 240px;
  }
  @media only screen and (min-width: 1200px) {
    width: 220px;
  }
  @media only screen and (min-width: 992px) {
    width: 220px;
  }
  @media only screen and (min-width: 768px) {
    width: 200px;
  }
  @media only screen and (min-width: 600px) {
    width: 200px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .onlineShortDescription {
    visibility: false;
  }
}
