<div *ngIf="(action$ | async) as item"></div>
<div *ngIf="(printLabel$ | async) as item">

</div>

<!-- {{itemEdit}} -->
<!-- (mouseover)="initEdit()" (mouseout)="destroyEdit()" -->
<mat-card
          id="panel"
          (swipeleft)="swipeOutItem()"
          (click)="assignItem()"
          [class]="customcard"
          >
<mat-card-content >
  <!-- <div *ngIf="inputForm">{{inputForm.value | json}}</div> -->

    <div  [class]="gridItems">
      <div *ngIf="orderItem">
        <div>

          <span class="index" *ngIf="!isModifier  && !prepScreen">
            {{index+1}}:
          </span>

          <span [class]="productnameClass" >
            {{ orderItem?.productName }}
            <span *ngIf="orderItem.splitGroupID  && orderItem.splitGroupID != 0">
              ( {{ orderItem?.splitGroupID }} )
            </span>
          </span>

          <span class="product-name" *ngIf="orderItem?.itemType">
            ( {{orderItem?.itemType?.name}} )
          </span>

          <span *ngIf="quantity && !prepScreen">
            <div class="quantity"  *ngIf="subTotal >= 0">
              {{ quantity }} {{orderItem?.unitName}}  @  {{ unitPrice | currency }} = {{ subTotal | currency}}
            </div>
            <div class="quantity"   *ngIf="subTotal < 0"  style="color:crimson">
              {{ quantity }} {{orderItem?.unitName}}  @  {{ unitPrice | currency }} = {{ subTotal | currency}}
            </div>
          </span>

          <span *ngIf="purchaseOrderEnabled">
            Cost : {{ quantity }}  @  {{ wholeSale | currency }} = {{ wholeSale*quantity | currency}}
          </span>
          <span  *ngIf="( mainPanel || wideBar) && orderItem?.serialCode && !prepScreen && (orderItem?.serialCode != orderItem.id)">
            SN#/({{ orderItem?.serialCode }})
          </span>

          <span class="notes"
                        *ngIf="( mainPanel || wideBar )
                                && orderItem
                                && orderItem?.modifierNote">
            | {{ orderItem?.modifierNote.replace(orderItem?.serialCode, '') }} |
          </span>

          <span class="discount-description" *ngIf="orderItem?.itemCashDiscount>0">
            Cash Savings $ {{orderItem?.itemCashDiscount | currency}},
          </span>
         <span class="discount-description"  *ngIf="orderItem?.itemOrderCashDiscount>0">
            Cash Savings $ {{orderItem?.itemOrderCashDiscount | currency}},
          </span>
          <span class="discount-description"  *ngIf="orderItem?.itemPercentageDiscountValue>0">
            % Off Savings $ {{orderItem?.itemPercentageDiscountValue}},
          </span>
          <span class="discount-description"  *ngIf="orderItem?.itemOrderPercentageDiscount>0">
            % Off Savings $ {{orderItem?.itemOrderPercentageDiscount}},
          </span>

          <span class='status-icon' *ngIf="orderItem?.printed && prepScreen && !isModifier">
            <mat-icon color="warn" *ngIf="orderItem?.printed && !prepScreen" >print</mat-icon>
            <span  *ngIf="( mainPanel || wideBar) || bottomSheetOpen">{{orderItem.printed | date: 'shortTime'}} </span>
          </span>

          <span  class='ready-icon' *ngIf="orderItem?.itemPrepped && prepScreen && !isModifier">
            <mat-icon color="alert" & *ngIf="prepScreen" >done</mat-icon>
            <span  *ngIf="( mainPanel || wideBar) || bottomSheetOpen">{{orderItem?.itemPrepped | date: 'shortTime'}} </span>
          </span>

          <div class="void-icon void-info" *ngIf="(orderItem.voidReason ||
                                                  (orderItem?.itemReturn != 1 && orderItem?.itemReturn != 0) ) &&
                                                  prepScreen && !isModifier">
            <span *ngIf="orderItem?.printed && !prepScreen">  <mat-icon color="warn">lock</mat-icon>  </span>

            <span  *ngIf="( mainPanel || wideBar) || bottomSheetOpen">
              <b  style="color:crimson">return {{ orderItem?.itemReturn }} Item voided:  {{ orderItem?.voidReason }}</b>
            </span>

          </div>

        </div>

        <div class="grid-item-span" *ngIf="!prepScreen && !isModifier">
          <span *ngIf="orderItem.printed">
            <mat-icon color="warn" >print</mat-icon>
            <span  *ngIf="( mainPanel || wideBar) || bottomSheetOpen">{{orderItem?.printed | date: 'shortTime'}} </span>
          </span>

          <div class="void-info" *ngIf="(orderItem?.voidReason || orderItem?.itemReturn == 1) && !isModifier">
            <span *ngIf="orderItem.itemReturn == 1">  <mat-icon  color="warn">refresh</mat-icon>  </span>
            <span *ngIf="orderItem.itemReturn != 1">  <mat-icon  color="warn">cancel</mat-icon>  </span>

            <span  *ngIf="( mainPanel || wideBar) || bottomSheetOpen">
              <b *ngIf="orderItem?.itemReturn == 1" style="color:crimson">Item Return:  {{ orderItem?.voidReason }}</b>
              <b *ngIf="orderItem?.itemReturn != 1" style="color:crimson">Voided:       {{ orderItem?.voidReason }}</b>
            </span>
          </div>

        </div>

        <div  class="grid-item-span" *ngIf="purchaseOrderEnabled && inputForm">
          <div class="field-grid">

            <div class="field-values">
              <app-value-fields
                    [inputForm]="inputForm"
                    [fieldName]="'quantity'">
                Quantity
              </app-value-fields>
            </div>
            <div class="field-values">
              <app-value-fields
                    [inputForm]="inputForm"
                    [fieldName]="'wholeSale'">
                Cost
              </app-value-fields>
            </div>
            <div class="field-values">
              <app-value-fields
                    [inputForm]="inputForm"
                    [fieldName]="'unitPrice'">
                Price
              </app-value-fields>
            </div>

            <div class="field-values-long">
              <app-value-fields
                    [inputForm]="inputForm"
                    [fieldName]="'serialCode'">
                Serial
              </app-value-fields>
            </div>

            <div class="field-values-long">
              <app-value-fields
                    [inputForm]="inputForm"
                    [fieldName]="'modifierNote'">
                Notes
              </app-value-fields>
            </div>

          </div>
        </div>
      </div>

      <div  *ngIf="(mainPanel && !bottomSheetOpen) && !prepScreen">
        <ng-container [ngTemplateOutlet]="isDisplayMenuItemOn"></ng-container>
      </div>

      <div (click)="assignItem()" class="menu-buttons" *ngIf="!disableActions && !prepScreen" >
        <button aria-label="user menu"
                  mat-button
                  [class]="morebutton"
                  [matMenuTriggerFor]="menu"
                  #menuTrigger="matMenuTrigger"
                  (click)="menuTrigger.openMenu()">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu class="mat-menu-panel"
                  [overlapTrigger]="false"
                  #menu="matMenu">
          <span (mouseleave)="menuTrigger.closeMenu()">

            <div class="button-list">
              <div *ngIf="!userAuthService?.isUser">
                <button mat-button  color="accent"  (click)="printLabel(orderItem)"><mat-icon>print</mat-icon>Label</button>
              </div>

              <div *ngIf="!showEdit && (uiConfig.displayAdd)">
                <button mat-raised-button    class="button"  color="accent" (click)="addItemToOrder()">
                  <mat-icon>add</mat-icon>  <span *ngIf="!smallDevice">Add </span>
                </button>
              </div>

              <div *ngIf="!showView && (uiConfig.displayView) ">
                <button mat-button class="button" color="accent" (click)="openDialog()" >
                  <mat-icon>open_in_new</mat-icon> <span *ngIf="!smallDevice"> View </span>
                </button>
              </div>

              <div *ngIf="orderItem && orderItem.serialCode && !userAuthService?.isUser">
                <button mat-button  color="accent"  (click)="editSerial()"><mat-icon>edit</mat-icon>Serial Edit</button>
              </div>

              <div *ngIf="!showEdit && promptOption">
                <button mat-button  color="accent"  (click)="editPrompt()"><mat-icon>edit</mat-icon>Edit</button>
              </div>

              <div *ngIf="!showEdit  && (uiConfig.displayNotes)">
                <button mat-button color="accent" (click)="openModifierNote()"><mat-icon>note_pad</mat-icon>Notes</button>
              </div>

              <div *ngIf="!showEdit  && (uiConfig.displayQuantity) && !orderItem.serialCode && !orderItem.printed">
                <button mat-button  color="accent"  (click)="editQuantity()"><mat-icon>note_pad</mat-icon>Quantity</button>
              </div>

              <div *ngIf="userAuthService.isManagement ">
                <button mat-button  color="accent"  (click)="editPrice()"><mat-icon>edit</mat-icon>Price</button>
              </div>

              <div *ngIf="userAuthService.isManagement && purchaseOrderEnabled">
                <button mat-button  color="accent"  (click)="editCost()"><mat-icon>edit</mat-icon>Cost</button>
              </div>

              <div *ngIf="(quantity && !orderItem.voidReason)">
                <button mat-raised-button  class="button" color="warn" (click)="swipeOutItem()" >
                  <mat-icon>delete</mat-icon> <span *ngIf="!smallDevice">Remove </span>
                </button>
              </div>
              <div>

              </div>

              <div *ngIf="itemHasDiscount">
                <button mat-button  color="accent"  (click)="removeDiscount()"><mat-icon>edit</mat-icon>Clear Discount</button>
              </div>

            </div>
          </span>
        </mat-menu>
      </div>

    </div>
  </mat-card-content>
</mat-card>

<ng-template #imageDisplay>
  <button mat-button (click)="openDialog()" class='displayimage' *ngIf="(basicItem$ | async) as item">
    <img class="image" *ngIf="imagePath" [src]="imagePath" />
  </button>
</ng-template>
