<mat-card-content>

  <div *ngIf="item" class="grid-flow prices border">
    <div class="badge">
      <div  *ngIf="item?.species === 'Hybrid'" class="hybrid">
        {{item.species}}
      </div>
      <div *ngIf="item?.species  === 'Sativa'" class="sativa">
        {{item.species}}
      </div>
      <div *ngIf="item?.species  === 'Indica'" class="indica">
          {{item.species}}
      </div>
    </div>
    <div >
      {{item.name }}
    </div>
    <div >
      {{(+item.thc/100)| percent}}
    </div>
    <div>
      {{item.shelf.replace('Shelf', '') }}
    </div>
    <div>
      {{item.standardPrice | currency}}
    </div>
  </div>

</mat-card-content>
