@import "/src/mixins.scss";

mat-card {
  min-width: 375px;
  width: 95% !important;
}

.name {
  text-overflow: clip;
  max-width: 100px;
  white-space   : nowrap;
  text-size-adjust:inherit;
  overflow-y:hidden;
  overflow-x: hidden;
}

.border  {
  border-radius: 10px;
  border-width : 3px;
  padding      : 5px;
  text-align   : center;
}

.thc  {
  text-align: center;
  vertical-align:middle;
  display   : flex;
}

.grid-flow {

  @include for-phone-only {
    --gap: 5px;
    margin-top: 2px;
    margin-right: 2px;
    display: grid;
    gap: var(--gap);

    grid-template-columns: 50px 100px 50px 50px 65px;
    overflow-y: visible;
  }

  @include for-big-desktop-up {
    --gap: 5px;
    margin-top: 2px;
    margin-right: 2px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: 50px 175px 100px 100px 125px;
    overflow-y: hidden;
  }

  margin-bottom: 10px;
  display    : grid;
  gap        : 10px;
  margin-left: 5px;
  grid-template-columns: 50px 100px 50px 50px 65px;
  overflow-y : hidden;
  overflow-x: hidden;
}

.indica {
  background-color: rgb(89, 148, 30);
  font-weight: 600;
  border-radius: 10px;
}

.sativa {
  background-color: rgb(189, 79, 79);
  font-weight: 600;
  border-radius: 10px;
}

.hybrid {
  background-color: rgb(60, 137, 219);
  font-weight: 600;
  border-radius: 10px;
}

.prices {
  font-size: clamp(1rem, 1vw, 1.5rem);
  font-weight: 500;
  line-height: 1.2em;
}

.badge {
  // margin-top : 3px;
  // margin-left: 10px;

  // @include for-desktop-up {
  //   margin-top : 15px;
  //   margin-left: 10px;
  // }
  // @include for-big-desktop-up {
  //   margin-top : 12px;
  //   margin-left: 10px;
  // }
}
