@import "/src/mixins.scss";

mat-card {
  max-width  : 650px;
  min-width  : 355px;
  margin     : 10px;
}
.container {
  max-height: 98%;
  min-height: 75px;
  overflow-y: auto;
  overflow-x: hidden;
}

.menu-list {
  max-height: 94%;
  height    : 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

.bg {
  height              : 99%;
  max-height          : 1000px;
  background-position : center;
  background-repeat   : no-repeat;
  background-size     : cover;
}

.border  {
  border-radius: 10px;
  border-width : 3px;
  padding      : 5px;
  text-align   : center;
}

.parent-container {
  overflow: hidden;
  height: 100%;
}

.card-container {
  overflow-x: hidden;
}

//MMJMenu
.grid-flow-cannabis {

  @include for-phone-only {
    --gap: 5px;
    margin-top: 2px;
    margin-right: 2px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: 90px 1fr 100px  75px;
    overflow-y: visible;
  }

  @include for-big-desktop-up {
    --gap: 5px;
    margin-top: 2px;
    margin-right: 2px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: 90px 1fr 100px  75px;
    overflow-y: hidden;
  }

  margin-bottom: 10px;
  display    : grid;
  gap        : 10px;
  margin-left: 5px;
  grid-template-columns: 90px 1fr 100px  75px;
  overflow-y : hidden;
  overflow-x: hidden;
}

.grid-flow {

  @include for-phone-only {
    --gap: 5px;
    margin-top: 2px;
    margin-right: 2px;
    display: grid;
    gap: var(--gap);
    grid-template-columns:  90px 1fr 65px;
    overflow-y: visible;
  }

  @include for-big-desktop-up {
    --gap: 5px;
    margin-top: 2px;
    margin-right: 2px;
    display: grid;
    gap: var(--gap);
    grid-template-columns:  1fr 65px;
    overflow-y: hidden;
  }

  margin-bottom: 10px;
  display    : grid;
  gap        : 10px;
  margin-left: 5px;
  grid-template-columns: 1fr 65px;
  overflow-y : hidden;
  overflow-x: hidden;
}

.prices {

    font-size: clamp(1rem, 1.25vw, 1.5rem);
    font-weight: 500;
    line-height: 1.2em;

  }





