<mat-card>
  <mat-card-subtitle>
    <ng-content></ng-content>
  </mat-card-subtitle>

  <ng-template #loading>... loading
    <mat-spinner [diameter]="25"></mat-spinner>
  </ng-template>

  <mat-card-content>

    <div *ngIf="responseMessage">
      Respsonse:  {{responseMessage}}
    </div>

    <div  *ngIf="inputForm; else loading"
          [formGroup]="inputForm"
          class="grid-views">

        <div class="grid-item">
          <app-value-fields
              [fieldsClass]   ="'field-small'"
              [fieldType]     ="'text'"
              [inputForm]     ="inputForm"
              [fieldName]     ="'MerchantID'">
              MerchantID
          </app-value-fields>
        </div>
        <div class="grid-item">
          <app-value-fields
              [fieldsClass]   ="'field-small'"
              [fieldType]     ="'text'"
              [inputForm]     ="inputForm"
              [fieldName]     ="'TerminalID'">
              TerminalID
          </app-value-fields>
        </div>
        <div class="grid-item">
          <app-value-fields
              [fieldsClass]   ="'field-small'"
              [fieldType]     ="'text'"
              [inputForm]     ="inputForm"
              [fieldName]     ="'OperatorID'">
              OperatorID
          </app-value-fields>
        </div>
        <div class="grid-item">
          <app-value-fields
              [fieldsClass]   ="'field-small'"
              [fieldType]     ="'text'"
              [inputForm]     ="inputForm"
              [fieldName]     ="'IpPort'">
              IpPort
          </app-value-fields>
        </div>
        <div class="grid-item">
          <app-value-fields
              [fieldsClass]   ="'field-small'"
              [fieldType]     ="'text'"
              [inputForm]     ="inputForm"
              [fieldName]     ="'UserTrace'">
              UserTrace
          </app-value-fields>
        </div>
        <div class="grid-item">
          <app-value-fields
              [fieldsClass]   ="'field-small'"
              [fieldType]     ="'text'"
              [inputForm]     ="inputForm"
              [fieldName]     ="'TranCode'">
              TranCode
          </app-value-fields>
        </div>
        <div class="grid-item">
          <app-value-fields
              [fieldsClass]   ="'field-small'"
              [fieldType]     ="'text'"
              [inputForm]     ="inputForm"
              [fieldName]     ="'SecureDevice'">
              SecureDevice
          </app-value-fields>
        </div>
        <div class="grid-item">
          <app-value-fields
              [fieldsClass]   ="'field-small'"
              [fieldType]     ="'text'"
              [inputForm]     ="inputForm"
              [fieldName]     ="'ComPort'">
              ComPort
          </app-value-fields>
        </div>
        <div class="grid-item">
          <app-value-fields
              [fieldsClass]   ="'field-small'"
              [fieldType]     ="'test'"
              [inputForm]     ="inputForm"
              [fieldName]     ="'PinPadIpPort'">
              PinPadIpPort
          </app-value-fields>
        </div>
        <div class="grid-item">
          <app-value-fields
              [fieldsClass]   ="'field-small'"
              [fieldType]     ="'test'"
              [inputForm]     ="inputForm"
              [fieldName]     ="'HostOrIP'">
              Host Or IP
          </app-value-fields>
        </div>

    </div>
    <div  class="grid-views">
      <div class="grid-item">
        <button mat-raised-button
                color="primary"
                (click)="updateSetting()"><mat-icon>save</mat-icon>Save
        </button>
      </div>

      <div *ngIf="isElectron" class="grid-item">
        <button mat-raised-button
                color="primary"
                (click)="pinPadReset()">Pin Pad Reset
        </button>
      </div>

      <div *ngIf="isElectron"  class="grid-item">
        <button mat-raised-button
                color="primary"
                (click)="downloadParams()">Download Params
        </button>
      </div>

      <div *ngIf="isElectron"  class="grid-item">
        <button mat-raised-button
              color="primary"
              (click)="dollarSaleTest()">Dollar Sale Test
        </button>
      </div>

      <div *ngIf="isElectron"  class="grid-item">
        <button mat-raised-button
                color="primary"
                (click)="preAuthTest()">Pre Auth Test
        </button>
      </div>

      <div *ngIf="isElectron"  class="grid-item">
        <button mat-raised-button
                color="primary"
                (click)="initPinPadResetForm()">Set Pin Pad Reset Values
        </button>
      </div>

      <div *ngIf="isElectron"  class="grid-item">
        <button mat-raised-button
                color="primary"
                (click)="pinPadReset()">Test Reset
        </button>
      </div>

      <div *ngIf="isElectron"  class="grid-item">
        <button mat-raised-button
                color="primary"
                (click)="saveSettings()">Save Settings
        </button>
      </div>
           <div *ngIf="isElectron"  class="grid-item">
        <button mat-raised-button
                color="primary"
                (click)="loadSettings()">Load Settings
        </button>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div  class="grid-views text-container">
      <div *ngIf="pathForm"
           [formGroup]="pathForm">
        <div class="grid-item">
          <app-value-fields
              [fieldType]     ="'text'"
              [inputForm]     ="pathForm"
              [fieldName]     ="'pathName'">
              Path Name
          </app-value-fields>
        </div>
      </div>
      <div *ngIf="isElectron"  class="grid-item">
        <button mat-raised-button
                color="primary"
                (click)="testActiveX()">Test Activex
        </button>
      </div>
      <div *ngIf="isElectron"  class="grid-item">
        <button mat-raised-button
                color="primary"
                (click)="runCreateFile()">Test Create File
        </button>
      </div>
    </div>
  </mat-card-content>

</mat-card>
