button {
  margin-top: 4px;
}

mat-divider {
  margin-bottom: 4px;
}

.grid-views {
  --gap : 5px;
  margin:5px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
}

.results-grid {
  --gap : 5px;
  margin:5px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: 50px 150px;
  max-width: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

.grid-item {
  width: 175px;
  max-width: 175px;
}

.text-container {
  width: 300px;
}
button {
  min-width: 180px;
}

.item-span {
  column-span:  2;
}

.dsi-response {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}
