<mat-card>
  <mat-card-subtitle>
    <ng-content></ng-content>
  </mat-card-subtitle>

  <ng-template #loading>... loading
    <mat-spinner [diameter]="25"></mat-spinner>
  </ng-template>

  <mat-card-content>

    <div class="dsi-response" *ngIf="tranResponse">
      <mat-card>
        <mat-card-title>
          <h3>Response Data</h3>
        </mat-card-title>
        <mat-card-content>
          <div class="results-grid">
            <div>Transaction Code</div>
            <div>{{tranResponse?.TranCode}}</div>

            <div>Card Type </div>
            <div>{{tranResponse?.CardType}}</div>

            <div>Entry Method</div>
            <div>{{tranResponse?.EntryMethod}}</div>

            <div>Capture Status</div>
            <div>{{tranResponse?.CaptureStatus}}</div>

            <div>Record No </div>
            <div>{{tranResponse?.RecordNo}}</div>

            <div>Ref No </div>
            <div>{{tranResponse?.RefNo}}</div>

            <div>Acq Ref Data </div>
            <div>{{tranResponse?.AcqRefData}}</div>

            <div>Acct No </div>
            <div>{{tranResponse?.AcctNo}}</div>

            <div>Amount </div>
            <div>{{tranResponse?.Amount?.Purchase | currency}}</div>
            <div>Authorized </div>
            <div>{{tranResponse?.Amount?.Authorize | currency}}</div>

          </div>
        </mat-card-content>

        <mat-card-actions>
          <button mat-raised-button (click)="clearResponse()">Clear Response</button>
        </mat-card-actions>
      </mat-card>

    </div>

    <div  *ngIf="inputForm; else loading"
          [formGroup]="inputForm"
          class="grid-views">

        <div class="grid-item">
          <app-value-fields
              [fieldsClass]   ="'field-small'"
              [fieldType]     ="'text'"
              [inputForm]     ="inputForm"
              [fieldName]     ="'merchantID'">
              MerchantID
          </app-value-fields>
        </div>
        <div class="grid-item">
          <app-value-fields
              [fieldsClass]   ="'field-small'"
              [fieldType]     ="'text'"
              [inputForm]     ="inputForm"
              [fieldName]     ="'terminalID'">
              TerminalID
          </app-value-fields>
        </div>
        <div class="grid-item">
          <app-value-fields
              [fieldsClass]   ="'field-small'"
              [fieldType]     ="'text'"
              [inputForm]     ="inputForm"
              [fieldName]     ="'operatorID'">
              OperatorID
          </app-value-fields>
        </div>
        <div class="grid-item">
          <app-value-fields
              [fieldsClass]   ="'field-small'"
              [fieldType]     ="'text'"
              [inputForm]     ="inputForm"
              [fieldName]     ="'ipPort'">
              IpPort
          </app-value-fields>
        </div>
        <div class="grid-item">
          <app-value-fields
              [fieldsClass]   ="'field-small'"
              [fieldType]     ="'text'"
              [inputForm]     ="inputForm"
              [fieldName]     ="'userTrace'">
              UserTrace
          </app-value-fields>
        </div>
        <div class="grid-item">
          <app-value-fields
              [fieldsClass]   ="'field-small'"
              [fieldType]     ="'text'"
              [inputForm]     ="inputForm"
              [fieldName]     ="'tranCode'">
              TranCode
          </app-value-fields>
        </div>
        <div class="grid-item">
          <app-value-fields
              [fieldsClass]   ="'field-small'"
              [fieldType]     ="'text'"
              [inputForm]     ="inputForm"
              [fieldName]     ="'secureDevice'">
              SecureDevice
          </app-value-fields>
        </div>
        <div class="grid-item">
          <app-value-fields
              [fieldsClass]   ="'field-small'"
              [fieldType]     ="'text'"
              [inputForm]     ="inputForm"
              [fieldName]     ="'comPort'">
              ComPort
          </app-value-fields>
        </div>
        <div class="grid-item">
          <app-value-fields
              [fieldsClass]   ="'field-small'"
              [fieldType]     ="'test'"
              [inputForm]     ="inputForm"
              [fieldName]     ="'pinPadIpPort'">
              PinPadIpPort
          </app-value-fields>
        </div>
        <div class="grid-item">
          <app-value-fields
              [fieldsClass]   ="'field-small'"
              [fieldType]     ="'test'"
              [inputForm]     ="inputForm"
              [fieldName]     ="'hostOrIP'">
              Host Or IP
          </app-value-fields>
        </div>

        <div class="toggle-fields">
          <div>
            <mat-slide-toggle
              formControlName="enabled"
              >
              <mat-label>Enable</mat-label>
            </mat-slide-toggle>
          </div>
          <div>Enabled on each device.</div>

        </div>

    </div>
    <div  class="grid-views">

      <div *ngIf="isElectron" class="grid-item">
        <button mat-raised-button
                color="primary"
                (click)="pinPadReset()">Pin Pad Reset
        </button>
      </div>

      <div *ngIf="isElectron"  class="grid-item">
        <button mat-raised-button
                color="primary"
                (click)="downloadParams()">Download Params
        </button>
      </div>

      <div *ngIf="isElectron"  class="grid-item">
        <button mat-raised-button
              color="primary"
              (click)="dollarSaleTest()">Dollar Sale Test
        </button>
      </div>

      <div *ngIf="isElectron"  class="grid-item">
        <button mat-raised-button
                color="primary"
                (click)="preAuthTest()">Pre Auth Test
        </button>
      </div>

      <div *ngIf="isElectron"  class="grid-item">
        <button mat-raised-button
                color="primary"
                (click)="initPinPadResetForm()">Set Pin Pad Reset Values
        </button>
      </div>

      <div *ngIf="isElectron"  class="grid-item">
        <button mat-raised-button
                color="primary"
                (click)="pinPadReset()">Test Reset
        </button>
      </div>

      <div *ngIf="isElectron"  class="grid-item">
        <button mat-raised-button
                color="primary"
                (click)="saveSettings()">Save Settings
        </button>
      </div>

      <div *ngIf="isElectron"  class="grid-item">
        <button mat-raised-button
                color="primary"
                (click)="deleteSettings()">Delete Settings
        </button>
      </div>

      <div *ngIf="isElectron"  class="grid-item">
        <button mat-raised-button
                color="primary"
                (click)="loadSettings()">Load Settings
        </button>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div  class="grid-views text-container">
      <div *ngIf="amountForm"
           [formGroup]="amountForm">
        <div class="grid-item">
          <app-value-fields
              [fieldType]     ="'text'"
              [inputForm]     ="amountForm"
              [fieldName]     ="'amount'">
              Amount to Test
          </app-value-fields>
        </div>
      </div>
    </div>

    <div  class="grid-views text-container">
      <div *ngIf="pathForm"
           [formGroup]="pathForm">
        <div class="grid-item">
          <app-value-fields
              [fieldType]     ="'text'"
              [inputForm]     ="pathForm"
              [fieldName]     ="'pathName'">
              Path Name
          </app-value-fields>
        </div>
      </div>
      <div *ngIf="isElectron"  class="grid-item">
        <button mat-raised-button
                color="primary"
                (click)="testActiveX()">Test Activex
        </button>
      </div>
      <div *ngIf="isElectron"  class="grid-item">
        <button mat-raised-button
                color="primary"
                (click)="runCreateFile()">Test Create File
        </button>
      </div>
    </div>
  </mat-card-content>

</mat-card>
