
.mat-input-element {
  font-size: 1em;
}

.mat-label {
  font-size: 1.2em;
}

.mat-card {
   height: 99%;
}

mat-card{
  margin:  5px ;
}

.name-height {
  height: 210px;
}

.grid-headers {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-gap: 10px;

}

.grid-fields {
  display: grid;
  grid-template-columns: 100px ;
  gap: 5px;
}
