<div *ngIf="(employee$ | async) as employee"></div>
<div *ngIf="(action$ | async) as action"></div>

<mat-card>
  <mat-card-title>Edit Employee</mat-card-title>
  <mat-card-subtitle>
    <div>
      <app-edit-buttons-standard
            (outputeupdateItem)     ="update($event)"
            (outputupdateItemExit)  ="updateItemExit($event)"
            (outputupdatedeleteItem)="delete($event)"
            (outputupdateonCancel)  ="navUserList($event)"
      ></app-edit-buttons-standard>
    </div>
    <ng-container [ngTemplateOutlet]="helpButton"></ng-container>
    <mat-divider></mat-divider>
  </mat-card-subtitle>

  <mat-card-content>
    <div class="grid-forms">
      <div>
        <div [formGroup]="inputForm"
              *ngIf="employee$; else loading;">
          <div *ngIf="inputForm.controls['phone'].invalid && inputForm.controls['phone'].touched"
              class="alert alert-danger">
                <div *ngIf="inputForm.controls['phone'].errors.required">
                  Phone is required.
            </div>
          </div>

          <div *ngIf="inputForm.controls['email'].invalid && inputForm.controls['email'].touched"
              class="alert alert-danger">
                <div *ngIf="inputForm.controls['email'].errors.required">
                  Email is required.
            </div>
          </div>

          <div *ngIf="inputForm.controls['password'].invalid && inputForm.controls['password'].touched"
              class="alert alert-danger">
                <div *ngIf="inputForm.controls['password'].errors.required">
                  PIN Code should be greater than 4 characters, and less than 10.
                  The pin code is used in the Windows App and Android Apps only.
                  This is not the primary password, and can be changed later.
            </div>
          </div>

          <div>
              <mat-form-field appearance="outline">
              <mat-label >First Name</mat-label>
              <input matInput
                    type="text"
                    formControlName="firstName"
                    class="form-control" >
              </mat-form-field>
          </div>

          <div>
              <mat-form-field appearance="outline">
              <mat-label >Last Name</mat-label>
              <input matInput
                    type="text"
                    formControlName="lastName"
                    class="form-control" >
              </mat-form-field>
          </div>

          <div>
              <mat-form-field appearance="outline">
              <mat-label >Phone</mat-label>
              <input matInput
                    type="text"
                    formControlName="phone"
                    class="form-control" >
              </mat-form-field>
          </div>

          <div>
              <mat-form-field appearance="outline">
              <mat-label >Email</mat-label>
              <input matInput
                      type="text"
                      formControlName="email"
                      class="form-control" >
              </mat-form-field>
          </div>

          <div  #coachingPIN>
            <!-- <mat-icon class="mat-label-info"
                      color="accent"
                      [matTooltip]="labelingService.employeeInfo[0].value">info</mat-icon> -->
            <mat-form-field appearance="outline">
            <mat-label >PIN</mat-label>
            <input matInput
                    type="password"
                    formControlName="password"
                    class="form-control" >
            </mat-form-field>
          </div>

          <div>
              <mat-form-field appearance="outline">
            <mat-label >Pay Rate (hourly)</mat-label>
            <input matInput
                    type="number"
                    formControlName="payRate"
                    class="form-control" >
            </mat-form-field>
          </div>

          <div class="grid-item">
            <mat-form-field
                [style]="'font-size: 1.1em; width: 90%;'"
                class="fields"
                appearance="outline">
              <mat-label>Job</mat-label>
              <mat-select
                        type              = "number"
                        ngDefaultControl
                        formControlName   = "jobTypeID"
                      >
                <mat-option *ngFor="let item of (jobTypes$  | async) as list"
                            [value]="item.id">
                            {{item.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div #coachingTermination>
            <mat-form-field appearance="outline">
              <mat-label>Termination</mat-label>
              <input matInput
                    [matDatepicker]="datepicker"
                    formControlName="terminationDate"
                    name="terminationDate"  >
              <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
              <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Cancel</button>
                  <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>
          </div>

        </div>
        <ng-template #loading >
          <mat-spinner  diameter="100"></mat-spinner>
        </ng-template>
      </div>

      <div>
        <div
              *ngIf="clientForm && client;
                       else loadingclient;"
              [formGroup]="clientForm">

          <div #coachingUserName >
            <!-- <mat-icon class="mat-label-info"
                      color="accent"
                      [matTooltip]="labelingService.employeeInfo[2].value">info</mat-icon> -->
            <mat-form-field appearance="outline">
              <mat-label >User Name</mat-label>
              <input matInput
                    type="text"
                    formControlName="apiUserName"
                    class="form-control" >
            </mat-form-field>
          </div>

          <div #coachingPassword>
            <mat-form-field appearance="outline">
              <mat-label >Password</mat-label>
              <input matInput
                    type="password"
                    formControlName="apiPassword"
                    class="form-control" >
            </mat-form-field>
          </div>
        </div>

        <div [formGroup]="confirmPassword"
            *ngIf="confirmPassword && clientForm && clientForm.controls['apiPassword'].value">
            <div>
              <mat-form-field appearance="outline">
                <mat-label >Confirm Password</mat-label>
                <input matInput
                        type="password"
                        formControlName="confirmPassword"
                        class="form-control" >
              </mat-form-field>
            </div>
        </div>


        <div *ngIf="clientForm">
          <div  #coachingUserAuthorized class="grid-item" >
            <!-- <mat-icon class="mat-label-info"
                      color="accent"
                      [matTooltip]="labelingService.employeeInfo[2].value">info</mat-icon> -->
            <app-profile-roles
                  [isAuthorized]="isAuthorized"
                  [inputForm] ='clientForm'>
            </app-profile-roles>
          </div>

          <div #coachingUserType class="grid-item" [formGroup]="clientForm">
            <!-- <mat-icon class="mat-label-info"
                      color="accent"
                      [matTooltip]="labelingService.employeeInfo[3].value">info</mat-icon> -->
            <mat-form-field
                [style]="'font-size: 1.1em; width: 90%;'"
                class="fields"
                appearance="outline">
              <mat-label>Type</mat-label>
              <mat-select
                        type              = "number"
                        ngDefaultControl
                        name              = 'clientTypeID'
                        formControlName   = "clientTypeID"
                      >
                <mat-option *ngFor="let item of (clientTypes$ | async) as list"
                  [value]="item.id">
                  {{item.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <mat-label *ngIf="(clientForm && confirmPassword)  &&
                          (clientForm.controls['apiPassword'].value!= '' &&
                          confirmPassword.controls['confirmPassword'].value != '')
                          && clientForm.controls['apiPassword'].value != confirmPassword.controls['confirmPassword'].value">
            Passwords do not match
        </mat-label>

        <mat-label *ngIf="(clientForm && confirmPassword) &&
                          (clientForm.controls['apiPassword'].value != '' &&
                          confirmPassword.controls['confirmPassword'].value != '')
                          && clientForm.controls['apiPassword'].value == confirmPassword.controls['confirmPassword'].value">
              Passwords match.
        </mat-label>

        <div *ngIf="client && client.id && client.id != 0">
            <button mat-raised-button
                    (click)="viewContact()">
                <mat-icon>expand</mat-icon>View As User
            </button>
          </div>
      </div>
    </div>

    <ng-template #loadingclient >
        <mat-spinner  diameter="30" ></mat-spinner>
    </ng-template>

  </mat-card-content>
</mat-card>

<ng-template #helpButton>
  <span *ngIf="user?.userPreferences?.enableCoachMarks">
    <coach-marks-button
            (initPopOver)="initPopover()"
            [enabled]="true"></coach-marks-button>
  </span>
</ng-template>
