
<mat-card>
  <mat-card-title>Edit Employee</mat-card-title>
  <mat-card-subtitle>
    <div >
      <app-edit-buttons-standard
            (outputeupdateItem)     ="update($event)"
            (outputupdateItemExit)  ="updateItemExit($event)"
            (outputupdatedeleteItem)="delete($event)"
            (outputupdateonCancel)  ="navUserList($event)"
      ></app-edit-buttons-standard>
    </div>
    <mat-divider></mat-divider>
  </mat-card-subtitle>

  <mat-card-content>
    <div class="grid-forms">
      <div>

        <div [formGroup]="inputForm"
             *ngIf="employee$; else loading;">
             <!-- Form is Valid {{this.inputForm.valid}} -->
             <div *ngIf="inputForm.controls['email'].invalid && inputForm.controls['email'].touched"
                  class="alert alert-danger">
                    <div *ngIf="inputForm.controls['email'].errors.required">
                      Email is required.
                </div>
             </div>

             <div *ngIf="inputForm.controls['password'].invalid && inputForm.controls['password'].touched"
                  class="alert alert-danger">
                    <div *ngIf="inputForm.controls['password'].errors.required">
                      PIN Code must be greater than 4 characters, and less than 10.
                      This is not the primary password, and can be changed later.
                </div>
              </div>


          <div>
              <mat-form-field appearance="outline">
              <mat-label >First Name</mat-label>
              <input matInput
                    type="text"
                    formControlName="firstName"
                    class="form-control" >
              </mat-form-field>
          </div>

          <div>
              <mat-form-field appearance="outline">
              <mat-label >Last Name</mat-label>
              <input matInput
                    type="text"
                    formControlName="lastName"
                    class="form-control" >
                </mat-form-field>
          </div>

          <div>
              <mat-form-field appearance="outline">
              <mat-label >Phone</mat-label>
              <input matInput
                    type="text"
                    formControlName="phone"
                    class="form-control" >
              </mat-form-field>
          </div>

          <div>
              <mat-form-field appearance="outline">
              <mat-label >Email</mat-label>
              <input matInput
                      type="text"
                      formControlName="email"
                      class="form-control" >
              </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="outline">
            <mat-label >Numeric Password</mat-label>
            <input matInput
                    type="password"
                    formControlName="password"
                    class="form-control" >
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="outline">
              <mat-label>Termination</mat-label>
              <input matInput
                    [matDatepicker]="datepicker"
                    formControlName="terminationDate"
                    name="terminationDate"
                >
              <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
              <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Cancel</button>
                  <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>
          </div>

      </div>
      <ng-template #loading >
        <mat-spinner  diameter="100"></mat-spinner>
      </ng-template>
    </div>

    <div>
      <div [formGroup]="clientForm"
           *ngIf="clientForm && client; else loadingclient;">

        <div>
          <mat-form-field appearance="outline">
            <mat-label >User Name</mat-label>
            <input matInput
                  type="text"
                  formControlName="apiUserName"
                  class="form-control" >
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label >Password</mat-label>
            <input matInput
                  type="password"
                  formControlName="apiPassword"
                  class="form-control" >
          </mat-form-field>
        </div>

        <div>
          <button mat-raised-button
                  (click)="viewContact()">
              <mat-icon>expand</mat-icon>View As User
          </button>
        </div>
      </div>

      <ng-template #loadingclient >
      <mat-spinner  diameter="30" ></mat-spinner>
      </ng-template>

    </div>
  </div>
  </mat-card-content>
</mat-card>




