<div [formGroup]="searchForm" class="form-background">

  <mat-form-field class="form-background"  appearance="outline" fxFlexFill >
    <mat-label class="form-background">Search Facility</mat-label>

    <input
           #input
           type="text"
           class="form-background"
           placeholder="Search Items"
           matInput
           name="facilityLicenseNumber"
           formControlName="facilityLicenseNumber"
           [matAutocomplete]="auto">

      <mat-autocomplete panelWidth="auto"
                        #auto="matAutocomplete"
                        (optionSelected)="onChange($event)"
                        >
        <mat-option *ngFor="let item of results$ | async"  [value]="item">
          {{item.metrcLicense}}-{{item.displayName}}
        </mat-option>

    </mat-autocomplete>

 </mat-form-field>



</div>

<!-- removed from auto complete [displayWith]="displayFn.bind(this)"  -->
