<div *ngIf="prompt && inputForm; else loading"
     class="container">
  <div>
    <!--  [formGroup]="inputForm" *ngIf="inputForm && prompt" -->
    <mat-card class="mat-card" >
      <mat-card-title >
        <div class="header-container" >
          <div>
            <h4>
              <div *ngIf="prompt?.id == 0">
                Add Item Sub Group:  {{ prompt?.name  }}
              </div>
              <div *ngIf="prompt?.id != 0">
                Edit Item Sub Group: {{ prompt?.name  }}
              </div>
            </h4>
          </div>
          <div>
            <app-edit-buttons-standard
                  (outputeupdateItem)     ="updateItem($event)"
                  (outputupdateItemExit)  ="updateItemExit($event)"
                  (outputupdatedeleteItem)="deleteItem($event)"
                  (outputupdateonCancel)  ="onCancel($event)"
                  (outputCopy)            ="copyItem($event)"
            ></app-edit-buttons-standard>
          </div>
        </div>
    </mat-card-title>

    <mat-card-content >

      <div class="info-group" *ngIf="inputForm" [formGroup]="inputForm">
        <div>
            <div>
              <app-value-fields
                [fieldType]="'text'"
                [inputForm]="inputForm"
                [fieldName]="'name'" >
                 Name
              </app-value-fields>
            </div>

            <div>
              <app-value-fields
                [fieldType]="'number'"
                [inputForm]="inputForm"
                [fieldName]="'minQuantity'" >
                Min Quantity
              </app-value-fields>
            </div>

            <div>
              <app-value-fields
                [fieldType]="'number'"
                [inputForm]="inputForm"
                [fieldName]="'maxQuantity'" >
                Max Quantity
              </app-value-fields>
            </div>

            <div>
              <app-value-fields
                [fieldType]="'number'"
                [inputForm]="inputForm"
                [fieldName]="'moveOnQuantity'" >
                Move to Next Page Quantity
              </app-value-fields>
            </div>

            <div  class="mat-label" >
              <mat-slide-toggle
                  class="mat-label"
                  formControlName="hideSplitOptions">
                <mat-label class="mat-label">Hide Split Item Options</mat-label>
              </mat-slide-toggle>
            </div>

            <div *ngIf="promptPropertiesForm" [formGroup]="promptPropertiesForm" >
              <app-value-fields
                [fieldType]="'text'"
                [inputForm]="promptPropertiesForm"
                [fieldName]="'itemModList'" >
                Item Mod List
              </app-value-fields>
            </div>


            <div  class="mat-label">
              <mat-slide-toggle
                  class="mat-label"
                  formControlName="freePage">
                <mat-label class="mat-label">Free Page</mat-label>
              </mat-slide-toggle>
            </div>


            <div>
              <mat-card class="image-container">
                <app-widget-uploader
                  [(fileNames)]="imageMain"
                  (messageOut) ="received_URLMainImage($event)"
                  (imageUrl)   ="updateUrlImageMain($event)">
                  Apply Image
                </app-widget-uploader>
              </mat-card>
            </div>

            <div class="document-content">
              <mat-divider></mat-divider>
              <mat-label>Short Description </mat-label><br>
              <simple-tinymce name="instructions"
                              cols="50" rows="15"
                              formControlName="instructions"
                              [(ngModel)]="instructions">
              </simple-tinymce>
          </div>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</div>
</div>

<ng-template #loading >
<mat-spinner></mat-spinner>
</ng-template>
