@use '@angular/material' as mat;
// @import "../../../node_modules/@angular/material/legacy-prebuilt-themes/legacy-deeppurple-amber.css";

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();
@include mat.legacy-core();

@include mat.all-legacy-component-typographies();

// @include mat.all-legacy-component-themes($app-theme);


// $app-primary:  mat.define-palette(mat.$indigo-palette);
$app-primary: mat.define-palette(mat.$indigo-palette);
$app-accent:  mat.define-palette(mat.$pink-palette, A200, A100, A400);
$app-theme:   mat.define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
  ),
  typography: mat.define-legacy-typography-config(),
  density: 0,
 ));

// Define the color configurations for the light theme
$light-theme-primary: mat.define-palette(mat.$indigo-palette, 700, 300, 900);
$light-theme-accent: mat.define-palette(mat.$light-blue-palette);
$light-theme-warn: mat.define-palette(mat.$deep-orange-palette, A200);

$light-theme: mat.define-dark-theme((
  color: (
    primary: $light-theme-primary,
    accent:  $light-theme-accent,
    warn:    $light-theme-warn,
  )
));

.light-theme {
  @include mat.all-legacy-component-themes($light-theme);
}

// Define the color configurations for the dark theme
$dark-theme-primary: mat.define-palette(mat.$blue-grey-palette);
$dark-theme-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$dark-theme-warn: mat.define-palette(mat.$deep-orange-palette);

// Define the dark theme
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-theme-primary,
    accent: $dark-theme-accent,
    warn: $dark-theme-warn,
  )
));

// Including the dark theme
.dark-theme {
  @include mat.all-legacy-component-themes($dark-theme);
}


//


// @import "~@angular/material/theming";
// @include mat-core();

// $app-primary: mat-palette($mat-indigo);
// $app-accent:  mat-palette($mat-pink, A200, A100, A400);
// $app-theme:   mat-light-theme($app-primary, $app-accent);

// $light-theme-primary: mat-palette($mat-indigo, 700, 300, 900);
// $light-theme-accent: mat-palette($mat-light-blue);
// $light-theme-warn: mat-palette($mat-deep-orange, A200);
// $light-theme-green: mat-palette($mat-light-green);

// $light-theme: mat-light-theme(
//  $light-theme-primary,
//   $light-theme-accent,
//   $light-theme-warn,
// );

// .light-theme {
//     @include angular-material-theme($light-theme);
// }

// $dark-theme-primary: mat-palette($mat-blue-grey);
// $dark-theme-accent: mat-palette($mat-amber, A200, A100, A400);
// $dark-theme-warn: mat-palette($mat-deep-orange);

// $dark-theme: mat-dark-theme(
//  $dark-theme-primary,
//  $dark-theme-accent,
//  $dark-theme-warn
// );

// .dark-theme {
//     @include angular-material-theme($dark-theme);
// }


// @import "~@angular/material/theming";
// @include mat-core();

// $app-primary: mat-palette($mat-indigo);
// $app-accent:  mat-palette($mat-pink, A200, A100, A400);
// $app-theme:   mat-light-theme($app-primary, $app-accent);

// $light-theme-primary: mat-palette($mat-indigo, 700, 300, 900);
// $light-theme-accent: mat-palette($mat-light-blue);
// $light-theme-warn: mat-palette($mat-deep-orange, A200);
// $light-theme-green: mat-palette($mat-light-green);

// $light-theme: mat-light-theme(
//  $light-theme-primary,
//   $light-theme-accent,
//   $light-theme-warn,
// );

// .light-theme {
//     @include angular-material-theme($light-theme);
// }

// $dark-theme-primary: mat-palette($mat-blue-grey);
// $dark-theme-accent: mat-palette($mat-amber, A200, A100, A400);
// $dark-theme-warn: mat-palette($mat-deep-orange);

// $dark-theme: mat-dark-theme(
//  $dark-theme-primary,
//  $dark-theme-accent,
//  $dark-theme-warn
// );

// .dark-theme {
//     @include angular-material-theme($dark-theme);
// }
