<h2>Inventory Locations</h2>

<div *ngIf="dataSource" class="table-container">
  <div *ngIf="dataSource" class="table-container mat-elevation-z2">
    <table mat-table
            #outerSort="matSort"
            [dataSource]="dataSource"
            multiTemplateDataRows matSort>

      <ng-container matColumnDef="id">
          <th mat-header-cell
              *matHeaderCellDef> ID </th>
          <td mat-cell
              *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
          <th mat-header-cell
              *matHeaderCellDef> Name </th>
          <td mat-cell
              *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="activeLocation">
        <th mat-header-cell
            *matHeaderCellDef> Active </th>
        <td mat-cell
            *matCellDef="let element"> {{element.activeLocation}} </td>
      </ng-container>


      <ng-container matColumnDef="defaultLocation">
        <th mat-header-cell
            *matHeaderCellDef> Default </th>
        <td mat-cell
            *matCellDef="let element"> {{element.defaultLocation}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> Edit </th>
          <td mat-cell *matCellDef="let element">
          <button mat-raised-button
                  color="primary"
                  (click)="editItem(element.id)">Edit</button>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

    </table>
    <mat-paginator  #paginator
                    [pageSize]="pageSize"
                    [length]="length"
                    [pageSizeOptions]="pageSizeOptions"
                  ></mat-paginator>
  </div>
</div>

<div>
  <form [formGroup]="locationForm" class="centered-flex" >

    <h2>Edit Add</h2>

    <mat-form-field appearance="outline">
      <mat-label >Name</mat-label>
      <input matInput
            type="text"
            formControlName="name"
            class="form-control" >
    </mat-form-field>

    <div>
        <mat-checkbox
                      formControlName="activeLocation">
            Active Inventory</mat-checkbox>
    </div>

    <div>
      <div>
        <mat-label>Choose one active location as default.</mat-label>
      </div>
      <div>
        <mat-checkbox
                      formControlName="defaultLocation">
            Default Location</mat-checkbox>
      </div>
    </div>

    <mat-divider></mat-divider>

    <button mat-raised-button class="form-button" color="primary" (click)="update()">Add / Edit</button>
    <button mat-raised-button class="form-button" color="primary" (click)="delete()">Delete</button>

  </form>
</div>

<ng-template #loading >
  <mat-spinner></mat-spinner>
</ng-template>
