table {
  width: 100%;
}

.form-button {
  margin: 2px;
}

.table-container {
  width: 100%;
  height: 35vh;
  overflow: auto !important;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

button {
  margin: 5px 5px 5px 5px;
  float: left;
}

mat-form-field {
  margin: 2px 2px 2px 2px;
  appearance: outline;
  font-size: .8em;
}

app-widget-uploader {
  margin: 10px 2px 2px 2px;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

app-widget-uploader {
  width: 25vw;
  float: left;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.inner-table {
  width: 100%;
}

.inner-table mat-form-field {
  margin-top: 15px;
  width: 100%;
}


tr.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

