<mat-card>
  <mat-card-subtitle>
    <ng-content></ng-content>
  </mat-card-subtitle>

  <mat-card-content>
    <div  *ngIf="inputForm"
          [formGroup]="inputForm">
      <div class="toggle-fields">
        <mat-slide-toggle
                  formControlName="brandsEnabled"
                  (change)="updateSetting()">
          <mat-label>Brands</mat-label>
        </mat-slide-toggle>
      </div>

      <div class="toggle-fields">
        <mat-slide-toggle
                  formControlName="departmentsEnabled"
                  (change)="updateSetting()">
          <mat-label>Departments</mat-label>
        </mat-slide-toggle>
      </div>

      <div class="toggle-fields">
        <mat-slide-toggle
                  formControlName="categoriesEnabled"
                  (change)="updateSetting()">
          <mat-label>Categories</mat-label>
        </mat-slide-toggle>
      </div>

      <div class="toggle-fields">
        <mat-slide-toggle
                  formControlName="typesEnabled"
                  (change)="updateSetting()">
          <mat-label>Types</mat-label>
        </mat-slide-toggle>
      </div>

      <div class="toggle-fields">
        <mat-slide-toggle
                  formControlName="tierMenuEnabled"
                  (change)="updateSetting()">
          <mat-label>Tier Menu</mat-label>
        </mat-slide-toggle>
      </div>


      <div class="toggle-fields">
        <mat-slide-toggle
                  formControlName="tierMenuEnabled"
                  (change)="updateSetting()">
          <mat-label>Tier Menu</mat-label>
        </mat-slide-toggle>
      </div>

      <app-value-fields
          [fieldType]     ="'text'"
          [inputForm]     ="inputForm"
          [fieldName]     ="'menuItemSize'">
          Pixel Width of Menu Item
      </app-value-fields>

      <app-value-fields
          [fieldType]     ="'number'"
          [inputForm]     ="inputForm"
          [fieldName]     ="'itemsPerPage'">
          Items Per Page
      </app-value-fields>

    </div>
  </mat-card-content>

</mat-card>
