button {
  margin-top: 4px;
}

mat-divider {
  margin-bottom: 4px;
}

.grid-views {

    --gap: 5px;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat( auto-fit, minmax(105px, 1fr) );
    overflow-y: visible;

  }
