<mat-card>
  <mat-card-subtitle>
    <h3><ng-content></ng-content></h3>
    <mat-divider></mat-divider>
  </mat-card-subtitle>

  <ng-template #loading>... loading
    <mat-spinner [diameter]="25"></mat-spinner>
  </ng-template>

  <mat-card-content *ngIf="inputForm && uiHomePage; else loading">

    <div
        *ngIf="inputForm"
        [formGroup]="inputForm">

      <div class="grid-item">
        <app-value-fields
            [fieldType]     ="'text'"
            [inputForm]     ="inputForm"
            [fieldName]     ="'displayCompanyName'">
            Company Name Display
        </app-value-fields>
      </div>

      <div class="grid-view-sections">
        <div class="grid-views">
          <div>Customer View </div>

          <div class="toggle-fields">
            <mat-slide-toggle
                      formControlName="brandsEnabled"
                    >
              <mat-label>Brands</mat-label>
            </mat-slide-toggle>
          </div>

          <div class="toggle-fields">
            <mat-slide-toggle
                      formControlName="departmentsEnabled">

              <mat-label>Departments</mat-label>
            </mat-slide-toggle>
          </div>

          <div class="toggle-fields">
            <mat-slide-toggle
                      formControlName="categoriesEnabled"
                      >
              <mat-label>Categories</mat-label>
            </mat-slide-toggle>
          </div>

          <div class="toggle-fields">
            <mat-slide-toggle
                      formControlName="typesEnabled"
                      >
              <mat-label>Types</mat-label>
            </mat-slide-toggle>
          </div>

          <div class="toggle-fields">
            <mat-slide-toggle
                      formControlName="tierMenuEnabled"
                      >
              <mat-label>Tier Menu</mat-label>
            </mat-slide-toggle>
          </div>

        </div>

        <div class="grid-views">
          <div>Staff View </div>

          <div class="toggle-fields">
            <mat-slide-toggle
                      formControlName="staffBrandsEnabled"
                      >
              <mat-label>Brands</mat-label>
            </mat-slide-toggle>
          </div>

          <div class="toggle-fields">
            <mat-slide-toggle
                      formControlName="staffDepartmentsEnabled"
                      >
              <mat-label>Departments</mat-label>
            </mat-slide-toggle>
          </div>

          <div class="toggle-fields">
            <mat-slide-toggle
                      formControlName="staffCategoriesEnabled"
                      >
              <mat-label>Categories</mat-label>
            </mat-slide-toggle>
          </div>

          <div class="toggle-fields">
            <mat-slide-toggle
                      formControlName="staffTypesEnabled"
                      >
              <mat-label>Types</mat-label>
            </mat-slide-toggle>
          </div>

          <div class="toggle-fields">
            <mat-slide-toggle
                      formControlName="staffTierMenuEnabled"
                      >
              <mat-label>Tier Menu</mat-label>
            </mat-slide-toggle>
          </div>
        </div>

        <div class="grid-views">
          <div>Side Bar (Search)</div>

          <div class="toggle-fields">
            <mat-slide-toggle
                      formControlName="sideToolbarDefaultBrand"
                      >
              <mat-label>Default Department</mat-label>
            </mat-slide-toggle>
          </div>
             <div class="toggle-fields">
            <mat-slide-toggle
                      formControlName="sideToolbarEnableBrand"
                      >
              <mat-label>Enable Brand</mat-label>
            </mat-slide-toggle>
          </div>
          <div class="toggle-fields">
            <mat-slide-toggle
                      formControlName="sideToolbarEnableType"
                      >
              <mat-label>Enable Type</mat-label>
            </mat-slide-toggle>
          </div>
          <div class="toggle-fields">
            <mat-slide-toggle
                      formControlName="sideToolbarEnableCategory"
                      >
              <mat-label>Enable Category</mat-label>
            </mat-slide-toggle>
          </div>
        </div>
      </div>

      <div>
        <h4>Order Settings</h4>
        <mat-divider></mat-divider>
        <div class="toggle-fields">
          <mat-slide-toggle
                    formControlName="wideOrderBar"
                    >
            <mat-label>Wide Order Bar</mat-label>
          </mat-slide-toggle>
        </div>
      </div>

    </div>

    <div *ngIf="uiHomePage">

      <h4>Images</h4>
      <mat-divider></mat-divider>

      <div class="grid-views">
        <div class="grid-item">
          <!-- <mat-card >
            <app-widget-uploader
                [(fileNames)]="backgroundImage"
                (messageOut) ="received_Image($event)"
                >
                Upload Background Image
            </app-widget-uploader>
          </mat-card> -->
        </div>

        <div class="grid-item">
          <!-- <mat-card >
            <app-widget-uploader
                [(fileNames)]="logoHomePage"
                (messageOut) ="received_Logo($event)"
                >
                Upload Home Page Logo
            </app-widget-uploader>
          </mat-card> -->
        </div>

        <div class="grid-item">
          <!-- <mat-card >
            <app-widget-uploader
                [(fileNames)]="tinyLogo"
                (messageOut) ="received_TinyLogo($event)"
                >
                Tiny Logo
            </app-widget-uploader>
          </mat-card> -->
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>
    <div>
      <button mat-raised-button color="primary"
              (click)="showEmailSettings = !showEmailSettings">
        <mat-icon>email</mat-icon>Email Settings</button>

      <app-email-settings
          *ngIf="showEmailSettings"
          [inputForm]="inputForm">
      </app-email-settings>
    </div>

    <div  *ngIf="inputForm"
          [formGroup]="inputForm">
      <h4>SSMS</h4>
      <div class="toggle-fields">
        Requires Twilio SSMS Message account. Secret APIKey must be assigned in configuration.
        <mat-slide-toggle
                  formControlName="twilioEnabled"
                  >
          <mat-label>Twilio Enabled</mat-label>
        </mat-slide-toggle>
      </div>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <mat-divider></mat-divider>
    <div>
      <button mat-raised-button
              color="primary"
              (click)="updateSetting()"><mat-icon>save</mat-icon>Save</button>
    </div>
  </mat-card-actions>

</mat-card>
