button {
  margin: 8px
}

mat-divider {
  margin-bottom: 4px;
}

.grid-views {

    --gap: 5px;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
    overflow-y: visible;
    max-width: 200px;
  }

  .grid-view-sections {
    // width: 425px;
    // max-width: 425px;
    --gap: 5px;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat( auto-fit, minmax(220px, 1fr) );
    overflow-y: visible;
  }

  grid-item {
    max-width: 175px;
    width: 175px;
    height: 175px;
  }

  mat-action-buttons {
    padding: 5px;
  }

  mat-raised-button {
    margin: 5px;
  }

  mat-card-actions {
    height: 45px;
    padding: 5px;
  }

  .saving-container {
    width: 200px;
    margin: 15px;
    padding: 10px;
  }
