    <div *ngIf="(product$ | async) as product "></div>
    <div *ngIf="(action$ | async) as action"></div>

    <!-- {{poItems | json}} -->
    <div *ngIf="poItems && poItems.length>0">
      <button mat-raised-button (click)="printAllItems()"><mat-icon>print</mat-icon>Print All Items</button>
    </div>
    <div *ngIf="remainingQuantity && remainingQuantity !=0 ">Left to Print: {{remainingQuantity}}</div>

    <div *ngIf="product">
       <br>
        <app-label-view-selector
                  [labelID]           ="labelID"
                  (outputLabelSetting)="getLabelSetting($event)"
                  [setProduct]        ="product"
                  [labelImageHeight]  ="150"
                  >
        </app-label-view-selector>
    </div>

    <div *ngIf="isAppElectron || printingEnabled">
      <app-list-printers-electron
                                [printerName]="printerName"
                                (outputPrinterName)="getPrinterName($event)"
                                ></app-list-printers-electron>
      <div [formGroup]="printForm">
        <mat-form-field appearance="outline">
          <mat-label >Print Quantity</mat-label>
          <input matInput
                  type="number"
                  [(ngModel)] = "printQuantity"
                  formControlName="printQuantity"
                  class="form-control" >
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="isAppElectron || printingEnabled">
      <div class="grid-container">
        <button class="info-buttons"
                mat-raised-button color="primary"
                (click)="printSku()"><mat-icon>print</mat-icon>Sku </button>
        <button class="info-buttons" mat-raised-button color="primary"
                (click)="printSerial()"><mat-icon>print</mat-icon>Serial </button>
      </div>
    </div>
