<div  class="grid-container">
  <div  [formGroup]="searchForm"
        class="grid-item" >
    <mat-form-field appearance="outline" class="form-fields">
        <mat-label >Search Items</mat-label>
          <input
                  #input
                  matInput
                  type           ="text"
                  id             ="name"
                  formControlName="itemName">
    </mat-form-field>
  </div>

  <div class="grid-item">
    <button mat-button
      class="assign-button"
      (click)="listAll()"> <mat-icon>list</mat-icon>List All</button>
  </div>

  <button mat-button
     class="assign-button"
     (click)="sortList = !sortList"> <mat-icon>sort_by_alpha</mat-icon>Sort
  </button>

  <div class="grid-item">
    <button mat-button
      class="assign-button"
      (click)="addNew()"> <mat-icon>add</mat-icon>
      Add </button>
  </div>

  <mat-button-toggle-group
      (change)        = "filter($event)"
      [(ngModel)]     = "group">
      <mat-button-toggle class="discount-type-button"
                    [value]="item"
                    *ngFor="let item of groups" >
        {{item}}
      </mat-button-toggle>
  </mat-button-toggle-group>

</div>

<mat-divider></mat-divider>

<div class="grid-list-container">

  <div class="grid-list-dimensions" *ngIf="!sortList">
    <div *ngIf="value" class="loader">
      <mat-progress-bar mode="determinate" [value]="value"></mat-progress-bar>
    </div>
    <div>

    </div>
    <ag-grid-angular
          #agGrid
          [style]              ="'width: 100%; height: 100%; min-height:600px;'"
          id                   ="myGrid"
          [class]              ="agtheme"
          [columnDefs]         ="columnDefs"
          [defaultColDef]      ="defaultColDef"
          [gridOptions]        ="gridOptions"
          [rowSelection]       ="rowSelection"
          [frameworkComponents]="frameworkComponents"
          (selectionChanged)   ="onSelectionChanged($event)"
          (gridReady)          ="onGridReady($event)">
    </ag-grid-angular>
  </div>

  <div fxLayout="row"
       fxLayoutAlign="center center"
       >
    <blog-post-sort
                class="grid-list-item"
                [_Blogs]="_blogs"
                [group]="group">
    </blog-post-sort>
  </div>

</div>

<div style="flex-grow:0">
  <span id="selectedRows"> </span>
</div>
