<div fxLayout="column"
     fx-flex
     fx-layout-align="space-between"
     class="grid-container"
     *ngIf="searchForm" >

  <div  [formGroup]="searchForm"
        (ngSubmit)="refreshSearch()"
        class="grid-container-selectors">

    <div class="grid-item margin-2">
      <search-debounce-input
                [itemNameControl] = "'itemName'"
                [searchForm]      = "searchForm"
                (outPutMethod)    = "refreshSearchPhrase($event)">
        <div fieldDescription>
            <mat-icon>search</mat-icon>
            Search
        </div>
      </search-debounce-input>
    </div>

    <div class="grid-item">
      <mat-form-field appearance="outline">
        <mat-label>Sites</mat-label>
          <mat-select
                    type="text"
                    (selectionChange)="getAssignedSiteSelection($event)"
                    formControlNamename="selectedSiteID"
                  >
          <div *ngIf="(sites$ | async) as list">
            <mat-option *ngFor="let item of list" [value]="item.id">
              {{ item.name }}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="grid-item" *ngIf="(locations$ | async) as list">
      <mat-form-field appearance="outline">
        <mat-label>Locations</mat-label>
          <mat-select
                    type="text"
                    (selectionChange)="getLocation($event)"
                    formControlNamename="inventoryLocations"
                  >
          <mat-option [value]=0>All</mat-option>
          <mat-option *ngFor="let item of list" [value]="item.id">
            {{ item.name }}
          </mat-option>

        </mat-select>
      </mat-form-field>
    </div>

    <div class="grid-item">
      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
          <mat-select
                    type="text"
                    (selectionChange)="getInventoryStatus($event)"
                    formControlNamename="inventoryStatusID"
                  >
          <div *ngIf="inventoryStatusList">
            <mat-option *ngFor="let item of inventoryStatusList" [value]="item.name">
              {{ item.name }}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
        <button mat-button
          (click)="refreshSearch()"><mat-icon>refresh</mat-icon>Refresh
        </button>
    </div>

    <div>
        <button mat-button
              (click)="listAll()"><mat-icon>list</mat-icon>List All
      </button>
    </div>

    <div>
      <button class="info-buttons"
              mat-button
              (click)="addManifest()"><mat-icon>add</mat-icon> Add
      </button>
    </div>
  </div>
</div>

<mat-divider></mat-divider>

<div [class]="gridlist">
  <div>
      <div *ngIf="value"
          class="loader">
        <mat-progress-bar
            mode="determinate"
            [value]="value">
        </mat-progress-bar>
      </div>

      <!-- *ngIf ="columnDefs.length>0; else loading" -->
      <ag-grid-angular
            #agGrid
            *ngIf ="columnDefs.length>0; else loading"
            [style]              ="gridDimensions"
            id                   ="myGrid"
            [class]              ="agtheme"
            [columnDefs]         ="columnDefs"
            [defaultColDef]      ="defaultColDef"
            [gridOptions]        ="gridOptions"
            [rowSelection]       ="rowSelection"
            [frameworkComponents]="frameworkComponents"
            (selectionChanged)   ="onSelectionChanged($event)"
            (gridReady)          ="onGridReady($event)">
      </ag-grid-angular>

    </div>

    <div >
      <app-mainfest-filter class="history-panel">
      </app-mainfest-filter>
    </div>
</div>

<div style="flex-grow:0">
  <span id="selectedRows"> </span>
</div>

<ng-template #loading>
  <mat-spinner [diameter]="50"></mat-spinner>
</ng-template>
