<div [class]="formFieldClass"

     [formGroup]="searchForm">

  <mat-form-field [class]="formFieldClass"
                  appearance="outline"
                   >
  <mat-label class="form-background"><mat-icon>search</mat-icon>{{description}}</mat-label>

  <input
        #input
        matInput
        type             ="text"
        [class]          ="formFieldClass"
        placeholder      ="description"
        formControlName  ="itemLookup"
        [matAutocomplete]="auto">

    <mat-autocomplete panelWidth    = "auto"
                      #auto         = "matAutocomplete"
                      (optionSelected)="onChange($event)">

  <mat-option *ngFor="let item of (results$ | async)"
                [value]="item">
      {{item.name}}
  </mat-option>

  </mat-autocomplete>

  <button *ngIf="searchValueAssigned"
        matSuffix
        mat-icon-button aria-label="Clear"
        (click)="clearInput()">
      <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

</div>

<div      *ngIf="inputForm"
          hidden="true"
          [formGroup]="inputForm">
  <input  [formControlName]="productLookupField">
</div>
