<h2>Admin Panel</h2>

<mat-divider></mat-divider>

<ng-container *ngIf="user$| async as user">

  <div *ngIf="user.roles === 'admin' || user.roles === 'manager' ">


    <h2 matSubheader>Orders</h2>

    <button
          mat-raised-button
          color="primary"
          routerLinkActive="list-item-active"
          routerLink="/pos-order-search">
      <mat-icon>list</mat-icon>
      POS Orders
    </button>

    <button
          mat-raised-button
          color="primary"
          routerLinkActive="list-item-active"
          routerLink="/pos-order-search">
      <mat-icon>list</mat-icon>
      Order History
    </button>

    <button
          mat-raised-button
          color="primary"
          routerLinkActive="list-item-active"
          routerLink="/pos-order-search">
      <mat-icon>list</mat-icon>
      Payment History
    </button>


    <button
          mat-raised-button
          color="primary"
          routerLinkActive="app-order-items-list"
          routerLink="/app-order-items-list">
      <mat-icon>list</mat-icon>
      Item History
    </button>


    <h2 matSubheader>Metrc</h2>

    <button
          mat-raised-button
          color="primary"
          routerLinkActive="metrc-sales"
          routerLink="/metrc-sales">
      <mat-icon>list</mat-icon>
      Metrc Sales
    </button>

    <button
        mat-raised-button
        color="primary"
        routerLinkActive="package-list"
        routerLink="/package-list">
      <mat-icon>list</mat-icon>
      Packages
    </button>

    <button
        mat-raised-button
        color="primary"
        routerLinkActive="package-list"
        routerLink="/metrc-categories-list">
      <mat-icon>list</mat-icon>
      Categories
    </button>

    <button
        mat-raised-button
        color="primary"
        routerLinkActive="facilities-list"
        routerLink="/metrc-facilities-list">
      <mat-icon>list</mat-icon>
      Facilities
    </button>


    <h2 matSubheader>Inventory</h2>

      <button
              mat-raised-button
              color="primary"
              routerLinkActive="inventory-list"
              routerLink="/inventory-list">
          <mat-icon>list</mat-icon>
          List
      </button>

      <button
          mat-raised-button
          color="primary"
          routerLinkActive="inventory-locations"
          (click)="openLocations()">
        <mat-icon>location_on</mat-icon>
        Locations
      </button>



    <h2 matSubheader>Product Menu</h2>

    <button
            mat-raised-button
            color="primary"
            routerLinkActive="list-item-active"
            routerLink="/product-list-view">
        <mat-icon>list</mat-icon>
        Products
    </button>

    <button
            mat-raised-button
            color="primary"
            routerLinkActive="list-item-active"
            routerLink="/categorieslistview">
        <mat-icon>list</mat-icon>
        Categories
    </button>

    <button
            mat-raised-button
            color="primary"
            routerLinkActive="list-item-active"
            routerLink="/adminbrandslist">
        <mat-icon>list</mat-icon>
        Brands
    </button>

    <button
            mat-raised-button
            color="primary"
            routerLinkActive="list-item-active"
            routerLink="/adminbrandslist">
      <mat-icon>list</mat-icon>
      Prices
    </button>

    <button
            mat-raised-button
            color="primary"
            routerLinkActive="list-item-active"
            routerLink="/adminbrandslist">
        <mat-icon>list</mat-icon>
        Sizes
    </button>
  </div>

  <h2 matSubheader>Info</h2>

  <div id="tableInfo" >

    <h4>Assign this Device to a POS Terminal</h4>

    <button
            mat-raised-button
            color="primary"
            routerLinkActive="list-item-active" routerLink="/pos-list">
        <mat-icon>list</mat-icon>
        Terminals
    </button>

    <div *ngIf="currentPOS">
      <div id="POSOrderInfo">
        This computer assigned to this POS Terminal:   {{currentPOS}}
      </div>
    </div>

  </div>


</ng-container>

