:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 200px;
}

mat-drawer-container {
  height: 100%;
}

button, mat-raised-button {
  margin: .5rem .5rem .5rem .5rem;
  padding:  .5rem .5rem .5rem .5rem;
}

mat-drawer-content {
  padding: 20px;
}

.custom-card {
  background-color: gray;
  padding: 25px;
  margin-bottom: 25px;

}

.container {
  padding: 5px;
}

.uploaders {
  margin: 5px 5px 5px 5px;
}

button {
  width:155px;
}
