<div *ngIf="(bucket$ | async) as bucket"></div>
<div  class="mat-form-field"
      style="width:120px"
      [formGroup]="searchForm">
  <mat-form-field class="formFieldClass"
                  style="width:170px"
                  appearance="outline" >
    <mat-label class="form-background">
      <mat-icon>search</mat-icon><ng-content></ng-content>
    </mat-label>
    <input
            #input
            matInput
            type              ="text"
            class             ="input-field"
            placeholder       ="Product Lookup"
            formControlName   ="searchField"
            [matAutocomplete] ="auto">
      <mat-autocomplete panelWidth    = "auto"
                        #auto         = "matAutocomplete"
                        (optionSelected)="onChange($event)">
      <mat-option *ngFor="let item of (results$ | async)?.results"
                  [value]="item">

        <mat-card>
          <div class="flex-start-row ">
            <div>
              {{item.name}}
              <span *ngIf="showUOM && item?.unitDescription">
                ( {{item?.unitDescription}} )
              </span>
            </div>
            <div>
              <ng-container *ngTemplateOutlet="productImage,  context:  {$implicit: item}"></ng-container>
            </div>
          </div>
        </mat-card>
      </mat-option>
    </mat-autocomplete>

    <button   *ngIf="itemNameInput && itemNameInput.length>0"
          matSuffix
          mat-icon-button aria-label="Clear"
          (click)="clearInput()">
        <mat-icon>close</mat-icon>
    </button>

  </mat-form-field>
</div>

 <div hidden="true"
      *ngIf="formfieldValue"
      [formGroup]='formfieldValue'>
  <input formControlName="productID">
</div>

<ng-template #productImage let-item>
  <div class="product-image-container"
              *ngIf    ="item?.thumbnail && bucketName">

    <img
      loading="lazy"
      draggable="false"
      width="100%"
      [src]    ="item?.thumbnail || 'assets/images/placeholderimage.png'"
      onerror  = "this.src='assets/images/placeholderimage.png'"
      (error)  ="onImageError($event)"
      class    ="item-image"
      [alt]    ="item?.name">
  </div>

</ng-template>
