<div *ngIf="(action$  | async) as action"></div>
<div *ngIf="priceCategory$ | async"></div>
<div *ngIf="itemAction$ | async as item"></div>

<mat-card>
  <mat-card-title *ngIf="priceCategory">
    <mat-icon>edit</mat-icon> {{priceCategory?.name}}
    <mat-divider> </mat-divider>
  </mat-card-title>

  <mat-card-subtitle>

      <mat-icon *ngIf="saving">save</mat-icon>

      <div *ngIf="actionMessage">
        {{actionMessage}} <button mat-button (click)="actionMessage = null"><mat-icon>clear</mat-icon></button>
      </div>

      <div class="grid-simple-price-container grid-width" >

        <div *ngIf="!showMore">
          <button mat-button (click)="toggleShowMore()"><mat-icon>money</mat-icon>Show More Prices</button>
        </div>
        <div *ngIf="showMore">
          <button mat-button (click)="toggleShowMore()"><mat-icon>money</mat-icon>Show Less Prices</button>
        </div>

        <div *ngIf="!showTime">
          <button mat-button (click)="toggleShowTime()"><mat-icon>schedule</mat-icon>Schedule</button>
        </div>
        <div *ngIf="showTime">
          <button mat-button (click)="toggleShowTime()"><mat-icon>schedule</mat-icon>Schedule</button>
        </div>

        <div *ngIf="!showConversions">
          <button mat-button (click)="toggleShowConversion()"><mat-icon>convert</mat-icon>Conversions</button>
        </div>

        <div *ngIf="showConversions">
          <button mat-button (click)="toggleShowConversion()"><mat-icon>convert</mat-icon>Conversions</button>
        </div>

      </div>
      <div class="grid-simple-price-container grid-width" >


        <div>
          <button aria-label="Linked Info" mat-button (click)="toggleLinkedPrices = !toggleLinkedPrices"><mat-icon>keyboard_option_key</mat-icon>Linked Prices</button>
        </div>

        <div>
          <button mat-button (click)="toggleModifier()"><mat-icon>keyboard_option_key</mat-icon>Modifier</button>
        </div>

        <div>
          <button mat-button (click)="toggleWeightPrices()"><mat-icon>scale</mat-icon>Tiers</button>
        </div>


      </div>
        <!--  -->
      <div class="buttons-margin">
        <app-edit-buttons-standard
            (outputeupdateItem)     ="updateCategory($event)"
            (outputupdateItemExit)  ="updateCategoryExit($event)"
            (outputupdatedeleteItem)="deleteCategory($event)"
            (outputupdateonCancel)  ="onCancel($event)"
            (outputCopy)            ="copyItem($event)"
        ></app-edit-buttons-standard>
      </div>

    <mat-divider></mat-divider>

  </mat-card-subtitle>

  <mat-card-content>

    <div [formGroup]="inputForm">

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput
                type="text"
                formControlName="name"
                class="form-control" >
        </mat-form-field>
      </div>

      <form-select-list [searchForm]      = "inputForm"
                        [formFieldName]   ="'recmedOption'"
                        [list]            = "recOption"
                        [showActiveInactive]="true"
                        (selectionChange) = "selectRecMedOption($event)">
        <div>Med Rec Option</div>
      </form-select-list>

      <div class="grid-header-container">
        <div *ngIf="productPrices">
          <div formArrayName="productPrices"
               *ngFor="let item of productPrices.controls; let i = index;">

             <mat-card>
                <mat-card-subtitle>
                </mat-card-subtitle>
                <mat-card-content>

                <div  [formGroupName]="i" >

                  <div class="grid-simple-price-container">
                    <div>
                      <mat-form-field appearance="outline" class="prices-fields">
                        <mat-label >Retail</mat-label>
                        <input matInput
                              currencyMask
                              type="currency"
                              formControlName="retail"
                              class="form-control" >
                      </mat-form-field>
                    </div>

                    <div class="grid-2col-items">

                      <div class="unit-label"
                           *ngIf="!toggleSearchSize[i] && priceCategory?.productPrices ">
                        {{ priceCategory?.productPrices[i]?.unitType?.name }}
                      </div>

                      <div  *ngIf="!toggleSearchSize[i]">
                        <button mat-button
                                (click)="searchSize(i)">
                          <mat-icon>search</mat-icon>
                        </button>
                      </div>

                      <div  class="unit-lookup"
                            *ngIf="toggleSearchSize[i]  && priceCategory?.productPrices">

                        <div>
                          <unit-type-select
                              [inputForm]     ='inputForm'
                              [index]         ='i'
                              [outputType]    = "'priceLine'"
                              [productPrice]  ='priceCategory.productPrices[i]'
                              (itemSelect)    ='assignItem($event)'
                          ></unit-type-select>
                        </div>

                        <div>
                          <button mat-button (click)="openAddSize()">
                            <mat-icon>expand</mat-icon>
                          </button>
                        </div>

                        <div>
                          <button mat-button (click)="toggleSearchSize[i]=!toggleSearchSize[i]">
                            <mat-icon>close</mat-icon>
                          </button>
                        </div>

                        <div>
                          <button mat-button (click)="clearSize(i)">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </div>

                      </div>

                    </div>

                    <div>
                      <mat-form-field appearance="outline" class="prices-fields">
                        <mat-label >wholesale</mat-label>
                        <input matInput
                              type="text"
                              formControlName="wholeSale"
                              class="form-control" >
                      </mat-form-field>
                    </div>

                    <div>
                      <app-edit-buttons-standard
                        (outputupdatedeleteItem)= "deleteItem(item, i)"
                        (outputCopy)            = "copyItem(item)"
                        [hideExit]              = "true"
                        [enableAdd]             = "false"
                        [hideSave]              = "true"
                        ></app-edit-buttons-standard>
                    </div>

                  </div>

                  <div *ngIf="toggleLinkedPrices || (priceCategory?.productPrices && priceCategory?.productPrices.length>0
                                                      && (priceCategory?.productPrices.length > 0 && priceCategory?.productPrices[i]?.pizzaSize != 0
                                                          && priceCategory?.productPrices[i]?.pizzaSize != undefined) ) ">

                    <div *ngIf="sizeList">
                        <mat-form-field class="category-list" appearance="outline">
                          <mat-label>Linked Price</mat-label>
                          <mat-select
                                      type="number"
                                      formControlName = "pizzaSize"
                                      >
                              <mat-option *ngFor="let item of sizeList"
                                          [value]="item.id">
                                {{item?.name}}
                              </mat-option>
                          </mat-select>
                      </mat-form-field>
                    </div>

                  </div>

                  <div  *ngIf="showMore || showTime"
                         class="grid-price-time-container">
                        
                    <div  *ngIf="showMore"  class="grid-multiprice-container">
                 
                        <div>
                          <mat-form-field appearance="outline" class="prices-fields">
                            <mat-label >price1</mat-label>
                            <input matInput
                                  type="text"
                                  currencyMask
                                  formControlName="price1"
                                  class="form-control" >
                          </mat-form-field>
                        </div>
                        <div >
                          <mat-form-field appearance="outline" class="prices-fields">
                            <mat-label >price2</mat-label>
                            <input matInput
                                  type="text"
                                  currencyMask
                                  formControlName="price2"
                                  class="form-control" >
                          </mat-form-field>
                        </div>
                        <div >
                          <mat-form-field appearance="outline" class="prices-fields">
                            <mat-label >price3</mat-label>
                            <input matInput
                                  type="text"
                                  currencyMask
                                  formControlName="price3"
                                  class="form-control" >
                          </mat-form-field>
                        </div>
                        <div >
                          <mat-form-field appearance="outline" class="prices-fields">
                            <mat-label >price4</mat-label>
                            <input matInput
                                  type="text"
                                  currencyMask
                                  formControlName="price4"
                                  class="form-control" >
                          </mat-form-field>
                        </div>
                        <div >
                          <mat-form-field appearance="outline" class="prices-fields">
                            <mat-label >price5</mat-label>
                            <input matInput
                                  type="text"
                                  currencyMask
                                  formControlName="price5"
                                  class="form-control" >
                          </mat-form-field>
                        </div>
                        <div >
                          <mat-form-field appearance="outline" class="prices-fields">
                            <mat-label >price6</mat-label>
                            <input matInput
                                  type="text"
                                  currencyMask
                                  formControlName="price6"
                                  class="form-control" >
                          </mat-form-field>
                        </div>
                        <div >
                          <mat-form-field appearance="outline" class="prices-fields">
                            <mat-label >price7</mat-label>
                            <input matInput
                                  type="text"
                                  currencyMask
                                  formControlName="price7"
                                  class="form-control" >
                          </mat-form-field>
                        </div>
                        <div >
                          <mat-form-field appearance="outline" class="prices-fields">
                            <mat-label >price8</mat-label>
                            <input matInput
                                  type="text"
                                  currencyMask
                                  formControlName="price8"
                                  class="form-control" >
                          </mat-form-field>
                        </div>
                        <div >
                          <mat-form-field appearance="outline" class="prices-fields">
                            <mat-label >price9</mat-label>
                            <input matInput
                                  type="text"
                                  currencyMask
                                  formControlName="price9"
                                  class="form-control" >
                          </mat-form-field>
                        </div>
                        <div >
                          <mat-form-field appearance="outline" class="prices-fields">
                            <mat-label >price10</mat-label>
                            <input matInput
                                  type="text"
                                  currencyMask
                                  formControlName="price10"
                                  class="form-control" >
                          </mat-form-field>
                        </div>
                    </div>
                    
                  </div>

                  <div *ngIf="showWeightPrices" class="grid-time-container">
                    <mat-label class="label-description">
                      These are prices set to quantities of greater than the mulitpliers, multipliers are 1, 3.5, 7, 14, 28.
                      Enter the price equal to the quantity. The final value will be calculated based
                      on that quantity times price as the rate.
                      The rate will be recalcualted to match the quantity provided when over a grace amouunt entered in price settings.
                    </mat-label>

                    <div >
                      <mat-form-field appearance="outline" class="date-fields">
                        <mat-label >Gram Price</mat-label>
                        <input matInput
                              type="text"
                              formControlName="gramPrice"
                              class="form-control" >
                      </mat-form-field>
                    </div>

                    <div >
                      <mat-form-field appearance="outline" class="date-fields">
                        <mat-label >Eighth Price</mat-label>
                        <input matInput
                              type="text"
                              formControlName="eightPrice"
                              class="form-control" >
                      </mat-form-field>
                    </div>

                    <div >
                      <mat-form-field appearance="outline" class="date-fields">
                        <mat-label >Quarter Price</mat-label>
                        <input matInput
                              type="text"
                              formControlName="quarterPrice"
                              class="form-control" >
                      </mat-form-field>
                    </div>

                    <div >
                      <mat-form-field appearance="outline" class="date-fields">
                        <mat-label >Half Price</mat-label>
                        <input matInput
                              type="text"
                              formControlName="halfPrice"
                              class="form-control" >
                      </mat-form-field>
                    </div>

                    <div >
                      <mat-form-field appearance="outline" class="date-fields">
                        <mat-label >Ounce Price</mat-label>
                        <input matInput
                              type="text"
                              formControlName="ouncePrice"
                              class="form-control" >
                      </mat-form-field>
                    </div>
                  </div>

                  <div *ngIf="showConversions ||
                         priceCategory.productPrices &&
                        ((priceCategory?.productPrices.length > 0 && priceCategory?.productPrices[i]?.partMultiplyer != 1
                        && priceCategory?.productPrices[i]?.partMultiplyer != undefined) ||
                        (priceCategory?.productPrices.length > 0 && priceCategory?.productPrices[i]?.unitPartRatio !=1
                        && priceCategory?.productPrices[i]?.partMultiplyer != undefined)) "
                       class="grid-conversion-container">
                    <mat-card>
                      <div>
                        Conversions multiply values against the primary count.
                        <ul>
                          <li> Multiplier is used when the quantity of the item is greater or less than 1 of the primary item. </li>
                          <li> Unit Ratio is the amount of the item that is part of a recipe. </li>
                        </ul>
                      </div>
                      <mat-card-content>
                        <div class="grid-conversion-items">
                          <div>
                            <mat-form-field appearance="outline" class="conversion-fields">
                              <mat-label >Multiplier</mat-label>
                              <input matInput
                                    type="text"
                                    formControlName="partMultiplyer"
                                    class="form-control" >
                            </mat-form-field>
                          </div>

                        <div>
                          <mat-form-field appearance="outline" class="conversion-fields">
                            <mat-label >Unit Ratio (recipes)</mat-label>
                            <input matInput
                                  type="text"
                                  formControlName="unitPartRatio"
                                  class="form-control" >
                          </mat-form-field>
                        </div>
                      </div>

                      </mat-card-content>
                    </mat-card>
                  </div>


                  <div *ngIf="showPriceTiers  || (priceCategory?.productPrices && priceCategory?.productPrices.length>0
                                                  && (priceCategory?.productPrices[i]?.tierPriceGroup != 0 &&
                                                      priceCategory?.productPrices[i]?.tierPriceGroup != undefined) )" >
                    <span>

                      <mat-form-field appearance="outline">
                      <mat-label>Tier</mat-label>
                      <mat-select
                                  type="number"
                                  formControlName = "tierPriceGroup"
                                  name="tierPriceGroup" >
                        <div *ngIf="priceTiers as list" >
                            <mat-option [value]="0"><mat-icon>clear</mat-icon></mat-option>
                            <mat-option *ngFor="let item of list"
                                        [value]="item.id">
                              {{item.name}}
                            </mat-option>
                          </div>
                        </mat-select>
                      </mat-form-field>
                    </span>
                    <span *ngIf="priceCategory?.productPrices[i]?.tierPriceGroup as itemID">
                      <button mat-button
                        (click)="openPriceTier(itemID)">
                        <mat-icon>expand</mat-icon>
                      </button>
                    </span>
                  </div>

                  <div *ngIf="priceCategory?.productPrices != undefined &&
                              (showModifiers || ( priceCategory?.productPrices[i]?.priceType != 0 &&
                                                  priceCategory?.productPrices[i]?.priceType != undefined )
                                                  ) &&
                              priceModifierOptions as list ">
                    <mat-form-field class="category-list" appearance="outline">
                      <mat-label>Modiifer Option</mat-label>
                      <mat-select
                                  formControlName = "priceType"
                                  name="priceType">
                          <mat-option *ngFor="let item of list" [value]="item.id">
                              {{item.name}}
                          </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                </div>
              </mat-card-content>
            </mat-card>
          </div>

          <button mat-button
                  class="button"
                  color="primary"
                  (click)="addPrice()">
          <mat-icon>add</mat-icon>Add</button>

        </div>
      </div>

    </div>
  </mat-card-content>
</mat-card>

<ng-template #linkedPricesView let-i>
  <!-- hey
  {{i.value | json}} -->
  <!-- <linked-price-selector [inputForm]="i"
                         [fieldName]="'pizzaSize'">Linked Size Value
    </linked-price-selector> -->
</ng-template>
<!--
<ng-template #contentTemplate let-event>
  <app-custom-popover [contentTemplate]="contentTemplate">
  <mat-label >Linked Prices are to link this value to associated items with this item. An example would be a Pizza. izza could have several
    prices. The Large could use Linked Price 1, the Medium Linked Price 2, and the Small could use Linked Price 3. The toppings would also have 3 prices with
    the same features applied, where the large topping would have linked price 1 etc.</mat-label>
  </app-custom-popover>
</ng-template> -->

<!-- <app-popover-trigger [contentTemplate]="contentTemplate">
  <button aria-label="Custom Popover example">
    Hover me
  </button>
</app-popover-trigger>

<ng-template #contentTemplate let-event>
  <app-custom-popover [contentTemplate]="contentTemplate">
    <h4>Custom Popover</h4>
    <p>Mouse X: {{event.clientX}}</p>
    <p>Mouse Y: {{event.clientY}}</p>
  </app-custom-popover>
</ng-template> -->
