<div *ngIf="(action$  | async) as action"></div>
<mat-card>
  <mat-card-title *ngIf="priceCategory">
    <mat-icon>edit</mat-icon> {{priceCategory?.name}}
    <mat-divider> </mat-divider>
  </mat-card-title>

  <mat-card-subtitle>
      <div *ngIf="priceCategory$ | async"></div>
      <mat-icon *ngIf="saving">save</mat-icon>

      <div *ngIf="itemAction$ | async as item">
      </div>

      <div *ngIf="actionMessage">
        {{actionMessage}} <button mat-button (click)="actionMessage = null"><mat-icon>clear</mat-icon></button>
      </div>

      <div class="grid-simple-price-container grid-width" >

        <div *ngIf="!showMore">
          <button mat-button (click)="toggleShowMore()"><mat-icon>money</mat-icon>Show More Prices</button>
        </div>
        <div *ngIf="showMore">
          <button mat-button (click)="toggleShowMore()"><mat-icon>money</mat-icon>Show Less Prices</button>
        </div>

        <div *ngIf="!showTime">
          <button mat-button (click)="toggleShowTime()"><mat-icon>schedule</mat-icon>Schedule</button>
        </div>
        <div *ngIf="showTime">
          <button mat-button (click)="toggleShowTime()"><mat-icon>schedule</mat-icon>Schedule</button>
        </div>

        <div *ngIf="!showConversions">
          <button mat-button (click)="toggleShowConversion()"><mat-icon>convert</mat-icon>Conversions</button>
        </div>

        <div *ngIf="showConversions">
          <button mat-button (click)="toggleShowConversion()"><mat-icon>convert</mat-icon>Conversions</button>
        </div>

        <div>
          <button mat-button (click)="toggleWeightPrices()"><mat-icon>scale</mat-icon>Tiers</button>
        </div>

        <div>
          <button mat-button (click)="toggleModifier()"><mat-icon>keyboard_option_key</mat-icon>Modifier</button>
        </div>

      </div>

      <!--  -->
      <div class="buttons-margin">
        <app-edit-buttons-standard
            (outputeupdateItem)     ="updateCategory($event)"
            (outputupdateItemExit)  ="updateCategoryExit($event)"
            (outputupdatedeleteItem)="deleteCategory($event)"
            (outputupdateonCancel)  ="onCancel($event)"
            (outputCopy)            ="copyItem($event)"
        ></app-edit-buttons-standard>
      </div>

    <mat-divider></mat-divider>

  </mat-card-subtitle>

  <mat-card-content>

    <div [formGroup]="inputForm">

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput
                type="text"
                formControlName="name"
                class="form-control" >
        </mat-form-field>
      </div>

      <form-select-list [searchForm]      = "inputForm"
                        [formFieldName]   ="'recmedOption'"
                        [list]            = "recOption"
                        [showActiveInactive]="true"
                        (selectionChange) = "selectRecMedOption($event)">
        <div>Med Rec Option</div>
      </form-select-list>

      <div class="grid-header-container">
        <div *ngIf="productPrices">
          <div formArrayName="productPrices"
               *ngFor="let item of productPrices.controls; let i = index;">

             <mat-card>
                <mat-card-subtitle>
                </mat-card-subtitle>
                <mat-card-content>

                <div  [formGroupName]="i" >

                  <div class="grid-simple-price-container">
                    <div>
                      <mat-form-field appearance="outline" class="prices-fields">
                        <mat-label >Retail</mat-label>
                        <input matInput
                              currencyMask
                              type="currency"
                              formControlName="retail"
                              class="form-control" >
                      </mat-form-field>
                    </div>

                    <div class="grid-2col-items">

                      <div class="unit-label"
                           *ngIf="!toggleSearchSize[i] && priceCategory?.productPrices ">
                        {{ priceCategory?.productPrices[i]?.unitType?.name }}
                      </div>

                      <div  *ngIf="!toggleSearchSize[i]">
                        <button mat-button
                                (click)="searchSize(i)">
                          <mat-icon>search</mat-icon>
                        </button>
                      </div>

                      <div  class="unit-lookup"
                            *ngIf="toggleSearchSize[i]  && priceCategory?.productPrices">

                        <div>
                          <unit-type-select
                              [inputForm]     ='inputForm'
                              [index]         ='i'
                              [outputType]    = "'priceLine'"
                              [productPrice]  ='priceCategory.productPrices[i]'
                              (itemSelect)    ='assignItem($event)'
                          ></unit-type-select>
                        </div>

                        <div>
                          <button mat-button (click)="openAddSize()">
                            <mat-icon>expand</mat-icon>
                          </button>
                        </div>

                        <div>
                          <button mat-button (click)="toggleSearchSize[i]=!toggleSearchSize[i]">
                            <mat-icon>close</mat-icon>
                          </button>
                        </div>

                      </div>

                    </div>

                    <div>
                      <mat-form-field appearance="outline" class="prices-fields">
                        <mat-label >wholesale</mat-label>
                        <input matInput
                              type="text"
                              formControlName="wholeSale"
                              class="form-control" >
                      </mat-form-field>
                    </div>

                    <div>
                      <app-edit-buttons-standard
                        (outputupdatedeleteItem)= "deleteItem(item, i)"
                        (outputCopy)            = "copyItem(item)"
                        [hideExit]              = "true"
                        [enableAdd]             = "false"
                        [hideSave]              = "true"
                        ></app-edit-buttons-standard>
                    </div>

                  </div>

                  <div  *ngIf="showMore || showTime"
                        class="grid-price-time-container">
                    <div  *ngIf="showMore"
                          class=" grid-multiprice-container">

                      <div   *ngIf="showMore">
                        <mat-form-field appearance="outline" class="prices-fields">
                          <mat-label >price1</mat-label>
                          <input matInput
                                type="text"
                                currencyMask
                                formControlName="price1"
                                class="form-control" >
                        </mat-form-field>
                      </div>
                      <div   *ngIf="showMore">
                        <mat-form-field appearance="outline" class="prices-fields">
                          <mat-label >price2</mat-label>
                          <input matInput
                                type="text"
                                currencyMask
                                formControlName="price2"
                                class="form-control" >
                        </mat-form-field>
                      </div>
                      <div   *ngIf="showMore">
                        <mat-form-field appearance="outline" class="prices-fields">
                          <mat-label >price3</mat-label>
                          <input matInput
                                type="text"
                                currencyMask
                                formControlName="price3"
                                class="form-control" >
                        </mat-form-field>
                      </div>
                      <div   *ngIf="showMore">
                        <mat-form-field appearance="outline" class="prices-fields">
                          <mat-label >price4</mat-label>
                          <input matInput
                                type="text"
                                currencyMask
                                formControlName="price4"
                                class="form-control" >
                        </mat-form-field>
                      </div>

                      <div   *ngIf="showMore">
                        <mat-form-field appearance="outline" class="prices-fields">
                          <mat-label >price5</mat-label>
                          <input matInput
                                type="text"
                                currencyMask
                                formControlName="price5"
                                class="form-control" >
                        </mat-form-field>
                      </div>

                      <div   *ngIf="showMore">
                        <mat-form-field appearance="outline" class="prices-fields">
                          <mat-label >price6</mat-label>
                          <input matInput
                                type="text"
                                currencyMask
                                formControlName="price6"
                                class="form-control" >
                        </mat-form-field>
                      </div>

                      <div   *ngIf="showMore">
                        <mat-form-field appearance="outline" class="prices-fields">
                          <mat-label >price7</mat-label>
                          <input matInput
                                type="text"
                                currencyMask
                                formControlName="price7"
                                class="form-control" >
                        </mat-form-field>
                      </div>

                      <div   *ngIf="showMore">
                        <mat-form-field appearance="outline" class="prices-fields">
                          <mat-label >price8</mat-label>
                          <input matInput
                                type="text"
                                currencyMask
                                formControlName="price8"
                                class="form-control" >
                        </mat-form-field>
                      </div>

                      <div *ngIf="showMore">
                        <mat-form-field appearance="outline" class="prices-fields">
                          <mat-label >price9</mat-label>
                          <input matInput
                                type="text"
                                currencyMask
                                formControlName="price9"
                                class="form-control" >
                        </mat-form-field>
                      </div>

                      <div *ngIf="showMore">
                        <mat-form-field appearance="outline" class="prices-fields">
                          <mat-label >price10</mat-label>
                          <input matInput
                                type="text"
                                currencyMask
                                formControlName="price10"
                                class="form-control" >
                        </mat-form-field>
                      </div>

                    </div>

                     <div *ngIf="showTime  ||
                              (priceCategory.productPrices &&
                              priceCategory?.productPrices.length > 0 &&
                              priceCategory?.productPrices[i]?.startDate != undefined ||
                              priceCategory?.productPrices[i]?.specialDatePrice != undefined ||
                              priceCategory?.productPrices[i]?.endDate != undefined ||
                              priceCategory?.productPrices[i]?.startTime != undefined ||
                              priceCategory?.productPrices[i]?.endTime != undefined) "
                          class="grid-time-container">

                      <div>
                        Time & Date based price will automatically apply when dates or time assigned.
                      </div>

                      <div *ngIf="showTime">
                        <mat-form-field appearance="outline" class="date-fields">
                          <mat-label >Price</mat-label>
                          <input matInput
                                type="number"
                                formControlName="specialDatePrice"
                                class="form-control" >
                        </mat-form-field>
                      </div>

                      <div *ngIf="showTime">
                        <mat-form-field appearance="outline" class="date-fields">
                          <mat-label>Start Date</mat-label>
                          <input matInput
                                formControlName="startDate"
                                [matDatepicker]="picker">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div *ngIf="showTime">
                        <mat-form-field appearance="outline" class="date-fields">
                          <mat-label>End Date</mat-label>
                          <input matInput
                                formControlName="endDate"
                                [matDatepicker]="picker">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div *ngIf="showTime">
                        <mat-form-field appearance="outline" class="date-fields">
                          <mat-label >Start</mat-label>
                          <input matInput
                                type="time"
                                formControlName="startTime"
                                class="form-control" >
                        </mat-form-field>
                      </div>
                      <div *ngIf="showTime">
                        <mat-form-field appearance="outline" class="date-fields">
                          <mat-label >End</mat-label>
                          <input matInput
                                type="time"
                                formControlName="endTime"
                                class="form-control" >
                        </mat-form-field>
                      </div>

                    </div>
                  </div>

                  <div  *ngIf="showMore || showTime"
                         class="grid-price-time-container">
                    <div  *ngIf="showMore"  class="grid-multiprice-container">

                      <div   *ngIf="showMore">
                        <mat-form-field appearance="outline" class="prices-fields">
                          <mat-label >price1</mat-label>
                          <input matInput
                                type="text"
                                currencyMask
                                formControlName="price1"
                                class="form-control" >
                        </mat-form-field>
                      </div>
                      <div   *ngIf="showMore">
                        <mat-form-field appearance="outline" class="prices-fields">
                          <mat-label >price2</mat-label>
                          <input matInput
                                type="text"
                                currencyMask
                                formControlName="price2"
                                class="form-control" >
                        </mat-form-field>
                      </div>
                      <div   *ngIf="showMore">
                        <mat-form-field appearance="outline" class="prices-fields">
                          <mat-label >price3</mat-label>
                          <input matInput
                                type="text"
                                currencyMask
                                formControlName="price3"
                                class="form-control" >
                        </mat-form-field>
                      </div>
                      <div   *ngIf="showMore">
                        <mat-form-field appearance="outline" class="prices-fields">
                          <mat-label >price4</mat-label>
                          <input matInput
                                type="text"
                                currencyMask
                                formControlName="price4"
                                class="form-control" >
                        </mat-form-field>
                      </div>

                      <div   *ngIf="showMore">
                        <mat-form-field appearance="outline" class="prices-fields">
                          <mat-label >price5</mat-label>
                          <input matInput
                                type="text"
                                currencyMask
                                formControlName="price5"
                                class="form-control" >
                        </mat-form-field>
                      </div>

                      <div   *ngIf="showMore">
                        <mat-form-field appearance="outline" class="prices-fields">
                          <mat-label >price6</mat-label>
                          <input matInput
                                type="text"
                                currencyMask
                                formControlName="price6"
                                class="form-control" >
                        </mat-form-field>
                      </div>

                      <div   *ngIf="showMore">
                        <mat-form-field appearance="outline" class="prices-fields">
                          <mat-label >price7</mat-label>
                          <input matInput
                                type="text"
                                currencyMask
                                formControlName="price7"
                                class="form-control" >
                        </mat-form-field>
                      </div>

                      <div   *ngIf="showMore">
                        <mat-form-field appearance="outline" class="prices-fields">
                          <mat-label >price8</mat-label>
                          <input matInput
                                type="text"
                                currencyMask
                                formControlName="price8"
                                class="form-control" >
                        </mat-form-field>
                      </div>

                      <div *ngIf="showMore">
                        <mat-form-field appearance="outline" class="prices-fields">
                          <mat-label >price9</mat-label>
                          <input matInput
                                type="text"
                                currencyMask
                                formControlName="price9"
                                class="form-control" >
                        </mat-form-field>
                      </div>

                      <div *ngIf="showMore">
                        <mat-form-field appearance="outline" class="prices-fields">
                          <mat-label >price10</mat-label>
                          <input matInput
                                type="text"
                                currencyMask
                                formControlName="price10"
                                class="form-control" >
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="showWeightPrices" class="grid-time-container">
                    <div>
                      These are prices set to quantities of greater than the mulitpliers, multipliers are 1, 3.5, 7, 14, 28.
                      Enter the price equal to the quantity. The final value will be calculated based
                      on that quantity times price as the rate.
                      The rate will be recalcualted to match the quantity provided when over a grace amouunt entered in price settings.
                    </div>
                    <div></div>

                    <div >
                      <mat-form-field appearance="outline" class="date-fields">
                        <mat-label >Gram Price</mat-label>
                        <input matInput
                              type="text"
                              formControlName="gramPrice"
                              class="form-control" >
                      </mat-form-field>
                    </div>

                    <div >
                      <mat-form-field appearance="outline" class="date-fields">
                        <mat-label >Eighth Price</mat-label>
                        <input matInput
                              type="text"
                              formControlName="eightPrice"
                              class="form-control" >
                      </mat-form-field>
                    </div>

                    <div >
                      <mat-form-field appearance="outline" class="date-fields">
                        <mat-label >Quarter Price</mat-label>
                        <input matInput
                              type="text"
                              formControlName="quarterPrice"
                              class="form-control" >
                      </mat-form-field>
                    </div>

                    <div >
                      <mat-form-field appearance="outline" class="date-fields">
                        <mat-label >Half Price</mat-label>
                        <input matInput
                              type="text"
                              formControlName="halfPrice"
                              class="form-control" >
                      </mat-form-field>
                    </div>

                    <div >
                      <mat-form-field appearance="outline" class="date-fields">
                        <mat-label >Ounce Price</mat-label>
                        <input matInput
                              type="text"
                              formControlName="ouncePrice"
                              class="form-control" >
                      </mat-form-field>
                    </div>
                  </div>

                  <div *ngIf="showConversions ||
                         priceCategory.productPrices &&
                        ((priceCategory?.productPrices.length > 0 && priceCategory?.productPrices[i]?.partMultiplyer != 1
                        && priceCategory?.productPrices[i]?.partMultiplyer != undefined) ||
                        (priceCategory?.productPrices.length > 0 && priceCategory?.productPrices[i]?.unitPartRatio !=1
                        && priceCategory?.productPrices[i]?.partMultiplyer != undefined)) "
                       class="grid-conversion-container">
                    <mat-card>
                      <div>
                        Conversions multiply values against the primary count.
                        <ul>
                          <li> Multiplier is used when the quantity of the item is greater or less than 1 of the primary item. </li>
                          <li> Unit Ratio is the amount of the item that is part of a recipe. </li>
                        </ul>
                      </div>
                      <mat-card-content>
                        <div class="grid-conversion-items">
                          <div>
                            <mat-form-field appearance="outline" class="conversion-fields">
                              <mat-label >Multiplier</mat-label>
                              <input matInput
                                    type="text"
                                    formControlName="partMultiplyer"
                                    class="form-control" >
                            </mat-form-field>
                          </div>

                        <div>
                          <mat-form-field appearance="outline" class="conversion-fields">
                            <mat-label >Unit Ratio (recipes)</mat-label>
                            <input matInput
                                  type="text"
                                  formControlName="unitPartRatio"
                                  class="form-control" >
                          </mat-form-field>
                        </div>
                      </div>

                      </mat-card-content>
                    </mat-card>

                  </div>


                  <div *ngIf="showPriceTiers  || (priceCategory?.productPrices && priceCategory?.productPrices.length>0
                                                  && (priceCategory?.productPrices[i]?.tierPriceGroup != 0 &&
                                                      priceCategory?.productPrices[i]?.tierPriceGroup != undefined) )" >
                    <span>
                      <mat-form-field appearance="outline">
                        <mat-label>Tier</mat-label>
                      <mat-select
                                  type="number"
                                  formControlName = "tierPriceGroup"
                                  name="tierPriceGroup" >
                        <div *ngIf="priceTiers as list" >
                            <mat-option [value]="0"><mat-icon>clear</mat-icon></mat-option>
                            <mat-option *ngFor="let item of list"
                                        [value]="item.id">
                              {{item.name}}
                            </mat-option>
                          </div>
                        </mat-select>
                      </mat-form-field>
                    </span>
                    <span *ngIf="priceCategory?.productPrices[i]?.tierPriceGroup as itemID">
                      <button mat-button
                        (click)="openPriceTier(itemID)">
                        <mat-icon>expand</mat-icon>
                      </button>
                    </span>
                  </div>

                  <div *ngIf="(showModifiers || ( priceCategory?.productPrices[i]?.priceType != 0 &&
                                                  priceCategory?.productPrices[i]?.priceType != undefined )
                                                  ) &&
                                                 priceModifierOptions as list ">
                    <mat-form-field class="category-list" appearance="outline">
                      <mat-label>Modiifer Option</mat-label>
                      <mat-select
                                  formControlName = "priceType"
                                  name="priceType">
                          <mat-option *ngFor="let item of list" [value]="item.id">
                              {{item.name}}
                          </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                </div>
              </mat-card-content>
            </mat-card>
          </div>

          <button mat-button
                  class="button"
                  color="primary"
                  (click)="addPrice()">
          <mat-icon>add</mat-icon>Add</button>

        </div>
      </div>

    </div>
  </mat-card-content>
</mat-card>
