// body{ overflow-x: hidden;}

.button {
  margin: 5px;
  width: 100px;
}

.grid-header {
  display: grid;
  grid-template-columns: auto 150px;
  gap: 10px;
  margin: 5px;
}

mat-form-field {
  margin: 5px;
}
