<mat-card>
  <mat-card-title>
    <h1>Flat Tax Rate</h1>
  </mat-card-title>
  <mat-card-subtitle>
    <div class="grid-header">
      <div>
        <mat-label>Enter the range and fee that will apply to this group of items. Associating this tax rate with more than one item type will group them all together.</mat-label>
      </div>

      <div>
        <div>
          <button  mat-raised-button
                  class="button"
                  color="primary"
                  (click)="submitRate()">
            <mat-icon>save</mat-icon>Save</button>
        </div>

        <div>
          <button  mat-raised-button
                    color="primary"
                    class="button"
                    (click)="delete()">
            <mat-icon>delete</mat-icon>Delete</button>
        </div>
      </div>


    </div>
  </mat-card-subtitle>

  <mat-card-content>
    <div [formGroup]="inputForm">

        <div >
          <mat-form-field appearance="outline">
            <mat-label>Group Name</mat-label>
            <input matInput
                    type             ="text"
                    formControlName  ="name"
                    class="form-control" >
            </mat-form-field>
        </div>


        <div  >
            <mat-divider></mat-divider>
            <mat-label>Ranges may have different fee values, the fee value is the total value for the order, not cumulative.</mat-label>

            <div>
              <button class="button"
                      mat-raised-button
                      color="primary"
                      (click)="addTaxValueGroup()">
                      <mat-icon>add</mat-icon>Range</button>
          </div>
        </div>

        <div formArrayName="flatRateTaxValues" *ngFor="let f of flatRateTaxValues.controls; let i = index"  >
            <div [formGroupName]="i" >

                <div >
                  <mat-form-field appearance="outline">
                    <mat-label>Start Value</mat-label>
                        <input matInput
                        type                ="text"
                        formControlName     ="rateStart"
                        name                ="rateStart"
                        class               ="form-control"
                        (blur)="transformPriceAmount($event)" >
                  </mat-form-field>
                </div>

                <div >
                  <mat-form-field appearance="outline">
                    <mat-label>End Value</mat-label>
                        <input matInput
                        type               ="text"
                        formControlName    ="rateEnd"
                        name               ="rateEnd"
                        class              ="form-control"
                        (blur)="transformPriceAmount($event)"
                      >
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Fee</mat-label>
                        <input matInput
                        type               ="text"
                        formControlName    ="fee"
                        name               ="fee"
                        class="form-control"
                        (blur)="transformPriceAmount($event)" >
                  </mat-form-field>
                </div>

                <button mat-raised-button
                        color="primary"
                        class="button"
                        (click)="deleteTaxValue(i)" ><mat-icon>delete</mat-icon></button>
            </div>

        </div>

    </div>
  </mat-card-content>
</mat-card>
