<div *ngIf="subGroup" class="container"  [@.disabled]="androidApp">
  <mat-expansion-panel  [expanded] = "accordionStep === index"
                        (opened)   = "setStep(index)"
                        hideToggle>

    <!-- {{subGroup | json}} -->
    <mat-expansion-panel-header class="mat-expansion-panel-header" (click)="setAccordionStep(index)">
      <mat-panel-title style="padding-top:0px;padding-bottom:1px">
          <span *ngIf="accordionStep != index">
            <mat-icon>unfold_more</mat-icon>
          </span>
        
          <div class="ps-flex-group-nowrap">
            <div class="sub-title">{{subGroup?.name}}</div>
            <div>
              <button mat-button
              color="primary"
              (click)="prevStep('true')">Previous</button>
            </div>
            <div>
              <button mat-button
                color="primary"
                (click)="nextStep('true')">Next</button>
            </div>
          </div>
      </mat-panel-title>

      <mat-panel-description class="mat-panel-description">

        <div class="flex-grid-column">
          <div  *ngIf="accordionStep === index" class="panel-description" [innerHTML]="subGroup?.instructions"></div>

          <div   class="panel-description font-bold"  *ngIf="accordionStep === index && subGroup.minQuantity && subGroup.minQuantity> 0">
             Select at least  {{subGroup?.minQuantity}} item{{subGroup?.maxQuantity > 1 ? 's' : ''}}.
            <span *ngIf="subGroup.maxQuantity && subGroup.maxQuantity> 1"> {{subGroup?.maxQuantity}} max.  </span>
          </div>

          <div  class="panel-description  font-bold" class="margin-left-20px" class="margin-left-20px" *ngIf="accordionStep === index &&
            subGroup.minQuantity && subGroup.minQuantity == 0 && subGroup.maxQuantity && subGroup.maxQuantity> 0">
            Select up to  {{subGroup?.maxQuantity}} item{{subGroup?.maxQuantity > 1 ? 's' : ''}}.
          </div>
 
          <div *ngIf ="imageURL" class="image">
            <img class="image" [src]="imageURL">
          </div>
        </div>

      </mat-panel-description>

    </mat-expansion-panel-header>

    <mat-action-row  class="mat-action-row">

      <ng-container
        [ngTemplateOutlet]="navButtons">
      </ng-container>
    
    </mat-action-row>

    <div class='grid'>
      <div class='grid'>
        <div *ngIf="itemOptions">
          <mat-button-toggle-group
                  class="mat-button-toggle-group"
                  name="type"
                  [(ngModel)]="itemOption">
            <mat-button-toggle
                  class="mat-button-toggle"
                  *ngFor="let item of itemOptions"
                  [value]="item.id">
              {{ item?.name }}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div>
          Features - for each item you select.
          <div class='flex-grid-row' >
            <div *ngFor="let item of itemPropertyList">
              <button mat-raised-button
                      class="mod-button"
                      color="accent"
                      (click)="addtoDescriptionsItems(item)" >
                  {{ item }}
                </button>
            </div>
          </div>
        </div>

      </div>


      <div *ngIf="itemOption && itemSelected && itemSelected.name" >
        Selected  {{itemSelected?.name}}
      </div>
    </div>

    <div  class="grid-items"  >
      <div *ngFor="let item of subGroup.promptMenuItems;
                                      let i = index;">
        <ng-container
          [ngTemplateOutlet]="getPromptItemView(item)"
          [ngTemplateOutletContext]="{$implicit: item}">
        </ng-container>
      </div>
    </div>

  </mat-expansion-panel>
</div>

<ng-template #navButtons>
  <div class="ps-flex-group-nowrap">
    <div>
      <button mat-button
      color="primary"
      (click)="prevStep('true')">Previous</button>
    </div>
    <div>
      <button mat-button
        color="primary"
        (click)="nextStep('true')">Next</button>
    </div>
  </div>
</ng-template>

<ng-template #promptMenuItemView let-item>
  <prompt-panel-menu-item
    [phoneDevice]    ="phoneDevice"
    [promptMenuItem] = "item"
    [index]          = "index"
    [itemOption]     = 'itemOption'
    [itemPropertySelected]="itemPropertySelected"
    (outPutClearSelected) ="clearSelectedItem($event)"
    (resetItemOption)     = "resetItemOption($event)"
    (outputNextStep)      = "nextStep('true')"
    (outputPrevStep)      = "prevStep('true')">
  </prompt-panel-menu-item>
</ng-template>
