@import "/src/mixins.scss";

.mat-expansion-panel-header {
  padding: 0px;
}

.mat-panel-description {
  @include for-phone-only {
    width: 95vw;
  }
}

.panel-description {
  font-weight:600;
  margin-left:20px;
  font-size: 1.2em;
  @include for-phone-only {
    margin-left:5px;
    font-size: 1em;
  }
}


.mat-action-row {
  place-content: start;
}

.mat-button-toggle-group {
  width: 95%;
  margin: 5px;
  border: 0px;
}

.sub-title  {
   margin-left:20px;
   font-size: 1.4em;
   font-weight:400;
   width: 200px;
  @include for-phone-only {
    margin-left : 10px;
    font-size   : 1.1em;
    font-weight : 400;
    width: 150px;
  }
}

.mat-button-extra-toggle {
  background-color: #d4beba;
  color: #140c0c;
  width : 105px  !important;
  height: 60px;
  margin: 5px;
  font-size: 1.2em;
  font-weight: 600;

  @include for-phone-only {
    margin-left : 10px;
    font-weight : 400;
  }
}

.mod-button {
  width : 105px  !important;
  height: 60px;
  margin: 5px;
  font-size: 1.2em;
  font-weight: 600;
}


.button-toggle, .mat-button-toggle {
  color: #140c0c;
  background-color: #d4beba;
  width : 85px;
  height: 60px;
  margin: 10px;
  font-size: 1.2em;
  font-weight: 600;

  @include for-phone-only {
    margin-left : 10px;
    font-weight : 400;
  }
}

.grid-items {
  max-height: 400px;
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
  overflow-y: auto;
  grid-template-columns: repeat( auto-fit, minmax(105px, 1fr) );
  padding:3px;

  @include for-phone-only {
    // max-height: 400px;
    max-height:fit-content;
    display: grid;
    grid-auto-flow: row;
    gap: 5px;
    overflow-y: auto;
    grid-template-columns: repeat( auto-fit, minmax(105px, 1fr) );
    padding:3px;
    max-width: 90vw;
  }

}

.grid-item {
  // max-width: 225px;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

  @include for-phone-only {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 90vw;
  }
}

.option-buttons {
  --gap: 5px;
  display: grid;
  gap: var(--gap);
  grid-auto-flow: row;
  grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );

  @include for-phone-only {
    --gap: 10px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: 75px 1f;
  }
}
