<div *ngIf="subGroup" class="container">
  <mat-expansion-panel  [expanded] = "accordionStep === index"
                        (opened)   = "setStep(index)"
                        hideToggle>
    <mat-expansion-panel-header (click)="setAccordionStep(index)">
      <mat-panel-title>
          <span *ngIf="accordionStep != index">
            <mat-icon>unfold_more</mat-icon>
          </span>
          <h4>
            <div class="margin-left-20px" style="font-size: 1.4em;font-weight:400">{{subGroup?.name}}</div>
          </h4>

      </mat-panel-title>

      <mat-panel-description>

        <div class="flex-grid-column">
          <div  style="font-size: 1.2em;font-weight:400" class="margin-left-20px" [innerHTML]="subGroup?.instructions"></div>
          <div  style="font-size: 1.2em;font-weight:400" class="margin-left-20px" class="margin-left-20px" *ngIf="subGroup.minQuantity && subGroup.minQuantity> 0">
            You must select at least this many: {{subGroup?.minQuantity}}
          </div>
          <div style="font-size: 1.2em;font-weight:400" class="margin-left-20px" class="margin-left-20px" *ngIf="subGroup.maxQuantity && subGroup.maxQuantity> 0">
            You can chose up to  {{subGroup?.maxQuantity}} item{{subGroup?.maxQuantity > 1 ? 's' : ''}} for this section.
          </div>

          <div *ngIf ="imageURL" class="image">
            <img class="image" [src]="imageURL">
          </div>
        </div>

      </mat-panel-description>

    </mat-expansion-panel-header>

    <mat-action-row>
      <button mat-button
              color="primary"
              (click)="prevStep('true')">Previous</button>
      <button mat-button
              color="primary"
              (click)="nextStep('true')">Next</button>
    </mat-action-row>



    <!--
    minQuantity:       number;
    maxQuantity:       number;
    moveOnQuantity:    number; -->

    <div class='grid'>
      <div>
        <mat-button-toggle-group
                name="type"
                [(ngModel)]="itemOption">
          <mat-button-toggle
                *ngFor="let item of itemOptions"
                [value]="item.id">
             {{ item?.name }}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div *ngIf="itemOption && itemSelected && itemSelected.name" >
        Selected  {{itemSelected?.name}}
      </div>
    </div>

    <div  class="grid-items">
      <div   *ngFor="let item of subGroup.promptMenuItems;
              let i = index;"
              class='grid-item' >
          <ng-container
            [ngTemplateOutlet]="getPromptItemView(item)"
            [ngTemplateOutletContext]="{$implicit: item}">
          </ng-container>
      </div>
    </div>
  </mat-expansion-panel>
</div>

<ng-template #promptMenuItemView let-item>
  <prompt-panel-menu-item
    [promptMenuItem] = "item"
    [index]          = "index"
    [itemOption]     = 'itemOption'
    (resetItemOption)= "resetItemOption($event)"
    (outputNextStep) = "nextStep('true')"
    (outputPrevStep) = "prevStep('true')">
  </prompt-panel-menu-item>
</ng-template>
