<div *ngIf="clientTable && inputForm; else loading" >

  <div *ngIf="inputForm.controls.firstName.errors?.required && inputForm.controls.firstName.touched" class="error">
    <mat-icon color="warn">warning</mat-icon> Full Name required in basic tab.
  </div>

  <div *ngIf="inputForm.controls.lastName.errors?.required && inputForm.controls.lastName.touched" class="error">
    <mat-icon color="warn">warning</mat-icon> Name required in basic tab.
  </div>

  <mat-card>
    <mat-card-title>

      <div class="grid-header">
        <div>
          <div>
            <h3>Profile Editor</h3>
          </div>

          <div>
            <h4>
              {{ clientTable?.firstName  }}  {{ clientTable?.lastName }}  | Account |   {{clientTable.accountNumber}}
            </h4>
          </div>
        </div>

        <div >
          <div class="grid-buttons">

            <div>
              <button mat-button
                      class="button-margin"
                      color="primary"
                      (click)="updateUser()">
                      <mat-icon>save</mat-icon>Save</button>
            </div>

            <div>
              <button mat-button
                      class="button-margin"
                      color="primary"
                      (click)="startOrder()">
                    <mat-icon>receipt</mat-icon>New Order</button>
            </div>

            <div>
              <button mat-button
                      class="button-margin"
                      color="primary"
                      (click)="updateUserExit()">
                      <mat-icon>save</mat-icon> Save & Exit</button>
            </div>

            <div>
              <button mat-button
                      class="button-margin"
                      color="primary"
                      (click)="navUserList()">
                      <mat-icon>close</mat-icon>Exit</button>
            </div>

          </div>
        </div>

      </div>
    </mat-card-title>

    <mat-card-content >
      <form  [formGroup]="inputForm"
               id="userForm"
               >

        <div class="md-content"
              flex md-scroll-y
              (swipeleft)="swipe(id, $event.type)"
              (swiperight)="swipe(id, $event.type)">

          <mat-tab-group mat-align-tabs="start"
                         md-stretch-tabs
                         [(selectedIndex)]="selectedIndex"
                         (selectedIndexChange)="selectChange()">

            <mat-tab label="Demographics"
                      (swipeleft)="swipe(1, $event.type)"
                      (swiperight)="swipe(1, $event.type)">

              <div class="grid-flow">
                <div >
                    <div>
                        <mat-form-field  appearance="outline">
                        <mat-label >Title</mat-label>
                        <input matInput
                              type="text"
                              id="title"
                              formControlName="title"
                              class="form-control" >
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="outline">
                        <mat-label >First Name</mat-label>
                        <input matInput
                               type="text"
                               id="title"
                               formControlName="firstName"
                               class="form-control" >
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="outline">
                        <mat-label >Last Name</mat-label>
                        <input matInput
                               type="text"
                               id="title"
                               formControlName="lastName"
                               class="form-control" >
                          </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="outline">
                        <mat-label >Phone</mat-label>
                        <input matInput
                              type="text"
                              id="title"
                              formControlName="phone"
                              class="form-control" >
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="outline">
                        <mat-label >Email</mat-label>
                        <input matInput
                                type="text"
                                id="title"
                                formControlName="email"
                                class="form-control" >
                        </mat-form-field>
                    </div>

                </div>

                <div>
                 <div>
                    <mat-form-field appearance="outline"  id="customer-notes">
                      <mat-label>Customer Notes</mat-label>
                        <textarea matInput rows="10"
                                  formControlName="notes"

                        ></textarea>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field appearance="outline">
                    <mat-label >Loyalty Points</mat-label>
                    <input matInput type="text"
                          id="title"
                          formControlName="loyaltyPoints"
                          class="form-control" >
                    </mat-form-field>
                  </div>
                </div>
              </div>

            </mat-tab>

            <mat-tab label="Addresses "  (swipeleft)="swipe(1, $event.type)" (swiperight)="swipe(1, $event.type)">

              <div class="grid-flow" >
                <div>
                  <app-profile-billing-address
                    [inputForm]="inputForm">
                  </app-profile-billing-address>
                </div>
                <div >
                  <app-profile-shipping-address
                    [inputForm]="inputForm"
                  ></app-profile-shipping-address>
                </div>
              </div>
            </mat-tab>

            <mat-tab label="DL Info"  (swipeleft)="swipe(1, $event.type)" (swiperight)="swipe(1, $event.type)">

              <div  class="grid-flow">
                <div >
                  <div>
                    <h4>License Info</h4>
                  </div>

                  <div>
                    <mat-form-field appearance="outline">
                      <mat-label >Account </mat-label>
                      <input matInput type="text" id="accountNumber" formControlName="accountNumber"  class="form-control" >
                    </mat-form-field>
                  </div>

                  <div>
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>DOB</mat-label>
                      <input matInput
                            [matDatepicker]="picker"
                            formControlName="dob"
                          >
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div >
                  <div >
                    <mat-form-field appearance="outline">
                      <mat-label >Address</mat-label>
                      <input matInput type="text" id="dlAddress" formControlName="dlAddress"  class="form-control" >
                    </mat-form-field>
                  </div>

                  <div >
                    <mat-form-field appearance="outline">
                      <mat-label >Address 2</mat-label>
                      <input matInput type="text" id="dlAddress2" formControlName="dlAddress2"  class="form-control" >
                    </mat-form-field>
                  </div>

                  <div >
                    <mat-form-field appearance="outline">
                      <mat-label >City</mat-label>
                      <input matInput type="text" id="dlAddress2" formControlName="dlCity"  class="form-control" >
                    </mat-form-field>
                  </div>

                  <div >
                    <mat-form-field appearance="outline">
                      <mat-label >State</mat-label>
                      <input matInput type="text" id="dlAddress2" formControlName="dlState"  class="form-control" >
                    </mat-form-field>
                  </div>

                  <div >
                    <mat-form-field appearance="outline">
                      <mat-label >Zip</mat-label>
                      <input matInput type="text" id="dlAddress2" formControlName="dlZip"  class="form-control" >
                    </mat-form-field>
                  </div>
                </div>
              </div>

            </mat-tab>

            <mat-tab label="Current"
                    (swipeleft)="swipe(1, $event.type)"
                    (swiperight)="swipe(1, $event.type)">
                <div class="order-panel">
                  <app-pos-order-list [posOrders$]="posOrders$"></app-pos-order-list>
                </div>
            </mat-tab>

            <mat-tab label="History"
                    (swipeleft)="swipe(1, $event.type)"
                     (swiperight)="swipe(1, $event.type)">
              <h4 *ngIf="profile">Purchase History {{profile.totalPurchases | currency}}</h4>
              <div class="order-panel">
                <app-pos-order-list [posOrders$]="orders$"></app-pos-order-list>
              </div>
            </mat-tab>

            <!-- client Type -->
            <mat-tab label="Settings"
                     (swipeleft)="swipe(1, $event.type)"
                     (swiperight)="swipe(1, $event.type)">
              <div  class="grid-flow">
                <div>

                  <div >
                    <app-client-types-lookup [inputForm]="inputForm" ></app-client-types-lookup>
                  </div>

                  <div>
                    <mat-form-field appearance="outline">
                      <mat-label>Tax Option</mat-label>
                      <mat-select   [disabled]="!isAuthorized"
                                    type="number"
                                    formControlName ="taxSales"
                                  >
                        <mat-option [value]="1">Non Taxable Client</mat-option>
                        <mat-option [value]="0">Taxable Client</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div>
                    <mat-form-field appearance="outline">
                      <mat-label>Price Level Option</mat-label>
                      <mat-select   [disabled]="!isAuthorized"
                                    type="number"
                                    formControlName ="priceTier"
                                  >
                        <mat-option [value]="0">Standard</mat-option>
                        <mat-option [value]="1">Level 1</mat-option>
                        <mat-option [value]="2">Level 2</mat-option>
                        <mat-option [value]="3">Level 3</mat-option>
                        <mat-option [value]="4">Level 4</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div >
                    <app-status-lookup
                                    [inputForm]="inputForm"
                    ></app-status-lookup>
                  </div>
                </div>

                <div>
                  <div *ngIf="isAuthorized">
                    <mat-form-field appearance="outline">
                      <mat-label>Select Role</mat-label>
                      <mat-select
                                    type="text"
                                    formControlName ="roles"
                                  >
                              <mat-option [value]="'admin'">admin</mat-option>
                              <mat-option [value]="'manager'">manager</mat-option>
                              <mat-option [value]="'employee'">employee</mat-option>
                              <mat-option [value]="'user'">user</mat-option>
                        </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="form-field" *ngIf="isAuthorized && inputForm">
                    <employee-lookup
                            [client]      ="clientTable"
                            [inputForm]   ="inputForm" >
                            Employee Association
                    </employee-lookup>
                  </div>

                </div>
              </div>
            </mat-tab>

          </mat-tab-group>
        </div>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <div *ngIf="isAuthorized">
        <button mat-raised-button
                class="button-margin"
                color="warn"
                (click)="deleteUser()">
                <mat-icon>delete</mat-icon>Delete</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>



<ng-template #loading >
  <mat-spinner></mat-spinner>
</ng-template>


