<div *ngIf="clientTable && inputForm && transactionUISettings; else loading" >

  <div *ngIf="inputForm.controls?.firstName.errors?.required && inputForm.controls?.firstName.touched" class="error">
    <mat-icon color="warn">warning</mat-icon> Full Name required in basic tab.
  </div>
  <div *ngIf="inputForm.controls?.lastName.errors?.required && inputForm.controls?.lastName.touched" class="error">
    <mat-icon color="warn">warning</mat-icon> Name required in basic tab.
  </div>

  <mat-card>
    <mat-card-title>
      <div class="grid-header">
          <div>
            <div>
              <h3>Profile Editor</h3>
            </div>
            <div>
              
              <div *ngIf="accountDisabled" >
                <h3 >Alert - Account is Disabled - Orders can't be processed.</h3>
                <mat-label  class="error" color="warn" >
                  {{validationMessage}}
                </mat-label>
              </div>
              <h4>
                {{ clientTable?.firstName  }}  {{ clientTable?.lastName }}
                | Account :  {{clientTable?.accountNumber}}
              </h4>
            </div>
          </div>

          <div class="grid-buttons-flow">
            <div>
              <app-edit-buttons-standard
                (outputeupdateItem)     ="updateUser($event)"
                (outputupdateItemExit)  ="updateUserExit($event)"
                (outputupdatedeleteItem)="deleteUser($event)"
                (outputupdateonCancel)  ="navUserList($event)"
                (outPutStartOrder)      ="startOrder($event)"
                [enableDelete]= "true"
              ></app-edit-buttons-standard>
            </div>

            <div [formGroup]="inputForm"
                 *ngIf="isAuthorized"
                 class="grid-buttons toggle-container" >

              <div>
                <mat-slide-toggle
                        name="accountDisabled"
                        formControlName="accountDisabled">
                  <mat-label>Disabled</mat-label>
                </mat-slide-toggle>
              </div>

              <div>
                <mat-slide-toggle
                        name="accountLocked"
                        formControlName="accountLocked">
                  <mat-label>Locked</mat-label>
                </mat-slide-toggle>
              </div>

            </div>

          </div>
      </div>
      <mat-divider></mat-divider>
    </mat-card-title>

    <mat-card-content >
      <form  [formGroup]="inputForm"
             id="userForm"  >
        <div class="md-content"
              flex
              (swipeleft)="swipe(id, $event.type)"
              (swiperight)="swipe(id, $event.type)">

          <mat-tab-group mat-align-tabs="start"
                         md-stretch-tabs
                         [(selectedIndex)]="selectedIndex"
                         (selectedIndexChange)="selectChange()">

            <mat-tab label="Demographics"
                      (swipeleft)="swipe(1, $event.type)"
                      (swiperight)="swipe(1, $event.type)">

              <span *ngIf="transactionUISettings">
                <app-profile-demographics
                  [client]      ="clientTable"
                  [inputForm]   ="inputForm"
                  [isAuthorized]="isAuthorized"
                  [enableMEDClients]="enableMEDClients"
                  [isStaff]="isStaff">
                </app-profile-demographics>
              </span>
            </mat-tab>

            <mat-tab label="Addresses"
                    (swipeleft)="swipe(1, $event.type)"
                    (swiperight)="swipe(1, $event.type)">
              <div class="grid-flow" >
                <div>
                  <app-profile-billing-address
                    [inputForm]="inputForm">
                  </app-profile-billing-address>
                </div>
                <div >
                  <app-profile-shipping-address
                    [inputForm]="inputForm"
                  ></app-profile-shipping-address>
                </div>
              </div>
            </mat-tab>

            <mat-tab label="DL Info"
                     *ngIf="isAuthorized || isStaff"
                     (swipeleft)="swipe(1, $event.type)"
                     (swiperight)="swipe(1, $event.type)">
              <app-profile-idcard-info
                [inputForm]="inputForm"
                [isAuthorized]="isAuthorized">
              </app-profile-idcard-info>
            </mat-tab>

            <mat-tab label="Transactions"
                    (swipeleft)="swipe(1, $event.type)"
                     (swiperight)="swipe(1, $event.type)">
              <div class="order-panel">
                <div class="grid-ranges">
                  <div>
                    <mat-date-range
                      [inputForm]      ="dateRangeForm"
                      (outputDateRange)="emitDatePickerData($event)">
                    </mat-date-range>
                  </div>
                  <div >
                    <app-mat-select
                                    style="
                                    margin-top: 5px;
                                    height: 1em;
                                    font-size: 1em;"
                                    class="app-mat-select" [list]="dateRangeList"
                                    [inputForm] ="selectForm"
                                    [fieldName]="'rangeSelect'"
                                    (outputItem)="chooseDateRangeValue($event)">
                      Select Range</app-mat-select>
                  </div>
                  <div>
                    <button
                        mat-raised-button
                        color="primary"
                        class="pending-button"
                        (click)="showOnlyOpenOrders()">Pending Orders
                    </button>
                  </div>
                </div>
                <div>
                   <app-orders-list
                      [height]="'47vh'"
                  ></app-orders-list>
                </div>
              </div>
            </mat-tab>

            <mat-tab *ngIf="isAuthorized"
                     label="Settings"
                     (swipeleft)="swipe(1, $event.type)"
                     (swiperight)="swipe(1, $event.type)">
              <div  class="grid-flow">

                <div>
                  <mat-form-field appearance="outline">
                  <mat-label >User Login</mat-label>
                  <input  matInput
                          type="text"
                          id="title"
                          formControlName="apiUserName"
                          class="form-control" >
                  </mat-form-field>

                  <div *ngIf="inputForm.controls['apiPassword'].value == ''">
                    Input username and press save to set user password.
                  </div>

                  <app-password-validation
                    *ngIf="inputForm.controls['apiPassword'].value != ''"
                    [client]="clientTable">
                  </app-password-validation>

                  <mat-divider></mat-divider>

                </div>

                <div>
                    <app-profile-roles
                      [isAuthorized]="isAuthorized"
                      [inputForm] ="inputForm">
                    </app-profile-roles>

                    <div class="form-field"
                        *ngIf="isAuthorized && inputForm">
                      <employee-lookup
                              [client]      ="clientTable"
                              [inputForm]   ="inputForm" >
                              Employee Association
                      </employee-lookup>
                    </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </form>
    </mat-card-content>




  </mat-card>
</div>

<ng-template #loading >
  <mat-spinner></mat-spinner>
</ng-template>


