<div *ngIf="clientTable && inputForm; else loading" >

  <div *ngIf="inputForm.controls.firstName.errors?.required && inputForm.controls.firstName.touched" class="error">
    <mat-icon color="warn">warning</mat-icon> Full Name required in basic tab.
  </div>
  <div *ngIf="inputForm.controls.lastName.errors?.required && inputForm.controls.lastName.touched" class="error">
    <mat-icon color="warn">warning</mat-icon> Name required in basic tab.
  </div>

  <mat-card>
    <mat-card-title>
      <div class="grid-header">
          <div>
            <div>
              <h3>Profile Editor</h3>
            </div>
            <div>
              <h4>
                {{ clientTable?.firstName  }}  {{ clientTable?.lastName }}
                | Account :  {{clientTable?.accountNumber}}
              </h4>
            </div>
          </div>

          <div>
            <app-edit-buttons-standard
              (outputeupdateItem)     ="updateUser($event)"
              (outputupdateItemExit)  ="updateUserExit($event)"
              (outputupdatedeleteItem)="deleteUser($event)"
              (outputupdateonCancel)  ="navUserList($event)"
              (outPutStartOrder)      ="startOrder($event)"
            ></app-edit-buttons-standard>
          </div>

      </div>
      <mat-divider></mat-divider>
    </mat-card-title>

    <mat-card-content >
      <form  [formGroup]="inputForm"
             id="userForm"  >
        <div class="md-content"
              flex md-scroll-y
              (swipeleft)="swipe(id, $event.type)"
              (swiperight)="swipe(id, $event.type)">

          <mat-tab-group mat-align-tabs="start"
                         md-stretch-tabs
                         [(selectedIndex)]="selectedIndex"
                         (selectedIndexChange)="selectChange()">

            <mat-tab label="Demographics"
                      (swipeleft)="swipe(1, $event.type)"
                      (swiperight)="swipe(1, $event.type)">
              <app-profile-demographics
                [client]="clientTable"
                [inputForm]="inputForm"
                [isAuthorized]="isAuthorized"
                [isStaff]="isStaff">
              </app-profile-demographics>
            </mat-tab>

            <mat-tab label="Addresses"
                    (swipeleft)="swipe(1, $event.type)"
                    (swiperight)="swipe(1, $event.type)">
              <div class="grid-flow" >
                <div>
                  <app-profile-billing-address
                    [inputForm]="inputForm">
                  </app-profile-billing-address>
                </div>
                <div >
                  <app-profile-shipping-address
                    [inputForm]="inputForm"
                  ></app-profile-shipping-address>
                </div>
              </div>
            </mat-tab>

            <mat-tab label="DL Info"
                     *ngIf="isAuthorized || isStaff"
                     (swipeleft)="swipe(1, $event.type)"
                     (swiperight)="swipe(1, $event.type)">
              <app-profile-idcard-info
                [inputForm]="inputForm"
                [isAuthorized]="isAuthorized">
              </app-profile-idcard-info>
            </mat-tab>

            <mat-tab label="Transactions"
                    (swipeleft)="swipe(1, $event.type)"
                     (swiperight)="swipe(1, $event.type)">
              <div class="order-panel">

                <div>
                   <mat-date-range
                    [inputForm]      ="dateRangeForm"
                    (outputDateRange)="emitDatePickerData($event)">
                  </mat-date-range>
                </div>

                <div>
                   <app-orders-list
                      [height]="'47vh'"
                  ></app-orders-list>
                </div>

              </div>
            </mat-tab>

            <mat-tab *ngIf="isAuthorized"
                     label="Settings"
                     (swipeleft)="swipe(1, $event.type)"
                     (swiperight)="swipe(1, $event.type)">
              <div  class="grid-flow">
                <div>


                  <!-- <div> -->

                    <app-profile-roles
                      [isAuthorized]="isAuthorized"
                      [inputForm] ="inputForm">
                    </app-profile-roles>

                  <!-- </div> -->
                  <div class="form-field"
                       *ngIf="isAuthorized && inputForm">
                    <employee-lookup
                            [client]      ="clientTable"
                            [inputForm]   ="inputForm" >
                            Employee Association
                    </employee-lookup>
                  </div>

                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <div *ngIf="isAuthorized">
        <button mat-raised-button
                class="button-margin"
                color="warn"
                (click)="deleteUser('demo')">
                <mat-icon>delete</mat-icon>Delete</button>
      </div>
    </mat-card-actions>

  </mat-card>
</div>

<ng-template #loading >
  <mat-spinner></mat-spinner>
</ng-template>


