  <div *ngIf="!toggleTheme || toggleTheme === 'light-theme'">
    <button aria-label="theme"
            mat-button
            class="menu-button"
            (click)="switchTheme()">
      <mat-icon color="primary">light_mode</mat-icon>
    </button>
  </div>

  <div *ngIf="toggleTheme === 'dark-theme'">
    <button aria-label="theme"
            mat-button
            class="menu-button"
            (click)="switchTheme()">
      <mat-icon color="primary">
        dark_mode
      </mat-icon>
    </button>
  </div>

  <!-- dark mode: {{this.userAuthorizationService?.user?.userPreferences?.darkMode}} -->

  <div *ngIf="userAuthorizationService.user && userAuthorizationService.user.roles && userAuthorizationService.user.roles != 'user'">
    <button aria-label="theme"
            mat-button
            class="menu-button"
            (click)="toggleBars()">
      <mat-icon color="primary">
        swap_horiz
      </mat-icon>
    </button>
  </div>

  <div *ngIf="action$ | async"></div>
