<mat-card>

   <div *ngIf="orderPromptGroup && orderPromptGroup.selected_PromptSubGroups">

     <div>
        <div class="header-title">
          <mat-icon>self_improvement</mat-icon> Chosen Items
        </div>
        <span *ngIf="orderPromptGroup  && orderPromptGroup.posOrderItem">
          {{ orderPromptGroup?.posOrderItem?.productName}}
        </span>
        <span>
          Item Total {{ total | currency }}
        </span>
      </div>

     <div class="sub-group-border" *ngFor="let selectedSubPrompts of orderPromptGroup?.selected_PromptSubGroups; let index = index">
      <!-- <mat-card color="warn"> -->
        <div class="sub-group">
          <h5>
            {{selectedSubPrompts?.promptSubGroups?.name}}
          </h5>
        </div>
      <!-- </mat-card> -->
       <div class="grid-list"
            *ngFor="let item of selectedSubPrompts?.promptSubGroups?.itemsSelected; let itemIndex = index">
          <div>
            {{item?.menuItem?.name}} <br> {{ (item?.menuItem?.retail * item?.quantity)  | currency}}
          </div>
          <div>
            <button class="button" color="warn" mat-button (click)="remove( itemIndex, index)"><mat-icon>delete</mat-icon></button>
          </div>
        </div>
      </div>
    </div>

</mat-card>

