  <!--
  <div class="container" *ngIf="toggleListGrid">
  <div class="grid-list">
    <div>
      <div *ngIf="value" class="loader">
        <mat-progress-bar mode="determinate" [value]="value"></mat-progress-bar>
      </div>

      <ag-grid-angular
            #agGrid
            [style]              ="gridDimensions"
            id                   ="myGrid"
            [class]              ="agtheme"
            [columnDefs]         ="columnDefs"
            [defaultColDef]      ="defaultColDef"
            [gridOptions]        ="gridOptions"
            [rowSelection]       ="rowSelection"
            [frameworkComponents]="frameworkComponents"
            (selectionChanged)   ="onSelectionChanged($event)"
            (gridReady)          ="onGridReady($event)">

      </ag-grid-angular>
    </div>

    <div class="filter-panel">
    <app-pos-payments-filter
          (outputRefreshSearch)="refreshSearchAny($event)">
      </app-pos-payments-filter>

    </div>
  </div>

</div>
-->
  <!-- <div *ngIf="posOrders$">
    <ag-grid-angular
        #agGrid
        id="myGrid"
        style="width: 100%; height: 70vh;"
        class="ag-theme-balham"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [rowData]="posOrders$ | async"
        [frameworkComponents]="frameworkComponents"
        (gridReady)="onPOSGridReady($event)">
    </ag-grid-angular>
  <div> -->
  <!-- <mat-form-field appearance="outline">
    <mat-label>Site</mat-label>
    <mat-select
          name="siteID"
          [(ngModel)]="selectedSiteID">
      <div *ngIf="(sites$ | async) as list" >
        <mat-option *ngFor="let item of list" [value]="item.id">
          {{ item.name }}
        </mat-option>
      </div>
    </mat-select>
  </mat-form-field> -->

  <!-- <mat-select-ngmodel
      [list$]="serviceTypes$"
      (outPutItem)="setServiceType($event)"
  >
    Transaction Type
  </mat-select-ngmodel>

  <mat-select-ngmodel
    [list$]="employees$"
    (outPutItem)="setEmployee($event)"
  >
    Staff
  </mat-select-ngmodel> -->

