
  <mat-form-field >
    <mat-label>Meta Tags</mat-label>

    <mat-chip-list  appearance="outline"  #chipList aria-label="Fruit selection"  >

      <mat-chip
          *ngFor="let item of (itemTags || [])"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(item)">
        {{item | json}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>

      <input
            placeholder="New item..."
            #input
            [(ngModel)]="metaTagList"
            [formControl]="metaTags"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>

    <mat-autocomplete #auto="matAutocomplete"
                      panelWidth="auto"
                      (optionSelected)="selected($event)"
                      [displayWith]="displayFn.bind(this)">
      <mat-option *ngFor="let item of results$ | async"
                  [value]="item">
        {{item.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div
       *ngIf="inputForm"
       [hidden]="true"
       [formGroup]="inputForm">

    <input  matInput
            type="text"
            name="metaTags"
            formControlName="metaTags">

  </div>


