@import "/src/mixins.scss";

.grid-items-payments {
  --gap: 3px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: 20px 55px 70px 50px 65px 55px;
  @media print {
    font-size: 12pt;
    font-weight: bold !important;
     --gap: 3px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: 20px 55px 70px 50px 65px 55px;
  }
}

.flex-grid {
  @media print {

    display: grid;
    gap: var(--gap);
    grid-template-columns: 100px 100px;
  }
}

.item-value {
  justify-content: right;
  text-align: right;
  @media print {
    font-size: 12pt;
    font-weight: bold !important;
    justify-content: right;
    text-align: right;
 }
}

.grid-summary {
  --gap: 3px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: 100px 100px;
  @media print {
    font-size: 12pt;
   font-weight: bold !important;
    --gap: 3px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: 100px 100px;
  }
}

.grid-summary-3-column{
  --gap: 3px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: 100px 100px  100px;
  @media print {
    font-size: 12pt;
   font-weight: bold !important;
    --gap: 3px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: 100px 100px  100px;
  }
}
.item-span-3 {
  grid-column-end: span 3;
}

.item-span-2 {
  grid-column-end: span 2;
}
