<div *ngIf="( styles$ | async) as styles">
  <div *ngIf="groupType && list && list.results && list.results.length >0">
    <div class="grid-summary">
      <div>Group </div>
      <div>Amount</div>
    </div>

    <div *ngFor="let item of list.results; let i = index"  class="grid-summary">
      <div >{{ item?.groupType ? item?.groupType : 0  }}</div>
      <div >{{item?.amountPaid | currency}}</div>
    </div>

    <div class="grid-summary-3-column">
      <div>Payments</div>
      <div>Gratuity</div>
      <div>Total</div>
    </div>

    <div class="grid-summary-3-column">
      <div> {{list?.summary?.amountPaid | currency}}</div>
      <div>{{list?.summary?.tipAmount | currency}}</div>
      <div>{{list?.summary?.amountPaid + list?.summary?.tipAmount | currency}}</div>
    </div>
  </div>

  <div *ngIf="!groupType && list && list.results && list.results.length >0">
    <div class="grid-items-payments">
      <div>#</div>
      <div>Order </div>
      <div>Date</div>
      <div>Type</div>
      <div class="item-value">Paid</div>
      <div class="item-value">Grat</div>
    </div>

    <div *ngFor="let item of list?.results; let i = index"
          class="grid-items-payments">
      <div>{{i+1}}</div>
      <div *ngIf="item?.orderID">{{item?.orderID.toString().substr(-5)}}</div>
      <div>{{item?.completionDate | date: 'shortDate' }} {{item?.completionDate | date: 'shortTime' }}</div>
      <div>{{item?.paymentMethod?.name}}</div>
      <div class="item-value">{{item?.amountPaid | currency}}</div>
      <div class="item-value">{{item?.tipAmount  | currency}}</div>

      <div class="item-span-3" *ngIf="item.voidReason">{{item?.voidReason}}</div>
      <div  class="item-span-3" *ngIf="item.voidAmount && item?.voidAmount != 0">{{item?.voidAmount | currency}}</div>
      <div  class="item-span-3">
        ----------------------------
      </div>
    </div>

    <div class="grid-summary-3-column">
      <div>Payments</div>
      <div>Gratuity</div>
      <div>Total</div>
    </div>

    <div class="grid-summary-3-column">
      <div>{{list?.summary?.amountPaid | currency}}</div>
      <div>{{list?.summary?.tipAmount | currency}}</div>
      <div>{{list?.summary?.amountPaid + list.summary?.tipAmount | currency}}</div>
    </div>
  </div>
</div>
