<div *ngIf="(action$ | async) as action"></div>

<div class="flex-menu">
  <div class="display">
    <button mat-button (click)="refresh()"><mat-icon>refresh</mat-icon></button>
  </div>

  <div>
    <ng-container [ngTemplateOutlet]="collectionViewEnabled"></ng-container>
  </div>

  <display-toggle-android></display-toggle-android>
</div>

<ng-template #collectionView>
  <div  class="grid-items">
    <mat-button-toggle-group
              name="type"
              aria-label="item Type">
      <mat-button-toggle
            *ngFor="let item of collection"
            class="discount-type-button"
            [value]="item?.id"
            (click)="selectMenu(item)">
        {{item?.name}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</ng-template>


