<div *ngIf="(action$ | async) as items"></div>
<div *ngIf="serviceType && inputForm">
  <!-- {{serviceType | json}} -->

  <mat-card class="mat-card">
    <mat-card-title>
      <div class="buttons">
        <div>
          Type Edit: {{ serviceType.name }}
        </div>
        <div>
          <app-edit-buttons-standard
          (outputeupdateItem)     ="updateItem(false)"
          (outputupdateItemExit)  ="updateItemExit($event)"
          (outputupdatedeleteItem)="deleteItem($event)"
          (outputupdateonCancel)  ="onCancel($event)"
          (outputCopy)            ="copyItem($event)"
          ></app-edit-buttons-standard>
        </div>

      </div>


    </mat-card-title>

    <mat-card-subtitle>

    </mat-card-subtitle>

    <mat-card-content>
      <mat-divider></mat-divider>
      <div class="form"
          [formGroup]="inputForm" >

        <div  class="grid-fields ">
            <div>
              <mat-form-field appearance="outline">
                <mat-label >Name</mat-label>
                <input matInput
                      type             ="text"
                      formControlName  ="name"
                      class="form-control" >
              </mat-form-field>
            </div>
        </div>

        <div class="grid-headers">

          <div>
            <mat-label >Taxable</mat-label>
          </div>

          <div>
            <mat-checkbox
                  type             ="checkbox"
                  formControlName  ="taxItems"
                  class="form-control" >
              <mat-hint> To enable tax for this type of transaction.</mat-hint>
            </mat-checkbox>
          </div>

          <div>
            <mat-label >Filter Type</mat-label>
          </div>
          <div>
            <mat-form-field
                appearance="outline">
              <mat-select       formControlName ="filterType">
                <mat-option [value]="0">Sales</mat-option>
                <mat-option [value]="1">Purchase Orders Invoices</mat-option>
                <mat-option [value]="2">Reconcile Items</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <mat-label >Show Order Type</mat-label>
          </div>
          <div>
            <mat-label>
              <mat-slide-toggle
                        formControlName="showOrderType" >
              </mat-slide-toggle>
            </mat-label>
            <mat-hint> Not all transactions should be shown on the POS.
              Enabling shows on the POS.</mat-hint>
          </div>

          <div>
            <mat-label >Retail Type </mat-label>
          </div>

          <div>
              <mat-label>
                <mat-slide-toggle
                          formControlName="retailType" >
                </mat-slide-toggle>
              </mat-label>
              <mat-hint>Will auto navigate to large cart view.</mat-hint>
          </div>

          <div>
            <mat-label >Sale Type </mat-label>
          </div>
          <div>
              <mat-label>
                <mat-slide-toggle
                          formControlName="isRegisterTransaction" >
                </mat-slide-toggle>
              </mat-label>
              <mat-hint>This should be marked for all transactions used in sales.</mat-hint>
          </div>

          <div>
            <mat-label >Resale Type (clothing / misc) </mat-label>
          </div>
          <div>
            <mat-label>
              <mat-slide-toggle
                        formControlName="resaleType" >
              </mat-slide-toggle>
            </mat-label>
            <mat-hint>Clothes, Music, Tools, Misc.</mat-hint>
          </div>

          <div>
            <mat-label >Header Display Order</mat-label>
          </div>
          <div >
            <mat-label>
              <mat-slide-toggle
                        formControlName="headerOrder" >
              </mat-slide-toggle>
            <mat-hint>For Quick Service / Order Type Selection on Header.</mat-hint>
            </mat-label>
          </div>

          <div>
            <mat-label >Online Order</mat-label>
          </div>
          <div >
            <mat-label>
              <mat-slide-toggle
                        formControlName="onlineOrder" >
              </mat-slide-toggle>
              <mat-hint>This enables the order as an option for online users.</mat-hint>
            </mat-label>
          </div>

          <div>
            <mat-label >Allow Request to Prepare Order</mat-label>
          </div>
          <div >
            <mat-label>
              <mat-slide-toggle
                        formControlName="allowRequestPrep" >
                </mat-slide-toggle>
              <mat-hint>Users can request the order be prepared before they pay.</mat-hint>
            </mat-label>
          </div>

          <div>
            <mat-label >API Order</mat-label>
          </div>
          <div>
            <mat-label>
              <mat-slide-toggle
                        formControlName="apiOrder" >
              </mat-slide-toggle>
              <mat-hint> This order type can be used by third party API's.</mat-hint>
            </mat-label>
          </div>

          <div>
            <mat-label >Prompt Schedule Time</mat-label>
          </div>
          <div>
            <mat-label>
              <mat-slide-toggle
                        formControlName="promptScheduleTime" >
              </mat-slide-toggle>
              <mat-hint>Requires user set preferred schedule date for order to be fulfilled.</mat-hint>
            </mat-label>
          </div>

          <div>
            <mat-label>Delivery Service</mat-label>
          </div>
          <div>
            <mat-label>
              <mat-slide-toggle
                        formControlName="deliveryService" >
              </mat-slide-toggle>
              <mat-hint>Requires user put in address for delivery.</mat-hint>
            </mat-label>

          </div>



          <div *ngIf="serviceType"  class="grid-items">
            <product-search-selector2
              [productLookupField] = "'defaultProductID1'"
              [id]                 = "serviceType.defaultProductID1"
              [inputForm]          = "inputForm"
              (deleteProductSelection)="_deleteDefaultProductID1($event)"
              [description]        = "'Default Item 1'"  >
            </product-search-selector2>

            <!-- <div><button color="warn" mat-raised-button (click)="deleteDefaultProductID1()"> <mat-icon>delete</mat-icon> </button></div> -->
          </div>

          <div style="width:50px"></div>
          <div *ngIf="serviceType" class="grid-items">
            <product-search-selector2
              [productLookupField] = "'defaultProductID2'"
              [id]                 = "serviceType.defaultProductID2"
              [inputForm]          = "inputForm"
              [description]        = "'Default Item 2'"
              (deleteProductSelection)="_deleteDefaultProductID2($event)">
            </product-search-selector2>
<!--
            <div><button color="warn"  mat-raised-button (click)="deleteDefaultProductID2()"> <mat-icon>delete</mat-icon> </button></div> -->
          </div>

          <div style="width:50px"></div>

          <div class="margin-5" class="grid-items">
            <div>
              <mat-form-field appearance="outline" style="width:155px">
                <mat-label >Minimum Order Value </mat-label>
                <input matInput
                      type             ="number"
                      formControlName  ="orderMinimumTotal"
                      class="form-control" >
              </mat-form-field>
            </div>
            <div>
              <mat-hint>Uses pre-tax sub total.</mat-hint>
            </div>
          </div>

          <div style="width:50px"></div>

          <div>
            <ng-container [ngTemplateOutlet]="serviceColorPicker"></ng-container>

            <div>
              <mat-label>Image</mat-label>
              {{image}} | {{inputForm?.value?.image}}
              <app-widget-uploader
                  [(fileNames)]    ="image"
                  [isThumbNail]    ="false"
                  (messageOut)     ="applyImage($event)" >
              </app-widget-uploader>
            </div>


          </div>

          <div *ngIf='serviceTypeFeaturesForm' [formGroup]='serviceTypeFeaturesForm'>
            <div style="margin:1em">
              <mat-form-field appearance="outline">
                <mat-label >Icon </mat-label>
                <input matInput
                      type             ="number"
                      formControlName  ="sortOrder"
                      class="form-control" >
                <mat-hint>Sort value for Items.</mat-hint>
              </mat-form-field>
            </div>
            <div style="margin:1em">
              <mat-form-field appearance="outline">
                <mat-label >Icon </mat-label>
                <input matInput
                      type             ="text"
                      formControlName  ="icon"
                      class="form-control" >
                <mat-hint>Set zero for sales, 1 for Purchase Orders</mat-hint>
              </mat-form-field>
            </div>
        </div>

        </div>

        <mat-divider [vertical]="true"></mat-divider>

        <div  class="grid-fields">
          <div class="instructions">
            <mat-label><h4>Description for receipts.</h4></mat-label><br>
            <mat-hint>Express gratitude, provide refund policy, etc...</mat-hint>
            <simple-tinymce cols="50"
                            rows="20"
                            style="height: 200px;"
                            name="description"
                            formControlName="description"  >
            </simple-tinymce>
          </div>
        </div>

        <div  class="grid-fields">
          <div class="instructions">
            <mat-label><h4>Instructions.</h4></mat-label><br>
            <mat-hint>These are displayed on the browser to help customers.</mat-hint>
            <simple-tinymce cols="50"
                            rows="20"
                            style="height: 200px;"
                            name="instructions"
                            formControlName="instructions" >
            </simple-tinymce>
          </div>
        </div>
        <div  class="grid-fields">
          <div class="instructions">
            <mat-label><h4>Shipping Instructions.</h4></mat-label><br>
            <mat-hint>Express gratitude, provide refund policy, etc...</mat-hint>
            <simple-tinymce cols="50"
                            rows="20"
                            style="height: 200px;"
                            name="shippingInstructions"
                            formControlName="shippingInstructions"  >
            </simple-tinymce>
          </div>
        </div>

        <div  class="grid-fields">
          <div class="instructions">
            <mat-label><h4>Schedule Instructions.</h4></mat-label><br>
            <mat-hint>These are displayed on the browser to help customers.</mat-hint>
            <simple-tinymce cols="50"
                            rows="20"
                            style="height: 200px;"
                            name="scheduleInstructions"
                            formControlName="scheduleInstructions">
            </simple-tinymce>
          </div>
        </div>
      </div>
    </mat-card-content>

    <mat-card *ngIf="serviceTypeFeaturesForm">
      <mat-card-subtitle>
        Features
      </mat-card-subtitle>
      <mat-card-content>
        <form [formGroup]="serviceTypeFeaturesForm">
          <!-- Other form fields -->

          <div formArrayName="nameStringPairs">
            <div *ngFor="let pair of nameStringPairs.controls; let i = index" [formGroupName]="i">
              <!-- Name Input -->
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="Enter name">
              </mat-form-field>

              <!-- Values Input -->
              <div formArrayName="values">
                <div *ngFor="let value of pair.get('values').controls; let j = index">
                  <mat-form-field appearance="outline">
                    <mat-label>Value</mat-label>
                    <input matInput [formControlName]="j" placeholder="Enter value">
                  </mat-form-field>
                  <button mat-icon-button color="warn" (click)="removeValueFromPair(i, j)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>

                <button mat-stroked-button color="primary" type="button" (click)="addValueToPair(i)">
                  Add Value
                </button>
              </div>

              <button mat-icon-button color="warn" (click)="removeNameStringPair(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>

            <button mat-stroked-button color="accent" type="button" (click)="addNameStringPair()">
              Add Name-Value Pair
            </button>
          </div>

          <!-- Address Section for Multiple Addresses -->
          <mat-card-subtitle>Optional Address Information</mat-card-subtitle>
          <div formArrayName="addressList">
            <div *ngFor="let address of addressList.controls; let i = index" [formGroupName]="i">
              <mat-form-field appearance="outline">
                <mat-label>Contact Name</mat-label>
                <input matInput formControlName="contactName" placeholder="Enter Contact Name">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Phone</mat-label>
                <input matInput formControlName="phone" placeholder="Enter Phone">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput formControlName="address" placeholder="Enter Address">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Unit</mat-label>
                <input matInput formControlName="unit" placeholder="Enter Unit">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input matInput formControlName="city" placeholder="Enter City">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>State</mat-label>
                <input matInput formControlName="state" placeholder="Enter State">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Zip</mat-label>
                <input matInput formControlName="zip" placeholder="Enter Zip">
              </mat-form-field>
              <button mat-icon-button color="warn" (click)="removeAddress(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>

            <!-- Button to add a new address -->
            <button mat-stroked-button color="primary" type="button" (click)="addAddress()">
              Add Address
            </button>
          </div>

        </form>
      </mat-card-content>
    </mat-card>


  </mat-card>

  <!-- weekDays: any[];
  hoursAndDayID: any[];
  seatEnabled: boolean;
  icon: string; -->

</div>

<ng-template #serviceColorPicker>
  <div *ngIf="serviceType">
    <h3>Color</h3>
    <ngx-colors ngx-colors-trigger [(ngModel)]="serviceColor"></ngx-colors>
    <mat-form-field>
      <input matInput [(ngModel)]="serviceColor">
    </mat-form-field>
  </div>
</ng-template>
