mat-card{
  margin:  5px;
  height: 100%;
}

mat-hint { 
  margin-left: 5px;
}
.buttons {
  display:flex;
  flex-direction: row;
  justify-content: start;
}
.grid-headers {
  display: grid;
  grid-template-columns: 200px auto;
  gap: 5px;
}

.grid-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.grid-fields {
  display: grid;
  grid-template-columns: 100px ;
  gap: 5px;
}

.name-height {
  height: 210px;
}

.instructions {
  margin-top: 5px;
  margin-bottom: 5px;
  grid-column: 1 / span 2;
}

mat-form-field {
  margin-top: 5px;
}

mat-hint { 
  font-size: medium;
}

// .form {
//   overflow-y: auto;
//   overflow-x: hidden;
//   height: 500px;
// }

