<div *ngIf="serviceType && inputForm">

  <mat-card class="mat-card">
    <mat-card-title>
      <div class="buttons">
        <div>
          Type Edit: {{ serviceType.name }}
        </div>
        <div>
          <app-edit-buttons-standard
          (outputeupdateItem)     ="updateItem($event)"
          (outputupdateItemExit)  ="updateItemExit($event)"
          (outputupdatedeleteItem)="deleteItem($event)"
          (outputupdateonCancel)  ="onCancel($event)"
          (outputCopy)            ="copyItem($event)"
          ></app-edit-buttons-standard>
        </div>

      </div>


    </mat-card-title>

    <mat-card-subtitle>

    </mat-card-subtitle>

    <mat-card-content>
      <mat-divider></mat-divider>
      <div class="form"
          [formGroup]="inputForm" >

        <div  class="grid-fields ">
            <div>
              <mat-form-field appearance="outline">
                <mat-label >Name</mat-label>
                <input matInput
                      type             ="text"
                      formControlName  ="name"
                      class="form-control" >
              </mat-form-field>
            </div>


        </div>

        <div class="grid-headers">

          <div>
            <mat-label >Taxable</mat-label>
          </div>

          <div>
            <mat-checkbox
                  type             ="checkbox"
                  formControlName  ="taxItems"
                  class="form-control" >
              <mat-hint> To enable tax for this type of transaction.</mat-hint>
            </mat-checkbox>
          </div>

          <div>
            <mat-label >Show Order Type</mat-label>
          </div>
          <div>
            <mat-checkbox
                  type             ="text"
                  formControlName  ="showOrderType"
                  class="form-control" >
              <mat-hint> Not all transactions should be shown on the POS. Enabling shows on the POS.</mat-hint>
            </mat-checkbox>
          </div>


          <div>
            <mat-label >Sale Type </mat-label>
          </div>
          <div>
            <mat-checkbox
                  type             ="text"
                  formControlName  ="isRegisterTransaction"
                  class="form-control" >
              <mat-hint>This should be marked for all transactions used in sales.</mat-hint>
            </mat-checkbox>
          </div>

          <div>
            <mat-label >Online Order</mat-label>
          </div>
          <div >
            <mat-checkbox
                  type             ="text"
                  formControlName  ="onlineOrder"
                  class="form-control" >
              <mat-hint>This enables the order as an option for online users.</mat-hint>

            </mat-checkbox>
          </div>

          <div>
            <mat-label >API Order</mat-label>
          </div>
          <div>
            <mat-checkbox
                  type             ="text"
                  formControlName  ="apiOrder"
                  class="form-control" >
              <mat-hint> This order type can be used by third party API's.</mat-hint>
            </mat-checkbox>
          </div>

          <div>
            <mat-label >Prompt Schedule Time</mat-label>
          </div>
          <div>
            <mat-checkbox
                  type             ="text"
                  formControlName  ="promptScheduleTime"
                  class="form-control" >
                  <mat-hint>Requires user set preferred schedule date for order to be fufilled.</mat-hint>
            </mat-checkbox>
          </div>

          <div>
            <mat-label>Delivery Service</mat-label>
          </div>
          <div>
            <mat-checkbox
                  type             ="text"
                  formControlName  ="deliveryService"
                  class="form-control" >
                  <mat-hint>Requires user put in addresss for delivery.</mat-hint>
            </mat-checkbox>
          </div>

          <!-- default productid -->
          <product-search-selector2
            [productLookupField] = "'defaultProductID1'"
            [id]                 = "serviceType.defaultProductID1"
            [inputForm]          = "inputForm"
            [description]        = "'Default Item 1'"
            >
          </product-search-selector2>

          <product-search-selector2
             [productLookupField] = "'defaultProductID2'"
             [id]                 = "serviceType.defaultProductID2"
             [inputForm]          = "inputForm"
             [description]        = "'Default Item 2'"
            >
          </product-search-selector2>


          <div>
            <mat-form-field appearance="outline">
              <mat-label >Minimum Order Value </mat-label>
              <input matInput
                    type             ="number"
                    formControlName  ="orderMinimumTotal"
                    class="form-control" >
              <mat-hint>Uses pre-tax sub total.</mat-hint>
            </mat-form-field>
          </div>

        </div>

        <mat-divider [vertical]="true"></mat-divider>

        <div  class="grid-fields">
          <div class="instructions">
            <mat-label><h4>Description for receipts.</h4></mat-label><br>
            <mat-hint>Express gratitude, provide refund policy, etc...</mat-hint>
            <simple-tinymce cols="50"
                            rows="20"
                            style="height: 200px;"
                            name="description"
                            formControlName="description"
                            [ngModel]="description">
            </simple-tinymce>
          </div>
        </div>

        <div  class="grid-fields">
          <div class="instructions">
            <mat-label><h4>Instructions.</h4></mat-label><br>
            <mat-hint>These are displayed on the browser to help customers.</mat-hint>
            <simple-tinymce cols="50"
                            rows="20"
                            style="height: 200px;"
                            name="instructions"
                            formControlName="instructions"
                          >
            </simple-tinymce>
          </div>
        </div>
        <div  class="grid-fields">
          <div class="instructions">
            <mat-label><h4>Shipping Instructions.</h4></mat-label><br>
            <mat-hint>Express gratitude, provide refund policy, etc...</mat-hint>
            <simple-tinymce cols="50"
                            rows="20"
                            style="height: 200px;"
                            name="shippingInstructions"
                            formControlName="shippingInstructions"
                            [ngModel]="description">
            </simple-tinymce>
          </div>
        </div>

        <div  class="grid-fields">
          <div class="instructions">
            <mat-label><h4>Schedule Instructions.</h4></mat-label><br>
            <mat-hint>These are displayed on the browser to help customers.</mat-hint>
            <simple-tinymce cols="50"
                            rows="20"
                            style="height: 200px;"
                            name="scheduleInstructions"
                            formControlName="scheduleInstructions"
                          >
            </simple-tinymce>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>
