 <div [formGroup]="searchForm"
      class="form-background">
  <mat-form-field class="form-background"
                  appearance="outline"
                  fxFlexFill >
    <mat-label class="form-background">Search Item</mat-label>
    <input
           #input
           type="text"
           class="form-background"
           placeholder="Search Items"
           matInput
           formControlName="productName"
           [matAutocomplete]="auto">
    <mat-autocomplete panelWidth="auto"
                      #auto="matAutocomplete"
                      (optionSelected)="onChange($event)">
      <mat-option *ngFor="let item of results$ | async"
                  [value]="item">
             {{item.name}}
      </mat-option>
    </mat-autocomplete>

 </mat-form-field>
</div>


<!-- [displayWith]="displayFn.bind(this) -->
