 <div [formGroup]="searchForm"
      *ngIf="searchForm">
  <mat-form-field >
    <mat-label>Search Items</mat-label>
    <input
           #input
           type="text"
           class="form-background"
           placeholder="Search Items"
           matInput
           formControlName="productName"
           [matAutocomplete]="auto">
    <mat-autocomplete panelWidth="auto"
                      #auto="matAutocomplete"
                      (optionSelected)="onChange($event)">
      <mat-option *ngFor="let item of results$ | async"
                  [value]="item">
             {{item.name}}
      </mat-option>
    </mat-autocomplete>
 </mat-form-field>
</div>


