 <div [formGroup]="searchForm">
  <mat-form-field class="mat-form-field"  appearance="outline"  >
    <mat-label><ng-content></ng-content> </mat-label>
      <input
            #input
            type="text"
            placeholder="Search Items"
            matInput
            [formControlName]="formControlName"
            [matAutocomplete]="auto">
      <mat-autocomplete panelWidth="auto"
                        #auto="matAutocomplete"
                        (optionSelected)="onChange($event)">
        <mat-option *ngFor="let item of results$ | async"
                    [value]="item">
              {{item.name}}
        </mat-option>
      </mat-autocomplete>
  </mat-form-field>
</div>


