<mat-card>

  <mat-card-title>
    Edit Selected Items
  </mat-card-title>

  <mat-card-subtitle>
    Any changes to this window will update all selected items.
    <button class='edit-buttons' mat-raised-button color="primary" (click)="enableAllItems()">Activate All Items</button>
    <button class='edit-buttons'  mat-raised-button color="primary"  (click)="updateItems()"><mat-icon>update</mat-icon>Update</button>
    <button class='edit-buttons'  mat-raised-button color="warn" (click)="delete()"><mat-icon>delete</mat-icon>Delete</button>
    <button class='edit-buttons'  mat-raised-button color="primary" (click)="exit()"><mat-icon>close</mat-icon>Close</button>

    <div *ngIf="selected">
    </div>
  </mat-card-subtitle>

  <mat-card-content>

    <div *ngIf="(action$ | async) as action">
      {{action | json}}
    </div>

    <div class="grid-container"
         [formGroup]="inputForm">

      <div>
        <product-type-select     [inputForm]="inputForm"></product-type-select>
      </div>
      <div>
        <app-department-select   [inputForm]="inputForm"></app-department-select>
      </div>
      <div>
        <app-category-select     [inputForm]="inputForm">Category</app-category-select>
      </div>
      <div>
        <app-category-select  [inputForm]="inputForm"
                              [fieldName]="'subCategoryID'"
                              [type]     ="'subcategory'">Sub Category</app-category-select>
      </div>

      <div>
        <app-brand-type-select   [inputForm]="inputForm"> </app-brand-type-select>
      </div>
      <div>
        <app-species-list        [inputForm]="inputForm"></app-species-list>
      </div>
      <div>
       <prompt-group-select      [inputForm]="inputForm"    ></prompt-group-select>
      </div>

      <mat-label>If you want a group of items to show up at the top of a list, you can put 0 or negative values here.</mat-label>
      <app-value-fields
            [inputForm]="inputForm"
            [fieldName]="'sortOrder'">
        Sort Order
      </app-value-fields>

      <div>

        <div  class="mat-label" >
          <mat-slide-toggle
              class="mat-label"
              name="enabled"
              formControlName="active">
              <mat-label class="mat-label">Active</mat-label>
            </mat-slide-toggle>
        </div>

        <div  class="mat-label">
              <mat-slide-toggle
              name="webMode"
              class="mat-label"
              formControlName="webProduct">
              <mat-label class="mat-label">Web Enabled</mat-label>
            </mat-slide-toggle>
        </div>

        <div  class="mat-label">
            <mat-slide-toggle
            name="webMode"
            class="mat-label"
            formControlName="webWorkRequired">
            <mat-label class="mat-label">Requires Work</mat-label>
          </mat-slide-toggle>
        </div>

      </div>

    </div>

  </mat-card-content>

</mat-card>
