<mat-card>

  <mat-card-title>
    Edit Selected Items
  </mat-card-title>

  <mat-card-subtitle>
    Any changes to this window will update all selected items.
    <button mat-button (click)="updateItems()"><mat-icon>update</mat-icon>Update</button>
    <div *ngIf="selected">
      <!-- {{selected | json}} -->
    </div>
  </mat-card-subtitle>

  <mat-card-content>

    <div [formGroup]='inputForm'>
      <product-type-select     [inputForm]="inputForm"></product-type-select>
      <app-department-select   [inputForm]="inputForm"></app-department-select>
      <app-category-select     [inputForm]="inputForm"></app-category-select>
      <app-brand-type-select   [inputForm]="inputForm"> </app-brand-type-select>
      <app-species-list        [inputForm]="inputForm"></app-species-list>
    </div>

  </mat-card-content>

</mat-card>
