<div *ngIf="(upload$ | async) as action;else  loading"></div>
<ng-template #loading>
  <div *ngIf="uploading">
    ...uploading
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</ng-template>
<div *ngIf="errorMessage"><mat-icon>warning</mat-icon><mat-label>{{errorMessage}}</mat-label></div>

<div class="container"
     appDnd
    (fileDropped)="onFileDropped($event)" >

  <input type="file" #fileDropRef
                     id="fileDropRef"
                     multiple
                     (change)="fileBrowseHandler($event.target.files)" />

  <div class="file-drop"><ng-content></ng-content></div>

  <button mat-button
          color="primary"
          (click)="fileDropRef"><mat-icon>upload</mat-icon>
  </button>

</div>



<div>
    <div *ngIf="fileNames">
      <div *ngFor="let item of fileNames.split(','); let i = index ">
        <div *ngIf="item != ''"  class="container">
          <div>
            {{ getItemName(item) }}
          </div>
          <div>
            <img class="uploaded-image" [src]="getImageURL(item)" [alt]="item">
          </div>

          <div class="delete" >
            <button mat-button (click)="deleteFile(item)"> <mat-icon>delete_forever</mat-icon></button>
          </div>
        </div>
      </div>
    </div>

    <ng-template *ngIf="uploading">
      <mat-spinner [diameter]=50></mat-spinner>
    </ng-template>
</div>
