
@import "/src/mixins.scss";

.values-container {
  display        : flex;
  flex-direction : row;
  justify-content: baseline;
  flex           : auto;
  width          : 105px;
@include for-phone-only  {
    display        : flex;
    flex-direction : row;
    justify-content: baseline;
    flex           : auto;
    width          : 95px;
  }
}

.calc {
  margin-top: 5px;
  @include for-phone-only  {
    font-size:  smaller;
  }
}

mat-form-field  {
  margin-right: 15px;
  width       : 105px;
  font-size   : smaller;
  @include for-phone-only  {
    margin-right: 10px;
    font-size:  smaller;
    width       : 95px;
  }
}


