<div class="values-container">
  <div *ngIf="inputForm && formControlName"
       [formGroup]="inputForm"  >
    <mat-form-field appearance="outline" class="grid-item">
      <input matInput
              type               = "number"
              [formControlName]  = "formControlName"
              (ngModelChange)    = "refreshValues"
            >
    </mat-form-field>
  </div>

  <div>
    <div><ng-content></ng-content></div>

    <div class="calc" *ngIf="inputForm && formControlName  && 
                            inputForm.get(formControlName).value != null &&
                            inputForm.get(formControlName).value != 0">
      
      <div>{{inputForm.get(formControlName).value * multiplier | currency}}</div>
    </div>

    <div class="calc" *ngIf="!inputForm || !formControlName || !inputForm.get(formControlName).value">
      <div>{{0 * multiplier | currency}}</div>
    </div>
  </div>

</div>
