<!-- <div *ngIf="searchForm"> -->
  <div class="mat-form-field"
       [formGroup]="searchForm">
    <mat-form-field [class]="formFieldClass"
                    appearance="outline" fxFlexFill >

      <mat-label class="form-background"><mat-icon>search</mat-icon>Brand Lookup</mat-label>
      <input
              #input
              type="text"
              class="input-field"
              placeholder="Brand Lookup"
              matInput
              formControlName="brandIDLookup"
              [matAutocomplete]="auto">

          <mat-autocomplete panelWidth    = "auto"
                            #auto         = "matAutocomplete"
                            [displayWith] = "displayFn.bind(this)">

        <mat-option *ngFor="let item of (results$ | async)?.results"
                      [value]="item">
                {{item.company}} -- {{item.account}}
        </mat-option>

      </mat-autocomplete>
    </mat-form-field>

  </div>

  <div  hidden="true"  [formGroup]="inputForm">
    <input  formControlName="brandID">
  </div>
<!--
</div> -->
<!-- -->
