.formFieldClass-standard {
  font-size: .9em;
  padding: 4px;
  width: 100%;
}

.formFieldClass {
  font-size: .9em;
  padding: 4px;
  width: 100%;

}

.mat-form-field2 {
  font-size: .80em;
}

.form-field { 
  font-size: .8em;
}

.grid {
  display: grid;
  grid-template-columns: 160px 1fr;
  gap: 2px;
  max-width: 185px;
}
