  <div [class]="formFieldClass"
       [formGroup]="searchForm">

    <mat-form-field [class]="formFieldClass"
                    appearance="outline"
                    fxFlexFill >
      <mat-label class="form-background"><mat-icon>search</mat-icon>Brand Lookup</mat-label>

      <input
              #input
              matInput
              type             ="text"
              [class]          ="formFieldClass"
              placeholder      ="Brand Lookup"
              formControlName  ="brandIDLookup"
              [matAutocomplete]="auto">

          <mat-autocomplete panelWidth    = "auto"
                            #auto         = "matAutocomplete"
                            (optionSelected)="onChange($event)">

        <mat-option *ngFor="let item of (results$ | async)?.results"
                      [value]="item">
            {{item.company}} -- {{item.account}}
        </mat-option>

      </mat-autocomplete>
    </mat-form-field>

  </div>

  <div      hidden="true"
            [formGroup]="inputForm">
    <input  formControlName="brandID">
  </div>

