// @import "/src/mixins.scss";

.gallery-container {
  align-items: center;
  justify-content: center;
  vertical-align: top;
  margin:  5px;
  border-radius: 15px;
}

img {
  border-radius: 25px;
  border: 0;
  object-fit: contain;
  object-position: 50% 50%;
  // width: 100%;
  // max-height: 400px;
}

.gallery { 
  // border-radius: 25px;
  // border: 0;
  // object-fit: contain;
  // object-position: 50% 50%;
  // width: 100%;
  max-height: 400px;
}

.gallery-images { 
  // border-radius: 25px;
  // border: 0;
  // object-fit: contain;
  // object-position: 50% 50%;
  // width: 100%;
  min-height: 250px;
}

.gallery-mini { 
  // border-radius: 25px;
  // border: 0;
  // object-fit: contain;
  // object-position: 50% 50%;
  // width: 100%;
  // max-height: 100px;
}

.gallery-small { 
  max-height: 300px;
  // border-radius: 25px;
  // border: 0;
  // object-fit: contain;
  // object-position: 50% 50%;
  // width: 100%;
}

.grid-item-gallery {
  grid-row: 1/2;
  width: 95%;
  margin-left: 10px;
  max-height: 400px;
  overflow: hidden;
}


