@import "/src/mixins.scss";

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
}

.headers {
  border-radius: 10px;
  border: 0;
  font-size: 1.5em;
  font-weight: 600;
  padding: .5em ;
}

// .viewbutton {
//   color: rgb(22, 14, 14);
// }

.grid-container-header {
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: auto;
  gap: 1em 1em;
  position: relative;
}

.grid-item {
  text-align: left;
  font-size: 1.2em;
  @include for-phone-only {
    font-size: 1em;
  }
}

.grid-container {
  --gap: 15px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(3, 1fr); // auto-fit, minmax(350px, 1fr) );
  margin-top: 15px;
  margin-right: 10px;

  @include for-phone-only {
    --gap                : 5px;
    display              : grid;
    gap                  : var(--gap);
    grid-template-columns: 1fr;
    // margin-right         : 4px;
    margin-top: 15px;
  }
}
