<mat-card>
  <mat-card-title>
    <div class="centered-flex">
      Flower Menu
    </div>
  </mat-card-title>

  <mat-card-content>
    <div *ngIf="headers">
      <div class="headers" *ngFor="let header of headers">
        <div class="grid-item menu-items">
          <div class="headers">
            {{header}}
            <button mat-icon-button (click)="setSort('thc')">
              THC <mat-icon>{{ sortField === 'thc' ? (sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward') : '' }}</mat-icon>
            </button>
            <button mat-icon-button (click)="setSort('cbd')">
              CBD <mat-icon>{{ sortField === 'cbd' ? (sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward') : '' }}</mat-icon>
            </button>
            <button mat-icon-button (click)="setSort('name')">
              Name <mat-icon>{{ sortField === 'name' ? (sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward') : '' }}</mat-icon>
            </button>
          </div>
        </div>

        <mat-divider></mat-divider>

        <div class="grid-container">
          <ng-container *ngFor="let flower of (filteredFlowers | async)">
            <span *ngIf="flower.priceTier === header && flower.flower.length > 0">
              <div class="grid-item">
                <button class="button-dimensions" mat-button (click)="navMenuItem(flower)">
                  <mat-icon>open_with</mat-icon>
                  <span class="button-text">
                    {{flower?.flower | truncateText: 18}}
                    <div>THC: {{flower?.thc}}% CBD: {{flower?.cbd}}%</div>
                    <div *ngIf="isStaff">Cat: {{flower?.priceCategory}}</div>
                  </span>
                </button>
              </div>
            </span>
          </ng-container>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
