<mat-card>

  <mat-card-title>
    <div fxLayout="column" fxLayoutAlign="center center" class="row-height">
      Flower Menu
    </div>
  </mat-card-title>

  <mat-card-content>

    <div *ngIf="headers">
        <div class="headers"
             *ngFor="let header of headers">

          <div class="grid-item menu-items">
            <div class="headers">
              {{header}}
            </div>
          </div>

          <mat-divider></mat-divider>

          <div   class="grid-container">
            <ng-container
                  *ngFor="let flower of (flowers$ | async)" >
              <span *ngIf="flower.priceTier === header && flower.flower.length>0">
                <div  class="grid-item" >
                  <button class="button-dimensions"
                          mat-button (click)="navMenuItem(flower)">
                    <mat-icon>open_with</mat-icon>
                    <span class='button-text'>
                      {{flower.flower | truncateText: 18}}
                    </span>
                  </button>
                </div>
              </span>
            </ng-container>
        </div>

      </div>
    </div>
  </mat-card-content>
</mat-card>
