
.grid-items {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
  gap: 10px;
  margin: 10px;
  width: 300px;
}

button {
  height: 50px;
}

mat-card {
  height: 800px;
  width: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 99%;
}
