<div *ngIf="value" class="loader">
  <ng-content></ng-content>
  <mat-progress-bar mode="determinate" [value]="value"></mat-progress-bar>
</div>

<div>
  <div class="orders-container">
    <div  *ngIf="orders"
          class                   ="orders-list"
          infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="50"
          (scrolled)              ="onScrollDown()"
          (scrolledUp)            ="onScrollUp()"
          [scrollWindow]          ="false">

        <div  [class]="grid"
              *ngIf="cardStyle === 'block' && orders">
          <ng-container *ngFor="let order of orders; let i = index">
            <app-order-card
              (click)="setActiveOrder(order)"
              [order]="order"
            ></app-order-card>
          </ng-container>
        </div>

        <div  [class]="grid"
              *ngIf="cardStyle === 'prep' && orders && site">
          <ng-container *ngFor="let order of orders; let i = index">
            
            <app-order-prep
                (outPutSetVisibility)="setThisCardInVisible($event)"
                *ngIf="isOrderVisible(i)"
                [order]="order"
                [site] ="site"
                [index]="i"
            ></app-order-prep>
          </ng-container>
        </div>

        <div  class='grid-flow-panel'  *ngIf="cardStyle === 'panel' && orders">
          <ng-container *ngFor="let order of orders; let i = index">
            <app-order-panel
              (click)="setActiveOrder(order)"
              [order]="order"
            ></app-order-panel>
          </ng-container>
        </div>

    </div>
  </div>
</div>

<div class="floating-info slidein loader"
    *ngIf="loading && !endOfRecords" >
  <mat-spinner></mat-spinner>
</div>
