<ng-container [ngTemplateOutlet]="orderPrepRefreshView" ></ng-container>

<div *ngIf="value" class="loader">
  <ng-content></ng-content>
  <mat-progress-bar mode="determinate" [value]="value"></mat-progress-bar>
</div>

<ng-template #orderPrepRefresh>
  <div *ngIf="(orderSubscription$ | async) as orders;else loadingPrep">  </div>
  <div *ngIf="(results$ | async) as results"> </div>
  <ng-template #loadingPrep>..loading</ng-template>
</ng-template>

<ng-template #ordersRefresh>
  <div *ngIf="(results$ | async) as results"> </div>
</ng-template>

<div *ngIf="(action$ | async) as action"></div>

<div>
  <div class="orders-container">
    <div  *ngIf="orders"
          [id]                    ="scrollStyle"
          class                   ="orders-list"
          infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="50"
          (scrolled)              ="onScrollDown()"
          (scrolledUp)            ="onScrollUp()"
          [scrollWindow]          ="false">

        <div  [class]="grid"
              [style]="infiniteStyle"
              *ngIf="cardStyle === 'block' && orders" >
          <ng-container *ngFor="let order of orders; let i = index">
            <div *ngIf="order.id && order.id != 0"  >
              <app-order-card
                (click)="setActiveOrderObs(order)"
                [androidApp]="platformService.androidApp"
                [order]="order"
                [disableEdit]="userAuths?.disableEditOtherUsersOrders && order?.employeeID != user?.employeeID"
              ></app-order-card>
            </div>
            </ng-container>
        </div>

        <div  [class]="'grid-flow-prep'"
              *ngIf="cardStyle === 'prep' && orders && site">
          <ng-container *ngFor="let order of orders; let i = index">
            <ng-container [ngTemplateOutlet]="orderPrepCard"
                          [ngTemplateOutletContext]="{$implicit: order, i: i}">
                          </ng-container>
            </ng-container>
        </div>

        <div  class='grid-flow-panel'  *ngIf="cardStyle === 'panel' && orders">
          <ng-container *ngFor="let order of orders; let i = index">
            <ng-container *ngIf="order.id && order.id != 0">
              <app-order-panel
                (click)="setActiveOrderObs(order)"
                [order]="order"
              ></app-order-panel>
              </ng-container>
          </ng-container>
        </div>

    </div>
  </div>
</div>

<div class="floating-info slidein loader"
    *ngIf="loading && !endOfRecords" >
  <mat-spinner></mat-spinner>
</div>

<ng-template #orderPrepCard let-order let-i>
  <app-order-prep
      (outPutSetVisibility)="setThisCardInVisible($event)"
      (ouPutSetActive)="setActiveOrderObs($event)"
      *ngIf="isOrderVisible(i, order)"
      [order]="order"
      [site] ="site"
      [index]="i"
  ></app-order-prep>
</ng-template>
