<div *ngIf="inputForm"
     [formGroup]="inputForm"
     class="items-grid">

     <div *ngIf="(categories$ | async) as list; else loading">
        <mat-form-field class="category-list"
                        appearance="outline">
          <mat-label> {{type}} </mat-label>
          <mat-select
                      type="number"
                      [formControlName] = "fieldName"
                      (selectionChange)="getCategory($event)" >
              <mat-option [value]="0">
                Clear
              </mat-option>
              <mat-option *ngFor="let item of list"
                          [value]="item.id">
                {{item?.name}}
              </mat-option>
          </mat-select>
      </mat-form-field>
    </div>

    <!-- <div *ngIf="inputForm.controls[fieldName].value != 0">
      <button mat-button
              color="warn"
              (click)="clearItem()">
        <mat-icon>delete</mat-icon>
      </button>
    </div> -->

    <ng-template #loading>
      <mat-label><ng-content></ng-content></mat-label>
      <mat-spinner [diameter]="50"></mat-spinner>
    </ng-template>
</div>


