
// mat-form-field {
//   font-size: .9em;
//   margin: 3px 3px 3px 3px;
// }


.items-grid {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // column-gap: 5px;
    gap: 10px;
    display: grid;
    grid-template-columns: 205px 25px ;

}

.category-list {
    width: 205px;
}
