
// .mat-form-field {
//   display: inline-block;
//   position: relative;
//   text-align: left;
//   width: 175px;
// }


::ng-deep .mat-form-field .mat-form-field-wrapper {
  font-size: .8em;
  padding: -3px -3px;
  margin: 4px 4px 4px 4px;
}

.form-controls {
  font-size: .8em;
}

mat-form-field {
  font-size: .9em;
  margin: 3px 3px 3px 3px;
}

.form-fields {
  margin: 0;
  padding: 0;
}
