@import "/src/mixins.scss";

:host {
    .mat-icon {
        vertical-align: middle;
    }
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row-class {
  width: 100%;
}

.submenu-sections {
  margin-top: 5px;
  width: 100%;
}

.spinner-container {
  top: 50px;
}

ul {
  list-style: none;
  list-style-type: none;
  left: .5rem;
  line-height: 2.6em;
  width: 100%;
}


.accordion {
  width: 100%;
  margin: auto;
  line-height: 1.6em;
  border-radius: 4px;
    overflow-x: hidden;
}

.accordion .menu {
  position: relative;
  padding: 0 ;
  font-weight: 400;
  border-bottom: 1px solid #ccc;
  line-height: 3em;
  cursor: pointer;
  transition: all 0.4s ease;
  height: 100%;
  margin-left: 4px;
}

.accordion li:last-child .menu {
  border-bottom: 0;
}

.accordion li i {
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: .5rem;
  left: auto;
}

.submenu-position  {
  position: fixed;
  bottom: 0;
  left: 0;
}

.grid-toggle-tiny {
  height: 50px;
  grid-template-columns: minmax(45px, 50px) 140px;

  @include for-phone-only {
    grid-template-columns: minmax(45px, 50px);
  }
}

.grid-toggle-collapsed {
  height: 50px;
  // grid-template-columns: minmax(45px, 50px) 140px;

  @include for-phone-only {
    grid-template-columns: minmax(45px, 50px);
  }
}

.menu-item {
  height: 100%;
  line-height: 1.25em;
}

li {
  height: 50px;
}

.menu-item :hover {
  background-color: #d3c8ca;
  transition: all .5s ease-in-out;
}

.submenu {
  height:             0;
  overflow:           hidden;
  font-size:          1em;
  margin-top:         15px;
  transition: height  0.4s ease;
}

.submenu li {
  color: #d3c8ca;
}

.accordion li.active i.fa-chevron-down {
  transform: rotate(180deg);
}

.accordion li:last-child .submenu {
  border-radius: 0 0 4px 4px;
}

.accordion li:last-child .submenu li:last-child {
  border-bottom: 0;
}

.menu :hover {
  background-color: #7b7677;
  transition: all .5s ease-in-out;
}

.submenu a {
  display: block;
  text-decoration: none;
  padding-left: 5px;
  transition: all 0.25s ease-in-out;
  line-height: 1.2em;
}

.submenu a:hover {
  background: #af9b9e;
  color: #fff;
}

.item-icon .item-name {
  line-height: 2.5em;
}
.submenu {
  color: wheat
}

.menu-header {
  font-size:     1.2em;
  font-weight:   425;
  margin-top:    15px;
  margin-bottom: 5px;
  margin-left:   5px;
}

.menu-header {
  margin-bottom: 15px
}
