  <!-- <div *ngIf="(accordionMenu$ | async) as menu; else loading"></div> -->
<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<div class="container">
  <div class="row-class"
       *ngIf="(menu$ | async) as menus; else loading">
    <ul id="accordion"
        class="accordion">
      <li class="menu-item"
          @fade
          *ngFor="let menu of menus; let i = index"
          [class.active]="menu?.active">

        <div  class="menu"
              *ngIf="isAuthorized(menu?.userType)"
              (click)="toggle(menu, i)">
          <div    class="grid-toggle-tiny">
            <div  class="item-icon" *ngIf="menu.icon">
              <mat-icon>{{ menu.icon }}</mat-icon>
            </div>
            <div  class ="item-name" *ngIf="!tinyMenu">
              {{menu?.name | truncateText : 20}}
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <ng-container [ngTemplateOutlet]="subMenu"></ng-container>

</div>

<ng-template #subMenu>
  <div [class]="submenuposition">
    <div *ngIf="displayCategories" class="submenu-sections">
        <div *ngIf="submenu">
          <ul id="accordion"
              class="accordion">
            <li class="menu-item"
                @fade
                *ngFor="let item of submenu" >

              <div *ngIf="isAuthorized(item.userType)" >
              <div *ngIf="!item.minimized">
                  <div class="menu" >
                    <button mat-menu-item
                            color=""
                            routerLinkActive={{item.routerLinkActive}}
                            routerLink=      {{item.routerLink}}>
                      <div [class]="gridtoggletiny">
                        <div class="item-font" *ngIf="item.icon">
                          <mat-icon>{{item.icon}}</mat-icon>
                        </div>
                        <div class="item-font" *ngIf="!tinyMenu">
                          {{item.name | truncateText : 20}}
                        </div>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <button mat-icon-button
                  [matMenuTriggerFor]="menu"
                  aria-label=" icon button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
    <div  *ngIf="submenu"></div>
      <ul id   ="accordion"
          class="accordion">
        <li class="menu-item" @fade>
            <mat-menu #menu="matMenu">
              <div  *ngFor="let item of submenu">
                  <div *ngIf="item.minimized">
                    <div *ngIf="isAuthorized(item?.userType)">
                      <button mat-menu-item
                              routerLinkActive={{item?.routerLinkActive}}
                              routerLink      = {{item?.routerLink}}>
                        <div class="grid-toggle-tiny">
                          <div class="item-font" *ngIf="item.icon">
                            <mat-icon>{{item.icon}}</mat-icon>
                          </div>
                          <div class="item-font" *ngIf="!tinyMenu">
                            {{item.name | truncateText : 20}}
                          </div>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
            </mat-menu>
        </li>
      </ul>
    </div>

    <button mat-icon-button
            (click)="setSmallMenu()"
            aria-label=" toggle">
        <mat-icon>view_compact</mat-icon>
    </button>
  </div>

</ng-template>
