<div class="header">
  <mat-icon>settings</mat-icon>
  Settings
</div>
<div class="roleDescription">User Level: {{ role }} -  User Platform: {{platForm}} Step: {{accordionStep}}</div>


<div class="settings" *ngIf="role">
  <div *ngIf="role === 'admin' || role === 'manager'">


    <mat-accordion class="example-headers-align" multi="false">

      <mat-expansion-panel
          [expanded]="accordionStep === -1"  >
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="accordionStep === 0"  (opened)="setStep(0)"  >
        <mat-expansion-panel-header>
          <mat-panel-title>  Data </mat-panel-title>
          <mat-panel-description>
            Database and Settings
            <mat-icon>database</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <ng-container [ngTemplateOutlet]="currentAccordionStep"></ng-container>

        <ng-template #accordionStep0>
          <div >
            <div>
              <app-database-schema></app-database-schema>
            </div>
            <div>
              <api-stored-value></api-stored-value>
            </div>

            <mat-divider></mat-divider>
            <app-cache-settings></app-cache-settings>

            <mat-divider></mat-divider>
            <h4><mat-icon>import_export</mat-icon>Import / Export</h4>
            <div class="grid-views">
              <div>
                <app-csv-import></app-csv-import>
              </div>
              <div>
                <app-export-data></app-export-data>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template #loading>
          ..loading
          <mat-progress-spinner [diameter]="50"></mat-progress-spinner>
        </ng-template>

        <mat-action-row>
          <button mat-button color="warn"    (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next    </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="accordionStep === 1"  (opened) ="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
              Software & Hardware Settings
            </mat-panel-title>
            <mat-panel-description>
              Feature lists for initial & ongoing configuration.
              <mat-icon>store</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <ng-container [ngTemplateOutlet]="currentAccordionStep"></ng-container>

        <ng-template #accordionStep1>

          <div class="grid-settings-2">
            <app-inventory-settings [role]="role"></app-inventory-settings>
          </div>

          <div>
            <app-software-settings></app-software-settings>
          </div>

        </ng-template>

        <ng-template #loading>
          ..loading
          <mat-progress-spinner [diameter]="50"></mat-progress-spinner>
        </ng-template>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>

      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="accordionStep === 2"   (opened) = "setStep(2)" hideToggle>

        <mat-expansion-panel-header>
          <mat-panel-title>
            Authorizations and Access
          </mat-panel-title>
          <mat-panel-description>
              Behavior control and access to system features.
            <mat-icon>permissions</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

          <div>
            <button mat-raised-button
                    color  = "primary"
                    class ="grid-image-button-group "
                    (click)="clientTypesList()">
              <div class="grid-image-button">
                <div class="mat-grid-icon">  </div>
                <div>
                  User Types
                </div>
              </div>
            </button>
          </div>

          <div>
            <button mat-raised-button
                    color  = "primary"
                    class ="grid-image-button-group "
                    (click)="openMenuManager()">
              <div class="grid-image-button">
                <div class="mat-grid-icon">  </div>
                <div>
                  Menus
                </div>
              </div>
            </button>
          </div>

          <div>
            <button mat-raised-button
                    color  = "primary"
                    class ="grid-image-button-group "
                    (click)="functionGroups()">
              <div class="grid-image-button">
                <div class="mat-grid-icon"> </div>
                <div>
                  Function Groups
                </div>
              </div>
            </button>
          </div>


        <mat-action-row>
          <button mat-button color="warn"    (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>

      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="accordionStep === 4"    (opened)="setStep(4)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Printer
          </mat-panel-title>
          <mat-panel-description>
            Print Test and Settings
          <mat-icon>printer</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-installed-printers></app-installed-printers>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="accordionStep === 8"   (opened)="setStep(8)" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Ebay Settings
          </mat-panel-title>
          <mat-panel-description>
              Ebay testing and setup.
            <mat-icon>permissions</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-ebay-settings></app-ebay-settings>

      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="accordionStep === 5"    (opened)="setStep(5)" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Geo Location
          </mat-panel-title>
          <mat-panel-description>
            Geo Location
          <mat-icon>location_on</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <ng-container [ngTemplateOutlet]="currentAccordionStep"></ng-container>

        <ng-template #accordionStep5>

          <app-ionic-geo-location></app-ionic-geo-location>
          <mat-action-row>
            <button mat-button color="warn"    (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
        </ng-template>

        <ng-container *ngTemplateOutlet="loading"></ng-container>

      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="accordionStep === 6"  (opened)="setStep(6)" >
        <mat-expansion-panel-header>
            <mat-panel-title>
              Credit Card Processing
            </mat-panel-title>
            <mat-panel-description>
              Merchant Services
              <mat-icon>credit_card</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <ng-container [ngTemplateOutlet]="currentAccordionStep"></ng-container>

        <ng-template #accordionStep6>
          <button mat-raised-button (click)="processorselect(3)">CardPointe with Bolt</button>
          <button mat-raised-button (click)="processorselect(4)">Stripe</button>
          <ng-container [ngTemplateOutlet]="processorSelection"></ng-container>
        </ng-template>

        <ng-container *ngTemplateOutlet="loading"></ng-container>

        <mat-action-row>
          <button mat-button color="warn"    (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>

      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="accordionStep === 7"   (opened)="setStep(7)" >
        <mat-expansion-panel-header>
            <mat-panel-title>
              Device Info
            </mat-panel-title>
            <mat-panel-description>
              Device Info
              <mat-icon>device</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <ng-container [ngTemplateOutlet]="currentAccordionStep"></ng-container>

        <ng-template #accordionStep7>
            <app-device-info [uiHomePage]="uiHomePage"></app-device-info>
        </ng-template>

        <ng-container *ngTemplateOutlet="loading"></ng-container>

        <mat-action-row>
          <button mat-button color="warn"    (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>

<!-- Processor Selections -->
<ng-template #processorItem1>
</ng-template>

<ng-template #processorItem2>
</ng-template>

<ng-template #processorItem3>
  <!-- <div><card-point-settings>Bolt Card Point</card-point-settings></div> -->
</ng-template>

<ng-template #processorItem4>
  <!-- <div><app-stripe-settings>Stripe API Settings</app-stripe-settings> </div> -->
</ng-template>

<ng-template #loading>
  ..loading
  <mat-progress-spinner [diameter]="50"></mat-progress-spinner>
</ng-template>
