<div class="header">
  <mat-icon>settings</mat-icon>
  Settings
</div>
<div class="roleDescription">User Level: {{ role }}</div>
<br>

<div class="settings" *ngIf="role">

  <div *ngIf="role === 'admin' || role === 'manager'">

    <mat-accordion class="example-headers-align" multi="false">
      <mat-expansion-panel [expanded]="accordionStep == 0"
                           (opened)="setStep(0)"
                           hideToggle>
        <mat-expansion-panel-header>

          <mat-panel-title>
            Data
          </mat-panel-title>

          <mat-panel-description>
            Database and Settings
            <mat-icon>database</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <ng-container [ngTemplateOutlet]="currentAccordionStep"></ng-container>

        <ng-template #accordionStep0>
          <div *ngIf="accordionStep == 0">
            <app-database-schema></app-database-schema>
          </div>
        </ng-template>

        <ng-template #loading>
          ..loading
          <mat-progress-spinner [diameter]="50"></mat-progress-spinner>
        </ng-template>

        <mat-action-row>
          <button mat-button color="warn"    (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next    </button>
        </mat-action-row>
      </mat-expansion-panel>

    <mat-expansion-panel [expanded]="accordionStep == 1"
                          (opened) ="setStep(1)"
                          hideToggle>
      <mat-expansion-panel-header>
          <mat-panel-title>
            Software & Hardware Settings
          </mat-panel-title>
          <mat-panel-description>
            Feature lists for initial & ongoing configuration.
            <mat-icon>store</mat-icon>
          </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-container [ngTemplateOutlet]="currentAccordionStep"></ng-container>

      <ng-template #accordionStep1>

        <div>
          <button mat-raised-button
                  color  = "primary"
                  class  = "button-wide"
                  (click)= "togglePaymentMethodsList()">
            <mat-icon>payment</mat-icon>
            Payment Methods
          </button>
        </div>

        <div *ngIf="accordionStep ==1" class="grid-settings-2">
          <app-inventory-settings
                  [role]="role">
          </app-inventory-settings>
        </div>

        <div>
          <app-software-settings></app-software-settings>
        </div>

      </ng-template>

      <ng-template #loading>
        ..loading
        <mat-progress-spinner [diameter]="50"></mat-progress-spinner>
      </ng-template>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>

    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="accordionStep == 2"
                         (opened)="setStep(2)"
                         hideToggle>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Authorizations and Access
        </mat-panel-title>
        <mat-panel-description>
            Behavior control and access to system features.
          <mat-icon>menu</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-container [ngTemplateOutlet]="currentAccordionStep"></ng-container>

      <ng-template #accordionStep2>
        <button mat-raised-button color="primary" (click)="openMenuManager()">Menus</button>
        <button mat-raise-button color="primary" (click)="functionGroups()">Function Groups</button>
      </ng-template>

      <ng-template #loading>
        ..loading
        <mat-progress-spinner [diameter]="50"></mat-progress-spinner>
      </ng-template>

      <mat-action-row>
        <button mat-button color="warn"    (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>

    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="accordionStep == 4" (opened)="setStep(4)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Printer
        </mat-panel-title>
        <mat-panel-description>
          Print Test and Settings
        <mat-icon>printer</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      <app-installed-printers></app-installed-printers>
      <!-- <ng-container [ngTemplateOutlet]="currentAccordionStep"></ng-container> -->

      <!-- <ng-template #accordionStep4>
        <span *ngIf="accordionStep == 4">
        
        </span>

       
      </ng-template>

        <ng-template #loading>
        ..loading
        <mat-progress-spinner [diameter]="50"></mat-progress-spinner>
      </ng-template> -->


      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="accordionStep == 5" (opened)="setStep(5)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Geo Location
        </mat-panel-title>
        <mat-panel-description>
          Geo Location
          <mat-icon>location_on</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-container [ngTemplateOutlet]="currentAccordionStep"></ng-container>

      <ng-template #accordionStep5>

        <div  *ngIf="accordionStep == 5" >
          <app-ionic-geo-location></app-ionic-geo-location>
        </div>

        <mat-action-row>
          <button mat-button color="warn"    (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>

      </ng-template>

      <ng-template #loading>
        ..loading
        <mat-progress-spinner [diameter]="50"></mat-progress-spinner>
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="accordionStep == 6" (opened)="setStep(6)" hideToggle>
      <mat-expansion-panel-header>
          <mat-panel-title>
            Credit Card Processing
          </mat-panel-title>
          <mat-panel-description>
            Merchant Services
          </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-container [ngTemplateOutlet]="currentAccordionStep"></ng-container>

      <ng-template #accordionStep6>

        <div  *ngIf="accordionStep == 6" >
          <div *ngIf="role === 'admin'">
            <button mat-button color="accent"
                    (click)="gotoPayments()">
                    <mat-icon>settings</mat-icon> Settings
            </button>
          </div>
        </div>

        <div>
          <app-dsiemvelectron>NetEpay Settings for Windows</app-dsiemvelectron>
        </div>

        <div><app-dsi-emvpayment></app-dsi-emvpayment></div>

        <div>
          <app-stripe-settings>Stripe API Settings</app-stripe-settings>
        </div>

      </ng-template>

      <ng-template #loading>
        ..loading
        <mat-progress-spinner [diameter]="50"></mat-progress-spinner>
      </ng-template>

      <mat-action-row>
        <button mat-button color="warn"    (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>

    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="accordionStep == 7" (opened)="setStep(7)" hideToggle>
      <mat-expansion-panel-header>
          <mat-panel-title>
            Device Info
          </mat-panel-title>
          <mat-panel-description>
            Device Info
          </mat-panel-description>
      </mat-expansion-panel-header>

        <ng-container [ngTemplateOutlet]="currentAccordionStep"></ng-container>

      <ng-template #accordionStep7>

        <div  *ngIf="accordionStep == 7" >
          <app-device-info></app-device-info>
        </div>

      </ng-template>

      <ng-template #loading>
        ..loading
        <mat-progress-spinner [diameter]="50"></mat-progress-spinner>
      </ng-template>


      <mat-action-row>
        <button mat-button color="warn"    (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  </div>

</div>
