<mat-card class="mat-card-view">
  <mat-card-content>
    <button mat-button
            (click)="resetSearch()">
      Reset <mat-icon>refresh</mat-icon>
    </button>

    <div *ngIf="searchModel"
         class="keypad fields">
      <app-key-pad
        [inputForm]     ="searchForm"
        [inputTypeValue]="'text'"
        (outPutValue)   ="refreshBalanceSearch($event)">
        Report ID
      </app-key-pad>
    </div>

    <div class="fields">
      <mat-form-field appearance="outline" *ngIf="dateRangeForm">
        <mat-label>Date Range (Start Time)</mat-label>

        <mat-date-range-input [formGroup]="dateRangeForm"
                              [rangePicker]="reportRangePicker"
                             >
          <input matStartDate
                 formControlName="start"
                 placeholder="Start date"
                 (click)="emitDatePickerData()">
          <input matEndDate formControlName="end"
                 placeholder="End date"
                 (click)="emitDatePickerData()">

                </mat-date-range-input>

        <mat-datepicker-toggle matSuffix [for]="reportRangePicker"
                               ></mat-datepicker-toggle>
        <mat-date-range-picker touchUi #reportRangePicker
                               ></mat-date-range-picker>

        <mat-error *ngIf="dateRangeForm.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="dateRangeForm.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
    </div>

    <mat-button-toggle-group
          name        ="toggleOpenClosedAll"
          class       ="toggle-view"
          [(ngModel)] ="toggleOpenClosedAll"
          (change)    ="refreshToggleAllClosedOpen()"
      >
      <mat-button-toggle class="toggle-min" value="0"> All</mat-button-toggle>
      <mat-button-toggle class="toggle-min" value="2"> Closed </mat-button-toggle>
      <mat-button-toggle class="toggle-min" value="1" >Open </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group
        name        ="toggleOpenClosedAll"
        class       ="toggle-view"
        [(ngModel)] ="toggleEmployeeDeviceAll"
        (change)    ="refreshtoggleEmployeeServerAll()"
       >
      <mat-button-toggle class="toggle-min" value="3"> Employee</mat-button-toggle>
      <mat-button-toggle class="toggle-min" value="4"> Device </mat-button-toggle>
      <mat-button-toggle class="toggle-min" value="0" >All </mat-button-toggle>
    </mat-button-toggle-group>

    <div
         class="toggle-selector-employee">
      <app-mat-toggle-selector
              [id]="searchModel.employeeID"
              [list$]="employees$"
              (outPutID)="setEmployee($event)">
              Employee
      </app-mat-toggle-selector>
    </div>

    <div *ngIf="electronEnabled || printingEnabled">
      <div [formGroup]="printForm">
        <mat-form-field appearance="outline">
          <mat-label >Print Quantity</mat-label>
          <input matInput
                  type="number"
                  [(ngModel)] = "printQuantity"
                  formControlName="printQuantity"
                  class="form-control" >
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="electronEnabled || printingEnabled || capacitorEnabled">
      <div class="grid-container">
        <button class="info-buttons"
                mat-raised-button color="primary"
                ><mat-icon>print</mat-icon>
        </button>
      </div>
    </div>

  </mat-card-content>
</mat-card>

<ng-template #loading >
  <mat-spinner></mat-spinner>
</ng-template>

