<div class="container" >
  <mat-card>
    <div class="grid-flow prices border">
      <div></div>
      <div>Strain</div>
      <div>THC</div>
      <div>Shelf</div>
      <div>8th</div>
    </div>

   <mat-divider></mat-divider>

    <div [style.height]="chartHeight" class="menu-list"
         *ngIf="(eighthMenu$ | async) as list">
      <div *ngFor="let item of list">
        <app-strain-card
          *ngIf="item "
          [item]="item">
        </app-strain-card>
      </div>
    </div>
  </mat-card>
</div>
