<mat-card>
  <mat-card-subtitle>
      <h2>You are using the installed Pointless App</h2>
      <h2>Version: {{version}}</h2>
      <!-- <button mat-button (click)="getVersion()">Get Version</button>
      <button mat-button (click)="checkForUpdate()">Check for Update</button> -->
  </mat-card-subtitle>

  <mat-card-content>
      <p>In order to connect to your service, you must know your API.
          Please input the URL to the API.</p>
      <p>The API url should look something like: https://mycompanyName.com/api</p>
      <div *ngIf="currentAPIUrl">
        <h4>
          Current API  {{currentAPIUrl}}
        </h4>
        <h4 *ngIf="newAPI">New API {{newAPI}} </h4>
      </div>

      <div [formGroup]="inputForm" *ngIf="inputForm">
        <mat-form-field appearance="outline"  class="fields" >
          <mat-label >API Url</mat-label>
          <input matInput
            type="text"
            formControlName="apiUrl">
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary"
              (click)="typeHttps()">Type https://</button>
      <button mat-raised-button color="primary"
              (click)="typeAPI()">Type /api</button>

      <button mat-raised-button color="primary"
              (click)="setAPIUrl()">Save</button>

      <button mat-raised-button color="primary"
              routerLinkActive="list-item-active"
              routerLink="/login">Exit</button>

  </mat-card-content>

</mat-card>
