<mat-card>
  <mat-card-subtitle>
      <h2 *ngIf="version">You are using the installed Pointless App</h2>
      <h2 *ngIf="version">Version: {{version}}</h2>
      <p>In order to connect to your service, you must know your API.
        Please input the just the domain of the API.</p>
    <p>The API url should look something like: https://mycompanyName.com/api</p>
  </mat-card-subtitle>

  <mat-card-content [formGroup]="inputForm" *ngIf="inputForm">
      <div *ngIf="currentAPIUrl">
        <h4>
          Current API  {{currentAPIUrl}}
        </h4>
        <h4 *ngIf="newAPI">New API {{newAPI}} </h4>
      </div>

      <div>
        <mat-form-field appearance="outline"  class="fields" >
          <mat-label >API Domain</mat-label>
          <input matInput
            type="text"
            formControlName="apiUrl">
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary"
              (click)="setAPIUrl()">Save</button>

      <button mat-raised-button color="primary"
              routerLinkActive="list-item-active"
              routerLink="/login">Exit</button>

  </mat-card-content>

</mat-card>
