
.grid-time-container {
  display        : grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 2px;
  grid-row-gap   : 2px;
}

.date-fields {
  width: 150px;
  margin: 0px;
}
