<div *ngIf="inputForm">
  <div [formGroup]="inputForm">
    <h4>Billing Address</h4>
    <p>
      <mat-form-field appearance="outline">
        <mat-label >Address</mat-label>
        <input matInput type="text" id="billingAddress" formControlName="billingAddress"  class="form-control" >

      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label >Address 2</mat-label>
        <input matInput type="text" id="billingAddress2" formControlName="billingAddress2"  class="form-control" >
      </mat-form-field>
    </p>

    <p>
      <mat-form-field  appearance="outline">
        <mat-label >City</mat-label>
        <input matInput type="text" id="billingCity" formControlName="billingCity"  class="form-control" >
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label >State</mat-label>
        <input matInput type="text" id="billingState" formControlName="billingState"  class="form-control" >
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label >Zip</mat-label>
        <input matInput type="text" id="billingZIp" formControlName="billingZIp"  class="form-control" >

        </mat-form-field>
    </p>
  </div>

</div>
