  <ng-container [ngTemplateOutlet]="blogView"></ng-container>

  <ng-template #gridView>
    <!-- gridView -->
    <div  *ngIf="(blogs$ | async) as blogs">
      <mat-card class="mat-card grid-view" >
        <div   [style.height]="height"  *ngFor="let item of blogs" >
          <ng-container  *ngTemplateOutlet="listItem,  context: {$implicit: item}" ></ng-container>
        </div>
      </mat-card>
    </div>

  </ng-template>

  <ng-template #listView>
    <!-- listView Type <br> -->
    <div *ngIf="(blogs$ | async) as blogs">
      <mat-card class="mat-card">
        <ul class="list-view" *ngFor="let item of blogs">
          <ng-container  *ngTemplateOutlet="listItem,  context: {$implicit: item}" ></ng-container>
        </ul>
      </mat-card>
    </div>

  </ng-template>

  <ng-template #loading>
    <div>
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
  </ng-template>

  <ng-template #listItem let-item>
    <mat-card-title class="h1">
      {{item[0]?.title?.rendered}}
    </mat-card-title>
    <li [innerHtml]="item[0]?.content?.rendered"></li>
  </ng-template>