
<div *ngIf="(blogs$ | async) as blogs; else loading"></div>

<ng-container [ngTemplateOutlet]="viewType"></ng-container>

<ng-template #loading>
  <div fxLayout="row" fxLayoutAlign="center center" class="row-height">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</ng-template>

<ng-template #cardView>
  <div *ngFor="let item of blogs">
    <app-categories [panelHeightValue]="panelHeightValue" [itemTypeID]="6">
        Departments
    </app-categories>
    <mat-divider></mat-divider>
  </div>
</ng-template>

<ng-template #listView>
  <div *ngFor="let item of blogs">
    <app-categories [panelHeightValue]="panelHeightValue" [itemTypeID]="6">
        Departments
    </app-categories>
    <mat-divider></mat-divider>
  </div>
</ng-template>
