<div class="buttons-format flex-container">

    <div *ngIf="viewOrder">
      <button
              mat-button
              color="primary"
              class="button"
              (click)="onOutputViewOrder()">
              <mat-icon>expand</mat-icon>
        <span >View</span>
      </button>
    </div>

    <div *ngIf="enableCopy">
      <button  mat-button class="button"  (click)="copy()">
        <mat-icon>copy</mat-icon>
        <span *ngIf="!smallDevice">Copy</span>
      </button>
    </div>

    <div *ngIf="printOption">
      <button  mat-button class="button"  (click)="print()">
        <mat-icon>print</mat-icon>
        <span *ngIf="!smallDevice">Print</span>
      </button>
    </div>

    <div >
      <button mat-button
          class="button"
          (click)="updateItem()">
          <mat-icon>save</mat-icon>
          <span *ngIf="!smallDevice">Save</span>
      </button>
    </div>

    <div *ngIf="!hideExit">
      <button mat-button
              class="button"
              (click)="updateItemExit()">
          <span >Save & Exit</span>
      </button>
    </div>

    <div *ngIf="enableDelete">
      <button
              mat-button
              color="warn"
              class="button"
              (click)="deleteItem()">
              <mat-icon>delete</mat-icon>
        <span *ngIf="!smallDevice">Delete</span>
      </button>
    </div>

    <div *ngIf="!hideExit">
      <button  mat-button class="button"  (click)="onCancel()">
        <mat-icon>exit_to_app</mat-icon>
        <span *ngIf="!smallDevice">Exit</span>
      </button>
    </div>

</div>

