button {
  margin-bottom: 5px;
}

.flex-container {
  --gap: 3px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(75px, 1fr) );
  justify-content: flex-end;
}

.buttons-format {
  max-width: 375px;
  width:     350px;
  float: right;
}
