<mat-card>
  <mat-card-title>
    <div class="grid-header">
      <div>
        <h3><ng-content></ng-content></h3>
        <h3>{{title}}</h3>
      </div>
    
      <div>
        <button class="cancel-button"
                mat-fab
                color="warn"
                (click)="cancel()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      
    </div>
    <div></div>
    <div>Name on card is required.</div>
  </mat-card-title>

  <mat-card-content>
    <ng-template #loading>....loading stripe</ng-template>
    <ng-template #confirm>Confirm name and amount.</ng-template>
    <div class="grid-header">

      <div *ngIf="errorMessage"><mat-icon>alert</mat-icon>{{errorMessage}}</div>
      <div *ngIf="result?.error">
        Message {{result?.error?.message | json}}
      </div>

      <mat-divider></mat-divider>
    
      <div *ngIf="elementsOptions
                  && cardOptions
                  && paymentForm
                  && stripeAPISetting
                  && stripeInstance; else loading"
          [formGroup]="paymentForm"
          class      ="container">
               
          <div *ngIf="paymentForm.controls?.name.errors?.required && paymentForm.controls?.name.touched" class="error">
            <mat-icon color="warn">warning</mat-icon>  Name required.
          </div>
          <div *ngIf="paymentForm.controls?.amount.errors?.required && paymentForm.controls?.amount.touched" class="error">
            <mat-icon color="warn">warning</mat-icon> Amount required.
          </div>

          <app-value-fields
              [inputForm]  ="paymentForm"
              [fieldName]  ="'name'"
              [fieldsClass]="'fields-small'"
              required>
              Customer Name
          </app-value-fields>
    
          <app-value-fields
              [enabled]    = "true"
              [fieldType]  = "'number'"
              [inputForm]  = "paymentForm"
              [fieldName]  = "'amount'"
              [fieldsClass]= "'fields-small'"
              required>
              Amount
          </app-value-fields>
    
          <div *ngIf="elementsOptions?.clientSecret as clientSecret">
            <div *ngIf="!clientSecret">
              <button mat-raised-button (click)="setAmount()">Set Amount</button>
            </div>
          </div>
    
          <ng-container [ngTemplateOutlet]="ngxStripeComponent"></ng-container>

          <ng-template #ngxStripeComponent> 
            <div *ngIf="elementsOptions?.clientSecret as clientSecret ; else loading"> 
              <div class="ngx-stripe">
                  <ngx-stripe-payment 
                    [options]="cardOptions"
                    [clientSecret]="elementsOptions?.clientSecret"
                    >
                  </ngx-stripe-payment>
              </div>
            </div>
          </ng-template> 

          <div *ngIf="token && token.card"
                class="card-results-grid">
      
            <div>Name</div>
            <div>
                {{token?.card?.name}}
            </div>
      
            <div>Brand</div>
            <div>
                {{token?.card?.brand}}
            </div>
      
            <div>Exp</div>
            <div>
              {{token?.card?.exp_year}}
            </div>
      
            <div>Last 4</div>
            <div>
              {{token?.card?.lastr}}
            </div>
      
          </div>
 
      </div>
    </div>
    <div class="grid-header">
      <div></div>
      
      <div >
        <button class="pay-button"
              mat-raised-button
              color="primary"
              *ngIf="elementsOptions?.clientSecret as clientSecret"
              (click)="pay()">PAY {{ paymentForm?.value?.amount | currency }}
        </button>
      </div>

    </div>

  </mat-card-content>

</mat-card>

<mat-card *ngIf="stripeAPISetting">
  <mat-card-content>
    <mat-divider></mat-divider>
    <div class="spacer">
      <h4>Payment Policy</h4>
      <div [innerHtml]="stripeAPISetting?.paymentAgreement"></div>
    </div>
  </mat-card-content>
</mat-card>