.container {
  width: 400px;
  max-width: 400px;
}

button  {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-results-grid {
  // display: grid;
  // grid-template-columns: 50px 100px;
  // gap: 5px;
  // margin-top: 5px;
  // margin-bottom: 5px;

  --gap: 5px;
  margin-top: 2px;
  margin-right: 2px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
  overflow-y: visible;
  max-width: 210px;

}

mat-input {
  font-size: small;
}
