<div *ngIf="isElectronApp && printerList && printerList.length>0">
  <mat-form-field appearance="outline">
    <mat-label><ng-content></ng-content></mat-label>
    <mat-select
        type="text"
        [(ngModel)]="printerName"
        (selectionChange)="emitPrinter()" >

      <mat-option value="">
        Clear
      </mat-option>
      <mat-option *ngFor="let item of printerList" [value]="item?.name">
        {{ item.displayName || item.name }}
      </mat-option>

    </mat-select>
  </mat-form-field>
</div>

<ng-template #loading>
  ...loading printers
</ng-template>

