 <div  class="mat-form-field"
      [formGroup]="searchForm" >
  <mat-form-field class="formFieldClass"
                  appearance="outline" >
    <mat-label class="form-background">
      <mat-icon>search</mat-icon><ng-content></ng-content>
    </mat-label>
    <input
            #input
            matInput
            type              ="text"
            class             ="input-field"
            placeholder       ="Unit Lookup"
            formControlName   ="searchField"
            [matAutocomplete] ="auto">
      <mat-autocomplete panelWidth    = "auto"
                        #auto         = "matAutocomplete"
                        (optionSelected)="onChange($event)">
      <mat-option *ngFor="let item of (results$ | async)?.results"
                  [value]="item">
          {{item?.name}}
      </mat-option>
    </mat-autocomplete>
    <button   *ngIf="itemNameInput && itemNameInput.length>0"
          matSuffix
          mat-icon-button aria-label="Clear"
          (click)="clearInput()">
        <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<div hidden="true"
      *ngIf="inputForm && product"
      [formGroup]='inputForm'>
  <input [formControlName]="'unitTypeID'">
  <input [formControlName]="'reOrderUnitTypeID'">
  <input [formControlName]="'name'">
  <input [formControlName]="'id'">
</div>
