<div  *ngIf="inputForm">
  <div>
    <mat-form-field appearance="outline" class="prices-fields">
      <mat-label >price1</mat-label>
      <input matInput
            type="text"
            currencyMask
            formControlName="price1"
            class="form-control" >
    </mat-form-field>
  </div>
  <div >
    <mat-form-field appearance="outline" class="prices-fields">
      <mat-label >price2</mat-label>
      <input matInput
            type="text"
            currencyMask
            formControlName="price2"
            class="form-control" >
    </mat-form-field>
  </div>
  <div >
    <mat-form-field appearance="outline" class="prices-fields">
      <mat-label >price3</mat-label>
      <input matInput
            type="text"
            currencyMask
            formControlName="price3"
            class="form-control" >
    </mat-form-field>
  </div>
  <div >
    <mat-form-field appearance="outline" class="prices-fields">
      <mat-label >price4</mat-label>
      <input matInput
            type="text"
            currencyMask
            formControlName="price4"
            class="form-control" >
    </mat-form-field>
  </div>
  <div >
    <mat-form-field appearance="outline" class="prices-fields">
      <mat-label >price5</mat-label>
      <input matInput
            type="text"
            currencyMask
            formControlName="price5"
            class="form-control" >
    </mat-form-field>
  </div>
  <div >
    <mat-form-field appearance="outline" class="prices-fields">
      <mat-label >price6</mat-label>
      <input matInput
            type="text"
            currencyMask
            formControlName="price6"
            class="form-control" >
    </mat-form-field>
  </div>
  <div >
    <mat-form-field appearance="outline" class="prices-fields">
      <mat-label >price7</mat-label>
      <input matInput
            type="text"
            currencyMask
            formControlName="price7"
            class="form-control" >
    </mat-form-field>
  </div>
  <div >
    <mat-form-field appearance="outline" class="prices-fields">
      <mat-label >price8</mat-label>
      <input matInput
            type="text"
            currencyMask
            formControlName="price8"
            class="form-control" >
    </mat-form-field>
  </div>
  <div >
    <mat-form-field appearance="outline" class="prices-fields">
      <mat-label >price9</mat-label>
      <input matInput
            type="text"
            currencyMask
            formControlName="price9"
            class="form-control" >
    </mat-form-field>
  </div>
  <div >
    <mat-form-field appearance="outline" class="prices-fields">
      <mat-label >price10</mat-label>
      <input matInput
            type="text"
            currencyMask
            formControlName="price10"
            class="form-control" >
    </mat-form-field>
  </div>
  
</div>
