@import "/src/mixins.scss";


mat-form-field {
  font-size: .9em;
  margin: 3px ;
}


.grid-list-container {
  display: grid;
  grid-template-columns: 1fr 200px;
  gap: 7px;
  // overflow: hidden;
  height: 90vh;
}

.margin {
  top: -3px;
  // margin-top: 3px;
}

.grid-container-selectors {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.grid-list-item {
  height: 95%;
  overflow: hidden;
}

.grid-item {
  margin-right: 5px;
  font-size: .9em;
}

.toggle{
  margin-top: 10px;
}
.loader {
  margin: 5px;
}

.grid-container {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
}

.grid-dimensions {
  width: 100%; height: 90%;
}

.grid-dimensions-electron {
  width: 90%; height: 85%;
}

.grid-dimensions-capacitor {
  width: 90%; height: 85%;
}

.grid-list {
  display: grid;
  grid-template-columns: 1fr ;
  gap: 7px;
  height: 80vh;

  // @media (max-width: 599px)  {
  //   height: 80vh;
  // }
  // @media (min-width: 600px)   {
  //   height: 80vh;
  // }
  // @media (min-width: 900px) {
  //   height: 80vh;
  // }
  // @media (min-width: 1200px)  {
  //   height: 80vh;
  // }

  // @media (min-width: 1800px)  {
  //   height: 80vh;
  // }
}

  .grid-list-nopanel {

    display: grid;
    grid-template-columns: 1fr 20vw;
    gap: 7px;
    height: 80vh;

    // @media (max-width: 599px)  {
    //   height: 75vh;
    // }
    // @media (min-width: 600px)   {
    //   height: 75vh;
    // }
    // @media (min-width: 900px) {
    //   height: 75vh;
    // }
    // @media (min-width: 1200px)  {
    //   height: 75vh;
    // }

    // @media (min-width: 1800px)  {
    //   height: 75vh;
    // }

  }

  .mat-toggle {
    top: 5px;
    margin-top: 5px;
    margin-left: 5px;
  }

  .agGridButton {
    font-size: 1em;
    padding: -1px 1px;
    margin: -1px 1px;
    line-height: 1.2
  }

  button {
    padding: 3px 3px 3px 3px;
    margin: 3px 3px 3px 3px;
  }


  .view-items {
    float: left;
    margin-top: 13px;
  }

  .view-button {
    // float: right;
    margin-top: 9px;
  }

  .grid-nav {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 5px;
  }

  .mini-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;
  }
