  <div class="grid-flow"
       *ngIf="order" >

    <div *ngIf="!isUserStaff">
      <button
            mat-raised-button
            color="primary"
            (click)="toggleOpenOrderBar()" >
        <mat-icon  matBadge="{{ order.itemCount > 0 }}"
          matBadge="{{ order.itemCount }}"
          matBadgeColor="accent"
          matBadgePosition="before">
          shopping_cart
        </mat-icon>
      </button>
    </div>

    <div *ngIf="isUserStaff">
      <button
              mat-raised-button
              color="primary"
              (click)="toggleOpenOrderBar()" >
          <mat-icon  matBadge="{{ order.itemCount > 0 }}"
            matBadge="{{ order.itemCount }}"
            matBadgeColor="accent"
            matBadgePosition="before">
            shopping_cart
          </mat-icon>
      </button>
    </div>

    <div  *ngIf="(order && order.history == true
                || (order.completionDate)) || isUserStaff">
      <button
              mat-raised-button
              color="primary"
              (click)="addNewOrder()" >
        <mat-icon>
          add
        </mat-icon>
        New Order
      </button>
    </div>

</div>
