@import "/src/mixins.scss";


.grid-flow-small { 
  display: flex;
  flex-direction: column;
  // margin: 10px;
  justify-content: center;
}

.grid-flow { 
  display: grid;
  gap    :5px;
  grid-template-columns: repeat( auto-fit, minmax(55px, 1fr) );
  grid-auto-flow: row;
  margin-right: 30px;

  @include for-phone-only {
    display: flex;
    flex-direction: column;
    // margin: 10px;
    justify-content: center;
  }
}

button { 

  @include for-phone-only {
    min-width: 85%;
    width: 55px;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
  }

}

.grid-section-flow { 
  display: flex;
  justify-content: center;
  // margin: 5px;
}