  <div [class]="gridflow"
       *ngIf="order" >

    <div  *ngIf="(order && order.history == true || (order.completionDate)) 
                || isUserStaff " >
      <button
          mat-raised-button
          color="primary"
          (click)="addNewOrder()" >
      <mat-icon>
        add
      </mat-icon>
      
      </button>
    </div>

    <div *ngIf="isUserStaff">
      <button
              mat-raised-button
              color="primary"
              (click)="toggleOpenOrderBar()" >
          <mat-icon
            matBadge="{{ order.itemCount }}"
            matBadgeColor="accent"
            matBadgePosition="before">
            shopping_cart
          </mat-icon>
      </button>
    </div>

    <div *ngIf="!isUserStaff">
      <button
            mat-raised-button
            color="primary"
            (click)="toggleOpenOrderBar()" >
        <mat-icon
          matBadge="{{ order.itemCount }}"
          matBadgeColor="accent"
          matBadgePosition="before">
          shopping_cart
        </mat-icon>
      </button>
    </div>

</div>
