  <div [class]="gridflow"
        >

    <div  *ngIf="(order && order.history == true || (order && order.completionDate))
                || isUserStaff " >
      <button
          mat-raised-button
          color="primary"
          (click)="addNewOrder()" >
      <mat-icon>
        add
      </mat-icon>

      </button>
    </div>

    <div *ngIf="isUserStaff && order ">
      <button
              mat-raised-button
              color="primary"
              (click)="toggleOpenOrderBar()" >
          <mat-icon
            matBadge="{{ order.itemCount }}"
            matBadgeColor="accent"
            matBadgePosition="before">
            shopping_cart
          </mat-icon>
      </button>
    </div>

    <div *ngIf="!isUserStaff && order ">
      <button
            mat-raised-button
            color="primary"
            (click)="toggleOpenOrderBar()" >
        <mat-icon
          matBadge="{{ order.itemCount }}"
          matBadgeColor="accent"
          matBadgePosition="before">
          shopping_cart
        </mat-icon>
      </button>
    </div>

</div>
