<mat-card>
  <mat-card-content>
    <h4>Device Info</h4>
    <div class="device-info">
      <div>
        Device Info
      </div>
      <div>
        {{this.deviceService.getDeviceInfo() | json}}
      </div>

      <div>
       Mobile Device
      </div>

      <div>
        <mat-checkbox [(ngModel)]="isMobile"
                      color="primary">
              </mat-checkbox>
      </div>

      <div>
        Tablet
      </div>

      <div>
        <!-- {{this.deviceService.isTablet()}} -->
        <mat-checkbox [(ngModel)]="isTablet"
                      color="primary">
        </mat-checkbox>
      </div>

      <div>
        DesktopDevice
      </div>
      <div>
        <!-- {{this.deviceService.isDesktop()}} -->
        <mat-checkbox [(ngModel)]="isDesktopDevice"
                      color="primary">
        </mat-checkbox>
      </div>

        <div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Device Name</mat-label>
                <input  matInput
                  [(ngModel)]="deviceName"
                  type="text">
            </mat-form-field>
          </div>
          <div>
              <button mat-raised-button (click)="saveDeviceName()">
              <mat-icon>save</mat-icon>Save Name</button>
          </div>
        </div>
      </div>
    <div>

    </div>
  </mat-card-content>
</mat-card>
