<div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>POS Token</mat-label>
        <input  matInput
          type =      "password"
          [(ngModel)]="pinToken" >
    </mat-form-field>
  </div>
  <div style="margin:5px">
      <button mat-raised-button (click)="setAPIToken()">
      <mat-icon>save</mat-icon>Save Token</button>
  </div>

  <div style="margin:5px">
    <button mat-raised-button  (click)="getToken()">
    <mat-icon>save</mat-icon>Get Token</button>
</div>
</div>
<div *ngIf="(action$ | async) as action"></div>
