button {
  margin-bottom: 10px;
  margin-left: 10px;
}

mat-label {
padding:5px;
font-size: 1.0em;
}

form {
  margin: 2px 0px 0px 0px;
}

mat-form-field {
  font-size: .8em;
  appearance: outline;
  padding: 0 0 0 0;
}

mat-card-content {
margin : 2rem;
}

// mat-card{
// padding: 2rem 2rem 2rem 2rem;
// margin: 2rem 2rem 2rem 2rem;
// }

// mat-drawer {
// width: 200px;
// }

// mat-drawer-container {
// height: 100%;
// }

// mat-drawer-content {
// padding: 20px;
// }

// simple-tiny {
// padding:5px;
// }

// label {
// display: block;
// padding: 5px;
// }

// button{
// padding: 5px;
// }

// h1 {
// font-size: 1.5em;
// text-decoration: none;
// }

// ul li{
// list-style: none;
// }

// #remove_email {
// color: red;
// margin: 5px;
// }

// #register_button {
// background: lightblue;
// }

// #addToWishList {
// float: left;
// }

// #price {
// float: left;
// }

// #barcode {
// float: right;
// padding-left: 2em;
// }

// #msrp {
// float: left;
// }

// #mainImgURL {
// max-width: 200px;

// }

// .alert {
// color: darkred;
// }

// .ng-invalid:not(form)  {
// border-left: 3px solid darkred;
// }

// // .ng-valid:not(form) {
// // border-left: 3px solid greenyellow;
// // }

// .img-main {
// width: 300px;
// align-content: center;
// }


// .img-secondary {
// width: 300px;
// align-content: left;
// }

// .custom-card {
// background-color: gray;
// padding: 25px;
// margin-bottom: 25px;
// }

// .grid-container {
//   background-color: rbg(1,1,1);
//   margin: 10px;
//   height: 300px;
//   display: grid;
//   grid-template-columns: 2;
//   grid-template-rows: 2;
// }


// th, td {
//   overflow: hidden;
//   width: 800px;
//   text-overflow: ellipsis;
//   white-space: nowrap;
// }
