
<mat-card>
  <mat-card-title   *ngIf="priceTier">
    {{priceTier.name}}

    <div>
      <app-edit-buttons-standard
        (outputeupdateItem)     ="updatePriceTier($event)"
        (outputupdateItemExit)  ="updatePriceTierExit($event)"
        (outputupdatedeleteItem)="deleteTier($event)"
        (outputupdateonCancel)  ="onCancel($event)"
        (outputCopy)            ="copyItem($event)"
        [enableDelete] = "'true'"
      ></app-edit-buttons-standard>
    </div>
  </mat-card-title>
  <mat-card-content>
    <div class="grid-container grid-flow">

      <div *ngIf="showMorePrices">
        <button mat-button (click)="toggleShowMore()"><mat-icon>money</mat-icon>Show Less Prices</button>
      </div>
      <div *ngIf="!showMorePrices">
        <button mat-button (click)="toggleShowMore()"><mat-icon>money</mat-icon> Show More Prices</button>
      </div>

      <div *ngIf="!showTime">
        <button mat-button (click)="toggleShowTime()"><mat-icon>schedule</mat-icon> Show Schedule</button>
      </div>
      <div *ngIf="showTime">
        <button mat-button (click)="toggleShowTime()"><mat-icon>schedule</mat-icon>Hide Schedule</button>
      </div>

    </div>
    <div *ngIf="showTime">
        Time & Date based price will automatically apply when dates or time assigned. Separate weekdays by comma.
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    </mat-card-title>

  <mat-card-content>

    <div *ngIf="priceTier && inputForm"
        [formGroup]="inputForm">

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput
                type="text"
                formControlName="name"
                class="form-control" >
        </mat-form-field>
      </div>

      <div  class="mat-label">
        <mat-slide-toggle
            name="webMode"
            class="mat-label"
            formControlName="webEnabled">
          <mat-label class="mat-label">Enabled on Menu</mat-label>
        </mat-slide-toggle>
      </div>

      <div>
         <button mat-button
                (click)="addPriceLine()">
                <mat-icon>add</mat-icon>Add
         </button>

         <span *ngIf="priceTier.priceTierPrices.length ==0">
           <button mat-button
              (click)="addPricesWithWeightProfiles()">
              <mat-icon>add</mat-icon><mat-icon>scale
              </mat-icon>Add Weight Profiles
            </button>
          </span>
      </div>

      <div class="grid-header-container">
        <div *ngIf="priceTier && priceTier.priceTierPrices">
          <mat-card class="price-tier-card">
            <mat-card-content>
              <div formArrayName="priceTierPrices"
                  *ngFor="let item of priceTierPrices.controls; let i = index;">

                  <div  [formGroupName]="i"
                        class="grid-main">
                    <div>

                      <div class="grid-flow">
                        <div class="field">
                          <mat-form-field appearance="outline"
                                          class="prices-fields">
                            <mat-label >Description</mat-label>
                            <input matInput
                                  currencyMask
                                  type="text"
                                  formControlName="priceName"
                                  class="form-control" >
                          </mat-form-field>
                        </div>

                        <div class="field">
                          <mat-form-field appearance="outline" class="prices-fields">
                            <mat-label >Quantity</mat-label>
                            <input matInput
                                  type="number"
                                  formControlName ="flatQuantity"
                                  class="form-control" >
                          </mat-form-field>
                        </div>

                        <div class="field">
                          <mat-form-field appearance="outline" class="prices-fields">
                            <mat-label >Rate</mat-label>
                            <input matInput
                                  currencyMask
                                  type="text"
                                  formControlName="retail"
                                  class="form-control" >
                          </mat-form-field>
                        </div>

                        <div class="field">
                          <mat-form-field appearance="outline"
                                          class="prices-fields">
                            <mat-label >End Price</mat-label>
                            <input matInput
                                    currencyMask
                                    type="text"
                                    [(ngModel)]="endPriceValue[i]"
                                    (change)="refreshPrice(item, i)"
                                    [ngModelOptions]="{standalone: true}"
                                    class="form-control" >
                          </mat-form-field>
                        </div>

                        <mat-divider [vertical]="true"></mat-divider>

                        <div class="field">
                          <mat-form-field appearance="outline" class="prices-fields">
                            <mat-label >From</mat-label>
                            <input matInput
                                  type="number"
                                  formControlName="quantityFrom"
                                  class="form-control" >
                          </mat-form-field>
                        </div>

                        <div class="field">
                          <mat-form-field appearance="outline" class="prices-fields">
                            <mat-label >To</mat-label>
                            <input matInput
                                  type="number"
                                  formControlName="quantityTo"
                                  class="form-control" >
                          </mat-form-field>
                        </div>
                      </div>

                      <div *ngIf="showTime  ||
                              (
                                priceTier.priceTierPrices[i].weekDays != '' ||
                                priceTier.priceTierPrices[i].startTime != '' ||
                                priceTier.priceTierPrices[i].endTime != '')"
                              >


                        <div class="grid-schedule-flow-hh">

                          <div class="field">
                            <mat-form-field appearance="outline" class="weekday-fields">
                              <mat-label >WeekDays</mat-label>
                              <input matInput
                                    currencyMask
                                    type="text"
                                    formControlName="weekDays"
                                    class="form-control" >
                            </mat-form-field>
                          </div>

                          <div class="field">
                            <mat-form-field appearance="outline" class="date-fields">
                              <mat-label >Start Time</mat-label>
                              <input matInput
                                      type="time"
                                      formControlName="startTime"
                                      class="form-control" >
                            </mat-form-field>
                          </div>

                          <div class="field">
                            <mat-form-field appearance="outline" class="date-fields">
                              <mat-label >End Time </mat-label>
                              <input matInput
                                     type="time"
                                     formControlName="endTime"
                                    class="form-control" >
                            </mat-form-field>
                          </div>

                          <div class="price-fields">
                            <mat-form-field appearance="outline" class="price-fields">
                              <mat-label >Price</mat-label>
                              <input matInput
                                    currencyMask
                                    type="text"
                                    formControlName="specialPrice"
                                   >
                            </mat-form-field>
                          </div>

                          <div class="field">
                              <mat-form-field appearance="outline"
                                              class="prices-fields">
                                <mat-label >End Price</mat-label>
                                <input matInput
                                        currencyMask
                                        type="text"
                                        [(ngModel)]="endPriceHappyHour[i]"
                                        (change)="refreshPrice(item, i)"
                                        [ngModelOptions]="{standalone: true}"
                                        class="form-control" >
                              </mat-form-field>
                          </div>

                        </div>
                      </div>

                      <div *ngIf="showMorePrices"
                          class="grid-flow">

                          <div class="field">
                            <mat-form-field appearance="outline" class="prices-fields">
                              <mat-label >Price 1</mat-label>
                              <input matInput
                                    currencyMask
                                    type="currency"
                                    formControlName="price1"
                                    class="form-control" >
                            </mat-form-field>
                          </div>

                          <div class="field">
                            <mat-form-field appearance="outline" class="prices-fields">
                              <mat-label >Price 2</mat-label>
                              <input matInput
                                    currencyMask
                                    type="currency"
                                    formControlName="price2"
                                    class="form-control" >
                            </mat-form-field>
                          </div>

                          <div class="field">
                            <mat-form-field appearance="outline" class="prices-fields">
                              <mat-label >Price 3</mat-label>
                              <input matInput
                                    currencyMask
                                    type="currency"
                                    formControlName="price3"
                                    class="form-control" >
                            </mat-form-field>
                          </div>

                          <div class="field">
                            <mat-form-field appearance="outline" class="prices-fields">
                              <mat-label >Price 4</mat-label>
                              <input matInput
                                    currencyMask
                                    type="currency"
                                    formControlName="price4"
                                    class="form-control" >
                            </mat-form-field>
                          </div>

                          <div class="field">
                            <mat-form-field appearance="outline" class="prices-fields">
                              <mat-label >Price 5</mat-label>
                              <input matInput
                                    currencyMask
                                    type="currency"
                                    formControlName="price5"
                                    class="form-control" >
                            </mat-form-field>
                          </div>

                          <div class="field">
                            <mat-form-field appearance="outline" class="prices-fields">
                              <mat-label >Price 6</mat-label>
                              <input matInput
                                    currencyMask
                                    type="currency"
                                    formControlName="price6"
                                    class="form-control" >
                            </mat-form-field>
                          </div>

                          <div class="field">
                            <mat-form-field appearance="outline" class="prices-fields">
                              <mat-label >Price 7</mat-label>
                              <input matInput
                                    currencyMask
                                    type="currency"
                                    formControlName="price7"
                                    class="form-control" >
                            </mat-form-field>
                          </div>

                          <div class="field">
                            <mat-form-field appearance="outline" class="prices-fields">
                              <mat-label >Price 8</mat-label>
                              <input matInput
                                    currencyMask
                                    type="currency"
                                    formControlName="price8"
                                    class="form-control" >
                            </mat-form-field>
                          </div>

                      </div>

                    </div>

                    <div>
                      <button mat-button
                            aria-label="delete"
                            (click)="deletePrice(item, i)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                  <mat-divider class="divider-margin"></mat-divider>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

    </div>

  </mat-card-content>
</mat-card>

