.grid-price-tier-price {
    display: grid;
    grid-template-columns: repeat(auto, 10);
    width: 50%;
}

.grid-main {
  --gap: 5px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: auto 75px;
}

.grid-flow {
  --gap: 5px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(75px, 1fr) );
}

.grid-container {
  width: 350px;
}

.divider-margin {
  margin-bottom: 5px;
}
.field {
  width: 75px;
  max-width: 75px;
}
.prices-fields {
  width: 75px;
  max-width: 75px;
}

.border {
  border: 4px;
  border-radius: 5px;
}
