<mat-card  [style]="serviceColor">
  <mat-card-content class="center">
    <div *ngIf="!smallDevice" class="grid-orderproperties">

      <div class='date-header' *ngIf="order.orderDate">
        {{order.orderDate |  date: 'shortTime'}}
      </div>

      <div class="orderType">
          {{order.serviceType | truncateText : 10}}
      </div>

      <div class="employee-name" *ngIf="!phoneDevice && (order.employeeName)">
        {{order.employeeName | truncateText : 12 }}
      </div>

      <div *ngIf="order.completionDate">
        {{order.completionDate |  date: 'shortDate'}}
      </div>

      <div *ngIf="!order.completionDate"
            class="time">
            {{order.completionDate |  date: 'shortTime'}}
      </div>
    </div>

    <div class="center">
      <div class="grid-totals">
        <div *ngIf="order" class="field-center">
          <div *ngIf="order.history">
            (h) {{ order.orderID_Temp }}
          </div>
          <div >
            {{ order.id }}
          </div>
        </div>
<!-- *ngIf="!phoneDevice || (phoneDevice && order?.customerName)
                                         || order.tableName" -->
        <div class="field-center" >
          <div class="order-name">
              <!--  -->
              <span *ngIf="order.customerName" style="height: 25px"> {{ order?.customerName.trim() | truncateText : orderNameLength}}</span>
              <!-- *ngIf="order?.tableName" -->
              <span *ngIf="order.tableName" style="height: 25px">{{order?.tableName.trim()}}</span>
          </div>
        </div>

        <div class="items">Items</div>
        <div class="itemcount">{{order?.itemCount}} </div>

        <div class='total' >Total</div>
        <div class="total">{{ order?.total | currency}}</div>

        <div class="field-center" *ngIf="minutesOpen && minutesOpen != 0">
          <div *ngIf="smallDevice">
            Open {{minutesOpen}} min.
          </div>
        </div>

      </div>
    </div>
  </mat-card-content>
</mat-card>
