
<mat-card  [style]="serviceColor">
  <mat-card-content class="center">
    <div class="grid-orderproperties">

      <div class="field-center font-weight-600 row-span-2">

        <div *ngIf="order.history && order.orderID" class="font-1-5em">
           {{order.orderID}}
        </div>
        <div *ngIf="!order.history || !order.orderID" class="font-1-5em">
          {{ order.id }}
        </div>
        <ng-container [ngTemplateOutlet]="disableEditView" ></ng-container>
     
        <div class="margin-top:3px" class="font-1-3em">
          {{order.orderDate |  date: timeFormat}}
        </div>
    
      </div>

      <div class="field-height font-1-2em ">
        {{order?.serviceType | truncateText : 15}}
      </div>

      <div class="field-height font-1-2em  employee-name" >
        {{order.employeeName | truncateText : 15 }}
      </div>

    </div>

    <div class="grid-orderproperties" style="margin-top:5px">

      <div class="field-height-2" >
        <div  class="small-grid">
          <div *ngIf="order?.completionDate">
            <mat-icon style="top:3px;font-size:medium">credit_card</mat-icon>
          </div>
          <div *ngIf="order?.completionDate" class="font-1em">
            {{order?.completionDate |  date: timeFormat}}  {{order?.completionDate |  date: dateFormat}}
          </div>
        </div>
      </div>

      <div class="field-height-2" >
        <div style="padding-top:5px">
          <span *ngIf="order.customerName" style="height: 25px" class="font-1-4em"> {{ order?.customerName.trim() | truncateText : orderNameLength}}</span>
          <span *ngIf="order.tableName" style="height: 25px"  [class]="tableFont">{{order?.tableName.trim()}}</span>
        </div>
      </div>

      <div class="field-height">
        <div  class="small-grid"></div>
      </div>


      <div class="field-height-2" >

      </div>

      <div class="field-height">
        <div  class="small-grid">
          <div>
            <mat-icon style="top:3px;font-size:medium">shopping_cart</mat-icon>
          </div>
          <div>
            {{order?.itemCount}}
          </div>
        </div>
      </div>

      <!-- <div class="field-height">
        <div  class="small-grid"></div>
      </div> -->

      <div class="field-height-2" >
        <div  class="small-grid">
          <div   *ngIf="order?.preferredScheduleDate">
            <mat-icon style="top:3px;font-size:medium">event</mat-icon>
          </div>
          <div  *ngIf="order?.preferredScheduleDate">
            <div>
              {{order?.preferredScheduleDate |  date: dateFormat}}
            </div>
            <div>
              {{order?.preferredScheduleDate |  date: timeFormat}}
            </div>
          </div>
        </div>
      </div>

      <div class='field-height total font-1-3em' >{{ order?.total | currency}}</div>

      <!-- <div class="field-height field-center" *ngIf="minutesOpen && minutesOpen != 0">
        <div *ngIf="smallDevice">
          Open {{minutesOpen}} min.
        </div>
      </div> -->

    </div>
  </mat-card-content>
</mat-card>

<ng-template #disableEditView>
  <span *ngIf="disableEdit && !order?.completionDate">
    <mat-icon color="warn" >lock</mat-icon>
  </span>
</ng-template>
