<div  class="container">
  <mat-card  *ngIf="layoutService.designerMode">
      <div class="info">
        Youtube video will play when not in design mode.
        The size of the icon indicates the size of the video.
        <div>
        <button mat-raised-button (click)="toggleDesignMode()">
          <mat-icon>toggle_on</mat-icon>Enable
          </button>
        </div>
      </div>
      <mat-icon [style.width]="chartWidth"
                [style.font-size]="chartHeight">
        ondemand_video
      </mat-icon>
  </mat-card>

  <mat-card  *ngIf="!layoutService.designerMode" >

      <!-- <youtube-player
        [width]="chartWidth"
        [height]="chartHeight"
        suggestedQuality="highres"
        [playerVars]="playerConfig"
        (ready)="onReady($event)"
        [videoId]="url"
      ></youtube-player> -->

  </mat-card>
</div>
