.main-container {
  padding: 24px;
  overflow: auto;
  height: calc(100% - 199px);
  // width: calc(75% - 259px);
}

.main-container-usermode {
padding: 15px;
overflow: auto;
height: calc(100% - 100px);
// width: calc(75% - 100px);
}
