<div *ngIf="itemType; else loading">
  <div [formGroup]="inputForm">

    <mat-card>

      <mat-card-title>
        <div *ngIf="itemType" class="type">{{itemType.name}}</div>
        <div *ngIf="selectedItemsCount > 0" class="type">Multiple Items Selected</div>
        <div class="buttons-standard">
            <app-edit-buttons-standard
              (outputeupdateItem)     ="save($event)"
              (outputupdateItemExit)  ="saveExit($event)"
              (outputupdatedeleteItem)="deleteItem($event)"
              (outputupdateonCancel)  ="onCancel($event)"

            ></app-edit-buttons-standard>
        </div>
      </mat-card-title>
      <mat-card-subtitle>
        <div *ngIf="selectedItems" class="instructions">
          Values changed here will affect all items of this type. Please set all values in this form to what the items should have.
        </div>
        <mat-divider></mat-divider>
      </mat-card-subtitle>

      <mat-card-content>
        <div class="content-container">
            <div>
                <div class="grid-flow">
                    <div>

                      <div>
                        <mat-form-field appearance="outline">
                          <mat-label>Name</mat-label>
                              <input matInput
                              type             ="text"
                              name             ="name"
                              formControlName  ="name"
                            class="form-control" >
                        </mat-form-field>
                      </div>

                      <div>
                        <mat-slide-toggle name="enabled"
                                          formControlName="enabled">
                          <mat-label>Enabled</mat-label>
                        </mat-slide-toggle>
                      </div>
                      <div>
                        <mat-slide-toggle
                                          name= "labelRequired"
                                          formControlName="labelRequired">
                          <mat-label>Requireds Label Printed</mat-label>
                        </mat-slide-toggle>
                      </div>
                      <div>
                        <mat-slide-toggle
                                          name= "requiresSerial"
                                          formControlName="requiresSerial">
                          <mat-label>Requires Serial</mat-label>
                        </mat-slide-toggle>
                      </div>
                      <div>
                        <mat-slide-toggle name= "weightedItem"
                                          formControlName="weightedItem">
                          <mat-label>Scale Weighted Item</mat-label>
                        </mat-slide-toggle>
                      </div>

                      <div class="toggle-footer">
                        <mat-slide-toggle name= "expirationRequired"
                                          formControlName="expirationRequired">
                          <mat-label>Expiration Date Required</mat-label>
                        </mat-slide-toggle>
                      </div>
                      <div class="toggle-footer">
                        <mat-slide-toggle name= "requireInStock"
                                          formControlName="requireInStock">
                          <mat-label>Require to Be In Inventory to Sell</mat-label>
                        </mat-slide-toggle>
                      </div>


                      <div>
                        <mat-form-field appearance="outline">
                          <mat-label>Age Requirement</mat-label>
                              <input matInput
                              type             ="number"
                              name             ="ageRequirement"
                              formControlName  ="ageRequirement"
                            class="form-control" >
                        </mat-form-field>
                      </div>

                      <div>
                        <mat-form-field appearance="outline">
                          <mat-label >Icon</mat-label>
                          <input matInput
                                type             ="text"
                                formControlName  ="icon"
                                class="form-control" >
                        </mat-form-field>
                      </div>
                    </div>
                    <div>
                      <h4>Image / Icon</h4>
                        <div class="app-widget-uploader">
                            <app-widget-uploader
                            [(fileNames)]="itemType.imageName"
                            (messageOut) ="received_URLImage($event)"
                            (imageUrl)   ="received_URLImage($event)">
                            </app-widget-uploader>
                        </div>
                    </div>
                </div>
                <div class ="grid-flow">

                  <div class="filterItem" >
                    <mat-form-field appearance="outline">
                      <mat-label>Tax Setting</mat-label>
                      <mat-select
                                  type="number"
                                  [formControlName]  ="'taxable'"
                                  name="taxable"
                        >
                        <mat-option value=0>Clear</mat-option>
                        <mat-option *ngFor="let item of taxesSetting"
                                    [value]="item.id">
                          {{item.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="filterItem" >
                    <mat-form-field appearance="outline">
                      <mat-label>Package Type</mat-label>
                      <mat-select
                                  type="number"
                                  [formControlName]  ="'packageType'"
                                  name="packageType"
                        >
                        <mat-option value= "">Clear</mat-option>
                        <mat-option *ngFor="let item of itemType_PackageTypes"
                                    [value]="item">
                          {{item}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="filterItem" >
                    <mat-form-field appearance="outline">
                      <mat-label>Type</mat-label>
                      <mat-select
                                  type="number"
                                  [formControlName]  ="'type'"
                                  name="packageType"
                        >
                        <mat-option value= "">Clear</mat-option>
                        <mat-option *ngFor="let item of itemType_Types"
                                    [value]="item">
                          {{item}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="filterItem" >
                    <mat-form-field appearance="outline">
                      <mat-label>Use Type</mat-label>
                      <mat-select
                                  type="number"
                                  [formControlName]  ="'useType'"
                                  name="useType"
                        >
                        <mat-option value= "">Clear</mat-option>
                        <mat-option *ngFor="let item of itemType_UseTypes"
                                    [value]="item">
                          {{item}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div *ngIf="(receiptList$ | async) as receiptList; else loadingPrep">
                      <div>
                        <mat-label>Prep Ticket</mat-label>
                      </div>
                      <div>
                        <mat-form-field appearance="outline">
                          <mat-select
                              type="text"
                              [(ngModel)]        ="prepTicketID"
                              [formControlName]  = "'prepTicketID'"
                              (selectionChange)="setPrepTicketID(prepTicketID)">
                              <mat-option value=0>Clear</mat-option>
                              <mat-option *ngFor="let item of receiptList" [value]="item.id">
                              {{ item.name }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                  </div>

                  <ng-template #loadingPrep>
                    ...loading prep printer locations
                    <mat-spinner [diameter]="50"></mat-spinner>
                  </ng-template>


                  <div *ngIf="(printerLocations$ | async) as locations; else loadingLocation">
                    <div>
                      <mat-label>Print item to a Location</mat-label>
                    </div>
                    <div>
                      <mat-form-field appearance="outline">
                        <mat-label>Location</mat-label>
                        <mat-select
                            type="text"
                            [(ngModel)]        ="printLocationID"
                            [formControlName]  = "'printLocationID'"
                            (selectionChange)="setLocationID(printLocationID)">
                            <mat-option value=0>Clear</mat-option>
                            <mat-option *ngFor="let item of locations"
                                          [value]="item.id">
                                {{ item.name }}
                            </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                  </div>
                  <ng-template #loadingLocation>
                    ..loading printer Locations
                    <mat-spinner [diameter]="50"></mat-spinner>
                  </ng-template>


                  <div>
                    <div>
                      <mat-label>Exit Label Selection</mat-label>
                    </div>
                    <div>
                      <app-label-view-selector
                        [labelList$]      ="labelList$"
                        [labelID]         ="itemType.labelTypeID"
                        [labelImageHeight]="200"
                        (outPutLabelID)   ="setLabelID($event)">
                      </app-label-view-selector>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>


<ng-template #loading >
  <mat-spinner></mat-spinner>
</ng-template>


              <!-- <app-tax-rate-list [inputForm]="inputForm" [formControl]="tax1id"></app-tax-rate-list> -->
              <!-- -<app-tax-rate-list [inputForm]="inputForm" [formControlName]="tax2id"></app-tax-rate-list>
              <app-tax-rate-list [inputForm]="inputForm" [formControlName]="tax3id"></app-tax-rate-list> -->
              <!-- <app-flat-tax-rate-list [inputForm]="inputForm"></app-flat-tax-rate-list> -->
