<div  *ngIf="itemType; else loading">
  <mat-card>
    <mat-card-title>
      <div *ngIf="itemType"
           class="type">{{itemType.name}}</div>
      <div *ngIf="selectedItemsCount > 0" class="type">Multiple Items Selected</div>
      <div class="buttons-standard">
          <app-edit-buttons-standard
            (outputeupdateItem)     ="save($event)"
            (outputupdateItemExit)  ="saveExit($event)"
            (outputupdatedeleteItem)="deleteItem($event)"
            (outputupdateonCancel)  ="onCancel($event)"
          ></app-edit-buttons-standard>
      </div>
    </mat-card-title>
    <mat-card-subtitle>
      <div *ngIf="selectedItems"
           class="instructions">
        Values changed here will affect all items of this type. Please set all values in this form to what the items should have.
      </div>
      <mat-divider></mat-divider>
      <div>
        <div *ngIf="inputForm.controls.useType.errors?.required &&
                    inputForm.controls.useType.touched" class="error">
          <mat-icon color="warn">warning</mat-icon> Use Type required.
        </div>

        <div *ngIf="inputForm.controls.name.errors?.required &&
                    inputForm.controls.name.touched" class="error">
          <mat-icon color="warn">warning</mat-icon> Name required.
        </div>

        <div *ngIf="inputForm.controls.useType.errors?.required &&
                    inputForm.controls.useType.touched" class="error">
          <mat-icon color="warn">warning</mat-icon> Type required.
        </div>

        <div *ngIf="inputForm.controls.useGroupID.errors?.required &&
                inputForm.controls.useGroupID.touched" class="error">
          <mat-icon color="warn">warning</mat-icon> Use Type required.
        </div>


        <!-- <div *ngIf="inputForm.controls.useGroupID.errors?.required &&
                    inputForm.controls.useGroupID.touched" class="error">
          <mat-icon color="warn">warning</mat-icon> Use Group required.
        </div> -->

      </div>
    </mat-card-subtitle>

 <!-- name:                 ['', Validators.required],
      type:                 ['', Validators.required],
      useType:              ['', Validators.required],
      useGroupID:           ['', Validators.required], -->

    <mat-card-content>
      <div class="content-container"
           [formGroup]="inputForm"
           *ngIf="itemType && inputForm">

        <div class="grid-flow-sections">
          <div>
              <div>
                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                      <input matInput
                      type             ="text"
                      name             ="name"
                      formControlName  ="name"
                    class="form-control" >
                </mat-form-field>
              </div>

              <item-type-toggles-edit
                  [inputForm]="inputForm">
              </item-type-toggles-edit>

              <div>
                <h4>Image / Icon</h4>
                  <div class="app-widget-uploader">
                      <app-widget-uploader
                      [(fileNames)]="itemType.imageName"
                      (messageOut) ="received_URLImage($event)"
                      (imageUrl)   ="received_URLImage($event)">
                      </app-widget-uploader>
                  </div>
              </div>

          </div>
          <div class="grid-flow">

              <div class="filterItem" *ngIf="itemType_Types">
                <mat-form-field appearance="outline">
                  <mat-label>Type</mat-label>
                  <mat-select
                              type               ="number"
                              formControlName    = "useGroupID"
                    >
                    <mat-option value= "">Clear</mat-option>
                    <mat-option

                                *ngFor="let item of itemType_Types"
                                [value]="item.id">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="filterItem"  *ngIf="itemType && (itemType?.type === 'Grocery')">
                <mat-form-field appearance="outline">
                  <mat-label>WIC & EBT Option</mat-label>
                  <mat-select
                              type="number"
                              formControlName  ="wicebt"
                              name="taxable"
                    >
                    <mat-option *ngFor="let item of wicEBTList"
                                [value]="item.id">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="filterItem" >
                <mat-form-field appearance="outline">
                  <mat-label>Use Type</mat-label>
                  <mat-select
                              type               = "number"
                              [formControlName]  = "'useType'"
                              name               = "useType"
                    >
                    <mat-option value= "">Clear</mat-option>
                    <mat-option *ngFor="let item of itemType_UseTypes"
                                [value]="item">
                      {{item}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="filterItem" *ngIf="itemType && itemType?.type &&
                          (itemType?.type.toLowerCase() === 'cannabis' ||
                          itemType.type.toLowerCase()  === 'med-cannabis')"  >
                <mat-form-field appearance="outline">
                  <mat-label>Package Type</mat-label>
                    <mat-select
                              type="number"
                              [formControlName]  ="'packageType'"
                              name="packageType">
                      <mat-option value= "">Clear</mat-option>
                      <mat-option *ngFor="let item of itemType_PackageTypes"
                        [value]="item">
                        {{item}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div>
                <mat-label>Input portion types, separated by comma.</mat-label>
                <mat-form-field appearance="outline">
                  <mat-label>Portion Options</mat-label>
                      <input matInput
                      type             ="text"
                      name             ="portionValue"
                      formControlName  ="portionValue"
                    class="form-control" >
                  </mat-form-field>
                  <br>
              </div>

              <div>
                <mat-label>Input package material types, separated by comma.</mat-label>
                <mat-form-field appearance="outline">
                  <mat-label>Package Materials</mat-label>
                      <input matInput
                      type             ="text"
                      name             ="packagingMaterial"
                      formControlName  ="packagingMaterial"
                    class="form-control" >
                  </mat-form-field>
                  <br>
              </div>

              <div >
                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Minumum Age Required</mat-label>
                        <input matInput
                        type             ="number"
                        name             ="ageRequirement"
                        formControlName  ="ageRequirement"
                      class="form-control" >
                  </mat-form-field>
                </div>
              </div>

              <div>
                <mat-form-field appearance="outline">
                  <mat-label >Icon</mat-label>
                  <input matInput
                        type             ="text"
                        formControlName  ="icon"
                        class="form-control" >
                </mat-form-field>
              </div>

              <div class="filterItem" >
                <mat-form-field appearance="outline">
                  <mat-label>Tax Setting</mat-label>
                  <mat-select
                              type="number"
                              [formControlName]  ="'taxable'"
                              name="taxable"
                    >
                    <mat-option value=0>Clear</mat-option>
                    <mat-option *ngFor="let item of taxesSetting"
                                [value]="item.id">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="filterItem"
                *ngIf="metrcCategories$ &&  typeName === 'cannabis'"  >
                <mat-form-field appearance="outline">
                  <mat-label>METRC Category</mat-label>
                  <mat-select
                              type             ="number"
                              formControlName  ="metrcCategoryID"
                              name             ="metrcCategoryID"
                    >
                    <mat-option value= "">Clear</mat-option>
                    <mat-option *ngFor="let item of (metrcCategories$ |async)"
                                [value]="item.id">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div *ngIf="inputForm && (itemType && itemType.type != 'adjustment')">
                <div *ngIf="(receiptList$ | async) as receiptList; else loadingPrep">
                  <mat-form-field appearance="outline">
                    <mat-label>Prep Ticket</mat-label>
                    <mat-select
                        type="text"
                        [(ngModel)]        ="prepTicketID"
                        [formControlName]  = "'prepTicketID'"
                        (selectionChange)="setPrepTicketID(prepTicketID)">
                        <mat-option value=0>Clear</mat-option>
                        <mat-option *ngFor="let item of receiptList" [value]="item.id">
                        {{ item.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <ng-template #loadingPrep>
                ...loading prep printer locations
              </ng-template>

              <div *ngIf="(printerLocations$ | async) as locations; else loadingLocation">
                <mat-form-field appearance="outline">
                  <mat-label>Print item to a Location</mat-label>
                  <mat-select
                      type="text"
                      [(ngModel)]        = "printLocationID"
                      [formControlName]  = "'printLocationID'"
                      (selectionChange)  ="setLocationID(printLocationID)">
                      <mat-option value=0>Clear</mat-option>
                      <mat-option *ngFor="let item of locations"
                                    [value]="item.id">
                          {{ item.name }}
                      </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <ng-template #loadingLocation>
                ..loading printer Locations
              </ng-template>

              <div class="filterItem">
                <app-label-view-selector
                    [labelList$]      ="labelList$"
                    [labelID]         ="itemType.labelTypeID"
                    [labelImageHeight]="200"
                    (outPutLabelID)   ="setLabelID($event)">
                    Exit Label Selection
                  </app-label-view-selector>
              </div>

              <div class="fields-width">
                  <mat-form-field appearance="outline">
                    <mat-label >Unit Type</mat-label>
                    <input matInput
                          type             ="text"
                          formControlName  ="unitName"
                          class="form-control" >
                  </mat-form-field>
              </div>

              <div class="fields-width">
                <mat-label>Auto Attach Products</mat-label>
                <app-product-search-selector
                    class         = "fields"
                    [productName] = "productName"
                    [searchForm]  = "searchForm"
                    (itemSelect)  = "getItem($event)">
                  >
                </app-product-search-selector>
              </div>

              <div class="meta-tags"
                    *ngIf="addOnItems">
                  <tag-chips-products (remove)="remove($event)"
                                      [addOnItems]="addOnItems">
                  </tag-chips-products>
              </div>

          </div>
        </div>

      </div>
    </mat-card-content>
  </mat-card>

  <div  *ngIf="inputForm" [formGroup]="inputForm" class="grid-fields">
    <div class="instructions">
      <mat-label><h4>Instructions for item type, can display on labels, and storefront.</h4></mat-label><br>
      <mat-hint></mat-hint>
      <simple-tinymce cols="50"
                      rows="20"
                      style="height: 200px;"
                      name="description"
                      formControlName="instructions"
                      >
      </simple-tinymce>
    </div>
  </div>

  <!-- <div  *ngIf="inputForm" [formGroup]="inputForm" class="grid-fields">
    <div class="instructions">
      <mat-label><h4>Description for item type, can display on labels, and storefront.</h4></mat-label><br>
      <mat-hint></mat-hint>
      <simple-tinymce cols="50"
                      rows="20"
                      style="height: 200px;"
                      name="description"
                      formControlName="description"
                      >
      </simple-tinymce>
    </div>
  </div> -->

</div>

<ng-template #loading >
  <mat-spinner></mat-spinner>
</ng-template>


              <!-- <app-tax-rate-list [inputForm]="inputForm" [formControl]="tax1id"></app-tax-rate-list> -->
              <!-- -<app-tax-rate-list [inputForm]="inputForm" [formControlName]="tax2id"></app-tax-rate-list>
              <app-tax-rate-list [inputForm]="inputForm" [formControlName]="tax3id"></app-tax-rate-list> -->
              <!-- <app-flat-tax-rate-list [inputForm]="inputForm"></app-flat-tax-rate-list> -->
