<!-- {{newItem.posItem?.id | json}}
{{newItem.posItem?.productName | json}} -->

<mat-card class="mat-card">
  <mat-card-subtitle>
    {{newItem.posItem?.productName}}
  </mat-card-subtitle>

  <mat-card-content>

    <div class="center" *ngIf="prices">
      <div *ngFor="let item of prices;let i = index">
        <button
            class="buttonPrices"
            mat-raised-button
            (click)="addItemPrice(item)">
          <span *ngIf="item.unitType">
            {{item.unitType.name}}
          </span>
        {{item.retail | currency}}
        </button>
      </div>
    </div>

  <mat-card-actions>
    <div class="center" >
      <button
          class="buttonPrices"
          mat-raised-button
          (click)="cancel()"
          >
          Cancel
      </button>
    </div>

  </mat-card-actions>
  </mat-card-content>

</mat-card>

<div *ngIf="(action$ | async) as item"></div>
