<mat-card>
  <mat-card-subtitle>
    <div *ngIf="menuItem">
      {{menuItem.name}}
    </div>
  </mat-card-subtitle>

  <mat-card-content>

      <div class="center" *ngIf="prices">
        <div *ngFor="let item of prices;let i = index">
          <button
              class="buttonPrices"
              mat-raised-button
              (click)="addItemPrice(item)"
          >
            <span *ngIf="item.unitType">
              {{item.unitType.name}}
            </span>
          {{item.retail | currency}}
          </button>
          <!-- {{item | json }} -->
        </div>

      </div>

  <mat-card-actions>
    <div class="center" >
      <button
          class="buttonPrices"
          mat-raised-button
          (click)="cancel()"
          >
          Cancel
      </button>
    </div>

  </mat-card-actions>
  </mat-card-content>

</mat-card>
