<div id="header" >
  <h2>
    <mat-icon>computer</mat-icon>Terminal List
  </h2>
  <h3 *ngIf="posName">
    This terminal assignment is: {{posName}}
  </h3>
  <h3 *ngIf="!posName">This device or browser is not assigned.</h3>

  <button mat-raised-button
          color="primary"
          (click)="addDevice()">Add device</button>

  <button mat-raised-button
          color="primary"
          (click)="refresh()"><mat-icon>refresh</mat-icon>Refresh</button>

  <button mat-raised-button
          color="primary"
          (click)="clearPOS()">Clear device</button>
</div>

<mat-card >
  <table mat-table #outerSort="matSort" [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort>
          <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{  element.name.replace('_Key' , '') }} </td>
          </ng-container>

          <ng-container  matColumnDef="assign">
              <th mat-header-cell *matHeaderCellDef> Assignment </th>
              <td mat-cell *matCellDef="let element">
              <button mat-raised-button color="primary" (click)="setPOSName(element)">Assign </button>
              </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" (click)="editTerminal(element.id)">
              <mat-icon>settings</mat-icon>Edit 
            </button>
            </td>
          </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        [class.example-element-row]="element.addresses?.data.length" >
    </tr>

  </table>

  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>

</mat-card>

