<div *ngIf="resultMessage">
  Result Mesage {{resultMessage}}
</div>
<div *ngIf="response">
  <h4 *ngIf="saleComplete  || response?.TextResponse">Response :    {{response?.TextResponse}}</h4>
  <h4 *ngIf="saleComplete  || response?.ResponseOrigin ">Response Origin :  {{response?.ResponseOrigin}}</h4>
  <h4 *ngIf="saleComplete  || response?.DSIXReturnCode">DSIX Return Code : {{response?.DSIXReturnCode}}</h4>
  <h4 >Status :       {{response?.CmdStatus}}</h4>
  {{response | json}}
</div>

<div *ngIf="errorMessage">
  <h3><mat-icon color="warn">warning</mat-icon>  {{errorMessage}}</h3>
</div>

<div *ngIf="processing">
  <h4>Check Device</h4>
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
