<div *ngIf="resultMessage">
  Result Mesage {{resultMessage}}
</div>
<div *ngIf="response">
  <h4 *ngIf="saleComplete  || response?.textResponse">Response :    {{response?.textResponse}}</h4>
  <h4 *ngIf="saleComplete  || response?.responseOrigin ">Response Origin :  {{response?.responseOrigin}}</h4>
  <h4 *ngIf="saleComplete  || response?.DSIXReturnCode"> DSIX Return Code : {{response?.DSIXReturnCode}}</h4>
  <h4 >Status :       {{response?.cmdStatus}}</h4>
  <!-- {{response | json}} -->
</div>

<div *ngIf="errorMessage">
  <h3><mat-icon color="warn">warning</mat-icon>  {{errorMessage}}</h3>
</div>

<div *ngIf="processing">
  <h4>Check Device</h4>
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
