<div *ngIf="resultMessage">
  {{resultMessage}}
</div>
<div *ngIf="response">
  <h4 style="margin-top:2px;margin-bottom:2px" *ngIf="saleComplete  || response?.TextResponse ?? response.textResponse">Response :    {{response?.TextResponse ?? response.textResponse}}</h4>
  <h4 style="margin-top:2px;margin-bottom:2px" *ngIf="saleComplete  || response?.ResponseOrigin  ?? response.responseOrigin">Response Origin :  {{response?.ResponseOrigin  ?? response.responseOrigin}}</h4>
  <h4 style="margin-top:2px;margin-bottom:2px" *ngIf="saleComplete  || response?.DSIXReturnCode  ?? response.dsixReturnCode"> DSIX Return Code : {{response?.DSIXReturnCode  ?? response.dsixReturnCode}}</h4>
  <h4 style="margin-top:2px;margin-bottom:2px" >Status :       {{response?.CmdStatus ?? response?.cmdStatus}}</h4>
  <h4 style="margin-top:2px;margin-bottom:2px" >{{response?.errorMessage }}</h4>
</div>

<div *ngIf="errorMessage">
  <h3><mat-icon color="warn">warning</mat-icon>  {{errorMessage}}</h3>
</div>
<div *ngIf="message">
  <h3> {{message}}</h3>
</div>

<div *ngIf="processing">
  <h4>Check Device</h4>
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
