  <ng-content></ng-content>

  <div  *ngIf="sheet && sheet != undefined"  class="header-grid info-width printFont-14">

    <div >Type</div>
    <div class="span-col"> {{ sheetType }} | {{sheet?.type}}</div>

    <div class="">Sheet ID</div>
    <div class=" span-col"> ({{sheet?.id}})</div>

    <div >Employee {{sheet?.balanceSheetEmployee?.lastName}}</div>
    <div class="span-col"> {{sheet?.balanceSheetEmployee?.lastName}} </div>

    <div  *ngIf="sheet.deviceName">Device </div>
    <div class="span-col" > {{sheet?.deviceName}} </div>

    <div  class="">Started</div>
    <div class="span-col "> {{sheet?.startTime | date: 'shortDate'}} {{sheet?.startTime | date: 'shortTime'}} </div>

    <div  class="" *ngIf="sheet.endTime">Closed </div>
    <div class="span-col " *ngIf="sheet.endTime">
      {{sheet?.endTime | date: 'shortDate'}} {{sheet?.endTime  | date: 'shortTime'}}
    </div>

    <div   class="" *ngIf="!sheet.endTime">Sheet Open</div>
    <div  class="span-col" *ngIf="!sheet.endTime"> ----- </div>

    <div  class="">Drawer Opens</div>
    <div class="span-col font-1-1em " > {{sheet?.noSales | number }} </div>

    <div  class="">Orders Open</div>
    <div class="span-col font-1-1em "
         [ngStyle]="{'color':ordersOpen > 0 ? 'red' : '' }">  {{ ordersOpen }} </div>

    <div  class="">Orders Closed</div>
      <div class="span-col font-1-1em "
          class="calculation">
      {{ ordersCount }}
    </div>

    <div class="item-span "></div>
  </div>


  <div class="ps-grid-items" *ngIf="!disableAuditButton">
    <div>
      <button mat-raised-button color="warn"
           style="margin:5px;width:150px"
              (click)="auditPayments()">Payments<mat-icon>credit_card</mat-icon></button>
    </div>
    <div>
      <button mat-raised-button color="warn"
           style="margin:5px;width:150px"
              (click)="auditOrders()">Orders<mat-icon>list</mat-icon></button>
    </div>
  </div>

  <!---->
