  <div  *ngIf="sheet"  class="header-grid info-width">
    <div>Type</div>
    <div class="span-col"> {{ sheetType }} ({{sheet.id}})</div>

    <div>Employee</div>
    <div class="span-col" *ngIf="sheet.balanceSheetEmployee" > {{sheet?.balanceSheetEmployee?.lastName}} </div>

    <div *ngIf="sheet.deviceName">Device </div>
    <div class="span-col" *ngIf="sheet.deviceName"> {{sheet.deviceName}} </div>

    <div>Started</div>
    <div class="span-col"> {{sheet.startTime | date: 'shortDate'}} {{sheet.startTime | date: 'shortTime'}} </div>

    <div *ngIf="sheet.endTime">Closed </div>
    <div class="span-col" *ngIf="sheet.endTime">
      {{sheet.endTime | date: 'shortDate'}} {{sheet.endTime  | date: 'shortTime'}}
    </div>

    <div  *ngIf="!sheet.endTime">Sheet Open</div>
    <div  class="span-col" *ngIf="!sheet.endTime"> ----- </div>

    <div>Drawer Opens</div>
    <div class="span-col" > {{sheet.noSales | number }} </div>

    <div>Orders Open</div>
    <div class="span-col"
         [ngStyle]="{'color':ordersOpen > 0 ? 'red' : '' }">  {{ ordersOpen }} </div>

    <div>Orders Closed</div>
      <div class="span-col"
          class="calculation">
      {{ ordersCount }}
    </div>

    <div class="item-span" *ngIf="!disableAuditButton">
      <button mat-raised-button color="warn"
              (click)="auditPayments()">Audit Payments<mat-icon>credit_card</mat-icon></button>
    </div>

    <div class="item-span "></div>
  </div>
