<mat-card>
  <mat-card-title>
    <mat-icon>file_download</mat-icon>Import
  </mat-card-title>

  <mat-card-subtitle>
    <button *ngIf="schemaValue"
            mat-raised-button
            color="primary"
            (click)="downloadExample()">
        <mat-icon>download</mat-icon>
        Download example {{schemaName}}
    </button>
    <button *ngIf="schemaValue"
            mat-raised-button
            color="primary"
            (click)="reset()">
        <mat-icon>refresh</mat-icon>
        Reset
    </button>
  </mat-card-subtitle>

  <mat-card-content>

    <div *ngIf="!purchaseOrderImport">
      <div class="grid-item"
              *ngIf="exportDataService.schemas$ && inputForm">
            <form-select-list [searchForm]      = "inputForm"
                              [formFieldName]   ="'name'"
                              [list$]           = "exportDataService.schemas$"
                              [showActiveInactive]="false"
                              (selectionChange) = "selectScheme($event)">
            <div>Schema Type Selection</div>
            </form-select-list>
        </div>
    </div>


    <div class="fields">
      <mat-slide-toggle
                [(ngModel)]="headerValues" >
      <mat-label>Ignore Headers in CSV</mat-label>
      </mat-slide-toggle>
    </div>

    <div class="grid-container">
      <div  class="container"
            appDnd
            (fileDropped)="onFileDropped($event)" >
          <div>
            <input type="file"
                   #fileDropRef
                   id="fileDropRef"
                   accept=".csv"
                   (change)="fileChangeListener($event)"/>

            <div class="file-drop">
              <button mat-button
                      color="primary"
                      (click)="fileDropRef"><mat-icon>upload</mat-icon>
              </button>
            </div>
          </div>
      </div>

      <div class="import-file">

        <button *ngIf="!resultsMessage &&
                       (schemaValue !=0 && schemaValue != undefined) &&
                       itemCount>0"
              mat-raised-button
              color="primary"
              (click)="importFiles()"><mat-icon>file_upload</mat-icon>
           Import {{schemaName}}
        </button>

        <div *ngIf="resultsMessage">
          <mat-label>Results:</mat-label>
          <br>
          {{resultsMessage | json}}
          <div *ngIf="resultsMessage === 'processing'"><mat-spinner [diameter]="50" > </mat-spinner></div>
        </div>
        <div *ngIf="csvRecords">
          <mat-label>Records: {{itemCount}}</mat-label>
          <br>
        </div>
        <div class="import-file" *ngIf="progress">
          {{ progressValue }} % Complete. {{progress.progress}} of {{progress.total}}.
          <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

