
.grid-flow {
  --gap: 10px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(155px, 1fr) );
  max-width: 400px;
}

.form-control {
  width: 135px;
  max-width: 135px;
}

.form-control-address {
  width: 175px;
  max-width: 175px;
}


mat-form-field  {
  font-size: .8em;
  margin: 3px ;
  width: 95%;
  padding: 0 !important;
}
