<div class="centered centered-flex">

<mat-card>

  <mat-card-title>
      Store Credit and Gift Card
  </mat-card-title>
  <mat-card-subtitle *ngIf="order">
    <div class="grid-items">
      <div>
        Balance Remaining
      </div>
      <div>
        {{order?.balanceRemaining | currency}}
      </div>
    </div>
  </mat-card-subtitle>

  <mat-card-content>
    <div>
      <store-credit-search
        (outPutResults)="setResults($event)">
      </store-credit-search>
    </div>

    <ng-container
      [ngTemplateOutlet]="templateOption">
    </ng-container>

  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)="cancel()">Close</button>
  </mat-card-actions>

</mat-card>

</div>
<ng-template #storeCreditItems>
  <div *ngIf="clientID">
    <store-credit-info
      [showBalance]= "true"
      [clientID]   = "clientID"
      [order]      = "order"
      [showIssueMoney]="false"
      (closeDialog)= "onCancel($event)">
    </store-credit-info>
  </div>
</ng-template>

<ng-template #giftCardScan>
  <div *ngIf="searchModel && order">
    <store-credit-info
      [search]      = "search"
      [showPayment] = "true"
      [showBalance] = "true"
      [order]       = "order"
      (closeDialog) = "onCancel($event)">
    </store-credit-info>
  </div>
</ng-template>

<ng-template #noItems>
  ..waiting for input or scan.
</ng-template>
