
<h3>Unit Type List</h3>

<div class="grid-container-selectors">
  <div class="grid-item">
    <form  [formGroup]="searchForm" id="searchForm" >
      <mat-form-field appearance="outline">
          <mat-label >Search Items</mat-label>
            <input
                    #input
                    matInput
                    type="text"
                    id="searchProducts"
                    formControlName="searchItems"
                    class="form-control"
                    [matAutocomplete]="auto">
                <mat-autocomplete panelWidth="auto"
                                  #auto="matAutocomplete"
                                  [displayWith]="displayFn.bind(this)">
          </mat-autocomplete>
        </mat-form-field>
    </form>

  </div>
  <div class="grid-item">
    <button mat-button
      class="assign-button"
      (click)="listAll()">
      <mat-icon>list</mat-icon>List All
    </button>
  </div>
  <div class="grid-item">
    <button mat-button
            class="assign-button"
            (click)="addItem()">
      <mat-icon>add</mat-icon>
      Add
    </button>
  </div>
  <div class="grid-item">
    <button mat-button
            class="assign-button"
            (click)="deleteSelected()">
      <mat-icon>delete</mat-icon>
      Delete Selected
    </button>
  </div>
</div>

<div class="grid-item">
  <ag-grid-angular
        #agGrid
        style="width: 700px; height: 70vh;"
        id="myGrid"
        [class]="agtheme"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [gridOptions]="gridOptions"
        [rowSelection]="rowSelection"
        [frameworkComponents]="frameworkComponents"
        (selectionChanged)="onSelectionChanged($event)"
        (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</div>

<div style="flex-grow:0">
  <span id="selectedRows"> </span>
</div>


