

<div *ngIf="(menus$ | async) as menus" ></div>

<ng-container [ngTemplateOutlet]="menuList"></ng-container>

<ng-template #fancyMenu>
  <div *ngIf="(bucket$ | async) as bucket" >
    <div *ngIf="menus">
      <div  class="grid-category-flow">
        <div *ngFor="let item of menus">
          <ng-container [ngTemplateOutlet]="categoryItemView"
                        [ngTemplateOutletContext]="{$implicit: item}">
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #basicMenu>
  <div *ngIf="menus" class="grid-flow">
    <div *ngFor="let menu of menus" >
      <div>
          <mat-button-toggle
              class="button-toggle"
              type="button"
              [value]="menu"
              (click)="setItem(menu)" >
            <div class="grid-toggle-tiny">
              <div *ngIf="!phoneSize">
                {{menu?.name}}
              </div>
              <div *ngIf="phoneSize">
                {{menu?.name.slice(0,3)}}..
              </div>
            </div>
          </mat-button-toggle>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #categoryItemView let-item>
  <menu-card-category
      [item]="item"
      [imageName]="item?.image"
      [bucket]="bucket"
      [textLength]="15"
      (outPutEditItem)="_editItem($event)"
      (outPutNextPage)="_nextPage($event)"
      (outPutlistItems)="_listItems($event)"
    ></menu-card-category>
</ng-template>


