
<mat-card>
  <mat-card-subtitle>
    Delivery Address
  </mat-card-subtitle>
  <mat-card-content>

    <div *ngIf      ="inputForm"
        [formGroup]="inputForm">

        <app-value-fields
          [inputForm]="inputForm"
          [fieldName]="'address'">
          Address
        </app-value-fields>

        <app-value-fields
          [inputForm]="inputForm"
          [fieldName]="'address2'">
          Unit/Apt/Suite
        </app-value-fields>

        <app-value-fields
          [inputForm]="inputForm"
          [fieldName]="'state'">
          State
        </app-value-fields>

        <app-value-fields
          [inputForm]="inputForm"
          [fieldName]="'zip'">
          Zip
        </app-value-fields>

    </div>

    <button mat-button aria-label="save" (click)="save()"><mat-icon aria-label="save">save</mat-icon></button>

    <button mat-button aria-label="save" (click)="delete()"><mat-icon aria-label="delete">Clear</mat-icon></button>

  </mat-card-content>
</mat-card>
