  <div *ngIf="(serviceType$ | async) as serviceType">

  </div>
    <mat-card>
      <mat-card-subtitle>
        Delivery Address

      <div *ngIf="inputForm">
        <div *ngIf="inputForm.controls?.address.errors?.required && inputForm.controls?.address.touched" class="error">
          <mat-icon color="warn">warning</mat-icon> Address required.
        </div>
        <div *ngIf="inputForm.controls?.city.errors?.required && inputForm.controls?.city.touched" class="error">
          <mat-icon color="warn">warning</mat-icon> City required.
        </div>
        <div *ngIf="inputForm.controls?.state.errors?.required && inputForm.controls?.state.touched" class="error">
          <mat-icon color="warn">warning</mat-icon> State required.
        </div>
        <div *ngIf="inputForm.controls?.zip.errors?.required && inputForm.controls?.zip.touched" class="error">
          <mat-icon color="warn">warning</mat-icon> Zip required.
        </div>
      </div>

      </mat-card-subtitle>
      <mat-card-content>
        <div class="grid-container">
          <div *ngIf="inputForm"
              class="input-form"
              [formGroup]="inputForm">

            <app-value-fields
              [inputForm]="inputForm"
              [fieldName]="'address'">
              Address
            </app-value-fields>

            <app-value-fields
              [inputForm]="inputForm"
              [fieldName]="'address2'">
              Unit/Apt/Suite
            </app-value-fields>

            <app-value-fields
              [inputForm]="inputForm"
              [fieldName]="'city'">
              City
            </app-value-fields>

            <app-value-fields
              [inputForm]="inputForm"
              [fieldName]="'state'">
              State
            </app-value-fields>

            <app-value-fields
              [inputForm]="inputForm"
              [fieldName]="'zip'">
              Zip
            </app-value-fields>

          </div>

          <div *ngIf="!platFormService.isApp()">

            <div  *ngIf="serviceType && serviceType.shippingInstructions"
                  class="instructions">
              <h3>{{serviceType.name}}</h3>
              <mat-hint>
                <div [innerHTML]="serviceType.shippingInstructions" ></div>
              </mat-hint>
            </div>
            <div>
              <ng-container [ngTemplateOutlet]="addressListInfo"></ng-container>
            </div>
          </div>

        </div>

        <mat-card-actions>
          <button mat-raised-button
                  style="height:75px;width:125px"
                  color='primary'
                  (click)="back()">
            Back
          </button>
          <button mat-raised-button
                  style="height:75px;width:125px"
                  color='primary'
                  (click)="save()">
              Next
          </button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>

    <ng-template #addressListInfo>
      <mat-card *ngIf="addressList  && addressList.length > 0">
        <mat-card-title> Select an address to pick up from.</mat-card-title>
        <div *ngFor="let address of addressList; let i = index">
          <button mat-flat-button (click)="selectAddress(i)">
            <mat-card  class="address-card">
              <mat-card-title>{{address?.name}}</mat-card-title>
              <mat-card-content>
                <p><strong>Contact:</strong> {{ address?.contactName }}</p>
                <p><strong>Phone:</strong> {{ address?.phone }}</p>
                <p><strong>Address:</strong> {{ address?.address }}, Unit: {{ address?.unit }}</p>
                <p><strong>City:</strong> {{ address?.city }}</p>
                <p><strong>State:</strong> {{ address?.state }} | <strong>Zip:</strong> {{ address?.zip }}</p>
              </mat-card-content>
            </mat-card>
          </button>
        </div>
      </mat-card>
    </ng-template>
