@import "/src/mixins.scss";
mat-card {
  width: 100%;
}

.grid-container {
  --gap: 10px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );

  @include for-phone-only  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    justify-content: space-between;
  }
}


.input-form {
  max-width: 350px;
}

.address-card{
  text-align: left;
  font: 1.2em;
  width: 225px;
  margin:1em;
}

.button { 
  margin: .25em;
  padding: .25em;
}