<ng-template #loading>...loading
  <mat-spinner [diameter]="80"></mat-spinner>
</ng-template>

<div class="container">
  <mat-card>
    <mat-card-title>
      <div class="header-icons">
        <mat-icon>menu</mat-icon>
      </div>
      <h3>Menu Manager</h3>
    </mat-card-title>

    <mat-card-subtitle>
      Sort and edit menus.
      <h2>Drag menus to sort. Click on to edit.</h2>
      <div>
        <button mat-button (click)="initMenu()">Initialize Menu</button>
        <button mat-button (click)="initCustomerMenu()">Initialize Customer Menu</button>
        <button mat-button (click)="refreshMenu()"><mat-icon>refresh</mat-icon>Refresh</button>
      </div>
      
      <mat-divider></mat-divider>
      
      <div *ngIf="(menus$ | async) as list">
        <mat-button-toggle-group
                
                (change)        = "onToggleChange($event.value)"
                [(ngModel)]     = "currentMenuName" >
            <mat-button-toggle 
                                style           = "width:200px;"
                                [value]="item.name"
                                *ngFor="let item of list" >
              {{item.name}}
            </mat-button-toggle>
        </mat-button-toggle-group>
      </div>


      <button color="primary" *ngIf="currentMenu" mat-button (click)="addAccordionMenu()">Add Menu</button>
      <button color="primary" *ngIf="submenu"       mat-button (click)="addSubMenu()">Add Sub Item</button>
    </mat-card-subtitle>

    <mat-divider></mat-divider>

    <ng-template #action>
      <div>
        <mat-spinner [diameter]="50"></mat-spinner>
        ...loading
      </div>
    </ng-template>

    <div *ngIf="(action$ | async) as item; else action"></div>

    <div class="grid-container">
      <div *ngIf="accordionMenus">
        <div  cdkDropList
              #accordionList="cdkDropList"
              (cdkDropListDropped)="dropAccordion($event)">
          <div *ngFor="let item of accordionMenus"
               class="pop button"
               cdkDrag
               (click)="assignSubMenu(item, item.submenus)" >
              <mat-icon>{{item.icon}}</mat-icon>
              {{item.name}}
          </div>
        </div>
      </div>

      <div *ngIf="submenu">
        <div
            cdkDropList
            #secondList="cdkDropList"
            (cdkDropListDropped)="drop($event)" >
          <div  *ngFor="let item of submenu"
                class="pop button"
                cdkDrag
                (click)="assignSubMenuItem(item)">
            <mat-icon>{{item.icon}}</mat-icon>
            {{item.name}}
          </div>
        </div>
      </div>

      <div class="cards">
        <div *ngIf="(accordionMenuItem$ | async) as item">
          {{item.name}}
          <app-accordion-menu-item-edit
              (outPutRefreshMenu)="refreshMenu()"
              [id]  ="item?.id"
              [item]="item">
          </app-accordion-menu-item-edit>
        </div>

        <div *ngIf="submenuItem">
          <app-menu-group-item-edit
              (outPutRefreshMenu)="refreshMenu()"
              [accordionMenu]="accordionMenu"
              [item]="submenuItem">
          </app-menu-group-item-edit>
        </div>

      </div>
    </div>
  </mat-card>
</div>

