
<div *ngIf="inputForm && currentManifest as item; else loading">
<mat-card>
  <mat-card-title>
    <div><h3>Name: {{item.name }} </h3></div>

  </mat-card-title>

  <mat-card-subtitle>

    <div class="header-container" >
        <div>
          <app-edit-buttons-standard
                (outputeupdateItem)     ="updateItem($event)"
                (outputupdateItemExit)  ="updateItemExit($event)"
                (outputupdatedeleteItem)="deleteItem($event)"
                (outputupdateonCancel)  ="onCancel($event)"
          ></app-edit-buttons-standard>
        </div>

        <h4>Actions</h4>
        <div class="functions-grid"></div>
          <div>

            <button aria-label="user menu"
                    mat-button
                    [matMenuTriggerFor]="menu"
                    #menuTrigger="matMenuTrigger"
                    (mouseenter)="menuTrigger.openMenu()"
                    >
              <mat-icon>warehouse</mat-icon>Warehouse
            </button>

            <mat-menu class="mat-menu-panel"
                      [overlapTrigger]="false"
                      #menu="matMenu">
              <span (mouseleave)="menuTrigger.closeMenu()">

                  <button mat-button  color="primary" (click)="dispatchSendToSite()">
                    Dispatch And Notify
                  </button>

                  <button mat-button color="warn" (click)="cancelRequestDispatchSendToSite()">
                    Cancel Dispatch and Notify
                  </button>

                  <button mat-button color="primary" (click)="cancelRequestDispatchSendToSite()">
                    Review Delivered Inventory (audit)
                  </button>

                  <button mat-button color="warn" (click)="cancelRequestDispatchSendToSite()">
                    Accept Rejected Inventory
                  </button>
              </span>
            </mat-menu>

          </div>
          <div>

            <button aria-label="user menu"
                    mat-button
                    [matMenuTriggerFor]="retailmenu"
                    #retailTrigger="matMenuTrigger"
                    (mouseenter)="retailTrigger.openMenu()"
                    >
              <mat-icon>storefront</mat-icon>Retail Store
            </button>

            <mat-menu class="mat-menu-panel"
                      [overlapTrigger]="false"
                      #retailmenu="matMenu">
              <span (mouseleave)="retailTrigger.closeMenu()">

                <button mat-button color="primary" (click)="receiveAll()">
                  Receive All
                </button>

                <button mat-button color="primary" (click)="receiveSelected()">
                  Receive Selected
                </button>

                <button mat-button color="primary" color="warn" (click)="rejectManifest()">
                  Reject Manifest
                </button>

                <button mat-button color="primary" (click)="assignToInventoryLocation()">
                  Assign all to Assigned Location
                </button>

            </span>
            </mat-menu>

          </div>
       </div>
    </mat-card-subtitle>

    <mat-card-content *ngIf="inputForm">
      {{inputForm | json}}
    </mat-card-content>

  </mat-card>
</div>

<ng-template #loading>
  ...loading <mat-spinner [diameter]="50"></mat-spinner>
</ng-template>
