<div  *ngIf="schedules && schedules.length>0 ">
  <button mat-raised-button
             (click)="expand()">
  <mat-icon>expand</mat-icon>Specials </button>
</div>

<mat-card *ngIf="schedules && schedules.length>0 && showSchedules">
  <div *ngFor="let item of schedules" class="grid-flow">
    <div class="grid-schedule" *ngIf="schedules">
      <div>Description</div>
      <div>QTY</div>
      <div></div>
    </div>
    <pos-order-schedule-description
        [scheduleID]="item">
    </pos-order-schedule-description>
  </div>
</mat-card>
