
<div *ngIf="action$ | async"></div>
<div *ngIf="(storeCreditSearch$ | async) as storeCreditSearch"></div>

<div *ngIf="storeCreditValue && storeCreditValue.results">
  <div *ngFor="let item of storeCreditValue.results;trackby identify">

    <div *ngIf="item">
        <div class="grid-totals">
          <div *ngIf="!showCreditValueOnly && item && item.cardNum && item?.cardNum.trim() != ''">Card #</div>
          <div *ngIf="!showCreditValueOnly &&item && item.cardNum &&  item?.cardNum.trim() != ''">{{item?.cardNum}} </div>
          <div *ngIf="item && item.value">Credit <br> {{item?.value | currency}} </div>

          <span *ngIf="!showCreditValueOnly &&  showBalance">
            <div>Order Balance</div>
            <div *ngIf="order">{{order.balanceRemaining | currency}}</div>
          </span>
          <div *ngIf="!showCreditValueOnly && showPayment">
            <div *ngIf="order && order.balanceRemaining != 0  &&
                        !showIssueMoney && item?.value > 0">
              <button  mat-raised-button (click)="applyAsPayment(item)">
                  Pay <mat-icon>credit_card</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div *ngIf=" !storeCreditValue && storeCreditValue.results && storeCreditValue.results[0]?.id && storeCreditValue.results[0]?.id > 0 && showIssueMoney && search">
          Issuing for Card: {{search.cardNumber | json}}
          <div *ngIf="purchaseOrderItem && !purchaseOrderItem.gcid && showIssueMoney">
            <button  mat-raised-button
                    color="primary"
                    (click)="issueMoney(item)">
              Add Credit <mat-icon>credit_card</mat-icon>
            </button>
          </div>
        </div>

      </div>
  </div>
</div>

<div *ngIf="storeCreditValue &&
            storeCreditValue.results &&
            storeCreditValue.results[0] != null &&
            storeCreditValue.results[0]?.id == 0 &&
            showIssueMoney &&
            search">
  <ng-container [ngTemplateOutlet]="issueMoneyView"></ng-container>
</div>

<div *ngIf="storeCreditValue && storeCreditValue.results &&
           ( !storeCreditValue.results || storeCreditValue.results.length == 0 ) &&
            showIssueMoney &&
            search">
  <ng-conntainer [ngTemplateOutlet]="issueMoneyView"></ng-conntainer>
</div>

<div *ngIf="purchaseOrderItem && showIssueMoney">
  <button  mat-raised-button
          (click)="cancel(purchaseOrderItem)">
    Close
  </button>
</div>

<ng-template #issueMoneyView>
  Issuing for Card: {{search?.cardNumber }}
  <div *ngIf="purchaseOrderItem && !purchaseOrderItem.gcid && showIssueMoney">
    <button  mat-raised-button
            color="primary"
            (click)="issueMoney(null)">
      Add Credit <mat-icon>credit_card</mat-icon>
    </button>
  </div>
</ng-template>
