
<div *ngIf="action$ | async"></div>
<div *ngIf="(storeCreditSearch$ | async) as storeCreditSearch"></div>
<div *ngIf="(addMethod$ | async)  as addMethod"></div>

<h2><ng-content></ng-content></h2>

<mat-label *ngIf="searchResults"><mat-icon>alert</mat-icon>{{searchResults}}</mat-label>

<div *ngIf="storeCreditValue && storeCreditValue.results">
  <div *ngFor="let item of storeCreditValue.results;trackby identify">

    <div *ngIf="item && item.cardNum">
      <div class="grid-totals" >

        <div *ngIf="!showCreditValueOnly && item && item.cardNum && item?.cardNum.trim() != ''">Card #</div>
        <div *ngIf="!showCreditValueOnly &&item && item.cardNum &&  item?.cardNum.trim() != ''">{{item?.cardNum}} </div>

        <div *ngIf="item && item.value"> Credit On Card </div>
        <div  *ngIf="item && item.value"> {{item?.value | currency}} </div>

        <div *ngIf="item && !item.value">No  Credit On Card</div>
        <div  *ngIf="item && !item.value"> {{0 | currency}} </div>

        <div  *ngIf="!showIssueMoney">Order Balance</div>
        <div  *ngIf="!showIssueMoney && order">{{order.balanceRemaining | currency}}</div>

        <div *ngIf="showPayment &&
                    order &&
                    order.balanceRemaining > 0  &&
                    item?.value > 0">
          <button  mat-raised-button color="primary" (click)="applyAsPayment(item)">
              Pay <mat-icon>credit_card</mat-icon>
          </button>
        </div>
      </div>

      <!-- <ng-conntainer [ngTemplateOutlet]="issueMoneyView"></ng-conntainer> -->
      <div *ngIf=" !showPayment &&
                    showIssueMoney &&
                    item">
        <div *ngIf="purchaseOrderItem && (!purchaseOrderItem.gcid) && showIssueMoney">
          <button  mat-raised-button
                  color="primary"
                  (click)="issueMoney(item)">
            Add Credit <mat-icon>credit_card</mat-icon>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>

<div *ngIf="!storeCreditValue || !storeCreditValue.results || (storeCreditValue  && storeCreditValue.results.length == 1)">
  <div *ngIf="storeCreditValue  && (storeCreditValue.results.length == 0 || storeCreditValue.results[0].id == 0)">
    <div *ngIf="!showPayment &&
                  showIssueMoney" >
      <div *ngIf="purchaseOrderItem && (!purchaseOrderItem.gcid) && showIssueMoney">
        <button  mat-raised-button
              color="primary"
              (click)="issueMoney(null)">
              Add Credit <mat-icon>credit_card</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<ng-container [ngTemplateOutlet]="closeButton"></ng-container>


<ng-template #closeButton>
  <div *ngIf="purchaseOrderItem && showIssueMoney && !showCreditValueOnly">
    <button  mat-raised-button
            color="warn"
            (click)="cancel(purchaseOrderItem)">
      Close
    </button>
  </div>
</ng-template>

<ng-template #issueMoneyView>
 Issuing for Card: {{search?.cardNumber }}
  <div *ngIf="purchaseOrderItem && !purchaseOrderItem.gcid && showIssueMoney">
    <button  mat-raised-button
            color="primary"
            (click)="issueMoney(null)">
      Add Credit <mat-icon>credit_card</mat-icon>
    </button>
  </div>
</ng-template>
