<div *ngIf="(storeCreditSearch$ | async) as storeCreditSearch">
  <div *ngFor="let item of storeCreditSearch.results">

    <div class="grid-totals">

      <div *ngIf="item && item.cardNum && item?.cardNum.trim() != ''">Card #</div>
      <div *ngIf="item && item.cardNum &&  item?.cardNum.trim() != ''">{{item?.cardNum}} </div>
      <div *ngIf="item && item.value"> Credit </div>
      <div *ngIf="item">{{item?.value | currency}} </div>

      <span *ngIf="showBalance">
        <div>Order Balance</div>
        <div *ngIf="order">{{order.balanceRemaining | currency}}</div>
      </span>

      <div *ngIf="showPayment">
        <div *ngIf="order && order.balanceRemaining != 0  &&
                    !showIssueMoney && item?.value > 0">
          <button  mat-raised-button (click)="applyAsPayment(item)">
              Apply Credit <mat-icon>credit_card</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="showIssueMoney && search">
      Issuing for Card: {{search.cardNumber | json}}

      <div *ngIf="posIssuePurchaseItem && !posIssuePurchaseItem.gcid && showIssueMoney">
        <button  mat-raised-button
                color="primary"
                (click)="issueMoney(item)">
          Add Credit <mat-icon>credit_card</mat-icon>
        </button>
      </div>

    </div>

  </div>
</div>


<div *ngIf="posIssuePurchaseItem && showIssueMoney">
  <button  mat-raised-button
          (click)="cancel(posIssuePurchaseItem)">
    Close
  </button>
</div>

<div *ngIf="action$ | async"></div>
