<div>
  <mat-form-field appearance="outline">
    <mat-label> Barcode</mat-label>
    <input matInput type="text"
          formControlName="barcode"
          class="form-control" >
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="outline">
    <mat-label >Year Made</mat-label>
    <input matInput type="number"
          formControlName="yearsOld"
          class="form-control" >
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="outline">
    <mat-label >Proof</mat-label>
    <input matInput type="number"
          formControlName="proof"
          class="form-control" >
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="outline">
    <mat-label >A.B.V</mat-label>
    <input matInput type="text"
          formControlName="abv"
          class="form-control" >
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="outline">
    <mat-label >Class</mat-label>
    <input matInput type="text"
          formControlName="class"
          class="form-control" >
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="outline">
    <mat-label >Subclass</mat-label>
    <input matInput type="text"
          formControlName="subClass"
          class="form-control" >
  </mat-form-field>
</div>
