.pop {
  padding: 15px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* Adjusted to space out the content */
  box-sizing: border-box;
  cursor: pointer; /* Pointer instead of move to reflect clickable interaction */
  background: #f9f9f9;
  font-size: 14px;
  border-radius: 8px; /* Optional rounding for better visuals */
  transition: background-color 250ms ease-in-out, box-shadow 200ms ease-in-out;
}


.drag-indicator::before {
  content: '⠿'; 
  font-size: 18px;
  color: #999;
}


/* Hover effect to give visual feedback */
.pop:hover {
  background-color: #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Focus or active state when the button is clicked */
.pop:active {
  background-color: #d6d6d6;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.button {
  border-radius: 5px;
  margin: 4px;
}

.grid-container {
  display: grid;
  grid-template-columns: 150px 500px;
  width: 800px;
  gap: 10px;
  margin: 10px;
  margin-top: 20px;
}

.cards {
  margin: 5px;
}

.container {
  margin: 5px 5px 5px 5px;
}

.header-icons {
  float: left;
}

.directions {
  margin: 10px;
}
