<div   class="menu-grid" *ngIf="menus">
  <mat-card *ngIf="menus.length>0">
    <mat-card-content >
        <div class="menu-grid" >
            <display-menu-title
                [style.width]="gridItemWidth"
                *ngFor="let menu of menus"
                (click)="navMenu(menu)"
                [bucket]="bucket"
                [styleWidth]="'100%'"
                [styleHeight]="'100%'"
                [hideLogo]="hideLogo"
                [iconView]="iconView"
                [styleMinWidth]="gridItemWidth"
                [repeat]="'no-repeat'"
                [objectfit]="'fill'"
                [menu]="menu">
            </display-menu-title>
        </div>
      </mat-card-content>
    </mat-card>
</div>
<div  *ngFor="(action$ | async) as items"></div>
