
<div class="item-container header">
  <div>
    <h3>Enter PIN Code to Change User</h3>
  </div>
  <div style="margin:5px">
    <button class="payment-buttons" mat-button (click)="logout()"><mat-icon>lock</mat-icon>Lock</button>
  </div>
</div>

<div class="item-container">
  <app-key-pad
    [inputForm]        ="inputForm"
    [inputTypeValue]   ="'password'"
    [showInput]        ="true"
    [placeHolder]      = "'pin'"
    [alternateClass]   ="'grid-keypad-alternate'"
    [numberbuttons]    ="'number-buttons button-sized-2'"
    (outPutReturnEnter)="enterPIN($event)">
    Enter PIN
  </app-key-pad>
</div>

<div *ngIf="(loginAction$ | async) as loginAction"></div>
<div *ngIf="(action$ | async) as loginAction"></div>
