.searchField {
  font-size: .9em;
  margin: 3px;
}

.h3 {
  font-size: 1.1em;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
}

.grid-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width:  400px;
}

