
.discount-type-button {
  width:  125px;
  height: 100px;
}

.discount-info {
  padding-top: 5px;
  margin-top: 15px;
  width: 100;
}

.discount-instructions{
  font-size: .9em;
  font-weight: 400px;
}
.item-label {
  margin: 3px;
}
.mat-icon {
  margin: 0px;
  padding: 0px;
}
.item-fields {
  float: left;
}
