

 <mat-card class="centered centered-flex">
      <mat-card-title>
          <h2>Password Reset</h2>
      </mat-card-title>

      <mat-card-subtitle>
          <h2>Change password with email or phone reset code.</h2>
      </mat-card-subtitle>

      <mat-card-content>
          <p> Check your email or phone for the reset code. </p>
          <p>Do not share this code.
                You may then enter and confirm your new password.</p>

          <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div>
              <mat-form-field appearance="outline">
                  <mat-label>Reset Code</mat-label>
                  <input matInput type="text" formControlName="resetcode" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.resetcode.errors }" />
                  <div *ngIf="submitted && f.resetcode.errors" class="invalid-feedback">
                      <div *ngIf="f.resetcode.errors.required">Reset code is required</div>
                  </div>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                  <mat-label>User</mat-label>
                  <input matInput type="text" formControlName="username" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                      <div *ngIf="f.username.errors.required">Username is required</div>
                  </div>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" formControlName="password" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                  </div>

              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput type="password" formControlName="confirmpassword" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                  <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                      <div *ngIf="f.confirmpassword.errors.required">Password is required</div>
                  </div>
              </mat-form-field>
            </div>
            <div>
              {{ this.statusMessage }}
            </div>
            <button mat-raised-button color="primary">Reset Pasword</button>
          </form>

          <br>
              <mat-divider></mat-divider>
          <br>

          <button mat-raised-button
                  color="primary"
                  routerLinkActive="list-item-active"
                  routerLink="/">Cancel</button>
      </mat-card-content>

</mat-card>
