<mat-card class="mat-card-view">
  <mat-card-content>

    <div class="ps-flex-group-start">
      <div class="ps-item-margin">
        <button mat-button (click)="resetSearch()">Reset <mat-icon>refresh</mat-icon></button>
      </div>

      <div class="ps-item-margin">
        <button mat-button (click)="refreshSearch()">Refresh <mat-icon>refresh</mat-icon></button>
      </div>
    </div>

    <app-value-fields
        [inputForm]="searchForm"
        [fieldName]="'name'">
      Name / Sku / Serial
    </app-value-fields>

    <app-value-fields
        [inputForm]="searchForm"
        [fieldName]="'reportRunID'">
      Zrun / ReportRunID
    </app-value-fields>

    <mat-label>History</mat-label>
    <mat-slide-toggle
              *ngIf="searchModel"
              (change)="refreshSearch()"
              [(ngModel)]="searchModel.historyItem"  >
    </mat-slide-toggle>

    <div *ngIf="isAuthorized" class="dates-field ">
      <mat-form-field appearance="outline" *ngIf="dateRangeForm">
        <mat-label>Date Range (Start Time)</mat-label>
        <mat-date-range-input [formGroup]="dateRangeForm"
                              [rangePicker]="reportRangePicker"
                                >
            <input matStartDate
                    formControlName="start"
                    placeholder="Start date"
                    (click)='emitDatePickerData()'>
            <input matEndDate formControlName="end"
                    placeholder="End date"
                    (click)='emitDatePickerData()'>

                </mat-date-range-input >

        <mat-datepicker-toggle matSuffix [for]="reportRangePicker"
                                ></mat-datepicker-toggle>
        <mat-date-range-picker touchUi #reportRangePicker
                                ></mat-date-range-picker>

        <mat-error *ngIf="dateRangeForm.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="dateRangeForm.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
      <div class="refresh"> <button mat-raised-button (click)="emitDatePickerData()"><mat-icon>refresh</mat-icon> </button></div>
    </div>

    <mat-button-toggle-group
          name="toggleTypeEmployee"
          class="toggle-view"
          [(ngModel)]="toggleTypeEmployee"
        >
    <mat-button-toggle value="0"
          #tooltip="matTooltip"
          matTooltip="Filter ItemType Type"
          matTooltipPosition="above"
        matTooltipHideDelay="1000" > Item Type </mat-button-toggle>
    <mat-button-toggle value="1"
          #tooltip="matTooltip"
          matTooltip="Filter Service Type"
          matTooltipPosition="above"
        matTooltipHideDelay="1000" > Sale Type </mat-button-toggle>
    <mat-button-toggle value="2"
          #tooltip="matTooltip"
          matTooltip="Filter By User"
          matTooltipPosition="above"
        matTooltipHideDelay="1000" > Employee </mat-button-toggle>
    </mat-button-toggle-group>

    <div [hidden]="toggleTypeEmployee  != '2' "
         class="toggle-selector-employee">
      <app-mat-toggle-selector
              [id]="searchModel.employeeID"
              [list$]="employees$"
              (outPutID)="setEmployee($event)">
              Employee
      </app-mat-toggle-selector>
    </div>

    <div [hidden]="toggleTypeEmployee != '1'"
         class="toggle-selector">
      <app-mat-toggle-selector
            *ngIf="searchModel"
            [styleHeight]="'calc(65vh - 150px)'"
            [id]="searchModel.serviceTypeID"
            [list$]="serviceTypes$"
            (outPutID)="setServiceType($event)">
            Item Type
      </app-mat-toggle-selector>
    </div>

    <div   class="toggle-selector">
      <app-mat-toggle-selector
            *ngIf="searchModel"
            [styleHeight]="'calc(65vh - 150px)'"
            [id]="searchModel.itemTypeID"
            [list$]="itemTypes$"
            (outPutID)="setItemType($event)">
            Item Type
      </app-mat-toggle-selector>
    </div>

    <div *ngIf="electronEnabled || printingEnabled || capacitorEnabled">
      <div class="grid-container">
        <button class="info-buttons"
                mat-raised-button color="primary" >
          <mat-icon>print</mat-icon>
        </button>
      </div>
    </div>

  </mat-card-content>
</mat-card>

<ng-template #loading >
  <mat-spinner></mat-spinner>
</ng-template>

