<mat-card class="mat-card-view">
  <mat-card-content>

    <div class="ps-flex-group-start">
      <div class="ps-item-margin">
        <button mat-button (click)="resetSearch()">Reset <mat-icon>refresh</mat-icon></button>
      </div>

      <div class="ps-item-margin">
        <button mat-button (click)="refreshSearch()">Refresh <mat-icon>refresh</mat-icon></button>
      </div>
    </div>

    <search-debounce-input
          [itemNameControl] = "'name'"
          [searchForm]      = "searchForm"
          (outPutMethod)    = "refreshSearchPhrase($event)">
      <div fieldDescription>
      <mat-icon>search</mat-icon>
      Name / Sku / Serial
      </div>
    </search-debounce-input>

    <search-debounce-input
          [itemNameControl] = "'reportRunID'"
          [searchForm]      = "searchForm"
          (outPutMethod)    = "refreshSearchReportRunID($event)">
      <div fieldDescription>
        <mat-icon>search</mat-icon>
        Zrun / ReportRunID
      </div>
    </search-debounce-input>

    <span style="margin-left:5px;margin-bottom:5px">
      <mat-label>History</mat-label>
      <mat-slide-toggle
                *ngIf="searchModel"
                (change)="refreshSearch()"
                [(ngModel)]="searchModel.historyItem"  >
      </mat-slide-toggle>
    </span>

    <span style="margin-left:5px;margin-bottom:5px">
      <mat-label>Voided</mat-label>
      <mat-slide-toggle
          *ngIf="searchModel"
          (change)="refreshSearch()"
          [(ngModel)]="searchModel.voidedItem"  >
      </mat-slide-toggle>
    </span>

    <div *ngIf="isAuthorized" class="dates-field ">
      <mat-form-field appearance="outline" *ngIf="dateRangeForm">
        <mat-label>Date Range (Start Time)</mat-label>
        <mat-date-range-input [formGroup]="dateRangeForm"
                              [rangePicker]="reportRangePicker"
                                >
            <input matStartDate
                    formControlName="start"

                    (click)='emitDatePickerData()'>
            <input matEndDate formControlName="end"

                    (click)='emitDatePickerData()'>

                </mat-date-range-input >

        <mat-datepicker-toggle matSuffix [for]="reportRangePicker"
                                ></mat-datepicker-toggle>
        <mat-date-range-picker touchUi #reportRangePicker
                                ></mat-date-range-picker>

        <mat-error *ngIf="dateRangeForm.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="dateRangeForm.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
      <div class="refresh"> <button mat-raised-button (click)="emitDatePickerData()">
        <mat-icon>refresh</mat-icon>
      </button></div>
    </div>

    <mat-button-toggle-group
          name="listType"
          class="toggle-view"
          [(ngModel)]="listType" >
    <mat-button-toggle value="0"
        matTooltipHideDelay="1000" > Item Type </mat-button-toggle>
    <mat-button-toggle value="1"
        matTooltipHideDelay="1000" > Sale Type </mat-button-toggle>
    <mat-button-toggle value="2"
        matTooltipHideDelay="1000" > Employee </mat-button-toggle>
    </mat-button-toggle-group>

    <div [hidden]="listType != 0"
         class="toggle-selector-employee">
        <ng-container [ngTemplateOutlet]="itemTypeList"></ng-container>
    </div>

    <div [hidden]="listType != 1"
         class="toggle-selector">
      <ng-container [ngTemplateOutlet]="transactionList"></ng-container>
    </div>

    <div [hidden]="listType != 2"
         class="toggle-selector">
      <ng-container [ngTemplateOutlet]="employeeList"></ng-container>
    </div>

    <div *ngIf="electronEnabled || printingEnabled || capacitorEnabled">
      <div class="grid-container">
        <button class="info-buttons"
                mat-raised-button color="primary" >
          <mat-icon>print</mat-icon>
        </button>
      </div>
    </div>

  </mat-card-content>
</mat-card>

<ng-template #loading >
  <mat-spinner></mat-spinner>
</ng-template>

<ng-template #transactionList>
  <app-mat-toggle-selector
      [styleHeight]="'calc(65vh - 150px)'"
      [id]="searchModel.serviceTypeID"
      [list$]="serviceTypes$"
      (outPutID)="setServiceType($event)">
      Transaction Type
  </app-mat-toggle-selector>
</ng-template>

<ng-template #itemTypeList>
  <app-mat-toggle-selector
      [id]="searchModel.itemTypeID"
      [list$]="employees$"
      (outPutID)="setEmployee($event)">
    Employee
  </app-mat-toggle-selector>
</ng-template>

<ng-template #employeeList>
  <app-mat-toggle-selector
      [styleHeight]="'calc(65vh - 150px)'"
      [id]="searchModel.employeeID"
      [list$]="itemTypes$"
      (outPutID)="setItemType($event)">
     Item Type
  </app-mat-toggle-selector>
</ng-template>
