

<div *ngIf="(action$ |async) as item"></div>
<div *ngIf="(saveTime$ |async) as item"></div>
<mat-card class="plan-order mat-card-class" *ngIf="order">
  <mat-card-title>
      Plan Order
      <!-- <span style="margin-left:5px" *ngIf="processingUpdate">
      <mat-spinner [diameter]="25"> </mat-spinner></span> -->
  </mat-card-title>

  <mat-card-subtitle>
    <div *ngIf="errorMessage">
      <mat-icon>warning</mat-icon>  {{errorMessage}}
    </div>

    <div *ngIf="order && !order.clients_POSOrders">
      To schedule an order, a customer must be associated with it.
      <div class="grid-header-item">
        <app-order-header-demo-graphics
            [canRemoveClient]="'false'"
            [order]          ="order">
        </app-order-header-demo-graphics>
      </div>
    </div>

    <div *ngFor="let item of messages" style="width:300px" >
      <mat-icon color="warn">feedback</mat-icon><mat-label color="warn">   {{item}}   </mat-label>
    </div>
  </mat-card-subtitle>

  <mat-card-content *ngIf="serviceType">
    <mat-tab-group
                    #matTabGroup [class.header-less-tabs]="matTabGroup._tabs.length <= 1"
                    class="invisible-tabs mat-tab-group" mat-align-tabs="start"
                    [(selectedIndex)]="selectedIndex"
                    (selectedIndexChange)="selectChange()">

        <mat-tab label="Sale Type"
                 class="sale-type-tab">
          <posorder-service-type
              [textLength]="100"
              (outPutSelectServiceType)='selectedServiceType($event)'>
              Selected Type
          </posorder-service-type>
        </mat-tab>

        <mat-tab *ngIf="serviceType &&
                        serviceType.deliveryService"
                 label="Address">
          <div>
            <posorder-shipping-address
                [serviceType]="serviceType"
                [order]="order"
                [inputForm]="inputForm"
                (outPutBack)="navigate($event)"
                (outPutSaveAddress)= "saveShippingAddress($event)">
            </posorder-shipping-address>
          </div>
        </mat-tab>

        <mat-tab (click)="selectedIndex == 2"
                *ngIf   ="serviceType && serviceType?.promptScheduleTime"
                 label  ="Schedule">
          <div style="margin:5px">
            <app-posorder-schedule-form
                [inputForm]="scheduleForm"
                [serviceType]="serviceType"
                [order]="order"
                (OutPutSaveShippingTime)="saveShippingTime($event)">
            </app-posorder-schedule-form>

            <ng-container [ngTemplateOutlet]="scheduleDateValidator"></ng-container>

            <ng-container [ngTemplateOutlet]="scheduleValidator"></ng-container>

            <ng-template #scheduleValidator>
              <app-schedule-selector
                [presenationMode]="true"
                [initialSchedule]="itemTypeFeatures?.weekDayTimeValidator"
              ></app-schedule-selector>
            </ng-template>

            <ng-template #scheduleDateValidator>
              <app-schedule-date-range-selector
                [presenationMode]="true"
                [initialDateRanges]="itemTypeFeatures?.dateRanges"
              ></app-schedule-date-range-selector>
            </ng-template>

          </div>
        </mat-tab>

        <mat-tab *ngIf="serviceType"
                 (click)="selectedIndex == 3"
                 label="Special Requests">
          <div class="ps-flex-group">
            <pos-order-notes
              [serviceType]="serviceType"
              [order]="order"
              [inputForm]="inputFormNotes">
            </pos-order-notes>
            <ng-container [ngTemplateOutlet]="packageInfo"></ng-container>
          </div>

          <div class="instructions-small-view">
            <ng-container [ngTemplateOutlet]="instructionsView"></ng-container>
          </div>

        </mat-tab>

    </mat-tab-group>
  </mat-card-content>

  <mat-card-actions  *ngIf="serviceType?.allowRequestPrep && selectedIndex == 3 ||
                            saveValid"  >

    <h3>Actions</h3>

    <mat-divider style="margin:5px"></mat-divider>

    <div *ngIf="serviceType"
          class="action-grid">
      <div>
        <mat-card  class="communication-grid"
                   *ngIf="!isStaff && serviceType?.allowRequestPrep && selectedIndex == 3" >
          <mat-card-title>Send us a message about this order and we'll respond.</mat-card-title>
          <mat-card-content>
            <div *ngIf="serviceType"
                  class="action-grid">
              <div *ngIf="( messages$ | async) as list">
                <div *ngFor="let item of list">
                  <div>
                    <button
                            style="margin-bottom:10px;width:200px;height:50px"
                            mat-raised-button
                            color="primary"
                            (click)="sendMessage(item, order)">
                            <mat-icon>email</mat-icon> {{item?.subject}}
                    </button>
                  </div>
                    <div style="width:300px">
                      <mat-label style="margin:10px;">{{item?.message}}</mat-label>
                    </div>
                  </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <ng-container [ngTemplateOutlet]="payOptionView"></ng-container>

    </div>
  </mat-card-actions>
</mat-card>

<div class="instructions-large-view">
  <ng-container [ngTemplateOutlet]="instructionsView"></ng-container>
</div>

<ng-template #instructionsView>
  <div class="instructions" *ngIf="serviceType && !platFormService.isApp()">
    <div *ngIf="instructions"
          style="margin:10px"
          [innerHtml]="serviceType?.instructions"></div>
  </div>
</ng-template>

<div *ngIf="(action$ | async) as action"></div>

<ng-template #payOptionView>
  <div *ngIf="saveValid">
    <button style="float: left;height:75px;width:125px"
            mat-raised-button
            color   ="primary"
            (click) ="save()">
      <mat-icon aria-label="save">credit_card</mat-icon> Pay
    </button>
  </div>
</ng-template>

<ng-template #packageInfo>
  <mat-card *ngIf="nameStringPairs && nameStringPairs.length > 0">
    <mat-card-title>Select an option</mat-card-title>

    <div *ngFor="let pair of nameStringPairs; let nameIndex = index">
      <mat-card class="name-string-card">
        <mat-card-title>{{ pair?.name }}</mat-card-title>
        <mat-card-content>
          <div *ngFor="let value of pair?.values; let valueIndex = index">
            <button class="button-name-pair"
            color ="accent"
                    mat-flat-button
                    (click)="selectValue(nameIndex, valueIndex)">
              {{ value }}
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card>
</ng-template>
