@import "/src/mixins.scss";

mat-card {
  width: 100%;
  height: calc(90vh - 125px);
  margin: 10px;
  overflow-y: auto;
  @include for-phone-only  {
    height: calc(90vh - 125px);
  }
}

mat-tab {
  overflow: hidden;
}

#customer-notes {
  margin:  5;
  object-fit: cover;
}

.instructions-small-view { 
  display: none;
  @include for-phone-only  {
 
    display: flex;
  }
}

.instructions-large-view { 
  display: flex;
  @include for-phone-only  {
    display: none;
  }
}
.action-grid {
  --gap: 10px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
}

.communication-grid {
  width:90%;
  // max-height:px;
}

.grid-container {
  --gap: 10px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );

  @include for-phone-only  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    justify-content: space-between;
  }
}

.item {
  margin: 5px;
}

.sale-type-tab {
  overflow  : hidden;
  height    : 350px;
  max-height: 350px;
}

.instructions {
  overflow-y: auto;
  max-height: 400px;
}

.save-button {
  position:absolute;
  right:   25px;
  bottom:  25px;
}
