
<mat-card>

<div class="grid-container">

  <div >Date</div>
  <div> {{item.beginDate | date: 'short'  }}</div>

  <div> User:        </div>
  <div>{{item?.employeeName}} </div>
  <div>Cost Diff:        </div>
  <div>{{+item?.cost * this.getChangeCost(item) | currency}}</div>
  <div>PCKG Count:  </div>
  <div>{{item?.packageCountRemaining}}</div>
  <div> Location:    </div>
  <div>{{item?.location}}</div>
  <div>Note:</div>
  <div>{{item?.adjustmentNote}}</div>
  <div>Type: </div>
  <div>{{item?.adjustmentType}}</div>
</div>

</mat-card>
