.grid-container {

  grid-row: auto;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-column-gap: 5px;
  font-size: 1em;
}

// .grid-container :first-child {
//   grid-column: 1 / -1;
// }


body {
  overflow: hidden;
}

button {
  // padding: 3px 3px 3px 3px;
  margin-top: 6px;
  margin-left: 3px;
  margin-right: 3px;
  height: 2.5em;
}
