
<div *ngIf="(action$ | async) as action"></div>
<div *ngIf="(order$ | async) as order"></div>
<div *ngIf="(submitMetrcOrder$ | async) as order"></div>

<div class="header-row">
  <div>
    <div class="header-row">
      <div>
        <button class="button" mat-raised-button (click)="uploadTransactions()">
          METRC Upload
          <mat-icon>upload</mat-icon>
        </button>
      </div>
      <div>
        <button class="button" mat-raised-button (click)="onExportToCsv()">
          CSV Download
          <mat-icon>download</mat-icon>
        </button>
      </div>
      <span class="margin5">
        <ng-container [ngTemplateOutlet]="menuButtonContainer"></ng-container>
      </span>
    </div>
  </div>

 <div *ngIf="processing">
    <mat-spinner [diameter]="50"></mat-spinner>
 </div>

 <div style="max-width:750px">
   <div class="text-row header-row">
     <div>Current Page: {{currentPage}}</div>
     <div>Records: {{totalRecordCount}} (Max 10000)</div>
   </div>
   <div class="text-row header-row" *ngIf="searchModel">
     <div *ngIf="searchModel.zRUN">
       ID {{ searchModel.zRUN }}
     </div>

     <div *ngIf="searchModel.startDate">
       Start {{searchModel.startDate }}
     </div>

     <div *ngIf="searchModel.endDate">
       End: {{searchModel.endDate}}
     </div>

     <div *ngIf="searchModel.pageSize">
        Page Size: {{searchModel.pageSize}}
     </div>
     <div *ngIf="searchModel.currentPage">
        Current: {{searchModel.currentPage}}
     </div>

     <div *ngIf="exceptionMessage"><mat-icon>warning</mat-icon>{{exceptionMessage}}</div>

     <div *ngIf="selectedResponse">
      <button mat-button (click)="clearSelectedData()"><mat-icon color="warn">close</mat-icon></button>
      <mat-icon>info</mat-icon> {{ selectedResponse | json}}
    </div>

  </div>
 </div>

</div>

<div *ngIf="exceptions && exceptions.length>0">
  <mat-card>
  <mat-card-title>
    <h3>{{exceptions.length}} Exceptions </h3>
  </mat-card-title>
  <mat-card-content>
    <div class="exceptions-card">

    <div  class="exception-grid e">
      <div  *ngFor="let item of exceptions; let i = index">
        <div><button mat-raised-button color="warn" (click)="setActiveOrderByException(item?.orderID, item?.history)">
          {{item.orderID}}</button>
        </div>
        <div>{{item.exceptionNote}}</div>
      </div>
    </div>
  </div>
  </mat-card-content>
  </mat-card>
</div>

<div class="container" >

 <div *ngIf="smallDevice">
   <mat-divider></mat-divider>
 </div>

  <div class="grid-list" *ngIf="searchModel">
    <div>
      <div *ngIf="value" class="loader">
        <mat-progress-bar mode="determinate" [value]="value"></mat-progress-bar>
      </div>

      <!-- searchModel.currentDay {{searchModel.currentDay}} <br> -->
       <ag-grid-angular  *ngIf="!searchModel.currentDay"
            #agGrid
            [style]              ="gridDimensions"
            id                   ="myGrid"
            [class]              ="agtheme"
            [columnDefs]         ="columnDefs"
            [defaultColDef]      ="defaultColDef"
            [rowData]            ="rowData"
            [gridOptions]        ="gridOptionsInfinite"
            [rowSelection]       ="rowSelection"
            [frameworkComponents]="frameworkComponents"
            (selectionChanged)   ="onSelectionChanged($event)"
            (gridReady)          ="onGridReady($event)">
      </ag-grid-angular>
      <!-- [gridOptions]        ="gridOptions" -->
       <ag-grid-angular
            *ngIf="searchModel.currentDay"
            #agGrid2
            [style]              ="gridDimensions"
            id                   ="myGrid"
            [class]              ="agtheme"
            [columnDefs]         ="columnDefs"
            [defaultColDef]      ="defaultColDef"
            [rowData]            ="rowData"
            [gridOptions]        ="gridOptions"
            [rowSelection]       ="rowSelection"
            [frameworkComponents]="frameworkComponents"
            (selectionChanged)   ="onSelectionChanged($event)"
            (gridReady)          ="onGridReady($event)"  >
      </ag-grid-angular>
    </div>

    <div class="filter-panel" [style]="filterDimensions">
      <metrc-sales-filter
        (outputClearExceptions)="clearExceptions($event)">
      </metrc-sales-filter>
    </div>
  </div>

</div>




<ng-template #menuButtonContainer>
  <button style="height:45px;"
          mat-button
          color="primary"
          [matMenuTriggerFor]="menu"
          #menuTrigger="matMenuTrigger"
          (click)="menuTrigger.openMenu()" >
    <mat-icon>menu</mat-icon>Advanced
  </button>

  <mat-menu class="mat-menu-panel"
            [overlapTrigger]="false"
            #menu="matMenu">

    <span (mouseleave)="menuTrigger.closeMenu()">
      <div  class="ps-flex-group-column">

        <div class="margin-left-5 ">
          <button mat-button
                  color="primary"
                  class="assign-button"
                  (click)="assignSerials()">
            <mat-icon>list</mat-icon>
            Assign Unsigned Serial (fix)
          </button>
        </div>

      </div>
    </span>
  </mat-menu>
</ng-template>
