.transaction-data-side-panel {
  display      : grid;
  grid-template-columns: 35px 100px;
  width        : 100%;
  overflow-y   : auto;
  overflow-x   : hidden;
  font-size    : medium;
  margin-bottom: 5px;
}

.transaction-data {
  display: grid;
  grid-template-columns: 35px 100px;
  width         : 100%;
  overflow-y    : auto;
  overflow-x    : hidden;
  font-size     : medium;
  margin-bottom : 5px;
}

.totals {
  font-size     : small;
  float         : right;
  align-items   : flex-end;
  text-align    : right;
}
