

mat-card  {
  width: 100%;
}

.transaction-data-side-panel-small {
  display      : grid;
  grid-template-columns: 55px 1fr;
  width        : 125px;
  overflow-y   : auto;
  overflow-x   : hidden;
  font-size    : large;
  margin-bottom: 5px;
}

.transaction-data-side-panel {
  display      : grid;
  grid-template-columns: 1fr 1fr;
  width        : 100%;
  overflow-y   : auto;
  overflow-x   : hidden;
  font-size    : large;
  margin-bottom: 5px;
}

.foreground-color {
  //  color: mat-contrast($accent, 500);
  // color: rgba(black, 0.87)
}

.transaction-data {
  display: grid;
  grid-template-columns: 95px 125px;
  width         : 100%;
  overflow-y    : auto;
  overflow-x    : hidden;
  font-size     : large;
  margin-bottom : 5px;
}

.totals {
  font-size     : small;
  float         : right;
  align-items   : flex-end;
  text-align    : right;
  font-size     : medium;
}

.total-headers {
  font-size     : small;
  float         : left;
  align-items   : flex-start;
  text-align    : left;
  font-size     : medium;
}
