mat-card  {
  width: 100%;
  overflow-y   : hidden;
  overflow-x   : hidden;
}

.side-panel-small {
  display      : grid;
  // grid-template-columns: 55px 1fr;
  // width        : 165px;
  max-width: 400px;
  grid-template-columns: 1fr 1fr;
  overflow-y   : auto;
  overflow-x   : hidden;
  font-size    : large;
  margin-bottom: 0px;
  // padding-right: 15px;
}

.main-panel-small {
  display      : grid;
  grid-template-columns: 55px 1fr;
  width        : 95%;
  overflow-y   : auto;
  overflow-x   : hidden;
  font-size    : large;
  margin-bottom: 0px;
  // padding-right: 15px;
}

.transaction-data-side-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: large;
  margin-bottom: 0px;
  margin-right : 5px;
  padding-right: 15px;
}

.foreground-color {
  //  color: mat-contrast($accent, 500);
  // color: rgba(black, 0.87)
}

.transaction-data {
  display: grid;
  grid-template-columns: 95px 125px;
  width         : 100%;
  overflow-y    : auto;
  overflow-x    : hidden;
  font-size     : large;
  margin-bottom : 5px;
  margin-left   : 4px;
}

.totals {
  float         : right;
  align-items   : flex-end;
  text-align    : right;
  font-size     : medium;
}

.grand-totals {
  float         : right;
  align-items   : flex-end;
  text-align    : right;
  font-size     : 1.3em;
  font-weight   : 600;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.total-headers {
  font-size     : small;
  float         : left;
  align-items   : flex-start;
  text-align    : left;
  font-size     : medium;
}
