<div *ngIf="(deviceSettings$ | async) as deviceSettings"></div>
<div *ngIf="(action$  | async) as item"></div>
<div *ngIf="resultAction && (voidPayment || manifest)">
  <mat-card>
    <mat-card-content>
      <div *ngIf="settings.triposEnabled && terminalSettings">

        <div class="ngcontent" *ngIf="voidAmount && voidAmount != 0">
          <h3>
            Void Amount - {{voidAmount | currency}}
          </h3>
        </div>
        <div *ngIf="toggleVoid">
          <h4>
            Will process as Void - Required if reversal fails.
          </h4>
        </div>
        <div *ngIf="!toggleVoid">
          <h4>
            Will process as Reversal - Preffered method.
          </h4>
        </div>

        <button class="button"
                color="accent"
                mat-raised-button
                (click)="toggleVoid = !toggleVoid">
          <div *ngIf="!toggleVoid">
              Run as Void
          </div>
          <div *ngIf="toggleVoid">
            Run as Reversal
          </div>
        </button>
      </div>

      <div *ngIf="payment">
        <div  class="mat-label">
          <mat-slide-toggle
              name="webProduct"
              class="mat-label"
              [(ngModel)]="payment?.paymentMethod.isCreditCard">
            <mat-label class="mat-label">Credit Card</mat-label>
          </mat-slide-toggle>
        </div>
      </div>

      <div class="card-content"  *ngIf="payment?.paymentMethod.isCreditCard  && payment.textResponse">
        <app-mat-toggle-selector
            [toggleButtonClass]="'toggle-buttons-height-short'"
            [toggleStyleHeight] ="'300px'"
            (outPutID)="selectItem($event)"
            [hideAllOption]="true"
            [list$]="list$">
            Select Void Reason
        </app-mat-toggle-selector>
      </div>

      <div class="item-container" >
        <app-key-pad
          [inputForm]        ="inputForm"
          [inputTypeValue]   ="'number'"
          [showInput]        ="true"
          [alternateClass]   ="'grid-keypad-alternate'"
          [numberbuttons]    ="'number-buttons button-sized-2'"
          (outPutReturnEnter)="setVoidAmount($event)">
          <mat-label>Enter Partial Void/Reversal Amount</mat-label>
        </app-key-pad>
      </div>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>



