<div *ngIf="(deviceSettings$ | async) as deviceSettings"></div>
<div *ngIf="(action$  | async) as item"></div>

<div *ngIf="resultAction && (voidPayment || manifest)">
  <mat-card>
    <mat-card-content>

      <div *ngIf="settings.triposEnabled">

        <div *ngIf="toggleVoid">
          Will process as Void - Required if reversal fails.
        </div>
        <div *ngIf="!toggleVoid">
          Will process as Reversal - Preffered method.
        </div>

        <button class="button" color="accent" mat-raised-button (click)="toggleVoid = !toggleVoid">
          <div *ngIf="!toggleVoid">
            Run as Void
          </div>
          <div *ngIf="toggleVoid">
            Run as Reversal
          </div>
        </button>

      </div>

      <div class="card-content">
        <app-mat-toggle-selector
            [toggleButtonClass]="'toggle-buttons-wide'"
            (outPutID)="selectItem($event)"
            [hideAllOption]="true"
            [list$]="list$">
            Select Void Reason
        </app-mat-toggle-selector>
      </div>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>

