
<div *ngIf="(priceSchedules$ | async) as item"></div>

<ng-template #loading><mat-spinner diameter="50"></mat-spinner></ng-template>

<div class="grid-container" >
  <div>

    <div class="grid-dual-list" [formGroup]="listBoxForm">

      <div class="dualListLeft">
        <div class="drag-drop-container">

          <!-- <mat-form-field appearance="outline">
            <mat-label>{{availableText}}</mat-label>
            <input matInput
                  class="form-control vertical-spacing-5"
                  placeholder="{{availableFilterPlaceholder}}"
                  formControlName="availableSearchInput"
                  #availableSearchInput />
          </mat-form-field> -->

          <div cdkDropList #availables="cdkDropList"
              [cdkDropListData] ="availableItems"
              [cdkDropListConnectedTo] ="[selects]"
              (cdkDropListDropped)="drop($event)"
              class="drag-drop-list  selection-list">
              <div nbButton outline status='primary'
                  class="drag-drop-box"
                  *ngFor="let item of availableItems " cdkDrag>
                  {{ item.name }}
              </div>
          </div>
        </div>
      </div>

      <div class="dualListRight">
        <div class="drag-drop-container">
            <!-- <mat-form-field appearance="outline">
              <mat-label>{{selectedText}}</mat-label>
              <input matInput
                    type="text"
                    class="form-control"
                    placeholder="{{selectedFilterPlaceholder}}"
                    formControlName="selectedSearchInput"
                    #selectedSearchInput />
            </mat-form-field> -->

            <div cdkDropList #selects="cdkDropList"
                [cdkDropListData] ="selectedItems"
                [cdkDropListConnectedTo]="[availables]"
                (cdkDropListDropped)="drop($event)"
                class="drag-drop-list selection-list">
              <div nbButton outline status='primary'
                  class="drag-drop-box"
                  *ngFor="let item of selectedItems"
                  cdkDrag>
                  {{ item.name }}
              </div>

              <!-- <div nbButton outline status='primary'
                  class="drag-drop-box"
                  *ngFor="let item of selectedItems | arrayFilter:['name', selectedSearchInput.id]"
                  cdkDrag>
                  {{ item.name }}
              </div> -->
            </div>
        </div>
      </div>

    </div>

  </div>

</div>

