<div class="header">
  <div>
    <h2>Manifest Status</h2>
  </div>
  <div>
    <span><button mat-button
        (click)="refreshSearch()">
        <mat-icon>refresh</mat-icon>
      </button>
    </span>
  </div>

</div>

<div class="grid-list">
  <div *ngIf="gridOptions">
    <ag-grid-angular
        #agGrid
        style                ="width: 100%; height: 100%;"
        id                   ="myGrid"
        [class]              ="agtheme"
        [columnDefs]         ="columnDefs"
        [defaultColDef]      ="defaultColDef"
        [gridOptions]        ="gridOptions"
        [rowSelection]       ="rowSelection"
        [frameworkComponents]="frameworkComponents"
        (selectionChanged)   ="onSelectionChanged($event)"
        (gridReady)          ="onGridReady($event)">
    </ag-grid-angular>
  </div>
</div>

<div style="flex-grow:0">
  <span id="selectedRows"> </span>
</div>

<div [formGroup]="inputForm" >
    <div fxLayout="row" fxLayoutAlign="space-around center" >
      <div  fxLayout="column">
          <div  fxLayout="row">
          <div  fxLayout="column">
          <h2>Edit Add</h2>
            <div>
              <mat-form-field appearance="outline">
                <mat-label >Name</mat-label>
                <input matInput
                      type="text"
                      formControlName="name"
                      class="form-control" >
              </mat-form-field>
            </div>
          <div>
          <mat-form-field appearance="outline">
            <mat-label >Icon</mat-label>
            <input matInput
                  type="text"
                  formControlName="icon"
                  class="form-control" >
          </mat-form-field>
        </div>
      </div>
    </div>
      <mat-divider></mat-divider>
      <div  fxLayout="row"  fxLayoutAlign="space-around center" >
        <button mat-raised-button class="form-button"
              color="primary"
              (click)="update()">Add / Edit</button>
        <button mat-raised-button
              class="form-button"
              color="primary"
              (click)="delete()">Delete</button>
      </div>
    </div>
  </div>
</div>
