
.card-dimensions {
  // width: 400px;
  // height: 400px;
}

mat-card {
  height    : 400px;
  min-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}

.instructions {
  margin-bottom: 5px;
  margin-top: 5px;
}
