@import "/src/mixins.scss";
.card-dimensions {
  // width: 400px;
  // height: 400px;
}

mat-card {
  height    : 400px;
  min-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}

.instructions {
  margin-bottom: 5px;
  margin-top: 5px;
}

.service-buttons {
  width: 250px;
  height: 60px;
  margin: .5em;
}

.formFieldClass {
  width: 100%;
}
.item-image {
  object-fit  :   cover;
  border-radius: 15px;
  width       : 100%;
  white-space : normal;
  overflow    : hidden;
  height  : 50px;

  @include for-phone-only {
    font-size  : 1.3em;
    height    : 50px;
  }
}

.button-text {
  width: 150px;
  text-align: left;
  text-wrap:balance;
}