<ng-template #loading>
  <mat-spinner [diameter]="100"></mat-spinner>
</ng-template>

<div class="container"
    [formGroup]="productForm"
     *ngIf="product && productForm ; else loading">
  <mat-card>
    <mat-card-title>

      <div class="header-container" >
        <div >
          <h4>
            <div *ngIf="product.id == 0">
              Add Item:   {{ product?.name  }}  {{ product?.barcode }}
            </div>
            <div *ngIf="product.id != 0">
              Edit Item:   {{ product?.name  }}  {{ product?.barcode }}
            </div>
          </h4>
        </div>
        <div >
          <app-edit-buttons-standard
                (outputeupdateItem)     ="updateItem($event)"
                (outputupdateItemExit)  ="updateItemExit($event)"
                (outputupdatedeleteItem)="deleteItem($event)"
                (outputupdateonCancel)  ="onCancel($event)"
                (outputCopy)            ="copyItem($event)"
          ></app-edit-buttons-standard>

          <app-activity-toggles [formGroup]="productForm"></app-activity-toggles>

        </div>
      </div>

    </mat-card-title>

    <mat-divider> </mat-divider>

    <div class="info-container">

      <div class="grid-container">

          <div class="grid-item">
            <div class="header">
              <h4><mat-icon>subject</mat-icon> Basics </h4>
            </div>

            <div class="basic-fields">
              <mat-form-field appearance="outline">
                <mat-label >Long Name</mat-label>
                <input matInput
                      type="text"
                      formControlName="fullProductName"
                       >
              </mat-form-field>
            </div>

            <div class="basic-fields">
              <mat-form-field appearance="outline">
                <mat-label >Name</mat-label>
                <input matInput
                        type="text"
                        formControlName="name"
                       >
              </mat-form-field>
            </div>

            <div>
              <app-category-select [inputForm]="productForm"></app-category-select>
            </div>

            <div>
              <app-department-select [inputForm]="productForm" ></app-department-select>
            </div>

            <div>
              <product-type-select [inputForm]="productForm"> </product-type-select>
            </div>

            <div>
              <app-brand-type-select
                                [id] = "brandID.value"
                                [inputForm]="productForm">
              </app-brand-type-select>
            </div>

            <div>
              <mat-form-field appearance="outline">
                <mat-label >Barcode</mat-label>
                <input matInput
                      type="text"
                      formControlName="barcode"
                >
              </mat-form-field>
            </div>
            <div>

            </div>
          </div>

          <div class="grid-item" >

             <div *ngIf="itemType && itemType.useType === 'product'">
                <div class="header">
                  <h4><mat-icon>price_change</mat-icon>Prices</h4>
                </div>

                <div class="grid-container-small">
                  <div>
                    <app-price-category-select
                      [itemType]        ="itemType"
                      [priceCategoryID] ="product.priceCategory"
                      [inputForm]       ="productForm" >
                    </app-price-category-select>
                  </div>
               </div>
             </div>



            <div>
              <div class="header">
                  <h4><mat-icon>image</mat-icon>Images</h4>
                </div>
                <app-widget-uploader
                    [(fileNames)]="urlImageMain"
                    (messageOut) ="received_URLMainImage($event)"
                    (imageUrl)   ="updateUrlImageMain($event)">
                </app-widget-uploader>
            </div>

          </div>

          <div class="grid-item">

            <div class="header">
              <h4> <mat-icon>list</mat-icon>  {{ itemType.name }}</h4>
            </div>

            <div *ngIf="itemType  && (
                     itemType.name   === 'wine'
                  || itemType.name   === 'alcohol'
                  || itemType.name   === 'beer')">
            </div>

            <div *ngIf="itemType  && (itemType.name === 'grocery')">
              <food-product-edit [inputForm]="productForm"></food-product-edit>
            </div>

            <div *ngIf="itemType  && (itemType.name === 'tobacco' )">

            </div>

            <div *ngIf="itemType  && ( itemType.type === 'discounts' )">
              <div class="header">
                <mat-icon>coupon</mat-icon>
              </div>
              <app-value-fields
                    [inputForm]="productForm"
                    [fieldName]="'style'">
                    Value
              </app-value-fields>
              <app-value-fields
                  [inputForm]="productForm"
                  [fieldName]="'productCount'"
                >
                  Count
              </app-value-fields>
            </div>

            <div *ngIf="itemType  && (itemType.name === 'Generic')">
              <!-- //prompt modifier type
              //recipe
              //notation
              //ingredients -->
              <prompt-group-select
                 [inputForm]="productForm"
              ></prompt-group-select>
            </div>

            <div *ngIf="itemType  && (itemType.name === 'retail' )">
              <retail-product-edit [inputForm]="productForm"></retail-product-edit>
            </div>

            <div *ngIf="itemType  && (itemType.name === 'modifier' )">

            </div>

            <div *ngIf="itemType  && (itemType.name === 'grouping' )">

            </div>

            <div *ngIf="itemType  && itemType.type.toLowerCase() === 'cannabis'">

              <cannabis-item-edit [inputForm]="productForm"></cannabis-item-edit>

            </div>

            <div *ngIf="itemType && (
                  itemType.useType.toLowerCase() == 'product'
                  )">

              <app-value-fields
                [inputForm]="productForm"
                [fieldName]="'gramCount'"
              >
                Per Unit Quantity
              </app-value-fields>
              <app-value-fields
                [inputForm]="productForm"
                [fieldName]="'productCount'"
              >
                Count
              </app-value-fields>
          </div>

          </div>

      </div>

    </div>
  </mat-card>
</div>
