<ng-template #loading>
  <mat-spinner [diameter]="70"></mat-spinner>
</ng-template>

<div *ngIf="(product$ | async) as product"></div>
<div class="container"
     [formGroup]="productForm"
     *ngIf="product && productForm ; else loading">

  <mat-card>
    <mat-card-title>

      <div class="header-container" >
        <div >
          <h4>
            <div *ngIf="product.id == 0">
              Add Item:   {{ product?.name  }}  {{ product?.barcode }}
            </div>
            <div *ngIf="product.id != 0">
              Edit Item:   {{ product?.name  }}  {{ product?.barcode }}
            </div>
          </h4>
        </div>

        <div >
          <div>
            <app-edit-buttons-standard
                  [enableCopy]            ="true"
                  (outputeupdateItem)     ="updateSave($event)"
                  (outputupdateItemExit)  ="updateItemExit($event)"
                  (outputupdatedeleteItem)="deleteItem($event)"
                  (outputupdateonCancel)  ="onCancel($event)"
                  (outputCopy)            ="copyItem($event)"
            ></app-edit-buttons-standard>
          </div>

          <app-activity-toggles
              [inputForm]="productForm">
          </app-activity-toggles>
          <ng-container [ngTemplateOutlet]="managerProtectedToggle"></ng-container>
        </div>

      </div>
    </mat-card-title>

    <mat-card-subtitle>
      <div *ngIf="(action$ | async) as item; else action">
      </div>

      <ng-template #action>
        <div *ngIf="message != '' && message != undefined">
          <mat-spinner [diameter]="50"></mat-spinner>
          <button mat-button (click)="message = ''">Clear</button>
        </div>
      </ng-template>
    </mat-card-subtitle>

    <mat-divider> </mat-divider>

    <div class="info-container">
      <div class="grid-container">
          <div class="grid-item">
            <div class="header">
              <h4><mat-icon>subject</mat-icon> Basics </h4>
            </div>

              <app-value-fields
                    [inputForm]="productForm"
                    [fieldName]="'name'">
                Name
              </app-value-fields>

              <app-category-select   [inputForm]="productForm"
                                     [fieldName]="'subCategoryID'"
                                     [type]="'subcategory'">Sub Category
              </app-category-select>

              <app-category-select   [inputForm]="productForm"
                                     [type]="'category'">Category
              </app-category-select>

              <app-department-select
                    [id] = "product?.brandID" [inputForm]="productForm">Department
              </app-department-select>

              <div class="flex-container-medium">
                <product-type-select  [inputForm]="productForm">
                </product-type-select>
                <button mat-button color="accent" class="edit-button" (click)="editType()">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>

              <app-brand-type-select
                      [formFieldClass]="'formFieldClass-standard'"
                      [id] = "product.brandID"
                      [fieldName]="'brandID'"
                      [inputForm]="productForm">
                Brand
              </app-brand-type-select>

              <app-value-fields
                    [inputForm]="productForm"
                    [fieldName]="'barcode'">
                Barcode
              </app-value-fields>

              <app-value-fields
                    [inputForm]="productForm"
                    [fieldName]="'barCodeAlt'">
                Barcode Alt
              </app-value-fields>

              <app-value-fields
                    [inputForm]="productForm"
                    [fieldName]="'sku'">
                SKU
              </app-value-fields>
              <app-value-fields
                    [inputForm]="productForm"
                    [fieldName]="'prodSecondLanguage'">
                Alt Language
              </app-value-fields>
          </div>

          <div class="grid-item" >
            <div *ngIf="itemType &&  (itemType.useType && itemType.useType?.toLowerCase() === 'product')">
                <div class="header">
                  <h4><mat-icon>price_change</mat-icon>Prices</h4>
                </div>
                <div  class="grid-container-small">
                  <div >
                    <ng-container [ngTemplateOutlet]="priceCategorySelector"></ng-container>
                  </div>
               </div>
            </div>

            <div>
                <h4><mat-icon>design</mat-icon>Design / Layout</h4>
                <ng-container [ngTemplateOutlet]="icon"></ng-container>
                <ng-container [ngTemplateOutlet]="menuSort"></ng-container>
                <div class="header">
                  <h4><mat-icon>image</mat-icon>Images</h4>
                </div>

                <app-widget-uploader
                    [(fileNames)]="urlImageMain"
                    (messageOut) ="received_URLMainImage($event)"
                    (imageUrl)   ="updateUrlImageMain($event)">
                </app-widget-uploader>

                <ng-container [ngTemplateOutlet]="buttonColorPicker"></ng-container>

            </div>

          </div>

          <div class="grid-item">

            <div class="header">
              <h4> <mat-icon>list</mat-icon> {{ itemType.name }}</h4>
            </div>

             <div *ngIf="itemType && itemType.name && (
                        itemType.type?.toLowerCase() === 'retail liquor' ||
                        itemType.type?.toLowerCase() === 'service liquor'   )">
                <ng-container [ngTemplateOutlet]="countryOfOrigin"></ng-container>
                <ng-container [ngTemplateOutlet]="proof"></ng-container>
                <ng-container [ngTemplateOutlet]="yearsOld"></ng-container>
                <ng-container [ngTemplateOutlet]="abv"></ng-container>
            </div>

            <div *ngIf="itemType && itemType.useType && (itemType.type?.toLowerCase() === 'grocery' ||
                                                         itemType.type?.toLowerCase() === 'tobacco' ||
                                                         itemType.type?.toLowerCase() === 'restaurant' ||
                                                         itemType.type?.toLowerCase() === 'food')">

              <ng-container [ngTemplateOutlet]="countryOfOrigin"></ng-container>

              <div *ngIf="itemType && itemType.type">
                <ng-container [ngTemplateOutlet]="promptGroupSelector"></ng-container>
              </div>

            </div>
            <div *ngIf="itemType && itemType.useType && (itemType.type?.toLowerCase() === 'grocery' ||
                          itemType.type?.toLowerCase() === 'restaurant')">
              <ng-container [ngTemplateOutlet]="gluetenFree"></ng-container>
            </div>
            <div *ngIf="itemType && itemType.name && ( itemType.type?.toLowerCase() === 'store credit' )">
              <ng-container [ngTemplateOutlet]="style"></ng-container>
              <ng-container [ngTemplateOutlet]="productCount"></ng-container>
            </div>

            <div *ngIf="itemType && itemType.name && ( itemType.type?.toLowerCase() === 'discounts' ||
                                                       itemType.type?.toLowerCase() === 'service fee' )">
              <div class="header">
                <mat-icon>coupon</mat-icon>
              </div>

              <ng-container [ngTemplateOutlet]="style"></ng-container>
              <ng-container [ngTemplateOutlet]="productCount"></ng-container>
              <ng-container [ngTemplateOutlet]="reOrderAmount"></ng-container>
              <ng-container [ngTemplateOutlet]="reOrderLevel"></ng-container>
             </div>

            <div *ngIf="itemType && itemType.type &&  (itemType.type?.toLowerCase() === 'retail' )">

              <retail-product-edit
                [inputForm]="productForm">
              </retail-product-edit>

              <ng-container [ngTemplateOutlet]="countryOfOrigin"></ng-container>

              <div *ngIf="itemType && itemType.type">
                <ng-container [ngTemplateOutlet]="promptGroupSelector"></ng-container>
              </div>

            </div>

            <div *ngIf="itemType && itemType.type &&  (itemType.type?.toLowerCase() === 'modifier' )">

            </div>

            <div *ngIf="itemType && itemType.type &&  (itemType.type?.toLowerCase() === 'grouping' )">

            </div>

            <div  *ngIf="itemType && itemType.type &&
                        (itemType.type?.toLowerCase() === 'cannabis' ||
                        itemType.type?.toLowerCase()  === 'med-cannabis')">
              <cannabis-item-edit [product]  ="product"
                                  [inputForm]="productForm">
              </cannabis-item-edit>
            </div>

            <div *ngIf="itemType && itemType.useType &&  (
                        itemType.useType?.toLowerCase() == 'product' )">
              <ng-container [ngTemplateOutlet]="unitSelector"></ng-container>
              <ng-container [ngTemplateOutlet]="gramCount"></ng-container>
              <ng-container [ngTemplateOutlet]="productCount"></ng-container>
              <ng-container [ngTemplateOutlet]="reOrderAmount"></ng-container>
              <ng-container [ngTemplateOutlet]="reOrderLevel"></ng-container>
              <ng-container [ngTemplateOutlet]="partBuilderSelector"></ng-container>

            </div>
          </div>
      </div>
    </div>

  </mat-card>
</div>

<ng-template #managerProtectedToggle>
  <div  class="mat-label" *ngIf="productJSONObject">
    <mat-slide-toggle
      class="mat-label"
      [(ngModel)]="managerProtected">

      <mat-label class="mat-label">Manager Protected</mat-label>

  </mat-slide-toggle>
   <mat-icon class="mat-label-info"
             color="accent"
             [matTooltip]="labelingService.productFieldTips[3].value">info</mat-icon>


  </div>
</ng-template>

<ng-template #buttonColorPicker>
  <div *ngIf="productJSONObject">
    <h3>Button Color Picker</h3>
    <ngx-colors ngx-colors-trigger [(ngModel)]="productJSONObject.buttonColor"></ngx-colors>
    <mat-form-field>
      <input matInput [(ngModel)]="productJSONObject.buttonColor">
    </mat-form-field>
    <!-- {{productJSONObject.buttonColor}} -->
  </div>
</ng-template>

<ng-template #priceCategorySelector>
  <app-price-category-select
    [itemType]        ="itemType"
    [priceCategoryID] ="product.priceCategory"
    [inputForm]       ="productForm" >
  </app-price-category-select>
</ng-template>

<ng-template #promptGroupSelector>
  <prompt-group-select
    [inputForm]="productForm"
  ></prompt-group-select>
</ng-template>

<ng-template #gluetenFree>
  <div *ngIf="productForm"
     [formGroup]="productForm" >
    <mat-slide-toggle
        formControlName="glutenFree">
      <mat-label class="mat-label">Gluten Free</mat-label>
    </mat-slide-toggle>
  </div>
</ng-template>

<ng-template #icon>
    <div class="grid-item">
      <mat-icon class="mat-label-info"
             color="accent"
             [matTooltip]="labelingService.productFieldTips[2].value">info</mat-icon>
      <div>
        <app-value-fields
          [inputForm]="productForm"
          [fieldName]="'icon'">
          Material Icon
        </app-value-fields>
    </div>
  </div>
</ng-template>

<ng-template #menuSort>
  <div class="grid-item">
    <mat-icon class="mat-label-info"
              color="accent"
              [matTooltip]="labelingService.productFieldTips[1].value">info</mat-icon>
    <div>
      <app-value-fields
        [inputForm]="productForm"
        [fieldName]="'menuSort'">
        Sort Value
      </app-value-fields>
    </div>
  </div>
</ng-template>

<ng-template #proof>
  <app-value-fields
        [inputForm]="productForm"
        [fieldName]="'proof'" >
    Proof
  </app-value-fields>
</ng-template>

<ng-template #abv>
  <app-value-fields
      [inputForm]="productForm"
      [fieldName]="'abv'" >
    ABV
  </app-value-fields>
</ng-template>

<ng-template #yearsOld>
  <app-value-fields
    [inputForm]="productForm"
    [fieldName]="'yearsOld'" >
    Year Made
  </app-value-fields>
</ng-template>

<ng-template #style>
  <app-value-fields
    [inputForm]="productForm"
    [fieldName]="'style'">
    Value
  </app-value-fields>
</ng-template>

<ng-template #countryOfOrigin>
  <app-value-fields
  [inputForm]="productForm"
  [fieldName]="'countryOfOrigin'">
  Country Of Origin
  </app-value-fields>
</ng-template>

<ng-template #gramCount>
  <mat-icon class="mat-label-info"
             color="accent"
             [matTooltip]="labelingService.productFieldTips[0].value">info</mat-icon>
  <app-value-fields
        [inputForm]="productForm"
        [fieldName]="'gramCount'" >
        Per Unit Quantity
  </app-value-fields>
</ng-template>

<ng-template #productCount>
  <app-value-fields
      [inputForm]="productForm"
      [fieldName]="'productCount'">
    Count
</app-value-fields>
</ng-template>

<ng-template #reOrderAmount>
  <app-value-fields
    [inputForm]="productForm"
    [fieldName]="'reOrderAmount'" >
    Re-Order Amount
  </app-value-fields>
</ng-template>

<ng-template #reOrderLevel>
  <app-value-fields
      [inputForm]="productForm"
      [fieldName]="'reOrderLevel'">
      Re Order Level
  </app-value-fields>
</ng-template>

<ng-template #unitSelector>
  <div class="grid-container-3Column">
    <div>
      <unit-type-select
        [inputForm]     = 'productForm'
        [product]       = 'productForm.value'
        [id]            = 'product.unitTypeID'
        [searchForm]    = 'unitSearchForm'
        (itemSelect)    = 'assignItem($event)'>
      </unit-type-select>
    </div>
    <div style="margin-top:5px;">
      <button mat-button (click)="openUnit()">
        <div *ngIf="productForm.controls['unitTypeID'].value !=0">
          <mat-icon>expand</mat-icon>
        </div>
        <div *ngIf="productForm.controls['unitTypeID'].value ==0">
          <mat-icon>add</mat-icon>
        </div>
      </button>
    </div>
    <div>
      <button mat-button (click)="clearUnit()">
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #partBuilderSelector>
  <div class="grid-container-3Column">
    <div>
      <field-value-selector
        [inputForm]="productForm"
        [searchForm]="pbSearchForm"
        [searchType]="'pB_MainID'"
        [fieldProperty]="'pB_MainID'"
        [id]="product.pB_MainID"
        [friendlyName]="'Kit/Recipe'"
        (itemSelect)="setPartBuilder($event)">
        Kit/Recipe
      </field-value-selector>
    </div>
    <div></div>
    <div>
      <button mat-button (click)="clearPB()">
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </div>
  </div>
</ng-template>
