<ng-template #loading>
  <mat-spinner [diameter]="70"></mat-spinner>
</ng-template>

<div class="container"
     [formGroup]="productForm"
     *ngIf="product && productForm ; else loading">

  <mat-card>
    <mat-card-title>

      <div class="header-container" >
        <div >
          <h4>
            <div *ngIf="product.id == 0">
              Add Item:   {{ product?.name  }}  {{ product?.barcode }}
            </div>
            <div *ngIf="product.id != 0">
              Edit Item:   {{ product?.name  }}  {{ product?.barcode }}
            </div>
          </h4>
        </div>

        <div >
          <app-edit-buttons-standard
                (outputeupdateItem)     ="updateItem($event)"
                (outputupdateItemExit)  ="updateItemExit($event)"
                (outputupdatedeleteItem)="deleteItem($event)"
                (outputupdateonCancel)  ="onCancel($event)"
                (outputCopy)            ="copyItem($event)"
          ></app-edit-buttons-standard>

          <app-activity-toggles
              [inputForm]="productForm">
          </app-activity-toggles>
        </div>

      </div>
    </mat-card-title>

    <mat-divider> </mat-divider>

    <div class="info-container">
      <div class="grid-container">
          <div class="grid-item">
            <div class="header">
              <h4><mat-icon>subject</mat-icon> Basics </h4>
            </div>
<!--
              <app-value-fields
                  [inputForm]="productForm"
                  [fieldName]="'fullProductName'">
                  Long Name
              </app-value-fields> -->

              <app-value-fields
                    [inputForm]="productForm"
                    [fieldName]="'name'">
                Name
              </app-value-fields>

              <app-category-select   [inputForm]="productForm"></app-category-select>
              <app-department-select [inputForm]="productForm" ></app-department-select>
              <product-type-select   [inputForm]="productForm"></product-type-select>

               <!-- brandID value {{brandID | json}} <br>-->
               <!-- brandID {{brandID.value}}  -->
              <app-brand-type-select
                      [formFieldClass]="'formFieldClass-standard'"
                      [id] = "brandID.value"
                      [inputForm]="productForm">
              </app-brand-type-select>

              <app-value-fields
                    [inputForm]="productForm"
                    [fieldName]="'barcode'">
                Barcode
              </app-value-fields>

              <app-value-fields
                    [inputForm]="productForm"
                    [fieldName]="'barCodeAlt'">
                Barcode Alt
              </app-value-fields>

          </div>

          <div class="grid-item" >
            <div *ngIf="itemType &&  (itemType.useType && itemType.useType?.toLowerCase() === 'product')">
                <div class="header">
                  <h4><mat-icon>price_change</mat-icon>Prices</h4>
                </div>
                <div *ngIf="itemType" class="grid-container-small">
                  <div>
                 
                  <app-price-category-select
                      [itemType]        ="itemType"
                      [priceCategoryID] ="product.priceCategory"
                      [inputForm]       ="productForm" >
                    </app-price-category-select>
                  </div>
               </div>
            </div>

            <div>
                <div class="grid-item">
                    <div>
                      <app-value-fields
                        [inputForm]="productForm"
                        [fieldName]="'icon'">
                        Material Icon
                      </app-value-fields>
                  </div>
                </div>

                <div class="header">
                  <h4><mat-icon>image</mat-icon>Images</h4>
                </div>
                <app-widget-uploader
                    [(fileNames)]="urlImageMain"
                    (messageOut) ="received_URLMainImage($event)"
                    (imageUrl)   ="updateUrlImageMain($event)">
                </app-widget-uploader>
            </div>

          </div>

          <div class="grid-item">

            <div class="header">
              <h4> <mat-icon>list</mat-icon> {{ itemType.name }}</h4>
            </div>

             <div *ngIf="itemType && itemType.name && (
                        itemType.type?.toLowerCase() === 'retail liquor' ||
                        itemType.type?.toLowerCase() === 'service liquor'   )">

                <app-value-fields
                  [inputForm]="productForm"
                  [fieldName]="'countryOfOrigin'"
                  >
                  Country Of Origin
                </app-value-fields>
                <app-value-fields
                  [inputForm]="productForm"
                  [fieldName]="'proof'"
                  >
                  Proof
                </app-value-fields>
                <app-value-fields
                  [inputForm]="productForm"
                  [fieldName]="'yearsOld'"
                  >
                  Year Made
                </app-value-fields>
                <app-value-fields
                  [inputForm]="productForm"
                  [fieldName]="'abv'"
                  >
                  ABV
                </app-value-fields>

            </div>

            <div *ngIf="itemType && itemType.useType && (itemType.type?.toLowerCase() === 'grocery' ||
                                                         itemType.type?.toLowerCase() === 'tobacco' ||
                                                         itemType.type?.toLowerCase() === 'restaurant')">

              <!-- <food-product-edit [inputForm]="productForm"></food-product-edit> -->
           

              <app-value-fields
                [inputForm]="productForm"
                [fieldName]="'countryOfOrigin'">
                Country Of Origin
              </app-value-fields>

              <div  class="mat-toggle">
                <mat-slide-toggle
                    name="glutenFree"
                    class="mat-label"
                    formControlName="glutenFree">
                  <mat-label class="mat-label">Gluten Free</mat-label>
                </mat-slide-toggle>
              </div>

            </div>

            <div *ngIf="itemType && itemType.name && ( itemType.type?.toLowerCase() === 'discounts' )">
              <div class="header">
                <mat-icon>coupon</mat-icon>
              </div>
              <app-value-fields
                    [inputForm]="productForm"
                    [fieldName]="'style'">
                    Value
              </app-value-fields>
              <app-value-fields
                  [inputForm]="productForm"
                  [fieldName]="'productCount'"
                >
                  Count
              </app-value-fields>
            </div>

            <div *ngIf="itemType && itemType.type">
              <prompt-group-select
                 [inputForm]="productForm"
              ></prompt-group-select>
            </div>

            <div *ngIf="itemType && itemType.type &&  (itemType.type?.toLowerCase() === 'retail' )">
              <retail-product-edit 
                [inputForm]="productForm">
              </retail-product-edit>
              <app-value-fields
                [inputForm]="productForm"
                [fieldName]="'countryOfOrigin'"
                >
                Country Of Origin
              </app-value-fields>
            </div>

            <div *ngIf="itemType && itemType.type &&  (itemType.type?.toLowerCase() === 'modifier' )">

            </div>

            <div *ngIf="itemType && itemType.type &&  (itemType.type?.toLowerCase() === 'grouping' )">

            </div>

            <div  *ngIf="itemType && itemType.type &&
                          (itemType.type?.toLowerCase() === 'cannabis' ||
                          itemType.type?.toLowerCase() === 'med-cannabis')">
              <cannabis-item-edit [inputForm]="productForm"></cannabis-item-edit>
            </div>

            <div *ngIf="itemType && itemType.useType &&  (
                        itemType.useType?.toLowerCase() == 'product'
                  )">

              <app-value-fields
                [inputForm]="productForm"
                [fieldName]="'gramCount'"
              >
                Per Unit Quantity
              </app-value-fields>
              <app-value-fields
                [inputForm]="productForm"
                [fieldName]="'productCount'"
              >
                Count
              </app-value-fields>

              <app-value-fields
                  [inputForm]="productForm"
                  [fieldName]="'reOrderAmount'"
                >
                  Re-Order Amount
                </app-value-fields>

            <app-value-fields
                [inputForm]="productForm"
                [fieldName]="'reOrderLevel'"
              >
                Re Order Level
              </app-value-fields>


            </div>

          </div>

      </div>

    </div>
  </mat-card>
</div>
