<mat-card>

  <mat-card-subtitle>
    Change Password
  </mat-card-subtitle>

  <mat-card-content>

    <div  [formGroup]="inputForm">
      <mat-form-field appearance="outline">
        <mat-label >Password</mat-label>
        <input matInput
              type="password"
              formControlName="apiPassword"
              class="form-control" >
      </mat-form-field>
    </div>

    <div [formGroup]="confirmPassword"
        *ngIf="confirmPassword && inputForm && inputForm.controls['apiPassword'].value">
        <div>
          <mat-form-field appearance="outline">
            <mat-label >Confirm Password</mat-label>
            <input matInput
                    type="password"
                    formControlName="confirmPassword"
                    class="form-control" >
          </mat-form-field>
        </div>
    </div>

    <mat-label *ngIf="(clientForm && confirmPassword)  &&
                (inputForm.controls['apiPassword'].value!= '' &&
                confirmPassword.controls['confirmPassword'].value != '')
                && inputForm.controls['apiPassword'].value != confirmPassword.controls['confirmPassword'].value">
                Passwords do not match
    </mat-label>

    <mat-label *ngIf="(inputForm && confirmPassword) &&
                (inputForm.controls['apiPassword'].value != '' &&
                confirmPassword.controls['confirmPassword'].value != '')
                && inputForm.controls['apiPassword'].value == confirmPassword.controls['confirmPassword'].value">

      <button  mat-raised-button (click)="saveClient()"><mat-icon>save</mat-icon>Save</button>

    </mat-label>
  </mat-card-content>
</mat-card>




