<mat-card class="mat-card-view">
  <mat-card-content>
    <div class="ps-item-margin">
      <button mat-button (click)="resetSearch()">Reset <mat-icon>refresh</mat-icon></button>
    </div>

    <div class="keypad">
      <div>
        <ng-container [ngTemplateOutlet]="fields"></ng-container>
      </div>
    </div>

    <ng-template #fields>
      <div class="grid-items">
        <app-value-fields
              [inputForm]="searchForm"
              [fieldName]="'cardNum'" >
          Card Num
        </app-value-fields>
        <app-value-fields
              [inputForm]="searchForm"
              [fieldName]="'amount'" >
          Amount
        </app-value-fields>
      </div>
      <div class="grid-items">
        <app-value-fields
              [inputForm]="searchForm"
              [fieldName]="'authNo'" >
          Auth
        </app-value-fields>
        <app-value-fields
              [inputForm]="searchForm"
              [fieldName]="'invoiceNo'" >
          Invoice NO
        </app-value-fields>
      </div>
    </ng-template>

    <div class="fields">
      <mat-date-range
          (outputDateRange)="refreshDateRange($event)"
          [hideRefresh] ="true"
          [buttonViewEnabled] ="true"
          [inputForm] ="dateRangeForm">
      </mat-date-range>
    </div>

    <mat-button-toggle-group
          name        ="toggleOpenClosedAll"
          class       ="toggle-view"
          [(ngModel)] ="toggleOpenClosedAll"
          (change)    ="refreshToggleAllClosedOpen()" >
      <mat-button-toggle class="toggle-min" value="0"> All</mat-button-toggle>
      <mat-button-toggle class="toggle-min" value="2"> Pre-Auth</mat-button-toggle>
      <mat-button-toggle class="toggle-min" value="1" >{{0 | currency}} Tip </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group
        name="toggleTypeEmployee"
        class="toggle-view"
        [(ngModel)]="toggleIsCashCredit"
        (change)    ="refreshToggleCashCredit()"
      >
      <mat-button-toggle value="1"
      > <mat-icon>attach_money</mat-icon> </mat-button-toggle>
      <mat-button-toggle value="2"
                           >
        <mat-icon>credit_card</mat-icon> </mat-button-toggle>
      <mat-button-toggle value="0"
                     >All</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group
          name="toggleTypeEmployee"
          class="toggle-view"
          [(ngModel)]="toggleTypeEmployee"
        >
    <mat-button-toggle value="0"

     > <mat-icon>payments</mat-icon> </mat-button-toggle>
    <mat-button-toggle value="1"

       > <mat-icon>receipt</mat-icon> </mat-button-toggle>
    <mat-button-toggle value="2"

        > <mat-icon>badge</mat-icon> </mat-button-toggle>
    </mat-button-toggle-group>


    <div [hidden]="toggleTypeEmployee  != '2' "
         class="toggle-selector-employee">
      <div *ngIf="isStaff"
         [hidden]="toggleTypeEmployee  === '0' && searchModel"
         #selectorEmpDiv
         class="toggle-selector">

        <h4>Employees</h4>
        <button mat-raised-button (click)="listEmployees(1)">Active</button>
        <button mat-raised-button (click)="listEmployees(2)">On Clock</button>
        <button mat-raised-button (click)="listEmployees(3)">Terminated</button><br>

        <h5 *ngIf="searchModel?.employeeID"><mat-icon>search</mat-icon> {{searchModel.employeeName }}</h5>
        <button mat-raised-button (click)="clearEmployee()"><mat-icon>close</mat-icon></button>
        <div *ngIf="employees$ | async"></div>
      </div>
    </div>

    <div [hidden]="toggleTypeEmployee != '1'"
         class="toggle-selector">
      <app-mat-toggle-selector
            *ngIf="searchModel"
            [styleHeight]="'calc(65vh - 150px)'"
            [id]="searchModel.serviceTypeID"
            [list$]="serviceTypes$"
            (outPutID)="setServiceType($event)">
            Sale Type
      </app-mat-toggle-selector>
    </div>

    <div [hidden]="toggleTypeEmployee != '0'"
          class="toggle-selector">
      <app-mat-toggle-selector
            *ngIf="searchModel"
            [styleHeight]="'calc(65vh - 150px)'"
            [id]="searchModel.paymentMethodID"
            [list$]="paymentMethod$"
            (outPutID)="setPaymentMethod($event)">
            Payment Method
      </app-mat-toggle-selector>
    </div>

    <div *ngIf="electronEnabled || printingEnabled">
      <div [formGroup]="printForm">
        <mat-form-field appearance="outline">
          <mat-label >Print Quantity</mat-label>
          <input matInput
                  type="number"
                  [(ngModel)] = "printQuantity"
                  formControlName="printQuantity"
                  class="form-control" >
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="electronEnabled || printingEnabled || capacitorEnabled">
      <div class="grid-container">
        <button class="info-buttons"
                mat-raised-button color="primary" >
          <mat-icon>print</mat-icon>
        </button>
      </div>
    </div>

  </mat-card-content>
</mat-card>

<ng-template #loading >
  <mat-spinner></mat-spinner>
</ng-template>

