<div  class="grid-container">
  <div  [formGroup]="searchForm"
        class="grid-item" >
    <mat-form-field appearance="outline" class="form-fields">
        <mat-label >Search Items</mat-label>
          <input
                  #input
                  matInput
                  type           ="text"
                  id             ="name"
                  formControlName="itemName">
    </mat-form-field>
  </div>

  <div class="grid-item">
    <button mat-button
      class="assign-button"
      (click)="listAll()"> <mat-icon>list</mat-icon>List All</button>
  </div>

  <div class="grid-item">
    <button mat-button
      class="assign-button"
      (click)="addNew()"> <mat-icon>add</mat-icon>
      Add </button>
  </div>

</div>

<mat-divider></mat-divider>

<div class="grid-list">
  <div>

    <div *ngIf="value" class="loader">
      <mat-progress-bar mode="determinate" [value]="value"></mat-progress-bar>
    </div>

    <ag-grid-angular
          #agGrid
          [style]              ="gridDimensions"
          id                   ="myGrid"
          [class]              ="agtheme"
          [columnDefs]         ="columnDefs"
          [defaultColDef]      ="defaultColDef"
          [gridOptions]        ="gridOptions"
          [rowSelection]       ="rowSelection"
          [frameworkComponents]="frameworkComponents"
          (selectionChanged)   ="onSelectionChanged($event)"
          (gridReady)          ="onGridReady($event)">

    </ag-grid-angular>
  </div>

  <div *ngIf="prompt">
    <prompt-selected-items>
    </prompt-selected-items>
  </div>
</div>

<div style="flex-grow:0">
  <span id="selectedRows"> </span>
</div>
