
<div  *ngIf="inputForm"
      [formGroup]="inputForm">

  <mat-card>
    <mat-card-subtitle>
      <h4>Email Settings</h4>
      <mat-label>To use smtp emailing simply fill out the email address section below. Configure your SMTP email in the webconfig.</mat-label>
      <h4><mat-icon>attention</mat-icon>Sendgrid requirements.</h4>
      <mat-label>Tempate based emailing requires <a href='https://sendgrid.com'>SendGrid</a> account and key applied in the configuration.</mat-label>
      <mat-label>The following fields are the template id's for send grid dynamic templates. They are retrieved from your send grid account</mat-label>
      <mat-label>The outgoing email accouunt for customer service must be set up in
                <a href='https://sendgrid.com'>SendGrid</a> and authorized to use the template API's</mat-label>
    </mat-card-subtitle>

    <mat-card-content>
      <div><button mat-raised-button color="primary"
                  (click)="showSendGridOptions = !showSendGridOptions">
                  <mat-icon>settings</mat-icon>
          Send Grid Options</button></div>
      <div *ngIf="showSendGridOptions">
        <h4>Send Grid Templates</h4>
        <div class="flex-grid" >

            <div class="grid-item">
              <app-value-fields
                  [fieldType]     ="'text'"
                  [inputForm]     ="inputForm"
                  [fieldName]     ="'sendGridOrderTemplate'">
                  Order Template
              </app-value-fields>
            </div>
            <div class="grid-item">
              <app-value-fields
                  [fieldType]     ="'text'"
                  [inputForm]     ="inputForm"
                  [fieldName]     ="'sendGridSalesReportTemplate'">
                  Sales Report
              </app-value-fields>
            </div>
            <div class="grid-item">
              <app-value-fields
                  [fieldType]     ="'text'"
                  [inputForm]     ="inputForm"
                  [fieldName]     ="'sendGridBalanceSheetTemplate'">
                Balance Sheet
              </app-value-fields>
            </div>
            <div class="grid-item">
              <app-value-fields
                  [fieldType]     ="'text'"
                  [inputForm]     ="inputForm"
                  [fieldName]     ="'sendGridPasswordResetTemplate'">
                  Password Reset
              </app-value-fields>
            </div>
            <div class="grid-item">
              <app-value-fields
                  [fieldType]     ="'text'"
                  [inputForm]     ="inputForm"
                  [fieldName]     ="'sendGridNotificationTemplate'">
                  Notification
              </app-value-fields>
            </div>
            <div class="grid-item">
              <app-value-fields
                  [fieldType]     ="'text'"
                  [inputForm]     ="inputForm"
                  [fieldName]     ="'sendGridOrderReadyNotificationTemplate'">
                  Notification
              </app-value-fields>
            </div>

        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <div *ngIf="showSendGridOptions">
          <button mat-raised-button
                  color="primary"
                  (click)="sendTestEmail()"><mat-icon>email</mat-icon>Send Grid Test</button>
      </div>
    </mat-card-actions>

  </mat-card>

   <mat-card>
    <mat-card-subtitle>
      Email addresses for Administration, Customer Service, and Management. Used by SMPT and Sendgrid.

    </mat-card-subtitle>

    <mat-card-content>

      <div class="grid-items" >
        <div class="">
          <mat-label>To receive emails to a manager, owner etc, add emails with commas separating them.</mat-label>
          <div class="grid-item">
            <app-value-fields
                [fieldType]     ="'text'"
                [inputForm]     ="inputForm"
                [fieldName]     ="'administratorEmail'">
               Administrator Email
            </app-value-fields>
          </div>
          <div class="grid-item">
            <mat-label>Customer Service Emails.</mat-label>
            <app-value-fields
                [fieldType]     ="'text'"
                [inputForm]     ="inputForm"
                [fieldName]     ="'outGoingCustomerSupportEmail'">
                Customer Service Email
            </app-value-fields>
          </div>
          <div class="grid-item">
            <mat-label>To receive emails to a manager, owner etc, add emails with commas separating them.</mat-label>
            <app-value-fields
                [fieldType]     ="'text'"
                [inputForm]     ="inputForm"
                [fieldName]     ="'salesReportsEmail'">
               Manager Report Email
            </app-value-fields>
          </div>
        </div>
      </div>

      <div>
        <button mat-raised-button
                color="primary"
                (click)="sendSMTPTestEmail()"><mat-icon>email</mat-icon>SMTP Email Test</button>
      </div>
      <div>
        <button mat-raised-button
                color="primary"
                (click)="sendOrderTest()">
                <mat-icon>email</mat-icon>Send Current Active Order
        </button>
      </div>

      <div *ngIf="(testEmail$ | async) as item; else emailing">{{message | json}}</div>

      <ng-template #emailing>
        Waiting to Send.
      </ng-template>

    </mat-card-content>
  </mat-card>
</div>
