<div *ngIf="(saving$ | async) as saving"></div>
<div *ngIf="(action$ | async) as action"></div>
<div *ngIf="(processing$ | async) as action"></div>
<ng-template #saving>
  ...saving
</ng-template>

<mat-card *ngIf="(uisettings$ | async) as settings">
  <mat-card-title>
    <div class="header-container">
      <div><mat-icon>computer</mat-icon>
        <div *ngIf='!terminal  && inputForm'>
          New Terminal.
        </div>
        <div>
          <span *ngIf='terminal'>
            {{terminal.name}}
          </span>
        </div>
      </div>
      <div class="edit-buttons" >
        <app-edit-buttons-standard
        (outputeupdateItem)     ="saveSetting($event)"
        (outputupdateItemExit)  ="updateExit($event)"
        (outputupdatedeleteItem)="delete($event)"
        (outputupdateonCancel)  ="onCancel($event)"
        ></app-edit-buttons-standard>
      </div>
    </div>
  </mat-card-title>

  <mat-card-subtitle>

    <div *ngIf="inputForm && inputForm.controls?.name.invalid && (inputForm.controls?.name.dirty || inputForm.controls?.name.touched)">
      <div *ngIf="inputForm && inputForm.controls?.name.errors?.['required']">
        <mat-icon color="warn">warning</mat-icon>  Name is required.
      </div>
      <div *ngIf="inputForm && inputForm.controls?.name.errors?.['maxlength']">
        <mat-icon color="warn">warning</mat-icon>   Name must be 5 or less characters long.
      </div>

    </div>
    <mat-icon class="mat-label-info"
              color="accent"
              [matTooltip]="labelingService.terminalSettingsInfo[0].value">info</mat-icon>
    <button  mat-button (click)="createZPLFolderData()">Create Folder</button>
  </mat-card-subtitle>

  <mat-card-content>
    <div *ngIf="inputForm && terminal" [formGroup]="inputForm" >
      <div class='grid-container'>

        <div>
          <mat-form-field appearance="outline">
            <mat-label >Name assinged in Pointless</mat-label>
            <mat-label >Name </mat-label>
            <input matInput type="text"
                    formControlName="name"
                    class="form-control" >
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label >Physical Device Name</mat-label>
            <input matInput type="text"
                    formControlName="deviceName"
                    class="form-control" >
          </mat-form-field>
        </div>

        <div class="filterItem"
            *ngIf="medOrRecStoreList"  >
          <mat-form-field appearance="outline">
            <mat-label>Device Sales Type</mat-label>
            <mat-select
                        type             ="number"
                        formControlName  ="medicalRecSales"
                        name             ="medicalRecSales"
              >
              <mat-option value= "">Clear</mat-option>
              <mat-option *ngFor="let item of medOrRecStoreList"
                          [value]="item.id">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="toggle-fields">
          <mat-slide-toggle
                    formControlName="enabled">
            <mat-label>Enabled</mat-label>
          </mat-slide-toggle>
        </div>

        <div class="toggle-fields">
          <mat-slide-toggle
                    formControlName="enableScale">
            <mat-label>Enable Scale</mat-label>
          </mat-slide-toggle>
        </div>

        <div class="toggle-fields">
          <mat-slide-toggle
                    formControlName="enableExitLabel">
            <mat-label>Enable Exit Label</mat-label>
          </mat-slide-toggle>
        </div>

        <div class="toggle-fields">
          <mat-slide-toggle
                    formControlName="resetOrdersFilter">
            <mat-label>Reset Orders Filter Each Login</mat-label>
          </mat-slide-toggle>
        </div>

        <div class="toggle-fields">
          <mat-slide-toggle
                    formControlName="ignoreTimer">
            <mat-label>Ignore Timer for Auto Log Off</mat-label>
          </mat-slide-toggle>
        </div>

        <div class="toggle-fields">
          <mat-slide-toggle
                    formControlName="exitOrderOnFire">
            <mat-label>Exit Order on Fire Order</mat-label>
          </mat-slide-toggle>
        </div>

        <div class="toggle-fields">
          <mat-slide-toggle
                    formControlName="enablePrepView">
            <mat-label>Enable Prep View</mat-label>
          </mat-slide-toggle>
        </div>

        <div *ngIf="(serviceType$ | async) as list ">
          <mat-form-field style="width: 200px" class="fields"
              appearance="outline">
            <mat-label>Order Type Default</mat-label>
              <mat-select
                        type              = "number"
                        formControlName   = "defaultOrderTypeID" >
                <mat-option
                    *ngFor="let item of list"
                    [value]="item?.id">
                    {{item?.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>

      </div>

      <mat-divider></mat-divider>
      <mat-card>
        <mat-card-subtitle>
          <h4>Optimizations</h4>
        </mat-card-subtitle>
        <mat-card-content>
          <div class="toggle-fields">
            <mat-slide-toggle
                      formControlName="disableImages">
              <mat-label>Disable Images</mat-label>
            </mat-slide-toggle>
          </div>
          <div class="toggle-fields">
            <mat-slide-toggle
                      formControlName="disableMenuImages">
              <mat-label>Disable Menu Images</mat-label>
            </mat-slide-toggle>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-divider></mat-divider>
      <h2><mat-icon>printer</mat-icon>Optional Printer Settings</h2><br>
      <mat-label>Installed Windows App Only</mat-label><br>
      <mat-label>These settings will overide default assignments. You might want to have the same printer names assigned on each pos to setup things easier.</mat-label>
      <div class='grid-container'>

        <div>
          <mat-form-field appearance="outline">
            <mat-label >Receipt Printer Name</mat-label>
            <input matInput type="text"
                    formControlName="receiptPrinter"
                    class="form-control" >
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label >Label Printer</mat-label>
            <input matInput type="text"
                    formControlName="labelPrinter"
                    class="form-control" >
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label >Label Printer 2</mat-label>
            <input matInput type="text"
                    formControlName="labelPrinter2"
                    class="form-control" >
          </mat-form-field>
        </div>
       </div>

      <ng-container [ngTemplateOutlet]="printServer"></ng-container>

      <h2><mat-icon>credit_card</mat-icon>Payment Processing Settings</h2>

      <div class='grid-container'>

        <div *ngIf="uiSettings.dsiEMVNeteEpayEnabled">
          <mat-form-field appearance="outline">
            <mat-label>Netepay Secure Device</mat-label>
            <input matInput type="text"
                    formControlName="dSISecureDevice"
                    class="form-control" >
          </mat-form-field>
        </div>

        <!-- <div *ngIf="uiSettings.cardPointBoltEnabled">
          <mat-form-field appearance="outline">
            <mat-label >Cardpointe HSN</mat-label>
            <input matInput type="text"
                    formControlName="cardPointeHSN"
                    class="form-control" >
          </mat-form-field>
        </div> -->

        <div *ngIf="uiSettings.cardPointBoltEnabled">
            <div *ngIf="(cardPointTerminals$ | async) as terminals">
              <button mat-button (click)="setCardPointTermialsObservable()"><mat-icon>refresh</mat-icon></button>

              <mat-form-field style="width: 200px" class="fields"
                  appearance="outline">
                <mat-label>Cardpointe HSN</mat-label>
                  <mat-select
                            type              = "string"
                            formControlName   = "cardPointeHSN" >
                    <mat-option
                        *ngFor="let item of cardPointTerminals"
                        [value]="item">
                        {{item}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>

              <button mat-button (click)="pingTermialObservable()"><mat-icon>link</mat-icon> Ping </button>
              <span *ngIf="(pingCardPointTerminals$ | async) as result">
                  Connected {{result?.connected | json}}
              </span>
            </div>
        </div>

        <div *ngIf="uiSettings.triposEnabled">
          <mat-form-field appearance="outline">
            <mat-label>TriPOSLaneID</mat-label>
            <input matInput type="text"
                    formControlName="triposLaneID"
                    class="form-control" >
          </mat-form-field>
        </div>


        <div  *ngIf="uiSettings.triposEnabled">
          <mat-form-field  appearance="outline">
            <mat-label>TRIPOS Market Code</mat-label>
            <mat-select  type="number"
                          formControlName ="triPOSMarketCode"  >
                <span *ngIf="triPOSMarkets">
                  <mat-option
                        *ngFor="let item of triPOSMarkets"
                        [value]="item.id">
                    {{item.name}}
                  </mat-option>
                </span>
              </mat-select>
          </mat-form-field>
        </div>

      </div>

      <ng-template #androidPrintingTemplate>
        <ng-container [ngTemplateOutlet]="isAndroidPrintingTemplate"></ng-container>
        <mat-label *ngIf="terminal && terminal.btPrinter">{{terminal.btPrinter}}</mat-label>
        <mat-form-field appearance="outline">
          <mat-label>Bluetooth Devices</mat-label>
            <mat-select
                      type="text"
                      formControlName = "btPrinter"
                    >
            <div *ngIf="(btPrinters$ | async) as list">
                <mat-option *ngFor="let item of list"
                            [value]="item.address">
                {{ item.name }}
              </mat-option>
            </div>
          </mat-select>
        </mat-form-field>
      </ng-template>

      <div *ngIf="blueToothDeviceList && blueToothDeviceList.length>0 && uiSettings.dsiEMVAndroidEnabled">
        <h3><mat-icon>android</mat-icon>Android Secure Device</h3>
         <mat-label>This feature must be set from the device itself.</mat-label>
         <div>
           <mat-form-field   appearance="outline" >
             <mat-label>Bluetooth Device Name</mat-label>
             <mat-select  formControlName="bluetoothDeviceName" >
               <div *ngFor="let item of blueToothDeviceList">
                 <mat-option  [value]="item">
                   {{item}}
                 </mat-option>
               </div>
             </mat-select>
           </mat-form-field>
         </div>
      </div>

      <h2><mat-icon>grid_view</mat-icon>UI zoom </h2>

      <div *ngIf="uiSettings.triposEnabled">
        <mat-form-field appearance="outline">
          <mat-label>Zoom</mat-label>
          <input matInput type="text"
                  formControlName="electronZoom"
                  (onChange)="setZoomValue($event)"
                  class="form-control" >
        </mat-form-field>
      </div>
      <div>
        <mat-label>Installed Windows App Only</mat-label><br>
        <electron-zoom-control (valueEmit)="setZoomValue($event)" [zoomValue]="terminal.electronZoom"></electron-zoom-control>
      </div>
    </div>

    <ng-container [ngTemplateOutlet]="dsiEMVSettingsView"></ng-container>

    <mat-divider></mat-divider>

    <ng-container [ngTemplateOutlet]="triPOS"></ng-container>
  </mat-card-content>
</mat-card>

<ng-template #triPOS>
  <div *ngIf="inputForm && inputForm.controls['triposLaneID'].value">
    <app-tripos-settings [laneID]="inputForm && inputForm.controls['triposLaneID'].value"></app-tripos-settings>
   </div>
</ng-template>

<ng-template #printServer>
  <mat-card  *ngIf="inputForm" [formGroup]="inputForm">
    <mat-card-title>
      <mat-icon>server</mat-icon>Print Server
    </mat-card-title>
    <mat-card-subtitle>
      <ul>
        <li>
          This feature requires  it also be enabled from Settings - Transaction Settings.
        </li>
        <li>
          It will print all orders / labels required.
        </li>
        <li>
          The Windows App must be running assigned as this device. It's not recommended that this also be a regular terminal.
        </li>
      </ul>
    </mat-card-subtitle>
    <mat-card-content>
      <div>
        <mat-slide-toggle
            formControlName="printServerEnable">
          <mat-label>Print Server</mat-label>
        </mat-slide-toggle>
      </div>
      <div>
        <mat-label>Multiple of 1 Second</mat-label>
        <mat-form-field appearance="outline">
          <mat-label >Print Timer</mat-label>
          <input matInput type="number"
                  formControlName="printServerTime"
                  class="form-control" >
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="inputForm" [formGroup]="inputForm">
    <mat-card-title>
      <mat-icon>print</mat-icon>Remote Print
    </mat-card-title>
    <mat-card-subtitle>
      Enable this on devices that do not have a receipt printer.
    </mat-card-subtitle>
    <mat-card-content>
      <div>
        <mat-slide-toggle
            formControlName="remotePrint">
          <mat-label>Print To Server</mat-label>
        </mat-slide-toggle>
      </div>

      <div>
        <mat-slide-toggle
            formControlName="remotePrepPrint">
          <mat-label>Print Prep To Server</mat-label>
        </mat-slide-toggle>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label >Comma Delimited Printer List</mat-label>
          <input matInput type="text"
                  formControlName="remoteReceipt"
                  class="form-control" >
        </mat-form-field>
      </div>

    </mat-card-content>
  </mat-card>

</ng-template>

<ng-template #androidDCapButtonTemplate>
  <!-- <button mat-button-rasied (click)="getDcapAndroidDeviceList()"></button> -->
</ng-template>

<div *ngiIf="androidDisplay">
  Android Device Info:
  <ngx-json-viewer [json]="androidDisplay"></ngx-json-viewer>
</div>

<ng-template #dsiEMVSettingsView>
  <app-dc-direct-settings
    [isDSIEnabled]="isDSIEnabled"
    [dsiEMVSettings]="dsiEMVSettings"
    [inputForm]="dsiEMVSettings"
    [terminal]="terminal">
  </app-dc-direct-settings>
</ng-template>


