<button mat-raised-button (click)="toggleSort()">
  <mat-icon>sort_by_alpha</mat-icon>{{sort}}
</button>

<div *ngIf="(addItem$ | async) as item"></div>

<div *ngIf="bucket$ | async as bucket">
  <div   *ngIf="(menus$ | async) as menuItems"></div>
  <div   [class]="ordersListClass" *ngIf="menuItems">
    <div  *ngFor="let item of menuItems; let i = index">
      <ng-container
        [ngTemplateOutlet]="menuItemCard"
        [ngTemplateOutletContext]="{$implicit: item}">
      </ng-container>
    </div>
  </div>
</div>

<ng-template #menuItemCard let-item let-type="type">
  <app-menu-item-card
      *ngIf             ="item"
      [displayType]     ="type"
      [allowEdit]       ="userAuths?.editProduct"
      [allowBuy]        ="userAuths?.allowBuy"
      [id]              ="item?.id"
      [retail]          ="item?.retail"
      [name]            ="item?.name"
      [menuItem]        ="item"
      [bucketName]      ="bucketName"
      [class]           ="infiniteItemClass"
      [ignoreType]      ="true"
      [maxHeight]       ="'250px'"
      [isStaff]         ="isStaff"
      >
  </app-menu-item-card>
</ng-template>
