  <div *ngIf="inputForm"
       [formGroup]="inputForm"
       class="buttons-quantity">

    <div id="addItemToOrder">
      <button mat-raised-button class="button"
              color="primary"
              (click)="changeQuantity(1)">
      <mat-icon>exposure_plus_1</mat-icon></button>
    </div>

    <div class="quantity-input">
      <app-value-fields
              [fieldsClass]="'fields'"
              [fieldType]="'text'"
              [inputForm]="inputForm"
              [fieldName]="'quantity'">
      </app-value-fields>
    </div>

    <div id="addItemToOrder">
      <button mat-raised-button
              class="button"
              color="primary"
              (click)="changeQuantity(-1)" >
              <mat-icon>exposure_neg_1</mat-icon>
      </button>
    </div>
  </div>
