.quantity-input {
  width    : 55px;
  height   : 35px;
  font-size: medium;
  padding  : 0;
  margin   : 0;
  top      : -10px;
  position: relative;
}

.buttons-quantity {
  display         : flex;
  flex-direction  : row;
  justify-content : flex-start;
  align-content   : center;
  
}

.button {
  margin-left: 5px;
  margin-right: 5px;
  height: 50px;
  font-size: smaller;
}


mat-form-field-appearance-outline mat-form-field-wrapper {
  margin: 0;
}