<div  *ngIf="promptGroup">
  <!-- accordionStep {{accordionStep}} -->
  <mat-accordion
      class="example-headers-align"
      multi="false"   >
   
      <div *ngFor="let item of subGroups; let i = index">

        <prompt-panel-menu-items
              [subGroup]         ="item.promptSubGroups"
              [selectedSubGroup] ="item"
              [index]            ="i"   
              [accordionStep]    ="accordionStep"
              >
          </prompt-panel-menu-items>
      </div>
  </mat-accordion>
</div>

<!-- -->
