<div class="tip-button-grid" *ngIf="!customAmount">

  <div class="action-center" >
    <button class="tip-button"
            mat-raised-button
            (click)="customAmount = !customAmount">Custom</button>
</div>

  <div class="action-center" >
      <button class="tip-button"
              mat-raised-button
              (click)="specifiedTip(15)">Tip 15 %  {{ payment.amountPaid * (15/100) | currency }}</button>
  </div>

  <div class="action-center">
      <button  class="tip-button"  mat-raised-button (click)="specifiedTip(18)">Tip 18 %   {{ payment.amountPaid * (18/100) | currency }}</button>
  </div>

  <div class="action-center">
      <button  class="tip-button"  mat-raised-button (click)="specifiedTip(20)">Tip 20 %  {{ payment.amountPaid * (20/100) | currency  }}</button>
  </div>

  <div class="action-center">
    <button  class="tip-button"  mat-raised-button (click)="specifiedTip(20)">Tip 22 %  {{ payment.amountPaid * (22/100) | currency  }}</button>
  </div>

</div>


<div  *ngIf="(payment) && customAmount">
  <div class="action-center">
    <app-key-pad
        [showInput]           = "true"
        [inputForm]           = "inputForm"
        [inputTypeValue]      = "'decimal'"
        [inputDisabled]       = 'inputDisabled'
        [numberbuttons]       = "'number-buttons button-sized-2'"
        (outPutReturnEnter)   ="customTipAmount($event)">
        Enter tip amount.
    </app-key-pad>
  </div>
</div>


