
.background{
  background-color: white;
}

.back-ground-override {
  background-color: white;
  color: black;
}

.header-grid {
  --gap: 5px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
  margin: 3px;
}



.grid-items {
  display: grid;
  gap: 3px;
  grid-template-columns: 20px 55px 70px 50px 65px 55px;
  @media print {
    font-size: 12pt;
    font-weight: bold;
    display: grid;
    gap: 1px;
    grid-template-columns: 20px 55px 70px 50px 65px 55px;
  }
}

.item-value {
  justify-content: right;
  text-align: right;
  @media print {
    font-size: 12pt;
    font-weight: bold;
    justify-content: right;
    text-align: right;
  }
}

.grid-summary {
  display: grid;
  gap: 3px;
  grid-template-columns: 100px 100px;
  @media print {
    font-size: 12pt;
    font-weight: bold;
    display: grid;
    gap: 1px;
    grid-template-columns: 100px 100px;
  }
}

.balance-grid-summary {
  display: grid;
  grid-template-columns: 85px 75px;
  gap: 5px;
  @media print {
    display: grid;
    grid-template-columns: 80px 50px;
    font-size: 12pt;
    font-weight: bold ;
    gap: 2px;
  }
}

.balance-currency {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  max-width: 350px;
  @media print {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2px;
    max-width: 330px;
  }
}

.section-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.receipt-width-80 {
  width: 350px;
}

.receipt-width-58 {
  width: 305px;
}

.receipt-width-85 {
  width: 300px;
}


