
<div class="boundary" #myContainer>
  <div [class]="container">
    <div *ngIf="appUrl; else loading">
      <ion-app>
        <ng-container [ngTemplateOutlet]="isKeyBoardVisible"></ng-container> 
        <ng-container [ngTemplateOutlet]="splash"></ng-container>
        <ion-router-outlet></ion-router-outlet>
      </ion-app>
    </div>
  </div>
</div>

<ng-template #keyboardView>
  <!-- resize 
  (resize)="onResizeKeyboard($event)"   [style]="keyboardDimensions"-->
  <div  #keyboardRef
       class="example-box" 
       cdkDrag 
       [cdkDragFreeDragPosition]="keyboardPosition"
       (cdkDragEnded)="onDragEnd($event)" 
       >
    <app-keyboard-view></app-keyboard-view>
  </div>
</ng-template>
    
<ng-template #loading>....loading.</ng-template>

<ng-template #splash>
  <app-splash-loading></app-splash-loading>
</ng-template>

<!-- 
<div class="boundary">
  <div class="example-box" appFreeDragging>
    I can only be dragged using the handle
    <div class="example-handle" appFreeDraggingHandle>
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
        <path  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
        ></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
  </div>
</div> -->
