
<div *ngIf="inputForm">
  <div [formGroup]="inputForm">

    <mat-form-field
          [class]="fieldsClass"
          appearance="outline">

        <mat-label>
          <div #itemText>
             <ng-content></ng-content>
          </div>
          {{itemHeader | titlecase}}
        </mat-label>
        <div *ngIf="type === 'input' && passwordMask">
          <input matInput
                [disabled] ='!enabled'
                [class]="fieldsClass"
                appAppPasswordMask
                ngDefaultControl
                [type]="fieldType"
                [formControlName]="fieldName">
        </div>
        <div *ngIf="type === 'input' && !passwordMask">
          <input matInput
                [class]="fieldsClass"
                [type]="fieldType"
                ngDefaultControl
                [formControlName]="fieldName">
        </div>

    </mat-form-field>

  </div>

  <div [formGroup]="inputForm"
       *ngIf="type === 'toggle'">
    <mat-slide-toggle
        [name]="fieldName"
        [disabled] ='!enabled'
        class="mat-label"
        ngDefaultControl
        [formControlName]="fieldName">
    </mat-slide-toggle>
  </div>

</div>
