mat-form-field {
  width: 95%;
  padding: 0 ;
}

mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0em 0;
}
mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: .25em 0;
}

mat-form-field-wrapper {
  padding-bottom: 0; //1.34375em; */
}

mat-form-field-wrapper {
   padding-bottom: 0; //1.34375em; */
}

.fields {
  font-size: medium;
}

.fields-small .font-small .field-small {
  font-size: small;
}

.font-medium .fields-medium .field-medium {
font-size: small;
}

.fontsmallest {
  font-size: 10px;
}

.font-smaller {
  font-size: smaller;
}

