<div *ngIf="inputForm && !searchingEnabled">

  <!-- <ng-container [ngTemplateOutlet]="passwordMask"></ng-container> -->
  <ng-container [ngTemplateOutlet]="fieldTypeValue"></ng-container>
  <ng-container [ngTemplateOutlet]="fieldDescriptionView"></ng-container>
  <ng-container [ngTemplateOutlet]="toggleView"></ng-container>

</div>

<ng-template #fieldDescriptionView>
  <div   *ngIf="!enabled">
    <h3 class="flex-grid-column-nogap">
      <ng-content select='[description]'></ng-content>
       {{inputForm.controls[fieldName].value}}
    </h3>
  </div>
</ng-template>

<ng-template #toggleField>
  <div [formGroup]="inputForm && !searchingEnabled"
       *ngIf="type === 'toggle'">
    <mat-slide-toggle
        [disabled] ='!enabled'
        class="mat-label"
        ngDefaultControl
        [formControlName]="fieldName">
    </mat-slide-toggle>
  </div>
</ng-template>

<ng-template #passwordField>
  <div [formGroup]="inputForm">
    <mat-form-field
          *ngIf="enabled"
          [class]="fieldsClass"
          appearance="outline">
        <mat-label>
          <ng-content></ng-content>
          {{itemHeader | titlecase}}
        </mat-label>
        <div *ngIf="type === 'input' && passwordMask">
          <input matInput
                [disabled] ='!enabled'
                [class]="fieldsClass"
                appAppPasswordMask
                ngDefaultControl
                [name]="fieldName"
                [placeholder]="fieldName"
                [type]="fieldType"
                [formControlName]="fieldName">
        </div>
    </mat-form-field>
  </div>
</ng-template>

<ng-template #regularField>
  <div *ngIf="inputForm" [formGroup]="inputForm">
    <mat-form-field
          *ngIf="enabled"
          [class]="fieldsClass"
          appearance="outline">
        <mat-label>
          <ng-content></ng-content>
          {{itemHeader | titlecase}}
        </mat-label>
        <div *ngIf="type === 'input' && !passwordMask">
          <input matInput
                [class]="fieldsClass"
                [disabled] ='!enabled'
                [type]="fieldType"
                [placeholder]="fieldName"
                [name]="fieldName"
                ngDefaultControl
                [formControlName]="fieldName">
        </div>
    </mat-form-field>
  </div>
</ng-template>
