mat-form-field {
  // font-size: medium;
  width: 95%;
  padding: 0 !important;
}

.fields {
  font-size: medium;
}

.fields-small .font-small .field-small {
  font-size: small;
}

.font-medium .fields-medium .field-medium {
  font-size: small;
}

.fontsmallest {
  font-size: 10px;
}
