<div *ngIf="inputForm">
  <div [formGroup]="inputForm">
    <mat-form-field
          [class]="fieldsClass"
          appearance="outline">
      <mat-label><ng-content></ng-content></mat-label>
        <div *ngIf="passwordMask">
          <input matInput
                [class]="fieldsClass"
                appAppPasswordMask
                [type]="fieldType"
                [formControlName]="fieldName">
        </div>
        <div *ngIf="!passwordMask">
          <input matInput
                [type]="fieldType"
                [formControlName]="fieldName">
        </div>
    </mat-form-field>
  </div>
</div>
