
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

button {
  margin: 3px 3px 3px 3px;
  height: 2.5em;
}

.spinner {
  // float: left;
  margin-top: 5px;
  margin-right: 5px;
  height:25px;
  width: 25px;
}

.settings {
  width: 100%;
  float: left;
  margin-top: 10px;
}

.header {
  font-size: 1.2em;
  font-weight: 500;
  margin-left: 2px;
  line-height: 1.2em;

  vertical-align: bottom;
  float: left;
}

.results {
  margin: 5px 5px 5px 5px;
}

// mat-icon {
//   line-height: 1.2em;
//   vertical-align: bottom;
// }

.roleDescription {
  font-size:      .8em;
  font-weight:    500;
  margin-left:    2px;
  // float:          left;
  vertical-align: bottom;
  margin-left:    15px;
  display: inline-block;
  vertical-align: middle;
}

// mat-form-field {
//   font-size: .8em;
//   margin: 5px 5px 5px 5px;
// }

// mat-raised-button, button {
//   margin: 3px 3px 3px 3px
// }

.grid-views {

  --gap: 5px;
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 5px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  overflow-y: visible;

}

.flex-input {
  display: flex;

}
