<div *ngIf=" (action$| async) as action" ></div>

<div *ngIf="processingVisible">
  <mat-spinner [diameter]="25" class="spinner"></mat-spinner>
</div>

<div>

  <button mat-raised-button color="primary" (click)="manageData = !manageData" >Manage Data</button>

  <div *ngIf="manageData">
    <button mat-raised-button
        color="primary"
        (click)="updateSchema()">
        Update Schema
    </button>

    <button mat-raised-button
        color="primary"
        (click)="cleanData()">
      Clean Data
    </button>

    <div>
      <mat-card>
        <mat-card-title>
          Operations
        </mat-card-title>

        <button mat-raised-button color="primary"(click)="initNewZID()">
          <mat-icon>list</mat-icon>New ZRunID
        </button>

        <button mat-raised-button color="primary"(click)="closeByDate()">
          <mat-icon>calendar</mat-icon>Close By Date
        </button>

        <div [formGroup]="closeDateForm">
          <mat-form-field style="width:135px;" class="flex-input" appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput formControlName="date" matInput [matDatepicker]="picker">

            <mat-datepicker-toggle  matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-card>
    </div>
  </div>

  <div *ngIf=" (apiVersion$ | async) as version ">
    <h4 >API Version: {{version}}</h4>
  </div>
  <h4>API Database Release: <span *ngIf="(version$ | async) as version">{{version.option1}}</span></h4>
</div>

<div class="results">

  <div *ngIf="schema$">
    <div class="grid-container">
        <div #allTheseThings
            *ngFor="let item of schema$ | async; let last = last"
            class="grid-container">
            <div *ngIf="item.errorHappened">
              {{item.name}}  {{item.result}}
            </div>
          </div>
        </div>
      <div>
      <br>
      {{databaseMessage}}
      {{schemaResults  | json }}
    </div>
  </div>

    <mat-divider></mat-divider>

  <app-cache-settings></app-cache-settings>

  <mat-divider></mat-divider>
  <h4><mat-icon>import_export</mat-icon>Import / Export</h4>
  <div class="grid-views">
    <div>
      <app-csv-import></app-csv-import>
    </div>
    <div>
      <app-export-data></app-export-data>
    </div>
  </div>

</div>

