<div *ngIf="processingVisible">
  <mat-spinner [diameter]="25" class="spinner"></mat-spinner>
</div>

<div>

  <button mat-raised-button
          color="primary"
          (click)="updateSchema()">
          Update Schema
  </button>

  <div *ngIf=" (apiVersion$ | async) as version ">
    <h4 >API Version: {{version}}</h4>
  </div>
  <h4>API Database Release: <span *ngIf="(version$ | async) as version">{{version.option1}}</span></h4>


</div>


<div class="results">

  <div *ngIf="schema$">
    <div class="grid-container">
        <div #allTheseThings
            *ngFor="let item of schema$ | async; let last = last"
            class="grid-container">
            <div *ngIf="item.errorHappened">
              {{item.name}}  {{item.result}}
            </div>
          </div>
        </div>
      <div>
      <br>
      {{databaseMessage}}
      {{schemaResults  | json }}
    </div>
  </div>

    <mat-divider></mat-divider>

  <app-cache-settings></app-cache-settings>

  <mat-divider></mat-divider>
  <h4><mat-icon>import_export</mat-icon>Import / Export</h4>
  <div class="grid-views">
    <div>
      <app-csv-import></app-csv-import>
    </div>
    <div>
      <app-export-data></app-export-data>
    </div>
  </div>

</div>

