<div *ngIf="(serviceType$ | async) as item"></div>
<div *ngIf="(action$ | async) as item"></div>
<div *ngIf="(printAction$ | async) as item"></div>
<div *ngIf="(printLabels$ | async) as items"></div>
<div *ngIf="(deleteOrder$ | async) as items"></div>
<div *ngIf="(posDevice$ | async) as posDevice"></div>
<div *ngIf="(uiTransactionSetting$| async) as transactionUI"></div>

<div  *ngIf="order && uiTransactionSettings" class="container">
  <div [class]="orderlayout">
    <div>
      <div>

        <div  [class]="gridheaderitem"
              (resized)="onResizedorderHeightPanel($event)">

          <div>
            <pos-order-transaction-data
                [uiTransactionSettings]="uiTransactionSettings"
                [purchaseOrderEnabled]="purchaseOrderEnabled"
                [mainPanel]="mainPanel"
                [order]="order">

              <div image>
                <ng-container *ngTemplateOutlet="isLastImageDisplayOn"></ng-container>
              </div>

            </pos-order-transaction-data>
          </div>

          <div *ngIf="uiTransactionSettings.showNumberPad && isStaff"
                style="margin-top:15px;margin-bottom:5px">
            <div *ngIf="orderMethodsService.quantityValue$ | async as value">
              <div *ngIf="quantityEntryValue as value">
                <app-key-pad [requireWholeNumber]= "false"
                             (outPutValue)="setKeyPadValue($event)"
                             [value]  ="value"
                             [placeHolder]="'Quantity'"
                             (outPutFocus)="setScannerFocus($event)"
                             [disableFocus] = "true"
                            [_value] = "orderMethodsService._quantityValue">
                </app-key-pad>
              </div>
            </div>
          </div>

          <span  #coachingstoreCredit>
            <div *ngIf="order?.clientID">
              <store-credit-info
                [clientID]     = "order?.clientID"
                [showPayment]  = "false"
                [showBalance]  = 'false'
                [accountNumber]="order?.clients_POSOrders?.accountNumber"
                [userName]     ="order?.clients_POSOrders?.userName"
              ></store-credit-info>
            </div>
          </span>
        </div>

        <div  [class]="gridheaderitem"
              style="margin-top:25px"
              *ngIf="enableLimitsView  && (wideBar || mainPanel)"
              (resized)="onResizedorderLimitsPanel($event)">
          <limit-values-progress-bars
              [order]="order">
          </limit-values-progress-bars>
        </div>

        <div    #coachingCustomerInfo (resized)="onResizedorderCustomerPanel($event)"
                [class]="gridheaderitem"
                *ngIf="((wideBar || mainPanel) || (phoneDevice && !isUser)) &&
                    !isUser">
          <app-order-header-demo-graphics
            [canRemoveClient]     ="canRemoveClient"
            [order]               ="order"
            [mainPanel]           ="mainPanel"
            (outPutOpenClient)    ="openClient()"
            (outPutRemoveClient)  ="removeClient()"
            (outPutAssignCustomer)="assignCustomer($event)" >
          </app-order-header-demo-graphics>
        </div>

        <div  (resized)="onResizedorderSpecialsPanel($event)" >
          <pos-order-price-schedule-info
            (outPutDiscount)="applyDiscount($event)">
          </pos-order-price-schedule-info>
          <app-rewards-availible></app-rewards-availible>
        </div>

      </div>

      <!-- height is fixed -->
      <div class="buttons-container">
        <div *ngIf="mainPanel">
          <span #coachingchangeType></span>
          <span #coachingexitButton></span>
          <span #coachingSuspend></span>
          <span #coachingAdjustment></span>
          <span #coachingListView></span>

          <pos-order-function-buttons
                (outPutSendToPrep)    ="sendToPrep()"
                (outPutPrintLabel)    ="printLabels(true)"
                (outPutRePrintLabel)  ="rePrintLabels()"
                (outPutPrintReceipt)  ="printReceipt()"
                (outPutMakePayment)   ="makePayment()"
                (outPutShowItems)     ="showItems()"
                (outPutVoidOrder)     ="voidOrder()"
                (outPutSuspendOrder)  ="suspendOrder()"
                (outPutRemoveSuspension)="removeSuspension()"
                (outPutClearOrder)    ="clearOrder($event)"
                (outPutDeleteOrder)   ="deleteOrder($event)"
                (outPutEmailOrder)    = 'emailOrder($event)'
                (outPutRemoveDiscount)='removeDiscount($event)'
                (outPutRefundItem)    ='refundItem($event)'
                (outPutRefundOrder)   ='refundOrder($event)'
                (outPutPurchaseOrder) ="makeManifest($event)"
                (outPutchangeTransactionType) ="changeTransactionType($event)"
                (outPutListView)      ="toggleListView($event)"
                [prepOrderOnClose]    ="prepOrderOnClose"
                [itemsPrinted]        ="itemsPrinted"
                [paymentsMade]        ="paymentsMade"
                [isAuthorized]        ="isAuthorized"
                [isUser]              ="isUser"
                [isStaff]             ='isStaff'
                [openBar]             ="openBar"
                [mainPanel]           ="mainPanel"
                [order]               ="order"
                [purchasOrderEnabled] ="userAuthorization.isManagement && purchaseOrderEnabled"
                [emailOption]         ="emailOption"
                [ssmsOption]          ="ssmsOption"
                [refundItemEnabled]   ="refundItemsAvalible"
                [devicename]          ="devicename"
                [smallDevice]         ='smallDevice'
          ></pos-order-function-buttons>
        </div>

        <mat-divider></mat-divider>

        <div >
          <div *ngIf="mainPanel && uiTransactionSettings"
                class="payment-buttons-container">
              <ng-container [ngTemplateOutlet]="receiveOrderView"></ng-container>
              <ng-container [ngTemplateOutlet]="stripePayButtonView"></ng-container>
              <ng-container [ngTemplateOutlet]="dsiButtonView"></ng-container>
              <ng-container [ngTemplateOutlet]="dsiEMVAndroidCardButtonView"></ng-container>
              <ng-container [ngTemplateOutlet]="cardPointButtonView"></ng-container>
              <ng-container [ngTemplateOutlet]="giftCardButtonView"></ng-container>
              <ng-container [ngTemplateOutlet]="houseAccountButtonView"></ng-container>
              <ng-container [ngTemplateOutlet]="wicEBTButtonView"></ng-container>
              <ng-container [ngTemplateOutlet]="triPOSPaymentButtonView"></ng-container>
              <ng-container [ngTemplateOutlet]="payButton"></ng-container>
              <ng-container [ngTemplateOutlet]="cashPayCustom"></ng-container>
              <ng-container [ngTemplateOutlet]="cashPayButtons"></ng-container>
              <ng-container [ngTemplateOutlet]="cashPay5"></ng-container>
              <ng-container [ngTemplateOutlet]="cashPay10"></ng-container>
              <ng-container [ngTemplateOutlet]="cashPay20"></ng-container>
              <ng-container [ngTemplateOutlet]="cashPay50"></ng-container>
              <ng-container [ngTemplateOutlet]="cashPay100"></ng-container>
              <ng-container [ngTemplateOutlet]="roundOrderView"></ng-container>
              <ng-container [ngTemplateOutlet]="closeOrderButton"></ng-container>
          </div>
        </div>

        <div *ngIf="!mainPanel && uiTransactionSettings"
              class="payment-buttons-container">
          <ng-container [ngTemplateOutlet]="closeOrderButton"></ng-container>
        </div>

        <div *ngIf="!mainPanel && !uiTransactionSettings?.displayEditCardOnHeader">
          <ng-container [ngTemplateOutlet]="editCartButtons"></ng-container>
        </div>

        <ng-container [ngTemplateOutlet]="helpButton"></ng-container>

        <div class="grid-po-helper" #coachingpurchaseOrderView>
          <ng-container [ngTemplateOutlet]="poItemvaluesView"></ng-container>
          <ng-container [ngTemplateOutlet]="purchaseOrderItemView"></ng-container>
          <ng-container [ngTemplateOutlet]="purchaseItemHistoryView"></ng-container>
          <ng-container [ngTemplateOutlet]="importPurchaseOrderView"></ng-container>
        </div>
        <div class="grid-po-helper" >
          <ng-container [ngTemplateOutlet]="reconcileView"> </ng-container>
        </div>
      </div>

    </div>
    <div  [style.height]="orderItemsHeightStyle"
          class="order-items"
          *ngIf="(!smallDevice && mainPanel)
              || (!mainPanel && smallDevice)
              || (!mainPanel && !smallDevice)">
      <ng-container [ngTemplateOutlet]="getListViewType"></ng-container>
    </div>
</div>

<ng-template #receiveOrderView>
  <div *ngIf=" (order?.service?.filterType == -1 || order?.service?.filterType == 1) ">
    <button mat-raised-button class="payment-buttons" color="accent" (click)="receiveOrder()">
      <mat-icon>download</mat-icon>
      <br>Receive Items
    </button>
  </div>
</ng-template>


<ng-template #itemViewType>
  <pos-order-items
    [purchaseOrderEnabled]="purchaseOrderEnabled"
    [mainPanel]           ="mainPanel"
    [panelHeight]         ="orderItemsHeightStyle"
    [enableExitLabel]     ="enableExitLabel"
    [userAuths]           ='userAuths'
    [order]               ="order">
  </pos-order-items>
</ng-template>

<ng-template #listViewType>
  <ng-container [ngTemplateOutlet]="newItemEntryView"></ng-container>
  <pos-order-item-list
    [filteredList]="filteredList"
    [userAuths] ='userAuths'
  ></pos-order-item-list>
</ng-template>


<ng-template #casePriceSelector>
  <div *ngIf="isStaff && (product$ | async ) as product">
    <div *ngIf="product && product.caseQty > 0 && product.caseRetail > 0">
      <button style="margin-top:5px;" mat-raised-button color="warn"
              class="buttons payment-buttons"
              (click)="roundOrderComplete()">
        Apply Case Price / QTY {{product.caseRetail}}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #editCartButtons>
  <pos-check-out-buttons
    [order]="order"
    [phoneDevice]="phoneDevice"
    [smallDevice]="smallDevice"
    [isStaff]="isStaff"
    [deviceWidthPercentage]="deviceWidthPercentage"
    [uiSettings]="uiSettings"
    [mainPanel]="mainPanel">
  </pos-check-out-buttons>
</ng-template>


<ng-template #roundOrder>
  <button style="margin-top:5px;" mat-raised-button color="warn"
          class="buttons payment-buttons"
          (click)="roundOrderComplete()">
    Round To $
  </button>
</ng-template>

<ng-template #closeOrderButton>
  <div  *ngIf="(!isUser && paymentsEqualTotal && !order.completionDate) ||
               (order?.service?.filterType == 1  &&  order?.service?.filterType == 2)">
    <button mat-raised-button color="warn"  (click)="closeOrder()">
      <mat-icon >close</mat-icon>Close</button>
  </div>
</ng-template>

<ng-template #cardPointeButton>
  <div *ngIf="isApp && order?.balanceRemaining != 0 && (order.serviceType.toLowerCase() != 'purchase order')">
    <span style="margin-top:5px">
      <card-pointe-card-pay-btn
        [order]="order"
        [devicename]="devicename"
        [uiTransactions]="uiTransactionSettings"
        [platForm]="platForm"
        [creditBalanceRemaining]="creditPaymentAmount"
        [paymentAmount]="order.balanceRemaining"
        (setStep) ="setStep(1)">
        <mat-icon>credit_card</mat-icon>
        <br>Credit / Debit
      </card-pointe-card-pay-btn>
    </span>
  </div>
</ng-template>

<ng-template #dsiEMVAndroidCardButton>
  <div *ngIf="isApp && order?.balanceRemaining != 0 && (order.serviceType.toLowerCase() != 'purchase order')">
    <dsiemvandroid-pay-btn
        [order]="order"
        [devicename]="devicename"
        [uiTransactions]="uiTransactionSettings"
        [platForm]="platForm"
        [creditBalanceRemaining]="creditPaymentAmount"
        [paymentAmount]="order.balanceRemaining"
        (setStep) ="setStep(1)">
        <mat-icon>credit_card</mat-icon>
        <br>Credit / Debit
    </dsiemvandroid-pay-btn>
  </div>
</ng-template>

<ng-template #disEMVCardButton>
  <div *ngIf="isApp && order?.balanceRemaining != 0 && (order.serviceType.toLowerCase() != 'purchase order')">
    <dsi-emvcard-pay-btn
      [devicename]="devicename"
      [order]="order"
      [uiTransactions]="uiTransactionSettings"
      [platForm]="platForm"
      [creditBalanceRemaining]="creditPaymentAmount"
      [paymentAmount]="order.balanceRemaining"
      (setStep) ="setStep(1)">
      <mat-icon>credit_card</mat-icon>
      <br>Credit / Debit
    </dsi-emvcard-pay-btn>
  </div>
</ng-template>

<ng-template #triPOSPaymentButton>
  <div *ngIf="isApp && order?.balanceRemaining != 0 && (order.serviceType.toLowerCase() != 'purchase order')">
    <app-tri-poscard-pay-btn
      [order]="order"
      [devicename]="devicename"
      [uiTransactions]="uiTransactionSettings"
      [platForm]="platForm"
      [creditBalanceRemaining]="creditPaymentAmount"
      [paymentAmount]="order.balanceRemaining"
      (setStep) ="setStep(1)">
        <mat-icon>credit_card</mat-icon>
        <br>Credit / Debit
    </app-tri-poscard-pay-btn>
  </div>
</ng-template>

<ng-template #giftCardPayButton>
  <div *ngIf="isApp && order?.balanceRemaining != 0 && (order.serviceType.toLowerCase() != 'purchase order')">
    <gift-card-pay-btn
      [order]="order"
      [devicename]="devicename"
      [uiTransactions]="uiTransactionSettings"
      [platForm]="platForm"
      [creditBalanceRemaining]="creditPaymentAmount"
      [paymentAmount]="order.balanceRemaining"
      (setStep) ="setStep(1)">
    </gift-card-pay-btn>
  </div>
</ng-template>

<ng-template #storeCreditPaybutton>
  <div *ngIf="isApp && order?.balanceRemaining != 0 && (order.serviceType.toLowerCase() != 'purchase order')">
    <store-credit-info
        [order]         ="order"
        [clientID]      ="order?.clientID"
        [accountNumber] ="order?.clients_POSOrders?.accountNumber"
        [userName]      ="order?.clients_POSOrders?.userName"
        [showPayment]   ="false"
        [showIssueMoney]="false"
        [showCreditValueOnly]="true"
        [showBalance]   = "false">
    </store-credit-info>
  </div>
</ng-template>

<ng-template #wicEBTButton>
  <div *ngIf="isApp && order?.balanceRemaining != 0 && (order.serviceType.toLowerCase() != 'purchase order')">
    <wic-ebtcard-pay-btn
        [order]="order"
        [devicename]="devicename"
        [uiTransactions]="uiTransactionSettings"
        [platForm]="platForm"
        [creditBalanceRemaining]="creditPaymentAmount"
        [paymentAmount]="order.balanceRemaining"
        (setStep) ="setStep(1)">
    </wic-ebtcard-pay-btn>
  </div>
</ng-template>

<ng-template #houseAccountButton>
  <div *ngIf="isApp && !paymentsEqualTotal &&
              (order.serviceType.toLowerCase() != 'purchase order')">
    <button
          class="buttons"
          mat-raised-button
          color="primary"
          (click)="houseAccountPayment()">
      <div>
        House Account
      </div>
    </button>
  </div>
</ng-template>

<ng-template #stripePayButton>
  <div *ngIf="isApp && order?.balanceRemaining != 0 && (order.serviceType.toLowerCase() != 'purchase order')">
    <stripe-card-pay-btn
      [order]="order"
      [uiTransactions]="uiTransactionSettings"
      [platForm]="platForm"
      [creditBalanceRemaining]="creditPaymentAmount"
      [stripeTipValue]="0"
      [paymentAmount]="order.balanceRemaining"
      (setStep) ="setStep(1)">
    </stripe-card-pay-btn>
  </div>
</ng-template>

<ng-template #cashPayCustom>
  <div *ngIf="isApp && order?.balanceRemaining != 0 && (order.serviceType.toLowerCase() != 'purchase order')">
    <cash-payment-buttons
        [order]="order"
        [uiTransactions]="uiTransactionSettings"
        [platForm]="platForm"
        [creditBalanceRemaining]="0"
        [paymentAmount] ="0"
        [isApp]         ="platFormService.isApp" >
        <div>Enter Cash <br> Amount</div>
    </cash-payment-buttons>
  </div>
</ng-template>

<ng-template #cashPayButtons>
  <div *ngIf="isApp && !smallDevice && order?.balanceRemaining != 0 && (order.serviceType.toLowerCase() != 'purchase order')">
    <cash-payment-buttons
        [order]="order"
        [uiTransactions]="uiTransactionSettings"
        [platForm]="platForm"
        [creditBalanceRemaining]="creditPaymentAmount"
        [paymentAmount] ="order.balanceRemaining"
        [isApp]         ="platFormService.isApp" >
        <div>Exact Cash</div>
    </cash-payment-buttons>
  </div>
</ng-template>

<ng-template #cashPay100>
  <div *ngIf="isApp && !smallDevice && order?.balanceRemaining != 0 && (order.serviceType.toLowerCase() != 'purchase order')">
    <cash-payment-buttons
        [order]="order"
        [uiTransactions]="uiTransactionSettings"
        [platForm]="platForm"
        [creditBalanceRemaining]="creditPaymentAmount"
        [paymentAmount] ="100"
        [isApp]         ="platFormService.isApp" >
    </cash-payment-buttons>
  </div>
</ng-template>

<ng-template #cashPay50>
  <div *ngIf="isApp && !smallDevice && order?.balanceRemaining != 0 && (order.serviceType.toLowerCase() != 'purchase order')">
    <cash-payment-buttons
        [order]="order"
        [uiTransactions]="uiTransactionSettings"
        [platForm]="platForm"
        [creditBalanceRemaining]="creditPaymentAmount"
        [paymentAmount] ="50"
        [isApp]         ="platFormService.isApp" >
    </cash-payment-buttons>
  </div>
</ng-template>

<ng-template #cashPay20>
  <div *ngIf="isApp && !smallDevice && order?.balanceRemaining != 0 && (order.serviceType.toLowerCase() != 'purchase order')">
    <cash-payment-buttons
        [order]="order"
        [uiTransactions]="uiTransactionSettings"
        [platForm]="platForm"
        [creditBalanceRemaining]="creditPaymentAmount"
        [paymentAmount] ="20"
        [isApp]         ="platFormService.isApp" >
    </cash-payment-buttons>
  </div>
</ng-template>

<ng-template #cashPay10>
  <div *ngIf="isApp && !smallDevice && order?.balanceRemaining != 0 && (order.serviceType.toLowerCase() != 'purchase order')">
    <cash-payment-buttons
        [order]="order"
        [uiTransactions]="uiTransactionSettings"
        [platForm]="platForm"
        [creditBalanceRemaining]="creditPaymentAmount"
        [paymentAmount] ="10"
        [isApp]         ="platFormService.isApp" >
    </cash-payment-buttons>
  </div>
</ng-template>

<ng-template #cashPay5>
  <div *ngIf="isApp && !smallDevice && order?.balanceRemaining != 0 && (order.serviceType.toLowerCase() != 'purchase order')">
    <cash-payment-buttons
        [order]="order"
        [uiTransactions]="uiTransactionSettings"
        [platForm]="platForm"
        [creditBalanceRemaining]="creditPaymentAmount"
        [paymentAmount] ="5"
        [isApp]         ="platFormService.isApp" >
    </cash-payment-buttons>
  </div>
</ng-template>

<ng-template #payButton>
  <div *ngIf="!isUser && order && (order?.service?.filterType != 1 && order?.service?.filterType != 2)">
    <span #coachingpayOptions>
      <button
          mat-raised-button
          class="buttons "
          color="primary"
          aria-label="Check Out"
          (click)="makePayment()">
        <mat-icon>credit_card</mat-icon>
          Pay
        <div>
          Options
        </div>
      </button>
    </span>
  </div>

</ng-template>

<ng-template #lastImageDisplayView>
  <last-image-display></last-image-display>
</ng-template>

<ng-template #purchaseItemSales>
  <mat-card class="po-info">
    <purchase-item-sales [order]="order">Purchase History</purchase-item-sales>
  </mat-card>
</ng-template>

<ng-template #purchaseItemHistory>
  <mat-card class="po-info-sales">
    <purchase-item-cost-history [order]="order">Sales History</purchase-item-cost-history>
  </mat-card>
</ng-template>

<ng-template #poItemValues>
  <pos-order-item-calc-values
    [uiTransactionSetting]="uiTransactionSetting"
  ></pos-order-item-calc-values>
</ng-template>

<ng-template #importPurchaseOrder>
  <span style="width:225px;margin-top:5px">
    <app-csv-import [order]="order" [purchaseOrderImport]="true">
    </app-csv-import>
  </span>
</ng-template>

<ng-template #newItemEntry>
  <new-order-item
    (saveUpdate)="hideNewItemEntryForm($event)"
    [order]="order"
  ></new-order-item>
</ng-template>

<ng-template #helpButton>
  <div style="margin:5px">
    <coach-marks-button
          (initPopOver)="initPopOver()"
          [enabled]="user && user?.userPreferences &&
                     user?.userPreferences?.enableCoachMarks">
    </coach-marks-button>
  </div>
</ng-template>

<ng-template #reconcile>
  <mat-card *ngIf="order">
    <mat-card-title>
    </mat-card-title>

    <mat-card-content>
      <div class="flex-group-row-start">

        <app-key-pad
            [fieldName]="'itemName'"
            [inputForm]="reconcileValueForm"
            [value]  ="reconcileEntryValue"
            [inputTypeValue]="'decimal'"
            [placeHolder]="'Quantity'"
            (outPutReturnEnter)="setReconcileEntry($event)">
        </app-key-pad>

        <div>
          <button mat-raised-button
               color="primary"
               (click)="updateRemaingCount()">
            <mat-icon>refresh</mat-icon>Get current Values
          </button>

          <button mat-raised-button
                color="warn"
               (click)="deleteReconciliation()">
            <mat-icon>delete</mat-icon>Delete
          </button>

          <button mat-raised-button
                color="primary"
                (click)="applyReconciliation()">
            <mat-icon>refresh</mat-icon>Apply Counts & Close
          </button>

          <div *ngIf="searchForm" >
            <div class="grid-container-selectors">
              <div >
                <search-debounce-input
                                      [itemNameControl] = "'itemName'"
                                      [searchForm]      = "searchForm"
                                      (outPutMethod)    = "refreshSearch($event)">
                  <div fieldDescription>
                      <mat-icon>search</mat-icon>
                      Search
                  </div>
                </search-debounce-input>
              </div>

              <div
                    *ngIf="(departments$ | async) as list">
                <form-select-list [searchForm]          = "searchForm"
                                    [formFieldName]     ="'departmentID'"
                                    [list]              = "list"
                                    [showActiveInactive]="true"
                                    (selectionChange)   = "refreshSearch($event)">
                  <div fieldSearchDescription>Department</div>
                  </form-select-list>
              </div>

              <div *ngIf="(categories$ | async) as lists">
                <form-select-list [searchForm]      = "searchForm"
                                  [formFieldName]   = "'categoryID'"
                                  [list]            = "lists"
                                  [showActiveInactive]="true"
                                  (selectionChange) = "refreshSearch($event)">
                <div fieldSearchDescription>Category</div>
                </form-select-list>
              </div>

              <div
                  *ngIf="productTypes$ | async as list">
                <form-select-list [formFieldName]   = "'itemTypeID'"
                                  [searchForm]      = "searchForm"
                                  [list]            = "list"
                                  (selectionChange) = "refreshSearch($event)"   >
                <div fieldSearchDescription>Type</div>
                </form-select-list>
              </div>
<!--
              name="Scanned"
              class="mat-label"
              (onChange) = "refreshSearch($event)" -->

              <div  class="mat-label" [formGroup]="searchForm">
                <mat-slide-toggle
                    name="Scanned"
                    class="mat-label"
                    (change) = "refreshSearch($event)"
                    formControlName="scanned">
                  <mat-label class="mat-label">Scanned</mat-label>
                </mat-slide-toggle>
              </div>

              <button mat-raised-button
                      (click)="resetReconciliationSearch()">
                <mat-icon>refresh</mat-icon>Reset Search
              </button>

            </div>
          </div>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</ng-template>

<!-- margin  %. Add items by the case ( you don't have to open boxes or cases to scan the actual item or try to remember how many come in each box)
Be able to see the actual inventory so I can check the inventory at the same time that I add items. -->
<!--
itemName          : [''],
itemTypeID        : [],
brandID           : [],
categoryID        : [],
departmentID      : [],
subCategoryID     : [],
viewAll           : [1],
bayName           : [],
scanned           : [],
}); -->
