<div *ngIf="(serviceType$ | async) as item"></div>
<div *ngIf="(action$ | async) as item"></div>
<div *ngIf="(printAction$ | async) as item"></div>

<div  *ngIf="order" class="container">
  <div [class]="orderlayout">
    <div>
      <div>

        <div  class="grid-header-item"
              (resized)="onResizedorderHeightPanel($event)">
          <pos-order-transaction-data
              [purchaseOrderEnabled]="purchaseOrderEnabled"
              [mainPanel]="mainPanel"
              [order]="order">
          </pos-order-transaction-data>
          <div *ngIf="order?.clientID">
            <store-credit-info
              [clientID]     = "order?.clientID"
              [showPayment]  = "false"
              [showBalance]  = 'false'
              [accountNumber]="order?.clients_POSOrders?.accountNumber"
              [userName]     ="order?.clients_POSOrders?.userName"
            ></store-credit-info>
          </div>
        </div>

        <div  class="grid-header-item"
              *ngIf="enableLimitsView  && (wideBar || mainPanel)"
              (resized)="onResizedorderLimitsPanel($event)">
          <limit-values-progress-bars
              [order]="order">
          </limit-values-progress-bars>
        </div>

        <div  (resized)="onResizedorderCustomerPanel($event)"
              class="grid-header-item"
              *ngIf="((wideBar || mainPanel) || (phoneDevice && !isUser)) &&
                     !isUser">

          <app-order-header-demo-graphics
            [canRemoveClient]     ="canRemoveClient"
            [order]               ="order"
            (outPutOpenClient)    ="openClient()"
            (outPutRemoveClient)  ="removeClient()"
            (outPutAssignCustomer)="assignCustomer($event)" >
          </app-order-header-demo-graphics>

        </div>

        <!-- height is not fixed -->
        <div  (resized)="onResizedorderSpecialsPanel($event)" >
          <pos-order-price-schedule-info
            (outPutDiscount)="applyDiscount($event)">
          </pos-order-price-schedule-info>
          <app-rewards-availible></app-rewards-availible>
        </div>

      </div>

      <!-- height is fixed -->
      <div class="buttons-container">
        <!-- purchasOrderEnabled{{purchasOrderEnabled}} -->
        <div *ngIf="mainPanel">
          <pos-order-function-buttons
                (outPutSendToPrep)    ="sendToPrep()"
                (outPutPrintLabel)    ="printLabels()"
                (outPutRePrintLabel)  ="rePrintLabels()"
                (outPutPrintReceipt)  ="printReceipt()"
                (outPutMakePayment)   ="makePayment()"
                (outPutShowItems)     ="showItems()"
                (outPutVoidOrder)     ="voidOrder()"
                (outPutSuspendOrder)  ="suspendOrder()"
                (outPutRemoveSuspension)="removeSuspension()"
                (outPutClearOrder)    ="clearOrder($event)"
                (outPutDeleteOrder)   ="deleteOrder($event)"
                (outPutEmailOrder)    = 'emailOrder($event)'
                (outPutRemoveDiscount)='removeDiscount($event)'
                (outPutRefundItem)    ='refundItem($event)'
                (outPutRefundOrder)   ='refundOrder($event)'
                (outPutPurchaseOrder) ="makeManifest($event)"
                (outPutchangeTransactionType)="changeTransactionType($event)"
                (outPutListView)      ="toggleListView($event)"
                [itemsPrinted]        ="itemsPrinted"
                [paymentsMade]        ="paymentsMade"
                [isAuthorized]        ="isAuthorized"
                [isUser]              ="isUser"
                [isStaff]             ='isStaff'
                [openBar]             ="openBar"
                [mainPanel]           ="mainPanel"
                [order]               ="order"
                [purchasOrderEnabled] ="userAuthorization.isManagement && purchaseOrderEnabled"
                [emailOption]         ="emailOption"
                [ssmsOption]          ="ssmsOption"
                [refundItemEnabled]   ="refundItemsAvalible"

          ></pos-order-function-buttons>
        </div>

        <div class="side-panel-buttons-container"
             [style.width]="deviceWidthPercentage"
             *ngIf="!mainPanel && (uiSettings && uiSettings.wideOrderBar)" >

          <div *ngIf="!phoneDevice">
            <button mat-raised-button
              color="primary"
              class="button"
              (click)="toggleOpenOrderBar()">
              <div *ngIf="order && order.history">
                <mat-icon>view</mat-icon>
                View Cart
              </div>
              <div *ngIf="order && !order.history">
                <mat-icon>edit</mat-icon>
                Edit Cart
              </div>
            </button>
          </div>

          <div>
            <button  mat-raised-button
              color="primary"
              class="button"
              (click)="makePayment()">
              <mat-icon>credit_card</mat-icon>
               Check Out
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- height is not fixed -->
    <div    [style.height]="orderItemsHeightStyle"
            class="order-items"
            *ngIf="(!smallDevice && mainPanel)
                || (!mainPanel && smallDevice)
                || (!mainPanel && !smallDevice)">

        <ng-container [ngTemplateOutlet]="getListViewType"></ng-container>
    </div>
  </div>
</div>

<ng-template #itemViewType>
  <pos-order-items
    [purchaseOrderEnabled]="purchaseOrderEnabled"
    [mainPanel]   ="mainPanel"
    [panelHeight] ="orderItemsHeightStyle"
    [order]       ="order">
  </pos-order-items>
</ng-template>

<ng-template #listViewType>
  <pos-order-item-list></pos-order-item-list>
</ng-template>
