  @import "/src/mixins.scss";
  mat-divider {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .container {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  h3, .h3 {
    font-size: 18px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
 }

 .side-panel-buttons-container  {
   width: 99%;
   display: grid;
   gap: 5px;
   grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
   margin-bottom : 1px;
   margin-top    : 1px;
   margin-left   : -2px;
 }

.grid-header-order-total {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-auto-flow:dense;

  @include for-phone-only  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    justify-content: space-between;
  }
}

.grid-header-item {
  margin    : 1px;
  width: 100%;
  @include for-phone-only  {
    margin: 5px;
    width: 100%;
  }
}

.buttons-container {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-top: 5px;
}

.grid-buttons {
  margin    : 5px;
  width: 100%;
  @include for-phone-only  {
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: left;
  }
}

.grid-panels {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  justify-content: space-between;

  @include for-phone-only  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    justify-content: space-between;
  }
}

.grid-order-header {
  --gap: 10px;
  display: grid;
  gap: var(--gap);
  // grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat( auto-fit, minmax(355px, 1fr) );
  grid-auto-flow:dense;
  width: 100%;
  @include for-phone-only  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    justify-content: space-between;
  }
}

.grid-order-header div {
  // min-height: 50px;
  // border: 1px solid;
}

.grid-order-header div:first-child {
  // grid-row: span 2;
}

.grid-order-header.reverse {
  grid-template-columns: repeat(2, 1fr);
  // grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

.grid-order-header.reverse div:first-child {
  grid-column: 2;
}

.info-button-panel {
  grid-row: 1 / span 5;
  grid-column-end: -1;
}

.flex-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: baseline;
  align-content: center;
  justify-content: space-between;
}

.order-layout-empty {
  display: grid;
  grid-template-columns: auto;
  gap: 5px;
  // grid-auto-flow:dense;

}

.order-layout {

  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  gap: 5px;
  grid-auto-flow:dense;

  @include for-phone-only  {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
  }
  width: 100%;
}

.order-items-main-panel {
  margin-bottom: 25px;
  margin-top   : 2px;
  margin-left  : 2px;
  max-height:   99%;
  overflow-y: auto;
  overflow-x: hidden;

  @include for-phone-only  {
    margin: 5px;
    width: 100%;
  }

  //1024 x768
  @include for-tablet-landscape-up  {
    max-height:   550px;
    height:   99%;
  }

  @include for-desktop-up {
    max-height:  600px;
    height:   99%;
  }

  @include for-big-desktop-up {
    max-height:   800px;
    height:   99%;
  }

}

.order-items {
  margin-bottom: 25px;
  margin-top   : 2px;
  margin-left  : 2px;
  // max-height:   300px;
  height:   99%;
  overflow-y: auto;
  overflow-x: hidden;

  @include for-phone-only  {
    margin: 5px;
    width: 100%;
  }

  @include for-tablet-landscape-up  {
    max-height: 700px;
    height:   99%;
  }

  @include for-desktop-up {
    max-height:  600px;
    height:   99%;
  }

  @include for-big-desktop-up {
    max-height:   800px;
    height:   99%;
  }

}


// @mixin for-phone-only {
//   @media (max-width: 599px) { @content; }
// }
// @mixin for-tablet-portrait-up {
//   @media (min-width: 600px) { @content; }
// }
// @mixin for-tablet-landscape-up {
//   @media (min-width: 900px) { @content; }
// }
// @mixin for-desktop-up {
//   @media (min-width: 1200px) { @content; }
// }
// @mixin for-big-desktop-up {
//   @media (min-width: 1800px) { @content; }
// }





.order-layout div {
  // min-height: 50px;
  // border: 1px solid;
}

.order-layout div:first-child {
  // grid-row: span 2;
}

.order-layout.reverse {
  grid-template-columns: repeat(2, 1fr);
  // grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

.order-layout.reverse div:first-child {
  grid-column: 2;
}

.flex-item {
  margin: 5px;
  // min-width: 355px;
  // width: 355px;
}

.grid-span-3 {
  grid-column: 1 / span 3;
  margin: 5px;
}

.card-height {
  height    : 155px;
  min-height: 155px;
  max-height: 155px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.grid-contact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.grid-item {
  // margin-top: -5px;
}

.grid-item-button {
  margin-top: -15px;
  margin-bottom: 0px;
}

.img-main {
  width: 300px;
}

.item-list {
  margin-bottom: 25px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 85vh;

  @include for-phone-only  {
    margin-bottom: 25px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 65vh;
  }

}

.item-list-side-panel {
  margin-bottom: 25px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 55vh;
  @include for-phone-only  {
    margin-bottom: 25px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 65vh;
  }
}

.gridScroller {
  height: 100%;
  transform:translateY(-100%);
  animation: scrollup-1;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
 }

@keyframes scrollup-1 {
  0%   {
    -moz-transform: translateY(-100%); /* Firefox bug fix */
    -webkit-transform: translateY(-100%); /* Firefox bug fix */
    transform: translateY(-100%);
  }
  100% {
    -moz-transform: translateY(100%); /* Firefox bug fix */
    -webkit-transform: translateY(100%); /* Firefox bug fix */
    transform: translateY(100%);
  }
}

.float-left{
  float: left;
}

.chemicals {
  font-size: small;
}

.custom-card {
  padding:  5px ;
  margin:  10px 10px 5px 5px;
}

img {
  width:100px;
  align-content: center;
  border:rgba(78, 53, 53, 0.1);
  border-radius: 5px;
  border-style: solid;
  border-width: 3px;
  margin: 3px;
  padding: 3px;
}

.grid-container {
    background-color: rbg(1,1,1);
    margin: 10px;
    height: 300px;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;

 }

 .price {
   background-color: bisque;
   border: cadetblue;
   border-radius: 2px;
   border-style: solid;
   margin: 5px;
   padding: 5px 5px 5px 5px;
 }

 .quantity {
    background-color: bisque;
    border: cadetblue;
    border-radius: 2px;
    border-style: solid;
    margin: 5px;
    padding: 5px 5px 5px 5px;
  }

  button {
    margin: 5px ;
    height: 65px;
  }

  .btn {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    height: 38px;
    line-height: 1.4;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
  }

  .btn-primary {
    background-color: #F56400;
    border-color: rgba(0, 0, 0, 0.1);
    color: #FFF;
  }

  .item-data {
    background-color: #F5F5F1;
    border: 0px solid #E2E2E2;
    border-radius: 3px;
    margin-bottom: 8px;
    margin-right: 5px;
    padding: 3px 5px;
    display: table;
  }

.gallery-area {
  width:80%;
  position:relative;
  overflow:hidden;
  &:before {
    content:"";
    width:10px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    z-index:100;
  }
}

.buttons-container2 {
  display: flex;
  flex-direction: row;
  justify-content:  space-between;
  gap: 20px;
}

.buttons-container {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
}

.order-layout-buttons {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
  gap: 5px;
  grid-auto-flow:dense;

  @include for-phone-only  {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
  }
}

.order-layout-buttons div {
  // min-height: 50px;
  // border: 1px solid;
}

.order-layout-buttons div:first-child {
  // grid-row: span 2;
}

.order-layout-buttons.reverse {
  grid-template-columns: repeat(2, 1fr);
  grid-column: 2;
  // grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

.order-layout-buttons.reverse div:first-child {
  grid-column: 2;
}
