<div *ngIf="(serviceType$ | async) as item"></div>
<div *ngIf="(action$ | async) as item"></div>
<div *ngIf="(printAction$ | async) as item"></div>
<div *ngIf="(printLabels$ | async) as items"></div>
<div *ngIf="(deleteOrder$ | async) as items"></div>

<div  *ngIf="order" class="container">
  <div [class]="orderlayout">
    <div>
      <div>

        <div  [class]="gridheaderitem"
              (resized)="onResizedorderHeightPanel($event)">
          <pos-order-transaction-data
              [uiTransactionSettings]="uiTransactionSettings"
              [purchaseOrderEnabled]="purchaseOrderEnabled"
              [mainPanel]="mainPanel"
              [order]="order">
          </pos-order-transaction-data>
          <div *ngIf="order?.clientID">
            <store-credit-info
              [clientID]     = "order?.clientID"
              [showPayment]  = "false"
              [showBalance]  = 'false'
              [accountNumber]="order?.clients_POSOrders?.accountNumber"
              [userName]     ="order?.clients_POSOrders?.userName"
            ></store-credit-info>
          </div>
        </div>

        <div  [class]="gridheaderitem"
              *ngIf="enableLimitsView  && (wideBar || mainPanel)"
              (resized)="onResizedorderLimitsPanel($event)">
          <limit-values-progress-bars
              [order]="order">
          </limit-values-progress-bars>
        </div>

        <div  (resized)="onResizedorderCustomerPanel($event)"
              [class]="gridheaderitem"
              *ngIf="((wideBar || mainPanel) || (phoneDevice && !isUser)) &&
                     !isUser">

          <app-order-header-demo-graphics
            [canRemoveClient]     ="canRemoveClient"
            [order]               ="order"
            [mainPanel]           ="mainPanel"
            (outPutOpenClient)    ="openClient()"
            (outPutRemoveClient)  ="removeClient()"
            (outPutAssignCustomer)="assignCustomer($event)" >
          </app-order-header-demo-graphics>

        </div>

        <!-- height is not fixed -->
        <div  (resized)="onResizedorderSpecialsPanel($event)" >
          <pos-order-price-schedule-info
            (outPutDiscount)="applyDiscount($event)">
          </pos-order-price-schedule-info>
          <app-rewards-availible></app-rewards-availible>
        </div>

      </div>

      <!-- height is fixed -->
      <div class="buttons-container">
        <div *ngIf="mainPanel">
          <pos-order-function-buttons
                (outPutSendToPrep)    ="sendToPrep()"
                (outPutPrintLabel)    ="printLabels(true)"
                (outPutRePrintLabel)  ="rePrintLabels()"
                (outPutPrintReceipt)  ="printReceipt()"
                (outPutMakePayment)   ="makePayment()"
                (outPutShowItems)     ="showItems()"
                (outPutVoidOrder)     ="voidOrder()"
                (outPutSuspendOrder)  ="suspendOrder()"
                (outPutRemoveSuspension)="removeSuspension()"
                (outPutClearOrder)    ="clearOrder($event)"
                (outPutDeleteOrder)   ="deleteOrder($event)"
                (outPutEmailOrder)    = 'emailOrder($event)'
                (outPutRemoveDiscount)='removeDiscount($event)'
                (outPutRefundItem)    ='refundItem($event)'
                (outPutRefundOrder)   ='refundOrder($event)'
                (outPutPurchaseOrder) ="makeManifest($event)"
                (outPutchangeTransactionType)="changeTransactionType($event)"
                (outPutListView)      ="toggleListView($event)"
                [itemsPrinted]        ="itemsPrinted"
                [paymentsMade]        ="paymentsMade"
                [isAuthorized]        ="isAuthorized"
                [isUser]              ="isUser"
                [isStaff]             ='isStaff'
                [openBar]             ="openBar"
                [mainPanel]           ="mainPanel"
                [order]               ="order"
                [purchasOrderEnabled] ="userAuthorization.isManagement && purchaseOrderEnabled"
                [emailOption]         ="emailOption"
                [ssmsOption]          ="ssmsOption"
                [refundItemEnabled]   ="refundItemsAvalible"
                [devicename]          ="devicename"
          ></pos-order-function-buttons>
        </div>

        <mat-divider></mat-divider>

        <div>
          <div *ngIf="mainPanel && uiTransactionSettings "
                class="payment-buttons-container">

                <ng-container [ngTemplateOutlet]="disEMVCardButton"></ng-container>
                <ng-container [ngTemplateOutlet]="dsiEMVAndroidCardButton"></ng-container>
                <ng-container [ngTemplateOutlet]="cardPointeButton"></ng-container>

                <ng-container [ngTemplateOutlet]="giftCardPayButton"></ng-container>

                <ng-container ng-container [ngTemplateOutlet]="houseAccountButton"></ng-container>

                <div *ngIf="order && order.clientID">
                  <ng-container [ngTemplateOutlet]="storeCreditPaybutton"></ng-container>
                </div>

                <ng-container [ngTemplateOutlet]="wicEBTButton"></ng-container>
                <ng-container [ngTemplateOutlet]="triPOSPaymentButton"></ng-container>
                <ng-container [ngTemplateOutlet]="payButton"></ng-container>

          </div>
        </div>

        <div  *ngIf="mainPanel && uiTransactionSettings &&
                (!paymentsEqualTotal && !order.completionDate &&
                order?.balanceRemaining != 0)" >
            <ng-container [ngTemplateOutlet]="cashPayButtons"></ng-container>
        </div>

        <div *ngIf="!mainPanel && !uiTransactionSettings?.displayEditCardOnHeader">
          <ng-container [ngTemplateOutlet]="editCartButtons"></ng-container>
        </div>

      </div>

    </div>
    <div  [style.height]="orderItemsHeightStyle"
          class="order-items"
          *ngIf="(!smallDevice && mainPanel)
              || (!mainPanel && smallDevice)
              || (!mainPanel && !smallDevice)">
      <ng-container [ngTemplateOutlet]="getListViewType"></ng-container>
    </div>
</div>

<ng-template #itemViewType>
  <pos-order-items
    [purchaseOrderEnabled]="purchaseOrderEnabled"
    [mainPanel]   ="mainPanel"
    [panelHeight] ="orderItemsHeightStyle"
    [order]       ="order">
  </pos-order-items>
</ng-template>

<ng-template #editCartButtons>
  <pos-check-out-buttons
    [order]="order"
    [phoneDevice]="phoneDevice"
    [smallDevice]="smallDevice"
    [isStaff]="isStaff"
    [deviceWidthPercentage]="deviceWidthPercentage"
    [uiSettings]="uiSettings"
    [mainPanel]="mainPanel">
  </pos-check-out-buttons>
</ng-template>

<ng-template #listViewType>
  <pos-order-item-list></pos-order-item-list>
</ng-template>

<ng-template #cardPointeButton>
  <div *ngIf="devicename &&
       uiTransactionSettings?.cardPointBoltEnabled &&
       (order && order?.balanceRemaining != 0)">
    <card-pointe-card-pay-btn
      [order]="order"
      [devicename]="devicename"
      [uiTransactions]="uiTransactionSettings"
      [platForm]="platForm"
      [creditBalanceRemaining]="creditPaymentAmount"
      [paymentAmount]="order.balanceRemaining"
      (setStep) ="setStep(1)">
      <mat-icon>credit_card</mat-icon>
      <br>Credit / Debit
    </card-pointe-card-pay-btn>
  </div>
</ng-template>

<ng-template #dsiEMVAndroidCardButton>
  <span *ngIf="(platForm === 'android') &&
        devicename &&
        uiTransactionSettings?.cardPointAndroidEnabled &&
        (order && order?.balanceRemaining != 0)">
    <dsiemvandroid-pay-btn
        [order]="order"
        [devicename]="devicename"
        [uiTransactions]="uiTransactionSettings"
        [platForm]="platForm"
        [creditBalanceRemaining]="creditPaymentAmount"
        [paymentAmount]="order.balanceRemaining"
        (setStep) ="setStep(1)">
        <mat-icon>credit_card</mat-icon>
        <br>Credit / Debit
    </dsiemvandroid-pay-btn>
  </span>
</ng-template>

<ng-template #disEMVCardButton>
  <span *ngIf="devicename && (uiTransactionSettings && uiTransactionSettings?.dsiEMVNeteEpayEnabled)
      && order && order?.balanceRemaining != 0">
    <dsi-emvcard-pay-btn
      [devicename]="devicename"
      [order]="order"
      [uiTransactions]="uiTransactionSettings"
      [platForm]="platForm"
      [creditBalanceRemaining]="creditPaymentAmount"
      [paymentAmount]="order.balanceRemaining"
      (setStep) ="setStep(1)">
      <mat-icon>credit_card</mat-icon>
      <br>Credit / Debit
    </dsi-emvcard-pay-btn>
  </span>
</ng-template>

<ng-template #triPOSPaymentButton>
  <div *ngIf="devicename &&
    uiTransactionSettings?.triposEnabled &&
    (order && order?.balanceRemaining != 0)">
    <app-tri-poscard-pay-btn
      [order]="order"
      [devicename]="devicename"
      [uiTransactions]="uiTransactionSettings"
      [platForm]="platForm"
      [creditBalanceRemaining]="creditPaymentAmount"
      [paymentAmount]="order.balanceRemaining"
      (setStep) ="setStep(1)">
        <mat-icon>credit_card</mat-icon>
        <br>Credit / Debit
    </app-tri-poscard-pay-btn>
  </div>
</ng-template>

<ng-template #giftCardPayButton>
  <div *ngIf="
  (!paymentsEqualTotal && !order.completionDate && order?.balanceRemaining != 0)">
    <gift-card-pay-btn
      [order]="order"
      [devicename]="devicename"
      [uiTransactions]="uiTransactionSettings"
      [platForm]="platForm"
      [creditBalanceRemaining]="creditPaymentAmount"
      [paymentAmount]="order.balanceRemaining"
      (setStep) ="setStep(1)">
    </gift-card-pay-btn>
  </div>
</ng-template>

<ng-template #storeCreditPaybutton>
  <div *ngIf="
    (!paymentsEqualTotal && !order.completionDate && order?.balanceRemaining != 0)">
    <store-credit-info
        [order]        ="order"
        [clientID]     ="order?.clientID"
        [accountNumber]="order?.clients_POSOrders?.accountNumber"
        [userName]     ="order?.clients_POSOrders?.userName"
        [showPayment]  ="true"
        [showIssueMoney]="false"
        [showBalance] = "false">
    </store-credit-info>
  </div>
</ng-template>

<ng-template #wicEBTButton>
  <div *ngIf="
  (!paymentsEqualTotal && !order.completionDate && order?.balanceRemaining != 0)">
  <wic-ebtcard-pay-btn
      [order]="order"
      [devicename]="devicename"
      [uiTransactions]="uiTransactionSettings"
      [platForm]="platForm"
      [creditBalanceRemaining]="creditPaymentAmount"
      [paymentAmount]="order.balanceRemaining"
      (setStep) ="setStep(1)">
  </wic-ebtcard-pay-btn>
  </div>
</ng-template>

<ng-template #houseAccountButton>
  <div *ngIf="(userAuths && userAuths.houseAccountPayment) && order.clientID != 0 &&
        order?.clients_POSOrders?.client_Type?.name.toLowerCase() === 'house account'">
    <button class="splitbutton"
          mat-raised-button
          color="primary"
          (click)="houseAccountPayment()">
      <div *ngIf="!paymentsEqualTotal">
        House Account
      </div>
    </button>
  </div>
</ng-template>

<ng-template #stripePayButton>
  <span *ngIf="order && order.balanceRemaining != 0 && !this.platFormService.isApp()">
    <stripe-card-pay-btn
      [order]="order"
      [uiTransactions]="uiTransactionSettings"
      [platForm]="platForm"
      [creditBalanceRemaining]="creditPaymentAmount"
      [stripeTipValue]="0"
      [paymentAmount]="order.balanceRemaining"
      (setStep) ="setStep(1)">
    </stripe-card-pay-btn>
  </span>
</ng-template>

<ng-template #cashPayButtons>
  <cash-payment-buttons
      [order]="order"
      [uiTransactions]="uiTransactionSettings"
      [platForm]="platForm"
      [creditBalanceRemaining]="creditPaymentAmount"
      [paymentAmount] ="order.balanceRemaining"
      [isApp]         ="platFormService.isApp" >
  </cash-payment-buttons>
</ng-template>

<ng-template #payButton>
  <button mat-raised-button
      class="payment-buttons"
      color="primary"
      aria-label="Check Out"
      (click)="makePayment()">
    <mat-icon>credit_card</mat-icon>
    <span>
      Pay
    </span>
  </button>
</ng-template>
