<!-- <div *ngIf="menuItem.price" -->


    <div class="pricing-box" *ngIf="menuItem?.retail" >
      <div id="price" color="warn">  {{ menuItem?.retail | currency }}
        <span *ngIf="menuItem?.unitDescription" color="warn">
          / {{menuItem?.unitDescription}}
        </span>
      </div>
    </div>

    <div  class="pricing-box" *ngIf="menuItem.msrp != 0" >
      <div id="unitDescription"> {{ menuItem?.unitDescription }}</div>
      <div id="price">MSRP {{ menuItem?.msrp | currency }}
      <span *ngIf="menuItem?.unitDescription">
        / {{menuItem?.unitDescription}}
      </span></div>
    </div>
