<div *ngIf="inputForm"
    [formGroup]="inputForm"
    class="grid-flow">

  <div>
      <div class="customer-fullname-fields">
        <div>
          <app-value-fields
                    [inputForm]="inputForm"
                    [fieldName]="'title'">
             Title
          </app-value-fields>
        </div>

        <div class="customer-name-fields">
          <div>
            <app-value-fields
                          [inputForm]="inputForm"
                          [fieldName]="'firstName'">
              First Name
            </app-value-fields>
          </div>
          <div>
            <app-value-fields
                          [inputForm]="inputForm"
                          [fieldName]="'lastName'">
              Last Name
            </app-value-fields>
          </div>
        </div>
      </div>

      <div class="name-fields">

        <div *ngIf="auths?.editEmail">
          <app-value-fields
                        
                        [inputForm]="inputForm"
                        [fieldName]="'phone'">
            Phone
          </app-value-fields>
        </div>

        <div *ngIf="auths?.editEmail">
          <app-value-fields
                    [inputForm]="inputForm"
                    [fieldName]="'email'">
              Email
          </app-value-fields>
        </div>

        <div  *ngIf="isStaff">
          <app-value-fields
                          [inputForm]="inputForm"
                          [fieldName]="'dlNumber'">
              ID #
          </app-value-fields>
        </div>
      </div>

      <div class="name-fields">

        <div  style="width:175px">
          <mat-form-field  appearance="outline">
            <mat-label>DOB {{client?.dob}}</mat-label>
            <input matInput
                  [matDatepicker]="picker2"
                  formControlName="dob">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker  #picker2></mat-datepicker>
          </mat-form-field>
        </div>


        <div *ngIf="isStaff" style="max-width:175px">
          <mat-form-field appearance="outline">
            <mat-label>ID EXP {{client?.dlLicenseEXP}}</mat-label>
            <input  matInput
                    [matDatepicker]="picker"
                    formControlName="dlLicenseEXP">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker  #picker></mat-datepicker>
          </mat-form-field>
        </div>

      </div>

      <div *ngIf="enableLimitsView" class="counts-container">
        <div *ngIf="isStaff">
        <app-value-fields
              [inputForm]="inputForm"
              [fieldName]="'medGramLimit'">
              Gram Count
          </app-value-fields>
        </div>

        <div *ngIf="isStaff">
          <app-value-fields
              [inputForm]="inputForm"
              [fieldName]="'medPlantLimit'">
            Plant Count
          </app-value-fields>
        </div>

        <div *ngIf="isStaff">
          <app-value-fields
              [inputForm]="inputForm"
              [fieldName]="'medConcentrateLimit'">
              Concentrate Count
          </app-value-fields>
        </div>

      </div>

      <div *ngIf="isStaff">
        <mat-form-field appearance="outline">
          <mat-label>Notes</mat-label>
            <textarea matInput
                      rows="10"
                      columns="40"
                      formControlName="notes"
            ></textarea>
        </mat-form-field>
      </div>

  </div>

  <div *ngIf="isStaff && enableMEDClients">
    <ng-content select="#coachingMedical"></ng-content>
    <profile-med-info
        [isAuthorized]="isAuthorized"
        [inputForm]="inputForm"
        [isStaff]="isStaff">
        METRC Info
    </profile-med-info>
  </div>

  <div>
    <div  class="name-fields">
      <div *ngIf="isStaff || isAuthorized">
        <app-status-lookup
            [style]="'font-size: 1.1em'"
            [inputForm]="inputForm">
        </app-status-lookup>
      </div>

      <div *ngIf="isStaff" >
        <mat-form-field
            [style]="'font-size: 1.1em; width: 90%;'"
            class="fields"
            appearance="outline">
            <ng-content select="#coachingDisabledMessage"></ng-content>
            <!-- <ng-content select="coachingDisabledMessage"></ng-content> -->
          <mat-label>Client Type </mat-label>
          <mat-select
                    type              = "number"
                    ngDefaultControl
                    name              = 'clientTypeID'
                    formControlName   = "clientTypeID"
                  >
            <mat-option *ngFor="let item of (clientTypes$ | async) as list"
              [value]="item.id">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="points" *ngIf="isAuthorized">
      <mat-form-field appearance="outline">
      <mat-label >Rewards Points</mat-label>
          <input
                  matInput
                  type="text"
                  id="title"
                  formControlName="loyaltyPoints"
                  class="form-control">
          </mat-form-field>
    </div>

    <div class="points" *ngIf="isStaff">
      <mat-button-toggle-group  name="type"
                                [disabled]="!isAuthorized"
                                aria-label="Font Style"
                                formControlName="taxSales">
        <mat-button-toggle [value]="1">Non Taxable Client</mat-button-toggle>
        <mat-button-toggle [value]="0">Taxable Client</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="toggle-format">
      <mat-icon class="mat-label-info"
                color="accent"
                [matTooltip]="labelingService.profile[2].value">info</mat-icon>
      <div> <mat-label>Price Level</mat-label></div>
      <div>
        <mat-button-toggle-group  [disabled] ='!isAuthorized'
                                  name="type"
                                  aria-label="Font Style"
                                  formControlName="priceTier">
          <mat-button-toggle [value]="0">Standard</mat-button-toggle>
          <mat-button-toggle [value]="1">Level 1</mat-button-toggle>
          <mat-button-toggle [value]="2">Level 2</mat-button-toggle>
          <mat-button-toggle [value]="3">Level 3</mat-button-toggle>
        </mat-button-toggle-group>
      </div>


      <div class="points" *ngIf="isAuthorized">
        <mat-form-field appearance="outline">
        <mat-label >Default % Discount</mat-label>
            <input
                    matInput
                    type="number"
                    id="title"
                    formControlName="defaultDiscount"
                    class="form-control">
            </mat-form-field>
      </div>
    </div>

    <div>
      <h3>Features</h3>
    </div>

    <div>
      <app-value-fields
                      [inputForm]="inputForm"
                      [fieldName]="'companyName'">
          Company Name
      </app-value-fields>
    </div>

    <div>
      <app-value-fields
                      [inputForm]="inputForm"
                      [fieldName]="'dba'">
          DBA
      </app-value-fields>
    </div>

    <div *ngIf="clientType?.name as item">
      <div *ngIf="item.trim().length > 0 && ( item.toLowerCase() === 'supplier' || item.toLowerCase() === 'vendor' || item.toLowerCase() === 'manufacturer' ) ">

        <div *ngIf="isStaff && isStaff == true" >
          <app-value-fields
                  [inputForm]="inputForm"
                  [fieldName]="'userName'">
            ID
          </app-value-fields>
        </div>

        <div *ngIf="!isStaff">
          {{ client?.userName }}
        </div>

      </div>
    </div>
  </div>
</div>
