<div *ngIf="inputForm"
    [formGroup]="inputForm"
    class="grid-flow">

  <div>
      <div class="customer-fullname-fields">
        <div >
            <mat-form-field  appearance="outline">
            <mat-label >Title</mat-label>
            <input matInput
                  type="text"
                  formControlName="title"
                   >
            </mat-form-field>
        </div>

        <div class="customer-name-fields">
          <div>
            <mat-form-field appearance="outline">
            <mat-label >First Name</mat-label>
            <input matInput
                  type="text"
                  formControlName="firstName"
                   >
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
            <mat-label >Last Name</mat-label>
              <input  matInput
                      type="text"
                      formControlName="lastName"
                     >
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="name-fields">

        <!-- <div>
          <mat-form-field appearance="outline">
          <mat-label >Phone</mat-label>
          <input  matInput
                  type="text"
                  id="title"
                  formControlName="phone"
                  class="form-control" >
          </mat-form-field>
        </div>
         -->
        <div
              *ngIf="isAuthorized" >
          <app-value-fields
                          [inputForm]="inputForm"
                          [fieldName]="'phone'">
              Phone
          </app-value-fields>
        </div>

        <div
              *ngIf="isAuthorized" >
          <app-value-fields
                          [inputForm]="inputForm"
                          [fieldName]="'dlNumber'">
                      ID #
          </app-value-fields>
        </div>

        <div>
          <!-- <mat-form-field appearance="outline">
            <mat-label >Email</mat-label>
            <input  [disabled]="!isStaff"
                    matInput
                    type="text"
                    id="title"
                    formControlName="email"
                    class="form-control" >
          </mat-form-field> -->

          <app-value-fields
                    [enabled]="!isStaff"
                    [inputForm]="inputForm"
                    [fieldName]="'email'">
              Email
          </app-value-fields>
        </div>
      </div>

      <div class="name-fields">

        <div>
          <mat-form-field  appearance="outline">
            <mat-label>DOB</mat-label>
            <input matInput
                  [disabled]="!isStaff"
                  [matDatepicker]="picker"
                  formControlName="dob">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker  #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div *ngIf="isAuthorized" >
          <mat-form-field appearance="outline">
            <mat-label>ID EXP</mat-label>
            <input  matInput
                     [disabled]="!isStaff"
                    [matDatepicker]="picker2"
                    formControlName="dlExp">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker  #picker2></mat-datepicker>
          </mat-form-field>
        </div>

      </div>

      <div class="name-fields">
        <!-- {{clientTable?.accountNumber}}; -->
        <app-value-fields
                [enabled]="!isStaff"
                [inputForm]="inputForm"
                [fieldName]="'accountNumber'">
          Account #
        </app-value-fields>
      </div>

      <div *ngIf="enableLimitsView" class="counts-container">
        <div *ngIf="isStaff">
          <app-value-fields
              [inputForm]="inputForm"
              [fieldName]="'medGramLimit'">
              Gram Count
          </app-value-fields>
        </div>

        <div *ngIf="isStaff">
          <app-value-fields
              [inputForm]="inputForm"
              [fieldName]="'medPlantLimit'">
            Plant Count
          </app-value-fields>
        </div>

        <div *ngIf="isStaff">
          <app-value-fields
              [inputForm]="inputForm"
              [fieldName]="'medConcentrateLimit'">
              Concentrate Count
          </app-value-fields>
        </div>

      </div>

      <div *ngIf="isStaff">
        <mat-form-field appearance="outline"
           >
          <mat-label>Notes</mat-label>
            <textarea matInput
                      rows="10"
                      columns="40"
                      formControlName="notes"
            ></textarea>
        </mat-form-field>
      </div>

  </div>

  <div *ngIf="isStaff && enableMEDClients">
    <profile-med-info
        [isAuthorized]="isAuthorized"
        [inputForm]="inputForm"
        [isStaff]="isStaff">
        METRC Info
    </profile-med-info>
  </div>

  <div>
    <div  class="name-fields">
      <div *ngIf="isStaff || isAuthorized">
        <app-status-lookup
            [style]="'font-size: 1.1em'"
            [inputForm]="inputForm">
        </app-status-lookup>
      </div>

      <div *ngIf="isStaff" >
        <mat-form-field
            [style]="'font-size: 1.1em; width: 90%;'"
            class="fields"
            appearance="outline">
          <mat-label>Client Type </mat-label>
          <mat-select
                    type              = "number"
                    ngDefaultControl
                    name              = 'clientTypeID'
                    formControlName   = "clientTypeID"
                  >
            <mat-option *ngFor="let item of (clientTypes$ | async) as list"
              [value]="item.id">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="points">
      <mat-form-field appearance="outline">
      <mat-label >Reward Points</mat-label>
      <input  [disabled]="!isAuthorized"
              matInput
              type="text"
              id="title"
              formControlName="loyaltyPoints"
              class="form-control">
      </mat-form-field>
    </div>

    <div>
      <mat-button-toggle-group  name="type"
                                [disabled]="!isAuthorized"
                                aria-label="Font Style"
                                formControlName="taxSales">
        <mat-button-toggle [value]="1">Non Taxable Client</mat-button-toggle>
        <mat-button-toggle [value]="0">Taxable Client</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="toggle-format">
      <div> <mat-label>Price Level</mat-label></div>
      <div>
        <mat-button-toggle-group  [disabled] ='!isAuthorized'
                                  name="type"
                                  aria-label="Font Style"
                                  formControlName="priceTier">
          <mat-button-toggle [value]="0">Standard</mat-button-toggle>
          <mat-button-toggle [value]="1">Level 1</mat-button-toggle>
          <mat-button-toggle [value]="2">Level 2</mat-button-toggle>
          <mat-button-toggle [value]="3">Level 3</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </div>
</div>
