<div *ngIf="inputForm"
    [formGroup]="inputForm"
    class="grid-flow">

  <div>
      <div class="customer-fullname-fields">
        <div >
            <mat-form-field  appearance="outline">
            <mat-label >Title</mat-label>
            <input matInput
                  type="text"
                  formControlName="title"
                   >
            </mat-form-field>
        </div>

        <div class="customer-name-fields">
          <div>
            <mat-form-field appearance="outline">
            <mat-label >First Name</mat-label>
            <input matInput
                  type="text"
                  formControlName="firstName"
                   >
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
            <mat-label >Last Name</mat-label>
              <input  matInput
                      type="text"
                      formControlName="lastName"
                     >
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="name-fields">
        <div>
          <mat-form-field appearance="outline">
          <mat-label >Phone</mat-label>
          <input  matInput
                  type="text"
                  id="title"
                  formControlName="phone"
                  class="form-control" >
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
          <mat-label >Email</mat-label>
          <input  matInput
                  type="text"
                  id="title"
                  formControlName="email"
                  class="form-control" >
          </mat-form-field>
        </div>
      </div>

      <div class="name-fields">
        <div *ngIf="isAuthorized" >
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>DOB</mat-label>
            <input matInput
                  [matDatepicker]="picker"
                  formControlName="dob">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker  #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div *ngIf="isAuthorized" >
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>DL EXP</mat-label>
            <input  matInput
                    [matDatepicker]="picker2"
                    formControlName="dlExp">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker  #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>



      <div>
        <mat-form-field appearance="outline"
            >
          <mat-label>Notes</mat-label>
            <textarea matInput
                      rows="10"
                      columns="40"
                      formControlName="notes"
            ></textarea>
        </mat-form-field>
      </div>
  </div>

  <div *ngIf="">
    <profile-med-info
        [isAuthorized]="isAuthorized"
        [inputForm]="inputForm"
        [isStaff]="isStaff">
        METRC Info
    </profile-med-info>
  </div>

  <div>
    <div  class="name-fields">
      <div *ngIf="isStaff || isAuthorized">
        <app-status-lookup
            [inputForm]="inputForm">
        </app-status-lookup>
      </div>

      <div *ngIf="isStaff" >
        <app-client-types-lookup
            [inputForm]="inputForm">
        </app-client-types-lookup>
      </div>
    </div>

    <div class="points">
      <mat-form-field appearance="outline">
      <mat-label >Reward Points</mat-label>
      <input  [disabled]="!isAuthorized" matInput
              type="text"
              id="title"
              formControlName="loyaltyPoints"
              class="form-control" >
      </mat-form-field>
    </div>

    <div>
      <mat-button-toggle-group  name="type"
                                aria-label="Font Style"
                                formControlName="taxSales">
        <mat-button-toggle [value]="1">Non Taxable Client</mat-button-toggle>
        <mat-button-toggle [value]="0">Taxable Client</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="toggle-format">
      <div> <mat-label>Price Level</mat-label></div>
      <div>
        <mat-button-toggle-group  [disabled] ='!isAuthorized'
                                  name="type"
                                  aria-label="Font Style"
                                  formControlName="priceTier">
          <mat-button-toggle [value]="0">Standard</mat-button-toggle>
          <mat-button-toggle [value]="1">Level 1</mat-button-toggle>
          <mat-button-toggle [value]="2">Level 2</mat-button-toggle>
          <mat-button-toggle [value]="3">Level 3</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </div>
</div>
