.grid-flow {
  --gap: 10px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

#customer-notes {
  margin:  5;
  object-fit: cover;
  width: 300px;
}

.text {
  // font-size: 1.1em;
  // margin: 5px;
}

.grid-info {
  --gap: 10px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: 140px 140px;
  width: 300px;
}
