<div *ngIf="(action$ | async) as action"></div>
<div *ngIf="saving"><mat-icon>save</mat-icon></div>
<ng-template #loading>
  <mat-spinner [diameter]="50"></mat-spinner>
  ...loading.
</ng-template>

<div class="container" *ngIf="(order$ | async) as item; else loading">

  <mat-card class="mat-card">
    <mat-card-title>
      <div class="header-container" *ngIf="inputForm" >
        <div class="grid-split-groups">
          <div>
            <h4><mat-icon>order</mat-icon> </h4>
            <app-value-fields
                [enabled]="false"
                [inputForm]="inputForm"
                [fieldName]="'id'">
              <div description>ID:</div>
            </app-value-fields>

            <div>
              <app-value-fields
                  [enabled]="false"
                  [inputForm]="inputForm"
                  [fieldName]="'serviceType'">
                Service Type
              </app-value-fields>
            </div>

            <app-value-fields
                [enabled]="false"
                [inputForm]="inputForm"
                [fieldName]="'orderCode'">
                <div description>Order Code:</div>
            </app-value-fields>

            <div [formGroup]="inputForm" *ngIf="inputForm" class="toggle-fields">
              <mat-slide-toggle
                        formControlName="activePO" >
                <mat-label>Suspended</mat-label>
              </mat-slide-toggle>
            </div>
          </div>
          <div *ngIf="posOrder">
            <app-order-header-demo-graphics
              [canRemoveClient]     ="true"
              [order]               ="posOrder"
              [mainPanel]           ="true"
              (outPutOpenClient)    ="openClient()"
              (outPutRemoveClient)  ="removeClient()"
              (outPutAssignCustomer)="assignCustomer($event)" >
            </app-order-header-demo-graphics>
          </div>
        </div>

        <div>
          <app-edit-buttons-standard
              (outputeupdateItem)     ="updateItem($event, false)"
              (outputupdateItemExit)  ="updateItemExit($event)"
              (outputupdatedeleteItem)="deleteItem($event)"
              (outputupdateonCancel)  ="onCancel($event)"
          ></app-edit-buttons-standard>
          <mat-divider></mat-divider>
        </div>
      </div>
    </mat-card-title>

    <mat-card-subtitle>
      Order Review
    </mat-card-subtitle>

    <mat-card-content>
      <mat-tab-group  style="width:100%;min-height:600px">
        <mat-tab label="ID POS Info" style="padding:5px">
          <div class="grid-split-groups">
            <div>
              <ng-container [ngTemplateOutlet]="identifier"></ng-container>
            </div>
            <div>
              <ng-container [ngTemplateOutlet]="types"></ng-container>
            </div>
            <div>
              <ng-container [ngTemplateOutlet]="staffView"></ng-container>
            </div>
          </div>
          <ng-container [ngTemplateOutlet]="datesView"></ng-container>
        </mat-tab>

        <mat-tab label="Shipping" style="padding:5px">
          <ng-container [ngTemplateOutlet]="shippingAddres"></ng-container>
        </mat-tab>

        <mat-tab label="Notes & Tags" style="padding:5px">
          <ng-container [ngTemplateOutlet]="notesAndTags"></ng-container>
        </mat-tab>

      </mat-tab-group>
    </mat-card-content>
  </mat-card>

</div>

<ng-template #identifier>
  <div class="text-form-field">
    <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'zrun'">
      ZRunID
    </app-value-fields>
  </div>
  <div class="text-form-field">
    <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'reportRunID'">
      Balance Sheet ID
    </app-value-fields>
  </div>
  <div class="text-form-field">
    <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'registerName'">
      POS / Device
    </app-value-fields>
  </div>

</ng-template>

<ng-template #types>

  <div class="text-form-field">
    <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'purchaseOrderNumber'">
      PO Number
    </app-value-fields>
  </div>

  <div class="text-form-field">
      <app-value-fields
        [inputForm]="inputForm"
        [fieldName]="'tableName'">
        Table Name
      </app-value-fields>
  </div>

  <div class="text-form-field">
    <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'progress'">
      Progress
    </app-value-fields>
  </div>

  <div class="text-form-field">
    <app-value-fields
        [inputForm]="inputForm"
        [fieldName]="'statusID'">
      StatusID
    </app-value-fields>
  </div>


</ng-template>

<ng-template #shippingAddres>
  <div class="text-form-field">
    <app-value-fields
        [inputForm]="inputForm"
        [fieldName]="'shipName'">
      Name
    </app-value-fields>
  </div>
  <div class="text-form-field">
    <app-value-fields
        [inputForm]="inputForm"
        [fieldName]="'shipAddress'">
      Address
    </app-value-fields>
  </div>
  <div class="text-form-field">
    <app-value-fields
        [inputForm]="inputForm"
        [fieldName]="'shipAddress2'">
      Address2
    </app-value-fields>
  </div>
  <div class="text-form-field">
    <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'shipSuite'">
      Suite
    </app-value-fields>
  </div>
  <div class="text-form-field">
    <app-value-fields
        [inputForm]="inputForm"
        [fieldName]="'shipCity'">
      City
    </app-value-fields>
  </div>
  <div class="text-form-field">
    <app-value-fields
        [inputForm]="inputForm"
        [fieldName]="'shipState'">
      State/Province
    </app-value-fields>
  </div>
  <div class="text-form-field">
    <app-value-fields
        [inputForm]="inputForm"
        [fieldName]="'shipPostalCode'">
      Postal
    </app-value-fields>
  </div>
  <div class="text-form-field">
    <app-value-fields
        [inputForm]="inputForm"
        [fieldName]="'shipZip'">
        Zip
    </app-value-fields>
  </div>
</ng-template>

<ng-template #staffView>

  <div *ngIf="(employees$ | async) as list">
    <app-mat-select
      [class]="'mat-form-regular'"
      [hideClear]="true"
      [inputForm]="inputForm"
      [list]="list"
      [useID]="true"
      (outputItem) = "assignEmployeeID($event)"
      [fieldName]="'employeeID'">
      Sales Person
    </app-mat-select>

    <app-mat-select
      [class]="'mat-form-regular'"
      [hideClear]="true"
      [inputForm]="inputForm"
      [list]="list"
      [useID]="true"
      [fieldName]="'driverID'">
      Driver
    </app-mat-select>

    <app-mat-select
      [class]="'mat-form-regular'"
      [hideClear]="true"
      [inputForm]="inputForm"
      [list]="list"
      [useID]="true"
      [fieldName]="'checkInRepName'">
      Check in Rep
    </app-mat-select>

    <app-mat-select
      [class]="'mat-form-regular'"
      [hideClear]="true"
      [inputForm]="inputForm"
      [list]="list"
      [useID]="true"
      [fieldName]="'operationsEmployee'">
      Operations
    </app-mat-select>
  </div>
</ng-template>

<ng-template #customerView>
  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'clientID'">
      Client ID
  </app-value-fields>
</ng-template>

<ng-template #notesAndTags>
  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'tableNumber'">
    Table
  </app-value-fields>
  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'fieldRepMemo'">
    Field Memo
  </app-value-fields>
  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'quote'">
    Quote
  </app-value-fields>
  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'eventSubject'">
    Event
  </app-value-fields>
  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'statusName'">
    Status
  </app-value-fields>
  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'resolutionDescription'">
    Resolution
  </app-value-fields>
</ng-template>

<ng-template #datesView>

  <mat-card [formGroup]="inputForm">
    <h3><mat-icon>time</mat-icon> </h3>
    <div class="grid-split-groups">
      <div>
        <h4>Transaction</h4>

        <div>
          <mat-form-field class="form-field" appearance ='outline'>
            <mat-label>Start Date</mat-label>
            <input matInput
                   [ngxMatDatetimePicker]="picker_orderDate"
                   placeholder="Start"
                   formControlName="orderDate">
            <mat-datepicker-toggle matSuffix [for]="picker_orderDate"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker_orderDate
               [showSpinners]="true"
               [showSeconds]="true"
               [stepHour]="true"
               [stepMinute]="true"
               [stepSecond]="true"
               [touchUi]="true"
               [color]="'primary'"
               [enableMeridian]="true"
               [disableMinute]="false"
               [hideTime]="false">
            </ngx-mat-datetime-picker>
         </mat-form-field>
        </div>

        <div>
          <mat-form-field class="form-field" appearance ='outline'>
            <mat-label>End Date</mat-label>
            <input matInput
                   [ngxMatDatetimePicker]="picker_completionDate"
                   placeholder="End"
                   formControlName="completionDate">
            <mat-datepicker-toggle matSuffix [for]="picker_completionDate"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker_completionDate
               [showSpinners]="true"
               [showSeconds]="true"
               [stepHour]="true"
               [stepMinute]="true"
               [stepSecond]="true"
               [touchUi]="true"
               [color]="'primary'"
               [enableMeridian]="true"
               [disableMinute]="false"
               [hideTime]="false">
            </ngx-mat-datetime-picker>
         </mat-form-field>
        </div>

      </div>

      <div>
        <h4>Schedule</h4>

        <div>
          <mat-form-field class="form-field" appearance ='outline'>
            <mat-label>Schedule Date</mat-label>
            <input matInput
                   [ngxMatDatetimePicker]="picker_scheduleDate"
                   placeholder="Schedule Date"
                   formControlName="scheduleDate">
            <mat-datepicker-toggle matSuffix [for]="picker_scheduleDate"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker_scheduleDate
               [showSpinners]="true"
               [showSeconds]="true"
               [stepHour]="true"
               [stepMinute]="true"
               [stepSecond]="true"
               [touchUi]="true"
               [color]="'primary'"
               [enableMeridian]="true"
               [disableMinute]="false"
               [hideTime]="false">
            </ngx-mat-datetime-picker>
         </mat-form-field>
        </div>

        <div>
          <mat-form-field class="form-field" appearance ='outline'>
            <mat-label>Scheduled To</mat-label>
            <input matInput
                   [ngxMatDatetimePicker]="picker_scheduleTo"
                   placeholder="Schedule To"
                   formControlName="scheduleTo">
            <mat-datepicker-toggle matSuffix [for]="picker_scheduleTo"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker_scheduleTo
               [showSpinners]="true"
               [showSeconds]="true"
               [stepHour]="true"
               [stepMinute]="true"
               [stepSecond]="true"
               [touchUi]="true"
               [color]="'primary'"
               [enableMeridian]="true"
               [disableMinute]="false"
               [hideTime]="false">
            </ngx-mat-datetime-picker>
         </mat-form-field>
        </div>
        <h4>Delivery</h4>
        <div class="text-form-field ">
          <app-value-fields

                [inputForm]="inputForm"
                [fieldName]="'routeID'">
            RouteID
          </app-value-fields>
        </div>
      </div>

      <div>
        <h4>Shipping</h4>
        <div>
          <mat-form-field class="form-field" appearance ='outline'>
            <mat-label>Shipped Out Order Date</mat-label>
            <input matInput
                   [ngxMatDatetimePicker]="picker_shipOutOrderDate"
                   placeholder="Shipped Date"
                   formControlName="shipOutOrderDate">
            <mat-datepicker-toggle matSuffix [for]="picker_shipOutOrderDate"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker_shipOutOrderDate
               [showSpinners]="true"
               [showSeconds]="true"
               [stepHour]="true"
               [stepMinute]="true"
               [stepSecond]="true"
               [touchUi]="true"
               [color]="'primary'"
               [enableMeridian]="true"
               [disableMinute]="false"
               [hideTime]="false">
            </ngx-mat-datetime-picker>
         </mat-form-field>
        </div>
        <div class="text-form-field ">
          <app-value-fields
                [inputForm]="inputForm"
                [fieldName]="'shippingNumber'">
            Tracking
          </app-value-fields>
        </div>

        <div>
          <mat-form-field class="form-field" appearance ='outline'>
            <mat-label>ETA</mat-label>
            <input matInput
                   [ngxMatDatetimePicker]="picker_eTA"
                   placeholder="ETA"
                   formControlName="eTA">
            <mat-datepicker-toggle matSuffix [for]="picker_eTA"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker_eTA
               [showSpinners]="true"
               [showSeconds]="true"
               [stepHour]="true"
               [stepMinute]="true"
               [stepSecond]="true"
               [touchUi]="true"
               [color]="'primary'"
               [enableMeridian]="true"
               [disableMinute]="false"
               [hideTime]="false">
            </ngx-mat-datetime-picker>
         </mat-form-field>
        </div>

        <div>
          <mat-form-field class="form-field" appearance ='outline'>
            <mat-label>Arrival Date</mat-label>
            <input matInput
                   [ngxMatDatetimePicker]="picker_arrivalDate"
                   placeholder="ETA"
                   formControlName="arrivalDate">
            <mat-datepicker-toggle matSuffix [for]="picker_arrivalDate"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker_arrivalDate
               [showSpinners]="true"
               [showSeconds]="true"
               [stepHour]="true"
               [stepMinute]="true"
               [stepSecond]="true"
               [touchUi]="true"
               [color]="'primary'"
               [enableMeridian]="true"
               [disableMinute]="false"
               [hideTime]="false">
            </ngx-mat-datetime-picker>
         </mat-form-field>
        </div>
      </div>

      <div>
        <h4>Agreements</h4>
        <div>
          <mat-form-field class="form-field" appearance ='outline'>
            <input matInput
                   [ngxMatDatetimePicker]="picker_termsDueDate"
                   placeholder="Terms Due"
                   formControlName="termsDueDate">
            <mat-datepicker-toggle matSuffix [for]="picker_termsDueDate"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker_termsDueDate
               [showSpinners]="true"
               [showSeconds]="true"
               [stepHour]="true"
               [stepMinute]="true"
               [stepSecond]="true"
               [touchUi]="true"
               [color]="'primary'"
               [enableMeridian]="true"
               [disableMinute]="false"
               [hideTime]="false">
            </ngx-mat-datetime-picker>
         </mat-form-field>
        </div>
      </div>

    </div>
  </mat-card>
</ng-template>


