<div *ngIf="(action$ | async) as action"></div>
<div *ngIf="saving"><mat-icon>save</mat-icon></div>
<ng-template #loading>
  <mat-spinner [diameter]="50"></mat-spinner>
  ...loading.
</ng-template>

<div class="container" *ngIf="(order$ | async) as item; else loading">

  <!-- <span *ngIf="inputForm">
    {{inputForm.value | json}}
  </span> -->

  <mat-card class="mat-card">
    <mat-card-title>
      <div class="header-container" *ngIf="inputForm" >
        <div>
          <h4><mat-icon>order</mat-icon> </h4>
          <app-value-fields
              [enabled]="false"
              [inputForm]="inputForm"
              [fieldName]="'id'">
            <div description>ID:</div>
          </app-value-fields>

          <app-value-fields
              [enabled]="false"
              [inputForm]="inputForm"
              [fieldName]="'orderCode'">
              <div description>Order Code:</div>
          </app-value-fields>
        </div>

        <div>
          <app-edit-buttons-standard
              (outputeupdateItem)     ="updateItem($event, false)"
              (outputupdateItemExit)  ="updateItemExit($event)"
              (outputupdatedeleteItem)="deleteItem($event)"
              (outputupdateonCancel)  ="onCancel($event)"
          ></app-edit-buttons-standard>
          <mat-divider></mat-divider>
        </div>
      </div>
    </mat-card-title>

    <mat-card-subtitle>
      Order Review
    </mat-card-subtitle>

    <mat-card-content>
      <mat-tab-group  style="width:100%">
        <mat-tab label="ID POS Info" style="padding:5px">
          <div class="grid-split-groups">
            <div>
              <ng-container [ngTemplateOutlet]="identifier"></ng-container>
            </div>
            <div>
              <ng-container [ngTemplateOutlet]="types"></ng-container>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Staff" style="padding:5px">
          <ng-container [ngTemplateOutlet]="staffView"></ng-container>
        </mat-tab>

        <mat-tab label="Customer" style="padding:5px">
          <ng-container [ngTemplateOutlet]="customerView"></ng-container>
        </mat-tab>

        <mat-tab label="Shipping" style="padding:5px">
          <ng-container [ngTemplateOutlet]="shippingAddres"></ng-container>
        </mat-tab>

        <mat-tab label="Notes & Tags" style="padding:5px">
          <ng-container [ngTemplateOutlet]="notesAndTags"></ng-container>
        </mat-tab>

        <mat-tab label="Dates" style="padding:5px">
          <ng-container [ngTemplateOutlet]="datesView"></ng-container>
        </mat-tab>

      </mat-tab-group>
    </mat-card-content>
  </mat-card>

</div>

<ng-template #identifier>


  <app-value-fields
    [inputForm]="inputForm"
    [fieldName]="'zrun'">
    ZRunID
  </app-value-fields>

  <app-value-fields
    [inputForm]="inputForm"
    [fieldName]="'reportRunID'">
    Balance Sheet ID
  </app-value-fields>

  <app-value-fields
    [inputForm]="inputForm"
    [fieldName]="'registerName'">
    POS / Device
  </app-value-fields>

  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'serviceType'">
    Service Type
  </app-value-fields>

</ng-template>

<ng-template #types>

  <app-value-fields
    [inputForm]="inputForm"
    [fieldName]="'purchaseOrderNumber'">
    PO Number
  </app-value-fields>

  <app-value-fields
    [inputForm]="inputForm"
    [fieldName]="'tableName'">
    Table Name
  </app-value-fields>

  <app-value-fields
    [inputForm]="inputForm"
    [fieldName]="'progress'">
    Progress
  </app-value-fields>

  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'statusID'">
    StatusID
  </app-value-fields>

</ng-template>

<ng-template #shippingAddres>
  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'shipName'">
    Name
  </app-value-fields>
  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'shipAddress'">
    Address
  </app-value-fields>
  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'shipAddress2'">
    Address2
  </app-value-fields>
  <app-value-fields
    [inputForm]="inputForm"
    [fieldName]="'shipSuite'">
    Suite
  </app-value-fields>
  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'shipCity'">
    City
  </app-value-fields>
  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'shipState'">
    State/Province
  </app-value-fields>
  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'shipPostalCode'">
    Postal
  </app-value-fields>
  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'shipZip'">
      Zip
  </app-value-fields>
</ng-template>

<ng-template #staffView>
  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'employeeID'">
    SalesID
  </app-value-fields>
  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'employeeName'">
    Salesperson
  </app-value-fields>
  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'driverID'">
    Driver ID
  </app-value-fields>
  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'deliveryEmployee'">
    Delivery
  </app-value-fields>
  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'operationsEmployee'">
    Operations Employee
  </app-value-fields>
  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'checkInRepName'">
      Check In Rep
  </app-value-fields>
</ng-template>

<ng-template #customerView>
  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'clientID'">
      Client ID
  </app-value-fields>
</ng-template>

<ng-template #notesAndTags>
  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'tableNumber'">
    Table
  </app-value-fields>
  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'fieldRepMemo'">
    Field Memo
  </app-value-fields>
  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'quote'">
    Quote
  </app-value-fields>
  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'eventSubject'">
    Event
  </app-value-fields>
  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'statusName'">
    Status
  </app-value-fields>
  <app-value-fields
      [inputForm]="inputForm"
      [fieldName]="'resolutionDescription'">
    Resolution
  </app-value-fields>
</ng-template>

<ng-template #datesView>
  <mat-card [formGroup]="inputForm">
    <h3>Date & Time </h3>
    <div class="ps-flex-grid-start">
      <div>
        <h4>Transaction</h4>
        <app-value-fields
              [inputForm]="inputForm"
              [fieldName]="'orderDate'">
          Start
        </app-value-fields>
        <app-value-fields
              [inputForm]="inputForm"
              [fieldName]="'completionDate'">
          End
        </app-value-fields>
      </div>

      <div>
        <h4>Schedule</h4>
        <app-value-fields
              [inputForm]="inputForm"
              [fieldName]="'scheduleDate'">
          Start
        </app-value-fields>
        <app-value-fields
              [inputForm]="inputForm"
              [fieldName]="'scheduleTo'">
          End
        </app-value-fields>
        <app-value-fields
              [inputForm]="inputForm"
              [fieldName]="'scheduleDate'">
          Preferred
        </app-value-fields>
      </div>

      <div>
        <h4>Shipping</h4>
        <app-value-fields
              [inputForm]="inputForm"
              [fieldName]="'shipOutOrderDate'">
          Shipped
        </app-value-fields>
        <app-value-fields
              [inputForm]="inputForm"
              [fieldName]="'shippingNumber'">
          Tracking
        </app-value-fields>

        <app-value-fields
              [inputForm]="inputForm"
              [fieldName]="'eTA'">
          ETA
        </app-value-fields>
        <app-value-fields
              [inputForm]="inputForm"
              [fieldName]="'arrivalDate'">
          Inventory Arrival
        </app-value-fields>
      </div>

      <div>
        <h4>Agreements</h4>
        <app-value-fields
              [inputForm]="inputForm"
              [fieldName]="'termsDueDate'">
          Terms
        </app-value-fields>
      </div>

      <div>
        <h4>Delivery</h4>
        <app-value-fields
              [inputForm]="inputForm"
              [fieldName]="'routeID'">
          RouteID
        </app-value-fields>
        <app-value-fields
              [inputForm]="inputForm"
              [fieldName]="'beginDate'">
          Begin Date
        </app-value-fields>
        <app-value-fields
              [inputForm]="inputForm"
              [fieldName]="'termsDueDate'">
          End Date
        </app-value-fields>
      </div>

      <div>
        <h4>Prep Work</h4>
        <app-value-fields
              [inputForm]="inputForm"
              [fieldName]="'orderPrepared'">
          Preppared
        </app-value-fields>
      </div>

      <div class="toggle-fields">
        <mat-slide-toggle
                  formControlName="activePO" >
          <mat-label>Active</mat-label>
        </mat-slide-toggle>
      </div>
    </div>
  </mat-card>
</ng-template>
