<!-- <div *ngIf="(order$ | async) as order; else loadingOrder"></div> -->
<!-- Site:
{{siteService.getAssignedSite() | json}} -->
<div  *ngIf="(order$ | async) as order; else loadingOrder"></div>
<div *ngIf="(action$ | async) as order"></div>
<div *ngIf="(sendmessage$ | async) as order"></div>

<div class="centered-flex"
     *ngIf="(uiHomePageSetting$ | async) as uiHomePageSetting">

  <mat-card class="container">
    <div class="grid-about">
      <div>
        <img class="pointless-logo"
            onerror   = "this.src='assets/images/logo.png'"
            src       = 'assets/images/logo.png' >
      </div>
      <div><a href="https://pointlesspos.com">PointlessPOS</a></div>
    </div>

    <mat-divider></mat-divider>

    <div class="centered-flex" >
      <div>
        <h3>{{uiHomePageSetting?.displayCompanyName}}</h3>
        <app-logo [logoSize]="'large'" ></app-logo>
      </div>
    </div>

    <div class="order-message" *ngIf="goingToPay">
      <mat-spinner [diameter]="50"></mat-spinner>
      ...going to payment
    </div>

    <div class="message-grid" *ngIf="(message$ | async) as message">
      <div>
        {{message?.message}}
      </div>
      <div *ngIf="message.result">
        <button class="small-button" mat-raised-button (click)="cancelMessage()">Clear</button>
      </div>
    </div>

    <div class="sendingMessage" *ngIf="sendingMessage">
      <mat-spinner [diameter]="50"></mat-spinner>
      ...sending
      <button mat-raised-button (click)="cancelMessage()">
        <mat-icon>cancel</mat-icon>Cancel
      </button>
    </div>

    <div class="navigating order-message" *ngIf="order">

        <mat-card>
          <mat-card-subtitle  >

            <div class="transaction-data-side-panel-smal" >
              <div *ngIf="order?.tableName" class="">Table   </div>
              <div *ngIf="order?.tableName" class=""> {{ order?.tableName }}</div>
            </div>

            <div class="transaction-data-side-panel-smal" *ngIf="order" >
              <div class=""> User  {{ userAuth.user?.username }}</div>
            </div>

            <!-- {{order.balanceRemaining }}
            {{order |json }} -->
            <div class="buttons-header">
              <div *ngIf="order.balanceRemaining != 0">
                <button mat-raised-button color="warn" (click)="requestService()">
                  <mat-icon>hail</mat-icon>
                  <br>Call Staff
                </button>
              </div>
              <div *ngIf="order.balanceRemaining != 0">
                <button mat-raised-button color="primary" (click)="requestCheck()">
                  <mat-icon>payment</mat-icon>
                  <br>Get Check
                </button>
              </div>
              <div *ngIf="order.balanceRemaining != 0">
                <button mat-raised-button color="primary" (click)="payOrder()">
                  <div *ngIf="!userAuth.user || userAuth.user?.username.toLowerCase() === 'temp'">
                    Login to Pay
                  </div>

                  <div *ngIf="userAuth.user && userAuth.user?.username.toLowerCase() != 'temp'">
                    <mat-icon>payment</mat-icon>
                    <br>Pay
                  </div>
                </button>
              </div>
            </div>

          </mat-card-subtitle>
          <mat-card-content>
            <app-payment-balance
              [mainPanel]="true"
              [qrOrder]="true"
              [order]="order">
            </app-payment-balance>
          </mat-card-content>
        </mat-card>

        <mat-card *ngIf="order">
          <pos-order-items
                [mainPanel]      ="true"
                [qrOrder]        ='true'
                [panelHeight]    ="orderItemsHeightStyle"
                [heightCalcStyle]="'none'"
                [disableActions] ='false'
                [posOrderItems]   ='order?.posOrderItems'
                [order]          ="order">
          </pos-order-items>

        </mat-card>
    </div>
  </mat-card>
</div>

<ng-template #loadingOrder>
  <div class="loading">
    <mat-spinner [diameter]="50"></mat-spinner>
    ...loading your order.
  </div>
</ng-template>


