.container  {
  height: 100%;
  width: 100%;
  background-color: rgb(216, 229, 241);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto minmax(145px, 1fr));
  gap: 10px;
  margin: 10px;
}

.button {
  width: 150px;
  margin:5px
}

mat-card {
  margin : 5px;
  padding: 5px;
}
