<div class="container">
  <mat-card >
    <mat-card-subtitle  *ngIf="isAndroid">
      <h4>Android</h4>
      <mat-label>
        DSI Payment System Avalible in App Mode
      </mat-label>
    </mat-card-subtitle>

    <mat-card-content *ngIf="isAndroid">
      <div class="grid-container">


          <div class="button">
            <button class="button" mat-raised-button color="primary" (click) ="checkResponse()">Permission Response</button>
            {{responseCheck | json}}
          </div>

          <div class="button">
            <button class="button" mat-raised-button color="primary" (click) ="checkPermission()">Permission Check</button>
            {{result | json}}
          </div>

          <div class="button">
            <button class="button" mat-raised-button  color="primary" (click) ="getInstance()">Instance Check</button>
            {{instance | json}}
          </div>

          <div class="button">
            <button class="button" mat-raised-button  color="primary" (click) ="reset()">Reset</button>
          </div>

          <div class="button">
            <button class="button" mat-raised-button  color="primary" (click) ="login()">Login</button>
          </div>

        </div>
    </mat-card-content>


    {{err}}
  </mat-card>

</div>
