<mat-card *ngIf="searchForm">
  <ng-content></ng-content>

  <div class="button-grid">

      <span class="margin-10">
        <button class="button"
                mat-button
                (click)="resetSearch()">
                <mat-icon>refresh</mat-icon>
          <span>Reset</span>
        </button>
      </span>

      <span class="margin-10">
        <button class="button"
                mat-button
                (click)="refreshSearch()">
                <mat-icon>refresh</mat-icon>
          <span>Refresh</span>
        </button>
      </span>

  </div>

  <div *ngIf="searchForm"  [formGroup]="searchForm">
    <div *ngIf="!disableName">
      <app-value-fields
            *ngIf="searchForm"
            [fieldsClass]="'fields-small'"
            [inputForm]="searchForm"
            [fieldName]="'name'">
        Name
      </app-value-fields>
    </div>

    <ng-container [ngTemplateOutlet]="departmentIDSelect"></ng-container>

    <ng-container [ngTemplateOutlet]="attributeSelect"></ng-container>

    <div>
      <mat-button-toggle-group name="type"
              aria-label="Item Type"
              formControlName="gender">
        <mat-button-toggle class="discount-type-button"
            [value]="item.id"
            (tapClick)="refreshSearch()"
            *ngFor="let item of genderList" >
            {{item.name}}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>

  <div  class="grid-container-selectors">
    <div *ngIf="advanced && pagingForm">
      <app-value-fields
            [fieldsClass]="'fields-small'"
            [inputForm]="pagingForm"
            [fieldName]="'pageNumber'">
        Page
      </app-value-fields>
    </div>

    <div *ngIf="advanced && pagingForm">
      <div  *ngIf="sortList" [formGroup]="pagingForm">
        <mat-form-field style="font-size:1em;" appearance="outline">
          <mat-label>Sort By</mat-label>
          <mat-select formControlName ="sort"  >
              <mat-option
                    *ngFor="let item of sortList"
                    [value]="item">
                {{item}}
              </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

</mat-card>

<ng-template #departmentIDSelect>
  <div   *ngIf="parent === 'class' && (departments$ | async) as list">
    <div *ngIf="searchForm" [formGroup]="searchForm">
      <mat-form-field appearance="outline"   >
          <mat-select
                type="'number'"
                [formControlName]   = "'departmentID'">
              <mat-option [value]="0">
                Clear
             </mat-option>
              <mat-option  *ngFor="let item of list"
                  [value]="item.id">
                  {{ item.name }}
              </mat-option>
          </mat-select>
      </mat-form-field>
    </div>
  </div>
</ng-template>

<ng-template #attributeSelect>
  <div   *ngIf="parent === 'class' && (attributes$ | async) as list">
    <div *ngIf="searchForm" [formGroup]="searchForm">
      <mat-form-field appearance="outline"  >
          <mat-select
                type="'text'"
                [formControlName]   = "'name'">
              <mat-option [value]="">
                Clear
              </mat-option>

              <mat-option  *ngFor="let item of list"
                  [value]="item.name">
                  {{ item.name }}
              </mat-option>

          </mat-select>
      </mat-form-field>
    </div>
  </div>
</ng-template>
