<div *ngIf="(user$ | async) as user"></div>
<div [id]="scrollStyle" [style]="styleHeight">
  <mat-card *ngIf="uiTransactions"  class="panel mat-card" >
    <mat-card-content
              class="mat-card-content"
              [id]="scrollStyle"
              style="overflow-y: hidden;
                    width: 300px;
                    max-height: calc(100vh - 165px)">

      <div class="button-grid">

        <div>
          <button class="button"
                  mat-raised-button
                  (click)="resetSearch()">
                  <mat-icon>refresh</mat-icon>
            <span>Reset</span>
          </button>
        </div>

        <div>
          <button class="button"
                  mat-raised-button
                  (click)="refreshSearch()">
                  <mat-icon>refresh</mat-icon>
            <span>Refresh</span>
          </button>
        </div>

        <div  style="margin-left:25px"
              *ngIf="isStaff">
          <mat-label>Online Orders</mat-label> <br>
          <mat-slide-toggle
                    (change)="updateOrderSearch(searchModel)"
                    [(ngModel)]="searchModel.onlineOrders"  >
          </mat-slide-toggle>
        </div>

      </div>

      <div style="margin-top:5px;margin-bottom:2px;">
        <app-key-pad
                    [inputForm]     ="searchForm"
                    [inputTypeValue]= "'text'"
                    [placeHolder]   ="'Search Phrase'"
                    (outPutValue)   ="orderSearch($event)">
        </app-key-pad>
      </div>

      <div *ngIf="(auth?.accessHistoryReports || isUser) && toggleOpenClosedAll == '2'" class="grid-fields fields">
        <div>
          <div>
            <button  mat-raised-button
                  class="date-filter-buttton"
                  (click)="toggleDateRangeFilter()">
                  Completed Dates<mat-icon>date_range</mat-icon>
            </button>
            <span *ngIf="!isUser">
              <mat-label>History</mat-label>
              <mat-slide-toggle
                        (change)="updateOrderSearch(searchModel)"
                        [(ngModel)]="searchOrderHistory"  >
              </mat-slide-toggle>
            </span>
          </div>
            <mat-date-range
              [inputForm] ="completionDateForm">
            </mat-date-range>
        </div>
      </div>

      <div class="date-filter-buttton" *ngIf="auth?.accessHistoryReports || isUser" class="fields">
        <button mat-raised-button
                class="date-filter-buttton"
                (click)="toggleScheduleDateRangeFilter()">
                Scheduled Dates
          <mat-icon>date_range</mat-icon>
        </button>
      </div>

      <div *ngIf="(auth?.accessHistoryReports && (showScheduleFilter && scheduleDateForm)) ">
        <div  style="width:185px">
          <mat-date-range
              [inputForm] = "scheduleDateForm" >
              Schedule Dates
          </mat-date-range>
        </div>
      </div>

      <mat-button-toggle-group
            *ngIf       ="searchModel"
            name        ="toggleOpenClosedAll"
            class       ="toggle-view"
            [(ngModel)] ="toggleOpenClosedAll"
            (change)    ="refreshSearch()" >
        <mat-button-toggle class="mat-button-toggle" class="mat-button-toggle" value="1" >Open </mat-button-toggle>
        <mat-button-toggle class="mat-button-toggle" value="2">Closed</mat-button-toggle>
        <mat-button-toggle class="mat-button-toggle" value="0">All</mat-button-toggle>
      </mat-button-toggle-group>

      <mat-button-toggle-group
            *ngIf="isStaff"
            name        ="toggleSuspendedOrders"
            class       ="toggle-view"
            [(ngModel)] ="toggleSuspendedOrders"
            (change)    ="refreshSearch()" >
        <mat-button-toggle  value="0" >Active </mat-button-toggle>
        <mat-button-toggle  value="1"
                            *ngIf="auth?.allowSuspendTransaction"
                            matTooltipHideDelay="1000">Suspended</mat-button-toggle>
      </mat-button-toggle-group>

      <mat-button-toggle-group
            *ngIf       ="isStaff && viewType !=0"
            name        ="toggleOrdersGreaterThanZero"
            class       ="toggle-view"
            [(ngModel)] ="toggleOrdersGreaterThanZero"
            (change)    ="refreshSearch()"   >
        <mat-button-toggle value="0" > Orders > {{0 | currency}} </mat-button-toggle>
        <mat-button-toggle value="1">  All</mat-button-toggle>
      </mat-button-toggle-group>

      <div #toggleGroup>
        <mat-button-toggle-group
              #toggleGroup
              *ngIf       ="isStaff"
              name        = "toggleTypeEmployee"
              class       ="toggle-view"
              [(ngModel)] ="toggleTypeEmployee"
              (change)    ="changeToggleTypeEmployee()" >
          <mat-button-toggle value="1"
                            matTooltipPosition="above"
                            matTooltipHideDelay="1000" > <mat-icon>badge</mat-icon> </mat-button-toggle>
          <mat-button-toggle value="0"
                            matTooltipPosition="above"
                            matTooltipHideDelay="1000">
              <mat-icon>receipt</mat-icon> </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div *ngIf="isStaff"
            [hidden]="toggleTypeEmployee  === '0' && searchModel"
            #selectorEmpDiv
            class="toggle-selector">

        <h4>Employees</h4>
        <button mat-raised-button (click)="listEmployees(1)">Active</button>
        <button mat-raised-button (click)="listEmployees(2)">On Clock</button>
        <button mat-raised-button (click)="listEmployees(3)">Terminated</button><br>
        <h5 *ngIf="searchModel?.employeeName"><mat-icon>search</mat-icon> {{searchModel?.employeeName }}</h5>
        <button mat-raised-button (click)="clearEmployee()"><mat-icon>close</mat-icon></button>
        <div *ngIf="employees$ | async"></div>
      </div>

      <div *ngIf="isStaff"
          [hidden]="toggleTypeEmployee === '1' && searchModel"
          class="toggle-selector"
          #selectorDiv>
        <app-mat-toggle-selector
              *ngIf              ="searchModel"
              [id]               ="searchModel.serviceTypeID"
              [list$]            ="serviceTypes$"
              [toggleDimensions] ="''"
              [toggleStyleHeight] ="''"
              [toggleClass]="'toggleclass-noheight'"
              (outPutID)="setServiceType($event)">
              Sale Type
        </app-mat-toggle-selector>
      </div>

    </mat-card-content>
  </mat-card>
</div>

<ng-template #loading >
  <mat-spinner></mat-spinner>
</ng-template>
