<div [id]="scrollStyle">
  <mat-card *ngIf="uiTransactions"  class="panel" >
    <mat-card-content>
      <div class="button-grid">

        <div>
          <button class="button"
                  mat-button
                  (click)="resetSearch()">
                  <mat-icon>refresh</mat-icon>
            <span>Reset</span>
          </button>
        </div>

        <div >
          <button class="button"
                  mat-button
                  (click)="refreshSearch()">
                  <mat-icon>refresh</mat-icon>
            <span>Refresh</span>
          </button>
        </div>

        <div  *ngIf="!smallDevice && isStaff">
          <button class="button"
                  mat-button
                  (click)="newOrder()">
            <mat-icon>receipt</mat-icon><span>New Order</span>
          </button>
        </div>

        <div  *ngIf="!smallDevice && !isUser">
          <button class="button"
                  mat-button
                  (click)="displayPanel()">
                  <mat-icon>close_fullscreen</mat-icon>
            <span>Hide</span>
          </button>
        </div>

        <div  *ngIf="smallDevice">
          <button
                  mat-button
                  (click)="exitBottomSheet()">
            <mat-icon>close</mat-icon><span>Hide</span>
          </button>
        </div>

        <div *ngIf="!smallDevice && isStaff">
          <button class="button"
                    mat-button
                    (click)="newOrderOptions()">
              <mat-icon>add</mat-icon><span>Other New</span>
          </button>
        </div>

        <div *ngIf="isStaff">
          <button class="button"
                  mat-button
                  (click)="gotoPayments()">
            <mat-icon>credit_card</mat-icon>
            <span>Payments</span>
          </button>
        </div>

      </div>

      <div class="center-keypad" style="margin-top:5px;">
        <app-key-pad
                    [inputForm]     ="searchForm"
                    [inputTypeValue]= "'text'"
                    (outPutValue)   ="orderSearch($event)">
          <h4>Enter Phrase</h4>
        </app-key-pad>
      </div>

      <div *ngIf="(isAuthorized || isUser) && toggleOpenClosedAll == '2'" class="grid-fields fields">
        <div>
          <div>
            <button mat-raised-button
                  class="date-filter-buttton"
                  (click)="toggleDateRangeFilter()">
                  Completed Dates<mat-icon>date_range</mat-icon>
            </button>
            <mat-label>History</mat-label>
            <mat-slide-toggle
                      (change)="updateOrderSearch(searchModel)"
                      [(ngModel)]="searchOrderHistory"  >
            </mat-slide-toggle>
          </div>

            <mat-date-range
              [inputForm] ="completionDateForm">
            </mat-date-range>
        </div>

        <!-- <div class="toggle-fields">

        </div> -->
      </div>

      <div class="toggle-fields" *ngIf="isStaff">
        <mat-label>Online Orders</mat-label>
        <mat-slide-toggle
                  (change)="updateOrderSearch(searchModel)"
                  [(ngModel)]="searchModel.onlineOrders"  >
        </mat-slide-toggle>
      </div>


      <div class="date-filter-buttton" *ngIf="isAuthorized || isUser" class="fields">
        <button mat-raised-button
                class="date-filter-buttton"
                (click)="toggleScheduleDateRangeFilter()">
                Scheduled Dates
          <mat-icon>date_range</mat-icon>
        </button>
      </div>

      <div *ngIf="showScheduleFilter && scheduleDateForm">
        <div  style="width:185px">
          <mat-date-range
              [inputForm]      ="scheduleDateForm" >
              Schedule Dates
          </mat-date-range>
        </div>
      </div>
      <!-- (outputDateRange)="emitScheduledDatePickerData($event)" -->

      <mat-button-toggle-group
            *ngIf       ="searchModel"
            name        ="toggleOpenClosedAll"
            class       ="toggle-view"
            [(ngModel)] ="toggleOpenClosedAll"
            (change)    ="refreshSearch()" >
        <mat-button-toggle value="1" >Open </mat-button-toggle>
        <mat-button-toggle value="2">Closed</mat-button-toggle>
        <mat-button-toggle value="0">All</mat-button-toggle>
      </mat-button-toggle-group>

      <mat-button-toggle-group
            *ngIf="isStaff"
            name        ="toggleSuspendedOrders"
            class       ="toggle-view"
            [(ngModel)] ="toggleSuspendedOrders"
            (change)    ="refreshSearch()"
          >
        <mat-button-toggle value="0" >Active </mat-button-toggle>
        <mat-button-toggle value="1"
                            matTooltipPosition="above"
                            matTooltipHideDelay="1000">Suspended</mat-button-toggle>
      </mat-button-toggle-group>

      <mat-button-toggle-group
            *ngIf       ="isStaff && viewType !=0"
            name        ="toggleOrdersGreaterThanZero"
            class       ="toggle-view"
            [(ngModel)] ="toggleOrdersGreaterThanZero"
            (change)    ="refreshSearch()"   >
        <mat-button-toggle value="0" > Orders > {{0 | currency}} </mat-button-toggle>
        <mat-button-toggle value="1">  All</mat-button-toggle>
      </mat-button-toggle-group>

      <div #toggleGroup>
        <mat-button-toggle-group
              #toggleGroup
              *ngIf="isStaff"
              name        = "toggleTypeEmployee"
              class       ="toggle-view"
              [(ngModel)] ="toggleTypeEmployee"
              (change)    ="changeToggleTypeEmployee()" >
          <mat-button-toggle value="1"
                            matTooltipPosition="above"
                            matTooltipHideDelay="1000" > <mat-icon>badge</mat-icon> </mat-button-toggle>
          <mat-button-toggle value="0"

                            matTooltipPosition="above"
                            matTooltipHideDelay="1000">
              <mat-icon>receipt</mat-icon> </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div *ngIf="isStaff" 
            [hidden]="toggleTypeEmployee  === '0' && searchModel"
            #selectorEmpDiv
            class="toggle-selector"  > 
        <app-mat-toggle-selector
                [id]      ="searchModel.employeeID"
                [list$]   ="employees$"
                [toggleDimensions]="''"
                [toggleStyleHeight]="''"
                (outPutID)="setEmployee($event)">
                Employee
        </app-mat-toggle-selector>
      </div>
      <div *ngIf="isStaff"
          [hidden]="toggleTypeEmployee === '1' && searchModel"
          class="toggle-selector"
          #selectorDiv>
        <app-mat-toggle-selector
              *ngIf     ="searchModel"
              [id]      ="searchModel.serviceTypeID"
              [list$]   ="serviceTypes$"
              [toggleDimensions]="''"
              [toggleStyleHeight]="''"
              (outPutID)="setServiceType($event)">
              Sale Type
        </app-mat-toggle-selector>
      </div>

    </mat-card-content>
  </mat-card>
</div>
<ng-template #loading >
  <mat-spinner></mat-spinner>
</ng-template>
