mat-toolbar {
  height: 55px;
}

.grid-items {
  --gap: 5px;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(40px, 1fr) );
  margin-top: 15px;
  gap: 5px;
  width: 300px;
}

// .theme-spacer {
//   // margin-left: 10px;
// }

