mat-toolbar {
  height: 55px;
}

.grid-items {
  margin-left: -10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 25px;
}

.mat-item {
  margin-top: 10px;
}
