mat-toolbar {
  height: 55px;
}

// footer {
//   position: fixed;
//   bottom: 0px;
//   overflow: hide;
//   width: 100%;
//   height: 50px; 
// }

.grid-items {
  --gap: 5px;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(40px, 1fr) );
  margin-top: 15px;
  gap: 5px;
  width: 375px;
}

.theme-spacer { 
  // margin-top: 10px;
}

// .row-align { 
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   width: 300px;
// }

// .row-align { 
//   // display: flex;
//   // justify-content: center;
//   // align-content: center;
//   width: 100%;
//   height: 55px;
//   width: 300px;
// }