
<mat-toolbar
      [color]="matToolbarColor"
      [style]="headerBackColor"
      *ngIf="smallDevice"
       >
  <ng-container [ngTemplateOutlet]="outlet"></ng-container>
</mat-toolbar>

<ng-template #footerMenu>
  <div class="grid-items">
    <div  class="mat-item" *ngIf="isStaff">
        <button
              mat-raised-button
              color="primary"
              aria-label="Order history"
              (click)="navPOSOrders()">
             Orders
            <mat-icon
              matBadgeColor="accent"
              matBadgePosition="before">
              list
            </mat-icon>
        </button>
    </div>

    <div  class="mat-item">
      <app-cart-button
          [hideAddNewOrder]="true"
          [smallDevice]="true">
      </app-cart-button>
    </div>

    <div class="mat-item">

      <span class="item-span" *ngIf="refreshCreditCardButton && !order?.completionDate" style="margin-bottom:3px">
        <ng-container [ngTemplateOutlet]="dsiEMVAndroidCardButton"></ng-container>
      </span>

      <button mat-raised-button
        *ngIf="!refreshCreditCardButton"
        fxFill
        color="primary"
        (click)="toggleOpenOrderBar()">

        <div *ngIf="order && order.history">
          <mat-icon>view</mat-icon>
          View Cart
        </div>

        <div *ngIf="order && !order.history">

          <div *ngIf="deviceInfo && deviceInfo.phoneDevice && order">
            <mat-icon
                matBadge="{{ order.itemCount }}"
                matBadgeColor="accent"
                matBadgePosition="before">
                shopping_cart
            </mat-icon>
            Edit Cart
          </div>

          <div *ngIf="!deviceInfo || !deviceInfo.phoneDevice">
            <mat-icon>edit</mat-icon>Edit Cart
          </div>

        </div>

      </button>

    </div>

    <div class="mat-item" *ngIf="order && !smallDevice">
      <button  mat-raised-button
            fxFill
            color="primary"
            (click)="makePayment()">
        <mat-icon>credit_card</mat-icon>

        <span *ngIf="!order.history">
          Check Out
        </span>
        <span *ngIf="order.history">
          Payments
        </span>

      </button>
    </div>

    <div class="mat-item" *ngIf="order && !smallDevice">
      <button  mat-raised-button
               fxFill
               color="primary"
               (click)="printingService.previewReceipt()">
        <mat-icon>print</mat-icon>
        <span >
          Print
        </span>
      </button>
    </div>

  </div>
</ng-template>


<ng-template #dsiEMVAndroidCardButton>

  <dsiemvandroid-pay-btn
    [order]="order"
    *ngIf="androidApp && deviceName"
    [devicename]="deviceName"
    [uiTransactions]="uiConfig"
    [platForm]="platForm"
    [creditBalanceRemaining]="order?.creditBalanceRemaining"
    [stripeTipValue]="0"
    [footerButton]="true"
    [paymentAmount]="order?.balanceRemaining" >
    <div footerstyle>
      <mat-icon color="warn">credit_card</mat-icon>
      Credit
    </div>
  </dsiemvandroid-pay-btn>
</ng-template>
