@import "/src/mixins.scss";

mat-card {
  width: 99%;
}

.grid-container {
  --gap: 5px;
  display: grid;
  grid-gap: var(--gap);
  gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 95%;
}

.grid-schedule {
  --gap: 5px;
  display: grid;
  grid-gap: var(--gap);
  gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 550px;
}

mat-form-field {
  width: 185px;
}
