<div *ngIf="currentManifest && inputForm; else loading">

  <app-manifest-editor-header
    (outPutSave)            ="saveManifest($event)"
    (outPutSave)            ="saveManifest($event)"
    (outPutDelete)          ="deleteManifest($event)"
    (outPutDispatchManifest)="dispatchManifest($event)"
    [inputForm]             ="inputForm">
  </app-manifest-editor-header>

  <mat-tab-group mat-align-tabs="start"
                md-stretch-tabs >

    <mat-tab label="Items" >
      <mat-card *ngIf="currentManifest && manifestID !=0 ">
        <app-inventory-list
          [manifestID]="manifestID"
          [siteID]    ="site"
          [gridlist]  ="'grid-list-nopanel'"
          [autoReceive]="autoReceive"
          [listOnly]  ="true">
        </app-inventory-list>
      </mat-card>
    </mat-tab>

    <mat-tab label="Properties" *ngIf="inputForm" >
      <div class="grid-container" >

        <div>
          <app-value-fields
                [inputForm]="inputForm"
                [fieldName]="'name'">
                Name
          </app-value-fields>
        </div>

        <div  class="grid-item"
              [formGroup]="inputForm"
              *ngIf="isWarehouse && sites">
          <mat-form-field appearance="outline">
            <mat-label>Destination </mat-label>
              <mat-select
                        type             ="number"
                        (selectionChange)="setDestinationSite($event)"
                        formControlName  ="destinationID" >
                <mat-option *ngFor       ="let item of sites"
                            [value]      ="item.id">
                  {{ item.name }}
                </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div  class="grid-item"
              [formGroup]="inputForm"
              *ngIf="(type$ | async) as type">
          <mat-form-field appearance="outline" >
            <mat-label>Type </mat-label>
              <mat-select
                        type             ="text"
                        (selectionChange)="applyType($event)"
                        formControlName  ="type" >
                <mat-option *ngFor       ="let item of type"
                            [value]      ="item.name">
                  {{ item.name }}
                </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div  class="grid-item"
              [formGroup]="inputForm"
              *ngIf="(status$ | async) as status">
          <mat-form-field appearance="outline" >
            <mat-label>Status </mat-label>
              <mat-select
                        type             ="text"
                        (selectionChange)="applyStatus($event)"
                        formControlName  ="status" >
                <mat-option *ngFor="let item of status"
                            [value]="item.name">
                  {{ item.name }}
                </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div  class="mat-label">
        <mat-slide-toggle
            class="mat-label"
            [(ngModel)] = "active">
          <mat-label class="mat-label">Active</mat-label>
        </mat-slide-toggle>
      </div>

      <mat-divider></mat-divider>
      <div><h3>Schedule</h3></div>

      <div class="grid-schedule" *ngIf="inputForm">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Schedule Date</mat-label>
              <input matInput
                  [matDatepicker]="pickerSchedule"
                  [(ngModel)]= "scheduleDate">
            <mat-datepicker-toggle matSuffix [for]="pickerSchedule"></mat-datepicker-toggle>
            <mat-datepicker #pickerSchedule></mat-datepicker>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Send Date</mat-label>
              <input matInput
                  [matDatepicker]="pickerSend"
                  [(ngModel)]= "sendDate">
            <mat-datepicker-toggle matSuffix [for]="pickerSend"></mat-datepicker-toggle>
            <mat-datepicker #pickerSend></mat-datepicker>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Accepted Date</mat-label>
              <input matInput
                  [matDatepicker]="pickerAccepted"
                  [(ngModel)]= "acceptedDate">
            <mat-datepicker-toggle matSuffix [for]="pickerAccepted"></mat-datepicker-toggle>
            <mat-datepicker #pickerAccepted></mat-datepicker>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Paid Date</mat-label>
              <input matInput
                    [matDatepicker]="pickerPaid"
                    [(ngModel)]= "paidDate">
            <mat-datepicker-toggle matSuffix [for]="pickerPaid"></mat-datepicker-toggle>
            <mat-datepicker #pickerPaid></mat-datepicker>
          </mat-form-field>
        </div>

      </div>

      <mat-divider></mat-divider>

      <div class="grid-container"
           [formGroup]="inputForm"
           *ngIf="inputForm">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Notes</mat-label>
              <textarea matInput
                        rows="10"
                        columns="100"
                        formControlName="description"
              ></textarea>
          </mat-form-field>
        </div>
      </div>

    </mat-tab>

  </mat-tab-group>
</div>

<ng-template #loading>
  ...loading
  <mat-spinner [diameter]="50"></mat-spinner>
</ng-template>
