@import "/src/mixins.scss";

mat-card {
  width: 99%;
}

.grid-container {
  --gap: 5px;
  display: grid;
  grid-gap: var(--gap);
  gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 425px;
  // @include for-phone-only  {
  //   display: flex;
  //   flex-direction: row;
  //   flex-wrap: wrap;
  //   justify-content: center;
  //   align-content: center;
  //   justify-content: space-between;
  // }
}

mat-form-field {
  width: 185px;
}
