.grid-schedule {
  grid-template-columns: 100px 70px 70px;
  gap: 10px;
  display: grid;
  margin:3px;
  border-radius: 5px;
  border-style: dashed;
  border-color: cornflowerblue;
  border-width: 1px;
  padding: 4px;

}

.grid-schedule:hover {
  border-color: crimson;
}
