@import "/src/mixins.scss";

.buttons-container2 {
  --gap: 5px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(170px, 1fr) );
  grid-auto-flow: row;
}

.buttons-container {
  --gap: 10px;
  display: grid;
  margin-left: 10px;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(175px, 1fr) );
  grid-auto-flow: row;
  @include for-phone-only  {
    --gap: 5px;
    display: grid;
    margin-left: 10px;
    gap: var(--gap);
    grid-template-columns: repeat( auto-fit, minmax(165px, 1fr) );
    grid-auto-flow: row;
  }

}

button {
  margin: 5px;
  width: 175px;
  height: 85px;

  @include for-phone-only  {
    margin:  2px;
    width: 155px;
    height: 55px;
    // height: 40px;
  }

}
