<div *ngIf="(action$ | async) as action"></div>

<!-- creditCardPaymentsMade {{creditCardPaymentsMade }} -->
<div  *ngIf="order && mainPanel && uiTransactionSetting"
      class="buttons-container">

  <ng-container [ngTemplateOutlet]="receiptView"></ng-container>

  <ng-container [ngTemplateOutlet]="payOptionView"></ng-container>

  <ng-container [ngTemplateOutlet]="listItemsView"> </ng-container>

  <ng-container [ngTemplateOutlet]="isemailOptionView"></ng-container>

  <ng-container [ngTemplateOutlet]="isSSMOptionView"></ng-container>

  <ng-container [ngTemplateOutlet]="istextOptionView"></ng-container>

  <ng-container [ngTemplateOutlet]="isSSMOptionView"></ng-container>

  <div *ngIf="isApp">
    <ng-container [ngTemplateOutlet]="spacer5"></ng-container>
  </div>

  <div *ngIf="!smallDevice && !isUser && (mainPanel && !order.suspendedOrder) && (userAuths && userAuths.allowSuspendTransaction)">
    <span>
      <button mat-raised-button
              [disabled]="( (order.history && !isAuthorized) && order.clientID == 0)  == true"
              color="warn"
              (click)="suspendOrder()">Suspend</button>
    </span>
  </div>

  <div *ngIf="!smallDevice && !isUser && (mainPanel && order.suspendedOrder)  && (userAuths && userAuths.allowSuspendTransaction)">
    <span>
      <button mat-raised-button color="warn"
              [disabled]="( (order.history && !isAuthorized) && order.clientID == 0)  == true"
              (click)="removeSuspension()">Un Suspend</button>
    </span>
  </div>

  <ng-container [ngTemplateOutlet]="adjustmentOptions"></ng-container>

  <ng-container [ngTemplateOutlet]="communications"></ng-container>

  <ng-container [ngTemplateOutlet]="isManifestView"></ng-container>

  <ng-container [ngTemplateOutlet]="islistViewItemView"></ng-container>

  <div  *ngIf="isStaff">
    <ng-container [ngTemplateOutlet]="changeTransactionTypeView"></ng-container>
  </div>

   <div *ngIf="isApp && (mainPanel && !smallDevice)  && (posDevice && posDevice.enableExitLabel)">
    <ng-container [ngTemplateOutlet]="printLabelView"></ng-container>
  </div>

  <div *ngIf="isApp && (mainPanel && !smallDevice)  && (posDevice && posDevice.enableExitLabel)">
    <ng-container [ngTemplateOutlet]="rePrintLabelsView"></ng-container>
  </div>

  <div>
    <ng-container [ngTemplateOutlet]="isbalanceSheetMenuView"></ng-container>
  </div>

  <div *ngIf="order && order.history">
    <h5>Transaction can not be modified.</h5>
  </div>

</div>

<ng-template #listItemsView>
  <div  *ngIf="!(mainPanel && !smallDevice)">
    <button  mat-raised-button
            class="button"
            color="primary"
            (click)="showItems()">
      <mat-icon>list</mat-icon>
      Items
    </button>
  </div>
</ng-template>

<ng-template #changeTransactionTypeView>
  <button mat-raised-button class="button"
          color="primary"
          (click)="changeTransactionType()">
          <mat-icon>refresh</mat-icon>
    <span>
      Change Type
    </span>
  </button>
</ng-template>

<ng-template #listViewItemView>
  <button mat-raised-button class="button"
          color="primary"
          (click)="toggleListView()">
          <mat-icon>list</mat-icon>
    <span>
      List View
    </span>
    <span *ngIf="listView">
      Item View
    </span>
  </button>
</ng-template>

<ng-template #inventoryManifestView>
  <button mat-raised-button class="button"
          color="primary"
          (click)="makeManifest()">
          <mat-icon>list</mat-icon>
    <span>
      Inventory Manifest
    </span>
  </button>
</ng-template>

<ng-template #sendOptionView>
  <div *ngIf="isApp && prepOrderOnClose">
    <button mat-raised-button
            [disabled]="!(isStaff)"
            class="button"
            color="accent"
            (click)="sendToPrep()">
      <mat-icon>done</mat-icon>
       Send
    </button>
  </div>
</ng-template>

<ng-template #textOptionView>
  <div *ngIf="ssmsOption && !isUser ">
    <button  [disabled]="!(order && order.clients_POSOrders && order.clients_POSOrders.phone) "
            mat-raised-button
            class="button"
            color="primary"
            (click)="textNotify()">
      <mat-icon>email</mat-icon>
      <span *ngIf="!smallDevice">
        Text Notify
      </span>
    </button>
  </div>
</ng-template>

<ng-template #ssmsOptionView>
    <button  [disabled]="!(order && order.clients_POSOrders && order.clients_POSOrders.email) "
            mat-raised-button
            class="button"
            color="primary"
            (click)="emailNotifyOrder()">
      <span>
         Notify ready
       </span>
    </button>
</ng-template>

<ng-template #emailOptionView>

  <button  [disabled]="!(order && order.clients_POSOrders && order.clients_POSOrders.email) "
    mat-raised-button
    class="button"
    color="primary"
    (click)="emailOrder()">
    <mat-icon>email</mat-icon>
    <span >
      Email
    </span>
  </button>
</ng-template>

<ng-template #receiptView>
  <button [disabled]="!(isStaff || (order.history || order.balanceRemaining < order.total) && isApp)"
      mat-raised-button
      class="button"
      color="primary"
      (click)="printReceipt()">
    <mat-icon>print</mat-icon>
    <span>
    Receipt
    </span>
  </button>
</ng-template>

<ng-template #rePrintLabelsView>
  <button mat-raised-button
          class="button"
          color="primary"
          aria-label="Clear"
          (click)="rePrintLabels()">
    <mat-icon>print</mat-icon>
    <span>
      RePrint Labels
    </span>
  </button>
</ng-template>

<ng-template #printLabelView>
  <button mat-raised-button
          class="primary"
          color="primary"
          aria-label="Clear"
          (click)="printLabels()">
    <mat-icon>print</mat-icon>
    <span>
    Print Labels
    </span>
  </button>
</ng-template>

<ng-template #payOption>
  <button mat-raised-button
          class="primary"
          color="primary"
          aria-label="Clear"
          (click)="payOrder()">
    <mat-icon>credit_card</mat-icon>
    <span>
      Pay
    </span>
  </button>
</ng-template>

<ng-template #exitButton>
  <button mat-raised-button
          class="button"
          color="warn"
          aria-label="Clear"
          (click)="clearOrder()">
    <mat-icon>exit_to_app</mat-icon>
    <span>
    Exit
    </span>
  </button>
</ng-template>

<ng-template #refundOrderButton>
  <div  *ngIf="!isUser && (userAuths && userAuths.refundOrder)">
    <button mat-raised-button class="button"
            [disabled]=" order.total<0 || ((order.history) && (itemsPrinted || paymentsMade)) == true"
            color="warn"
            (click)="refundOrder()">
      <mat-icon>refresh</mat-icon>
      <span>
        Refund Order
      </span>
    </button>
  </div>
</ng-template>

<ng-template #voidOrderButton>
  <div  *ngIf="!isUser && (userAuths && userAuths.voidOrder)">
    <button mat-raised-button class="button"
            [disabled]="creditCardPaymentsMade"
            color="warn"
            (click)="voidOrder()">
      <mat-icon>delete</mat-icon>
      <span>
        Void
      </span>
    </button>
  </div>
</ng-template>

<ng-template #deleteOrderView>
  <button mat-raised-button
          class="primary"
          color="warn"
          aria-label="delete"
          [disabled]="itemsPrinted || isPaymentsMade "
          (click)="deleteOrder()">
    <mat-icon>delete</mat-icon>
    <span>
      Delete Order
    </span>
  </button>
</ng-template>

<ng-template #adjustmentOptionsView>
  <div *ngIf="isStaff">
    <button aria-label="user menu"
            mat-raised-button
            [matMenuTriggerFor]="menu"
            #menuTrigger="matMenuTrigger"
            (click)="menuTrigger.openMenu()" >
      <mat-icon >tune</mat-icon>
      Adjustment
    </button>

    <mat-menu class="mat-menu-panel"
              [overlapTrigger]="false"
              #menu="matMenu">

      <span (mouseleave)="menuTrigger.closeMenu()">

        <div>
          <ng-container [ngTemplateOutlet]="refundOrderButton"></ng-container>
        </div>

        <div>
          <ng-container [ngTemplateOutlet]="voidOrderButton"></ng-container>
        </div>

        <div>
          <ng-container [ngTemplateOutlet]="deleteOrderView"></ng-container>
        </div>

      </span>
    </mat-menu>

</div>
</ng-template>

<ng-template #cancelButton>
  <button mat-raised-button class="button"
          color="warn"
          [disabled]="(order.history || order.completionDate) || (order.balanceRemaining > 0 && order.balanceRemaining != 0)"
          aria-label="delete"
          (click)="deleteOrder()">
  <mat-icon>delete</mat-icon>
  <span>
      Cancel
      </span>
    </button>
</ng-template>

<ng-template #refundItem>
  <button mat-raised-button class="button"
    color="primary"
    (click)="removeDiscounts()">
    <span>
      Clear Discounts
    </span>
  </button>
</ng-template>

<ng-template #cashDepositView>
  <button *ngIf="!userAuths?.balanceSheetDisableCashDrops" mat-raised-button class="button"
    color="primary"
    (click)="drawerDropAction(1)">
    <span>
      Add Cash
    </span>
  </button>
</ng-template>

<ng-template #cashDropView>
  <button *ngIf="!userAuths?.balanceSheetDisableCashDrops" mat-raised-button class="button"
    color="primary"
    (click)="drawerDropAction(1)">
    <span>
      Drop Cash
    </span>
  </button>
</ng-template>

<ng-template #openCashDrawerView>
  <button mat-raised-button
          class="button"
          color="primary"
          (click)="openCashDrawer(1)">
    <span>
      Open Drawer
    </span>
  </button>
</ng-template>

<ng-template #balanceSheetView>
  <button mat-raised-button class="button"
    color="primary"
    (click)="openBalanceSheetAction()">
    <span>
      Balance Sheet
    </span>
  </button>
</ng-template>

<ng-template #balanceSheetMenuView>

  <button aria-label="user menu"
          mat-raised-button

          [matMenuTriggerFor]="menu"
          #menuTrigger="matMenuTrigger"
          (click)="menuTrigger.openMenu()" >
    <mat-icon >point_of_sale</mat-icon>
    Drawer
  </button>

  <mat-menu class="mat-menu-panel"
            [overlapTrigger]="false"
            #menu="matMenu">

    <span (mouseleave)="menuTrigger.closeMenu()">

      <div>
        <ng-container [ngTemplateOutlet]="balanceSheetView"></ng-container>
      </div>

      <div>
        <ng-container [ngTemplateOutlet]="cashDepositView"></ng-container>
      </div>

      <div>
        <ng-container [ngTemplateOutlet]="cashDropView"></ng-container>
      </div>

      <div>
        <ng-container [ngTemplateOutlet]="openCashDrawerView"></ng-container>
      </div>

    </span>

    </mat-menu>

</ng-template>

<ng-template #communicationsView>

  <button aria-label="user menu"
          mat-raised-button
          [matMenuTriggerFor]="menu"
          #menuTrigger="matMenuTrigger"
          (click)="menuTrigger.openMenu()" >
    <mat-icon >email</mat-icon>
    Notify
  </button>

  <mat-menu class="mat-menu-panel"
            [overlapTrigger]="false"
            #menu="matMenu">

    <span (mouseleave)="menuTrigger.closeMenu()">

      <div *ngIf="order.balanceRemaining == 0 && isStaff">

        <div *ngIf="(messagesZero$ | async) as list">
          <div *ngFor="let item of list">

              <button mat-raised-button
                      color="primary"
                      (click)="sendMessage(item, order)">
                {{item?.subject}}
              </button>
            </div>

        </div>
      </div>

      <div *ngIf="order.balanceRemaining != 0 && isStaff">

        <div *ngIf="(messagesNotZero$ | async) as list">
          <div *ngFor="let item of list">

            <button mat-raised-button
                    color="primary"
                    (click)="sendMessage(item, order)">
                {{item?.subject}}
            </button>

          </div>
        </div>
      </div>

      <div>
        <button mat-raised-button
                color="warn"
                (click)="orderMethodsService.openOrderMessages(order)">
           <mat-icon>open_in_new</mat-icon>View Messages
        </button>
      </div>

    </span>

  </mat-menu>

</ng-template>
