
<div  *ngIf="order && mainPanel"
      class="buttons-container">

  <div *ngIf="order.history">
    <h5>Transaction can not be modified.</h5>
  </div>

  <div *ngIf="(!order.history || !order.completionDate)
              || order.balanceRemaining < order.total">
    <button   mat-raised-button class="button"
              color="warn"
              aria-label="delete"
              (click)="deleteOrder()">
        <mat-icon>delete</mat-icon>
        <span *ngIf="!smallDevice">
          Delete
        </span>
    </button>
  </div>

  <div>
    <button mat-raised-button
            class="button"
            color="warn"
            aria-label="Clear"
            (click)="clearOrder()">
        <mat-icon>exit_to_app</mat-icon>
        <span *ngIf="!smallDevice">
          Leave Order
        </span>
    </button>
  </div>

  <div *ngIf="isStaff">
    <button mat-raised-button
            class="button"
            color="primary"
            (click)="printLabels()">
      <mat-icon>print</mat-icon>
       Labels
    </button>
  </div>

  <div *ngIf="isStaff">
    <button mat-raised-button
            class="button"
            color="primary"
            (click)="rePrintLabels()">
      <mat-icon>print</mat-icon>
        Re-Print Labels
    </button>
  </div>

  <div  *ngIf="!order.history && isAuthorized && (itemsPrinted || paymentsMade)">
    <button mat-raised-button class="button" color="primary" (click)="voidOrder()">
      <mat-icon>delete</mat-icon>
      <span *ngIf="!smallDevice">
        Void
      </span>
    </button>
  </div>

  <div *ngIf="mainPanel && smallDevice">
    <button  mat-raised-button
        class="button"
        color="primary"
        (click)="showItems()">
      <mat-icon>list</mat-icon>
      Items
    </button>
  </div>

  <div *ngIf="mainPanel && !order.suspendedOrder">
    <span *ngIf="!order.history && isAuthorized && order.clientID != 0">
      <button mat-raised-button color="warn"
              (click)="suspendOrder()">Suspend Order</button>
    </span>
  </div>

  <div *ngIf="mainPanel && order.suspendedOrder">
    <span *ngIf="!order.history && isAuthorized && order.clientID != 0">
      <button mat-raised-button color="warn"
              (click)="removeSuspension()">Remove Suspension</button>
    </span>
  </div>

  <div *ngIf="isStaff || (order.history || order.balanceRemaining < order.total)">
    <button mat-raised-button
            class="button" color="primary"
            (click)="printReceipt()">
      <mat-icon>print</mat-icon>
      <span *ngIf="!smallDevice">
         Receipt
       </span>
    </button>
  </div>

  <div *ngIf="(!order.history || !order.completionDate) && !isStaff">
    <button mat-raised-button class="button" color="primary" (click)="makePayment()">
      <mat-icon>credit_card</mat-icon>
      <span *ngIf="!smallDevice">
         Check Out / Pay
       </span>
    </button>
  </div>

</div>
