@import "/src/mixins.scss";

.buttons-container2 {
  --gap: 5px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(145px, 1fr) );
  grid-auto-flow: row;

  @include for-phone-only  {
    --gap: 5px;
    display: grid;
    margin: 10px;
    gap: var(--gap);
    grid-template-columns: repeat( auto-fit, minmax(155px, 1fr) );
    grid-auto-flow: row;
  }
}

button{
  text-overflow: ellipsis;
  text-size-adjust: auto  ;
  overflow: hidden;
}

.buttons-container {

  // max-height: 300px;

  --gap: 5px;
  display: grid;
  margin-left: 10px;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(145px, 1fr) );
  grid-auto-flow: row;

  @include for-phone-only  {
    --gap: 5px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat( auto-fit, minmax(155px, 1fr) );
    grid-auto-flow: row;
  }
}

button {
  width: 135px;
  height: 65px;

  @include for-phone-only  {
    width: 145px;
    height: 65px;
  }
}
