
<div  *ngIf="order && mainPanel"
      class="buttons-container">

  <div *ngIf="order.history">
    <h5>Transaction can not be modified.</h5>
  </div>


  <div>
    <button [disabled]="!(isStaff || (order.history || order.balanceRemaining < order.total) && isApp)"
            mat-raised-button
            class="button"
            color="primary"
            (click)="printReceipt()">
      <mat-icon>print</mat-icon>
      <span *ngIf="!smallDevice">
         Receipt
       </span>
    </button>
  </div>

  <div *ngIf="emailOption">
    <button  [disabled]="!(order && order.clients_POSOrders && order.clients_POSOrders.email) "
            mat-raised-button
            class="button"
            color="primary"
            (click)="emailOrder()">
      <mat-icon>email</mat-icon>
      <span *ngIf="!smallDevice">
         Email
       </span>
    </button>
  </div>

  <div *ngIf="emailOption">
    <button  [disabled]="!(order && order.clients_POSOrders && order.clients_POSOrders.email) "
            mat-raised-button
            class="button"
            color="primary"
            (click)="emailNotifyOrder()">
      <mat-icon>email</mat-icon>
      <span *ngIf="!smallDevice">
         Email Notify
       </span>
    </button>
  </div>

  <div *ngIf="ssmsOption">
    <button  [disabled]="!(order && order.clients_POSOrders && order.clients_POSOrders.phone) "
            mat-raised-button
            class="button"
            color="primary"
            (click)="textNotify()">
      <mat-icon>email</mat-icon>
      <span *ngIf="!smallDevice">
         Text Notify
       </span>
    </button>
  </div>

  <div >
    <button mat-raised-button
            [disabled] = "!((!order.history || !order.completionDate) || isStaff)"
            class="button"
            color="primary"
            aria-label="Check Out / Pay"
            (click)="makePayment()">
      <mat-icon>credit_card</mat-icon>
      <span *ngIf="!smallDevice">
         Check Out
       </span>
    </button>
  </div>

  <div *ngIf="isApp">
    <button mat-raised-button
            [disabled]="!(isStaff)"
            class="button"
            color="primary"
            (click)="sendToPrep()">
      <mat-icon>done</mat-icon>
       Send
    </button>
  </div>

  <div *ngIf="isApp">
    <button mat-raised-button
            [disabled]="!(isStaff)"
            class="button"
            color="primary"
            (click)="printLabels()">
      <mat-icon>print</mat-icon>
       Labels
    </button>
  </div>

  <!-- <div>
    <button mat-raised-button
            [disabled]="!(isStaff  && isApp)"
            class="button"
            color="primary"
            (click)="rePrintLabels()">
      <mat-icon>print</mat-icon>
        Re-Print Labels
    </button>
  </div> -->

  <div *ngIf="mainPanel && !order.suspendedOrder">
    <span>
      <button mat-raised-button
              [disabled]="( (order.history && !isAuthorized) && order.clientID == 0)  == true"
              color="warn"
              (click)="suspendOrder()">Suspend</button>
    </span>
  </div>

  <div *ngIf="mainPanel && order.suspendedOrder">
    <span>
      <button mat-raised-button color="warn"
              [disabled]="( (order.history && !isAuthorized) && order.clientID == 0)  == true"
              (click)="removeSuspension()">Un Suspend</button>
    </span>
  </div>
  <!-- && isAuthorized
  && (itemsPrinted || paymentsMade)) === false -->
  <div>
    <button mat-raised-button class="button"
              [disabled]="  ((order.history) && (itemsPrinted || paymentsMade)) == true"

            color="primary"
            (click)="voidOrder()">
      <mat-icon>delete</mat-icon>
      <span *ngIf="!smallDevice">
        Void
      </span>
    </button>
  </div>

  <div  *ngIf="!(mainPanel && smallDevice)">
    <button  mat-raised-button

            class="button"
            color="primary"
            (click)="showItems()">
      <mat-icon>list</mat-icon>
      Items
    </button>
  </div>


  <div>
    <button mat-raised-button
            [disabled]="!(isStaff  && isApp)"
            class="button"
            color="primary"
            (click)="rePrintLabels()">
      <mat-icon>print</mat-icon>
        Re-Print Labels
    </button>
  </div>
  <!--  -->

  <div >
    <button   mat-raised-button class="button"
              color="warn"
              [disabled]="(order.history || order.completionDate) || (order.balanceRemaining > 0)"
              aria-label="delete"
              (click)="deleteOrder()">
        <mat-icon>delete</mat-icon>
        <span *ngIf="!smallDevice">
          Delete
        </span>
    </button>
  </div>
  <div></div>

  <div>
    <button mat-raised-button
            class="button"
            color="warn"
            aria-label="Clear"
            (click)="clearOrder()">
        <mat-icon>exit_to_app</mat-icon>
        <span *ngIf="!smallDevice">
          Leave Order
        </span>
    </button>
  </div>
</div>
