@import "/src/mixins.scss";

.buttons-container2 {
  --gap: 5px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(115px, 1fr) );
  grid-auto-flow: row;

  @include for-phone-only  {
    --gap: 5px;
    display: grid;
    margin: 10px;
    gap: var(--gap);
    grid-template-columns: repeat( auto-fit, minmax(115px, 1fr) );
    grid-auto-flow: row;
  }
}


.buttons-container {
  --gap: 5px;
  display: grid;
  margin-left: 10px;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(125px, 1fr) );
  grid-auto-flow: row;
  overflow-x: auto;
  overflow-y: hidden;
  @include for-phone-only  {
    --gap: 5px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat( auto-fit, minmax(125px, 1fr) );
    grid-auto-flow: row;
    width: 98%;
    overflow: hidden;
  }
}

button {
  width: 115px;
  height: 65px;

  @include for-phone-only  {
    width: 115px;
    height: 65px;
  }
}
button{
  text-overflow: ellipsis;
  text-size-adjust: auto  ;
  overflow: hidden;
  white-space: normal;
  line-height: 1em;
  text-align: center;
}
