<mat-card>
  <mat-card-title>
    <mat-icon>file_download</mat-icon>
    Download </mat-card-title>

  <mat-card-content>
    <div class="grid-item"
          *ngIf="exportDataService.schemas$ && inputForm">
        <form-select-list [searchForm]      = "inputForm"
                          [formFieldName]   ="'name'"
                          [list$]           = "schema$"
                          [showActiveInactive]="false"
                          (selectionChange) = "selectSchema($event)">
        <div fieldSearchDescription>Schema Type Selection</div>
        </form-select-list>
    </div>


    <div *ngIf="schemaValue">
      <button mat-raised-button (click)="export()">
        <mat-icon>file_download</mat-icon>Download
      </button>
    </div>

    <div class="message"
         *ngIf="(exporting$ | async) as item; exportProgress">
      {{message}}
    </div>

    <div *ngIf="exporting">
      <mat-spinner [diameter]="50"></mat-spinner>
      ...generating
    </div>

  </mat-card-content>

</mat-card>


