<mat-sidenav-container>

  <!-- <button
      mat-button
      [matMenuTriggerFor]="departmentMenu"
      #departmentMenuTrigger="matMenuTrigger"
      (mouseover)="openMenu()" >
      Department View
    <mat-icon>expand_more</mat-icon>
  </button>

  <mat-menu class="mat-menu-panel"
            [overlapTrigger]="false"
            #departmentMenu="matMenu">
      <span >
        <div  *ngIf="(departments$ | async) as list">

          <app-mat-toggle-selector
            (outPutItem)     = "refreshDepartmentSearch($event)"
            [mouseOver]      = "true"
            [showIcon]       ="'true'"
            [textLength]     = "21"
            [toggleDimensions]="'toggle-group-tall'"
            [toggleHeight]   ="'toggle-buttons-height-size-tall'"
            [useMatMenu]     ='true'
            [list]           = "list">
          </app-mat-toggle-selector>

        </div>
      </span>
  </mat-menu> -->

  <div    class="grid-container">
    <div  class="form-width"
          *ngIf="searchForm && !smallDevice && !tinyDepartmentFilter">
      <search-debounce-input
            [(itemNameInput)] = "itemNameInput"
            [itemNameControl] = "'itemName'"
            [searchForm]      = "searchForm"
            (outPutMethod)    = "refreshSearchPhrase($event)">
        <div fieldDescription>
            <mat-icon>search</mat-icon>
            Search
        </div>
      </search-debounce-input>
    </div>

    <div  *ngIf="!isApp && (!smallDevice && !tinyDepartmentFilter)"
          class="search-buttons">
      <div *ngIf="keyboardDisplayOn">
        <button mat-button
                (click)="toggleKeyboard()">
                <mat-icon>keyboard</mat-icon></button>
      </div>
      <div *ngIf="multifilter">
        <button mat-button
                (click)="clearAll()">
          <span *ngIf="!smallDevice">
            Reset
          </span>
          <mat-icon>reset</mat-icon>
        </button>
      </div>
      <div>
        <button  mat-button
                (click)="multifilter = !multifilter">
          <span [class]="'mdi mdi-filter'"></span>
        </button>
      </div>
    </div>
    <div *ngIf="isApp"
         class="search-buttons">
      <div>
        <button mat-button
                (click)="clearAll()">
            <span *ngIf="!smallDevice">
              <!-- Reset -->
            </span>
             Reset
            <!-- <mat-icon>reset</mat-icon> -->
        </button>
      </div>
      <div >
        <button  mat-button
                (click)="multifilter = !multifilter">
          <span *ngIf="!smallDevice">
            Filter
          </span>
          <span [class]="'mdi mdi-filter'"></span>
        </button>
      </div>
    </div>

    <div *ngIf="multifilter">
      <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Categories
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon>category</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

            <div  class="grid-item-departments">
              <app-mat-toggle-selector
                  *ngIf="(categories$ | async) as list"
                  [mouseOver]      = "false"
                  [showIcon]       = "showIcon"
                  [textLength]     = "21"
                  [toggleDimensions]="'toggle-group-tall'"
                  [toggleHeight]   = "toggleCatHeight"
                  (outPutItem)     = "refreshCategorySearch($event)"
                  [textLength]     = "21"
                  [list]           = "list">
              </app-mat-toggle-selector>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Brands
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon>branding_watermark</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div  class="grid-item-departments" >
            <app-mat-toggle-selector
                *ngIf="(clientSearchResults$ | async) as listbrands"
                [mouseOver]      = "false"
                [showIcon]       ="showIcon"
                [textLength]     = "21"
                [toggleDimensions]="'toggle-group-tall'"
                [toggleHeight]   = "toggleDepartmentHeight"
                (setItem)        = "refreshTypeSearch($event)"
                [textLength]     = "21"
                [fieldName]      = "'company'"
                [list]           = "listbrands.results">
            </app-mat-toggle-selector>
          </div>

        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Types
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon>table_view</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <!-- <div   class="grid-item-departments"
                *ngIf="(productTypes$ | async) as list">

            <app-mat-toggle-selector
                [mouseOver]      = "false"
                [showIcon]        = "showIcon"
                [textLength]      = "21"
                [toggleDimensions]= "'toggle-group-tall'"
                [toggleHeight]    = "toggleTypeHeight"
                (setItem)         = "refreshTypeSearch($event)"
                [textLength]      = "21"
                [materialIcons]   = "'true'"
                [list]            = "list">
            </app-mat-toggle-selector> -->

            <div  class="grid-item-departments" >
              <app-mat-toggle-selector
                  *ngIf             = "(productTypes$ | async) as list"
                  [mouseOver]       = "false"
                  [showIcon]        = "showIcon"
                  [textLength]      = "21"
                  [toggleDimensions]= "'toggle-group-tall'"
                  [toggleHeight]    = "toggleCatHeight"
                  (outPutItem)      = "refreshCategorySearch($event)"
                  [textLength]      = "21"
                  [list]            = "list">
              </app-mat-toggle-selector>
            </div>

        </mat-expansion-panel>
      </mat-accordion>
    </div>

   <div class="grid-item-departments"
         *ngIf="!multifilter">
      <ng-container>
        <app-mat-toggle-selector
            *ngIf            = "(departments$ | async) as list"
            (outPutItem)     = "refreshDepartmentSearch($event)"
            [mouseOver]      = "true"
            [showIcon]       = "'true'"
            [textLength]     = "21"
            [toggleDimensions] ="'toggle-group-100'"
            [toggleHeight]     = "'toggle-buttons-height-size-tall'"
            [list]             = "list"
            [hideAllOption]  = 'true'
          >
        </app-mat-toggle-selector>
      </ng-container>
    </div>
  </div>





</mat-sidenav-container>



