<mat-sidenav-container>

<div class="grid-container">
  <div  [formGroup]="searchForm"
      class="grid-item form-width" >
      <mat-form-field appearance="outline" class="form-fields">
        <mat-label><mat-icon>search</mat-icon>Search / Scan </mat-label>
        <input
              class="input-value"
              #input
              matInput
              appAutoFocusInput
              type           ="text"
              id             ="name"
              [(ngModel)]    ="itemNameInput"
              formControlName="itemName">
        <button *ngIf="itemNameInput" matSuffix
                mat-icon-button aria-label="Clear"
                (click)="itemNameInput=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
  </div>

  <div class="search-buttons">
    <div *ngIf="keyboardDisplayOn">
      <button mat-button
              (click)="toggleKeyboard()">
              <mat-icon>keyboard</mat-icon></button>
    </div>

    <div >
      <button mat-button
              (click)="clearAll()">
              Reset<mat-icon>reset</mat-icon></button>
    </div>
    <!-- <div >
      <button mat-button
              (click)="clearAll()">
              <mat-icon>refresh</mat-icon></button>
    </div> -->

  </div>

  <mat-accordion multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Categories
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>category</mat-icon>
        </mat-panel-description>

      </mat-expansion-panel-header>

        <div  class="grid-item"
              *ngIf="(categories$ | async) as list">
          <mat-button-toggle-group
                                  name         = "type"
                                  aria-label   = "Font Style"
                                  [(ngModel)]  = "categoryID"
                                  (change)     = "refreshSearch()"
                                  vertical
              >
            <mat-button-toggle class="toggle-buttons"
                               [value]="0"
                                >
              Any
            </mat-button-toggle>
            <mat-button-toggle
                                class="toggle-buttons"
                                type="button"
                                [value]="item"
                                *ngFor="let item of list" >
              {{item.name | truncateText : 21}}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

    </mat-expansion-panel>
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Brands
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>branding_watermark</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div  class="grid-item"
            *ngIf="(clientSearchResults$ | async) as list">
        <div *ngIf=" list.results as brands">
          <mat-button-toggle-group
                                  name="type"
                                  aria-label="Font Style"
                                  [(ngModel)]  = "brandID"
                                  (change)="refreshSearch()"
                                  vertical
              >
            <mat-button-toggle class="toggle-buttons"
                                [value]="0"
                                >
              Any Brand
            </mat-button-toggle>
            <mat-button-toggle
                                class="toggle-buttons"
                                type="button"
                                [value]="item"
                                *ngFor="let item of brands" >
              {{item.company | truncateText : 21}}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Types
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>table_view</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div  class="grid-item"  *ngIf="(productTypes$ | async) as list">
        <mat-button-toggle-group
                          name="type"
                          aria-label="Font Style"
                          [(ngModel)]  = "productTypeSearch"
                          (change)="refreshSearch()"
                          vertical
          >

          <mat-button-toggle class="toggle-buttons"
                              [value]="0"
                              type="button"
                              >
            Any Type
          </mat-button-toggle>
          <mat-button-toggle
                              class="toggle-buttons"
                              type="button"
                              [value]="item"
                              *ngFor="let item of list" >
            {{item.name | truncateText : 21}}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>


    </mat-expansion-panel>
  </mat-accordion>

</div>

</mat-sidenav-container>
