
.features {
  // width: 350px;
  // padding: 10px;
}

.grid-loader {
  display: grid;
  grid-template-columns: 235px 50px;
  gap: 10px
}

button {
  margin: 3px;
}

.grid-buttons {
  display: grid;
  // grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat( auto-fit, minmax(175px, 1fr) );
  gap: 10px
}
