
<div *ngIf="(action$ | async) as item"></div>

<div >
  <!-- {{discountInfos | json}} -->
  <div
       *ngIf="discountInfos">
    <h5>Drag / Drop to Sort</h5>
    <div class="drag-container">

      <div  class="drag-list "
            cdkDropList
            #accordionList="cdkDropList"
            (cdkDropListDropped)  ="drop($event)" >
        <div *ngFor="let item of discountInfos; let index = index;"
             class="pop" cdkDrag  (click)="assignItem(item, index)">
            <div class="grid-row">
              <div>
                {{item?.sort}} - {{item?.name}}
              </div>
              <div>
                <button  mat-button  (click)="deleteSelected(item, index)">
                  Remove  <mat-icon>delete</mat-icon>
                </button>
              </div>

              <div>
                <button  mat-button  (click)="editSelected(item, index)">
                  Edit <mat-icon>edit</mat-icon>
                </button>
              </div>

            </div>
          </div>

      </div>
    </div>
  </div>

</div>

