.content-container {
  // min-height: 100vh;
  // height: initial;
}

.gridster-container {
  min-height: 100%;
  height: calc(100vh - 1em - 50px);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-width: 5px;
  border-color: black;
}

gridster {
  border-width: 5px;
  border-color: black;
  background-position: center  !important;
  background-repeat: no-repeat !important;
  background-size: cover       !important;
}

gridster-item {
  border-radius: 5px;
  border: 1px;
}

mat-checkbox {
  margin-left: 5px;
  margin-right: 5px;
}

button {
  height: 30px;
}

.menu-bar {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  top: 0;
  right: 0;
  z-index: 1000;
}

.gridster-item {
  position: relative;
  top: 0;
  left: 0;
  border-radius: 15px;
  padding: 5px;
}

.gridster-item-user {
  position: relative;
  top: 0px;
  left: 0;
  border-radius: 15px;
  padding: 5px;
}

.title   {
  font-size: large;
  color: rgb(44, 39, 39);
  display: flex;
  justify-content: center;
}
