// .gridster {
//   top: 200px;
//   position: relative;
//   display: flex;
//   height: 500px;
//   flex-direction: column;
// }
.content-container {
  min-height: 100vh;
  height: initial;
}

.gridster-container {
  min-height: 100%;
  height: calc(100vh - 3em - 50px);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg {

}

gridster-item {
  border-radius: 5px;
  border: 1px;
}

mat-checkbox {
  margin-left: 5px;
  margin-right: 5px;
}

button {
  height: 30px;
}




.menu-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  top: 0;
  left: 0;
  z-index: 4;
}

.gridster-item {
  position: relative;
  top: -30px;
  left: 0;
  // z-index: 3;
  border-radius: 15px;
  padding: 5px;
}

.gridster-item-user {
  position: relative;
  top: 0px;
  left: 0;
  // z-index: 3;
  border-radius: 15px;
  padding: 5px;
}

