<div    [style.height]="pixelHeight"
        [style.max-height]="pixelHeight"
         *ngIf="layoutService.dashboardModel">

  <gridster [style.background]="backgroundColor"
            [style.opacity]="opacity/100"
            [style.background-blend-mode]="backgroundblendmode"
            [style.background-image]="'url('+ image +')'"

            [style.background-position] = "'center'"
            [style.background-repeat]   = "'no-repeat'"
            [style.background-size]     = "'cover'"
            [style.max-height]="pixelHeight"
            [style.height]="pixelHeight"
            [style.width]="pixelWidth"

            [options]="options"
            class="gridster-container"
            (drop)="onDrop($event)"
          >

    <gridster-item  [style.opacity]="getOpacity(item?.object?.opacity/100)"
                    [style.border-radius]="getBorderRadius(item?.object?.borderRadius)"
                    [style.border]="getBorder(item?.object?.border)"
                    [item]="item"
                    *ngFor="let item of layoutService.dashboardArray">
        <div>
          <div  class="menu-bar" *ngIf="authService.isAuthorized &&
                                      layoutService.designerMode">
          <mat-menu-basic
              [enableDelete]="true"
              [enableSettings]="true"
              (outputDelete)="removeItem(item)"
              (outputSettings)="openItemSettings(item)">
            </mat-menu-basic>
          </div>

          <div [class]="gridsteritemclass">
            <div class="title">
              <mat-label class="title"> {{ item?.object?.name }}  </mat-label >
              <span *ngIf="layoutService.designerMode">  | Type:  {{ item?.componentName }}</span>
            </div>

            <ng-container
                    class="cutting-corners"
                    *ngComponentOutlet="item.component;
                    ndcDynamicInputs  : item.object;
                    ndcDynamicOutputs : outputs">
            </ng-container>
          </div>
        </div>
    </gridster-item>
  </gridster>


</div>
