  <div  [formGroup] ="searchForm">
    <mat-form-field fxFlexFill appearance="outline">
      <mat-label>
        <ng-content select="[fieldDescription]">
        </ng-content>
      </mat-label>
      <input
            #input
            matInput
            type             ="text"
            id               ="name"
            [formControlName]="itemNameControl"
            [(ngModel)]      ="itemNameInput"
          />

      <button *ngIf="itemNameInput"
                matSuffix
              mat-icon-button aria-label="Clear"
              (click)="clearInput()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

