<!-- <div *ngIf="searchForm"> -->
<!-- <ng-container [ngTemplateOutlet]="isSearchFormOn"></ng-container>

<ng-template #searchFormView> -->

  <div  [formGroup] ="searchForm">
    <mat-form-field fxFlexFill appearance="outline">
      <mat-label>
        <ng-content fieldDescription>
        </ng-content>
      </mat-label>
      <input
            #input
            matInput
            type             ="text"
            id               ="name"
            [formControlName]="itemNameControl"
            [(ngModel)]      ="itemNameInput"
          />

      <button   *ngIf="itemNameInput && itemNameInput.length>0"
                matSuffix
                mat-icon-button aria-label="Clear"
                (click)="clearInput()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

<!-- </ng-template> -->
