
<div  *ngIf="inputForm"
      [formGroup]="inputForm">

<mat-card>
  <mat-card-subtitle>
    <ng-content></ng-content>
  </mat-card-subtitle>

  <mat-card-content>
      <div class="toggle-fields">
        <mat-slide-toggle
                  formControlName="displayNotes"
                  >
          <mat-label>Display Notes</mat-label>
        </mat-slide-toggle>
      </div>

      <div class="toggle-fields">
        <mat-slide-toggle
                  formControlName="displayQuantity"
                  >
          <mat-label>Display Quantity</mat-label>
        </mat-slide-toggle>
      </div>

      <div class="toggle-fields">
        <mat-slide-toggle
                  formControlName="displayAdd"
                >
          <mat-label>Display Add Button</mat-label>
        </mat-slide-toggle>
      </div>

      <div class="toggle-fields">
        <mat-slide-toggle
                  formControlName="displayView"
                  >
          <mat-label>Display View</mat-label>
        </mat-slide-toggle>
      </div>

      <div class="toggle-fields">
        <mat-slide-toggle
                  formControlName="validateCustomerLicenseID"
                  >
          <mat-label>Validate Customer License/ID</mat-label>
        </mat-slide-toggle>
      </div>

      <div class="toggle-fields">
        <mat-slide-toggle
                  formControlName="ordersRequireCustomer"
                  >
          <mat-label>Orders Require Customer</mat-label>
        </mat-slide-toggle>
      </div>


      <!-- validateCustomerLicenseID -->

      <mat-divider></mat-divider>
      <h3>End of Day</h3>
      <div class="toggle-fields">
        <mat-slide-toggle
                  formControlName="deleteUnClosedPrintedOrders"
                  >
          <mat-label>Delete Unclosed Un Printed Orders</mat-label>
        </mat-slide-toggle>
      </div>

      <div>
        <app-value-fields
          [fieldType]     ="'number'"
          [inputForm]     ="inputForm"
          [fieldName]     ="'closeOrderTimeCutOff'">
          Last time to close order
          </app-value-fields>
      </div>


      <div>
        <button mat-raised-button
                color="primary"
                (click)="updateSetting()"><mat-icon>save</mat-icon>Save</button>
      </div>


  </mat-card-content>
</mat-card>

</div>
