.fields {
  // width: 100px;
  width: 100%;
}

.toggle-fields {
  // width: 200px;
  width: 100%;
}

button {
  margin: 5px;
}

h4 {
  margin-bottom: 3px;
}

mat-card {
  margin: 4px;
  padding:4px;
}

.client-selector {
  width: 200px;
}

.grid-views {

  --gap: 5px;
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 5px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
  overflow-y: visible;

}

.grid-small {

  --gap: 5px;
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 5px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
  overflow-y: visible;

}

.saving-container {
  width: 200px;
}

mat-action-buttons {
  padding: 5px;
}

mat-raised-button {
  margin: 5px;
}

mat-card-actions {
  height: 45px;
  padding: 5px;
}
