.grid-items {
  margin-top: 10px;
  margin: 5px;
}

.small-margin {
  margin-left: 10px;
}

mat-card {
  height: 98%;
  // overflow-y: auto;
  // overflow-x: hidden;
}
mat-button-toggle-group {
  flex-wrap: wrap;
  max-width: 485px;
}

mat-button-toggle {
  // border: 1px solid #5b5872;
  border-radius: 4px;
  margin:  3px;
}
mat-divider {
  margin-top: 5px;
  margin-bottom: 5px;
}

mat-slider {
  width: 275px;
}

toggle-fields {
  margin-top: 5px;
  margin-bottom: 5px;
}
.grid-values {
  display: grid;
  grid-template-columns: 150px 350px;
  gap: 5px;
}

.grid {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat( auto-fit, minmax(475px, 1fr) );
}

.info-container {
  height: 650px;
  overflow-y: auto;
  overflow-x: hidden;
}
.field {
  max-width: 200px;
  width: 200px;
  margin: 5px;
}
