 <div *ngIf="inputForm">
  <!-- {{inputForm.value | json}} -->
</div> 
<div *ngIf="action$ | async"></div>
 <mat-card> 
     <mat-card-title>
      <div class="grid">
        <div>
          Edit Card
        </div>
        <div>
          <app-edit-buttons-standard
            (outputeupdateItem)     ="update($event)"
            (outputupdateItemExit)  ="updateExit($event)"
            (outputupdateonCancel)  ="onCancel($event)"
            enableDelete            ="false"
          ></app-edit-buttons-standard>
        </div>
      </div>
    </mat-card-title> 

     <mat-card-subtitle>
      <div [style.font-color]="'red'"
          *ngIf="message && message.length>0">
        <mat-icon>warning</mat-icon>
        <h4>Please check the settings:</h4>
        <div *ngFor="let item of message">
          {{item}}
        </div>
      </div>
    </mat-card-subtitle> 

     <mat-card-content>  

      <div *ngIf="inputForm && dashBoardContent; else loading;"
           [formGroup]="inputForm"
           class="info-container" >
        <div>
            <app-value-fields
              style="width:300px"
              [inputForm]="inputForm"
              [fieldName]="'name'"
              [fieldsClass]="'field-small'">
              Name
            </app-value-fields>

            <ng-container [ngTemplateOutlet]="cardTypeView"></ng-container>

            <div class="flex-start" >
              <div  class="flex-start"
                   *ngIf="cardValueTypes">

                <div  *ngIf="cardType === 'chart'">
                  <mat-form-field  appearance="outline">
                      <mat-label> Chart Type </mat-label>
                      <mat-select
                          formControlName ="chartType"
                          (selectionChange) ="setChartType($event.value)">
                        <mat-option value="">
                        </mat-option>
                        <mat-option
                              *ngFor="let item of layoutService.cartTypeCollection"
                              [value]="item.type">
                            {{item.type}} <mat-icon>{{item.icon}}</mat-icon>
                        </mat-option>
                      </mat-select>
                  </mat-form-field>
                </div>

                <div *ngIf="cardValueTypesTemp &&  (cardType === 'chart' ||  cardType === 'report')" >
                  <ng-container [ngTemplateOutlet]="cardTypeValueView"></ng-container>
                </div>

                <div *ngIf="(cardType === 'chart' ||cardType === 'report') && dateRangeReport" class="toggle-fields">
                  <mat-slide-toggle
                            formControlName="dateRangeReport" >
                    <mat-label>Use Specific Dates - For history report dashboards.</mat-label>
                  </mat-slide-toggle>
                </div>

                <div  *ngIf="(cardType === 'chart' || cardType === 'report') && dateRangeReport" class="grid-items">
                  <ng-container [ngTemplateOutlet]="rangeTypeView"></ng-container>
                </div>
              </div>

              <div  *ngIf="cardValueTypesTemp && cardType === 'order'"
                    class="flex-start">
                <ng-container [ngTemplateOutlet]="cardTypeValueView"></ng-container>
                <ng-container [ngTemplateOutlet]="disableActionView"></ng-container>
                <ng-container [ngTemplateOutlet]="refreshTimeView"></ng-container>
              </div>

              <div  *ngIf="cardValueTypesTemp && cardType === 'menu'"
                    class="flex-start">
                <ng-container [ngTemplateOutlet]="cardTypeValueView"></ng-container>
                <ng-container [ngTemplateOutlet]="disableActionView"></ng-container>
              </div>

              <div  *ngIf="cardValueTypesTemp && (cardType === 'image' )"
                    class="flex-start">
                  <ng-container [ngTemplateOutlet]="imageView"></ng-container>
                  <ng-container [ngTemplateOutlet]="textView"></ng-container>
              </div>

              <div   *ngIf="cardValueTypesTemp && (cardType === 'text' )"
                    class="flex-start">
                <ng-container [ngTemplateOutlet]="imageView"></ng-container>
                <ng-container [ngTemplateOutlet]="textView"></ng-container>
              </div>

              <div *ngIf="cardType === 'youtube'">
                <ng-container [ngTemplateOutlet]="youTubeViewURLView"></ng-container>
                <ng-container [ngTemplateOutlet]="autoRepeatView"></ng-container>
                <ng-container [ngTemplateOutlet]="autoPlayView"></ng-container>
              </div>

              <div *ngIf="cardType === 'iframe'">
                <ng-container [ngTemplateOutlet]="iFrameURLView"></ng-container>
              </div>

              <div class="small-margin"
                    *ngIf="cardType === 'menu' &&
                           (cardValueType?.toLowerCase() != 'flowerprices' ||
                            cardValueType?.toLowerCase() != 'flowers'  ||
                            cardValueType?.toLowerCase() != 'product'   ||
                            cardValueType?.toLowerCase() != 'menusection' )">
                <ng-container [ngTemplateOutlet]="selectedTypeView"></ng-container>
                <ng-container [ngTemplateOutlet]="cannabisView"></ng-container>
              </div>

              <div class="small-margin"
                    *ngIf="cardType === 'menu' &&
                          ( inputForm.controls['cardValueType'].value === 'catalogschedules' )">
                <ng-container [ngTemplateOutlet]="catalogSchedules"></ng-container>
              </div>

              <div *ngIf="cardType &&
                           cardType === 'menu' &&
                           cardValueType &&
                           cardValueType.toLowerCase() === 'product'"
                    class="item-input">
                <ng-container [ngTemplateOutlet]="productSearchSelectorView"></ng-container>
              </div>
            </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card> 

   <mat-card>
    <div  *ngIf="cardValueTypesTemp && cardType === 'menu'"
        class="flex-grid-row-5px margin-10">
      <ng-container [ngTemplateOutlet]="imageView"></ng-container>
      <ng-container [ngTemplateOutlet]="textView"></ng-container>
      <ng-container [ngTemplateOutlet]="ccsView"></ng-container>
    </div>
  </mat-card> 

   <mat-card>
    <mat-card-title><h4>Design Properties</h4></mat-card-title>
    <mat-card-content>
      <div class="ps-flex-group">
        <div class="ps-flex-group-start">
          <div  *ngIf="(cardType === 'chart' ||
                  cardType === 'report') &&
                  dateRangeReport"
                class="grid-items">
              <ng-container [ngTemplateOutlet]="unitsBackView"></ng-container>
              <ng-container [ngTemplateOutlet]="refreshTimeView"></ng-container>
          </div>
          <div  *ngIf="inputForm"  class="grid">
            <div>
              <mat-label>Enter Number and Pixels or Percentage px or %: 400px or 400%</mat-label>
            </div>
            <div class="ps-flex-group">
              <div class="field"  style="width:125px">
                <app-value-fields
                    [inputForm]="inputForm"
                    [fieldName]="'chartHeight'"
                    [fieldsClass]="'field-small'">
                    Height
                  </app-value-fields>
              </div>
              <div class="field"  style="width:125px">
                <app-value-fields
                    [inputForm]="inputForm"
                    [fieldName]="'chartWidth'"
                    [fieldsClass]="'field-small'">
                    Width
                  </app-value-fields>
              </div>
            </div>
          </div>
        </div>
        <div class="ps-flex-group-column">
          <ng-container [ngTemplateOutlet]="opacityView"></ng-container>
          <ng-container [ngTemplateOutlet]="borderView"></ng-container>
          <ng-container [ngTemplateOutlet]="boarderRadiusView"></ng-container>
          <ng-container [ngTemplateOutlet]="layerView"></ng-container>
        </div>
      </div>
    </mat-card-content>
  </mat-card> 

  <ng-template #loading>
     <mat-spinner [diameter]="50"></mat-spinner> 
  </ng-template>

  <ng-template #rangeTypeView>
     <div  *ngIf="inputForm" [formGroup]="inputForm">
      <mat-button-toggle-group name="type"
                aria-label="item Type"
                formControlName="rangeType">
        <mat-button-toggle
                [value]="item"
                (click)="setRangeType(item)"
                *ngFor="let item of rangeTypes" >
            {{item}}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div> 
  </ng-template>

  <ng-template #cardTypeValueView>
     <div  [formGroup]="inputForm">
      <mat-form-field
            appearance="outline">
          <mat-label> Value Type </mat-label>
          <mat-select
              formControlName="cardValueType"
              (selectionChange)="setCardValueType($event.value)">
            <mat-option value="">
            </mat-option>
            <mat-option
                  *ngFor="let item of cardValueTypesTemp"
                  [value]="item.name">
                {{item.name}}
            </mat-option>
        </mat-select>
      </mat-form-field>
    </div> 
  </ng-template>

  <ng-template #iFrameURLView>
     <app-value-fields
        style="width:300px";
        [inputForm]="inputForm"
        [fieldName]="'url'"
        [fieldsClass]="'field-small'">
        URL
    </app-value-fields> 
  </ng-template>

  <ng-template #imageView>
    <div>
      <h4>Image</h4>
       <app-widget-uploader
        [(fileNames)]="image"
        (imageUrl)   ="setImage($event)">
      </app-widget-uploader> 
    </div>
 </ng-template>

  <ng-template #youTubeViewURLView>
      <div>
         <app-value-fields
            style="width:300px";
            [inputForm]="inputForm"
            [fieldName]="'url'"
            [fieldsClass]="'field-small'">
            Video ID
        </app-value-fields>
        <mat-label>
          If your video is found at https://www.youtube.com/watch?v=PRQCAL_1234, then your video id is PRQCAL_RMVo.
        </mat-label> 
      </div>
  </ng-template>

  <ng-template #textView>
       <mat-card [formGroup]="inputForm" style="min-width:350px;max-width:550px">
        <div class="document-content">
          <mat-divider></mat-divider>
          <mat-label>Description </mat-label><br>
          <simple-tinymce name="text"
                          cols="35"
                          rows="15"
                          formControlName="text" >
          </simple-tinymce>
        </div>
      </mat-card> 
  </ng-template>

  <ng-template #ccsView>
     <div [formGroup]="inputForm">
      <div>
        <button mat-button (click)="getDefaultCCS()">Set Default CSS</button>
      </div>
      <div>
        <mat-form-field appearance="outline"  style="width:100%;min-width:350px;max-width:550px" >
          <mat-label>CSS</mat-label>
          <textarea matInput
                rows="15"
                cols="15"
                formControlName="ccs"
          ></textarea>
        </mat-form-field>
      </div>

    </div> 
  </ng-template>

  <ng-template #productSearchSelectorView>
     <span *ngIf="productName">Selected Product: {{productName}}</span>
    <app-product-search-selector
        class         = "fields"
        [itemType]    = 1
        [productName] = "productName"
        [searchForm]  = "inputForm"
        (itemSelect)  = "getItem($event)">
    </app-product-search-selector> 
  </ng-template>

  <ng-template #autoRepeatView>
     <div class="toggle-fields" [formGroup]="inputForm">
      <mat-slide-toggle
            formControlName="autoRepeat" >
        <mat-label>Repeat</mat-label>
      </mat-slide-toggle>
    </div> 
  </ng-template>

  <ng-template #autoPlayView>
     <div class="toggle-fields" [formGroup]="inputForm" >
      <mat-slide-toggle   formControlName="autoPlay" >
        <mat-label>Auto Play</mat-label>
      </mat-slide-toggle>
    </div> 
  </ng-template>

  <ng-template #disableActionView>
     <div class="toggle-fields" [formGroup]="inputForm" >
      <mat-slide-toggle   formControlName="disableActions" >
        <mat-label>Disable Actions</mat-label>
      </mat-slide-toggle>
    </div> 
  </ng-template>

  <ng-template #cannabisView>
     <div class="toggle-fields" [formGroup]="inputForm">
      <mat-slide-toggle    formControlName="MMJMenu" >
        <mat-label>Cannabis Style Menu</mat-label>
      </mat-slide-toggle>
    </div> 
  </ng-template>

  <ng-template #selectedTypeView>
     <div *ngIf="itemValue">
      Selected : {{itemValue?.name}}
    </div>

    <div class="grid-item" *ngIf="(list$ | async) as list">
        <form-select-list [searchForm]           = "inputForm"
                          [formFieldName]        = "'listItemID'"
                          [list]                 = "list"
                          [showActiveInactive]   = "true"
                          [formValue]            = 'itemValue'
                          (selectionChangeValue) = "setCategory($event)"
                        >
        <div fieldSearchDescription>Select</div>
        </form-select-list>
    </div> 
  </ng-template>


  <ng-template #catalogSchedules>
     <div *ngIf="itemValue">
      Selected : {{itemValue?.name}}
    </div>

    <div class="grid-item" *ngIf="(specials$ | async) as list">
        <form-select-list [searchForm]           = "inputForm"
                          [formFieldName]        = "'listItemID'"
                          [list]                 = "list"
                          [showActiveInactive]   = "true"
                          [formValue]            = 'itemValue'
                          (selectionChangeValue) = "setCategory($event)"
                        >
        <div fieldSearchDescription>Select</div>
        </form-select-list>
    </div> 
  </ng-template>

  <ng-template #unitsBackView>
     <div class="grid-values grid-items">
      <div>
        Units Back {{inputForm.controls['rangeValue']?.value}}
      </div>
      <div>
        <mat-label>Units refer to the range value, hour, day, month etc.</mat-label>
      </div>
      <div></div>
      <div>
        <mat-slider
                    thumbLabel
                    [displayWith]="formatRangeValue"
                    tickInterval="1000"
                    step="1"
                    min="0"
                    max="100"
                    class="mat-slider"
                    [(ngModel)]="rangeValue"
                    aria-label="units"
        ></mat-slider>
      </div>
    </div> 

  </ng-template>

  <ng-template #refreshTimeView>
     <div class="grid-values grid-items">
      <div>
        Refresh(seconds) {{refreshTime}}
      </div>
      <div>
        <mat-slider
                    thumbLabel
                    [displayWith]="formatRefreshTime"
                    tickInterval="1000"
                    step="1"
                    min="0"
                    max="100"
                    class="mat-slider"
                    [(ngModel)]="refreshTime"
                    aria-label="units"
        ></mat-slider>
      </div>
    </div> 
  </ng-template>

  <ng-template #opacityView>
     <div class="grid-values grid-items ">
      <div>
        Opacity {{opacity}}
      </div>
      <div>
        <mat-slider
                    thumbLabel
                    [displayWith]="formatOpacity"
                    tickInterval="1000"
                    step="1"
                    min="0"
                    max="100"
                    class="mat-slider"
                    [(ngModel)]="opacity"
                    aria-label="units"
        ></mat-slider>
      </div>
    </div> 
  </ng-template>

  <ng-template #borderView>
     <div class="grid-values grid-items">
      <div>
        Border {{border}}
      </div>
      <div>
        <mat-slider
                    thumbLabel
                    [displayWith]="formatBorder"
                    tickInterval="1000"
                    step="1"
                    min="0"
                    max="100"
                    class="mat-slider"
                    [(ngModel)]="border"
                    aria-label="units"
        ></mat-slider>
      </div>
    </div> 
  </ng-template>

  <ng-template #boarderRadiusView>
     <div class="grid-values grid-items">
      <div>
        Border-Radius {{borderRadius}}
      </div>
      <div>
        <mat-slider
                    thumbLabel
                    [displayWith]="formatBorderRadius"
                    tickInterval="1000"
                    step="1"
                    min="0"
                    max="100"
                    class="mat-slider"
                    [(ngModel)]="borderRadius"
                    aria-label="units"
        ></mat-slider>
      </div>
    </div> 
  </ng-template>

  <ng-template #layerView>
     <div class="grid-values grid-items">
      <div>
        Layer {{layerIndex}}
      </div>
      <div>
        <mat-slider
                    thumbLabel
                    [displayWith]="formatLayer"
                    tickInterval="1000"
                    step="1"
                    min="0"
                    max="100"
                    class="mat-slider"
                    [(ngModel)]="layerIndex"
                    aria-label="units"
        ></mat-slider>
      </div>
    </div> 
  </ng-template>

  <ng-template #cardTypeView>
     <div [formGroup]="inputForm" *ngIf="inputForm">
      <div><h4>Card Type</h4></div>
      <mat-button-toggle-group
                class="mat-button-toggle-group"
                name="type"
                aria-label="item Type"
                formControlName="type">
        <mat-button-toggle
                class="mat-button-toggle"
                [value]="item.name"
                (click)="setCardType(item)"
                *ngFor="let item of cardTypes" >
          <mat-icon>{{item.icon}} </mat-icon> {{item.name}}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div> 
  </ng-template> 
