.indica {
  background-color: rgb(89, 148, 30);
  font-weight: 600;
  border-radius: 10px;
}

.sativa {
  background-color: rgb(189, 79, 79);
  font-weight: 600;
  border-radius: 10px;
}

.hybrid {
  background-color: rgb(60, 137, 219);
  font-weight: 600;
  border-radius: 10px;
}
