
<ng-template #loading>
  <mat-spinner [diameter]="50"></mat-spinner>
  ... getting inventory
</ng-template>

<mat-card *ngIf="productID && productID !=0 && results; else loading ">
  <mat-card-content>
    <div  *ngIf="results" >
      <div *ngIf="showList">
        <div class='grid-container'>
          <div>UOM</div>
          <div>SKU</div>
          <div>QTY</div>
        </div>
        <div class='grid-container'
              *ngFor="let item of results.results">
          <div>{{item.unitOfMeasureName}}</div>
          <div>{{item.sku}}</div>
          <div>{{item.packageCountRemaining}}</div>
        </div>
        <mat-divider></mat-divider>
      </div>
      <div *ngIf="results.total > 0" class="instock-total">
        In Stock:  {{results.total}}
      </div>
      <div *ngIf="results.total < 1" class="instock-total">
        Out of Stock.
      </div>
      <div *ngIf="showAddButton">
        <button mat-raised-button (click)="addItem()">
          <mat-icon>add</mat-icon><ng-content #name></ng-content>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
