<mat-card>

  <mat-card-title>
    <div fxLayout="column" fxLayoutAlign="center center" >
      <img [src]="logo" [alt]="company"  class="logo">
      <h2> </h2>
    </div>
  </mat-card-title>

  <!-- class="grid-item headings" -->
  <mat-card-content>

    <div class="grid">
      <div class="grid-title">
        Tier
      </div >

      <div class="grid-title">
        Gram
      </div>

      <div  class="grid-title">
        8th
      </div>

      <div  class="grid-title">
        Quarter
      </div>

      <div  class="grid-title">
        Half
      </div>

      <div  class="grid-title">
        Ounce
      </div>
    </div>

    <div *ngFor="let tier of tvPriceMenuTiers$ | async">
      <div class="grid" >
        <div class="grid-item  prices">
          {{tier.name}}
        </div>
        <div *ngFor="let item of tier.tvMenuPriceTierItems">
          <div class="grid-itemprices prices">
              {{ item?.currentPrice | currency }}
          </div>
        </div>
      </div>
    </div>

  </mat-card-content>
</mat-card>

<ng-template #loading >
  <h2>...loading.</h2>
  <mat-spinner></mat-spinner>
</ng-template>

