@import "/src/mixins.scss";

mat-card {
  min-width: 450px;
  width: 600px;
}

.headings {
  font-size: 3em;
  font-weight: 600;
}

.prices {
  font-size: 3em;
  font-weight: 500;
  line-height: 1.2em;
  margin: .2em .2em .2em;
}

.logo {
  display: flex;
  justify-content: center;
}

.grid-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}
.grid {
  --gap: 15px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(5, 1fr); // repeat( auto-fit, minmax(150px, 1fr) );
  width: 600px;

  @include for-phone-only  {
    --gap: 10px;
    display: grid;
    gap: var(--gap);
    width: 375px;
    grid-template-columns: repeat( auto-fit, minmax(120px, 1fr) );
  }
}
