<mat-card>

  <mat-card-title>
    <mat-icon>setting</mat-icon>Taxes
  </mat-card-title>

  <mat-card-content>
    <button mat-raised-button color="primary" (click)="addRate()">Add Rate</button>
  </mat-card-content>

</mat-card>

<mat-divider></mat-divider>

<div *ngIf="taxes">

  <ag-grid-angular
        #agGrid
        style="width: 100%; height: 80vh;"
        id="mySearchGrid"
        class="ag-theme-material"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [rowData]="taxes$ | async"
        [frameworkComponents]="frameworkComponents"
        (gridReady)="onSearchGridReady($event)">
  </ag-grid-angular>

</div>
