<div *ngIf="(addItem$ | async) as action"></div>
<div *ngIf="(printLabel$ | async) as print"></div>
<div *ngIf="(action$ | async) as action"></div>
<div *ngIf="(update$ | async) as saving"></div>

<div class="body" >
  <mat-card class="strain-card">
    <mat-card-title>
      <div><h3>Item:  {{item?.productName}} </h3></div>
      <div><h3>Label: {{item?.label}}       </h3></div>
    </mat-card-title>

    <mat-card-subtitle>

      <div class="header-container">
        <div class="subtitle grid-container-headers">
          <div class="item-label">SKU</div>
          <div class="item-info"> {{item?.sku}} </div>
          <div class="item-label">Type</div>
          <div class="item-info"> {{item?.packageType}} </div>
          <div class="item-label">Intake Category </div>
          <div class="item-info"> {{item?.productCategoryName}} </div>
          <div class="item-label">Vendor Code</div>
          <div class="item-info"> {{item?.facilityLicenseNumber}} </div>
          <div class="item-label">Intake </div>
          <div class="item-info" *ngIf="item?.beginDate"> {{item?.beginDate | date: 'short'}} </div>
          <div class="item-label">Item </div>
          <div class="item-info" *ngIf="menuItem?.barcode"> {{menuItem?.barcode }} </div>
        </div>

        <div>

          <div class="flex-end" >
            <div>
              <app-edit-buttons-standard
                  (outputeupdateItem)     ="updateItem($event, false)"
                  (outputupdateItemExit)  ="updateItem($event, true)"
                  (outputupdatedeleteItem)="deleteItem($event)"
                  (outputupdateonCancel)  ="onCancel($event, false)"
              ></app-edit-buttons-standard>

              <div class="margin-5"  *ngIf="userAuths &&
                                            userAuths.allowBuy &&
                                            !item?.ebayPublished &&
                                            uiHome &&
                                            uiHome.ebayEnabled">
                <button mat-button color="primary" (click)="publishItem(item)"><mat-icon>publish</mat-icon>Publish to Ebay</button>
              </div>
            </div>

          </div>

          <div *ngIf="buyEnabled">
            <span class="margin-5">
              <button mat-raised-button
                      color="primary"
                      (click)="buyItem()" >
                      <mat-icon>shopping_cart</mat-icon>Buy Item
              </button>
            </span>

            <div  *ngIf="userAuths && userAuths.allowBuy">
              <mat-slide-toggle
                      formControlName="ebayPublished">
                      <mat-label>Published to Ebay</mat-label>
              </mat-slide-toggle>
            </div>

            <span class="margin-5" *ngIf="posDevice?.labelPrinter">
              <button mat-raised-button
                    color="accent"
                    (click)="printLabel()"><mat-icon>label</mat-icon>Print Label
              </button>
            </span>
          </div>
        </div>

      </div>

    <mat-divider></mat-divider>
    </mat-card-subtitle >
      <mat-card-content  >
        <div>
          <div class="item-input">
            <app-product-search-selector
                class         = "fields"
                [itemType]    = 1
                [productName] = "productName"
                [searchForm]  = "searchForm"
                (itemSelect)  = "getItem($event)">
            </app-product-search-selector>
          </div>

          <div [formGroup]="inputForm"
              *ngIf="menuItem"
              class="grid-container">
            <div *ngIf="fbProductsService.isCannabis(menuItem?.itemType)" >
              <app-facility-search-selector
                  [item]="facility"
                  [searchForm]="inputForm"
                  (itemSelect)="getVendor($event)">
              </app-facility-search-selector>
            </div>

            <div *ngIf="fbProductsService.isCannabis(menuItem?.itemType)">
              <mat-form-field appearance="outline" >
                <mat-label>Test Date</mat-label>
                <input  matInput
                        type="text"
                        formControlName="testDate"
                        name="testDate"
                        [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <div *ngIf="fbProductsService.isCannabis(menuItem?.itemType)">
              <app-value-fields
                    [inputForm]="inputForm"
                    [fieldName]="'testedBy'">
                  Tested By
              </app-value-fields>
            </div>

            <div *ngIf="fbProductsService.isCannabis(menuItem?.itemType)">
              <app-value-fields
                  [inputForm]="inputForm"
                  [fieldName]="'testLotNumber'">
                Test Lot #
              </app-value-fields>
            </div>

            <div>
              <mat-form-field appearance="outline" >
                <mat-label >Expiration</mat-label>
                <input  matInput
                        type="text"
                        formControlName="expiration"
                        name="expiration"
                        [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <div>
              <app-value-fields
                    [inputForm]="inputForm"
                    [fieldName]="'invoiceCode'">
                    Vendor Invoice #
              </app-value-fields>
            </div>

            <div *ngIf="fbProductsService.isCannabis(menuItem?.itemType)">
                <app-value-fields
                      [inputForm]="inputForm"
                      [fieldName]="'productCategoryName'">
                      Category Type
                </app-value-fields>
            </div>

            <div>
              <mat-form-field appearance="outline" >
                <mat-label>Locations</mat-label>
                <mat-select
                            type               ="text"
                            [(ngModel)]        ="inventoryLocationID"
                            formControlName    ="locationID"
                            (selectionChange)  ="getLocationAssignment($event.value)"  >
                  <div *ngIf="(inventoryLocations$ | async) as list">
                    <mat-option *ngFor="let item of list" [value]="item.id">
                      {{item.name}}
                    </mat-option>
                  </div>
                </mat-select>
              </mat-form-field>
            </div>

            <div>
              <app-value-fields
                    [inputForm]="inputForm"
                    [fieldName]="'price'">
                    Price
              </app-value-fields>
            </div>

            <div>
              <app-value-fields
                    [inputForm]="inputForm"
                    [fieldName]="'cost'">
                Cost
              </app-value-fields>
            </div>

            <div>
              <app-value-fields
                    [inputForm]="inputForm"
                    [fieldName]="'unitOfMeasureName'">
                Unit of Measure
              </app-value-fields>
            </div>

            <div>
                <app-value-fields
                      [inputForm]="inputForm"
                      [fieldName]="'packageQuantity'">
                  Package Quantity
                </app-value-fields>

                <span *ngIf="scaleInfo && fbProductsService.isWeightedItem(menuItem?.itemType)">
                  {{scaleInfo.value}} {{scaleInfo.mode}}
                  <span><button mat-raised-button (click)="applyWeightQuantity()">
                    Apply Weight
                  </button></span>
                </span>
            </div>

            <div>
              <mat-slide-toggle
                      name="notAvalibleForSale"
                      class="mat-label"
                      formControlName="notAvalibleForSale">
                <mat-label class="mat-label">Disable</mat-label>
              </mat-slide-toggle>
            </div>

          </div>

          <div *ngIf="menuItem">
          <mat-label
                *ngIf="fbProductsService.isCannabis(menuItem?.itemType)">
            Case Information - only for whole case / split case options
          </mat-label>
          <div
                *ngIf="inputForm && menuItem && fbProductsService.isCannabis(menuItem?.itemType)"
                class="grid-container">
            <div>
              <app-value-fields
                [inputForm]="inputForm"
                [fieldName]="'caseQuantity'">
                Case Quantity
              </app-value-fields>
            </div>

            <div>
              <app-value-fields
                [inputForm]="inputForm"
                [fieldName]="'casePrice'">
                Case Price
              </app-value-fields>
            </div>

            <div>
              <app-value-fields
                [inputForm]="inputForm"
                [fieldName]="'itemSku'">
                Item Sku
              </app-value-fields>
            </div>

            <div *ngIf="(itemType$| async) as itemType">
              <app-price-category-select
                [itemType]        ="itemType"
                [priceCategoryID] ="item.priceCategoryID"
                [inputForm]       ="inputForm" >
              </app-price-category-select>
            </div>

          </div>

          <mat-divider> </mat-divider>

          <ng-container [ngTemplateOutlet]="metaTags"></ng-container>
          <ng-container [ngTemplateOutlet]="additionalFeatures"></ng-container>
          </div>
        </div>

        <div *ngIf="menuItem && menuItem?.itemType && menuItem?.itemType.labelTypeID">

          <app-label-view-selector
              [labelID]="menuItem?.itemType?.labelTypeID"
              (outputLabelSetting)="getLabelSetting($event)"
              [setInventoryAssignment]="item"
              [labelImageHeight]="250">
          </app-label-view-selector>
        </div>

      </mat-card-content>
    </mat-card>

</div>

<ng-template #metaTags>
  <div class="meta-tags"
        *ngIf="item && menuItem">
        <!-- {{inputForm.controls['metaTags'].value}} -->
      <app-meta-tag-chips
        (outPutItemTags)   ="setItemTags($event)"
        [inventory]        ="item"
        [product]          = "menuItem"
        [metaTagList]      ="item?.metaTags"
        [inputForm]        ="inputForm">
      </app-meta-tag-chips>
  </div>
</ng-template>


<ng-template #additionalFeatures>

  <div  class="flex-grid-row" *ngIf="menuItem  && !fbProductsService.isCannabis(menuItem?.itemType)">

    <div  class="mat-label" *ngIf="inputForm" [formGroup]="inputForm">
      <mat-slide-toggle
          class="mat-label"
          name="used"
          formControlName="used">
        <mat-label class="mat-label">ReSale</mat-label>
      </mat-slide-toggle>
    </div>

    <div style="width:125px">
      <app-value-fields
        [inputForm]="inputForm"
        [fieldName]="'bay'">
        Bay
      </app-value-fields>
    </div>

    <div style="width:125px">
      <app-value-fields
        [inputForm]="inputForm"
        [fieldType]="'number'"
        [fieldName]="'quality'">
        Quality
      </app-value-fields>
    </div>

    <div style="width:125px">
      <app-value-fields
        [inputForm]="inputForm"
        [fieldType]="'number'"
        [fieldName]="'rareValue'">
        Rarity
      </app-value-fields>
    </div>
 </div>

 <div  class="grid-container-fields" *ngIf="menuItem  && !fbProductsService.isCannabis(menuItem?.itemType)">
    <div class="grid-item">
      <mat-card >
        <app-widget-uploader
            [(fileNames)]="images"
            (messageOut) ="received_Image($event)">
            Upload Image
        </app-widget-uploader>
      </mat-card>
    </div>
  </div>

  <div [formGroup]="inputForm" class="grid-fields">
    <div class="instructions">
      <mat-label><h4>Item description.</h4></mat-label><br>
      <simple-tinymce cols="50"
                      rows="20"
                      style="height: 200px;"
                      name="description"
                      formControlName="description"  >
      </simple-tinymce>
    </div>
  </div>
</ng-template>

  <!--  -->
