@import "/src/mixins.scss";

.totals_label {
  font-size     : .9em;
  margin        : 0px 5px 5px 5px;
  padding       : 0px 5px 5px 5px;
  white-space   : nowrap;
  overflow      : hidden;
  text-overflow : ellipsis;
  text-transform: capitalize;
  align-items   : baseline;
  line-height   : 1em;
  float         : left;
  align-items   : flex-end;
  text-align    : left;
}

.grid-item {
  // align-items    : flex-start;
  text-align     : left;
  overflow       : hidden;
  text-overflow  : ellipsis;
  text-transform : capitalize;
  margin-bottom  : 2px;
}

.center-container {
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-direction: row;
  flex-grow: inherit;
}

.spacer {
  margin-bottom: 10px;
}

.totals {
  font-size      : .9em;
  white-space    : nowrap;
  text-overflow  : ellipsis;
  text-transform : capitalize;
  text-align     : right;
}

.calculation {
  text-align: left;
}

.employeeName {
  text-align     : left;
  font-size      : .9em;
  white-space    : nowrap;
  text-align     : left;
  text-overflow  : ellipsis;
  text-transform : capitalize;
  overflow       : clip;
  max-width: 65px;
}

.product-name  {
  float         : left;
  align-items   : flex-start;
  text-align    : left;
  overflow      : clip;
  text-overflow : ellipsis;
  white-space   : nowrap;
  max-width: 65px;
}

.grid-headerfooter {
  --gap: 5px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: 75px 65px 65px 55px 45px;
  margin-left: 15px;
  white-space   : nowrap;
  overflow      : hidden;
  text-overflow : ellipsis;
  text-transform: capitalize;

  @include for-phone-only {
    grid-template-columns:  75px 65px 65px 55px 45px;
  }

}

// <!-- <div class="grid-item">Method</div>
// <div class="grid-item">Reason</div>
// <div class="grid-item">Employee</div>
// <div class="grid-item">Device</div>
// <div class="grid-item">Amount </div> -->


.grid-voids {
  --gap: 5px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: 55px 65px 65px 55px 65px;
  margin-left: 15px;
  white-space   : nowrap;
  overflow      : hidden;
  text-overflow : ellipsis;
  text-transform: capitalize;
}

.grid-order-employeecount {
  --gap: 5px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: 100px 25px 35px 90px 65px ;
  margin-left: 15px;
  white-space   : nowrap;
  overflow      : hidden;
  text-overflow : ellipsis;
  text-transform: capitalize;

  @include for-phone-only {
    grid-template-columns: 100px 25px 35px 90px 65px ;
  }

}
