.mat-card-container {
  max-width: 375px;
  margin-top: 5px;
  margin-bottom: 5px;
}


.mat-divider {
  margin-top: 15px;
  margin-bottom: 5px;
}

.mat-card-title {
  margin-bottom: 10px;
}

.header-labels {
  font-size     : 12px;
  margin        : 0px 5px 5px 5px;
  padding       : 0px 5px 5px 5px;
  white-space   : nowrap;
  overflow      : hidden;
  text-overflow : ellipsis;
  text-transform: capitalize;
  float         : left;
  align-items   : baseline;
  line-height   : 1em;
}

.align-right {
  float: right;
}

.field_bold {
  font-weight: 700px;
}



.grid-item {
  align-items: flex-start;
  text-align: left;
}

.grid {
  --gap: 15px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: 160px auto auto;
}

mat-card-title {
  margin-bottom: 10px;
}

.margin-divider {
  margin-bottom: 10px;
}

.grid-footer {
  margin-top           : 5px ;
  padding-top:           10px;
  display              : grid;
  grid-template-columns: 170px 100px 60px;
  grid-template-rows   : auto;
  grid-gap             : 2px;
  margin-left          : 25px;
  justify-content      : space-between;
  max-width            : 350px;
  font-size            : 1em;
}

.grid-body {
  display              : grid;
  grid-template-columns: 175px 100px 60px;
  grid-template-rows   : auto;
  grid-gap             : 2px;
  justify-content      : space-between;
  margin-left          : 5px;
  max-width            : 350px;
  font-size            : 1em;
}

.totals {
  font-size     : 1em;
  // white-space   : nowrap;
  // overflow      : hidden;
  // text-overflow : ellipsis;
  // text-transform: capitalize;
  float         : right;
  align-items   : flex-end;
  text-align    : left;
}

.product-name  {
  float         : left;
  align-items   : flex-start;
  text-align    : left;
}

.headers {
  margin-bottom: 10px;
  align-content: center;
  justify-content: center;
}

.footerheader-margin {
  margin-left: 5px;
  display: flex;
  align-content: center;
  justify-content: center;
}
