<div class="canvas">
  <div  class="gallery-container" *ngIf="menuItem$">
    <div  *ngIf="menuItem$ | async as menuItem; else loading">
      <mat-card>
        <mat-card-title>
        </mat-card-title>

        <mat-card-subtitle>
          <div class="grid">

            <div class="grid-item">
              <div class="grid-demographics">
                <div class="species" id="product-name">
                  <button mat-raised-button color="accent">
                    {{ menuItem?.species }}
                  </button>
                </div>
                <div id="brand-name" *ngIf="brand$ | async as brand">
                  {{ brand.companyName }}
                </div>
                <div id="product-name">{{ menuItem?.name }}</div>
                <div id="barcode">{{ menuItem?.barcode}}</div>
              </div>
            </div>

            <div class="grid-prices">
              <div></div>

              <div></div>
              <div></div>

              <div class="pricing-box" *ngIf="menuItem?.retail" >
                <div id="unitDescription"> {{ menuItem?.unitDescription }}</div>
                <div id="price"> Price {{ menuItem?.retail | currency }} </div>
              </div>
              <div  class="pricing-box" *ngIf="menuItem.msrp != 0" >
                <div id="unitDescription"> {{ menuItem?.unitDescription }}</div>
                <div id="price">MSRP {{ menuItem?.msrp | currency }} </div>
              </div>
              <div class="grid-add-item">
                <div id="addItemToOrder">
                  <button mat-raised-button class="button"
                          (click)="changeQuantity(1)"><mat-icon>exposure_plus_1</mat-icon></button>
                </div>

                <div>
                  <mat-form-field class="quantity-input" appearance="flat">
                    <input  type="number"
                            [(ngModel)]="quantity"
                            matInput >
                  </mat-form-field>
                </div>

                <div id="addItemToOrder">
                  <button mat-raised-button
                          class="button"
                          (click)="changeQuantity(-1)" >
                          <mat-icon>exposure_neg_1</mat-icon>
                  </button>
                </div>
              </div>
            </div>


          </div>

          <div class="exit">
            <button mat-button (click)="exit()">
              <mat-icon>logout</mat-icon>
              Exit
            </button>
          </div>

        </mat-card-subtitle>
        <mat-card-content>
          <div class="grid">
            <div class="grid-item">

              <div class="grid-thc-cbd">
                <div *ngIf="menuItem.cbd"  class="spinner-text" id="price">CBD %{{ menuItem?.cbd }} </div>
                <div *ngIf="menuItem.thc" class="spinner-text" id="price">THC %{{ menuItem?.thc }} </div>
                <div class="grid-item-thc" *ngIf="menuItem.cbd" >
                  <div class="twitter-like">
                    <div>
                      <mat-spinner
                        class="track"
                        value="100"
                        [mode]="spinnerMode"
                        >
                      </mat-spinner>
                      <mat-spinner
                        [value]="menuItem?.cbd"
                        [mode]="spinnerMode">
                      </mat-spinner>
                    </div>
                  </div>
                </div>

                <div class="grid-item-thc" *ngIf="menuItem.thc" >
                  <div class="twitter-like">
                    <mat-spinner
                      class="track"
                      value="100"
                      [mode]="spinnerMode"
                      >
                    </mat-spinner>
                    <mat-spinner
                      [value]="menuItem?.thc"
                      [mode]="spinnerMode">
                    </mat-spinner>
                  </div>
                </div>
              </div>
            </div>

            <app-menu-item-gallery [menuItem]="menuItem"></app-menu-item-gallery>

            <div *ngIf="menuItem.specialDescription">
              special description
              <div id="specialDescription"> {{ menuItem?.specialDescription }} </div>
            </div>

            <div id="onlineShortDescription"
                class="grid-item-gallery"
                [innerHTML]="menuItem?.onlineShortDescription">
                onlineShortDescription
            </div>

            <div id="onlineDescription"
                class="innerHtml"
                [innerHTML]="menuItem?.onlineDescription">
                onlineDescription
            </div>


          </div>

            <!-- <div class="grid-form-buttons">
              <div id="addToWishList">
                <button mat-raised-button
                        class="button" >Add To Wishlist</button>
              </div>

              <div id="addItemToOrder">
                <button  mat-raised-button
                        class="button"
                        (click)="addItemToOrder()" ><mat-icon>add</mat-icon>Add To Order</button>
              </div>

              <div id="addItemToOrder">
                <button  mat-raised-button
                        class="button"
                        (click)="onCancel()"  mat-dialog-close><mat-icon>close</mat-icon>Cancel</button>
              </div>
            </div> -->


        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #loading >
  <mat-spinner></mat-spinner>
</ng-template>
