.mat-input-element {
  font-size: small;
}

mat-raised-button {
  margin: 5rem 5rem 2rem 2rem;
  padding: 1rem 1rem 1rem 1rem;
}

button {
  margin-bottom: 10px;
  margin-left: 10px;
}


mat-form-field {
  font-size: .8em;
}
