.grid-container {
  --gap: 5px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );

  @media print {
    --gap: 5px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
    font-size: 12pt;
    font-weight: bold;
  }

}

.title {
  font-weight: 700px;
}

.span-col {
  grid-column: 2 / span 3;
}

.item-span {
  grid-column: 1 / span 2;
}

.cash-drop-grid {
  display: grid;
  grid-template-columns: 100px 150px  100px;
  gap: 10px;
  padding: 2px;
  text-align: right;
  @media print {
    display: grid;
    grid-template-columns: 100px 150px 100px;
    gap: 10px;
    padding: 2px;
  }
}

.header-grid {
  --gap: 5px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( 145px, minmax(145px, 1fr) );
  margin: 3px;
  
  @media print {
    --gap: 5px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat( 145px, minmax(145px, 1fr) );
    font-size: 12pt;
    font-weight: bold;
  }
}

.cash-values { 
  align-items: end; 
  text-align: end;
}

.info-width {
  width: 350px;
}

.cashdrop-border {
  border: 2px;
  border-radius: 4px;
  border-style: solid;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 2px;
}

.calculation {
  grid-column: 2/3;
  text-align: end;
  justify-content: end;
  align-items: end; 
}
