@import "/src/mixins.scss";

.grid-container {
  --gap: 5px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
}

.title {
  font-weight: 700px;
}

.span-col {
  grid-column: 2 / span 3;
}

.item-span {
  grid-column: 1 / span 2;
}

.header-grid {
  --gap: 5px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(105px, 1fr) );
  margin: 3px;

  @include for-phone-only  {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3px;
  }
}

.info-width {
  width: 275px;
  @include for-phone-only  {
    width: 275px;
  }
}

.cashdrop-border {
  border: 2px;
  border-radius: 4px;
  border-style: solid;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 2px;
}

// .calculation {
//   display:inline-block;
// }

.calculation {
  grid-column: 2/3;
  text-align: right;

}
