<div [formGroup]="inputForm">
  <div *ngIf="arrayTypeName">
    <div [formArrayName]="arrayTypeName"
         *ngFor="let item of formArray.controls; let i = index;">
      <div [formGroupName]="i"
           class="category-margin grid-container">

        <div class="slidein"   >
          <mat-form-field  appearance="outline" style="width:100px">
            <input matInput
                  type="text"
                  formControlName="name"
                  enabled = false
                  class="item-name" >
          </mat-form-field>
        </div>

        <div *ngIf="!isMenuList" class="slidein"  >
          <mat-form-field appearance="outline" style="width:65px" >
            <mat-label >Quantity</mat-label>
            <input class="mat-fields quantity"
                  matInput
                  type="number"
                  formControlName="quantity">
          </mat-form-field>
        </div>

        <div *ngIf="!isMenuList && (andOrOption == true)"
              class="slidein" >
          <mat-form-field appearance="outline" class="andor-listbox" style="width:95px" >
            <mat-label>Group</mat-label>
            <mat-select  class="grid-item-and-or"
                          type="text"
                          formControlName="andOr"
                      >
                <div *ngFor="let item of andOrGroup">
                  <mat-option [value]="item">
                    {{item}}
                  </mat-option>
                </div>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="slidein" *ngIf="!hideDelete">
          <button mat-button (click)="removeItem(i)"><mat-icon>delete</mat-icon></button>
        </div>

      </div>
    </div>
  </div>
</div>

