<ng-template #loading><mat-spinner diameter="50"></mat-spinner></ng-template>

<div *ngIf="(action$ | async) as item"></div>
<div *ngIf="(inventoryAssignment$ | async) as item"></div>

<div class="body"  *ngIf="item ; else loading">

  <mat-card class="strain-card">


    <mat-card-title style="margin:5px;">
      <div class="grid-container" >
        <div style="width:250px;">
          <div><h3>Item: {{item.productName}} </h3></div>
          <div><h3>Label: {{item.label}} </h3></div>
          <div><h3>Type: {{itemTypeDescription}}       </h3></div>
        </div>
        <div>
          <app-edit-buttons-standard
              (outputeupdateItem)     ="updateItem($event)"
              (outputupdateItemExit)  ="updateItemExit($event)"
              (outputupdatedeleteItem)="deleteItem($event)"
              (outputupdateonCancel)  ="onCancel('false')"
            ></app-edit-buttons-standard>
        </div>
      </div>
    </mat-card-title>

    <mat-card-subtitle>

      <div class="grid-container" >
        <div class="sub-85px" style="width:235px;">
          <div class="item-label">Sku</div>
          <div class="item-info"> {{item.sku}} </div>
          <div class="item-label">Type</div>
          <div class="item-info"> {{item.packageType}} </div>
          <div class="item-label">Intake Category </div>
          <div class="item-info"> {{item.productCategoryName}} </div>
          <div class="item-label">Facility Code</div>
          <div class="item-info"> {{item.facilityLicenseNumber}} </div>
        </div>
      <div>

          <div>
            <div class="flex-end button-margins">
              <div class="margin-5" *ngIf="userAuths &&
                                           userAuths.allowBuy &&
                                           uiHome &&
                                           uiHome.ebayEnabled">
                <button mat-button color="primary" (click)="publishItem(item)">
                  <mat-icon>publish</mat-icon>Publish to Ebay
                </button>
              </div>
            </div>
          </div>

          <div class="toggle-items" *ngIf="inputForm" [formGroup]="inputForm">
            <div >
              <mat-slide-toggle
                      formControlName="notAvalibleForSale">
                      <mat-label>Not For Sale</mat-label>
              </mat-slide-toggle>
            </div>

            <div  *ngIf="userAuths && userAuths.allowBuy">
              <mat-slide-toggle
                      formControlName="ebayPublished">
                      <mat-label>Published to Ebay</mat-label>
              </mat-slide-toggle>
            </div>

            <div>
              <mat-slide-toggle
                      formControlName="requiresAttention">
                      <mat-label>Requires Attention</mat-label>
              </mat-slide-toggle>
            </div>

            <div *ngIf="(locations$ | async) as locations">
              <!-- <mat-form-field appearance="outline">
                <mat-label>Locations</mat-label>
                <mat-select
                            type="text"
                            (selectionChange)="setLocation($event)"
                            formControlName="locationID" >
                    <mat-option [value]=0>All</mat-option>
                    <mat-option *ngFor="let item of locations"
                                [value]="item.id">
                      {{ item.name }}
                    </mat-option>
                </mat-select>
              </mat-form-field> -->

              <div class="span-col-all" style="width:350px;">
                <h4>Inventory Location</h4>
                <mat-button-toggle-group name="type"
                          aria-label="item Type"
                          appearance="outline"
                          formControlName="locationID">
                  <mat-button-toggle class="discount-type-button"
                          [value]="item.id"
                          (click)="setLocation(item)"
                          *ngFor="let item of locations" >
                    {{item?.name}} (active: {{item?.activeLocation}})
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </div>
            </div>

            <div>
              <app-product-search-selector
                  class         = "fields"
                  [productName] = "item.productName"
                  [itemType]    = 1
                  [searchForm]  = "inputForm"
                  (itemSelect)  = "getItem($event)">
                Change Item
              </app-product-search-selector>
            </div>
          </div>
        </div>
      </div>

      <mat-divider></mat-divider>

    </mat-card-subtitle>

    <mat-card-content >
      <div class="grid-container">

        <div class="grid-195px">
          <div>
            <app-inventory-header-values
              [item]="item">
            </app-inventory-header-values>
          </div>

          <div>
            <ng-container [ngTemplateOutlet]="intakeInvoice"></ng-container>
          </div>
        </div>

        <div>

          <div>
            <mat-hint>Changing the sku will require re-labeling.</mat-hint>
            <app-value-fields
                [fieldType]="'text'"
                [inputForm]="inputForm"
                [fieldName]="'sku'"
              >Change Sku
            </app-value-fields>
          </div>

          <div class="ps-flex-group-content-start"
                [formGroup]="inputForm">

            <div *ngIf="isCannabis" >
              <mat-tab-group>
                <mat-tab label="prices">

                  <app-price-category-select
                        *ngIf="!menuItem?.itemType.disablePriceCategory"
                        [isInventory]     ="true"
                        [showAdditionalCost]="false"
                        [priceCategoryID] ="item.priceCategoryID"
                        [itemType]        ="menuItem?.itemType"
                        [inputForm]       ="inputForm" >
                    <div  class="header-column">Price</div>
                  </app-price-category-select>

                  <div *ngIf="!menuItem?.itemType?.disableSimplePrice">
                    <app-value-fields
                          [inputForm]="inputForm"
                          [fieldName]="'price'">
                          Price
                    </app-value-fields>
                  </div>

                  <div>
                    <app-value-fields
                          [inputForm]="inputForm"
                          [fieldName]="'cost'">
                      Cost
                    </app-value-fields>
                  </div>

                  <div>
                    <!-- (ngModelChange)="updateCost()" -->
                    <mat-form-field appearance="outline">
                      <mat-label> Cost Total</mat-label>
                      <input matInput
                        type="number"
                        [(ngModel)]="costTotal"
                        (change)="updateCost($event)" >
                    </mat-form-field>
                  </div>

                  <div>
                    <app-value-fields
                          [inputForm]="inputForm"
                          [fieldName]="'unitOfMeasureName'">
                      Unit of Measure
                    </app-value-fields>
                  </div>

                </mat-tab>
                <mat-tab label="Chemicals">
                  <app-chemical-values
                    [inputForm]="inputForm"
                    [inventoryItem]="true">
                  </app-chemical-values>
                </mat-tab>
              </mat-tab-group>
            </div>

            <div *ngIf="!isCannabis"
                      class="grid-container">

                <mat-hint>
                  Case Information - only for whole case / split case options
                </mat-hint>

                <div>
                  <app-value-fields
                    [inputForm]="inputForm"
                    [fieldName]="'caseQuantity'">
                    Case Quantity
                  </app-value-fields>
                </div>

                <div >
                  <app-value-fields
                    [inputForm]="inputForm"
                    [fieldName]="'casePrice'">
                    Case Price
                  </app-value-fields>
                </div>

                <div>
                  <app-value-fields
                    [inputForm]="inputForm"
                    [fieldName]="'itemSku'">
                    Item Sku
                  </app-value-fields>
                </div>

                <div>
                  <mat-form-field appearance="outline" >
                    <mat-label>Expiration</mat-label>
                    <input  matInput
                            type="text"
                            formControlName="expiration"
                            name="expiration"
                            [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>

            </div>

          </div>
        </div>
      </div>
      <ng-container [ngTemplateOutlet]="userDisplayInfoView"></ng-container>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #additionalFeatures>
  <div  class="grid-container"  *ngIf="menuItem && !fbProductsService.isCannabis(menuItem.itemType)">

    <div  class="mat-label"  [formGroup]="inputForm">
      <mat-slide-toggle
          class="mat-label"
          name="used"
          formControlName="used">
        <mat-label class="mat-label">Pre-Owned</mat-label>
      </mat-slide-toggle>
    </div>

    <div>
      <app-value-fields
        [inputForm]="inputForm"
        [fieldName]="'bay'">
        Bay
      </app-value-fields>
    </div>

    <div>
      <app-value-fields
        [inputForm]="inputForm"
        [fieldType]="'number'"
        [fieldName]="'quality'">
        Quality
      </app-value-fields>
    </div>

    <div>
      <app-value-fields
        [inputForm]="inputForm"
        [fieldType]="'number'"
        [fieldName]="'rareValue'">
        Rarity
      </app-value-fields>
    </div>

  </div>

</ng-template>

<ng-template #intakeInvoice>
  <div  style="width:195px" *ngIf="inputForm" [formGroup]="inputForm">

    <app-value-fields
          [inputForm]="inputForm"
          [fieldName]="'packageQuantity'">
      Package Quantity
    </app-value-fields>

    <div>
      <app-facility-search-selector
        [item]="facility"
        [searchForm]="inputForm"
        (itemSelect)="getVendor($event)">
      </app-facility-search-selector>
    </div>

    <div style="width:150px">
      <app-value-fields
            [inputForm]="inputForm"
            [fieldName]="'invoiceCode'">
            Vendor Invoice #
      </app-value-fields>
    </div>

    <div >
      <mat-form-field appearance="outline" style="width:150px">
        <mat-label>Test Date</mat-label>
        <input  matInput
                type="text"
                formControlName="testDate"
                name="testDate"
                [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div >
    <mat-form-field appearance="outline" style="width:150px">
      <mat-label>Expiration</mat-label>
      <input  matInput
              type="text"
              formControlName="expiration"
              name="expiration"
              [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    </div>
    <div style="width:150px">
      <app-value-fields
            [inputForm]="inputForm"
            [fieldName]="'testedBy'">
        Tested By
      </app-value-fields>
    </div>
    <div style="width:150px">
      <app-value-fields
          [inputForm]="inputForm"
          [fieldName]="'testLotNumber'">
        Test Lot #
      </app-value-fields>
    </div>
  </div>
</ng-template>

<ng-template #userDisplayInfoView>
  <mat-card>
    <mat-card>
      Info for Customers
    </mat-card>
    <div class="sub-115W">

      <div class="meta-tags"  *ngIf="item && menuItem">
        <app-meta-tag-chips
          (outPutItemTags) ="setItemTags($event)"
          [inventory]      ="item"
          [product]          = "menuItem"
          [metaTagList]    ="item?.metaTags"
          [inputForm]      ="inputForm">
        </app-meta-tag-chips>
      </div>

      <div class="grid-item" *ngIf="item">
        <mat-card >
          <app-widget-uploader
              [(fileNames)]="images"
              (messageOut) ="received_Image($event)">
              Upload Image
          </app-widget-uploader>
        </mat-card>
      </div>

    </div>

    <div [formGroup]="inputForm" class="grid-fields">
      <div class="instructions">
        <mat-label><h4>Item description.</h4></mat-label><br>
        <simple-tinymce cols="50"
                        rows="20"
                        style="height: 200px;"
                        name="description"
                        formControlName="description"  >
        </simple-tinymce>
      </div>
    </div>
  </mat-card>

</ng-template>
