button .menu-button {
  width: 100%;
  max-width: 40px;
  height: 100%;
  max-height: 50px;
}

.position { 
  margin: 5px;
}

matBadge {
  font-size: .8em;
}

.mat-badge-content mat-badge-content {
  font-size: .4em !important;
    // width: auto;
    // display: grid;
    // min-width: 32px;
    // min-height: 28px;
    // text-align: center;
    // align-items: center;
    // padding: 5px 3px;
    // top: -20px;
    // right: -22px;
}

