
<div [formGroup]="inputForm" *ngIf="inputForm" class="flex-grid-row-5px">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Sort 1</mat-label>
      <mat-select formControlName="sort1">
        <mat-option *ngFor="let item of optionsForSort1" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="inputForm.get('sort1').value">
    <mat-form-field appearance="outline">
      <mat-label>ASC/DESC</mat-label>
      <mat-select formControlName="sort1Asc">
        <mat-option *ngFor="let item of ascDesc" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="inputForm.get('sort1').value">
    <mat-form-field appearance="outline">
      <mat-label>Sort 2</mat-label>
      <mat-select formControlName="sort2">
        <mat-option *ngFor="let item of optionsForSort2" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="inputForm.get('sort2').value">
    <mat-form-field appearance="outline">
      <mat-label>ASC/DESC</mat-label>
      <mat-select formControlName="sort2Asc">
        <mat-option *ngFor="let item of ascDesc" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="inputForm.get('sort2').value">
    <mat-form-field appearance="outline">
      <mat-label>Sort 3</mat-label>
      <mat-select formControlName="sort3">
        <mat-option *ngFor="let item of optionsForSort3" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="inputForm.get('sort3').value">
    <mat-form-field appearance="outline">
      <mat-label>ASC/DESC</mat-label>
      <mat-select formControlName="sort3Asc">
        <mat-option *ngFor="let item of ascDesc" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div style="height:45px;margin-top:5px;margin-left:15px;width:75px" mat-button (click)="reset()">Reset</div>
</div>

  <span [formGroup]="inputForm" *ngIf="inputForm" class="flex-grid-column">
