
<div [formGroup]="inputForm" *ngIf="inputForm" class="flex-grid-row-5px">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Sort 1</mat-label>
      <mat-select formControlName="sort1">
        <mat-option *ngFor="let item of optionsForSort1" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="inputForm.get('sort1').value">
    <mat-form-field appearance="outline">
      <mat-label>ASC/DESC</mat-label>
      <mat-select formControlName="sort1Asc">
        <mat-option *ngFor="let item of ascDesc" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="inputForm.get('sort1').value">
    <mat-form-field appearance="outline">
      <mat-label>Sort 2</mat-label>
      <mat-select formControlName="sort2">
        <mat-option *ngFor="let item of optionsForSort2" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="inputForm.get('sort2').value">
    <mat-form-field appearance="outline">
      <mat-label>ASC/DESC</mat-label>
      <mat-select formControlName="sort2Asc">
        <mat-option *ngFor="let item of ascDesc" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="inputForm.get('sort2').value">
    <mat-form-field appearance="outline">
      <mat-label>Sort 3</mat-label>
      <mat-select formControlName="sort3">
        <mat-option *ngFor="let item of optionsForSort3" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="inputForm.get('sort3').value">
    <mat-form-field appearance="outline">
      <mat-label>ASC/DESC</mat-label>
      <mat-select formControlName="sort3Asc">
        <mat-option *ngFor="let item of ascDesc" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div style="height:45px;margin-top:5px;margin-left:15px;width:75px" mat-button (click)="reset()">Reset</div>
</div>
<!-- <div [formGroup]="inputForm" *ngIf="inputForm" class="flex-grid-row-5px">

  <div *ngFor="let sortKey of ['sort1', 'sort2', 'sort3']; let i = index">
    <mat-form-field [style]="style" [class]="class" appearance="outline">
      <mat-label>Sort {{i + 1}}</mat-label>
      <mat-select formControlName="{{sortKey}}">
        <mat-option value="">Clear</mat-option>
        <mat-option *ngFor="let item of getOptionsForSelector(sortKey)" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
</div>

</div> -->

<!-- <span  [formGroup]="inputForm"
      *ngIf="inputForm"
      class="flex-grid-column" >

      <div>
        <mat-form-field
            [style]="style"
            [class]="class"
            appearance="outline">
          <mat-label>Sort 1</mat-label>
          <mat-select
                  type="text"
                   formControlName ="sort1">

              <mat-option value="" >
                Clear
              </mat-option>

              <span *ngIf="list">
                <mat-option
                      *ngFor="let item of list"
                      [value]="item">
                  {{item}}
                </mat-option>
              </span>

          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field
              *ngIf="inputForm.controls['sort1'].value"
              [style]="style"
              [class]="class"
              appearance="outline">
            <mat-label>Sort 2</mat-label>
            <mat-select
                    type="text"
                    formControlName ="sort2">
                <mat-option value="" > Clear  </mat-option>

                <span *ngIf="list">
                  <mat-option
                        *ngFor="let item of list"
                        [value]="item">
                    {{item}}
                  </mat-option>
                </span>

            </mat-select>
          </mat-form-field>
      </div>

      <div>
        <mat-form-field
              *ngIf="inputForm.controls['sort2'].value"
              [style]="style"
              [class]="class"
              appearance="outline">
          <mat-label>Sort 1</mat-label>
          <mat-select
                  type="text"
                  formControlName  ="sort3">
              <mat-option value="" >
                Clear
              </mat-option>
              <span *ngIf="list">
                <mat-option
                      *ngFor="let item of list"
                      [value]="item">
                  {{item}}
                </mat-option>
              </span>

          </mat-select>
        </mat-form-field>
      </div>

  </span> -->

  <span [formGroup]="inputForm" *ngIf="inputForm" class="flex-grid-column">
