<mat-card class ="centered centered-flex" style="max-width:550px">
  <mat-card-title>
    <div class=" centered-flex">
      <h2>Password Reset</h2>
    </div>
  </mat-card-title>

  <mat-card-subtitle>
    <div class=" centered-flex">
      <h2>Enter your username to receive a reset code.</h2>
    </div>
  </mat-card-subtitle>

  <mat-card-content>
    <div class=" centered-flex">
      <div class="login-form"
          [formGroup]="loginForm" >
          <mat-form-field appearance="fill">
              <mat-label>User</mat-label>
              <input matInput type="text" formControlName="username" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">Username is required</div>
              </div>
          </mat-form-field>
      </div>
      <div>
        <span class="margin-10">
            <button mat-raised-button
                  (click)="requestResetToken()"
                  color="primary">Reset Pasword
            </button>
        </span>

        <span class="margin-10">
          <button mat-raised-button
                  color="primary"
                  routerLinkActive="list-item-active"
                  routerLink="/login">Cancel</button>
        </span>
      </div>

      <div class="centered-flex" *ngIf="processing" >
        <ng-template #loading>
          <mat-spinner [diameter]="50"></mat-spinner>...processing.
        </ng-template>
      </div>

      <div class="centered-flex" *ngIf="(request$  | async) as request; else loading">
        <div class="centered-flex" *ngIf="request?.userExists">
          Password reset request token, please check your email or phone.
        </div>

        <div class="centered-flex" *ngIf="request?.userExists">
          <button mat-raised-button
                  color="priamry"
                  (click)="changePassword()">Continue
           </button>
        </div>

        <div *ngIf="!request?.userExists">
          {{request?.message}}
        </div>
        <div *ngIf="request">
        </div>
      </div>
    </div>
  </mat-card-content>

</mat-card>
<br>
  <mat-divider></mat-divider>
<br>

