<mat-card class ="centered centered-flex">
  <mat-card-title>
    <div class=" centered-flex">
      <h2>Password Reset</h2>
    </div>
  </mat-card-title>

  <mat-card-subtitle>
    <div class=" centered-flex">
      <h2>Enter your username to receive a reset code.</h2>
    </div>
  </mat-card-subtitle>

  <mat-card-content>
    <div class=" centered-flex">
      <div class="login-form"
          [formGroup]="loginForm" >
          <mat-form-field appearance="fill">
              <mat-label>User</mat-label>
              <input matInput type="text" formControlName="username" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">Username is required</div>
              </div>
          </mat-form-field>
      </div>
      <div>
        <button mat-raised-button
              (click)="requestResetToken()"
              color="primary">Reset Pasword
        </button>
      </div>

      <div class="results" *ngIf="(request$  | async) as request">
        Result:
        <div *ngIf="request?.userExists">
          Password reset request token, please check your email or phone.
          <button mat-raised-button (click)="changePassword()">Change Password <mat-icon>link</mat-icon></button>
        </div>
        <div *ngIf="!request?.userExists">
          {{request?.message}}
        </div>
        <div *ngIf="request">
        </div>
      </div>
    </div>
  </mat-card-content>

</mat-card>
<br>
  <mat-divider></mat-divider>
<br>
<button mat-raised-button color="primary" routerLinkActive="list-item-active" routerLink="/login">Cancel</button>
