.background{
  background-color: white;
}

.back-ground-override {
  background-color: white;
  color: black;
}


// button {
//   margin: 3px 3px 3px 3px;
//   height: 2.5em;
// }

// .grid-container {
//   display: flex;
//   flex-wrap: wrap;
// }

// .spinner {
//   float: left;
//   margin-top: 5px;
//   margin-right: 5px;
//   height:25px;
//   width: 25px;
// }

// mat-form-field {
//   font-size: .8em;
// }

// mat-raised-button, button {
//   margin: 3px 3px 3px 3px;
//   width:  150px;
// }

// .receipt-width-80 {
//   width: 350px;
// }

// .receipt-width-58 {
//   width: 305px;
// }

// .receipt-width-85 {
//   width: 300px;
// }

// .grid-receipt {
// 	display: grid;
// 	grid-template-columns: 50px auto 80px;
// 	grid-template-rows:  auto;
// 	gap: 20px;
// }

// .grid-receipt-58  {
// 	display: grid;
// 	grid-template-columns: 50px auto auto;
// 	grid-template-rows:  auto;
// 	gap: 5px;
// }

// .receipt-sections {
//   display: grid;
// 	grid-template-columns: auto;
// 	grid-template-rows:  auto;
// 	gap: 25px;
// }

// .section-item {
//   margin-top: 10px;
//   margin-bottom: 10px;
// }

// .footer-text {
//   text-align: center;
// }
