<div *ngIf="inputForm"
     [formGroup]="inputForm"
     class="items-grid">
     <div *ngIf="list">
        <mat-form-field class="category-list" appearance="outline">
          <mat-label><ng-content></ng-content></mat-label>
          <mat-select
                      type="number"
                      [formControlName] = "fieldName"
                      >
              <mat-option *ngFor="let item of list"
                          [value]="item.id">
                {{item?.name}}
              </mat-option>
          </mat-select>
      </mat-form-field>
    </div>
</div>
