<div *ngIf="inputForm">
  <div [formGroup]="inputForm"  >
    <div class="filterItem" >
      <mat-form-field appearance="outline">
        <mat-label>Prompt Group</mat-label>
        <mat-select
                    type="number"
                    [formControlName]  ="'promptGroupID'"
                    name="promptGroupID"
                    (selectionChange)="onSelect($event)"
          >
          <div *ngIf="(promptResults$ | async) as list">
              <mat-option *ngFor="let item of list" [value]="item.id">
                {{item.name}}
              </mat-option>
          </div>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>


