@import "/src/mixins.scss";

.mat-card-floater {
  margin: 5px;
}

.header {
  display        : flex;
  align-items    : center;
  justify-content: center;
}

.ngcontent {
  margin-bottom: 5px;
}


.header-info {
  display: flex;
  align-items: flex-end;
  margin-top:  -10px;
  margin-left: 10px;
  top: -10px;
  position:relative;
}

.uppercase {
  text-transform: uppercase;
}

.grid-keypad {
  display         : grid;
  grid-template-columns: repeat(3, 1fr);
  gap             : 0px;
  margin-left     : 10px;
  grid-gap        : 0px;
  grid-column-gap : 0px;
}

.grid-keypad-alternate {
  display         : grid;
  grid-template-columns: repeat(3, 1fr);
  gap             : 0px;
  margin-left     : 15px;
  grid-gap        : 0px;
  grid-column-gap : 0px;
}

.button-sized-1 {
  width       : 100px;
  height      : 50px;

  @include for-phone-only  {
    height       : 65px;
    width        : 30vw;
  }

}

.button-sized-2 {
  width        : 130px;
  height       : 85px;
  border-radius: 5px;
  @include for-phone-only  {
    height       : 65px;
    width        : 30vw;
  }

}

.button-sized-scaled {
  font-size    : large;
  height       : 8vw;
  width        : 10vw;

  @include for-phone-only {
    height       : 75px;
    width        : 75px;
  }

  @include for-big-desktop-up {
    height       : 5vw;
    width        : 7vw;
  }
  @include for-desktop-up {
    height       : 5vw;
    width        : 7vw;
  }

  border-radius: 5px;
}

.keyboard-button {
  border-color : rgb(92, 99, 96);
  border-width : 1px;
  border-style : solid;
  margin-left  : 5px;
  margin-top   : 8px;
  border-radius: 5px;
}

.number-buttons {
  border-color: rgb(92, 99, 96);
  border-width: 1px;
  border-style: solid;
  margin-left : 0px;
  margin-top  : 5px;
  padding     : 0px;
  border-radius: 5px;
}

button {
  width       : 100%;
  height      : 100%;
  margin-left : 0px;
  margin-top  : 0px;
  padding     : 0px;
}

.checkbox {
  margin-bottom: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-right: 5px;
}

.item-container {
  align-items: center;
  justify-content: center;
  margin: 4px;
  margin-bottom: 10px;
  max-width: 350px;
}

.endButton {
  grid-column-end: -1;
}

// mat-button  {
//   border-radius: 5px;
// }

// mat-form-field {
//   margin-bottom: 5px;
//   height: 1em;
//   width   : 120px;
// }
