<mat-form-field appearance="outline">

  <mat-label>Label Types</mat-label>
    <mat-select
              type="text"
              [(ngModel)]="labelID"
              (selectionChange)="refreshLabelSettings(labelID)">

    <div *ngIf="(labelList$ | async) as list">
      <mat-option [value]="0">Clear</mat-option>
      <mat-option *ngFor="let item of list" [value]="item.id">
        {{ item.name }}
      </mat-option>
    </div>
  </mat-select>

</mat-form-field>

<div *ngIf="labelImageHeight == 200">
  <div *ngIf="labelImage64 != null ">
    <img height="200px" [src]="labelImage64">
  </div>
</div>

<div *ngIf="labelImageHeight == 100">
  <div *ngIf="labelImage64 != null ">
    <img height="100px" [src]="labelImage64">
  </div>
</div>


<div *ngIf="labelImageHeight == 125">
  <div *ngIf="labelImage64 != null ">
    <img height="125px" [src]="labelImage64">
  </div>
</div>

<div *ngIf="labelImageHeight == 150">
  <div *ngIf="labelImage64 != null ">
    <img height="150px" [src]="labelImage64">
  </div>
</div>
