
.container {
  margin: 10px;
}

.grid-item {
  white-space   : nowrap;
  overflow      : hidden;
  text-overflow : ellipsis;
  text-transform: capitalize;
  align-items   : baseline;
  line-height   : 1em;
  font-size     : 1em;
  font-weight   : 500;

  @media print {
    font-size: 12pt;
    font-weight: bold !important;
  }
}

.grid-item-number {
  white-space   : nowrap;
  overflow      : hidden;
  text-overflow : ellipsis;
  text-transform: capitalize;
  align-items   : baseline;
  line-height   : 1em;
  font-size     : 1em;
  font-weight   : 500;

  @media print {
    font-size: 12pt;
    font-weight: bold !important;
  }
}

.number-format {
  float         : right;
}

.text-foramt {
  float         : left;
}

.header {
  max-width: 350px;
  display              : grid;
  grid-template-columns: 55px 65px 70px 70px 70px; //90px;
  grid-template-rows   : auto;
  grid-gap             : 2px;
  justify-content      : space-between;
  // margin-left          : 5px;
  max-width            : 375px;
  margin               : 10px;
  overflow-x           : hidden;


  @media print {
    font-size: 12pt;
    font-weight: bold !important;
    grid-template-columns: 55px 65px 70px 70px 70px; //90px;
  }

}

.summary {
  max-width: 350px;
  display              : grid;
  grid-template-columns:  100px 100px ;//90px;
  grid-template-rows   : auto;
  grid-gap             : 2px;
  justify-content      : space-between;
  // margin-left          : 5px;
  max-width            : 350px;
  margin               : 10px;
  overflow-x           : hidden;
  @media print {
    font-size: 12pt;
    font-weight: bold !important;
    grid-template-columns:  100px 100px ;//90px;
  }
}

mat-card {
  padding: 3px;
  margin-left: -10px;
  max-width: 375px;
}
