<div *ngIf="(break$ | async) as break"></div>
<div class="container">
  <ng-container [ngTemplateOutlet]="displayResults"></ng-container>
  <div *ngIf="displayPrintView">
    <ng-container [ngTemplateOutlet]="clockView"></ng-container>
  </div>
</div>

<ng-template #onDisplayOnly>
  <div *ngIf="(clock$ | async) as result">
    <div *ngIf="clock">
      <div *ngIf="isOnBreak">
        <mat-label color="warn">
          On Break
        </mat-label>
      </div>
      <div *ngIf="!isOnBreak">
        <mat-label >
        </mat-label>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #clockView>
  <mat-card *ngIf="clock">
    <mat-card-title>
      {{user?.userName}}
    </mat-card-title>
    <mat-card-content>
      <div #printSection>
        <clock-print-view [clock]="clock"></clock-print-view>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button
              color="primary"
              (click)="print(clock)">
        <mat-icon>print</mat-icon>
        Print
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>

<ng-template #clockInOutEditor>
  <div *ngIf="(clock$ | async) as result; else clockInButton">
    <div *ngIf="!result.logOutDate">
      <div>
        <button mat-raised-button color="warn" (click)="clockOut()">
          <mat-icon>timer</mat-icon>
          Clock Out
        </button>
      </div>

      <div *ngIf="isOnBreak">
        <button mat-raised-button (click)="endBreak()">
          <mat-icon>timer_off</mat-icon>
          End Break
        </button>
      </div>

      <div *ngIf="!isOnBreak">
        <div *ngIf="(breaksList$ | async) as list">
          <div *ngFor="let item of list">
            <button mat-raised-button (click)="startBreak(item)">
              <mat-icon>timer_off</mat-icon>
              {{item.name}}
            </button>
          </div>
      </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #clockInButton>
  <button mat-raised-button
          color="primary"
          *ngIf="user && user.id != 0 && !isOnClock"
          (click)="clockIn()">
    <mat-icon>more_time</mat-icon>
    Clock In
  </button>
</ng-template>
