
.fields-values {
  width: 125px;
  margin: 5px;
  font-size: 1.3em;
}

.card-number {
  width: 200px;
  margin: 5px;
  font-size: 1.3em;
}

// input {
//   font-size: 1.1em;
// }
iframe {
  height: 400px;
}

input {
  margin: 5px;
  padding: 1px;
}

.label {
  font-size: 1em;
  margin-left: 3px;
}

form {
  margin: 5px;
  padding: 1px;
}
