<div [formGroup]="inputForm"
     *ngIf="inputForm">
  <div *ngIf="(departments$ | async) as list; else loading" >
    <mat-form-field appearance="outline">
      <mat-label>Departments</mat-label>
      <mat-select
                  type="number"
                  [formControlName]  ="'departmentID'"
                  name="departmentID"
        >
          <mat-option *ngFor="let item of list" [value]="item.id">
              {{item.name}}
              <!-- <span *ngIf="item.active"><mat-icon>toggle_on</mat-icon></span>
              <span *ngIf="!item.active"><mat-icon>toggle_off</mat-icon></span> -->
          </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <ng-template #loading>
    <div *ngIf="loadingItems">

      <mat-label>Departments</mat-label>
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
    </ng-template>
</div>

