<div [formGroup]="inputForm"
     *ngIf="inputForm">
  <mat-form-field appearance="outline">
    <mat-label>Departments</mat-label>
    <mat-select
                type="number"
                [formControlName]  ="'departmentID'"
                name="departmentID"
      >
      <div *ngIf="(departments$ | async) as list" >
        <mat-option *ngFor="let item of list" [value]="item.id">
            {{item.name}}
            <!-- <span *ngIf="item.active"><mat-icon>toggle_on</mat-icon></span>
            <span *ngIf="!item.active"><mat-icon>toggle_off</mat-icon></span> -->
        </mat-option>
      </div>
    </mat-select>
  </mat-form-field>
</div>

