<span *ngIf="devicename && 
             (uiTransactions?.dsiEMVNeteEpayEnabled || uiTransactions?.dCapEnabled)
             && order && order?.balanceRemaining != 0">
    <ng-container [ngTemplateOutlet]="footerStyle"></ng-container>

    <button 
          mat-raised-button
          *ngIf="!footerButton"
          [ngClass]="themeClass"
          (click)="processPayment(manual)">
      <ng-content></ng-content>
    </button>

</span>

<ng-template #regularStyle>

</ng-template>

<ng-template #footerStyle>
  <button mat-raised-button
       fxFill
       *ngIf="footerButton"
       color="primary"
       (click)="processPayment(false)">
    <ng-content select="[footerstyle]"></ng-content>
  </button>
</ng-template>
