
.light-theme-green {
  background-color: lightgreen;
  color: black;
}

.light-theme-blue {
  background-color: lightblue;
  color: black;
}

.dark-theme-green {
  background-color: #498049;
  color: white;
}

.dark-theme-blue {
  background-color: darkblue;
  color: white;
}

.button-debit {
  background-color: rgb(234, 240, 161);;
  color: rgb(49, 46, 46);
}
.button-credit {
  background-color: rgb(22, 236, 243);
  color: rgb(37, 36, 36);
}

.button-manual {
  background-color:    rgb(226 201 190);
  color: rgb(27, 22, 22);
}