<div>
  <mat-slide-toggle name="enabled"
    formControlName="active">
    <mat-label class="mat-label">Active</mat-label>
  </mat-slide-toggle>
</div>
<div>
  <mat-slide-toggle name="webMode"
                    formControlName="webProduct">
    <mat-label class="mat-label">Web Enabled</mat-label>
  </mat-slide-toggle>
</div>
<div>
  <mat-slide-toggle name="webMode"
                    formControlName="webWorkRequired">
    <mat-label class="mat-label">Requires Work</mat-label>
  </mat-slide-toggle>
</div>
