<div>
  <app-species-list  [inputForm]="inputForm"> </app-species-list>
</div>

<div>
  <app-chemical-values [inputForm]="inputForm">
  </app-chemical-values>
</div>

<div>
  <app-brand-type-select
    [formFieldClass]="'formFieldClass-standard'"
    [id] = "product?.yearsOld"
    [fieldName]="'yearsOld'"
    [inputForm]="inputForm">
    Lab
  </app-brand-type-select>
</div>

<div>
  <app-brand-type-select
    [formFieldClass]="'formFieldClass-standard'"
    [id] = "product?.packager"
    [fieldName]="'packager'"
    [inputForm]="inputForm">
    Producer
  </app-brand-type-select>
</div>

<app-value-fields
[inputForm]="inputForm"
[fieldName]="'testDate'">
Test Date
</app-value-fields>
<app-value-fields
[inputForm]="inputForm"
[fieldName]="'dateMade'">
Batch Date
</app-value-fields>
