  <!-- Styles are applied from resources -->
  <!-- assets/htmlTemplates/balancesheetStyles.txt -->
  <ng-container [ngTemplateOutlet]="header"></ng-container>
  <ng-container [ngTemplateOutlet]="balanceSheetFinal"></ng-container>
  <ng-container [ngTemplateOutlet]="balanceSheetCalc"></ng-container>

  <ng-template #header>
    <div *ngIf="printType === 'balanceSheetFinal'">
      <h3>Balance Sheet</h3>
    </div>
  </ng-template>

  <ng-template #balanceSheetFinal>
    <div *ngIf="printType === 'balanceSheetFinal'">
      <balance-sheet-header-view
        [autoPrint]="autoPrint"
        (renderComplete)="renderCompleted($event)"
        [disableAuditButton]="true"
        [sheetType]="sheetType"
        [sheet]="sheet">
      </balance-sheet-header-view>
    </div>
    <mat-divider></mat-divider>
  </ng-template>

  <ng-template #balanceSheetCalc>
    <div *ngIf="printType === 'balanceSheetFinal'">
      <balance-sheet-calculations-view
        [autoPrint]="autoPrint"
        (renderComplete)="renderCompleted($event)"
        [sheet]="sheet">
      </balance-sheet-calculations-view>
    </div>
    <mat-divider></mat-divider>
  </ng-template>


  <div *ngIf="(auths$ | async) as auths">
    <div *ngIf="(zRun$ | async) as zRunData">
      <div *ngIf="printType === 'balanceSheetFinal'">

        <ng-container [ngTemplateOutlet]="serviceFeeView"></ng-container>
        <ng-template #serviceFeeView>
          <ng-container [ngTemplateOutlet]="divider"></ng-container>
          <div *ngIf="(gratuitySummary$ | async) as serviceFee" style="margin-bottom:10px">
            <div *ngIf="serviceFee && !this.auths.blindBalanceSheet ">
              <div class="header-grid printFont-14">
                <!-- <div *ngIf="zRunData.id">
                  Day ID
                </div>
                <div *ngIf="zRunData.id">
                  {{zRunData.id}}
                </div>
                <div *ngIf="zRunData.endTime">
                  End Time
                </div>
                <div *ngIf="zRunData.endTime">
                  {{zRunData.endTime | date: 'short'}}
                </div> -->
                <div >
                  Net Sales:
                </div>
                <div>
                  {{ sheet?.netSales ?? 0 | currency }}
                </div>
                <div *ngIf="serviceFee.gratuity !== 0">
                  Other Charges:
                </div>
                <div  *ngIf="serviceFee.gratuity !== 0">
                  {{ serviceFee?.gratuity ?? 0 | currency }}
                </div>
                <!-- <div *ngIf="serviceFee.gratuity != 0">
                  Credit Tips + Other Charges
                </div>
                <div  *ngIf="serviceFee.gratuity != 0">
                  {{ (sheet?.creditTips + serviceFee?.gratuity) ?? 0 | currency }}
                </div> -->
              </div>
            </div>

          </div>
        </ng-template>

        <ng-container [ngTemplateOutlet]="paymentReportView"></ng-container>
        <ng-template #paymentReport>
            <ng-container [ngTemplateOutlet]="divider"></ng-container>
            <div style="margin-bottom:10px">
              <payment-report
                [type]        ="'sales'"
                [groupBy]     ="'paymentMethod'"
                [site]        ="site"
                [reportRunID] ="sheet.id"
                [autoPrint]   ="true"
                (renderComplete)="renderCompleted($event)">
              </payment-report>
            </div>
            <mat-divider></mat-divider>
        </ng-template>

        <div style="margin-bottom:15px">
          <ng-container [ngTemplateOutlet]="divider"></ng-container>
          <ng-container [ngTemplateOutlet]="itemTypeReportView" ></ng-container>
          <ng-template #itemTypeReport>
            <item-sales-card
                [site]          ="site"
                [reportRunID]   ="sheet.id"
                [removeGiftCard]="true"
                [viewType]      ="'sales'"
                [autoPrint]     ="true"
                (renderComplete)="renderCompleted($event)"
                [groupBy]       ="'type'">
              <div class="header"> Item Types </div>
            </item-sales-card>
            <mat-divider></mat-divider>
          </ng-template>
        </div>

        <div style="margin-bottom:15px">
          <ng-container [ngTemplateOutlet]="transactionTypesView" ></ng-container>
          <ng-template #transactionTypes>
            <ng-container [ngTemplateOutlet]="divider"></ng-container>
            <item-sales-card
                [site]          ="site"
                [reportRunID]   ="sheet.id"
                [removeGiftCard]="true"
                [viewType]      ="'sales'"
                [autoPrint]     ="true"
                (renderComplete)="renderCompleted($event)"
                [groupBy]       ="'transactionType'">
              <div class="header"> Sale Types </div>
            </item-sales-card>
            <mat-divider></mat-divider>
          </ng-template>
        </div>

        <ng-container [ngTemplateOutlet]="balanceSheetDetailsView"></ng-container>
        <ng-template #balanceSheetDetails>
          <div style="margin-bottom:10px">
            <ng-container [ngTemplateOutlet]="divider"></ng-container>
            <h3>Payments:</h3>
            <div *ngIf="(list$ | async) as list">
              <credit-card-payments-print-list
                [autoPrint]     ="autoPrint"
                (renderComplete)="renderCreditCardPayments($event)"
                [list]          ="list">
              </credit-card-payments-print-list>
            </div>
            <mat-divider></mat-divider>
          </div>
        </ng-template>

        <ng-container [ngTemplateOutlet]="creditCardPaymentsView"></ng-container>
        <ng-template #creditCardPayments>
          <div  style="margin-bottom:10px">
            <ng-container [ngTemplateOutlet]="divider"></ng-container>
            <h3>Payments Groups:</h3>
            <div *ngIf="(paymentGroups$ | async) as list">
              <credit-card-payments-print-list
                [groupType]="true"
                [autoPrint]="autoPrint"
                (renderComplete)="renderCardSummary($event)"
                [list]="list">
              </credit-card-payments-print-list>
              <mat-divider></mat-divider>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <ng-container [ngTemplateOutlet]="balanceSheetValues"></ng-container>
  <ng-template #balanceSheetValues>
    <div *ngIf="(auths$ | async) as auths"  style="margin-bottom:10px">
      <div *ngIf="(printType === 'balanceSheetValues' || printType === 'balanceSheetFinal') &&  !auths.balanceSheetDisableBank">
        <h2>Remaining in Drawer</h2>

        <div class="balance-currency">

          <div class="balance-grid-summary">
            <div>Dollars ({{sheet?.onesEnd * 1 }})</div>
            <div>{{sheet?.onesEnd * 1 | currency}}</div>

            <div>Five ({{sheet?.fivesEnd * 1}})</div>
            <div>{{sheet?.fivesEnd * 5 | currency}}</div>

            <div>Ten ({{sheet?.tensEnd * 1}})</div>
            <div>{{sheet?.tensEnd * 10 | currency}}</div>

            <div>Twenty ({{sheet?.twentiesEnd * 1}})</div>
            <div>{{sheet?.twentiesEnd * 20 | currency}}</div>

            <div>Fifty ({{sheet?.fiftiesEnd * 1 }})</div>
            <div>{{sheet?.fiftiesEnd * 50 | currency}}</div>

            <div>Hundreds ({{sheet?.hundredsEnd * 1}})</div>
            <div>{{sheet?.hundredsEnd * 100 | currency}}</div>
          </div>

          <div class="balance-grid-summary">
            <div>Penny ({{sheet?.pennyEnd * 1}})</div>
            <div>{{sheet?.pennyEnd * .01 | currency}}</div>

            <div>Nickle ({{sheet?.nickelEnd * 1}})</div>
            <div>{{sheet?.nickelEnd *.05 | currency}}</div>

            <div>Dime  ({{sheet?.dimeEnd * 1 }})</div>
            <div>{{sheet?.dimeEnd * .1 | currency}}</div>

            <div>Quarter  ({{sheet?.quarterEnd * 1 }})</div>
            <div>{{sheet?.quarterEnd  * .25  | currency}}</div>

            <div>Half  ({{sheet?.halfDollarEnd  * 1}})</div>
            <div>{{sheet?.halfDollarEnd * .5 | currency}}</div>

            <div>Coin Dollar ({{sheet?.dollarEnd * 1 }}) </div>
            <div>{{sheet?.dollarEnd * 1  | currency}}</div>
          </div>

        </div>
      </div>
    </div>
  </ng-template>

  <div *ngIf="(auths$ | async) as auths"  style="margin-bottom:10px">
    <div *ngIf="printType === 'cashDrop' && !auths.balanceSheetDisableCashDrops">
      <h1>Cash Drop</h1>
      <div class="balance-grid-summary">
        <div><h3>Sheet ID</h3> </div>
        <div><h3>{{sheet.id}}</h3></div>
        <div><h3>DROP ID</h3> </div>
        <div *ngIf="cashDrop"><h3>{{cashDrop?.id}}</h3></div>
        <div><h3>Time</h3> </div>
        <div *ngIf="cashDrop"><h3>{{cashDrop?.dropTime }}</h3></div>

        <div><h3>Amount</h3> </div>
        <div *ngIf="cashDrop"><h3>{{cashDrop?.amount }}</h3></div>
      </div>
    </div>
  </div>

  <ng-template #loading>
    ...loading
  </ng-template>

  <ng-template #divider>
    ----------------------------------------------------------
  </ng-template>
