@import "/src/mixins.scss";

.button {
  width     : 160px;
  max-width : 160px;
  min-width : 160px;
  height    : 75px;
  min-height: 75px;
  font-size: 1em;
}

.grid-container {
  --gap: 5px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(165px, 1fr) );

  @include for-phone-only {
    --gap                : 5px;
    display              : grid;
    gap                  : var(--gap);
    grid-template-columns: 1fr;
    margin-right         : 4px;
    max-width            : 375px;
  }

}




