
<div   *ngIf="menuPopup && priceTiers">
  <div class="grid-container">

    <div  class="button"
          *ngFor="let item of priceTiers.priceTierPrices">
        <div class="button">
          <button mat-raised-button
                  class="button"
                  (click)="addItem(item)"
                  color="warn"  >

              <div>
                {{item.priceName}}
              </div>

              {{item.flatQuantity}} G
              <span *ngIf="item.rateOrPrice">
                @ {{ (item.retail * item.flatQuantity).toFixed(2) | currency }}
              </span>
              <span *ngIf="!item.rateOrPrice">
                @ {{ item.retail | currency }}
              </span>
          </button>
        </div>

      </div>
  </div>
</div>


