<div *ngIf="(action$ | async) as emvTransaction; else emvTransaction"></div>

<div *ngIf="!uiSettings">
  No DSI Settings Enabled.
</div>
<ng-template #emvTransaction>
  <div *ngIf="processingResults">
    ...processing.
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</ng-template>

<mat-card>
  <mat-card-title>
    <div>
      Transaction Type: {{type}}
    </div>

    <div class="grid-totals">
      <div>Payment # </div>
      <div>{{payment?.id}}</div>
      <div> Order # </div>
      <div>{{payment?.orderID}} </div>

      <div *ngIf="voidPayment">Amount</div>
      <div *ngIf="voidPayment">{{voidPayment.amountPaid | currency}}</div>

      <div *ngIf="!voidPayment">Amount</div>
      <div *ngIf="!voidPayment">{{amount | currency}}</div>
    </div>

  </mat-card-title>

  <mat-card-content>
    <div *ngIf="processing">
      <div>
        <h2>{{message}}</h2>
      </div>
      <div>
        <mat-spinner [diameter]="50"> </mat-spinner>
      </div>
    </div>

    <div *ngIf="!processing">
      <h2>{{message}}</h2>
    </div>

  </mat-card-content>

  <mat-card-actions>
    <div class="action-buttons">
        <div *ngIf="!processing">
          <button mat-raised-button
            [disabled]="!this.userAuthorization.isStaff || processingResults"
            (click)="process()">
          <mat-icon>credit_card</mat-icon>Process
        </button>
      </div>

      <div *ngIf="!processing">
          <button mat-raised-button
            [disabled]="!this.userAuthorization.isStaff"
            (click)="processManual()">
          <mat-icon>credit_card</mat-icon>Manual
        </button>
      </div>

      <div *ngIf="!processing">
        <button class="payment-buttons"
            mat-raised-button
            (click)="dsiResetDevice()">
            <mat-icon color="warn">refresh</mat-icon>Device Reset
        </button>
      </div>
      <div><button mat-raised-button
                   (click)="cancel()">
        <mat-icon>close</mat-icon>Cancel</button>
      </div>
    </div>

    <!-- <div class="action-buttons">
      <h2>Testing</h2>
      <div>
        <button mat-raised-button
          (click)="process()"><mat-icon>credit_card</mat-icon>Process
        </button>
      </div>

      <div>
        <button mat-raised-button
          (click)="testProcess()">Test Process
        </button>
      </div>


      <div *ngIf="response">
        <button mat-raised-button
            (click)="testSaveTransaction()">
            <mat-icon>save</mat-icon>
            Save Results
        </button>
      </div>
    </div> -->

  </mat-card-actions>
</mat-card>
