<div class="buttons-grid">

  <div>
    <button mat-button (click)="print()">
      <div *ngIf="printerName">
        <mat-icon>print</mat-icon>
        Print to  {{printerName}}
      </div>
      <div *ngIf="!printerName">
        <mat-icon>save</mat-icon>
        Save
      </div>
    </button>
  </div>

  <div *ngIf="!hideExit">
    <button mat-button (click)="exit()">
      <mat-icon>close</mat-icon>
      Exit
    </button>
  </div>
</div>

<div class="mat-card-white" >
  <ng-container>
    <ng-container [ngTemplateOutlet]="currentView"></ng-container>
  </ng-container>
</div>

<ng-template #receipt>
  <div *ngIf="receiptLayoutSetting && headerText &&  itemsText"
       class="border-section">
    <app-receipt-layout #printsection id="printsection"
                      [headerText]="headerText"
                      [footerText]="footerText"
                      [itemText]="itemsText"
                      [printerWidth]="receiptLayoutSetting.option9"
                      [paymentsText]="paymentsText"
                      [subFooterText]="subFooterText"
                      [items]="items"
                      [order]="orders"
                      [payments]="payments"
                      [orderType]="orderTypes"
                      [testdata]="false"
                      [liveEdit]="false"
                      [styles]="receiptStyles">
    </app-receipt-layout>
  </div>
</ng-template>

<ng-template #balanceSheet>
<balance-sheet-view
    #printsection id="printsection"
    [disableAuditButton]="true">
  </balance-sheet-view>
</ng-template>

