<div *ngIf="(email$ | async) as email">
  Email: {{email}}
  <button  mat-raised-button (click) ="email$ = null">Clear</button>
</div>

<div *ngIf="(printAction$ | async) as printAction"></div>

<div *ngIf="printView">
  <div *ngIf="(refreshView$ | async) as layout">

      <div class="buttons-grid">
        <div>
          <button  mat-button (click)="print()">
            <span *ngIf="printerName">
              <mat-icon>print</mat-icon>{{printerName}}
            </span>
          </button>
        </div>

        <div *ngIf="!hideExit">
          <button mat-button (click)="exit()">
            <mat-icon>close</mat-icon> Exit
          </button>
        </div>
      </div>

      <div class="buttons-grid">
        <div *ngIf="(order$ | async) as order">
          <button *ngIf="order" mat-button (click)="email()"><mat-icon>email</mat-icon>Email </button>

          <button mat-button
                  [disabled]="!order || !order?.orderCode"
                  *ngIf="!isElectronApp"
                  (click)="openLink()">
              <mat-icon>link</mat-icon>Link
          </button>
        </div>
        <button mat-button (click)="convertToPDF()"><mat-icon>pdf</mat-icon> PDF </button>
      </div>

      <div>
      </div>

      <div class="mat-card-white">
        <ng-container>
          <ng-container [ngTemplateOutlet]="currentView"></ng-container>
        </ng-container>
      </div>
  </div>
</div>

<ng-template #balanceSheetTemplate>
  <balance-sheet-view
      id="printsection"
      [printType]="'balanceSheetFinal'"
      [disableAuditButton]="true"
      [autoPrint]="autoPrint"
      (renderComplete)="printViewCompleted('balance-sheet-view')">
  </balance-sheet-view>
</ng-template>

<ng-template #receiptTemplate>
  <div *ngIf="receiptLayoutSetting && ((headerText &&  itemsText) || order)"
       class="border-section">
    <app-receipt-layout id="printsection"
                        [headerText]  ="headerText"
                        [footerText]  ="footerText"
                        [itemText]    ="itemsText"
                        [printerWidth]="receiptLayoutSetting.option9"
                        [paymentsText]="paymentsText"
                        [paymentsWICEBTText]="paymentsCreditText"
                        [paymentsCreditText]="paymentsWICEBTText"
                        [subFooterText]="subFooterText"
                        [items]       ="items"
                        [order]       ="orders"
                        [payments]    ="payments"
                        [orderType]   ="orderTypes"
                        [testdata]    ="false"
                        [liveEdit]    ="false"
                        [styles]      ="receiptStyles">
    </app-receipt-layout>
  </div>
</ng-template>

<ng-template #balanceSheetValues>
  <balance-sheet-view
      id="printsection"
      [printType]="'balanceSheetValues'"
      [disableAuditButton]="true">
  </balance-sheet-view>
</ng-template>

<ng-template #cashDropView>
  <balance-sheet-view
       id="printsection"
      [printType]="'cashDrop'"
      [disableAuditButton]="true">
  </balance-sheet-view>
</ng-template>

<ng-template #dailyReport>
  <balance-sheet-view
      id="printsection"
      [disableAuditButton]="true">
  </balance-sheet-view>
</ng-template>
