<div class="buttons-grid">
  <div>
    <button mat-button (click)="print()">
      <span *ngIf="printerName"><mat-icon>print</mat-icon> Print to  {{printerName}}</span>
      <span *ngIf="!printerName"><mat-icon>save</mat-icon>Save</span>
    </button>
    <button mat-button (click)="email()"><mat-icon>email</mat-icon>Email </button>
  </div>

  <div>
  </div>

  <div *ngIf="!hideExit">
    <button mat-button (click)="exit()">
      <mat-icon>close</mat-icon> Exit
    </button>
  </div>
</div>

<div class="mat-card-white" >
  <ng-container>
    <ng-container [ngTemplateOutlet]="currentView"></ng-container>
  </ng-container>
</div>

<ng-template #receipt>
  <div *ngIf="receiptLayoutSetting && headerText &&  itemsText"
       class="border-section">
    <app-receipt-layout #printsection
                      id="printsection"
                      [headerText]="headerText"
                      [footerText]="footerText"
                      [itemText]="itemsText"
                      [printerWidth]="receiptLayoutSetting.option9"
                      [paymentsText]="paymentsText"
                      [paymentsWICEBTText]="paymentsCreditText"
                      [paymentsCreditText]="paymentsWICEBTText"
                      [subFooterText]="subFooterText"
                      [items]="items"
                      [order]="orders"
                      [payments]="payments"
                      [orderType]="orderTypes"
                      [testdata]="false"
                      [liveEdit]="false"
                      [styles]="receiptStyles">
    </app-receipt-layout>
  </div>
</ng-template>

<ng-template #balanceSheet>
  <balance-sheet-view
      #printsection
      [disableAuditButton]="true">
  </balance-sheet-view>
</ng-template>

