
button {
  height     : 50px;
  margin-left: 5px;
  min-width: 100px;
}

.border-section {
  width: 300px;
  border: 3px;
  border-radius: 3px;
  margin: 3px 3px 3px 3px;
  padding: 3px 3px 3px 3px;
}

.buttons-grid {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  justify-content: space-between;
  align-content: space-around;
  width: 100%;
}

.mat-card-white {
  background-color: white;
  color: black;
  width: 375px;
}

.print-button {
  width: 150px;
  height: 65px;
}
