@import "/src/mixins.scss";

ion-item-sliding {
  width: 99%;
  padding: 0;
}


.ion-slide {
  width: 110%;
  left: -15px;
}

.item-reorder { 
  padding-top: 1px;
  padding-bottom: 1px;
}
.nopadd  {
  padding: 0;
  margin: -3px;
  width: 99%;
}

.nopadd-display  {
  padding: 0;
  margin: -3px;
  width: 99%;
}


pos-order-item {
  width: 100%;
  padding: 0px;
  margin: 0px;
  padding-right: 5px;
}

.menu-container { 
  
}

.phone-drag {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.item-list {
  margin-bottom: 25px;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 75px);

  @include for-phone-only  {
    margin-bottom: 25px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: calc(100vh - 100px);
  }
}

.item-list-side-panel {
  margin-bottom: 25px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 99%;
  @include for-phone-only  {
    margin-bottom: 30px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.phone-panel {
  @include for-phone-only  {
    width: 95vw;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 15px;
  }
}


.flex-row {
  width: 200px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}

.close-button {
  // position: relative;
  // left: -70px;
  top: 0;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-phone-scroll {
  display: grid;
  grid-template-columns: 1fr 25px;
  margin-bottom: 40px;

  overflow-x: auto;
  overflow-y: auto;
}

.main-panel {
  overflow-y: auto;
  overflow-x: hidden;

  @include for-phone-only  {
    max-width: 95vw;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.side-panel {
  overflow-y: auto;
  overflow-x: hidden;
}

.qr-style {
  height: calc(100vh - 700px);
  overflow-y: auto;
  overflow-x: hidden;
}

.item-list-prep {

  overflow-y: auto;
  overflow-x: hidden;
  max-height: 55vh;
  height    : 100%;

  ///ipad
  @include for-tablet-portrait-up {
    margin-bottom: 25px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    max-height: 550px;
  }

  //ipadpro
  @include for-tablet-landscape-up {
    margin-bottom: 25px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    max-height: 750px;
  }

}

// #scrollstyle_1::-webkit-scrollbar {
// 	width: 45px;
// 	background-color: #F5F5F5;
// }

// /** STYLE 7 */
// #scrollstyle_1::-webkit-scrollbar-track {
// 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// 	background-color: #F5F5F5;
// 	border-radius: 10px;
// }

// #scrollstyle_1::-webkit-scrollbar-thumb {
// 	border-radius: 10px;
// 	background-image: -webkit-gradient(linear,
// 									   left bottom,
// 									   left top,
// 									   color-stop(0.44, rgb(122,153,217)),
// 									   color-stop(0.72, rgb(73,125,189)),
// 									   color-stop(0.86, rgb(28,58,148)));
// }

// .scrollbar {
// 	// margin-left: 22px;
// 	// float: left;
// 	height: 300px;
// 	width: 65px;
// 	background: #F5F5F5;
// 	overflow-y: auto;
// 	margin-bottom: 25px;
// }

.force-overflow {
	min-height: 450px;
}

