@import "/src/mixins.scss";

ion-item-sliding {
  width: 99%;
  padding: 0;
  // margin: 2px;
}

ion-item {
  // width: 99%;
  // padding: 0;
  // // margin: 2px;
  width: 110%;
  padding: 0;
  left: -10px;
}


.nopadd  {
  padding: 0;
  margin: -3px;
  width: 98%;
}

pos-order-item {
  width: 99%;
  padding: 0;
  margin: 0px;
}

.item-list {

  margin-bottom: 25px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 85vh;

  @include for-phone-only  {
    margin-bottom: 25px;
    overflow-y: auto;
    overflow-x: hidden;
    // height: 65vh;
  }

}

.item-list-side-panel {

  margin-bottom: 25px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 55vh;

  @include for-phone-only  {
    margin-bottom: 25px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 65vh;
  }

}
