<div *ngIf="(action$ | async) as action"></div>
<div *ngIf="(printAction$ | async) as action"></div>

<ng-container [ngTemplateOutlet]="posItemsView"></ng-container>

<ng-template #posOrderItemsPrepView>
  <div  *ngIf   = "posOrderItems && posOrderItems.length>0"
        [id]    = "scrollStyle"
        [style] = "'height:calc(75vh - 300px);padding-bottom:2px;overflow-y:auto;overflow-x:hidden;'" >
     <ng-container [ngTemplateOutlet]="posItemsListView"></ng-container>
  </div>
</ng-template>

<ng-template #phoneDeviceView>

  <div class="grid-phone-scroll">
    <div class="item-span">
      <button *ngIf="!androidApp" style="height:55px" mat-button (click)="dismiss()"><mat-icon>close</mat-icon>Close</button>

      <span class="item-span">
        <button  style="height:55px"  mat-button (click)="viewCart()"><mat-icon>shopping_cart</mat-icon>Cart</button>
      </span>

      <span class="item-span">
        <button  style="height:55px"  mat-button (click)="viewPayment()"><mat-icon>money</mat-icon>Checks</button>
      </span>

      <span class="item-span">
        <button  style="height:55px"  mat-button color="warn" (click)="sendOrder()"><mat-icon>local_fire_department</mat-icon>Fire</button>
      </span>

      <span class="item-span">
        <button  style="height:55px"  mat-button color="warn" (click)="printOrder()"><mat-icon>print</mat-icon></button>
      </span>
    </div>


    <div  #scrollMe
        [id]="scrollStyle"
        *ngIf="posOrderItems && posOrderItems.length>0"
        [style.width]  = "'85vw'"
        class="phone-device">
      <ng-container [ngTemplateOutlet]="posItemsListView"></ng-container>
    </div>
    <div class="phone-drag">
      Touch here, to scroll the list.
    </div>
  </div>

</ng-template>

<ng-template #posOrderItemsView>

  <div  #scrollMe
          [id]="scrollStyle"
          *ngIf="posOrderItems && posOrderItems.length>0"
          [style.width]  = "deviceWidthPercentage"
          [class]="mainStyle">
      <ng-container [ngTemplateOutlet]="posItemsListView"></ng-container>
  </div>
</ng-template>

<ng-template #posItemsListView>
    <ion-item-sliding
                      [class]="nopadd"
                      *ngFor="let item of posOrderItems;
                              let i = index;trackBy: trackByFN"
                      (ionSwipe)="swipeAction(i)"  >

      <div *ngIf="uiConfig">
        <ion-item *ngIf="item" >
          <!--     [order]       ="order" -->
          <pos-order-item
                      [class]      ="gridScroller"
                      [index]      ="i"
                      [quantity]   ="item?.quantity"
                      [unitPrice]  ="item?.unitPrice"
                      [total]      ="item?.total"
                      [wholeSale]  ="item?.wholeSale"
                      [subTotal]   ="item?.subTotal"
                      [id]         ="item?.id"
                      [orderItem]  ="item"
                      [printed]    ="item.printed"
                      [onlineShortDescription]="item?.posOrderMenuItem?.onlineShortDescription"
                      [placeHolderImage]="'placeholderproduct.png'"
                      [mainImage]   ="item?.posOrderMenuItem?.urlImageMain"
                      [productName] = "item?.productName"
                      [cbd]         ="item?.posOrderMenuItem?.cbd"
                      [thc]         ="item?.posOrderMenuItem?.thc"
                      [menuItem]    ="item?.posOrderMenuItem"
                      [productID]   ="item?.productID"
                      [ui]          ="uiConfig"
                      [mainPanel]   ="mainPanel"
                      [userAuths]           ='userAuths'
                      [wideBar]             ="wideBar"
                      [smallDevice]         ="phoneDevice"
                      [prepScreen]          ="prepScreen"
                      [enableExitLabel]     = "enableExitLabel"
                      [disableActions]      = "disableActions"
                      [isStaff]="isStaff"
                      [displayHistoryInfo]  = "displayHistoryInfo"
                      [enableItemReOrder]   = "enableItemReOrder"
                      [purchaseOrderEnabled]= "purchaseOrderEnabled"
                      [conditionalIndex]    = 'item?.conditionalIndex'
                      (outputDelete)        = "removeItemFromList($event)"
          ></pos-order-item>
        </ion-item>
      </div>

      <ion-item-options *ngIf="prepScreen">
        <ion-item-option color="warn">
          <button mat-button color="primary" (click)="setAsPrepped(i)" >
            <span *ngIf="!item.itemPrepped" ><mat-icon>done       </mat-icon>Set Prepped</span>
            <span *ngIf="item.itemPrepped"  ><mat-icon>remove_done</mat-icon>Undo Prep</span>
          </button>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options >
        <ion-item-option color="warn">
          <button mat-button color="primary" (click)="removeItemFromList(i)" >
            <span *ngIf="!item?.printed && !prepScreen">
              <mat-icon>delete</mat-icon>
              Delete
            </span>
            <span *ngIf="item?.printed && !prepScreen">
              <mat-icon>remove_shopping_cart</mat-icon>
              Void
            </span>
          </button>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

</ng-template>

