.dates-field {
  margin-left : 0px;
  margin-top  : 5px;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  gap: 5px;
}

button {
  margin: 0px;
  padding: 0px;
  width: 35px;
  min-width: 35px;
}

.dates-field {
  width: 245px;
}

.toggle-min {
  width: 87px;
}


.date-picker-input {
  background-color: transparent;
  border: 1px;
  border: 1px solid #9e9e9e;
  border-radius: 4px;
  outline: none;
  height: 2.5rem;
  width: 100%;
  font-size: 1em;
  margin: 1px;
  padding-left: 2px;
  box-shadow: none;
  box-sizing: content-box;
  width: 185px;
  transition: box-shadow 0.3s, border 0.3s;
}

.calendar-button {
  position: relative;
  // left: -35px;


}
