.dates-field {
  margin-left : 0px;
  margin-top  : 5px;
}

.container {
  display: grid;
  grid-template-columns: 35px 235px;
  width: 245px;
  gap: 5px;
}

button {
  margin: 0px;
  padding: 0px;
  width: 35px;
  min-width: 35px;
}

.dates-field {
  min-width: 200px;
  width: 245px;
}
