<div class="container" *ngIf="inputForm">
  <button [hidden]="hideRefresh" class="button" 
          mat-button (click)="emitDatePickerData()">
      <mat-icon>refresh</mat-icon>
  </button>
  <ng-container [ngTemplateOutlet]="magPickerView"></ng-container>
</div>

<ng-template #touchTemplate>
  <mat-form-field
        class="dates-field"
        appearance="outline">
    <mat-label><ng-content></ng-content></mat-label>
    <mat-date-range-input     [formGroup]   ="inputForm"
                  [rangePicker] ="reportRangePicker">
      <input matStartDate
        formControlName="start"
        placeholder    ="Start date"
        (click)        = "emitDatePickerData()">
      <input matEndDate
        formControlName="end"
        placeholder    ="End date"
        (click)        = "emitDatePickerData()">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="reportRangePicker" ></mat-datepicker-toggle>
    <mat-date-range-picker touchUi #reportRangePicker></mat-date-range-picker>
    <mat-error *ngIf="inputForm.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
    <mat-error *ngIf="inputForm.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
  </mat-form-field>
</ng-template>

<ng-template #desktopTemplate>
  <mat-form-field
        class="dates-field"
        appearance="outline">
    <mat-label><ng-content></ng-content></mat-label>
    <mat-date-range-input  [formGroup]   ="inputForm"
                  [rangePicker] ="reportRangePicker">
      <input matStartDate
        formControlName="start"
        placeholder    ="Start date"
        (click)        = "emitDatePickerData()">
      <input matEndDate
        formControlName="end"
        placeholder    ="End date"
        (click)        = "emitDatePickerData()">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="reportRangePicker" ></mat-datepicker-toggle>
    <mat-date-range-picker #reportRangePicker></mat-date-range-picker>
    <mat-error *ngIf="inputForm.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
    <mat-error *ngIf="inputForm.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
  </mat-form-field>
</ng-template>

<ng-container [ngTemplateOutlet]="buttonView"></ng-container>

<ng-template #nextPreviousTemplate>
  <div class="ps-grid-items-75-col">
    <div><button style="width:75px" mat-raised-button (click)="moveDate(-1)"><mat-icon>back</mat-icon>Back</button></div>
    <div><button style="width:75px" mat-raised-button (click)="moveDate(0)"><mat-icon></mat-icon>Today</button></div>
    <div><button style="width:75px" mat-raised-button (click)="moveDate(1)"><mat-icon>foward</mat-icon>Next</button></div>
  </div>
</ng-template>

<ng-template #nextPreviousTemplateGroup>
  <mat-button-toggle-group
    name        ="toggleOpenClosedAll"
    class       ="toggle-view"
    (c)    ="moveDate($event)" >
    <mat-button-toggle class="toggle-min" (click)="moveDate(-1)" value=-1><mat-icon>remove</mat-icon></mat-button-toggle>
    <mat-button-toggle class="toggle-min" (click)="moveDate(0)"value=0> <mat-icon>date</mat-icon>Today</mat-button-toggle>
    <mat-button-toggle class="toggle-min" (click)="moveDate(1)" value=1 ><mat-icon>add</mat-icon> </mat-button-toggle>
  </mat-button-toggle-group>
</ng-template>
