<div *ngIf="!setting">  Loading... </div>
<div *ngIf="(action$ | async) as action"></div>
<div *ngIf="setting">
  <div class="header-alignment">  <mat-icon>design_services</mat-icon>  </div>

  <div class="header">  Designer   </div>

  <div>
    <div>
      <div>
          <button class="button" mat-raised-button color="primary"  (click)="copy()"><mat-icon>file_copy</mat-icon>Copy</button>
          <button class="button" mat-raised-button color="primary"  (click)="resetDefault()"><mat-icon>upload</mat-icon>Reset</button>
          <button class="button" mat-raised-button color="primary"  (click)="update()"><mat-icon>save</mat-icon>Save</button>
          <button class="button" mat-raised-button color="primary"  (click)="delete()"><mat-icon>delete</mat-icon>Delete</button>
          <button class="button" mat-raised-button color="primary"  (click)="onCancel()"><mat-icon>close</mat-icon>Close</button>
      </div>
    </div>
  </div>

  <div class="margin">  <mat-divider></mat-divider>  </div>

  <div [formGroup]="inputForm"
       
        *ngIf="inputForm">

    <div *ngIf="setting.name === 'ReceiptStyles'">
      <h4>CSS Styles</h4>
      <div>
        These styles determine font, and alignment of the items in the print out.
        Keep in mind, if you understand CSS then options like color will not
        apply when you use a printer that does not have color.
      </div>
    </div>

    <div>Type: {{setting.name}} </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label >Name</mat-label>
        <input matInput
              type             ="text"
              formControlName  ="name"
              [(ngModel)]      ="setting.name"
              class="form-control" >
      </mat-form-field>

      <!-- <button mat-raised-button color="warn" (click)="deleteCachedStyles()">Delete Cached Styles</button> -->
    </div>

    <div>
      <mat-form-field appearance="outline" class="description">
        <mat-label>Styles</mat-label>
        <textarea
                  matInput
                  type             ="text"
                  formControlName  ="text"
                  rows             ="50"
                  cols             ="90"   >
        </textarea>
      </mat-form-field>
    </div>

  </div>
</div>
