<div *ngIf="(action$ | async) as action"></div>

<div *ngIf="inputForm"
     [formGroup]="inputForm"
     class="grid-container" >

    <div class="grid-container-2col" *ngIf="itemType && !itemType.disablePriceCategory" >
      <div style="width:250px" *ngIf="searchForm && inputForm">
        <app-price-category-search
            [isInventory]="isInventory"
            [id]         ="priceCategoryID"
            [searchForm] ="searchForm"
            [inputForm]  ="inputForm"  >
        </app-price-category-search>
      </div>

    <div style="margin-top:5px;">
      <button mat-button
              color="accent"
              (click)="openPriceCategory()">
        <div *ngIf="priceCategoryID != 0">
          <mat-icon>open_in_new</mat-icon>
        </div>
        <div *ngIf="priceCategoryID == 0">
          <mat-icon>add</mat-icon>
        </div>
      </button>
    </div>

</div>

  <app-value-fields
      *ngIf="!isInventory && !itemType?.disableSimplePrice"
      [fieldsClass]="'font-medium'"
      [inputForm]= "inputForm"
      [fieldName]="'retail'">
      Price
  </app-value-fields>

  <app-value-fields
    *ngIf="isInventory && !itemType?.disableSimplePrice"
    [fieldsClass]="'font-medium'"
    [inputForm]= "inputForm"
    [fieldName]="'price'">
    Price
  </app-value-fields>

  <app-value-fields
      *ngIf="!isInventory"
      [fieldsClass]="'font-medium'"
      [inputForm]= "inputForm"
      [fieldName]="'wholesale'">
    Cost
  </app-value-fields>

  <div style="margin-top:5px;"  *ngIf="!isInventory &&  showAdditionalButton">
    <button class="button"
            mat-raised-button
            (click)="showMorePrices = !showMorePrices">
        <div *ngIf="showMorePrices">
          Show Less
        </div>
        <div *ngIf="!showMorePrices">
          Show More Prices
        </div>
      </button>
  </div>

  <div *ngIf="showMorePricesView && inputForm">

    <ng-container [ngTemplateOutlet]="inventoryCaseView"></ng-container>

    <app-value-fields
                  *ngIf="!isInventory && ( fbProductsService.isAlcohol(itemType) ||
                                           fbProductsService.isAlcohol(itemType) ||
                                           fbProductsService.isProduct(itemType) )"
      [inputForm]="inputForm"
      [fieldsClass]="'font-medium'"
      [fieldName]="'crv'"  >
      CRV
    </app-value-fields>

  </div>

  <ng-container [ngTemplateOutlet]="additionalPricesView"></ng-container>

  <ng-template #additionalPricesView>
    <div   class="ps-grid-items-75-col vertical-scroll">
      <div>
        <ng-container [ngTemplateOutlet]="retailFields"></ng-container>
      </div>
      <div>
        <ng-container [ngTemplateOutlet]="priceFields"></ng-container>
      </div>
    </div>
  </ng-template>

<ng-template #retailFields>
  <div *ngIf="inputForm && !isInventory"  [formGroup]="inputForm">
    <app-value-fields
      [inputForm]= "inputForm"
      [fieldName]="'priceA'">
      Price 1
    </app-value-fields>
    <app-value-fields
      [inputForm]= "inputForm"
      [fieldName]="'priceB'">
      Price 2
    </app-value-fields>
    <app-value-fields
      [fieldsClass]="'font-medium'"
      [inputForm]= "inputForm"
      [fieldName]="'priceC'">
      Price 3
    </app-value-fields>
  </div>
</ng-template>

<ng-template #inventoryCaseView>
  <div *ngIf="isInventory">
    <app-value-fields
        [inputForm]="inputForm"
        [fieldsClass]="'font-medium'"
        [fieldName]="'caseQuantity'" >
        Case QTY
    </app-value-fields>

    <app-value-fields
      [inputForm]="inputForm"
      [fieldsClass]="'font-medium'"
      [fieldName]="'casePrice'" >
      Case Price
    </app-value-fields>
  </div>
</ng-template>

<ng-template #priceFields>
  <div  *ngIf="!isInventory && inputForm" [formGroup]="inputForm">

    <app-value-fields
      [inputForm]="inputForm"
      [fieldsClass]="'font-medium'"
      [fieldName]="'caseWholeSale'"   >
      Case Cost
    </app-value-fields>

    <app-value-fields
      [inputForm]="inputForm"
      [fieldsClass]="'font-medium'"
      [fieldName]="'caseQty'" >
      Case Count
    </app-value-fields>

    <app-value-fields
      [inputForm]="inputForm"
      [fieldsClass]="'font-medium'"
      [fieldName]="'caseRetail'"  >
      Case Price
    </app-value-fields>

    <app-value-fields
        [inputForm]="inputForm"
        [fieldsClass]="'font-medium'"
        [fieldName]="'casePrice1'" >
        Case  1
    </app-value-fields>

    <app-value-fields
        [inputForm]="inputForm"
        [fieldsClass]="'font-medium'"
        [fieldName]="'casePrice2'">
        Case  2
    </app-value-fields>

    <app-value-fields
        [inputForm]="inputForm"
        [fieldsClass]="'font-medium'"
        [fieldName]="'casePrice3'"  >
        Case  3
    </app-value-fields>
  </div>
</ng-template>



