<div *ngIf="(action$ | async) as action"></div>

<div *ngIf="inputForm"
     [formGroup]="inputForm"
     class="grid-container" >

  <div class="grid-container-3col" *ngIf="itemType && !itemType.disablePriceCategory" >
    <div style="width:250px">
      <app-price-category-search
          [isInventory]="isInventory"
          [id]         ="priceCategoryID"
          [searchForm] = "searchForm"
          [inputForm]  ="inputForm"  >
      </app-price-category-search>
    </div>
    <div style="margin-top:5px;">
      <button mat-button
              color="accent"
              (click)="openPriceCategory()">
        <div *ngIf="priceCategoryID != 0">
          <mat-icon>expand</mat-icon>
        </div>
        <div *ngIf="priceCategoryID == 0">
          <mat-icon>add</mat-icon>
        </div>
      </button>
    </div>

    <!-- (isInventory && (inputForm.controls['priceCategoryID'].value  && inputForm.controls['priceCategoryID'].value != 0)) -->
    <div style="margin-top:5px;"
         *ngIf="(priceCategoryID == 0)">
      <button mat-button
              color="warn"
              (click)="clearPriceCategory()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <app-value-fields
      *ngIf="!isInventory && !itemType?.disableSimplePrice"
      [fieldsClass]="'font-medium'"
      [inputForm]= "inputForm"
      [fieldName]="'retail'">
      Price
  </app-value-fields>

  <app-value-fields
    *ngIf="isInventory && !itemType?.disableSimplePrice"
    [fieldsClass]="'font-medium'"
    [inputForm]= "inputForm"
    [fieldName]="'price'">
    Price
  </app-value-fields>

  <app-value-fields
      *ngIf="!isInventory"
      [fieldsClass]="'font-medium'"
      [inputForm]= "inputForm"
      [fieldName]="'wholesale'">
    Cost
  </app-value-fields>

  <div style="margin-top:5px;"  *ngIf="!isInventory &&  showAdditionalButton">
    <button class="button"
            mat-raised-button
            (click)="showMorePrices = !showMorePrices">
        <div *ngIf="showMorePrices">
          Show Less
        </div>
        <div *ngIf="!showMorePrices">
          Show More Prices
        </div>
      </button>
  </div>

  <div *ngIf="!isInventory && (fbProductsService.isTobacco(itemType)  || fbProductsService.isRetail(itemType) ||
              fbProductsService.isLiquor(itemType) || fbProductsService.isProduct(itemType) || showAdditionalCost)">
    <app-value-fields
      [inputForm]="inputForm"
      [fieldsClass]="'font-medium'"
      [fieldName]="'caseWholeSale'"   >
      Case Cost
    </app-value-fields>

    <app-value-fields
      [inputForm]="inputForm"
      [fieldsClass]="'font-medium'"
      [fieldName]="'caseQty'" >
      Case Count
    </app-value-fields>

    <app-value-fields
      [inputForm]="inputForm"
      [fieldsClass]="'font-medium'"
      [fieldName]="'crv'"  >
      CRV
    </app-value-fields>
  </div>

  <div style="margin-top:5px;"  *ngIf="!isInventory && !itemType.disableSimplePrice">
    <button class="button"
            mat-raised-button
            (click)="showMorePrices = !showMorePrices">
        <div *ngIf="showMorePrices">
          Show Less
        </div>
        <div *ngIf="!showMorePrices">
          Show More Prices
        </div>
      </button>
  </div>

  <div *ngIf="showMorePrices"  class="ps-grid-items-75-col vertical-scroll">
    <div>
      <ng-container [ngTemplateOutlet]="retailFields"></ng-container>
    </div>
    <div>
      <ng-container [ngTemplateOutlet]="priceFields"></ng-container>
    </div>
  </div>
</div>

<ng-template #retailFields>
  <div *ngIf="!isInventory && showMorePrices" [formGroup]="inputForm">
    <app-value-fields
      *ngIf="!isInventory && !itemType.disableSimplePrice"
      [fieldsClass]="'font-medium'"
      [inputForm]= "inputForm"
      [fieldName]="'priceA'">
      Price 1
    </app-value-fields>
    <app-value-fields
      *ngIf="!isInventory && !itemType.disableSimplePrice"
      [fieldsClass]="'font-medium'"
      [inputForm]= "inputForm"
      [fieldName]="'priceB'">
      Price 2
    </app-value-fields>
    <app-value-fields
      *ngIf="!isInventory && !itemType.disableSimplePrice"
      [fieldsClass]="'font-medium'"
      [inputForm]= "inputForm"
      [fieldName]="'priceC'">
      Price 3
    </app-value-fields>
  </div>
</ng-template>

<ng-template #priceFields>
  <div *ngIf="!isInventory && showMorePrices && inputForm" [formGroup]="inputForm">
    <app-value-fields
      [inputForm]="inputForm"
      [fieldsClass]="'font-medium'"
      [fieldName]="'caseRetail'"  >
      Case Price
    </app-value-fields>

    <app-value-fields
        [inputForm]="inputForm"
        [fieldsClass]="'font-medium'"
        [fieldName]="'casePrice1'" >
        Case  1
    </app-value-fields>

    <app-value-fields
        [inputForm]="inputForm"
        [fieldsClass]="'font-medium'"
        [fieldName]="'casePrice2'">
        Case  2
    </app-value-fields>

    <app-value-fields
        [inputForm]="inputForm"
        [fieldsClass]="'font-medium'"
        [fieldName]="'casePrice3'"  >
        Case  3
    </app-value-fields>
  </div>
</ng-template>



