<div *ngIf="(action$ | async) as action"></div>

<div *ngIf="inputForm"
     [formGroup]="inputForm"
     class="grid-container" >

  <div class="grid-container-3col" *ngIf="itemType && !itemType.disablePriceCategory" >
    <div *ngIf="!isInventory ">
      <app-price-category-search
          [isInventory]="isInventory"
          [id]         ="priceCategoryID"
          [searchForm] = "searchForm"
          [inputForm]  ="inputForm"  >
      </app-price-category-search>
    </div>
    <div style="margin-top:5px;" *ngIf="!isInventory ">
      <button mat-button
              color="accent"
              (click)="openPriceCategory()">
        <div *ngIf="priceCategoryID != 0">
          <mat-icon>expand</mat-icon>
        </div>
        <div *ngIf="priceCategoryID == 0">
          <mat-icon>add</mat-icon>
        </div>
      </button>
    </div>

    <div style="margin-top:5px;"  *ngIf="!isInventory && (priceCategoryID  && priceCategoryID != 0)">
      <button mat-button
              color="warn"
              (click)="clearPriceCategory()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div>
    <app-value-fields
      *ngIf="!isInventory && !itemType.disableSimplePrice"
      [fieldsClass]="'font-medium'"
      [inputForm]= "inputForm"
      [fieldName]="'retail'">
      Price
    </app-value-fields>

    <div style="margin-top:5px;"  *ngIf="!isInventory && !itemType.disableSimplePrice">
      <button class="button"
              mat-raised-button
              (click)="showMorePrices = !showMorePrices">
        Show More Prices
      </button>
    </div>

    <div *ngIf="!isInventory && showMorePrices">
      <app-value-fields
          *ngIf="!isInventory && !itemType.disableSimplePrice"
          [fieldsClass]="'font-medium'"
          [inputForm]= "inputForm"
          [fieldName]="'priceA'">
          Price 1
        </app-value-fields>
        <app-value-fields
          *ngIf="!isInventory && !itemType.disableSimplePrice"
          [fieldsClass]="'font-medium'"
          [inputForm]= "inputForm"
          [fieldName]="'priceB'">
          Price 2
        </app-value-fields>
        <app-value-fields
          *ngIf="!isInventory && !itemType.disableSimplePrice"
          [fieldsClass]="'font-medium'"
          [inputForm]= "inputForm"
          [fieldName]="'priceC'">
          Price 3
        </app-value-fields>
    </div>

    <app-value-fields
        *ngIf="!isInventory"
        [fieldsClass]="'font-medium'"
        [inputForm]= "inputForm"
        [fieldName]="'wholesale'">
      Cost
    </app-value-fields>

    <app-value-fields
       *ngIf="!isInventory && !itemType.disableSimplePrice"
      [fieldsClass]="'font-medium'"
      [inputForm]= "inputForm"
      [fieldName]="'price'">
      Price
    </app-value-fields>

    <app-value-fields
        *ngIf="isInventory"
        [fieldsClass]="'font-medium'"
        [inputForm]= "inputForm"
        [fieldName]="'cost'">
      Cost
    </app-value-fields>


    <div *ngIf="!isInventory && itemType && itemType.type && !itemType.disableSimplePrice">
      <div *ngIf=" (
                itemType.type.toLowerCase() === 'retail liquor'
              || itemType.type.toLowerCase() === 'service liquor'
              ||itemType.type.toLowerCase() === 'retail'
            )">

        <div class="mat-form-field">
          <mat-form-field appearance="outline">
          <mat-label >CRV</mat-label>
          <input matInput type="text"
                formControlName="crv"
                class="form-control" >
          </mat-form-field>
        </div>

        <app-value-fields
          [inputForm]="inputForm"
          [fieldsClass]="'font-medium'"
          [fieldName]="'caseRetail'"
          >
          Case Price
        </app-value-fields>
        <app-value-fields
          [inputForm]="inputForm"
          [fieldsClass]="'font-medium'"
          [fieldName]="'caseQty'"
          >
          Case Quantity
        </app-value-fields>
      </div>
    </div>

  </div>
</div>




