h4 {
  font-size: medium !important;
}

mat-card {
  padding: 3px !important;
}

.button {
  height: 50px;
}

.button-margin {
  margin-left: 5px;
}
.container {
  display: grid;
  grid-template-columns: 175px 125px;
  width:100%;
}

.button-row {
  display: grid;
  grid-template-columns:  repeat( auto-fit, minmax(45px, 1fr) );
  gap: 5px;
  margin-bottom: 5px;
  max-width: 135px;
}

.button-row-55 {
  display: grid;
  grid-template-columns:  repeat( auto-fit, minmax(55px, 1fr) );
  gap: 5px;
  margin-bottom: 5px;
  max-width: 135px;
}
