<span *ngIf="order">
  <div class="container">
    <div>
      <div class="total-card">
        <h4>
          <span  *ngIf="!isOrderClaimed && order.id" > <mat-icon color="warn">lock</mat-icon>
          </span> Order {{order?.id | truncateRight: 5}} {{order?.serviceType | truncateText: 8}}
        </h4>
      </div>
      <div class="total-card">
        <div  *ngIf="order.employeeName">{{order?.employeeName}}  </div>
      </div>

      <div  class="total-card">
        Started  {{order.orderDate | date: 'shortDate'}} - {{order?.orderDate | date: 'shortTime'}}
      </div>
      <div *ngIf="order.completionDate" class="total-card">
        Completed  {{order.completionDate | date: 'shortDate'}} - {{order?.completionDate | date: 'shortTime'}}
      </div>
    </div>
<!-- && this.router.url.substring(0, '/currentorder'.length ) != '/currentorder' -->
    <div *ngIf="!mainPanel">

      <div class="button-row">
        <div>
          <button  class="button" color="primary" mat-raised-button (click)="printingService.previewReceipt()"><mat-icon>print</mat-icon></button>
        </div>
        <div>
          <button  class="button" color="primary" mat-raised-button (click)="sendOrder()"><mat-icon>countertops</mat-icon></button>
        </div>
      </div>

      <div class="button-row" *ngIf="isUserStaff && platFormService.isApp()">
        <div>
          <split-entry-selector [order]="order" [isUserStaff]="isUserStaff" [uiTransactionSettings]="uiTransactionSettings"></split-entry-selector>
        </div>

      </div>

    </div>

    <!-- <div>
      {{this.router.url}} <br>
      mainPanel {{mainPanel}}<br>
      hidePrint {{hidePrint}}
    </div> -->
  </div>
</span>
<div *ngIf="action$ | async"></div>


