<div *ngIf="(printAction$ | async) as item"></div>
<div *ngIf="(menuButtonList$ | async) as item"></div>
<span *ngIf="order">

  <div>
      <ng-container [ngTemplateOutlet]="qrCodeDisplayView"></ng-container>
  </div>

  <ng-template #qrCodeToggle>
    <div *ngIf="(qrCode$ | async) as qrCode">
      <mat-card>
        <qrcode [qrdata]="qrCode"
                [width]="256"
                [errorCorrectionLevel]="'M'"></qrcode>
      </mat-card>
    </div>
  </ng-template>

  <div class="container">
    <div>
      <div>
        <h4>
          <span  *ngIf="!isOrderClaimed && order.id" > <mat-icon color="warn">lock</mat-icon>
          </span> 

          <span *ngIf="!order.history">
            Order {{order?.id | truncateRight: 5}} {{order?.serviceType | truncateText: 14}}
          </span>
          <span *ngIf="order.history">
            Order {{order?.purchaseOrderNumber | truncateRight: 5}} {{order?.serviceType | truncateText: 14}}
          </span>
          
          <span #coachingRefresh *ngIf="isApp || isUserStaff">
            <button mat-button (click)='refreshOrder()'><mat-icon>refresh</mat-icon></button> 
           
            <span *ngIf="order.priceColumn && order.priceColumn >0 "><mat-icon>column</mat-icon> Level {{order.priceColumn}}</span>
          </span>
          <div *ngIf="order.tableName">{{order.tableName}}</div>
        </h4>
      </div>
      <div>
        <div  *ngIf="order.employeeName">{{order?.employeeName}}  </div>
      </div>

      <div *ngIf="order.orderDate">
        Started  {{order.orderDate | date: 'shortDate'}} - {{order?.orderDate | date: 'shortTime'}}
      </div>

      <div *ngIf="order.completionDate">
        Completed  {{order.completionDate | date: 'shortDate'}} - {{order.completionDate | date: 'shortTime'}}
      </div>
    </div>

    <div>

      <div *ngIf="(isApp) || (!isApp  && isUserStaff) && uiTransactionSettings ">

        <span class="flex-grid-column-nogap">
          <div>
            <button mat-button (click)="qrCodeDisplayToggle()">
              <mat-icon>qr_code</mat-icon>QR Link
            </button>
          </div>

          <div style="margin-left:3px" class="button-row-55">
            <!-- <ng-container [ngTemplateOutlet]="editOrderView"></ng-container> -->
            <div *ngIf="menuButtonList">
              <function-buttons-list
                    [list]="menuButtonList"
                    [order]="order"
                    [isAdmin]="isAdmin"
                    [isUser] ="isUserStaff"
                    [buttonSize]="'button-small'"
                    [isStaff]="isStaff">
              </function-buttons-list>
            </div>
           
          </div>
        </span>

        <div class="button-row" *ngIf="(!qrOrder && !hideButtonOptions)">
          <div   class="button-margin" *ngIf="!mainPanel">
            <button  class="button" color="primary" mat-raised-button
              (click)="printReceipt()"><mat-icon>print</mat-icon>
            </button>
          </div>

          <span #coachingFire >
            <div  class="button-margin" *ngIf="(locations$ | async) as locations">
              <div *ngIf="locations.length>0">
                <div *ngIf="isSale && isUserStaff">
                  <button   class="button" color="warn" mat-raised-button
                    (click)="sendOrder()">
                    <mat-icon>local_fire_department</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </span>

          <ng-content [ngTemplateOutlet]="qrCodeDisplayView"></ng-content>

          <span #coachingLabel >
            <div   class="button-margin" *ngIf="!mainPanel && isSale && isUserStaff &&
                                                (posDevice && posDevice.labelPrinter && posDevice.enableExitLabel)">
              <button   class="button" color="warn" mat-raised-button
                (click)="printLabels()">
                <mat-icon>book</mat-icon>
              </button>
            </div>
          </span>
        </div>
      </div>

      <div #coachingSplit class="button-row" *ngIf="isUserStaff && isSale && !platFormService.androidApp">
        <div  class="button-margin" >
          <split-entry-selector [order]="order"
                                [isUserStaff]="isUserStaff"
                                [uiTransactionSettings]="uiTransactionSettings">
          </split-entry-selector>
        </div>

        <ng-container [ngTemplateOutlet]="helpButton"></ng-container>

        <!-- <div>
          <div class="menu-buttons" *ngIf="authenticationService?.userAuths?.priceColumnOption && isSale && isUserStaff" >
            <value-from-list-selector
                [value] ="order.priceColumn"
                (assignValue)="assignPriceColumn($event)">
              Price </value-from-list-selector>
          </div>
        </div> -->
      </div>

    </div>
  </div>
</span>

<div *ngIf="(action$ | async) as result"></div>
<div *ngIf="(printLabels$  | async) as printLabels"></div>

<ng-template #helpButton>
  <div class="margin-5">
    <coach-marks-button
          (initPopOver)="initPopOver()"
          [enabled]="user && user?.userPreferences &&  user?.userPreferences?.enableCoachMarks"></coach-marks-button>
  </div>
</ng-template>

<ng-template #editOrderView>
  <!-- <span *ngIf="!hideButtonOptions && user?.roles === 'admin'">
    <button mat-button (click)="editOrder()"><mat-icon>edit</mat-icon></button>
  </span> -->
</ng-template>
