h4 {
  font-size: medium !important;
}

mat-card {
  padding: 3px !important;

}

.container {
  display: grid;
  grid-template-columns: 75% 100px;
  // gap: 10px;
  width:100%;
;
}

.button-container {
  margin: 10px;
}
