<div *ngIf="(uiTransactions$ | async) as settings"></div>
<div *ngIf="(printAction$ | async) as printAction"></div>
<div *ngIf="(posDevice$ | async) as posDevice"></div>
<!-- <div *ngIf="(sendAndLogOut$ | async) as sendOrder"></div> -->
<!-- logout -->
<div *ngIf="(action$ | async) as action"></div>

<div *ngIf="!hideAppHeader">
  <app-header> </app-header>
</div>

<div *ngIf="(posDevice$ | async) as device"></div>

<mat-drawer-container>

  <mat-drawer
        *ngIf    ="!menuManager"
        position ="start"
        [mode]   ="sidebarMode"
        [opened] ="leftSideBarToggle">

    <div *ngIf="swapMenuWithOrder">
      <ng-container [ngTemplateOutlet]="leftSideBar"></ng-container>
    </div>

    <div *ngIf="!swapMenuWithOrder">
      <div [hidden]="searchSideBar" [class]="barType">
        <ng-container [ngTemplateOutlet]="menuOrOrderBar"></ng-container>
      </div>

      <div [hidden]="!searchSideBar">
        <ng-container [ngTemplateOutlet]="leftSideBar"></ng-container>
      </div>
    </div>

    <ng-container #chatURL></ng-container>

  </mat-drawer>

  <mat-drawer-content [style]='overFlow' [class]="scrollStyle">

    <div *ngIf="departmentID && departmentID !=0"
        class="overlay">
      <app-department-menu
        [departmentID]="departmentID">
      </app-department-menu>
    </div>

    <div  [@routeAnimations]="prepareRoute(outlet)" >
      <router-outlet #outlet="outlet"></router-outlet>
    </div>

  </mat-drawer-content>

  <mat-drawer
              position  = "end"
              [mode]    = "sidebarMode"
              [opened]  = "rightSideBarToggle" >
    <ng-container [ngTemplateOutlet]="rightSideBar"></ng-container>
  </mat-drawer>
</mat-drawer-container>

<app-footer></app-footer>

<ng-container [ngTemplateOutlet]="appSiteFooterOn"></ng-container>

<ng-template #appSiteFooter>
  <app-site-footer></app-site-footer>
</ng-template>

<div   *ngIf="(homePageSetting$ | async) as setting">
  <div class="fab-chat-button"
       *ngIf="setting.threecxChatLink">
    <app-three-cxfab></app-three-cxfab>
  </div>
</div>

<ng-template #appMenuSearchBar>
  <div [class]  ="barType">
  <app-menu-search-bar>
    </app-menu-search-bar>
  </div>
</ng-template>


<ng-template #userBarView>
  <user-bar></user-bar>
</ng-template>

<ng-template #menuBarView>
  <div  [hidden]="toolbarTiny">
    <app-menu-minimal>
    </app-menu-minimal>
  </div>

  <div  [hidden]="!toolbarTiny"
        class="menu-tiny" >
    <app-menu-tiny>
    </app-menu-tiny>
  </div>
</ng-template>

<ng-template  #appOrderBar>
  <div  [class] = "matorderBar">
    <app-order-bar>
    </app-order-bar>
  </div>
</ng-template>

<ng-template #chatUrl>
  <div *ngIf="chatURL">
    <button mat-fab-button (click)="getHelp()">
      <mat-icon>chat</mat-icon>
    </button>
  </div>
</ng-template>


