@import "/src/mixins.scss";

:host {
  display: block;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

router-outlet {
  z-index: 1;
}

app-header {
  width:  100%;
  height: 50px;
}

.app-menu-tiny {
  height: calc(100vh - 165px);
}

app-sticky-header {
  z-index: 1000;
  height : 55px;
  display: flex;
}

.mat-content {
  overflow: hidden;
}

mat-drawer-container {
  padding-top: -5px;
  overflow: hidden;
  height: calc(100vh - 65px );

  @media (max-width: 815px) {
    height: calc(100% - 115px );
  }

  @media (max-width: 768px) {
    height: calc(100% - 115px );
  }

  @include for-phone-only  {
    height: calc(100% - 115px );
  }
}

mat-drawer-content {
  height      : 100%;
  padding     : 5px;
  margin-left : 5px;
  margin-right: 5px;
  overflow    : hidden;
  overflow-y  : auto;
}

mat-drawer-inner-container {
  width: 100%;
  height: calc(100vh - 75px);
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

mat-sidebar {
  border-right: 1px solid #eee;
  box-shadow: 6px 0px 6px 6px rgb(115, 118, 124);
  background-color:rgb(55, 55, 59);
}

.mat-orderBar {
  min-width: 200px !important;
  max-width: 200px;
  border-right: 1px solid #eee;
  box-shadow: 6px 0px 6px 6px rgb(115, 118, 124);
  overflow: hidden;
  @include for-phone-only  {
    width: 55px;
    box-shadow: 3px 0 3px rgba(0,0,0,.24);
  }
}

.mat-orderBar-wide {
  border-right: 1px solid #eee;
  box-shadow: 6px 0px 6px 6px rgb(115, 118, 124);
  overflow: hidden;
  width: 355px;
  @include for-phone-only  {
    width: 55px;
    box-shadow: 3px 0 3px rgba(0,0,0,.24);
  }
}

.mat-drawer-toolbar {
  width: 190px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  @include for-phone-only  {
    width: 55px;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
  }
}

.mat-drawer-toolbar-web {
  width: 100%;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  @include for-phone-only  {
    width: 55px;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
  }
}

.mat-drawer-searchbar {
  width: 190px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  @include for-phone-only  {
    width: 55px;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
  }
}

.mat-drawer-searchbar-tiny {
  width: 55px;
  // height: calc(100vh - 165px);
  box-shadow: 3px 0 3px rgba(0,0,0,.24);
}

.department-menu {
  z-index: 1001;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 98%;
  width: 85%;
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  margin: 5px;
  padding: 5px;
  opacity: 95%;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  left: 0; /* 25% from the top */
  width: 100%; /* 100% width */
  margin: 5px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.fab-chat-button {
  position: fixed;
  bottom: 65px;
  right: 10px;
  z-index: 100;
  opacity: .7;
}
