<ng-template #loading>
  <mat-spinner [diameter]="50"></mat-spinner>
  ...loading.
</ng-template>

<!-- id: {{id}}
jobType: {{jobType}} -->
<div class="container" *ngIf="(jobType$ | async) as jobType; else loading">

  <mat-card class="mat-card">

    <mat-card-title>
      <div class="header-container" >
        <div>
          <h4>
           Job Type Edit: {{ jobType.name }}
           </h4>
        </div>

        <div>
          <app-edit-buttons-standard
              (outputeupdateItem)     ="updateItem($event, false)"
              (outputupdateItemExit)  ="updateItemExit($event)"
              (outputupdatedeleteItem)="deleteItem($event)"
              (outputupdateonCancel)  ="onCancel($event)"
              (outputCopy)            ="copyItem($event)"
          ></app-edit-buttons-standard>
          <mat-divider></mat-divider>
        </div>
      </div>
    </mat-card-title>

    <mat-card-subtitle>
      <div *ngIf="action$">
        <div *ngIf="action$ | async as action; else event">{{message}}</div>
        <ng-template #event>
          <mat-spinner [diameter]="50"></mat-spinner>
          ...processsing
        </ng-template>
      </div>
    </mat-card-subtitle>

    <mat-card-content>
        <div class="grid-headers"
              *ngIf="inputForm"
              [formGroup]="inputForm" >

          <div  class="grid-fields name-height">
            <mat-form-field appearance="outline">
              <mat-label >Name</mat-label>
              <input matInput
                    type             ="text"
                    formControlName  ="name"
                    class="form-control" >
            </mat-form-field>
          </div>
          <div  class="grid-fields name-height">
            <mat-form-field appearance="outline">
              <mat-label >Rate</mat-label>
              <input matInput
                    type             ="number"
                    formControlName  ="rate"
                    class="form-control" >
            </mat-form-field>
          </div>
        </div>
    </mat-card-content>

  </mat-card>

</div>

