.grid-list-container {
  display: grid;
  grid-template-columns: 1fr 200px;
  gap: 7px;

}

.grid-list {
  display: grid;
  grid-template-columns: 1fr 20vw;
  gap: 7px;
  height: calc(100vh - 150px);
}

.mat-card {
  margin-bottom: 5px;
}

.header-items {
  float: left;
}
