@import "/src/mixins.scss";
.grid-flow {
  --gap: 15px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );

  @include for-phone-only  {
    --gap: 10px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
  }
}

.grid-item-image {
  width: 40px;
  height: 40px;
}

.items-container {

  // max-height: 360px;
  // height    : 360px;
  // overflow-x: hidden;
  // overflow-y: auto;

}
