<div *ngIf="item">

  <mat-card>
    <div *ngIf="item">

      <scheduled-menu-image
          [hideButton]="true"
          [url]="bucket+item?.image"
          [item]="item">
      </scheduled-menu-image>
    </div>
    <div *ngIf="item && item.type && item?.type.toLowerCase() != 'menu list'">
      <scheduled-menu-header
          [priceSchedule]="item"
          [showText]="true" >
      </scheduled-menu-header>
    </div>
    <div *ngIf="item && item.type && item?.type.toLowerCase() === 'menu list'">
      <scheduled-menu-header
          [name]="item?.name"
          [description]="item?.description"
          [priceSchedule]="item"
          [url]="url"
          [isApp]="isApp"
          (outPutToggleView)="toggleItems()">
      </scheduled-menu-header>
    </div>
  </mat-card>

  <div>
    <mat-card class="items-container">
      <mat-card-content  *ngIf="item">
        <scheduled-menu-items
          [schedule]="item"
          [showAllFlag]="showAllFlag"
        ></scheduled-menu-items>
      </mat-card-content>
    </mat-card>
  </div>
</div>



