
h4 {
    margin-top: 0;    
    margin-bottom: 5px;
}

.total {
    font-size: 3em;
}

.description { 
    color: green;
    font-size: 2em;
}

.mat-icon {
    position: relative;
    font-size: 2em;
    padding: 0 20px;
    top: 5px;
}
