<div *ngIf="inputForm" [formGroup]="inputForm">
  <div *ngIf="clientTypes" >
    <mat-form-field class="fields" appearance="outline">
      <mat-label>Client Type</mat-label>
      <mat-select
                  type            = "number"
                  name            = "clientTypeID"
                  formControlName = "clientTypeID"
                >

          <div *ngIf="user?.roles === 'admin' || user?.roles === 'manager'">
            <mat-option *ngFor="let item of clientTypes"
                        [value]="item.id">
                {{item.name}}
            </mat-option>
          </div>

          <div *ngIf="user && user.roles === 'employee'">
            <mat-option *ngFor="let item of clientTypes"
                        [value]="item.id">
                {{item.name}}
            </mat-option>
          </div>
      </mat-select>
    </mat-form-field>
  </div>
</div>
