<div *ngIf="inputForm" [formGroup]="inputForm && formControlName">
  <div *ngIf="clientTypes" >
    <mat-form-field class="fields" appearance="outline">
      <mat-label>Client Type</mat-label>
      <mat-select
                  type              = "number"
                  name              = "clientTypeID"
                  [formControlName] = "formControlName"
                >

        <mat-option *ngFor="let item of clientTypes"
                    [value]="item.id">
            {{item.name}}
        </mat-option>

      </mat-select>
    </mat-form-field>
  </div>
</div>
