<div *ngIf="inputForm && formControlName && (clientTypes$ | async) as clientTypes"
     [formGroup]="inputForm">

    <mat-form-field [style]='style'
                    class="fields"
                    appearance="outline">

      <mat-label><ng-content></ng-content> </mat-label>

      <ng-container [ngTemplateOutlet]="matSelectOption"></ng-container>

      <ng-template #clientTypeView>
        <div *ngIf="formControlName && formControlName === 'clientTypeID' ">
          <mat-select
                      type              = "number"
                      ngDefaultControl
                      name              ='clientTypeID'
                      formControlName   = "clientTypeID"
                    >
            <mat-option *ngFor="let item of clientTypes"
              [value]="item.id">
              {{item.name}}
            </mat-option>
          </mat-select>
        </div>
    </ng-template>

    <ng-template #defaultClientTypeID>
      <div *ngIf="formControlName && formControlName === 'defaultClientTypeID' ">
        <mat-select
                type             = "number"
                ngDefaultControl
                name             = 'defaultClientTypeID'
                formControlName  = "defaultClientTypeID">

          <mat-option *ngFor="let item of clientTypes"
            [value]="item.id">
            {{item.name}}
          </mat-option>

        </mat-select>
      </div>
    </ng-template>

    </mat-form-field>

</div>
