
mat-label {
  padding:    5px;
  font-size:  .9em;
}

meta-tags {
  height: 100px;
}

mat-form-field  {
  font-size: .9em;
  margin: 3px ;
  width: 95%;
}

mat-option {
  font-size: .9em;
  margin: 3px ;
  width: 95%;
}
