<mat-card>

  <mat-card-title>
    <div fxLayout="column" fxLayoutAlign="center center" class="row-height">
        <img [src]="logo" [alt]="company"  class="logo">
        <h2> </h2>
    </div>
  </mat-card-title>

  <mat-card-content>

    <tiers-with-prices
      (outPutSetPriceTier)="setPriceTier($event)">
    </tiers-with-prices>

    <div fxLayout="column" fxLayoutAlign="center center" class="row-height">
      <div  fxLayout="row" class="itemlist"  fxlayoutGap="20px" class="stat-cards">
        <app-tier-items
              [priceTier]="priceTier"
        ></app-tier-items>
      </div>
    </div>

  </mat-card-content>
</mat-card>

