<div *ngIf="inputForm">
  <div [formGroup]="inputForm">
      <div class="grid-container">
            <div class="filterItem" >
          <mat-form-field
            [class]="class"
            appearance="outline">
            <mat-label><ng-content></ng-content></mat-label>
            <mat-select
                  type="number"
                  [formControlName] ="fieldName"
                  name="species"
                  (selectionChange)="setItemOutPut($event.value)"
              >

              <span *ngIf="!list">
                <div *ngIf="(list$ | async) as list; else loading" >
                  <mat-option
                      *ngFor="let item of list"
                       [value]="item">
                      {{item.name}}
                  </mat-option>
                </div>
              </span>

              <div *ngIf="list" >
                <mat-option
                    *ngFor="let item of list; else loading"
                     [value]="item">
                    {{item.name}}
                </mat-option>
              </div>


            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

 <ng-template #loading>
   ...loading <ng-content></ng-content>
 </ng-template>
