  <div [formGroup]="inputForm"
        *ngIf="inputForm"
        class="grid-container">

      <mat-form-field
          [style]="style"
          [class]="class"
          appearance="outline">

          <mat-label> <ng-content></ng-content> </mat-label>

          <mat-select
                type="number"
                [formControlName] ="fieldName"
                (selectionChange)="setItemOutPut($event.value)" >

            <mat-option value="" *ngIf="!hideClear">
              Clear
            </mat-option>

            <span *ngIf="!list">
              <div *ngIf="(list$ | async) as list" >
                <mat-option
                      *ngFor="let item of list"
                      [value]="item">
                  {{item.name}}
                </mat-option>
              </div>
            </span>

            <span *ngIf="list && !useID">
              <mat-option
                    *ngFor="let item of list"
                    [value]="item">
                {{item.name}}
              </mat-option>
            </span>

            <span *ngIf="list && useID">
              <mat-option
                    *ngFor="let item of list"
                    [value]="item.id">
                {{item.name}}
              </mat-option>
            </span>
          </mat-select>
      </mat-form-field>
  </div>

 <ng-template #loading>
   ...loading
 </ng-template>
