
  <div class="grid-container">
    <div class="grid-item headingstext">
      Tier
    </div>
    <div class="grid-item headings">
      Gram
    </div>
    <div class="grid-item headings">
      8th
    </div>
    <div class="grid-item headings">
      Quarter
    </div>
    <div class="grid-item headings">
      Half
    </div>
    <div class="grid-item headings">
      Ounce
    </div>
  </div>
  <mat-divider></mat-divider>

  <span  class="grid-container"
          *ngFor="let tier of tvPriceMenuTiers">

    <div class="headingstext" >
      {{tier.name}}
    </div>

    <div  class="prices"
        *ngFor="let item of tier.tvMenuPriceTierItems">
        {{ item?.currentPrice | currency }}
    </div>

    <mat-divider></mat-divider>

  </span>
