
@import "/src/mixins.scss";

mat-card {
  min-width: 375px;
  width: 100% !important;
}

.headings {
  font-size: 10vw;
  font-weight: 600;
}

.prices {
  font-size: 2vw;
  font-weight: 500;
  line-height: 1.2em;
  margin: .2em .2em .2em;
}

.tiername {

  white-space   : nowrap;
  overflow      : hidden;
  text-overflow : ellipsis;
  text-transform: capitalize;
  float         : left;
  font-size     : 2vw;
}

.logo {
  display: flex;
  justify-content: center;
}

.grid-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.grid {

  display: grid;
  gap: 15px;
  grid-template-columns: repeat(6, 1fr); // repeat( auto-fit, minmax(150px, 1fr) ) ;// repeat(6, 1fr); // repeat( auto-fit, minmax(150px, 1fr) );
  width: 100%;

}
