<div *ngIf="priceSchedule  && (!isApp || showText)">
    <div
        class="text"
        [innerHTML]="priceSchedule?.description" >
    </div>

    <div *ngIf="priceSchedule.type && priceSchedule?.type.toLowerCase() != 'menu list'">

      <div *ngIf="!priceSchedule.type && priceSchedule.name">{{priceSchedule?.name}}</div>
      <div *ngIf="priceSchedule.type">
        <h4>{{priceSchedule?.name}} is a "{{priceSchedule?.type.toLowerCase()}}" reward.</h4>
      </div>

      <p>
        <span *ngIf="priceSchedule.requiredCategories && priceSchedule.requiredCategories.length>0">
          This reward is provided when items out of these categories are chosen.
        <span *ngFor="let item of priceSchedule.requiredCategories
                      ;let last = last
                      ;let nextLast = count; let i = index">
            <span *ngIf="!last"> {{item.quantity}} of {{item.name}}  </span>
            <span *ngIf="!last && (i != nextLast-1)"> ,    </span>
            <span *ngIf="last"> {{item.andOr}} {{item.quantity}} of {{item.name}} </span>
          </span>
        </span>
      </p>

      <p>
        <span *ngIf="priceSchedule.requiredItemTypes && priceSchedule.requiredItemTypes.length>0">
          This reward is provided when items out of these Types are chosen.
        <span *ngFor="let item of priceSchedule.requiredItemTypes
                      ;let last = last
                      ;let nextLast = count; let i = index">
            <span *ngIf="!last"> {{item.quantity}} of {{item.name}}  </span>
            <span *ngIf="!last && (i != nextLast-1)"> ,    </span>
            <span *ngIf="last"> {{item.andOr}} {{item.quantity}} of {{item.name}} </span>
          </span>
        </span>
      </p>

      <p>
        <span *ngIf="priceSchedule.requiredItems && priceSchedule.requiredItems.length>0">
          This reward is provided when items out of these items are chosen.
        <span *ngFor="let item of priceSchedule.requiredItems
                      ;let last = last
                      ;let nextLast = count; let i = index">
            <span *ngIf="!last"> {{item.quantity}} of {{item.name}}  </span>
            <span *ngIf="!last && (i != nextLast-1)"> ,    </span>
            <span *ngIf="last"> {{item.andOr}} {{item.quantity}} of {{item.name}} </span>
          </span>
        </span>
      </p>

      <p>
        <span *ngIf="priceSchedule.requiredBrands && priceSchedule.requiredBrands.length>0">
          This reward is provided when items out of these brands are chosen.
        <span *ngFor="let item of priceSchedule.requiredBrands
                      ;let last = last
                      ;let nextLast = count; let i = index">
            <span *ngIf="!last"> {{item.quantity}} of {{item.name}}  </span>
            <span *ngIf="!last && (i != nextLast-1)"> ,    </span>
            <span *ngIf="last"> {{item.andOr}} {{item.quantity}} of {{item.name}} </span>
          </span>
        </span>
      </p>

    <!-- <span *ngIf="priceSchedule.allOrderTypes">Any kind of order can be used.</span> -->

    <span *ngIf="!priceSchedule.allOrderTypes && priceSchedule.orderTypes">
      Orders of the type
      <span *ngFor="let item of priceSchedule.orderTypes
                    ;let last = last
                    ;let nextLast = count; let i = index">
          <span *ngIf="!last"> {{item.name}}    </span>
          <span *ngIf="!last && (i != nextLast-1)">,  </span>
          <span *ngIf="last"> and  {{item.name}}</span>
          </span>
          may use this reward.
      </span>

    <!-- <span *ngIf="priceSchedule.clientTypes">Any kind of customer can benefit.</span> -->

    <span *ngIf="!priceSchedule.allEligible && priceSchedule.clientTypes">
      Only
    <span *ngFor="let item of priceSchedule.clientTypes
                ;let last = last
                ;let nextLast = count; let i = index">
        <span *ngIf="!last"> {{item.name}}    </span>
        <span *ngIf="!last && (i != nextLast-1)">, </span>
        <span *ngIf="last"> and  {{item.name}}</span>
      </span>
      can benefit.
    </span>

    <p>
      <!-- <span *ngIf="priceSchedule.clientTypes">This can be used any day of the week.</span> -->

      <span *ngIf="!priceSchedule.allWeekdaysDays && priceSchedule.weekDays && priceSchedule.weekDays.length>0">
        It can be only used on the following day(s)
      <span *ngFor="let item of priceSchedule.weekDays
                  ;let last = last
                  ;let nextLast = count; let i = index">
          <span *ngIf="!last"> {{item.name}}    </span>
          <span *ngIf="!last && (i != nextLast-1)"> ,    </span>
          <span *ngIf="last"> and  {{item.name}}</span>
        </span>
      </span>
    </p>

    <p>
      <!-- <span *ngIf="priceSchedule.dateFrames">This reward is usable until further notice.</span> -->

      <span *ngIf="!priceSchedule.allDates && priceSchedule.dateFrames && priceSchedule.dateFrames.length>0">
        This reward has a limited time offering. It can be used from
      <span *ngFor="let item of priceSchedule.dateFrames
                  ;let last = last
                  ;let nextLast = count; let i = index">
          <span *ngIf="!last"> {{item.startDate | date : 'shortDate'}} to {{item.endDate | date : 'shortDate'}}     </span>
          <span *ngIf="!last && (i != nextLast-1)"> ,    </span>
          <span *ngIf="last"> and  {{item.startDate | date : 'shortDate' }} to {{item.endDate  | date : 'shortDate'}} </span>
        </span>
        .
      </span>
    </p>

    <p>
      <span *ngIf="priceSchedule.timeFrameAlways">This reward is available all day.</span>
      <span *ngIf="!priceSchedule.timeFrameAlways && priceSchedule.timeFrames">
        This reward is only avalible during specific hours:
      <span *ngFor="let item of priceSchedule.timeFrames
                  ;let last = last
                  ;let nextLast = count; let i = index">
          <span *ngIf="!last"> From {{item.startTime  | date : 'shortTime'}} to {{item.endTime  | date : 'shortTime'}}     </span>
          <span *ngIf="!last && (i != nextLast-1)"> ,    </span>
          <span *ngIf="last"> and {{item.startTime | date : 'shortTime'}} to {{item.endTime  | date : 'shortTime'}} </span>
        </span>
        .
      </span>
    </p>

  </div>
</div>
