<div *ngIf="(action$ | async) as action"></div>
<div *ngIf="(addItem$ | async) as action"></div>

<ng-template #loading><mat-spinner
          [diameter]="75"></mat-spinner>
</ng-template>

<div *ngIf="menuItem; else loading" >
    <mat-card>
      <mat-card-title>
        <div>
          <button style="position:relative;left:75px" *ngIf="showCloseButton"
                  mat-raised-button
                  (click)="exit()">
              <mat-icon>close</mat-icon>
          </button>
        </div>

        <ng-container *ngIf="enableEditItemBol">
          <ng-container [ngTemplateOutlet]="enableEditItem"></ng-container>
        </ng-container>

      </mat-card-title>

      <mat-card-content [style]="modalScroll" >

          <div class="grid">
            <div>
              <ng-container [ngTemplateOutlet]="galleryView"></ng-container>
            </div>

            <div>
              <div class="grid-demographics">
                <div class="item-span" >
                  <ng-container [ngTemplateOutlet]="nameView"></ng-container>
                  <ng-container [ngTemplateOutlet]="speciesView"></ng-container>

                  <div class="flex-row">
                    <div class="margin-5">
                      <ng-container [ngTemplateOutlet]="barcodeView"></ng-container>
                    </div>
                    <div class="margin-5">
                      <ng-container [ngTemplateOutlet]="productCountView"></ng-container>
                    </div>
                    <div class="margin-5">
                      <ng-container [ngTemplateOutlet]="inStockView"></ng-container>
                    </div>
                  </div>

                  <ng-container [ngTemplateOutlet]="companyNameView"></ng-container>
                  <ng-container [ngTemplateOutlet]="shortdescriptionView"></ng-container>
                  <ng-container [ngTemplateOutlet]="instructionsView"></ng-container>
                </div>

                <div class="features-span">
                  <ng-container [ngTemplateOutlet]="pricesView"></ng-container>
                  <ng-container [ngTemplateOutlet]="tierPriceView"></ng-container>
                  <ng-container [ngTemplateOutlet]="addButtonsView"></ng-container>
                  <ng-container [ngTemplateOutlet]="metaTagsView"></ng-container>
                </div>

                <ng-container [ngTemplateOutlet]="packagingView"></ng-container>
                <ng-container [ngTemplateOutlet]="prepNotesView"></ng-container>
              </div>
            </div>
          </div>

          <mat-divider style="margin:15px;padding:10"></mat-divider>

          <mat-tab-group mat-align-tabs="start"
                         style="min-height: 300px;"
                         class="mat-tab-group"
                         md-stretch-tabs >

            <mat-tab label="Description"   style="min-height: 300px;">
              <div class="custom-tab-content">
                <ng-container [ngTemplateOutlet]="inventoryList"></ng-container>
                <ng-container [ngTemplateOutlet]="descriptionView"></ng-container>
              </div>
            </mat-tab>

            <mat-tab label="Special"   style="min-height: 300px;">
              <div class="custom-tab-content">
                <ng-container [ngTemplateOutlet]="specialDescriptionView"></ng-container>
              </div>
            </mat-tab>

            <mat-tab *ngIf="fbProductsService.isCannabis(menuItem.itemType) ||
                            fbProductsService.isFood(menuItem.itemType) ||
                            fbProductsService.isAlcohol(menuItem.itemType) ||
                            fbProductsService.isGrocery(menuItem.itemType) ||
                            fbProductsService.isTobacco(menuItem.itemType)
                            " label="Ingredients"
                            style="min-height: 300px;">
              <div class="custom-tab-content">
                <ng-container [ngTemplateOutlet]="chemicalSpinnerView"></ng-container>
              </div>
            </mat-tab>

          </mat-tab-group>

      </mat-card-content>
    </mat-card>

    <ng-container [ngTemplateOutlet]="metaTagSearch"></ng-container>
    <ng-container [ngTemplateOutlet]="enableRecentAssociatedItems"></ng-container>
    <ng-container [ngTemplateOutlet]="enableAssociatedItems"></ng-container>

    <ng-template #speciesView>
      <span *ngIf="menuItem && menuItem.species">
        <button mat-raised-button color="accent">
          {{ menuItem?.species }}
        </button>
      </span>
    </ng-template>

    <ng-template #nameView>
      <div class="title">
        <h1>   {{ menuItem?.name.toUpperCase() }}  </h1>
      </div>
    </ng-template>

    <ng-template #companyNameView>
      <div class="item-span"
          id="brand-name"
          *ngIf="brand$ | async as brand">
        {{ brand?.companyName }}
      </div>
    </ng-template>

    <ng-template #barcodeView >
      <div style="margin-left:10px;margin-top:10px;" *ngIf="menuItem.barcode && !menuItem?.itemType?.webStoreSimpleView" >
        <div>
          Barcode
        </div>
        <div>
          {{ menuItem?.barcode}}
        </div>
       </div>
    </ng-template>

    <ng-template #addButtonsView>
      <div class="flex-row"
          *ngIf="menuItem && menuItem.itemType
            && !menuItem.itemType.requireInStock
            && !priceTiers">

            <div style="margin: 5px;" *ngIf="!menuItem?.itemType?.webStoreSimpleView">
              <app-quantiy-selector
                [inputForm]  = "productForm"
                (outPutValue)="changeQuantity($event)">
            </app-quantiy-selector>
          </div>

          <div style="margin: 5px;"
               *ngIf="!menuPricesEnabled || (productPrice || menuItem.retail>0)">
            <button   mat-raised-button
                      color="warn"
                      class="button"
                      (click)="addItemToOrder()">
              <mat-icon>add</mat-icon>Add</button>
          </div>
      </div>
    </ng-template>

    <ng-template #specialDescriptionView>
      <div *ngIf="menuItem.specialDescription">
        <div id="specialDescription"> {{ menuItem?.specialDescription }} </div>
      </div>
    </ng-template>

    <ng-template #pricesView>
      <div class="prices" *ngIf="(uiHomePage && !uiHomePage?.enableInventoryPerItem)"  >
        <menu-item-extended-prices
          [quantity]="quantity"
          [isUserStaff]="isUserStaff"
          (outPutSelectPrice)="setItemPrice($event)"
          (outPutAddItem)="addItemWithPrice($event)"
          [menuItem]="menuItem">
        </menu-item-extended-prices>
      </div>

      <div *ngIf="(uiHomePage && uiHomePage?.enableInventoryPerItem) && menuItem?.itemType?.requiresInventory">
        Please select from options below.
      </div>
    </ng-template>

    <ng-template #productCountView>
      <div *ngIf="menuItem && menuItem.itemType
                  && !menuItem.itemType.requireInStock
                  && !menuItem?.itemType?.webStoreSimpleView">
        <menu-item-product-count
            [productCount]='menuItem.productCount'
            [isUserStaff] ='isUserStaff'>
        </menu-item-product-count>
      </div>
    </ng-template>

    <ng-template #inStockView>
      <div class="item-span instock-option"
        *ngIf="menuItem && menuItem.itemType
              && menuItem.itemType.requireInStock">
        <inventory-counts-view
            [showList]      ="false"
            [allowAdd]    ="menuItem?.itemType?.requiresInventory && (uiHomePage && uiHomePage?.enableInventoryPerItem)"
            [showAddButton] ="!priceTiersShown"
            [productID]     ="menuItem.id"
            (outPutAddItem) ="addItemByCodeOBS($event)">
            Add to Cart
        </inventory-counts-view>
      </div>
    </ng-template>

    <ng-template #instructionsView>
      <div  *ngIf="menuItem.itemType && menuItem.itemType.instructions"
            class="item-span"
            [innerHTML]="menuItem?.itemType.instructions">
      </div>
    </ng-template>

    <ng-template #tierPriceView>
      <div class="item-span"
           *ngIf="menuItem && menuItem.itemType
                  &&  priceTiers">
          <tier-price-line
              (outputNewItem)="addItemWithTierPrice($event)"
              [menuPopup]    ="true"
              [menuItem]     ="menuItem"
              [priceTiers]   ="priceTiers">
          </tier-price-line>
      </div>
    </ng-template>

    <ng-template #chemicalSpinnerView>
      <div class="center">
        <app-chemical-spinners
          [menuItem]="menuItem">
        </app-chemical-spinners>
      </div>
    </ng-template>

    <ng-template #packagingView>
      <div  class="mat-packaging"
            *ngIf="packagingMaterial && packagingMaterial.length>0">
        <div *ngIf='packaging'>
          {{packaging}} assigned.
        </div>
        <div *ngIf='!packaging'>
          <mat-label >Choose Packaging Material</mat-label>
        </div>
        <div *ngFor="let item of packagingMaterial">
          <button class="package-buttons"
                  mat-raised-button color="accent"
                  (click)="packaging=item">{{item}}</button>
        </div>
      </div>

      <div class="item-span mat-packaging"
            *ngIf="menuItem
                  && menuItem.itemType
                  && menuItem.itemType.portionValue">
          <mat-form-field appearance="outline"
                          class="form-fields">
            <mat-label>
              Portion Value
            </mat-label>
            <mat-select
                        type="'text'"
                        [(ngModel)]       = "portionValue"  >
                <mat-option [value]="">
                  Clear
                </mat-option>
                <mat-option *ngFor="let item of menuItem?.itemType?.portionValue.split(',')"
                            [value]="item">
                  {{ item }}
                </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
    </ng-template>

    <ng-template #prepNotesView>
      <div  class="item-span mat-packaging"
            [formGroup]="productForm"
            *ngIf="productForm && menuItem
                  && menuItem.itemType
                  && menuItem.itemType.enableCustomNote">
          <mat-form-field appearance="outline"
              id="customer-notes">
            <mat-label>Input notes to help prepare this item.</mat-label>
            <textarea matInput
                        rows="10"
                        columns="40"
                        formControlName="itemNote"
              ></textarea>
          </mat-form-field>
      </div>
    </ng-template>

    <ng-template #descriptionView>
      <div  *ngIf=" menuItem.onlineDescription"
            id="onlineDescription"
            class="grid-item-gallery"
            [innerHTML]="menuItem?.onlineDescription">
      </div>
    </ng-template>

    <ng-template #shortdescriptionView>
      <div  *ngIf="menuItem.onlineShortDescription"
            class="onlineShortDescription"
            [innerHTML]="menuItem?.onlineShortDescription">
      </div>
    </ng-template>

    <ng-template #metaTagsView>
      <span class="margin-5" *ngIf="fbProductsService.isFood(menuItem.itemType) &&
                                    (menuItem.glutenFree)">
        <button mat-fab color="warn" aria-label="Gluten Free">
          GF
        </button>
      </span>

      <div  class="margin-5">
        <app-chips-display
          [items]="menuItem.metaTags"
          (onMetaTagSearch)="metaTagRefresh($event)">
        </app-chips-display>
      </div>
    </ng-template>

    <ng-template #galleryView>
      <div class="gallery"  *ngIf="menuItem.urlImageMain || menuItem.urlImageOther">
       <!-- {{menuItem?.urlImageMain}} -->
        <!-- <app-menu-item-gallery [menuItem]="menuItem"></app-menu-item-gallery> -->
        <app-image-gallery  [imageData]="imageList" ></app-image-gallery>
      </div>
    </ng-template>
</div>

<ng-template #inventoryList>
  <div *ngIf="uiHomePage && uiHomePage?.enableInventoryPerItem">
    <inventory-menu-item
      [posDevice]="posDevice"
      [productID]="menuItem?.id">
    </inventory-menu-item>
  </div>
</ng-template>

<ng-template #enableRecentAssociatedItems>
  <div *ngIf="uiHomePage && uiHomePage?.enableRecentAssociatedItems">
    <div *ngIf="(recentAssociations$ | async) as associations">
      <mat-card *ngIf="associations.length>0">
        <mat-card-title>
          <h3  *ngIf="associations.length>0">Items Purchased with this {{menuItem.name}} recently.</h3>
        </mat-card-title>
        <mat-card-content>
          <div class="grid-flow">
            <div *ngFor="let item of associations" >
              <app-menu-item-card
                [menuItem]="item"
                [uiHomePage]="uiHomePage"
                [bucketName]="bucketName"
              ></app-menu-item-card>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-template>


<ng-template #enableAssociatedItems>
  <div *ngIf="uiHomePage && uiHomePage?.enableRecentAssociatedItems">
    <div *ngIf="(associations$ | async) as associations" >
      <mat-card *ngIf="associations.length>0">
        <mat-card-title>
          <h3 *ngIf="associations.length>0">Similiar Items.</h3>
        </mat-card-title>
        <mat-card-content>
          <div class="grid-flow">
            <div *ngFor="let item of associations" >
              <app-menu-item-card
                [menuItem]="item"
                [uiHomePage]="uiHomePage"
                [bucketName]="bucketName"
              ></app-menu-item-card>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-template>


<ng-template #metaTagSearch>
  <div *ngIf="uiHomePage && uiHomePage?.enableRecentAssociatedItems">
    <div *ngIf="(metaTagSearch$ | async) as associations" >
      <mat-card *ngIf="associations.length>0">
        <mat-card-title>
          <h3 *ngIf="associations.length>0">Meta Tag Searches.</h3>
        </mat-card-title>
        <mat-card-content>
          <div class="grid-flow">
            <div *ngFor="let item of associations" >
              <app-menu-item-card
                [menuItem]="item"
                [uiHomePage]="uiHomePage"
                [bucketName]="bucketName"
              ></app-menu-item-card>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-template>

<ng-template #editItemView>
  <div class="edit-float-button">
    <button
        mat-mini-fab
        color="accent"
        (click)="editItem()" >
      <mat-icon  color="primary">info</mat-icon>
    </button>
  </div>
</ng-template>
