@import "/src/mixins.scss";



.gallery-container {
  height: 86vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

mat-card {
  // width: calc(98% );
  // height: calc(100%);
  height: 85vh;
  margin: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}

mat-label { 
  font-size: 1em;
}

.instructions {
  float: left;
}

input {
  color: #b2cecf;
  background-color: #221E1D ;
}

.button {
  height: 50px;
}

.formfield {
  box-shadow: 1px 1px 2px rgb(216, 193, 193), 0 0 25px rgb(33, 43, 33), 0 0 5px darkblue;
}

.instock-option {
  width: 205px;
}

#gallery{
  width: 100%;  border-radius: 5px;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
}

.gallery {
  border-radius: 5px;
  margin-bottom: 35px;
  padding-bottom: 35px;
}

#product-name {
  font-weight: 500;
  font-size: 1.4em;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
  float: right;
  margin: 0px 5px 5px 5px;
  padding: 0px 5px 5px 5px;
  align-items: baseline;
  line-height: 1em;
}

#brand-name {
  font-weight: 500;
  font-size: 1.1em;
  font-style: italic;
  width: 100%;
  white-space: nowrap;
  // overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  // float: left;
  margin: 0px 5px 5px 5px;
  padding: 0px 5px 5px 5px;
  align-items: baseline;
  line-height: 1em;
}

#unitDescription {
  font-weight: 500;
  font-size: 1em;
  width: 100%;
  margin: 0px 5px 5px 5px;
  padding: 0px 5px 5px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  float: left;
  align-items: baseline;
  line-height: 1em;
}

#barcode {
  font-weight: 400;
  font-size     : 1em;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
  float: left;
  margin: 0px 5px 5px 5px;
  padding: 0px 5px 5px 5px;
  align-items: baseline;
  line-height: 1em;
  white-space   : nowrap;
  overflow      : hidden;
  text-overflow : ellipsis;
  text-transform: capitalize;
  line-height   : 1em;
  align-items   : baseline;
}

#price {
  font-weight: 600;
  font-size: 1em;
  width: 100%;
  margin: 0px 5px 5px 5px;
  padding: 0px 5px 5px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  align-items: baseline;
  line-height: 1em;
}


.pricing-box {
  border       : 2px;
  border-radius: 5px;
  margin       : 6px;
  padding      : 5px;
  border-style : solid;
  width        : 145px;
  max-width:     145px;
  height:        50px;
  max-height:   50px;
  top:          25px;
  position: inherit;
}


#notification {
  font-weight: 400;
  font-size: 1em;
  // width: 100%;
  margin: 0px 5px 5px 5px;
  padding: 0px 5px 5px 5px;
  // white-space: nowrap;
  // overflow: hidden;
  text-overflow: ellipsis;
  float: left;
  align-items: baseline;
  line-height: 1em;
}

#onlineShortDescription {
  // position   :  relative;
  padding-top: 15px;
  margin     : 15px;
  // max-height : 300px;
  overflow-y : auto;
  overflow-x : hidden;
}

#onlineDescription {
  // margin  : 1em;
  position   :  relative;
  margin     : 15px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

#tags{
  font-weight: 500;
  font-size: 1em;
  padding: 0px 5px 5px 5px;
  margin: 0px 10px 10px 10px;
  align-items: baseline;
  line-height: 1em;
}

#advertisement {
  font-weight: 200;
  font-size: 0.7em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 190px;
  text-transform: capitalize;
}

#addItemToOrder{
  padding: 0px 5px 5px 5px;
  margin: 0px 10px 10px 10px;
}

#addToWishList{
  padding: 0px 5px 5px 5px;
  margin: 0px 10px 10px 10px;
}

#star-rating {
  font-weight: 400;
  font-size: 0.8em;
}

#rating-count {
  font-weight: 400;
  font-size: 0.8em;
}

#discount {
  font-weight: 300;
  font-size: 0.8em;
  float: left;
  padding-right: 3px;
  text-decoration: line-through;
}

#discountamount {
  font-weight: 300;
  font-size: 0.8em;
  float: left;
  padding-right: 3px;
}

#msrp-label {
  font-weight: 400;
  font-size: 0.8em;
  float: left;
  padding-right: 4px;
  margin-left: 4px;
}

#msrp {
  font-weight: 400;
  font-size: 0.8em;
  padding-left: 4px;
  margin-left: 4px;
}

#quantity{
  font-weight: 400;
  font-size: 0.8em;
  padding-left: 4px;
  margin-left: 4px;
}

#labelquantity{
  font-weight: 400;
  font-size: 0.8em;
  padding-left: 4px;
  margin-left: 4px;
}

.grid-input-quantity {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid-form-buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}


.grid-save-add-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid-item {
  padding: 5px ;
  margin:  5px ;
}

.column-2-span {
  display: grid;
  grid-column: 1 / 4;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.column-3-span {
  display: grid;
  grid-column: 1 / 3;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.prices {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

mat-form-field {
  font-size: smaller;
}

.center {
  // min-height   : 100px;
  margin-top   : 10px;
  margin-bottom: 10px;
  position: relative;
}

.flexy {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-item-hmtml {
  grid-row: 1 / 2;
  width   : 95%;
  margin  : 10px;
  border-radius: 5px;
}

.grid-item-gallery {

  @include for-phone-only {
    max-width            : 275px;
  }

}

.exit {
  display        : flex;
  flex-direction : row;
  justify-content: flex-end;
  position       : absolute;
  right: 20px;
  min-height   : 40px;
  margin-top   : 40px;
  margin-bottom: 5px;
}

.grid-span {
  grid-row: 1 / 2;
}

.item-span {
  // grid-column: span 2;
  grid-column: 1 / span 2;
}

.grid-header {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
  gap: 10px;
}

.grid-title {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(125px, 1fr) );
  gap: 10px;
}

.grid-demographics {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.grid-prices {
  display: grid;
  grid-column: 1 / 3;
  grid-template-columns: 1fr 1fr ;
  gap: 10px;
  max-width: 250px;

  @media only screen and (max-width: 300px) {
    display: flex;
    flex-direction: column;
    gap:10px;
  }

  @media only screen and (max-width: 599px) {
    display: flex;
    flex-direction: column;
    gap:10px;
  }
}

.grid-add-item {
  display              : grid;
  grid-row             : 2 / 2;
  grid-template-columns: repeat(3, 1fr) ;
  gap                  : 10px;
  margin               : 5px;
}

.mat-chips {
  margin-top: 5px;
}

.gf-chips {
  margin: 5px;
  padding: 5px;
}

.mat-packaging {
  margin: 5px;
}

.package-buttons {
  width:  200px;
  max-width: 200px;
  margin: 5px;
}
.center {
  position: relative;
  // transform: translate(10%, -50%);
}

.grid {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
  position: relative;
  gap: 10px;
  margin-bottom: 15px;
}

.col-spanner {
  grid-column: 1 / span 2;
  margin: 10px;
}

.grid-main {

  display: grid;
  grid-template-columns:  1f 1f ;
  grid-template-rows: auto auto min-content;
  grid-gap: 10px;
  gap: 10px;
  // max-height: 400px;

  @media only screen and (max-width: 599px) {
    display              :  flex;
    flex-direction       :  column ;
    gap                  :  10px;
    #product-name { width: 205px;  }
    #advertisement {  width: 205px;   }
  }

  @media only screen and (min-width: 600px) {
    display              :  flex;
    flex-direction       :  column ;
    grid-gap             :  10px;
    #product-name { width: 205px;  }
    #advertisement {  width: 205px;   }
  }

  @media only screen and (min-width: 768px) {
    display              :  grid;
    grid-template-columns:  auto ;
    grid-template-rows   :  auto ;
    grid-gap             :  10px;
    #product-name  { width: 205px;  }
    #advertisement {  width: 205px;   }
  }

  @media only screen and (min-width: 992px) {
    display: grid;
    grid-template-columns:  1fr 1fr ;
    grid-template-rows: auto ;
    grid-gap: 15px;

    #product-name {
      width: 220px;
    }
    #advertisement {
      width: 220px;
    }
  }

  @media only screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows   : auto ;
    grid-gap: 15px;

    #product-name {
      width: 220px;
    }
    #advertisement {
      width: 220px;
    }
  }

  @media only screen and (min-width: 1400px) {
    display: grid;
    grid-template-columns:  1fr 1fr ;
    grid-template-rows   :  auto ;
    grid-gap: 10px;
    gap     : 10px;

    #product-name {
      width: 240px;
    }
    #advertisement {
      width: 240px;
    }
  }


}
