<div *ngIf="(action$ | async) as newOrder"></div>
<div *ngIf="(dCapReset$ | async) as reset"></div>

<div  class="grid-items"
      *ngIf=" (uiTransactions$ | async) as uiTransactions" >
  <div>
    <button class="big-button" mat-raised-button (click)="newDefaultOrder()">New Order</button>
  </div>

  <div class="center-panel">
    <div *ngIf="payment && step == 1">
      <div class="action-center">

        <div class="tip-grid">

          <div class="action-center">
            <mat-label class="h3" *ngIf="!payment.completionDate && payment"> Payment: {{ payment.amountPaid }} </mat-label>
            <br>
            <mat-label class="h3"  color ="accent" *ngIf="payment.completionDate"> Change Due: <br> {{ changeDue | currency }}</mat-label>
          </div>

          <div class="action-center">
            <mat-label>Scan to Start New Order</mat-label>
            <list-product-search-input></list-product-search-input>
          </div>

          <ng-container [ngTemplateOutlet]="actionCenterView" ></ng-container>

          <div  *ngIf="(payment && payment?.account) || (paymentMethod && paymentMethod?.isCreditCard)">
            <tip-entry-amount
              [payment]            = "payment"
              [paymentMethod]      = "paymentMethod"
              (specifiedTipAmount) = "specifiedTip($event)"
              (outPutTip)          = "customTipAmount($event)"
            ></tip-entry-amount>
          </div>
        </div>
      </div>
    </div>

    <mat-card *ngIf="step == 2">
      <div class="action-center">
        <div class="action-center">
          <mat-label class="h3" *ngIf="!payment.completionDate && payment">Payment: {{ payment.amountPaid }} </mat-label>
        </div>
        <div class="action-center">
          <mat-label class="h3"  color ="accent" *ngIf="payment.completionDate"> Change Due: <br> {{ changeDue | currency }}</mat-label>
        </div>
      </div>

      <mat-card-actions>
        <ng-container [ngTemplateOutlet]="actionCenterView" ></ng-container>
      </mat-card-actions>

      <div class="action-center" *ngIf="uiTransactions.enableTransactionTypeChoice">
        <new-order-type
                  [order]        ="order"
                  [payment]      ="payment"
                  [paymentMethod]="paymentMethod"
                  [showCancel]   ="'false'"
        ></new-order-type>
      </div>

    </mat-card>
  </div>

  <div>
    <button class="big-button" mat-raised-button (click)="newDefaultOrder()">New Order</button>
  </div>

</div>

<ng-template #actionCenterView let-stepValue>
  <div class="action-center ">
    <button mat-button
            class="tip-button"
            (click)="printReceipt()">
            <mat-icon>print</mat-icon>
            Print</button>

    <button mat-button
            class="tip-button"
            (click)="close()"><mat-icon>close</mat-icon>
            Exit</button>

    <button mat-button
            class="tip-button"
            (click)="changeStep()">
            <mat-icon>arrow_forward_ios</mat-icon>Next
    </button>
  </div>
</ng-template>
