@import "/src/mixins.scss";

.mat-card {
  width: 100%;
  margin: 5px;
}

.tip-button-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;


  @include for-phone-only  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    // width: 125px;
  }

}

margin {
  margin-bottom: 20px;
}

.mat-content {
  min-height: 300px;
  height: 300px;
}

.tip-grid {
  display:grid;
  grid-template-columns: 1rf;
  gap: 5px;
}

.action-center {
  display         : flex;
  flex-direction  : row;
  flex-wrap       : wrap;
  justify-content : center ;
  align-items     : baseline;
  align-content   : center;
  margin          : 10px;

}

.action-center-column {
  display         : flex;
  flex-direction  : row;
  flex-wrap       : wrap ;
  justify-content :center ;
  align-items     : baseline;
  align-content   : center;
  margin-left     : 10px;

  @include for-phone-only  {
  display         : flex;
    flex-direction  : column;
    flex-wrap       : wrap ;
    justify-content : center ;
    align-items     : baseline;
    align-content   : center;
    margin-left     : 5px;

  }

}

mat-icon {
  margin-left: 10px;
  margin-right: 10px;
  font-size: x-large;

  @include for-phone-only  {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1em;
  }
}

.tip-button {

  // width: 150px;
  // height: 75px;
  // font-size: 2em;

  width: 150px;

  font-size: x-large;
  margin: 10px;
  padding: 0;
  height: 100px;
  // margin-bottom: -20px;
  // margin-top: -20px;

  @include for-phone-only  {
    width: 125px;
    // height: 45px;
    font-size: medium;
    // overflow: hidden;
    margin: 10px;
    height: 45px;
  }

}



