@import "/src/mixins.scss";

mat-card {
  width           : 100%;
  padding-top     : 2px  !important;
  padding-bottom  : 2px  !important;
  overflow-y      : auto;
  overflow-x      : hidden;

  @include for-phone-only  {
    width     : 100%;
    overflow-y: hidden;
    overflow-x: hidden;
  }
}

.transaction-data {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(265px, 1fr) );
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  font-size: small;
}

