@import "/src/mixins.scss";

mat-card {
  width: 100%;
  min-width: 500px;
}

.drag-drop-container {
  width: 90%;
  margin: auto;
  vertical-align: top;
  @include for-phone-only  {
    width: 150px;
  }
}

.drag-drop-list {
  border: solid 1px;
  min-height: 300px;
  overflow: hidden;
  display: block;
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 10px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12),
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-drop-box:last-child {
  border: none;
}

.drag-drop-list.cdk-drop-list-dragging .drag-drop-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-drop-box {
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  background: rgb(30, 81, 97);
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  box-shadow: 0 8px 6px -6px #000;
}

.type-list {
  height: 65vh;
  overflow-y: scroll;
}
.selection-list {
  height: 55vh;
  overflow-y: scroll;
}

.grid-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 10px;
  @include for-phone-only  {
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
  }
}

.grid-dual-list {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(175px, 1fr) );
  gap: 10px;
  @include for-phone-only  {
    // grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
    display: flex;
    flex-direction: row;
  }
}

.span-column {
  grid-column-end: span 2;
  max-height: 800px;
  overflow-y: auto;
  overflow-x: hidden;
}

.dualListLeft, .dualListRight {
  display: flex;
}

.drag-drop-container {
  margin: 0;
}

.listboxform-wrap {
  padding-top: 3em;
  padding-bottom: 3em;
}

.toggle-buttons-wide {
  width: 100px;
  margin-left: 5px;
  text-align: left;
}


.button-toggle {
  // width: 150px;
  // margin-left: 5px;
  text-align: left;
  @include for-phone-only  {
    // width: 50px;
    // margin-left: 5px;
    // text-align: left;

  }
}

.toggle-group {
  width: 150px;
  margin-top: 10px;
  margin-left: 5px;
  text-align: left ;
  @include for-phone-only  {
    // width: 50px;
    // margin-left: 5px;
    // text-align: left
  }
}

.spacer-10 {
  margin-left: 10px;
}

button {
  width: 150px;
  height: 50px;
}

.buttons-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 5px;
  margin-top: 5px;
  // margin: 10px;
}

