<div class="grid-container">
   <div  *ngIf="!smallDevice && values && !savingChanges">
      <mat-button-toggle-group
            class="toggle-group"
            name          = "type"
            *ngIf="!smallDevice"
            vertical>
        <mat-button-toggle
              *ngFor      ="let item of values"
              class       ="button-toggle"
              type        ="button"
              [value]     ="item"
              (click)     ="applyGroupID(item)"
              id          ="item.id">
          {{item.name}}
        </mat-button-toggle>
      </mat-button-toggle-group>

    </div>

    <div>
      <mat-card class="mat-split-card">
        <mat-card-subtitle>
          <div class="span-column">

            <div *ngIf="currentGroup == '1' || currentGroupID == 1">
              <h4>Select a group to organize</h4>
            </div>

            <mat-label  *ngIf="currentGroup != '1'"  style="font-size:1.3em;font-weight:500">
              Group: {{currentGroupID}}. Apply all splits before making payments.
            </mat-label>

            <mat-label>Once payments are made more splits can not be done.</mat-label>
             <mat-card *ngIf="(orderGroupTotal$ | async) as groupOrder; else calculating">
              <mat-card-content>
                <br>
                <h5>Balance: {{groupOrder.balanceRemaining +  groupOrder?.gratuity | currency}}</h5>
                <br>
                <h5>
                  Total:   {{groupOrder.total  | currency}}
                </h5>
              </mat-card-content>

              <mat-card-actions >
                <div class="buttons-grid">
                  <div>
                    <button class="payment-buttons" mat-raised-button color="primary" (click)="refreshOrder()">
                      <mat-icon>refresh</mat-icon>Refresh Order
                    </button>
                  </div>

                  <div class="spacer-10" *ngIf="(orderGroupTotal$ | async) as order">
                    <div *ngIf="!changesOcurred">
                      <print-group-receipt
                          (outPutPaymentAmount)="makePayment($event)"
                          [orderID]="order.id"
                          [order]="order"
                          [groupID]="currentGroupID">
                        </print-group-receipt>
                    </div>
                  </div>

                  <div *ngIf="changesOcurred" >
                    <button class="payment-buttons" mat-raised-button color="primary" (click)="saveChanges()">
                      <mat-icon>save</mat-icon>Save Changes
                    </button>
                  </div>

                </div>

              </mat-card-actions>
            </mat-card>
            <ng-template #calculating>
              <mat-card>
                ...calculating <mat-spinner [diameter]="25"></mat-spinner>
              </mat-card>
            </ng-template>
          </div>
        </mat-card-subtitle>
        <mat-card-content >
          <ng-template #savingChangesOn>
            ...saving
          </ng-template>

          <div *ngIf="smallDevice && values && !savingChanges">
            <mat-form-field  appearance="outline">
              <mat-label>Group</mat-label>
              <mat-select name="type" (selectionChange)="applyGroupID($event.value)">
                <mat-option *ngFor="let item of values" [value]="item">
                  {{item.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="grid-dual-list" *ngIf="!savingChanges; else savingChangesOn">
            <div class="drag-drop-container">
              Group 1
              <div
                id="availableItemsList"
                cdkDropList
                #availables="cdkDropList"
                [cdkDropListData]="availableItems"
                [cdkDropListConnectedTo]="[selects]"
                (cdkDropListDropped)="drop($event)"
                class="drag-drop-list">
                <div
                  nbButton
                  outline
                  status="primary"
                  class="drag-drop-box"
                  *ngFor="let item of availableItems"
                  cdkDrag>
                  {{ item.text }}
                </div>
              </div>
            </div>
          
            <div class="col-md-6 col-lg-6 col-sm-12 dualListRight" [hidden]="currentGroup == '1'">
              <div class="drag-drop-container">
                Group {{currentGroup}}
                <div
                  id="selectedItemsList"
                  cdkDropList
                  #selects="cdkDropList"
                  [cdkDropListData]="selectedItems"
                  [cdkDropListConnectedTo]="[availables]"
                  (cdkDropListDropped)="drop($event)"
                  class="drag-drop-list">
                  <div
                    nbButton
                    outline
                    status="primary"
                    class="drag-drop-box"
                    *ngFor="let item of selectedItems"
                    cdkDrag>
                    {{ item.text }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          

        </mat-card-content>
      </mat-card>

    </div>
</div>

<div *ngIf="(selectedItems$ | async) as selectedItems"></div>
<div *ngIf="(allitems$ | async) as allitems"></div>
<div *ngIf="(saveAssignedItems$ | async) as savedItems"></div>
<div *ngIf="order$ && (order$ | async) as order; else calculating"></div>
