  <div *ngIf="inputForm">
    <div [formGroup]="inputForm">
      <div class="filterItem" >
        <mat-form-field appearance="outline">
          <mat-label>Flat Rate</mat-label>
          <mat-select
                      type="number"
                      formControlName ="flatRateTaxID"
                      name="flatRateTaxID"
                      (selectionChange)="getItem($event)"

            >
            <div *ngIf="items" >
              <mat-option *ngFor="let item of items" [value]="item.id">
                  {{item.name}}
              </mat-option>
            </div>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

