<div>
  <button mat-raised-button (click)="updateOrder()"><mat-icon>refresh</mat-icon></button>
</div>

<div  *ngIf="order">
  <div class="grid-split-groups"
       *ngIf="order.posOrderItems.length > 0">
    <div *ngFor="let value of values; let i = index;">
      <div class="group" *ngIf="isGreaterThanZero(order.posOrderItems, value)">


            <div *ngIf="(getSplitOrderTotal(value) | async) as item">
              <print-group-receipt
                      (outPutPaymentAmount)="makePayment($event)"
                      [orderID]="order?.id"
                      [order]="item"
                      [groupID]="value">
                    <ng-container
                      [ngTemplateOutlet]        ="orderHeaderTotal"
                      [ngTemplateOutletContext] ="{ $implicit: item, idx: i, splitGroup: value }">
                    </ng-container>
                  <!-- </div> -->
              </print-group-receipt>
            </div>
          <!-- </div> -->

          <ng-template #loading>  ...  </ng-template>

          <ng-container [ngTemplateOutlet]="header"></ng-container>

          <div *ngFor="let item of order.posOrderItems; index as i">
            <ng-container
              [ngTemplateOutlet]        ="optionTemplate"
              [ngTemplateOutletContext] ="{ $implicit: item, idx: i, splitGroup: value }">
            </ng-container>
          </div>
      </div>
  </div>

  </div>
</div>

<ng-template #header>
  <div class="header">
    <div class="grid-group-items">
      <div>QT</div>
      <div>Item</div>
    </div>
  </div>
</ng-template>

<ng-template #optionTemplate  let-option let-position="idx" let-splitGroup="splitGroup">
  <div  class="grid-group-items" *ngIf="option.splitGroupID == splitGroup">
    <div class="items"> {{ option.quantity }}
      <span *ngIf="option.unitName && option.unitName != '1'">
        {{ option.unitName.slice(0,2) }}
      </span>
    </div>
    <div class="items"> {{ option?.productName | truncateText:20 }}</div>
  </div>
</ng-template>

<ng-template #loading>  ... </ng-template>
<!-- </div> -->

<ng-template #orderHeaderTotal let-splitGroup="splitGroup">
  <div *ngIf="(getSplitOrderTotal(splitGroup) | async) as item">
    <!-- {{total | json}} -->
    <h5>Group: {{splitGroup}}  <br>
        Total: {{item.total   | currency }}
    </h5>
  </div>
</ng-template>
