<h4><mat-icon>cached</mat-icon>Cache Settings</h4>

<div *ngIf="currentCache">
  Current cache:
  <mat-divider></mat-divider>
    <!-- {{currentCache | json}}
    : Status: {{currentCache.boolean}} Time (minutes) {{currentCache.value}} -->
</div>

<div *ngIf="cacheTimeSetting">
  <div *ngIf="cacheForm">
    <div [formGroup]="cacheForm">
      <div class="fields">
          <mat-slide-toggle
                    [(ngModel)] ="cacheTimeSetting.boolean"
                    formControlName="boolean"
                    (change)="updateCacheTime()">
          <mat-label>Enable Cache</mat-label>
          </mat-slide-toggle>
      </div>

      <div class="fields">
        <mat-form-field class="example-form-field">
          <mat-label>Cache Time</mat-label>
            <input matInput
                   type="text"
                   name = "value"
                   formControlName="value"
                   [(ngModel)] ="cacheTimeSetting.value"
                   (change)="updateCacheTime()"
            >
        </mat-form-field>
      </div>
    </div>
  </div>

  <div>
    <div class="fields">
      Estimated cache size: {{cacheSizeCurrent}}
    </div>
    <div class="fields">
      <button mat-raised-button
              color="warn"
              (click)="deleteLocalStorage()">Delete Cache</button>
    </div>
    <div class="fields">
      Deleting the cache will log you out. It will not affect other users.
    </div>
  </div>

  <api-stored-value></api-stored-value>

</div>
