<div *ngIf="(processCreditCardResponse$ | async) as item"></div>
<div class="cards" *ngIf="(transaction$ | async) as transaction">
<div *ngIf="(posDevice$  | async) as item"></div>

  <mat-card>
    <mat-card-title>
      <div class="action-center"  *ngIf="payment?.amountPaid >0">
        <h5>{{gratitude}}</h5>
      </div>
      <div class="action-center" >
        <div>
          <h4>
            {{transaction?.tranCode}} {{transaction?.amount | currency}}
          </h4>
        </div>
        <div>
          <h4 *ngIf="payment && payment?.tipAmount">Tip: {{payment?.tipAmount | currency}} Total: {{payment?.amountPaid + payment?.tipAmount | currency}}</h4>
        </div>
      </div>
    </mat-card-title>

    <mat-card-content>
      <div class="grid-buttons">
        <div>
          <div>
            <button [disabled]="processing" *ngIf="!saleComplete" color="primary" mat-raised-button (click)="emvSale()">
                <mat-icon>credit_card</mat-icon>Process
            </button>
          </div>
        </div>
      </div>

      <div class="grid-buttons" *ngIf="saleComplete">
        <div >
          <button mat-raised-button (click)="print()"><mat-icon>email</mat-icon>Print</button>
        </div>
        <div>
          <button mat-raised-button (click)="text()"><mat-icon>phone</mat-icon>Text</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <ngx-json-viewer *ngIf="responseData && responseData?.PrintData" [json]="responseData?.PrintData"></ngx-json-viewer>

  <div  [hidden]="hideRequest">
    <h3>Request:</h3> {{request | json}}
  </div>

  <div >
    <mat-card>
      <div *ngIf="processing">Please tap or insert card</div>

      <app-dcapresponse-message 
            [errorMessage]="errorMessage"
            [message]="message"
            [response]="cmdResponse"
            [resultMessage]="resultMessage">
      </app-dcapresponse-message>

    </mat-card>
    <div>
      <mat-card *ngIf="isAdmin">
        Current transaction
        <div>  {{transaction | json}} </div>
      </mat-card>
    </div>
  </div>

  <div style="margin:5px" *ngIf="payment?.amountPaid >0">
    <button style="width:100px" mat-raised-button (click)="enterTip = !enterTip">Enter Tip</button>
  </div>

  <div class="tip-container" *ngIf="!processing && !textResponse && enterTip ">
    <tip-entry-amount
        [payment]            = "payment"
        (specifiedTipAmount) = "specifiedTip($event)"
        (outPutTip)          = "customTipAmount($event)"
    ></tip-entry-amount>
  </div>

  <div class="grid-buttons">
    <div>
      <button mat-raised-button color="warn" (click)="emvCancel()">
        Cancel
      </button>
    </div>

    <div>
      <button mat-raised-button color="accent" (click)="resetDeviceAsync()">
        Reset
      </button>
    </div>
  </div>
</div>


