<div class="cards" *ngIf="(transaction$ | async) as transaction">
<div *ngIf="(posDevice$  | async) as item"></div>

  <mat-card>
    <mat-card-title>
      <div class="action-center" *ngIf="transaction">
        <ng-content title></ng-content>
        <h4>
          {{transaction?.tranCode}} {{transaction?.amount | currency}}
          <span *ngIf="payment && payment?.tipAmount">Tip: {{payment?.tipAmount | currency}} Total: {{payment?.amountPaid + payment?.tipAmount | currency}}</span>
        </h4>
      </div>
    </mat-card-title>

    <mat-card-content>
      <div class="grid-buttons">

        <div>
          <div>
            <button mat-raised-button (click)="emvSale()">
                <mat-icon>credit_card</mat-icon>Process
            </button>
          </div>
        </div>
        <div>
          <button mat-raised-button (click)="emvCancel()">
            <mat-icon>cancel</mat-icon>Cancel
          </button>
        </div>

        <div *ngIf="(isAdmin || isManager) && !saleOnly">
          <div>
            <button mat-raised-button (click)="getResponse()">Get Response</button>
          </div>

          <div>
            <button mat-raised-button (click)="refreshInfo()"><mat-icon>refresh</mat-icon>Refresh Info</button>
          </div>

        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div  [hidden]="hideRequest">
    <h3>Request:</h3> {{request | json}}
  </div>

  <div class="response" *ngIf="processRunning && !textResponse">
    <mat-card>
      <pointlesscc-dsi-android-results
          [isAdmin]="isAdmin"
          [tranResponse]="tranResponse"
          [textResponse]="textResponse">
        <h3>Response</h3>
        <div *ngIf="messageResponse"> {{ messageResponse | json}}  </div>
        <div *ngIf="message">   {{message | json}}  </div>
        <div *ngIf="processRunning"><mat-spinner [diameter]="50"></mat-spinner></div>
      </pointlesscc-dsi-android-results>
    </mat-card>
    <div>
      <mat-card *ngIf="isAdmin">
        Current transaction
        <div>  {{transaction | json}} </div>
      </mat-card>
    </div>
  </div>

  <div style="margin:5px" *ngIf="payment?.amountPaid >0">
    <button style="width:100px" mat-raised-button (click)="enterTip = !enterTip">Enter Tip</button>
  </div>

  <div class="tip-container" *ngIf="!processRunning && !textResponse && enterTip ">
    <tip-entry-amount
        [payment]            = "payment"
        (specifiedTipAmount) = "specifiedTip($event)"
        (outPutTip)          = "customTipAmount($event)"
    ></tip-entry-amount>
  </div>


</div>


