<div class="cards">
  <div>
      <mat-card>
        <mat-card-title><ng-content  title ></ng-content></mat-card-title>
        <mat-card-content>
          <div class="grid-buttons">

            <div>
              <button (click)="emvSale()"><mat-icon>money</mat-icon>Transaction</button>
            </div>

            <span *ngIf="isAdmin || isManager">
              <div>
                <button (click)="getResponse()">Get Response</button>
              </div>

              <div>
                <button (click)="emvParamDownload()"><mat-icon>download</mat-icon>Param Download</button>
              </div>

              <div>
                <button (click)="emvCancel()"><mat-icon>cancel</mat-icon>Cancel</button>
              </div>

              <div>
                <button (click)="refreshInfo()"><mat-icon>refresh</mat-icon>Refresh Info</button>
              </div>

              <div>
                <button (click)="checkBTPermission()">Permissions</button>
              </div>
            </span>

          </div>
        </mat-card-content>
      </mat-card>

      <div  [hidden]="hideRequest">
        <h3>Request:</h3> {{request | json}}
      </div>

      <div class="response">
        <mat-card>
          <pointlesscc-dsi-android-results
            [tranResponse]="tranResponse">
            <h3>Response</h3>
            <div>
              {{ messageResponse }}
            </div>
            <div>
              {{message}}
            </div>
            <div *ngIf="processRunning"><mat-spinner [diameter]="50"></mat-spinner></div>
          </pointlesscc-dsi-android-results>
        </mat-card>
      </div>

    </div>

</div>


