button {
  height: 55px;
  width: 150px;
  margin: 10px;
}

.action-center {
  display         : flex;
  flex-direction  : row;
  flex-wrap       : wrap;
  justify-content : center ;
  align-items     : baseline;
  align-content   : center;
  margin-bottom   : 5px;
}

.grid-buttons {
  display: flex;
  align-content: space-between;
  align-items: center;
  justify-content: center;
}

mat-icon {
  margin: 3px;
}

mat-option {
  margin: 1rem 0;
  overflow: visible;
  line-height: initial;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.tip-container {
  margin: 10px;
  margin-top: 15px;
}

mat-option i {
  display: block;
  font-size: 1.5rem;
  opacity: 0.6;
}

.item-description {
  // margin: 5px;
}

.item-secure {
  // margin: 5px;
}

.grid-fields {
  display: grid;
  grid-template-columns: 1fr 1fr ;
}

.transaction-response {
  max-width: 500px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.transaction {
  display: flex;
  align-content: space-between;
  align-items: center;
  justify-content: center;
}

.message {
  // max-width: 550px;
  width: 100%;
  min-width: 550px;
  max-height: 400px;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.example-form {
  min-width: 350px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  height: 45px;
  width: 100%;
  margin: 10px;
}

.cards {
  width: 100%;
  width: 100%;
}

.response {
  margin: 5px;
}
