<div *ngIf="(action$ | async) as item; else loading"></div>

<div *ngIf="promptGroup && posItem">

  <mat-card class="mat-card">
    <mat-card-subtitle>
      <div class="grid-menu">
        <div>
          <h2>
              {{promptGroup?.name}}
          </h2>
        </div>

        <div>
          <ng-container [ngTemplateOutlet]="largeScreenButtons"></ng-container>
        </div>

      </div>
    </mat-card-subtitle>
    <mat-card-content>
      <div
          [innerHTML]="promptGroup?.instructions">
      </div>
    </mat-card-content>
  </mat-card>
  <mat-divider></mat-divider>

  <mat-card>
    <div class="grid-prompt">
      <div>
        <prompt-sub-group-panel></prompt-sub-group-panel>
      </div>
      <div>
        <prompt-items-selected></prompt-items-selected>
      </div>
    </div>

    <ng-container [ngTemplateOutlet]="largeScreenButtons"></ng-container>

    <mat-card-actions>
      <div>
        <mat-form-field  class="notes" appearance="outline">
          <mat-label>Notes</mat-label>
            <textarea matInput
                      rows="4"
                      columns="40"
                      [(ngModel)]="modifierNote"
            ></textarea>
        </mat-form-field>
      </div>
      <app-keyboard [disableClose]= "true"> </app-keyboard>
    </mat-card-actions>

  </mat-card>
  <ng-container [ngTemplateOutlet]="smallScreenButtons"></ng-container>
</div>

<ng-template #buttonDisplay>
  <div class="grid-list">
    <button class="item-button" mat-raised-button (click)="cancel()">
       <h5>
          <mat-icon>cancel</mat-icon>Cancel <br>
        </h5>
    </button>
    <button class="item-button" mat-raised-button (click)="applyChoices()">
      <h5>
        <mat-icon>approval</mat-icon>Save & Close
      </h5>
    </button>
  </div>
</ng-template>

<ng-template #loading>
  <div *ngIf="processing">
    ..sending
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</ng-template>
