<div *ngIf="(action$ | async) as item; else loading"></div>
<div *ngIf="( saveNotes$ | async) as item"></div>
<div *ngIf="promptGroup && posItem">

  <mat-card class="prompt-mat-card ">
    <mat-card-subtitle>
      <div class="panel-header">
        {{promptGroup?.name}}
      </div>
    </mat-card-subtitle>
    <mat-card-content>
      <div class="font-1-2em font-bold"  [innerHTML]="promptGroup?.instructions"> </div>
    </mat-card-content>
  </mat-card>
  <mat-divider></mat-divider>

  <mat-card>
    <div class="grid-prompt">
      <div>
        <prompt-sub-group-panel [phoneDevice]="phoneDevice"></prompt-sub-group-panel>
      </div>
      <div>
        <prompt-items-selected></prompt-items-selected>
      </div>
    </div>

    <ng-container [ngTemplateOutlet]="largeScreenButtons"></ng-container>

    <div *ngIf="phoneDevice && !showNotes">
      <button mat-raised-button (click)="showNotes = !showNotes">
        <mat-icon>note</mat-icon>Enter Notes
      </button>
    </div>
    <mat-card-actions *ngIf="noteForm && showNotes">
      <div  [formGroup]="noteForm">
        <mat-form-field  class="notes" appearance="outline">
          <mat-label>Notes</mat-label>
            <textarea matInput
                      rows="4"
                      columns="notesDisplayColumns"
                      formControlName="modifierNote"
            ></textarea>
        </mat-form-field>
      </div>

      <div class="margin5">
        <button mat-button (click)="setToggleKeyboard()">
          <mat-icon class="margin5">keyboard</mat-icon>Keyboard
        </button>
      </div>
      <ng-container [ngTemplateOutlet]="keyboardDisplay"></ng-container>
    </mat-card-actions>

  </mat-card>
  <ng-container [ngTemplateOutlet]="smallScreenButtons"></ng-container>
</div>

<ng-template #buttonDisplay>
  <div class="grid-list save-close">
    <button class="item-button" mat-raised-button (click)="cancel()">
       <h5>
          <mat-icon>cancel</mat-icon>Cancel <br>
        </h5>
    </button>
    <button class="item-button" mat-raised-button (click)="applyChoices()">
      <h5>
        <mat-icon>approval</mat-icon>Save & Close
      </h5>
    </button>
  </div>
</ng-template>

<ng-template #keyboardDisplay>
  <div *ngIf="toggleKeyboard">
    <app-keyboard [disableClose]= "true"> </app-keyboard>
  </div>
</ng-template>

<ng-template #loading>
  <div *ngIf="processing">
    ..sending
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</ng-template>
