<div *ngIf="(action$ | async) as action"></div>
<div *ngIf="(orderAction$ | async)"></div>
<div *ngIf="(process$ | async) as process"></div>
<div *ngIf="(paymentGiftCardsList$ | async) as giftcard"></div>

<div *ngIf="( posDevice$ | async) as item">
  <div class="action-center"  *ngIf="androidPaxA920Payment">
    <ng-container [ngTemplateOutlet]="disEMVCreditOnlyCardButton"></ng-container>
    <ng-container [ngTemplateOutlet]="disEMVDebitOnlyCardButton"></ng-container>
  </div>
</div>

<div *ngIf="(paymentMethods$ | async) as methods">
  <div [class]="orderLayout" *ngIf="order  && uiTransactions">
    <div class="transaction-data">

      <div #coachingPaymentsMade class="grid-header-item">
        <span #coachingAuthorization></span>
        <span #coachingAdjustAuth></span>
        <app-payment-balance
          [hideButtonOptions]="!isApp"
          [posDevice]        ="posDevice"
          [PaxA920]="PaxA920"
          [uiTransactions]="uiTransactions"
          [mainPanel]="true"
          [order]="order">
        </app-payment-balance>
      </div>

      <ng-container [ngTemplateOutlet]="userDemographics"></ng-container>

      <ng-container [ngTemplateOutlet]="helpButton"></ng-container>

      <div #coachingSplitGroups class="grid-header-item">
        <mat-card *ngIf="isStaff">
          <ng-container [ngTemplateOutlet]="referencedOrders"></ng-container>
        </mat-card>
        <mat-card *ngIf="splitByItem && isStaff">
          <ng-container [ngTemplateOutlet]="splitItemorders"></ng-container>
        </mat-card>
      </div>

      <div *ngIf="!serviceIsScheduled && (serviceType && (serviceType.promptScheduleTime || serviceType.deliveryService ))"
            class="grid-header-item">
        <button class="payment-buttons"   color="accent" mat-button (click)="navSchedule()">
          <mat-icon>event</mat-icon>
          Schedule</button>
      </div>

      <div *ngIf="serviceIsScheduled" class="grid-header-item">
        <posorder-schedule-card>
        </posorder-schedule-card>
      </div>
    </div>

    <div>
      <!-- class="flex-grid-row" -->
      <div *ngIf="paymentsEqualTotal && !isStaff" class="button-margin-10">
        <button class="button-width-175 button-height-75"
                color="accent"
                mat-raised-button
                (click)="exitOrder()"><mat-icon>exit_to_app</mat-icon>Leave Order</button>
      </div>

      <div class="button-margin-10">
        <button class="button-margin-10 button-width-175 button-height-75"
                color="accent"
                mat-raised-button
                (click)="emailOrder('event')">
          <mat-icon>email</mat-icon>Email
        </button>
      </div>

      <div *ngIf="isUser && paymentsEqualTotal && !isStaff" class="button-margin-10">
        <h5>If you would like to enter a tip, please do so before the end of day.</h5>
        <button *ngIf="isToday(order?.completionDate)"  class="button-margin-10 button-width-175 button-height-75"
                color="accent"
                mat-raised-button
                (click)="editPayment()">
              <mat-icon>edit</mat-icon>
              Enter Tip
        </button>
      </div>

      <mat-card class="margin-bottom-10" *ngIf="isStaff">
        <ng-container [ngTemplateOutlet]="isProcessingPayment"></ng-container>
        <div *ngIf="paymentsEqualTotal" class="button-margin-10">
          <button class="button-margin-10 button-width-175 button-height-75"
                  color="accent"
                  mat-raised-button
                  (click)="exitOrder()">Leave Order</button>
        </div>

        <div  class="order-completed"
              *ngIf="(paymentsEqualTotal || order.completionDate)">
            <ng-container [ngTemplateOutlet]="receiptShowTemplate"></ng-container>
        </div>

        <div *ngIf="groupPaymentAmount && groupPaymentAmount != 0" class="ps-flex-group">
          <div>
            <h4>Payment Amount: {{groupPaymentAmount | currency}}</h4>
          </div>
          <div class="margin-5"><button style="height: 50px;" mat-raised-button color="warn"
            (click)="clearGroupSelection()">Clear Selection</button></div>
        </div>

        <div class="action-center">
          <div class="action-center" *ngIf="!order.completionDate && order?.balanceRemaining != 0
                                            && platFormService.isApp()
                                            && isCreditProcessingEnabled ">
            <div *ngIf="!splitByItem">
              <h4>Payment Amount: {{paymentAmount | currency}}</h4>
            </div>
          </div>

          <div class="grid-menu-category-flow">

            <div *ngIf="!paymentsEqualTotal && !splitByItem && !uiTransactions?.dcapDualPriceValue
                        && platFormService.isApp()
                        && isCreditProcessingEnabled">
              <button class="splitbutton"
                      mat-raised-button
                      color="primary"
                      (click)="changeAmount()">
                <mat-icon>edit</mat-icon>Change <br>Amount
              </button>
            </div>

            <div  *ngIf="!paymentsEqualTotal && (uiTransactions && uiTransactions?.splitEntry) && isStaff">
              <button class="splitbutton"
                      mat-raised-button
                      color="primary"
                      (click)="splitByItem = !splitByItem">
                <span *ngIf="splitByItem">
                  <mat-icon>credit_card</mat-icon> Payment <br> Methods
                </span>
                <span *ngIf="!splitByItem">
                  <mat-icon>call_split</mat-icon>  Split By <br>  Items
                </span>
              </button>
            </div>

          </div>

          <div style="margin-left: 5px" *ngIf="rewardsOption > 0 && (order?.balanceRemaining > 0 ||
                                                                    (userAuths && userAuths?.allowBuy))">
            <button class="splitbutton" style="margin-top:5px"
                    mat-raised-button
                    color="primary"
                    (click)="enterRewardsAmount(rewardsOption)">
              Rewards <br>  {{ rewardsOption | currency}}
            </button>
          </div>

        </div>
      </mat-card>

      <span #coachingPaymentFull></span>

      <div *ngIf="!order.completionDate && !splitByItem && !paymentsEqualTotal && paymentIsReady
                  &&  (order?.balanceRemaining != 0 || isNegativePaymentAllowed || isZeroPaymentAllowed ) ">

        <div *ngIf="(saleProcess$ |async) as saleProcess">  </div>
          <div class="grid-header-item" *ngIf="stepSelection == 1 || stepSelection  == 0">
            <div>
              <ng-container [ngTemplateOutlet]="wicEBTButton"></ng-container>
              <mat-card>
                <mat-card-content>
                  <div class="action-center"  *ngIf="(!order.completionDate &&
                                                    (  (order?.balanceRemaining != 0 || isNegativePaymentAllowed ||
                                                      isZeroPaymentAllowed )
                                                      || (order?.balanceRemaining < 0 || isNegativePaymentAllowed )
                                                      ) &&
                                                    !splitByItem)">

                        <ng-container [ngTemplateOutlet]="payApiView"></ng-container>
                        <!-- dCapAllowCreditOnlyOption -->
                        <!-- <ng-container [ngTemplateOutlet]="dsiEMVAndroidCardButton"></ng-container> -->

                        <ng-container [ngTemplateOutlet]="disEMVCreditOnlyCardButton"></ng-container>
                        <ng-container [ngTemplateOutlet]="disEMVDebitOnlyCardButton"></ng-container>

                        <ng-container [ngTemplateOutlet]="disEMVCardButton"></ng-container>
                        <ng-container [ngTemplateOutlet]="disEMVCardManualButton"></ng-container>
                        <ng-container [ngTemplateOutlet]="dCApPreAuthButton"></ng-container>

                        <ng-container [ngTemplateOutlet]="paypalButton"></ng-container>
                        <ng-container [ngTemplateOutlet]="cardPointeButton"></ng-container>
                        <ng-container [ngTemplateOutlet]="stripePayButton"></ng-container>
                        <ng-container [ngTemplateOutlet]="triposPayButton"></ng-container>
                        <ng-container [ngTemplateOutlet]="giftCardPayButtonView"></ng-container>
                        <ng-container [ngTemplateOutlet]="houseAccountButton"></ng-container>
                        <ng-container [ngTemplateOutlet]="storeCreditPaybutton"></ng-container>

                        <ng-container [ngTemplateOutlet]="cashPayButtons"></ng-container>
                        <ng-container [ngTemplateOutlet]="cashPay5"></ng-container>
                        <ng-container [ngTemplateOutlet]="cashPay10"></ng-container>
                        <ng-container [ngTemplateOutlet]="cashPay20"></ng-container>
                        <ng-container [ngTemplateOutlet]="cashPay50"></ng-container>
                        <ng-container [ngTemplateOutlet]="cashPay100"></ng-container>

                  </div>
                </mat-card-content>
              </mat-card>
            </div>

            <span #coachingPaymentPartial ></span>

            <div *ngIf="paymentMethods.length>0 && multiPayments"
                  class="margin-bottom-10">

              <span *ngIf="!isUser">
                <mat-card class="payment-dimensions">
                  <app-mat-toggle-selector
                      [styleHeight]      = "'calc(70vh - 300px)'"
                      class              = "card-height"
                      [list]             = "paymentMethods"
                      [hideAllOption]    = "'true'"
                      [toggleDimensions] = "'toggle-group-tall'"
                      [buttonDimensions] = "'button-dimensions-tall'"
                      (outPutItem)       = "getPaymentMethod($event)">
                    <div *ngIf="groupPaymentGroupID != 0">
                      Apply Payment Amount
                    </div>
                    <div *ngIf="groupPaymentGroupID == 0">
                      Enter Partial Payments
                    </div>
                  </app-mat-toggle-selector>
                </mat-card>
              </span>
            </div>
          </div>

          <div class="grid-header-item" *ngIf="stepSelection == 2">
            <mat-card class="card-dimensions">
              <mat-card-content>
                <div class="item-container"  *ngIf="paymentMethod">
                  <div>
                    <h4>
                      {{paymentMethod.name}} |
                      Order Balance : {{order.balanceRemaining | currency}}
                    </h4>
                  </div>
                </div>

                <div class="item-container item-buttons-container">
                  <div>
                    <button mat-raised-button
                            class="payment-buttons"
                            (click)="goToPaymentMethod()" >
                      Start Over
                      <mat-icon>back</mat-icon>
                    </button>
                  </div>

                  <div>
                    <button mat-raised-button
                            class="payment-buttons"
                            (click)="initCheckForm()">Clear <mat-icon>
                        refresh</mat-icon>
                    </button>
                  </div>
                </div>
                <ng-container [ngTemplateOutlet]="enterCheckNumberView"></ng-container>
              </mat-card-content>
            </mat-card>
          </div>

          <div class="grid-header-item" *ngIf="stepSelection == 4">
            <mat-card class="card-dimensions">
              <mat-card-content>
                <div class="item-container"
                            *ngIf="paymentMethod">
                  <div>
                    <h4>
                      {{paymentMethod?.name}} | Order Balance : {{order?.balanceRemaining | currency}}
                    </h4>
                    <h5>
                      <div *ngIf="order && order.clients_POSOrders">
                        Point Cash Value {{order.clients_POSOrders?.loyaltyPointValue | currency}}
                      </div>
                    </h5>
                  </div>
                </div>
                <ng-container [ngTemplateOutlet]="enterPointCashValueView"></ng-container>
              </mat-card-content>
            </mat-card>
          </div>

          <div class="grid-header-item" *ngIf="stepSelection == 3">
            <mat-card class="card-dimensions">
              <mat-card-content>
                <div class="item-container"
                      *ngIf="paymentMethod">
                  <div>
                    <h4>
                      {{paymentMethod?.name}} | Order Balance : {{order?.balanceRemaining | currency}}

                      <div *ngIf="changeDueComing && changeDueComing != 0">
                        <div *ngIf="changeDueComing > 0">
                          Expected Due: {{changeDueComing | currency}}
                        </div>
                        <div *ngIf="changeDueComing < 0">
                          Owes: {{changeDueComing | currency}}
                        </div>
                      </div>

                      <span *ngIf="paymentMethod.name === 'check'">
                          {{posPayment?.checkNumber}}
                      </span>
                    </h4>
                  </div>
                </div>

              <div class="item-container item-buttons-container">
                  <div>
                    <button  mat-raised-button
                              class="payment-buttons"
                              (click)="goToPaymentMethod()" >
                      Start Over
                      <mat-icon>back</mat-icon>
                    </button>
                  </div>
                  <div>
                    <button  mat-raised-button
                            class="payment-buttons"
                            (click)="initPaymentForm()">
                      Clear <mat-icon>refresh</mat-icon></button>
                  </div>
                  <div >
                    <button  mat-raised-button  class="payment-buttons" (click)="applyBalance()">
                      Pay Balance
                      <mat-icon>credit_card</mat-icon>
                    </button>
                  </div>
                </div>

                <div *ngIf="platFormService.isApp">
                  <ng-container [ngTemplateOutlet]="applyPaymentAmountView"></ng-container>
                </div>

              </mat-card-content>
            </mat-card>
          </div>

          <div *ngIf="paymentMethods">
            <div *ngFor="let item of paymentMethods">
              <div *ngIf="item?.id  == paymentMethod?.id &&  item?.instructions">
                <h3>{{item?.name}}</h3>
                <mat-hint>
                  <div [innerHTML]="item?.instructions" ></div>
                </mat-hint>
                <mat-divider></mat-divider>
              </div>
            </div>
          </div>
      </div>

      <div  class="order-completed">
        <ng-container [ngTemplateOutlet]="splitItemsTemplate"></ng-container>

      </div>

      <div *ngIf="!splitByItem && !paymentsEqualTotal &&
                  !paymentIsReady">
        <div class="message" *ngIf="message">
          <mat-icon  color="warn">warning</mat-icon>
          <mat-label color="warn">{{message}}</mat-label>
        </div>
        <pos-order-schedule [serviceType]="serviceType"></pos-order-schedule>
      </div>

    </div>

  </div>
</div>

<ng-template #enterCheckNumberView>
  <div class="item-container ">
    <app-key-pad
      [inputForm]        ="checkNumberForm"
      [inputTypeValue]   ="'text'"
      [showInput]        ="showInput"
      [numberbuttons]    ="'number-buttons button-sized-scaled'"
      [alternateClass]   ="'grid-keypad-alternate'"
      (outPutReturnEnter)="enterCheckNumber($event)">
      Check #
    </app-key-pad>
  </div>
</ng-template>

<ng-template #applyPaymentAmountView>
  <div class="item-container ">
    <app-key-pad
        [inputForm]        ="paymentAmountForm"
        [inputTypeValue]   ="'decimal'"
        [showInput]        ="showInput"
        [numberbuttons]    ="'number-buttons button-sized-scaled'"
        [alternateClass]   ="'grid-keypad-alternate'"
        (outPutCheckEntry) ="checkCurrentBalance($event)"
        (outPutReturnEnter)="applyPaymentAmount($event)">
        Enter Payment
    </app-key-pad>
  </div>
</ng-template>

<ng-template #enterPointCashValueView>
  <ng-container class="item-container ">
    <app-key-pad
      [inputForm]        ="pointValueForm"
      [inputTypeValue]   ="'decimal'"
      [numberbuttons]    ="'number-buttons button-sized-scaled'"
      [showInput]        ="showInput"
      [alternateClass]   ="'grid-keypad-alternate'"
      (outPutReturnEnter)="enterPointCashValue($event)">
      Point Amount
    </app-key-pad>
  </ng-container>
</ng-template>

<ng-template #cashPayButtons>
  <ng-container class="pay-buttons"
                *ngIf="!smallDevice && isApp">

    <cash-payment-buttons
        [order]="order"
        [user]="user"
        [userAuths]="userAuths"
        [uiTransactions]="uiTransactions"
        [platForm]="platForm"
        [creditBalanceRemaining]="order?.balanceRemaining"
        [paymentAmount] ="order?.balanceRemaining"
        [isApp]         ="isApp" >
      <div>Total</div>
    </cash-payment-buttons>
  </ng-container>
</ng-template>

<ng-template #cashPay5>
  <ng-container class="pay-buttons"
                *ngIf="!smallDevice && isApp">
    <cash-payment-buttons
        [user]="user"
        [userAuths]="userAuths"
        [order]="order"
        [uiTransactions]="uiTransactions"
        [platForm]="platForm"
        [creditBalanceRemaining]="creditPaymentAmount"
        [paymentAmount] ="5"
        [isApp]         ="isApp" >
        <div>&nbsp;</div>
    </cash-payment-buttons>
  </ng-container>
</ng-template>

<ng-template #cashPay10>
  <ng-container class="pay-buttons"
                *ngIf="!smallDevice && isApp">

    <cash-payment-buttons
        [order]="order"
        [user]="user"
        [userAuths]="userAuths"
        [uiTransactions]="uiTransactions"
        [platForm]="platForm"
        [creditBalanceRemaining]="creditPaymentAmount"
        [paymentAmount] ="10"
        [isApp]         ="isApp" >
        <div>&nbsp;</div>
    </cash-payment-buttons>
  </ng-container>
</ng-template>

<ng-template #cashPay20>
  <ng-container class="pay-buttons"
                *ngIf="!smallDevice && isApp">
    <cash-payment-buttons
        [order]="order"
        [user]="user"
        [userAuths]="userAuths"
        [uiTransactions]="uiTransactions"
        [platForm]="platForm"
        [creditBalanceRemaining]="creditPaymentAmount"
        [paymentAmount] ="20"
        [isApp]         ="isApp" >
        <div>&nbsp;</div>
    </cash-payment-buttons>
  </ng-container>
</ng-template>

<ng-template #cashPay50>
  <ng-container class="pay-buttons"
                *ngIf="!smallDevice && isApp">
    <cash-payment-buttons
          [order]="order"
          [user]="user"
          [userAuths]="userAuths"
          [uiTransactions]="uiTransactions"
          [platForm]="platForm"
          [creditBalanceRemaining]="creditPaymentAmount"
          [paymentAmount] ="50"
          [isApp]         ="isApp" >
        <div>&nbsp;</div>
    </cash-payment-buttons>
  </ng-container>
</ng-template>

<ng-template #cashPay100>
  <ng-container class="pay-buttons"
                *ngIf="!smallDevice && isApp">
    <cash-payment-buttons
        [order]="order"
        [user]="user"
        [userAuths]="userAuths"
        [uiTransactions]="uiTransactions"
        [platForm]="platForm"
        [creditBalanceRemaining]="creditPaymentAmount"
        [paymentAmount] ="100"
        [isApp]         ="isApp" >
        <div>&nbsp;</div>
    </cash-payment-buttons>
  </ng-container>
</ng-template>

<ng-template #splitItemorders>
  <pos-split-groups
   (outPutPaymentAmount)="applyGroupPayment($event)"
  ></pos-split-groups>
</ng-template>

<ng-template #splitItemsView>
  <app-possplit-items
    [androidApp]="androidApp"
    (outPutPaymentAmount)="applyGroupPayment($event)"
    [order]="order">
  </app-possplit-items>
</ng-template>

<ng-template #referencedOrders>
  <pos-split-orders
    [order]="order">
  </pos-split-orders>
</ng-template>

<ng-template #houseAccountButton>
  <div *ngIf="(userAuths && userAuths.houseAccountPayment) && order.clientID != 0 &&
               order?.clients_POSOrders?.client_Type?.name.toLowerCase() === 'house account'">
    <button class="splitbutton"
          mat-raised-button
          color="primary"
          (click)="houseAccountPayment()">
      <div *ngIf="!paymentsEqualTotal">
        House Account
      </div>
    </button>
  </div>
</ng-template>

<ng-template #stripePayButton>
  <stripe-card-pay-btn
    [order]="order"
    [uiTransactions]="uiTransactions"
    [platForm]="platForm"
    [creditBalanceRemaining]="creditPaymentAmount"
    [stripeTipValue]="stripeTipValue"
    [paymentAmount]="paymentAmount"
    (setStep) ="setStep(1)">
    <mat-icon color="warn">credit_card</mat-icon>
    <br>Stripe
  </stripe-card-pay-btn>
</ng-template>

<ng-template #cardPointeButton>
  <card-pointe-card-pay-btn
    *ngIf="isApp || isStaff"
    [order]="order"
    [devicename]="devicename"
    [uiTransactions]="uiTransactions"
    [platForm]="platForm"
    [creditBalanceRemaining]="creditPaymentAmount"
    [stripeTipValue]="stripeTipValue"
    [paymentAmount]="paymentAmount"
    (setStep) ="setStep(1)">
    <mat-icon color="warn">credit_card</mat-icon>
    <br> Credit / Debit
  </card-pointe-card-pay-btn>
</ng-template>

<ng-template #triposPayButton>
  <app-tri-poscard-pay-btn
    *ngIf="isApp || isStaff"
    [order]="order"
    [devicename]="devicename"
    [uiTransactions]="uiTransactions"
    [platForm]="platForm"
    [creditBalanceRemaining]="creditPaymentAmount"
    [paymentAmount]="paymentAmount"
    (setStep) ="setStep(1)">
    <mat-icon color="warn">credit_card</mat-icon>
    <br> Credit / Debit
  </app-tri-poscard-pay-btn>
</ng-template>

<ng-template #dsiEMVAndroidCardButton>
  <dsiemvandroid-pay-btn
    [order]="order"
    *ngIf="androidApp && devicename"
    [devicename]="devicename"
    [uiTransactions]="uiTransactions"
    [platForm]="platForm"
    [creditBalanceRemaining]="creditPaymentAmount"
    [stripeTipValue]="stripeTipValue"
    [paymentAmount]="paymentAmount"
    (setStep) ="setStep(1)">
    <mat-icon color="warn">credit_card</mat-icon>
    <br> Credit / Debit
  </dsiemvandroid-pay-btn>
</ng-template>

<ng-template #disEMVCreditOnlyCardButton>
  <dsi-emvcard-pay-btn
      *ngIf="(isApp || isStaff) && devicename
             && uiTransactions?.dCapAllowCreditOnlyOption"
      [autoPay]="true"
      [preAuth]="false"
      [order]="order"
      [devicename]="devicename"
      [uiTransactions]="uiTransactions"
      [platForm]="platForm"
      [creditBalanceRemaining]="cashDiscount"
      [paymentAmount]="cashDiscount"
      [creditOnly]="true"
      (setStep) ="setStep(1)">
    Credit
    <br>  {{cashDiscount | currency}}
  </dsi-emvcard-pay-btn>
</ng-template>

<ng-template #disEMVDebitOnlyCardButton>
  <dsi-emvcard-pay-btn
      *ngIf="(isApp || isStaff) && devicename
            && uiTransactions?.dCapAllowCreditOnlyOption
            && uiTransactions?.dCapDualPayEnableDebit"
      [autoPay]="true"
      [preAuth]="false"
      [order]="order"
      [devicename]="devicename"
      [uiTransactions]="uiTransactions"
      [platForm]="platForm"
      [paymentAmount]="order.balanceRemaining"
      [debitOnly]="true"
      (setStep) ="setStep(1)">
    Debit
    <br>  {{order.balanceRemaining | currency}}
  </dsi-emvcard-pay-btn>
</ng-template>

<ng-template #disEMVCardButton>
  <dsi-emvcard-pay-btn
      *ngIf="(isApp || isStaff) && devicename 
            && !uiTransactions.dCapAllowCreditOnlyOption"
      [autoPay]="true"
      [preAuth]="false"
      [order]="order"
      [devicename]="devicename"
      [uiTransactions]="uiTransactions"
      [platForm]="platForm"
      [creditBalanceRemaining]="creditPaymentAmount"
      [stripeTipValue]="stripeTipValue"
      [paymentAmount]="paymentAmount"
      (setStep) ="setStep(1)">
    <mat-icon color="warn">credit_card</mat-icon>
    <br> Credit / Debit
  </dsi-emvcard-pay-btn>
</ng-template>

<ng-template #disEMVCardManualButton>
  <dsi-emvcard-pay-btn
      *ngIf="(isApp || isStaff) && devicename"
      [autoPay]="true"
      [manual]="true"
      [preAuth]="false"
      [order]="order"
      [devicename]="devicename"
      [uiTransactions]="uiTransactions"
      [platForm]="platForm"
      [creditBalanceRemaining]="creditPaymentAmount"
      [stripeTipValue]="stripeTipValue"
      [paymentAmount]="paymentAmount"
      (setStep) ="setStep(1)">
    <mat-icon color="warn">credit_card</mat-icon>
    <br> Manual Card
  </dsi-emvcard-pay-btn>
</ng-template>

<ng-template #dCApPreAuthButton>
  <dsi-emvcard-pay-btn
      *ngIf="(isApp || isStaff) && !PaxA920 && enablePreAuth"
      [preAuth]="true"
      [order]="order"
      [devicename]="devicename"
      [uiTransactions]="uiTransactions"
      [platForm]="platForm"
      [creditBalanceRemaining]="creditPaymentAmount"
      [stripeTipValue]="stripeTipValue"
      [paymentAmount]="paymentAmount"
      (setStep) ="setStep(1)">
    <mat-icon color="warn">credit_card</mat-icon>
    <br> Pre Auth
  </dsi-emvcard-pay-btn>
</ng-template>

<ng-template #payApiView>
  <div>
    <div style="width:150px" *ngIf="!isApp">
      <app-value-fields
          *ngIf="paymentForm"
          [inputForm]="paymentForm"
          [fieldName]="'tipAmount'" >
        Gratuity
      </app-value-fields>
    </div>

    <div *ngIf="!isApp">
      <app-pay-api
          [order]="order"
          [paymentForm]="paymentForm"
          [uiTransactions]="uiTransactions"
          [creditBalanceRemaining]="creditPaymentAmount"
          [paymentAmount]="paymentAmount"
          (setStep) ="setStep(1)">
        <mat-icon color="warn">credit_card</mat-icon>
        Pay
      </app-pay-api>
    </div>
  </div>
</ng-template>

<ng-template #paypalButton>
  <paypal-card-pay-btn
    [order]="order"
    [uiTransactions]="uiTransactions"
    [platForm]="platForm"
    [creditBalanceRemaining]="creditPaymentAmount">
    <mat-icon color="warn">credit_card</mat-icon>
    <br>Paypal
  </paypal-card-pay-btn>
</ng-template>

<ng-template #giftCardPayButton>
  <gift-card-pay-btn
    [order]="order"
    [uiTransactions]="uiTransactions"
    [platForm]="platForm"
    [creditBalanceRemaining]="creditPaymentAmount"
    [stripeTipValue]="stripeTipValue"
    [paymentAmount]="paymentAmount"
    [paymentsEqualTotal]="paymentsEqualTotal"
    (setStep) ="setStep(1)">
  </gift-card-pay-btn>
</ng-template>

<ng-template #storeCreditPaybutton>
  <ng-container *ngIf="order && order.clientID">
    <store-credit-info
      [order]        ="order"
      [clientID]     ="order?.clientID"
      [accountNumber]="order?.clients_POSOrders?.accountNumber"
      [userName]     ="order?.clients_POSOrders?.userName"
      [showPayment]  ="true"
      [showIssueMoney]="false"
      [showBalance] = "false"
    ></store-credit-info>
  </ng-container>
</ng-template>

<ng-template #wicEBTButton>
  <wic-ebtcard-pay-btn
    *ngIf="isApp || isStaff"
    [order]="order"
    [devicename]="devicename"
    [uiTransactions]="uiTransactions"
    [platForm]="platForm"
    [paymentAmount]="paymentAmount"
    (setStep) ="setStep(1)">
  </wic-ebtcard-pay-btn>
</ng-template>

<ng-template #receiptView>
  <mat-card class="card-dimensions">
    <mat-card-content>
      <app-receipt-view [hideExit]="true" [order]="order"></app-receipt-view>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #processingPayment>
  <h4>
    Processing...
  </h4>
  <mat-spinner [diameter]="50"></mat-spinner>
</ng-template>

<ng-template #helpButton>
  <div style="margin:5px">
    <coach-marks-button
          (initPopOver)="initPopOver()"
          [enabled]="user && user?.userPreferences &&  user?.userPreferences?.enableCoachMarks"></coach-marks-button>
  </div>
</ng-template>


<ng-template #userDemographics>
  <div class="grid-header-item"
      *ngIf="!isUser">
    <app-order-header-demo-graphics
        [canRemoveClient]="'false'"
        [order]          ="order">
    </app-order-header-demo-graphics>
  </div>
</ng-template>
