<div *ngIf="(orderAction$ | async)"></div>

<div *ngIf="order  && (uiTransactions$ | async) as uiTransactions">
  <div [class]="orderlayout">
    <div class="transaction-data">
      <div class="grid-header-item">
        <app-payment-balance
          [uiTransactions]="uiTransactions"
          [mainPanel]="true"
          [order]="order">
        </app-payment-balance>
      </div>

      <div class="grid-header-item"
           *ngIf="!isUser">
        <app-order-header-demo-graphics
            [canRemoveClient]="'false'"
            [order]          ="order">
        </app-order-header-demo-graphics>
      </div>

      <div *ngIf="serviceIsScheduled" class="grid-header-item">
        <posorder-schedule-card>
        </posorder-schedule-card>
      </div>
    </div>

    <div>
      <div  class="order-completed"
            *ngIf="(paymentsEqualTotal || order.completionDate)">
          <ng-container [ngTemplateOutlet]="receiptShowTemplate"></ng-container>
      </div>

      <ng-template #receiptView>
        <mat-card class="card-dimensions">
          <mat-card-content>
            <app-receipt-view [hideExit]="true" [order]="order"></app-receipt-view>
          </mat-card-content>
        </mat-card>
      </ng-template>

      <div fxLayout="row" fxLayoutAlign="center center" class="row-height">
        <div class="action-center grid-items" *ngIf="order?.balanceRemaining != 0">
          <div>
            <h4>Payment Amount: {{paymentAmount | currency}}</h4>
          </div>
          <div>
            <button class="splitbutton"
                    mat-raised-button
                    color="primary"
                    (click)="changeAmount()">
              <mat-icon>edit</mat-icon>Change
            </button>
          </div>
        </div>
      </div>

      <div class="action-center grid-items"  *ngIf="order?.balanceRemaining != 0">
        <div >
          <button class="splitbutton"
                mat-raised-button
                color="primary"
                (click)="storeCredit()">
            <div *ngIf="!paymentsEqualTotal">
              <mat-icon>credit_card</mat-icon>Gift Card
            </div>
            <div *ngIf="paymentsEqualTotal">
              <mat-icon>balance</mat-icon>Gift Card Balance
            </div>
          </button>
        </div>

        <div  *ngIf="!paymentsEqualTotal">
          <button class="splitbutton"
                  mat-raised-button
                  color="primary"
                  (click)="splitByItem = !splitByItem">
            <span *ngIf="splitByItem">
              Payment Methods
            </span>
            <span *ngIf="!splitByItem">
              <mat-icon>split</mat-icon>Split By Items
            </span>
          </button>
        </div>

        <div *ngIf="order && order.clientID">
          <store-credit-info
              [order]        ="order"
              [clientID]     ="order?.clientID"
              [accountNumber]="order?.clients_POSOrders?.accountNumber"
              [userName]     ="order?.clients_POSOrders?.userName"
              [showPayment]  ="true"
              [showIssueMoney]="false"
            ></store-credit-info>
        </div>
      </div>

      <div *ngIf="!splitByItem && !paymentsEqualTotal && paymentIsReady &&  order?.balanceRemaining != 0">
        <div class="grid-header-item" *ngIf="stepSelection == 1">
          <div>
            <mat-card *ngIf="order.wicTotal !=0 && order.ebtTotal != 0" >
              <mat-card-content>

                <span class="item-buttons-container"
                      *ngIf="order.wicTotal && order.wicTotal !=0">
                  <button class="payment-buttons"
                          mat-raised-button
                          (click)="applyWICPayment()">
                    <mat-icon color="warn">credit_card</mat-icon>WIC Payment
                  </button>
                </span>

                <span class="item-buttons-container"
                      *ngIf="order.ebtTotal && order.ebtTotal !=0 ">
                  <button class="payment-buttons"
                          mat-raised-button
                          (click)="applyEBTPayment()">
                    <mat-icon color="warn">credit_card</mat-icon>EBT Payment
                  </button>
                </span>

              </mat-card-content>
            </mat-card>

            <mat-card>
              <mat-card-content>
                <div class="item-container">
                  <div *ngIf="devicename && (uiTransactions?.dsiEMVNeteEpayEnabled || dsiEMVEnabled) && order && order?.balanceRemaining != 0">

                    <button class="payment-buttons"
                        mat-raised-button
                        (click)="processDSICreditCardPayment(false)">
                      <mat-icon color="warn">credit_card</mat-icon>Credit / Debit
                    </button>

                    <button class="payment-buttons"
                        mat-raised-button
                        (click)="processDSICreditCardPayment(true)">
                      <mat-icon color="warn">credit_card</mat-icon>Manual Input
                    </button>

                    <button class="payment-buttons"
                           mat-raised-button
                           (click)="dsiResetDevice()">
                      <mat-icon color="warn">refresh</mat-icon>Reset
                    </button>

                  </div>

                  <div *ngIf="devicename && uiTransactions?.cardPointBoltEnabled && (order && order?.balanceRemaining != 0)">
                    <button class="payment-buttons"
                        mat-raised-button
                        (click)="applyBoltPayment(false)">
                      <mat-icon color="warn">credit_card</mat-icon>CardPointe <br> Credit Card
                    </button>
                  </div>

                  <div *ngIf="(platForm === 'android') && devicename && uiTransactions?.cardPointAndroidEnabled && (order && order?.balanceRemaining != 0)">
                    <button class="payment-buttons"
                        mat-raised-button
                        (click)="processDSIEMVAndroidCreditCardPayment(false)">
                      <mat-icon color="warn">android</mat-icon>Android <br> Credit Card
                    </button>
                  </div>


                  <div *ngIf="stripeEnabled && order && order.balanceRemaining  != 0 ">
                    <div *ngIf="!this.platFormService.isApp()">
                      <h3>Apply tip to Stripe Payment</h3>
                      <div class="grid-tip-buttons">
                        <div><button mat-raised-button (click)="addStripeTipPercent(15)">15 % Tip</button></div>
                        <div><button mat-raised-button (click)="addStripeTipPercent(18)">18 % Tip</button></div>
                        <div><button mat-raised-button (click)="addStripeTipPercent(20)">20 % Tip</button></div>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="center center" class="row-height">
                        <div>
                          <mat-form-field appearance="outline">
                              <input matInput
                                [(ngModel)]="stripeTipValue"
                                ngDefaultControl
                                type="text"
                              >
                             <mat-label>
                              Custom Tip Amount
                             </mat-label>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center" class="row-height">
                      <button class="payment-buttons"
                          mat-raised-button
                          (click)="applyStripePayment()">
                        <mat-icon color="warn">credit_card</mat-icon>Pay with Card
                      </button>
                    </div>
                  </div>

                </div>
              </mat-card-content>
            </mat-card>
          </div>

          <!-- paymentMethods {{paymentMethods | json}} -->
          <div>
            <mat-card class="payment-dimensions">
              <app-mat-toggle-selector
                  class              = "card-height"
                  [list]             = "paymentMethods"
                  [hideAllOption]    = "'true'"
                  [toggleDimensions] = "'toggle-group-tall'"
                  [buttonDimensions] = "'button-dimensions-tall'"
                  (outPutItem)       = "getPaymentMethod($event)"  >
                Enter Partial Payments
              </app-mat-toggle-selector>
            </mat-card>
          </div>
        </div>

        <div class="grid-header-item" *ngIf="stepSelection == 2">
          <mat-card class="card-dimensions">
            <mat-card-content>
              <div class="item-container"  *ngIf="paymentMethod">
                <div>
                  <h4>
                    {{paymentMethod.name}} |
                    Order Balance : {{order.balanceRemaining | currency}}
                  </h4>
                </div>
              </div>

              <div class="item-container item-buttons-container">
                <span class ="action-buttons">
                  <button mat-button (click)="goToPaymentMethod()" >
                    Start Over
                    <mat-icon>back</mat-icon>
                  </button>
                </span>
                <span>
                  <button mat-button
                          (click)="initCheckForm()">Clear <mat-icon>refresh</mat-icon>
                  </button>
                </span>
              </div>

              <div class="item-container keypad">
                <app-key-pad
                  [inputForm]        ="checkNumberForm"
                  [inputTypeValue]   ="'text'"
                  [showInput]        ="showInput"
                  [numberbuttons]    ="'number-buttons button-sized-scaled'"
                  [alternateClass]   ="'grid-keypad-alternate'"
                  (outPutReturnEnter)="enterCheckNumber($event)">
                  Check #
              </app-key-pad>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="grid-header-item" *ngIf="stepSelection == 4">
          <mat-card class="card-dimensions">
            <mat-card-content>
              <div class="item-container"  *ngIf="paymentMethod">
                <div>
                  <h4>
                    {{paymentMethod?.name}} | Order Balance : {{order?.balanceRemaining | currency}}
                  </h4>
                  <h5>
                    <div *ngIf="order && order.clients_POSOrders">
                      Point Cash Value {{order.clients_POSOrders.loyaltyPointValue | currency}}
                    </div>
                  </h5>
                </div>
              </div>

              <div class="item-container item-buttons-container">
                <span class ="action-buttons">
                  <button mat-button (click)="goToPaymentMethod()" >
                    Start Over
                    <mat-icon>back</mat-icon>
                  </button>
                </span>
                <span>
                  <button mat-button (click)="initCheckForm()">Clear <mat-icon>refresh</mat-icon></button>
                </span>
                <span class ="action-buttons">
                  <button mat-button (click)="applyPointBalance()">
                    Apply Balance
                    <mat-icon>credit_card</mat-icon>
                  </button>
                </span>
              </div>

              <div class="item-container keypad">
                <app-key-pad
                  [inputForm]        ="pointValueForm"
                  [inputTypeValue]   ="'decimal'"
                  [numberbuttons]    ="'number-buttons button-sized-scaled'"
                  [showInput]        ="showInput"
                  [alternateClass]   ="'grid-keypad-alternate'"
                  (outPutReturnEnter)="enterPointCashValue($event)">
                  Point Amount
                </app-key-pad>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="grid-header-item" *ngIf="stepSelection == 3">
          <mat-card class="card-dimensions">
            <mat-card-content>
              <div class="item-container"  *ngIf="paymentMethod">
                <div>
                  <h4>
                    {{paymentMethod?.name}} | Order Balance : {{order?.balanceRemaining | currency}}
                    <span *ngIf="paymentMethod.name === 'check'">
                        {{posPayment?.checkNumber}}
                    </span>
                  </h4>
                </div>
              </div>
              <div class="item-container  item-buttons-container">
                <span class ="action-buttons">
                  <button mat-button (click)="goToPaymentMethod()" >
                    Start Over
                    <mat-icon>back</mat-icon>
                  </button>
                </span>
                <span class ="action-buttons">
                  <button mat-button (click)="initPaymentForm()">
                    Clear
                    <mat-icon>refresh</mat-icon>
                  </button>
                </span>
                <span class ="action-buttons">
                  <button mat-button (click)="applyBalance()">
                    Apply Balance
                    <mat-icon>credit_card</mat-icon>
                  </button>
                </span>
              </div>
              <div *ngIf="platFormService.isApp">
                <div class="item-container ">
                  <app-key-pad
                      [inputForm]        ="paymentAmountForm"
                      [inputTypeValue]   ="'decimal'"
                      [showInput]        ="showInput"
                      [numberbuttons]    ="'number-buttons button-sized-scaled'"
                      [alternateClass]   ="'grid-keypad-alternate'"
                      (outPutReturnEnter)="applyPaymentAmount($event)">
                      Enter Payment
                  </app-key-pad>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div *ngIf="paymentMethods">
          <div *ngFor="let item of paymentMethods">
            <div *ngIf="item?.id  == paymentMethod?.id &&  item?.instructions">
              <h3>{{item?.name}}</h3>
              <mat-hint>
                <div [innerHTML]="item?.instructions" ></div>
              </mat-hint>
              <mat-divider></mat-divider>
            </div>
          </div>
        </div>
      </div>

      <div  class="order-completed">
        <ng-container [ngTemplateOutlet]="splitItemsTemplate"></ng-container>
      </div>

      <div *ngIf="!splitByItem && !paymentsEqualTotal &&
                  !platFormService.isApp() && !paymentIsReady">
        <div *ngIf="message">
          <mat-icon>alert</mat-icon>{{message}}
        </div>
        <pos-order-schedule></pos-order-schedule>
      </div>

    </div>
  </div>
</div>

<ng-template #splitItemsView>
  <app-possplit-items
    (outPutPaymentAmount)="applyGroupPayment($event)"
    [order]="order">
  </app-possplit-items>
</ng-template>
