@import "/src/mixins.scss";

mat-card {
  width     : 100%;
  min-width : 435px;
  // max-width : 435px;
  // min-height: 155px;
  overflow-y: auto;
  overflow-x: hidden;

  @include for-phone-only  {
    width     : 335px;
    min-width : 335px;
    // max-width : 335px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
.order-layout-empty {
}

.split-item-button {
  margin: 10px;
  width: 150px;
  height: 50px;
}

.order-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  @include for-phone-only  {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
  }
}

.order-layout div {
  // min-height: 50px;
  // border: 1px solid;
}

.order-layout div:first-child {
  // grid-row: span 2;
}

.order-layout.reverse {
  grid-template-columns: repeat(2, 1fr);
}

.order-layout.reverse div:first-child {
  grid-column: 2;
}

.grid-list {
  display: grid;
  grid-template-columns: 1fr minmax(285px, 285px);
  gap: 2px;

  @include for-phone-only  {
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
  }
}

//delete
.transaction-data {

  border-radius         : 3px;
  margin-right          : 50px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  @include for-phone-only  {
    margin               : 5px ;
  }
}

.grid-items {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  gap: 10px;
  margin: 10px;

}

.grid-header-item {

  margin    : 2px;
  width     : 100%;
  // min-width : 435px;
  // max-width : 455px;
  overflow-x: hidden  ;
  @include for-phone-only  {
    margin: 5px;
    // display: flex;
    // flex-direction: row;
    // align-content: center;
    // justify-content: left;
    width     : 100%;
  }
}

.cart-button {
  // display: grid;
  // grid-template-columns: auto;
  // border-radius: 10px;
  // height: 100px;
  width: 355px;
 }

.grid-button-item {
  // margin: 15px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  height: 55px;
  width: 100%;

  @include for-phone-only  {
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: left;
  }
}


.headers {
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.item-buttons-container {
  margin-bottom : 25px;
  margin-top    : 25px;
}

.payment-buttons {
  height: 75px;
  width: 155px;
  margin: 10px;
}

.keypad {
  min-height: 400px;
  height: 400px;
}

.card-dimensions {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  @include for-phone-only  {
    width     : 100%;
    min-width : 335px;
    max-width : 335px;
    min-height: 75px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.card-dimensions-larger {
  width: 100%;
  height: 575px;
}

.card-dimensions-small {
  width: 33%;
  height: 125px;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment-header {
  font-size: 1.1em;
  font-weight: 500;
}

.grid-flow {
  --gap: 15px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
  @include for-phone-only  {
    --gap: 10px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat( auto-fit, minmax(120px, 1fr) );
  }
}
.payment-height {
  height    : 355px;
  min-height: 355px;
  overflow-y: auto;
  overflow-x: hidden;
  @include for-phone-only  {
    height    : 250px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.card-height {
  height    : 155px;
  min-height: 155px;
  max-height: 155px;
  overflow-y: hidden;
  overflow-x: hidden;
  @include for-phone-only  {
    height    : 100px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.payment-dimensions {
  max-height: 550px;
  min-height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
  @include for-phone-only  {
    height    : 350px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.summary {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(100, 1fr) );
  font-size: larger;
}

.order-completed {
  font-size: larger;
  font-style: italic;
}
.splitbutton{
  width: 150px;
  height: 50px;
}
