<ion-header>
  <ion-toolbar color="primary">

    <span class="site-info">
      <button mat-button (click)="goHome()">
        <mat-icon >close</mat-icon> Exit
      </button>
    </span>
    <span>
      <ion-title>ID / Driver License  Scanner</ion-title>
    </span>

  </ion-toolbar>
</ion-header>

<div class="mat-card">
  <mat-card>

    <div class="card-text">

      <div *ngIf="scanStatus">
        Scan Status      : {{scanStatus}}
      </div>
      <div *ngIf="scanStatus">
        status           : {{status}}
      </div>
      <div *ngIf="result">
        scanResult       : {{result}}
      </div>
      <div *ngIf="err">
        err              : {{err}}>
      </div>
      <div *ngIf="error">
        Error              : {{error}}
      </div>

    </div>
  </mat-card>
</div>

<ion-content>
  <div class="overlay" [style.z-index]="cameraActive ? 10 : 0">
    <div
          class="cameraPreview"
          id="cameraPreview">
          <!-- *ngIf="cameraActive" -->
        <ion-button (click)="cameraOff()" expand="block" id="close">
          <ion-icon name="close-circle"
                    slot="icon-only"></ion-icon>
        </ion-button>

        <ion-button (click)="startScan()" expand="block" id="capture">
          <ion-icon name="camera" slot="icon-only"></ion-icon>
        </ion-button>

        <ion-button (click)="startScan()" expand="block" id="flip">
          <ion-icon name="camera-reverse" slot="icon-only">
          </ion-icon>
        </ion-button>

        <!-- <ion-button (click)="flipCamera()" expand="block" id="flip">
          <ion-icon name="camera-reverse" slot="icon-only"></ion-icon>
        </ion-button> -->
      </div>

    </div>

</ion-content>
