ion-content, body, container , .camera-view {
  --background: transparent!important;
}

.toolbar {
  margin-top: 15px;
  top: 10px;
  padding-top: 10px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.site-info {
  float:right
}

.cameraPreview {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
}

.image-overlay {
  z-index: 1;
  position: absolute;
  left: 25%;
  top: 25%;
  width: 50%;
}

#capture {
  position: absolute;
  bottom: 75px;
  left: calc(50% - 25px);
  width: 75px;
  height: 75px;
  z-index: 11;
}

#close {
  position: absolute;
  bottom: 75px;
  left: calc(50% - 175px);
  width: 75px;
  height: 75px;
  z-index: 11;
}

#flip {
  position: absolute;
  bottom: 75px;
  left: calc(50% + 125px);
  width: 75px;
  height: 75px;
  z-index: 11;
}

#close::part(native) {
  border-radius: 40px;
  height: 75px;
  font-size: 1.5em;
}

#capture::part(native) {
  border-radius: 40px;
  font-size: 1.5em;
}

#flip::part(native) {
  border-radius: 40px;
  font-size: 1.5em;
}

.mat-card {
  opacity: 50%;
  top: 75px;
}

.card-text {
  // opacity: 50%;
}

.button{
  opacity: 100%;
}
