<!-- <ion-header> -->
  <div *ngIf="(parser$ | async) as parse"></div>

  <ion-toolbar class ='toolbar' color="primary">
    <span class="site-info">
      <button mat-button (click)="goHome()">
        <mat-icon >close</mat-icon> Exit
      </button>
    </span>
    <span>
      <ion-title>ID / Driver License  Scanner</ion-title>
    </span>
  </ion-toolbar>

<mat-card class="mat-card">

  <div class="card-text">

    <div *ngIf="scanStatus">
      Scan Status      : {{scanStatus}}
    </div>
    <div *ngIf="scanStatus">
      status           : {{status}}
    </div>
    <div *ngIf="result">
      scanResult       : {{result}}
    </div>
    <div *ngIf="err">
      err              : {{err}}>
    </div>
    <div *ngIf="error">
      Error              : {{error}}
    </div>

  </div>
</mat-card>

<ion-content>
  <div class="overlay" [style.z-index]="cameraActive ? 10 : 0">
    <div class="cameraPreview">

      <div>

        <ion-button (click)="cameraOff(true)" expand="block" id="close">
          <ion-icon name="close-circle"
                    slot="icon-only"></ion-icon>
        </ion-button>

        <div  *ngIf="(uiTransactions$ | async) as uiTransactions; else loading">
          <ion-button (click)="startScan()" expand="block" id="capture">
            <ion-icon name="barcode"
                      slot="icon-only"></ion-icon>
            <!-- <mat-icon>barcode</mat-icon> -->
          </ion-button>
        </div>

        <ion-button (click)="flipCamera()" expand="block" id="flip">
          <ion-icon name="camera-reverse" slot="icon-only"></ion-icon>
        </ion-button>


      </div>
    </div>
  </div>
</ion-content>

<ng-template #loading>...loading</ng-template>
