<div>
  <div fxLayout="row"
       fxLayoutAlign="space-around center">
  <div fxLayout="column"
       fxLayoutAlign="start center">

        <img *ngIf="isApp && !isCategory"
              [src]="imageUrl"
              onerror   = "this.src='../assets/images/placeholderimage.png'"
              class="product-image"
              (click)="menuItemAction(true)"/>

        <img  *ngIf="!isApp && !isCategory"
              [src]="imageUrl"
              onerror   = "this.src='../assets/images/placeholderimage.png'"
              class="product-image"
              (click)="menuItemAction(false)"/>

        <img  *ngIf="isCategory"
              [src]="imageUrl"
              onerror   = "this.src='../assets/images/placeholderimage.png'"
              class="category-img"
              (click)="menuItemAction(true)"/>

    </div>
  </div>

  <div class="product-name">
    {{ menuItem.name  | truncateText: 20   }}
  </div>

  <div id="advertisement">
  </div>

  <div class="product-name" id="star-rating">
    <div  *ngIf="isProduct && menuItem.ratingAverage && menuItem.ratingCount &&
            menuItem.ratingAverage != 0 && menuItem.ratingCount != 0">
      reviews:  {{menuItem.ratingAverage}} rating: {{menuItem.ratingCount}}
    </div>
  </div>

  <div fxLayout="row"
       fxLayoutAlign="center">

      <div *ngIf="menuItem && menuItem.itemType && menuItem.itemType.type == 'discounts'">
        <div *ngIf="menuItem.itemType.name.toLowerCase() == 'Discount % Entire Order' ||
                    menuItem.itemType.name.toLowerCase() == 'Discount % One Item'">
            {{menuItem.itemType.name }} - {{ menuItem.cannabisType }}
        </div>
        <div *ngIf="menuItem.itemType.name.toLowerCase() == 'cash discount on order'.toLowerCase() ||
                    menuItem.itemType.name.toLowerCase() == 'Cash Discount on Item'.toLowerCase()">
            {{menuItem.itemType.name }} - {{menuItem.cannabisType | currency}}
        </div>
      </div>

      <div *ngIf="isProduct && !isCategory"
            id="price">
        {{menuItem.retail | currency}}
      </div>

      <button
            *ngIf="isApp"
            mat-button
            class="add-button"
            color="primary"
            (click)="menuItemAction(false)" >
        <mat-icon>open_in_new</mat-icon>
         View
      </button>

      <button
            *ngIf="!isApp && !isCategory"
            mat-button
            class="add-button"
            color="primary"
            (click)="menuItemAction(true)" >

          <div *ngIf="!isProduct">
            <mat-icon>open_in_new</mat-icon>
            View
          </div>

          <div *ngIf="isProduct">
            <mat-icon>add</mat-icon>
            Add
          </div>

      </button>

  </div>

</div>
