@import "/src/mixins.scss";

:host {
  display: block;
  width: 100%;
  // other styling here
}

.android {
  transition: none !important;
  box-shadow: none !important;
}

.mat-card {
  padding: 3px;
  object-fit: cover;
  margin-bottom: 2px;
}

.mat-card:hover {
  transform: scale(1.03);
  @include for-phone-only {
    transform: scale(1);
  }
}

.mat-card:active {
  box-shadow: 1px 1px 2px black, 0 0 25px rgb(33, 43, 33), 0 0 5px darkblue;
  transform: scale(1.03);
  @include for-phone-only {
    transform: scale(1);
  }
}

.mat-card-row {
  max-width: 100%;
  max-height: 150px;
}

.mat-card-grid {
  max-width: 150px;
  padding: 0px;
}

.mat-card-grid-header-category {
  max-width: 150px;
  height: 105px;
  padding: 0px;
}

.category-open {
  // display: flex;
  // justify-content: center;
  // padding: 0;
  // overflow: hidden;
}

.item-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  height: 125px;

  @include for-phone-only {
    height: 125px;
  }
}

.item-container-mobile-app  {
  height: 100px;
  overflow: hidden;
  @include for-phone-only {
    height: 75px;
  }
}

.item-container-app  {
  height: 135px;
  @include for-phone-only {
    height    : 65px;
    min-height: 65px;
  }
}

.container-app-noimage  {
  @include for-phone-only {
    height    : 55px;
  }
}

.image-container {
  width: 100%;
  max-height: 75px;
  border-radius: 15px;

  @include for-phone-only {
    height    : 75px;
  }

}

.header-container {
  position  : relative;
  height    : 100%;
  min-height: 65px;
  height    : 65px;
  max-height: 65px;
  overflow  : hidden;
}

.header-category-title {
  font-size: 1em;
  font-weight: 450;
  text-align: center;
  justify-content: center;
  // text-wrap: wrap;
  height: 2em;
  width: 70px;
  overflow: hidden;
  white-space: pre-wrap;
  text-wrap: balance;

  line-height: 1em;
  max-height: 2em;


}

.header-category-title-app {
  font-size: 1em;
  font-weight: 450;
  text-align: center;
  justify-content: center;
  height: 2em;
  overflow: hidden;
  text-wrap: balance;
  white-space: pre-wrap;
  text-wrap: balance;

  
  line-height: 1em;
  max-height: 2em;

}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.footer {
  z-index: 99;
  height: 2em;
}

.footer-category {
  z-index: 99;
  height: 1em;
}

.text-max-width {
  max-width: 200px;
}

.image-button-category {
  object-fit    : cover;
  border-radius : 5px;
  margin        : 0px;
  width         : 100%;
  padding-left   : 3px;
  padding-right  : 3px;
  height: 85px;
  overflow: hidden;

  @include for-phone-only {
    height: auto;
  }
}

.image-button {
  object-fit    : cover;
  // transition    : box-shadow 400ms;
  border-radius : 5px;
  margin        : 0px;
  width         : 100%;
  padding-left   : 3px;
  padding-right  : 3px;
  // font-weight: 400;
  // font-size: 1em;
  // white-space:normal;
  overflow: hidden;
  // text-transform: capitalize;
  // font-size   : 1.5em;
  // height: 125px;
  overflow: hidden;

  @include for-phone-only {
    // font-size   : 1.5em;
    height: auto;
    // font-size: .65em;
  }
}

.image-button-image {
  object-fit    : cover;
  transition    : box-shadow 400ms;
  border-radius : 5px;
  margin        : 0px;
  width         : 100%;
  padding       : 5px;
  font-weight: 400;
  font-size: 1em;
  text-transform: capitalize;
  font-size   : 1.5em;
  height: auto;
  overflow: hidden;
  
  white-space: pre-wrap;
  text-wrap: pretty;
  // white-space:normal;

  @include for-phone-only {
    font-size   : 1.5em;

  }
}

#advertisement {
  font-weight: 200;
  font-size: 0.7em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.product-name-only {
  object-fit: cover;
  max-height: 100%;
  transition: box-shadow 400ms;
  border-radius: 5px;
  font-weight : 475;
  font-size   : 1em;
  text-align  : center;
  width       : 100%;
  white-space : normal;
  overflow    : hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;

    
  white-space: pre-wrap;
  text-wrap: pretty;

  @include for-phone-only {
    font-size   : 1.3em;
  }
 }

 .product-image-category  {
    object-fit  :   cover;
    border-radius: 15px;
    width       : 100%;
    white-space : normal;
    overflow    : hidden;
    height  : 65px;

    @include for-phone-only {
      font-size   : 1.3em;
      height  : 65px;
      height:65px;
    }
}

.product-image-container {
  height  : 85px;
  object-fit: cover;
  @include for-phone-only {
    height  : 65px;
  }
}

.product-image  {
  // object-fit  :   cover;
  border-radius: 15px;
  // width       : 100%;

  white-space : normal;
  overflow    : hidden;
  height  : 85px;

  @include for-phone-only {
    // height  : 65px;
    height  :65px;
  }
}

.product-name {
  grid-gap    : 5px;
  font-weight : 425;
  font-size   : .9em;
  text-align  : center;
  width       : 100%;
   
  white-space: pre-wrap;
  text-wrap: pretty;

  overflow    : hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  height: 65px;

  @media (max-width: 375px )  {
    font-weight : 400;
    font-size   : .9em;
    text-align  : center;
   
    white-space: pre-wrap;
    text-wrap: pretty;
    overflow    : hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
  }

  @media (min-width: 400px)   {
    font-weight : 400;
    font-size   : .9em;
    text-align  : center;
    width       : 100%;
   
    white-space: pre-wrap;
    text-wrap: pretty;
    overflow    : hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
  }

  @include for-tablet-portrait-up  { }
  @include for-tablet-portrait-up  { }
}

#advertisement {
  font-weight: 200;
  font-size: 0.7em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 190px;
  text-transform: capitalize;
}

#star-rating {
  font-weight: 400;
  font-size: 0.8em;
}

#rating-count {
  font-weight: 400;
  font-size: 0.8em;
}

#discount {
  font-weight: 400;
  font-size: 0.8em;
  float: left;
  padding-right: 4px;
  text-decoration: line-through;
}

#discountamount {
  font-weight: 400;
  font-size: 0.8em;
  margin-left: 4px;
  padding-right: 4px;
}

#msrp-label {
  font-weight: 400;
  font-size: 0.8em;
  float: left;
  padding-right: 4px;
  margin-left: 4px;
}

#msrp {
  font-weight: 400;
  font-size: 0.8em;
  padding-left: 4px;
  margin-left: 4px;
}

.pricing {
  align-items: baseline;
  line-height: 1em;
  margin-top:  10px;
}

.price-grid {
  --gap: 2px;
  display: flex;
  justify-content: space-between;
  padding-left: 2px;
  padding-right: 2px;
}

#price {
  align-items:   baseline;
  margin-top:    5px;
  text-align:    left;
  font-weight:   500;
  font-size:     .9em;
  // float:         left;
}

.item-name-center-category {

  text-align: center;
  justify-content: center;
  z-index: 102;
  font-weight:   450;
  margin-bottom: 3px;
  font-size: .9rem;
  text-wrap: balance;
  white-space:pre-wrap;

  position: relative;
  @supports (-webkit-touch-callout: none) {
    font-size: .8em;
  }
  @include for-phone-only {
    margin-top: -3px;
    top: -15px;
  }
}

.item-name-center-image {

  text-align: center;
  justify-content: center;
  z-index: 102;
  font-weight:   500;
  margin-bottom: 3px;
  font-size: 1rem;
  margin-top: 1px;
  position: relative;
  white-space: normal;
  text-wrap: balance;
  @supports (-webkit-touch-callout: none) {
    font-size: .8em;
  }
  @include for-phone-only {
    margin-top: -3px;
    // top: -5px;
  }
}

.item-name-center-menu {
  margin-bottom: 3px;
  margin-top: 1px;
  text-align: center;
  justify-content: center;
  z-index: 102;
  font-weight:   500;
  font-size: 1rem;
  height: 95px;
  text-wrap: balance;
  position: relative;
  white-space: normal;

  @supports (-webkit-touch-callout: none) {
    font-size: .8em;
  }

  @include for-phone-only {
    margin-top: -3px;
    top: 5px;
    height: 65px;
  }
}

.uom {
  height: 1em;
}

.spacer  {
  min-height: .1rem;
}



// button  {
//   margin-right: 1px;
//   margin-left : 1px;
//   padding     : 1px;
// }

.category-img {
  height: 65px;
  width: 15vh;
  border-radius: 50%;
  margin-top: 3px;
}

.category-img:hover {
  transform: scale(1.02);
  @include for-phone-only {
    transform: scale(1);
  }
}

.category-img:active:hover {
  transform: scale(1.07);
  @include for-phone-only {
    transform: scale(1);
  }
}

.description-text  {
  object-fit: cover;
  transition: box-shadow 400ms;
  border-radius: 5px;
  max-height: 100px;
  height: 100px;
}
