
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

.text-max-width {
  max-width: 200px;
}

.category-img {
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  margin-top: 3px;

  @include for-phone-only {          width: 13vh; height: 13vh;  }
  @include for-tablet-landscape-up { width: 16vh; height: 16vh;}
  @include for-tablet-portrait-up  { width: 15vh; height: 15vh;}
  @include for-tablet-portrait-up  { width: 14vh;  height: 14vh;}
  @include for-desktop-up  {  width: 20vh; height: 20vh;}
  @include for-big-desktop-up {  width: 22vh;  height: 22vh}

}

#product-image {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  transition: box-shadow 400ms;
  border-radius: 5px;

  @include for-phone-only {height: 13vh;  }
  @include for-tablet-landscape-up {height: 16vh;}
  @include for-tablet-portrait-up  {height: 15vh;}
  @include for-tablet-portrait-up  { height: 14vh;}
  @include for-desktop-up  {height: 20vh;}
  @include for-big-desktop-up {height: 22vh}

}

.item-container {

}

.product-image-transition {
  transition-timing-function: ease-in;
}

#product-image:hover {
  box-shadow: 1px 1px 2px black, 0 0 25px rgb(33, 43, 33), 0 0 5px darkblue;
}

#product-image:active:hover {
  box-shadow: 1px 1px 2px rgb(158, 82, 82), 0 0 25px rgb(76, 175, 76), 0 0 5px rgb(84, 116, 90);
}

#advertisement {
  font-weight: 200;
  font-size: 0.7em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 190px;
  text-transform: capitalize;
}


.product-name {

  grid-gap: 5px;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;

  @media (max-width: 375px )  {
    font-weight: 400;
    font-size: .9;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
  }

  @media (min-width: 400px)   {
    font-weight: 500;
    font-size: 1em;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
  }
}

#advertisement {
  font-weight: 200;
  font-size: 0.7em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 190px;
  text-transform: capitalize;
}

#star-rating {
  font-weight: 400;
  font-size: 0.8em;
}

#rating-count {
  font-weight: 400;
  font-size: 0.8em;
}

#discount {
  font-weight: 400;
  font-size: 0.8em;
  float: left;
  padding-right: 4px;
  text-decoration: line-through;
}

#discountamount {
  font-weight: 400;
  font-size: 0.8em;
  margin-left: 4px;
  padding-right: 4px;
}

#msrp-label {
  font-weight: 400;
  font-size: 0.8em;
  float: left;
  padding-right: 4px;
  margin-left: 4px;
}

#msrp {
  font-weight: 400;
  font-size: 0.8em;
  padding-left: 4px;
  margin-left: 4px;
}

.pricing {
  align-items: baseline;
  line-height: 1em;
  margin-top:  10px;
}

#price {
  align-items:   baseline;
  margin-top:    .8em;
  line-height:   1em;
  text-align:    left;
  font-weight:   500;
  font-size:     1em;
  float:         left;
  padding-right: 4px;
}

.grid-flow {
  --gap: 20px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
}

.grid-item {
  align-items: flex-end;
  max-height: 150px;
  min-height: 150px;
  height:     150px;
  overflow-x: scroll;
}


