@import "/src/mixins.scss";

mat-card {
  padding: 3px;
  object-fit: cover;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.mat-card-row {
  max-width: 100%;
  max-height: 150px;
}

.mat-card-grid {
  // max-width: 200px;
}

mat-card:hover {
  transform: scale(1.03);
}


mat-card:active {
  box-shadow: 1px 1px 2px black, 0 0 25px rgb(33, 43, 33), 0 0 5px darkblue;
  transform: scale(1.03);
}

.category-open {
  display: flex;
  justify-content: center;
  padding: 0;
  overflow: hidden;
}

.container {
  position: relative;
  height: 100%;
  min-height: 125px;
  max-height: 125px;
  overflow: hidden;
}

.header-container {
  position  : relative;
  height    : 100%;
  min-height: 65px;
  height    : 65px;
  max-height: 65px;
  overflow  : hidden;

}

.header-category-title {
  font-size: 1em;
  font-weight: 450;
  text-align: center;
  justify-content: center;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.footer {
  margin-top: 1px;
  height: 45px;
  z-index: 99;
}

.text-max-width {
  max-width: 200px;
}

.image-button {
  object-fit    : cover;
  transition    : box-shadow 400ms;
  border-radius : 5px;
  margin        : 0px;
  width         : 100%;
  padding       : 5px;
  font-weight: 400;
  font-size: 1em;
  white-space:normal;
  overflow: hidden;
  text-transform: capitalize;
  //used to maintain the height for buttons compared to images.
  min-height  : 100px;
  max-height  : 100px;
  overflow: hidden;
}

#advertisement {
    font-weight: 200;
    font-size: 0.7em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
}

.product-name-only {
    object-fit: cover;
    max-height: 100%;
    transition: box-shadow 400ms;
    border-radius: 5px;
    font-weight : 475;
    font-size   : 1em;
    text-align  : center;
    width       : 100%;
    white-space : normal;
    overflow    : hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;

    @include for-phone-only {
      font-size   : 1.5em;
    }
 }

.image-container {
  width: 100%;
  @include for-phone-only          {min-height: 15vh; max-height: 100px;}
  @include for-tablet-landscape-up {min-height: 13vh; max-height: 100px;}
  @include for-tablet-portrait-up  {min-height: 13vh; max-height: 100px;}
  @include for-tablet-portrait-up  {min-height: 13vh; max-height: 100px;}
}

.product-image  {
  object-fit: cover;
  max-height: 100%;
  transition: box-shadow 400ms;
  border-radius: 5px;
  font-weight : 475;
  font-size   : 1em;
  text-align  : center;
  width       : 100%;
  white-space : normal;
  overflow    : hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  max-height: 85px;
  min-height: 85px;
}

.product-name {
  grid-gap    : 5px;
  font-weight : 425;
  font-size   : .9em;
  text-align  : center;
  width       : 100%;
  white-space : nowrap;
  overflow    : hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  height: 65px;

  @media (max-width: 375px )  {
    font-weight : 400;
    font-size   : .9em;
    text-align  : center;
    white-space : nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
  }

  @media (min-width: 400px)   {
    font-weight : 400;
    font-size   : .9em;
    text-align  : center;
    width       : 100%;
    white-space : nowrap;
    overflow    : hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
  }

  @include for-tablet-portrait-up  { }
  @include for-tablet-portrait-up  { }
}

#advertisement {
  font-weight: 200;
  font-size: 0.7em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 190px;
  text-transform: capitalize;
}

#star-rating {
  font-weight: 400;
  font-size: 0.8em;
}

#rating-count {
  font-weight: 400;
  font-size: 0.8em;
}

#discount {
  font-weight: 400;
  font-size: 0.8em;
  float: left;
  padding-right: 4px;
  text-decoration: line-through;
}

#discountamount {
  font-weight: 400;
  font-size: 0.8em;
  margin-left: 4px;
  padding-right: 4px;
}

#msrp-label {
  font-weight: 400;
  font-size: 0.8em;
  float: left;
  padding-right: 4px;
  margin-left: 4px;
}

#msrp {
  font-weight: 400;
  font-size: 0.8em;
  padding-left: 4px;
  margin-left: 4px;
}

.pricing {
  align-items: baseline;
  line-height: 1em;
  margin-top:  10px;
}

#price {
  align-items:   baseline;
  margin-top:    .8em;
  // line-height:   1em;
  text-align:    left;
  font-weight:   425;
  font-size:     .9em;
  float:         left;
}

.item-name-center {
  text-align: center;
  justify-content: center;
  min-height: 2.2em;
  z-index: 102;
  @supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
    font-size: .8em;
 }

}

.uom {
  height: 1em;
}

.spacer  {
  min-height: .1rem;
}

.price-grid {
  --gap: 2px;
  display: flex;
  justify-content: space-between;
  padding-left: 2px;
  padding-right: 2px;
}



button  {
  margin-right: 1px;
  margin-left: 1px;
  padding: 1px;
}

.category-img {
  height: 65px;
  width: 15vh;
  border-radius: 50%;
  margin-top: 3px;
}

.category-img:hover {
  transform: scale(1.02);
}

.category-img:active:hover {
  transform: scale(1.07);
}

.description-text  {
  object-fit: cover;
  transition: box-shadow 400ms;
  border-radius: 5px;
  max-height: 100px;
  height: 100px;
}
