<span *ngIf="(buyItem$ | async) as item"></span>
<span *ngIf="(action$  | async) as action"></span>

<!-- <ng-container  *ngIf="optimalView"></ng-container> -->

<ng-container >
   <mat-card [style]="buttonColor"
             [class]="matCardClass" >
      <ng-container [ngTemplateOutlet]="menuItemContents">
      </ng-container>
   </mat-card>
</ng-container>

<ng-template #menuItemContents>

  <ng-container *ngIf="enableViewItemBol">
    <ng-container [ngTemplateOutlet]="enableViewItem"></ng-container>
  </ng-container>

  <ng-container *ngIf="enableEditItemBol">
    <ng-container [ngTemplateOutlet]="enableEditItem"></ng-container>
  </ng-container>

  <ng-container *ngIf="enableAddItemViewBol">
    <ng-container [ngTemplateOutlet]="enableAddItemView"></ng-container>
  </ng-container>

  <ng-container *ngIf="enableBuyItemViewBol">
    <ng-container [ngTemplateOutlet]="enableBuyItemView"></ng-container>
  </ng-container>

  <div   [class]="containerclassValue">
    <div [class]="imageContainer">

      <ng-container *ngIf="isImageButtonViewBol">
        <ng-container [ngTemplateOutlet]="isImageButtonView"></ng-container>
      </ng-container>

      <ng-container [ngTemplateOutlet]="menuButton"></ng-container>

      <!-- <ng-container *ngIf="buttonViewBol"> -->
        <ng-container [ngTemplateOutlet]="buttonView"></ng-container>
      <!-- </ng-container> -->

      <ng-container *ngIf="menuNameViewBol">
        <ng-container [ngTemplateOutlet]="menuNameView"></ng-container>
      </ng-container>

      <ng-container [ngTemplateOutlet]="imageButtonInfo" ></ng-container>

    </div>
    <ng-container [ngTemplateOutlet]="typeDisplayView"></ng-container>
  </div>

  <div class="footer">
    <button mat-button (click)="altMethod(true)"   [@.disabled]="androidApp"
            *ngIf="isCategory && displayType === 'header-category'"
            class="header-category-title">
      {{menuItem?.name}}
    </button>

    <ng-container #reviews *ngIf="menuItem"></ng-container>

    <ng-container *ngIf="priceViewBol">
      <ng-container [ngTemplateOutlet]="priceView"></ng-container>
    </ng-container>

    <ng-container [ngTemplateOutlet]="seeMoreInCategoryView"></ng-container>
  </div>
</ng-template>

<ng-template #menuNameTemplate>
  <ng-container [ngTemplateOutlet]="menuItemName" ></ng-container>
</ng-template>

<ng-template #typeDisplayTemplate>
  <div  class="product-name" *ngIf="!ignoreType && menuItem?.id != -1 && !menuItem.itemType">
    Type Required.
  </div>
</ng-template>

<ng-template #menuItemName>
  <div class="item-name-center">
    {{ menuItem?.name  | truncateText: 30   }}
    <div *ngIf="menuItem?.prodSecondLanguage">
      {{ menuItem?.prodSecondLanguage  | truncateText: 30  }}
    </div>
  </div>
</ng-template>

<ng-template #editItemView>
  <div class="edit-float-button">
    <button

        mat-mini-fab
        color="accent"
        (click)="editItem()" >
      <mat-icon  color="primary">info</mat-icon>
    </button>
  </div>
</ng-template>

<ng-template #buyItemView>
  <div class="view-float-button" *ngIf="isStaff">
    <button
        mat-mini-fab
        color="accent"
        (click)="buyItem()" >
       <mat-icon  color="primary">class</mat-icon>
    </button>
  </div>
</ng-template>

<ng-template #addItemView>
  <div class="view-float-button"
      *ngIf="menuItem && menuItem.itemType">
    <div *ngIf="!isCategory && displayType != 'header-category'">
     <ng-container [ngTemplateOutlet]="buttonAddItem"></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #viewItemView>
  <div class="buy-float-button">
    <button
        mat-mini-fab
        color="accent"
        (click)="viewItem()" >

      <mat-icon *ngIf="isStaff" color="primary">open_in_new</mat-icon>
      <mat-icon *ngIf="!isStaff" color="primary">info</mat-icon>
    </button>
  </div>
</ng-template>

<ng-template #menuButton>
  <div *ngIf="menuItem?.name != 'Load More' && ((isApp && !imageUrl) || !imageUrl) && menuItem?.icon"
        class="product-name-only" >
        <!--  [@.disabled]="androidApp" -->
        icon button
      <button

              mat-button
              class="image-button"
              (click)="altMethod(true)">
        <ng-container [ngTemplateOutlet]="imageButtonInfo" ></ng-container>
      </button>
  </div>
</ng-template>

<ng-template #imageButtonInfo>
  <mat-icon *ngIf="menuItem?.icon">{{menuItem?.icon}}</mat-icon>
</ng-template>

<ng-template #loadMoreButton>
  <div  *ngIf="menuItem?.name === 'Load More'"
        class="product-name-only"
        style="padding-top:5px" >
      <button mat-raised-button
              class="image-button"
              color="warn"
              fxFill
              (click)="altMethod(true)">
        {{ menuItem.name  | truncateText: 30  }}
        <div *ngIf="menuItem?.prodSecondLanguage">
          {{ menuItem?.prodSecondLanguage  | truncateText: 30  }}
        </div>
        <mat-icon>refresh</mat-icon>
      </button>
  </div>
</ng-template>

<ng-template #reviews>
  <div  class="product-name"
        id="star-rating"
        *ngIf="!isApp && (isProduct && menuItem?.ratingAverage && menuItem?.ratingCount &&
                        menuItem?.ratingAverage != 0 && menuItem?.ratingCount != 0)">
    reviews:  {{menuItem?.ratingAverage}} rating: {{menuItem?.ratingCount}}
  </div>
</ng-template>

<ng-template #priceTemplate>
  <div class="price-grid" id="price">
    {{menuItem?.retail | currency}}
    <span class="uom" *ngIf="menuItem?.unitDescription">
      /  {{menuItem?.unitDescription | truncateText: 5 }}
    </span>
  </div>
</ng-template>

<ng-template #productImage>
  <img  *ngIf     ="imageUrl && bucketName &&  !isCategory && !disableImages"
        src     = {{imageUrl}}
        class     ="product-image"/>
</ng-template>
<!--  onerror   = "this.src='assets/images/placeholderimage.png'"
 -->
<ng-template #categoryImage>

  <div class="round-container" *ngIf="imageUrl && bucketName && isCategory && !disableImages">
    <img
      src     = {{imageUrl}}
      class     ="product-image" />
  </div>
</ng-template>
<!--     onerror   = "this.src='assets/images/placeholderimage.png'"
 -->

 <!--  [@.disabled]="androidApp" -->
<ng-template #buttonAddItem>
  <div *ngIf="!isApp" >
      <button

          mat-mini-fab
          class="add-button"
          color="warn"
          (click)="menuItemActionObs(true, true)" >

        <div *ngIf="!isProduct">
           <mat-icon>open_in_new</mat-icon>
        </div>

        <div *ngIf="isProduct ">
           <mat-icon>plus_one</mat-icon>
        </div>
      </button>
  </div>
</ng-template>

<ng-template #discountItemDescription>
  <div *ngIf="isDiscountItem && !isApp">
    <div *ngIf="menuItem.itemType.name.toLowerCase() == 'Discount % Entire Order' ||
                menuItem.itemType.name.toLowerCase() == 'Discount % One Item'">
        {{menuItem?.itemType?.name }} - {{ menuItem?.cannabisType }}
    </div>
    <div *ngIf="menuItem.itemType.name.toLowerCase() == 'cash discount on order'.toLowerCase() ||
                menuItem.itemType.name.toLowerCase() == 'Cash Discount on Item'.toLowerCase()">
        {{menuItem?.itemType?.name }} - {{menuItem?.cannabisType | currency}}
    </div>
  </div>
</ng-template>

<ng-template #seeMoreInCategory>
  <div class="category-open">
    <button mat-button (click)="menuItemActionObs(false)">
       <mat-icon *ngIf="!androidApp && !smallDevice" >open_in_new</mat-icon>
    </button>
  </div>
</ng-template>

<ng-template #appView>
  <span >
    <!--  [@.disabled]="androidApp" -->
    <button

              mat-flat-button
              style="width:100%"
              class="image-button"
              (click)="altMethod(false)">

        <div *ngIf="!menuItem.urlImageMain || disableImages">
          <ng-container [ngTemplateOutlet]="menuItemName" ></ng-container>
        </div>

        <div *ngIf="menuItem.urlImageMain  && !disableImages">
          <ng-container [ngTemplateOutlet]="productImage"></ng-container>
          <ng-container [ngTemplateOutlet]="categoryImage"></ng-container>
        </div>

        <ng-container [ngTemplateOutlet]="discountItemDescription"></ng-container>
    </button>
  </span>
</ng-template>

<ng-template #browserView>
  <span >
    <button   mat-flat-button
              style="width:100%"
              class="image-button"
              (click)="altMethod(true)">

        <div *ngIf="!menuItem.urlImageMain || disableImages">
          <ng-container [ngTemplateOutlet]="menuItemName" ></ng-container>
        </div>

        <div *ngIf="menuItem.urlImageMain  && !disableImages">
          <ng-container [ngTemplateOutlet]="productImage"></ng-container>
          <ng-container [ngTemplateOutlet]="categoryImage"></ng-container>
        </div>

        <ng-container [ngTemplateOutlet]="discountItemDescription"></ng-container>
    </button>
  </span>
</ng-template>


