@import "/src/mixins.scss";

.mat-input-element {
  font-size: small;
}

mat-raised-button {
  margin: 5rem 5rem 2rem 2rem;
  padding: 1rem 1rem 1rem 1rem;
}

button {
  margin-bottom: 10px;
  margin-left: 10px;
}

.title {
  font-size: .9em;
  font-weight: 500;
}
h3 {
  font: 400;
  font-size: .9em;
}

.label {
  float: left;
  margin:  3px 3px 3px 3px;
  font-size: .8em;
}

.fields {
  // float: left;
  margin:  3px 3px 3px 3px;
  font-size: .8em;
}
mat-label {
  padding:5px;
  font-size: 1.0em;
}

meta-tags {
  height: 100px;
}

mat-form-field {
  margin: 3px 3px 3px 3px;
  font-size: .9em;
}

mat-radio-button  {
  margin: 3px;
}

mat-card{
  padding: 5px 5px 5px 5px;
  margin:  3px 3px 3px 3px;
}

.example-tab-icon {
  margin-right: 8px;
}

.itemSaved {
  color: hotpink;
}

mat-drawer {
  width: 200px;
}

mat-drawer-container {
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;

}

.icon {
  float: left;
}

.headers {
  // float: left;
  font-size: 1.1em;
}

mat-drawer-content {
  padding: 20px;
}

simple-tinymce {
  padding:5px;
}

mat-form-field {
  font-size: .8em;
}

label {
  display: block;
  padding: 5px;
}

button{
  padding: 5px;
}

h1 {
  font-size: 1.5em;
  text-decoration: underline;
}

#remove_email {
  // color: red;
  margin: 5px;
}

#register_button {
  background: lightblue;
}

.alert {
  // color: darkred;
}

.ng-invalid:not(form)  {
  // border-left: 3px solid darkred;
}

// .ng-valid:not(form) {
//   border-left: 3px solid greenyellow;
// }

img {
  width: 150px;
  height: 150px;
  align-content: center;
}

.custom-card {
  background-color: gray;
  padding: 25px;
  margin-bottom: 25px;
}

// .container {
//   padding: 5px;
//   width:   68%;
// }
.container {
  display: grid;
  gap: 10px;
  grid-template-columns: 825px 350px;

}

.floating-info {
  z-index      : 100;
  padding-right: 10px;
  overflow-x   : visible;

  position:fixed;
  top: opx;
  right: 0px;
  max-width: 350px;
  width: 350px;
}

.schedule-info {
  min-width: 825px;
  width: 825px;
}


:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body{ overflow-x: hidden;}

.weekday-margin {
  margin: 0 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  width: 300px;
}

.grid-card {
  display: grid;
  grid-template-columns: 1fr .3fr;
  flex-wrap: wrap;
  width: 100%;
}

.panel {
  height: 83vh;
  overflow-y: scroll;
}


.grid-search-container {
  display              : grid;
  grid-template-columns: .25fr 1fr;
  flex-wrap            : wrap;
}

simple-tinymce {
  padding:5px;
  min-width: 600px;
  width: 600px;
  min-height: 400px;
}

.tab-group-grid {
  width: 800px;
  min-width: 800px;
  min-height: 700px;
}

.description {
  width: 600px;
  height: 300px;
}

// .header-grid {
//   display: grid;
//   grid-template-columns: 600px 1fr;
//   flex-wrap            : wrap;
// }

.image-container {
  height: 400px;
  min-height: 400px;
}
