<div *ngIf="!saveNotification; else saving">
  <div class="container"
      *ngIf="priceSchedule; loading">
    <div>
      <mat-card>
        <div class="header-grid">
          <div>
            {{priceSchedule.name}}
          </div>
          <div>
            <span>
              <button mat-button
                      (click)="save()">
                <mat-icon>save</mat-icon>Save
              </button>
            </span>
            <span>
              <button mat-button color="accent"
                      (click)="delete()">
                <mat-icon>delete</mat-icon>Delete
              </button>
            </span>
          </div>
        </div>
      </mat-card>
      <div *ngIf="inputForm">
        <div [formGroup]="inputForm">
            <div class="grid-card">

              <div>
                <mat-tab-group>
                  <mat-tab label="Name & Type">
                    <mat-card>
                      <app-discount-options
                          [inputForm]="inputForm">
                      </app-discount-options>
                    </mat-card>
                  </mat-tab>

                  <mat-tab label="Constraints">
                    <app-price-schedule-constraints
                        [inputForm]="inputForm"
                        [item]="priceSchedule">
                    </app-price-schedule-constraints>
                  </mat-tab>

                  <div *ngIf="priceScheduleTracking.type != 'Menu List'">
                    <mat-tab label="Category & Items">
                      <div class="grid-search-container">
                        <app-type-filter
                          [inputForm]="inputForm"
                          [item]     ="priceSchedule">
                        </app-type-filter>
                      </div>
                    </mat-tab>
                  </div>

                  <div *ngIf="priceScheduleTracking.type === 'Menu List'">
                    <mat-tab label="Selected Menu Items">
                      <div class="grid-search-container">
                        <app-reward-type-filter
                          [inputForm]="inputForm"
                          [item]     ="priceSchedule">
                        </app-reward-type-filter>
                      </div>
                    </mat-tab>
                  </div>

                  <div *ngIf="priceScheduleTracking.type != 'Menu List'">
                    <mat-tab label="Offers and Rewards">
                      <div class="grid-search-container">
                        <app-reward-type-filter
                          [inputForm]="inputForm"
                          [item]     ="priceSchedule">
                        </app-reward-type-filter>
                      </div>
                    </mat-tab>
                  </div>
                </mat-tab-group>
              </div>
              <div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- class="floating-info" -->
    <div class="floating-info" >
      <div *ngIf="inputForm">
        <app-price-schedule-info
                [inputForm]="inputForm"
                [hideDelete]="'true'"
                  >
        </app-price-schedule-info>
      </div>
    </div>
  </div>
</div>
<ng-template loading>
  <h3>saving....</h3>
  <mat-spinner></mat-spinner>
</ng-template>
<ng-template #saving>
  <h3>saving....</h3>
  <mat-spinner></mat-spinner>
</ng-template>
