body,
html {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.registration  {
  padding     : 3px;
  margin-top  : 5px;

}

mat-card {
  opacity: .8;
}

mat-checkbox {
  margin: 5px;
}

.centered-flex {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.mat-card {
  width: 500px;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

//  fxLayoutAlign="center center"
//fxFlex="100%"
.pin-entry {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.pin-button {
  width: 150px;
  height: 50px;
}
.bg {
  /* The image used */
  // background-image: url('https://naturesherbs.s3-us-west-1.amazonaws.com/splash-woman-on-rock-1.jpg');
  /* Full height */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  width: 95px;
}

.logo {
  width: 125px;
}

.center {
  max-width       : 495px;
  display         : grid;
  place-items     : center;
  justify-content : space-evenly;
}

.spinner {
  margin: 10px;
  padding:10px;
}

button{
  margin:  2px 2px 2px 2px;
}

.logo {
  display: flex;
  justify-content: center;
}

.login-window {
  max-width: 450px;
}

.row-height {
  height: 100%
}

.login-form {
  min-width: 150px;
  max-width: 450px;
  width    : 100%;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

#mat-card {
   border-radius: 5px;

  .mat-card-header{
    padding:5px;

  }
  .mat-card{
    padding:0;
  }

  .mat-card-content{
    padding:5px;
  }
 }

 .pin-card {
  //  width:450px;
 }
