.more-button {
  // margin-left: 4px;
  width: 55px;
  padding:0px;
  height: 50px;
}

.selector {
  height: 65px;
  width: 100%;
  margin: 5px;
}

.button-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
