
<div *ngIf="results as items" class="container">
  <!-- <div  *ngFor="let item of items; let i = index; trackBy: identify" @myInsertRemoveTrigger> -->
  <div *ngFor="let item of items;
                let i = index;
                trackBy: trackByRewards"
                @myInsertRemoveTrigger>
    <button mat-button class="grid-schedule"  *ngIf="item" (click)="menuItemAction(true, item, i)">
      <div>
        {{item?.name | truncateText : 20}}
      </div>
      <div>
         {{item?.value | currency}}
      </div>
      <div >
      </div>
    </button>
  </div>
</div>
<!-- <div *ngIf="results" class="container">
  <div  *ngFor="let item of results; let i = index;" @myInsertRemoveTrigger>
    <div class="grid-schedule"   *ngIf="item" (click)="menuItemAction(true, item, i)">
      <div>
        {{item?.name | truncateText : 20}}
      </div>
      <div>
         {{item?.value | currency}}
      </div>
      <div >

      </div>
    </div>
  </div>
</div> -->

<div *ngIf="(reward$ | async) as item"></div>
<div *ngIf="(action$ | async) as items"></div>

<div *ngIf="(redeem$ | async) as items"></div>
