<video autoplay autoplay muted loop class="video">
  <source src="https://cafecartel.com/temp/longvideo.mp4" loop type="video/mp4">
</video>

<div fxLayout="row" fxLayoutAlign="center center" class="row-height">
  <div class="container">
    <div class="bg-position">
      <div class="row-height">
        <div fxLayout="column" fxLayoutAlign="center center" class="row-height">

            <div fxLayout="row"
                 fxlayoutGap="20px"
                 class="tierprices stat-cards">
              <app-tiers-card></app-tiers-card>
            </div>

            <div  fxLayout="row"
                  fxlayoutGap="20px"
                  class="itemlist stat-cards">
              <app-tv-price-tier-menu-items></app-tv-price-tier-menu-items>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>

