
<!-- Adjusts Item Container -->
<!-- itemWithAction {{value | json}} -->
<div *ngIf="itemWithAction">
  <mat-card>
    <mat-card-title>
    </mat-card-title>
    <mat-card-subtitle>
      <h4>Action: {{itemWithAction?.typeOfAction}} </h4>
      <h4>
        {{itemWithAction?.posItem?.productName}}
      </h4>

      <!-- {{message}} -->
    </mat-card-subtitle>
    <mat-card-content>
      <div *ngIf="!list$">
        No Options Setup
      </div>

      <ng-template #loading>
        <mat-spinner [diameter]="50"></mat-spinner>
      </ng-template>

      <div  *ngIf="inventoryReturnDiscard || inventoryReturnDiscard != undefined">
        <div *ngIf="(list$ | async) as list; else loading">
          <app-mat-toggle-selector
              [toggleButtonClass]="'toggle-buttons-wide'"
              (outPutID)="selectItem($event)"
              [hideAllOption]="true"
              [list]="list">
              Reason for Action
          </app-mat-toggle-selector>
        </div>
      </div>

      <div class="toggle-group" >
        <div>
          <h3> Adjustment Action </h3>
        </div>

        <mat-button-toggle-group
                name="type"
                [(ngModel)]  = "inventoryReturnDiscard"
                vertical >
            <mat-button-toggle
                 [style.width.px]="195"
                 class="toggle-buttons"
                 [value]="false"
                   >
                Discard
            </mat-button-toggle>
            <mat-button-toggle
                [style.width.px]="195"
                class="toggle-buttons"
                [value]="true"
                >
              Return to Inventory
          </mat-button-toggle>
        </mat-button-toggle-group>

        <div *ngIf="posItems" class="grid-container">
          <h3>Items</h3>
          <div *ngFor="let item of posItems">
            <div class="grid-items">
              <div>
                {{item.quantity  }}
              </div>
              <div>
                {{item.productName | truncateText: 20 }}
              </div>
              <div>
                {{item.unitPrice | currency }}
              </div>
            </div>
          </div>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>
