<div class="canvas">
  <!-- value {{panels}}
  panelHeightSize {{panelHeightSize}}
  panelHeightValue {{panelHeightValue}} -->
  <div class="overlay-items">

    <div *ngif="connectedToApi; else connected"></div>

    <ng-container [ngTemplateOutlet]="isSearchSelectorOn"></ng-container>

    <!-- <scheduled-menu-list></scheduled-menu-list> -->

    <div *ngIf="homePageSetings && panelHeightSize; else loading">
      <ng-container [ngTemplateOutlet]="isDisplayMenuOn"></ng-container>
      <ng-container [ngTemplateOutlet]="isDepartmentViewOn"></ng-container>
      <ng-container [ngTemplateOutlet]="isCategoryViewOn"></ng-container>
      <ng-container [ngTemplateOutlet]="isBrandListViewOn"></ng-container>
      <ng-container [ngTemplateOutlet]="isTierMenuViewOn"></ng-container>
    </div>

    <ng-template #loading>
      <mat-spinner [diameter]="50"></mat-spinner>
    </ng-template>

  </div>
</div>

<ng-template #displayMenu>
  <div fxLayout="row" fxLayoutAlign="center center" >
    <display-menu-main></display-menu-main>
  </div>
</ng-template>

<ng-template #searchSelector>
  <div>
    <search-debounce-input
       [searchForm]="searchForm"
       [itemNameControl]="'itemName'"
       (outPutMethod)="refreshSearch($event)">
      <div #fieldDescription>Search Items</div>
    </search-debounce-input>
    <mat-divider></mat-divider>
  </div>
</ng-template>

<ng-template #departmentView>
  <div [style.height]="panelHeightSize">
    <app-categories [panelHeightValue]="panelHeightValue" [itemTypeID]="6">
        Departments
    </app-categories>
    <mat-divider></mat-divider>
  </div>
</ng-template>

<ng-template #categoryView>
  <div [style.height]="panelHeightSize">
    <app-categories [panelHeightValue]="panelHeightValue" [itemTypeID]="4">
      Categories
    </app-categories>
    <mat-divider></mat-divider>
  </div>
</ng-template>

<ng-template #brandView>
    <div [style.height]="panelHeightSize">
    <app-brandslist ></app-brandslist>
  </div>
</ng-template>

<ng-template #tierMenuView>
  <div>
     <app-tier-menu></app-tier-menu>
  </div>
</ng-template>

<ng-template #isviewOverlayOn>
  <video autoplay muted  class="video">
    <source [src]="smoke" type="video/mp4">
  </video>
</ng-template>

<ng-template #connected>
  Not connected to service, please wait.
</ng-template>

<div *ngIf="(orderAction$ | async)"></div>
