

<!-- <video autoplay muted  class="video">
  <source [src]="smoke" type="video/mp4">
</video> -->

<div class="canvas">

  <div class="overlay-items">

    <scheduled-menu-list></scheduled-menu-list>

    <mat-divider></mat-divider>

    <div *ngIf="homePageSetings">

      <div *ngIf="(isStaff && homePageSetings.staffDepartmentsEnabled) ||
                  (!isStaff && homePageSetings.departmentsEnabled)">
        <app-categories  [itemTypeID]="6">
          Department Search
        </app-categories>
        <mat-divider></mat-divider>
      </div>

      <div *ngIf="(isStaff && homePageSetings.staffCategoriesEnabled) ||
                  (!isStaff && homePageSetings.categoriesEnabled)">
        <app-categories  [itemTypeID]="4">
          Category Search
        </app-categories>
        <mat-divider></mat-divider>
      </div>

      <div *ngIf="(isStaff && homePageSetings.staffBrandsEnabled) ||
                  (!isStaff && homePageSetings.brandsEnabled)">
        <app-brandslist ></app-brandslist>
      </div>

      <div *ngIf="(isStaff && homePageSetings.staffTierMenuEnabled) ||
                  (!isStaff && homePageSetings.tierMenuEnabled)">
        <app-tier-menu></app-tier-menu>
      </div>

    </div>

  </div>
</div>

