

<!-- <video autoplay muted  class="video">
  <source [src]="smoke" type="video/mp4">
</video> -->

<div class="canvas">

  <div class="overlay-items">

    <scheduled-menu-list></scheduled-menu-list>
    <mat-divider></mat-divider>

    <div *ngIf="homePageSetings">
      <ng-container [ngTemplateOutlet]="isDepartmentViewOn"></ng-container>
      <ng-container [ngTemplateOutlet]="isCategoryViewOn"></ng-container>
      <ng-container [ngTemplateOutlet]="isBrandListViewOn"></ng-container>
      <ng-container [ngTemplateOutlet]="isTierMenuViewOn"></ng-container>
    </div>
  </div>
</div>

<ng-template #departmentView>
  <div>
    <app-categories  [itemTypeID]="6">
        Department Search
    </app-categories>
    <mat-divider></mat-divider>
  </div>
</ng-template>

<ng-template #categoryView>
  <div>   
    <app-categories  [itemTypeID]="4">
      Category Search
    </app-categories>
    <mat-divider></mat-divider>
  </div>
</ng-template>

<ng-template #brandView>
  <div>  <app-brandslist ></app-brandslist> </div>
</ng-template>

<ng-template #tierMenuView>
  <div>  <app-tier-menu></app-tier-menu> </div>
</ng-template>