<div  *ngIf="(departments$ | async) as list; else loading">

  <div  class="panel" *ngFor="let item of list">

    <div class="fab-container">
      <button mat-fab  class="mat-fab-close" (click)="close()">
        <mat-icon>close</mat-icon></button>
    </div>

    <div class="content-position">
      <div *ngIf="item?.slug">
  
        <app-blog-post [slug]="item?.slug"></app-blog-post>
      </div>
      <div *ngIf="!item?.slug">
        <div  class="description">
          <div [innerHtml]="item?.onlineShortDescription"></div>
        </div>

        <div class="image-layout">
          <img [src]="getItemSrc(item?.urlImageMain)">
        </div>
      </div>
    </div>

    <mat-card>
      <mat-card-subtitle>
        <div class="title-container">
          <div>
            <span class="item-font">
              <span [class]="'mdi ' + item.icon"></span>
            </span>
            <span class="item-text">
               {{item?.name}}
            </span>
          </div>
        </div>
      </mat-card-subtitle>

      <mat-card-content>
        <div class="menu-container">

          <div>
            <div class="categories" *ngFor="let item of item.categories">

              <div >
                <button class="menu-button"
                        mat-raised-button
                        (mouseover)="categoryListDisplay(item)"
                        (click)="categoryListNavigate(item)">
                    <div class="grid-toggle-tiny">
                      <div>
                        <span class="item-font-category" *ngIf="item.icon && item.icon !=''">
                          <span [class]="'mdi ' + item.icon"></span> {{item.name}}
                        </span>
                        <span class="item-text-category" *ngIf="!item.icon || item.icon ===''">
                          {{item.name}}
                        </span>
                      </div>
                    </div>
                </button>
              </div>

              <div class="mat-fab-expand">
                <button *ngIf="item.id==categoryID"
                        mat-fab color="primary"
                        (click)="categoryListNavigate(item)">
                  <mat-icon>expand</mat-icon>
                </button>
              </div>

            </div>
          </div>

          <div class="sub-categories"
               *ngIf="item.categories && categoryID && categoryID != 0 &&  (subCategories$ | async) as list" >

              <button  *ngFor="let item of list" class="menu-button" mat-raised-button  color="primary"
                       (mouseover)="subCategoryList(item)" 
                       (click)="subCategoryListDisplay(item)">

                <div class="grid-toggle-tiny">
                  <div>
                    <span class="item-font-category" *ngIf="item.icon && item.icon !=''">
                      <span [class]="'mdi ' + item.icon"></span> {{item.name}}
                    </span>
                    <span class="item-text-category" *ngIf="!item.icon || item.icon ===''">
                      {{item.name}}
                    </span>
                  </div>
                </div>

              </button>
          </div>

        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #loading>
  <mat-spinner [diameter]="20"></mat-spinner>
</ng-template>
