@import "/src/mixins.scss";

mat-card {
  min-height: calc(100vh - 175px);
  overflow-y: auto;
  overflow-x: hidden;
}

mat-card-content {
  min-height: calc(100vh - 175px);
  height: calc(100vh - 175px);
  overflow-y: auto;
  overflow-x: hidden;
}


.category-container {
  // min-height: calc(100vh - 200px);
  // overflow-y: auto;
  // overflow-x: hidden;
}

.menu-container {
  display: grid;
  grid-template-columns: 275px 275px;
  gap: 5px;
  // overflow-y: auto;
  // overflow-x: hidden;
  // min-height: calc(100vh - 225px);

  @include for-phone-only {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.panel {
  overflow-y: auto;
  overflow-x: hidden;

  @include for-phone-only {
    min-height: calc(100vh - 165px);
  }
}

.categories {
  --gap: 5px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: 225px 45px;
  width     : 335px;
  z-index   : 1005;

  overflow-y: hidden;
  overflow-x: hidden;
}

.sub-categories {
  display   : flex;
  flex-direction: column;
  gap       : 5px;
  overflow-y: auto;
  overflow-x: hidden;
  margin    : 5px;
  width     : 340px;
  z-index   : 1005;
}



.fab-container {
  z-index: 1006;
  top: 10px;
  right:0;
  margin-right: 65px;
  margin-top: 10px;
  position:absolute;
}

.mat-fab-close {
  opacity: 70%;
}

.mat-fab-expand {
  position: relative;
  // left: 225px;
  // top: -71px;
  top    : 10px;
  margin : 0;
  padding: 0;
}

.content-position {
  z-index: 999;
  margin: 5px;
  margin-right: 15px;
  position:absolute;
  top: 100px;
  right: 50px;
  border-radius: 5px;

  @include for-phone-only  {
    margin: 5px;
    position:relative;
    bottom:0;
    right:0;
  }
}

.image-layout {
  opacity: 70%;
  border-radius: 10px;
  max-height: 300px;
  object-fit: cover;
  width: 300px;
}

img {
  border-radius: 10px;
}

.grid-toggle-tiny {
  display: grid;
  grid-template-columns:  200px;
  gap: 5px;
}

:host {
  .mat-button {
    text-align: left;
  }
}

mat-card {
  height: calc(100% - 250px);
  overflow-y: auto;
  overflow-x: hidden;
}

mat-raised-button {
  width: 175px;
}

.item-text {
  font-size: 1.5rem;
}

.item-font {
  font-size  : 1.5rem;
  margin-left: 10px;
  text-overflow: ellipsis;
  max-width: 175px;
  min-width: 175px;
}

.item-text-category {
  font-size: 1.25rem;
  max-width: 200px;
  width: 150px;
}

.item-font-category {
  font-size    : 1.5rem;
  margin-left  : 10px;
  text-overflow: ellipsis;
  max-width    : 50px;
  min-width    : 50px;
}

.sub-category {
  position: relative;
  left: 45px;
  margin-left: 45px;
}

.heading {
  font-size       : 1.1em;
  align-items     : center;
  text-align      : center;
}

.description{
  margin          : 5px;
}

.title-container {
  display         : flex;
  justify-content : space-between;
  margin          : 2px;
}

.menu-button {
  margin          : 15px;
  background-color: cadetblue;
  height          : 50px;
  min-width       : 265px
}

.menu-button:hover {
  background-color: rgb(98, 106, 85)
}
