@import "/src/mixins.scss";

.mat-form-field {
  font-size: 1em;
  margin: 4px 4px 4px 4px;
}

.mat-form-field-2 {
  font-size: 1em;
  margin: 4px 4px 4px 4px;
}

.form-background {
  width: 300px;
}

.item-name {
  margin-left: 8px;
  margin-right: 15px;
  float: left;
}

