<div class="grid-container">
  <div *ngIf="inputForm" [formGroup]="inputForm">

    <mat-form-field class="form-field">
      <input matInput
             class="form-field"
             [ngxMatDatetimePicker]="picker"
             placeholder="Choose a date"
             formControlName="preferredScheduleDate"   >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker
         [showSpinners]="true"
         [showSeconds]="false"
         [stepHour]="true"
         [stepMinute]="true"
         [stepSecond]="false"
         [touchUi]="true"
         [color]="'primary'"
         [enableMeridian]="true"
         [disableMinute]="true"
         [hideTime]="false">
      </ngx-mat-datetime-picker>
   </mat-form-field>

  </div>

  <div *ngIf="!platFormService.isApp()">
    <div *ngIf="serviceType && serviceType.scheduleInstructions"
          class="instructions">
      <h3>{{serviceType.name}}</h3>
      <mat-hint>
        <div [innerHTML]="serviceType.scheduleInstructions" ></div>
      </mat-hint>
    </div>
  </div>
</div>

<div>
  <button style="height:75px;width:125px"
          mat-raised-button
          color="primary"
         (click)="saveShippingTime()">
  <mat-icon aria-label="save">save</mat-icon> Next
  </button>
</div>
