<div class="grid-container">
 <div *ngIf="appointmentForm" [formGroup]="appointmentForm">
  <mat-form-field appearance="outline">
    <input
      matInput
      [matDatepickerFilter]="dateFilter"
      required
      [matDatepicker]="picker"
      placeholder="Schedule Date"
      formControlName="preferredDate" />  <!-- Fixed the whitespace issue -->
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-select placeholder="Select a time" formControlName="preferredTime">
      <mat-option *ngFor="let time of timeSlots" [value]="time">{{ time }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

  <div *ngIf="inputForm"  [formGroup]="inputForm">
    Scheduled Time: {{inputForm.controls['preferredScheduleDate'].value}}
  </div>

  <button mat-raised-button color="accent" class="margin-5  payment-buttons" (click)="resetAppointment()">Clear Date</button>

  <div *ngIf="!platFormService.isApp()">
    <div *ngIf="serviceType && serviceType.scheduleInstructions"
          class="instructions">
      <h3>{{serviceType.name}}</h3>
      <mat-hint>
        <div [innerHTML]="serviceType.scheduleInstructions" ></div>
      </mat-hint>
    </div>
  </div>

</div>

<div>
  <button class="margin-5 payment-buttons"
          mat-raised-button
          color="primary"
          (click)="onSubmit()">
  <mat-icon aria-label="save">save</mat-icon> Next
  </button>
</div>
