@import "/src/mixins.scss";

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: left;
  width: 250px;
  text-align: left;
}

.flex-column-nw {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: left;
  text-align: left;
}

mat-icon {
  top:5px;
  margin-left: 5px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.results {
  overflow-x: hidden;
  overflow-y: auto ;
  height: calc(100vh - 80px);
  max-height: 600px;
}

.stick-panel { 
  position :sticky;
  top: 0;
}
.div-max-800 {
  max-height: 700px;
}

h4 h5 {
  maring-bottom: 5px;
}
