<div class="flex-row" *ngIf="(uiSetting$ | async) as uiSetting">
  <ng-content *ngTemplateOutlet="filterPanel"></ng-content>
  <mat-divider [vertical]="true"></mat-divider>
  <ng-content *ngTemplateOutlet="menuItems"></ng-content>
</div>

<ng-template #menuItems>
  <div style="margin-left:5px;margin-right:5px;width:calc(100vw - 300px)">
    <menu-items-infinite
      [updateSearchOnModelChange]="true"
    ></menu-items-infinite>
  </div>
</ng-template>

<ng-template #filterPanel>
  <div class="filter-panel  stick-panel-top">
    <div class="flex-column results" >
      <mat-icon>funnel</mat-icon>
      <div class="flex-row">
        <button mat-button (click)="resetSearch()">
          <mat-icon color="accent" style="font-size:1.2em;">restart_alt</mat-icon>
          Reset
        </button>
      </div>

      <div class="flex-row" *ngIf="( uiSetting && uiSetting.brandFilter )">
        <button mat-button
            color="primary"
            (click)="setToggleBrand()">
          <mat-icon color="primary" style="font-size:1.2em;">workspaces</mat-icon>
          Brands
        </button>
      </div>

      <ng-container [ngTemplateOutlet]="toggleBrandView"> </ng-container>
      <ng-template #brandList>
        <category-select-list-filter
            [bucketName]="bucketName"
            [inputForm]="inputForm"
            [type]="'brand'">
        </category-select-list-filter>
      </ng-template>

      <div class="flex-row"  *ngIf="( uiSetting && uiSetting.departmentFilter )">
        <button mat-button
          color="primary"
          (click)="setTogggleDept()">
          <mat-icon color="primary" style="font-size:1.2em;">table_view</mat-icon>
          Department
        </button>
      </div>

      <ng-container [ngTemplateOutlet]="toggleDepartmentView" >  </ng-container>
      <ng-template #departmentList>
        <category-select-list-filter
            [bucketName]="bucketName"
            [inputForm]="inputForm"
            [type]="'department'">
            <h3>Departments</h3>
        </category-select-list-filter>
      </ng-template>

      <div class="flex-row" *ngIf="( uiSetting && uiSetting.categoryFilter )">
        <button mat-button
                  color="primary"
                  (click)="setTogggleCat()">
          <mat-icon color="primary" style="font-size:1.2em;">category</mat-icon>
          Categories
        </button>
      </div>

      <ng-container [ngTemplateOutlet]="toggleCategoryView"> </ng-container>
      <ng-template #categoryList>
        <category-select-list-filter
            [bucketName]="bucketName"
            [inputForm]="inputForm"
            [type]="'category'">
        </category-select-list-filter>
      </ng-template>

      <div class="flex-row" *ngIf="( uiSetting && uiSetting.subCategoryFilter )">
        <button mat-button
                color="primary"
                (click)="setTogggleSubCat()">
          <mat-icon color="primary" style="font-size:1.2em;">category</mat-icon>
          Sub Categories
        </button>
      </div>

      <ng-container [ngTemplateOutlet]="toggleSubCategoryView"></ng-container>
      <ng-template #subcategoryList>
        <category-select-list-filter
            [bucketName]="bucketName"
            [inputForm]="inputForm"
            [type]="'subcategory'" >
        </category-select-list-filter>
      </ng-template>

      <!-- Item Type Filter -->
      <div class="flex-row" *ngIf="( uiSetting && uiSetting.itemTypeFilter )">
        <button mat-button
                color="primary"
                (click)="setItemType()">
          <mat-icon color="primary" style="font-size:1.2em;">group_work</mat-icon>
          Item Types
        </button>
      </div>

      <ng-container [ngTemplateOutlet]="toggleItemTypeView"></ng-container>
      <ng-template #itemTypeList>
        <category-select-list-filter
            [bucketName]="bucketName"
            [inputForm]="inputForm"
            [type]="'itemType'" >
        </category-select-list-filter>
      </ng-template>

      <!-- Size Filter -->
      <div class="flex-row" *ngIf="( uiSetting && uiSetting.sizeFilter )">
        <button mat-button
                color="primary"
                (click)="setSizeList()">
          <mat-icon color="primary" style="font-size:1.2em;">group_work</mat-icon>
            Size
        </button>
      </div>

      <ng-container [ngTemplateOutlet]="toggleSizeView"></ng-container>
      <ng-template #sizeList>
        <category-select-list-filter
            [bucketName]="bucketName"
            [inputForm]="inputForm"
            [type]="'size'" >
        </category-select-list-filter>
      </ng-template>

      <!-- color Filter -->
      <div class="flex-row" *ngIf="( uiSetting && uiSetting.colorFilter )">
      <button mat-button
              color="primary"
              (click)="setColorList()">
        <mat-icon color="primary" style="font-size:1.2em;">group_work</mat-icon>
          Colors
      </button>
    </div>

    <ng-container [ngTemplateOutlet]="toggleColorView"></ng-container>
    <ng-template #colorList>
      <category-select-list-filter
          [bucketName]="bucketName"
          [inputForm]="inputForm"
          [type]="'color'" >
      </category-select-list-filter>
    </ng-template>

    <!-- Glueten Filter -->
    <h4>Limit To Selection:</h4>
    <div class="flex-row" *ngIf="( uiSetting && uiSetting.gluetenFilter )">

        <mat-slide-toggle
                  (change)="setGF($event)"
                  [(ngModel)]="gf"
                  >
          <mat-label>Gluten Free</mat-label>
        </mat-slide-toggle>
      </div>

      <ng-container [ngTemplateOutlet]="toggleGluetenOption"></ng-container>
      <ng-template #gluetenOption>

      </ng-template>

      <!-- Species Filter -->
      <div class="flex-row" *ngIf="( uiSetting && uiSetting.speciesFilter )">

        <options-select-filter
            [inputForm]="inputForm"
            [type]="'species'" >
            <div #head>
              <h4>Species</h4>
            </div>
        </options-select-filter>
      </div>

      <ng-container [ngTemplateOutlet]="toggleSpeciesView"></ng-container>
      <ng-template #specieslList>

      </ng-template>

    </div>
    <div>
      <mat-divider [vertical]="true"></mat-divider>
    </div>
  </div>
</ng-template>
