
<div *ngIf="(action$ | async) as action">

  <!-- liveEdit {{liveEdit}} -->
  <div class="back-ground-override">
    <div   *ngIf="!isLabel"
            #printsection
            id="printsection"
            [class]="setPrinterWidthClass" >

      <div class="receipt-sections" *ngIf="liveEdit">

        <div     *ngIf="headerText && orders">
          <div   *ngFor="let order of orders">
            <div [innerHTML]="getInterpolatedHTML(headerText, order)" >  </div>
          </div>
        </div>

        <div      *ngIf="items && itemText && items.length>0">
          <div    *ngFor="let item of items">
            <div  [class]="gridReceiptClass"
                  [innerHTML]="getInterpolatedHTML(itemText, item)" >  </div>
          </div>
        </div>

        <div *ngIf="footerText && orders && orders.length>0">
          <div *ngFor="let order of orders">
              <div [innerHTML]="getInterpolatedHTML(footerText, order)" >  </div>
          </div>
        </div>

        <div *ngIf="paymentsText && payments && payments.length>0">
          <div *ngFor="let payment of payments">
              <div [innerHTML]="getInterpolatedHTML(paymentsText, payment)" >  </div>
          </div>
        </div>

        <div *ngIf="subFooterText && orderTypes && orderTypes.length>0">
          <div *ngFor="let orderType of orderTypes">
              <div [innerHTML]="getInterpolatedHTML(subFooterText, orderType)" >  </div>
          </div>
        </div>

      </div>

      <div *ngIf="!liveEdit"
          class="background">

        <!-- interpolatedHeaderTexts {{interpolatedHeaderTexts | json}} -->

        <div   *ngIf="interpolatedHeaderTexts && interpolatedHeaderTexts.length>0"
              class="section-item">
          <div *ngFor="let item of interpolatedHeaderTexts; let i = index">
            <div  [innerHTML]="interpolatedHeaderTexts[i]" >  </div>
          </div>
        </div>

        <!-- interpolatedHeaderTexts {{interpolatedItemTexts | json}} -->

        <div      *ngIf="interpolatedItemTexts  && interpolatedItemTexts.length>0"  class="section-item">
          <div    *ngFor="let item of interpolatedItemTexts; let i = index">
            <div  [class]="gridReceiptClass"
                  [innerHTML]="interpolatedItemTexts[i]" >  </div>
          </div>
        </div>

        <!-- interpolatedHeaderTexts {{interpolatedFooterTexts | json}} -->

        <div   *ngIf="interpolatedFooterTexts && interpolatedFooterTexts.length>0"   class="section-item">
          <div *ngFor="let order of interpolatedFooterTexts; let i = index">
            <div
              [innerHTML]="interpolatedFooterTexts[i]" >  </div>
          </div>
        </div>

        <div   *ngIf="interpolatedPaymentsTexts && interpolatedPaymentsTexts.length>0"   class="section-item">
            <div *ngFor="let payment of payments">
              <div *ngIf=" payment.paymentMethod">

                <div *ngIf="payment.paymentMethod.isCreditCard">
                  <div [innerHTML]="getInterpolatedHTML(paymentsCreditText, payment)" >  </div>
                </div>

                <div *ngIf=" !payment.paymentMethod.isCreditCard ">
                  <div [innerHTML]="getInterpolatedHTML(paymentsText, payment)" >  </div>
                </div>
              </div>
            </div>
        </div>

        <div   *ngIf="interpolatedSubFooterTexts && interpolatedSubFooterTexts.length>0"  class="section-item">
          <div *ngFor="let orderType of interpolatedSubFooterTexts; let i = index">
            <div [class]="'footer-text'"
              [innerHTML]="interpolatedSubFooterTexts[i]" >
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<!-- receiptLayoutSetting {{printerWidth}}
<br>
headerText {{headerText  | json }} <br>
itemsText {{ itemText  | json }}<br>
 orderType {{ orderType | json }}<br>
items {{items | json}}<br>
payments {{payments | json}}<br>
payments {{ paymentsText }}<br> -->
<!-- subFooterText {{ subFooterText | json }}
interpolatedHeaderTexts.length {{interpolatedHeaderTexts.length}} -->
<!-- interpolatedItemTexts.length {{interpolatedItemTexts | json}} -->

<!-- interpolatedFooterTexts.length {{ interpolatedFooterTexts.length }} -->
