<div *ngIf="(action$ | async) as action">
  <div class="back-ground-override">
    <div   *ngIf="!isLabel"
            #printsection
            id="printsection"
            [class]="setPrinterWidthClass" >

      <div class="receipt-sections" *ngIf="liveEdit">

        <div     *ngIf="headerText && orders">
          <div   *ngFor="let order of orders">
            <div [innerHTML]="getInterpolatedHTML(headerText, order)" >  </div>
          </div>
        </div>

        <div      *ngIf="items && itemText && items.length>0">
          <div    *ngFor="let item of items" style="margin-bottom:12px">
            <div *ngIf="(item.id == item.idRef || item.idRef == 0 || !item.idRef)">

              <div  [class]="gridReceiptClass"
                    [innerHTML]="getInterpolatedHTML(itemText, item)" >  </div>
            </div>
            <div style="margin-left:15px" *ngIf="(item.idRef && item.id != item.idRef && item.idRef != 0)">

              <div  [class]="gridReceiptClass"
                    [innerHTML]="getInterpolatedHTML(itemText, item)" >  </div>
            </div>
          </div>
        </div>

        <div *ngIf="footerText && orders && orders.length>0">
          <div *ngFor="let order of orders">
              <div [innerHTML]="getInterpolatedHTML(footerText, order)" >  </div>
          </div>
        </div>

        <div *ngIf="paymentsText && payments && payments.length>0">
          <div *ngFor="let payment of payments">
            <ng-container [ngTemplateOutlet]="paymentsView"
                  [ngTemplateOutletContext]="{$implicit: payment}">
            </ng-container>
          </div>
        </div>

        <div *ngIf="subFooterText && orderTypes && orderTypes.length>0">
          <div *ngFor="let orderType of orderTypes">
              <div [innerHTML]="getInterpolatedHTML(subFooterText, orderType)" >  </div>
          </div>
        </div>

      </div>

      <div *ngIf="!liveEdit"
          class="background">
        <div   *ngIf="interpolatedHeaderTexts && interpolatedHeaderTexts.length>0"
              class="section-item">
          <div *ngFor="let item of interpolatedHeaderTexts; let i = index">
            <div  [innerHTML]="interpolatedHeaderTexts[i]" >  </div>
          </div>
        </div>

        <div      *ngIf="interpolatedItemTexts && interpolatedItemTexts.length>0"  class="section-item">
          <div    *ngFor="let item of itemsText; let i = index">
            <div    style="margin-bottom:5px"  *ngIf="(item.id == item.idRef || item.idRef == 0 || !item.idRef)">
              <div  [class]="gridReceiptClass"
                    [innerHTML]="interpolatedItemTexts[i]" >  </div>
            </div>
            <div style="margin-left:15px" *ngIf="(item.idRef && item.id != item.idRef && item.idRef != 0)">
              <div  [class]="gridReceiptClass"
                    [innerHTML]="interpolatedItemTexts[i]" >  </div>
            </div>
          </div>
        </div>
        <!-- this.interpolatedItemTexts.forEach((data, i) => {
          itemTexts.push({item: data, id: this.items[i].id, idRef: this.items[i].idRef})
        })
        this.itemsText = itemTexts; -->

        <div   *ngIf="interpolatedFooterTexts && interpolatedFooterTexts.length>0"   class="section-item">
          <div *ngFor="let order of interpolatedFooterTexts; let i = index">
            <div [innerHTML]="interpolatedFooterTexts[i]" >  </div>
          </div>
        </div>

        <div   *ngIf="interpolatedPaymentsTexts && interpolatedPaymentsTexts.length>0"   class="section-item">
            <div *ngFor="let payment of payments">
              <div *ngIf=" payment.paymentMethod">

                <!-- If it's a swipped card then we process different than if it's a EMV Card -->
                <ng-container [ngTemplateOutlet]="paymentsView"
                              [ngTemplateOutletContext]="{$implicit: payment}">
                </ng-container>

              </div>
            </div>
        </div>

        <div   *ngIf="interpolatedSubFooterTexts && interpolatedSubFooterTexts.length>0"  class="section-item">
          <div *ngFor="let orderType of interpolatedSubFooterTexts; let i = index">
            <div [class]="'footer-text'"
              [innerHTML]="interpolatedSubFooterTexts[i]" >
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<ng-template #paymentsView let-payment>
  <div *ngIf="payment.paymentMethod.isCreditCard">
    <div [innerHTML]="getInterpolatedHTML(paymentsCreditText, payment)" >  </div>
  </div>

  <div *ngIf=" !payment.paymentMethod.isCreditCard ">
    <div [innerHTML]="getInterpolatedHTML(paymentsText, payment)" >  </div>
  </div>
</ng-template>
