
<ng-content></ng-content>
<mat-divider style="margin:5px"></mat-divider>
<div *ngIf="(itemHistorySales$ | async) as items; else loading">
  <div class="grid-items">
    <div>Vendor</div>
    <div>Cost</div>
    <div>QTY</div>
    <div>Date</div>
  </div>
  <div *ngFor="let item of items">
    <div class="grid-items" >
      <div>
        <span *ngIf="!item?.clientID">
          No vendor
        </span>
        <app-client-info [clientID]="item?.clientID"> </app-client-info>
      </div>
      <div>{{item?.cost | currency}}</div>
      <div>{{item?.quantity }}</div>
      <div>{{item?.orderDate | date: 'MM/dd/yy' }}</div>
    </div>

  </div>
</div>
<mat-divider style="margin:5px"></mat-divider>
<div class="grid-items">
  <div style="font-weight:400">QTY Ordered</div>
  <div style="font-weight:400">{{totalPurchases}}</div>
</div>
<div *ngIf="loadingMessage">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>

<ng-template #loading>

  ..getting info.
</ng-template>

