<div class="toolbar">
  <button (click)="layoutService.addItem()">Add Item</button>
    <div
        class="draggable"
        draggable="true"
        (dragend)="layoutService.dropItem('StrainBoardComponent')"
    >
    Example 1
  </div>
    <div
        class="draggable"
        draggable="true"
        (dragend)="layoutService.dropItem('TypeBoardComponent')"
    >
      Example 2
  </div>
</div>

<div  class="gridster" >
  <gridster [options]="options">
      <gridster-item
        *ngFor="let item of layout"
        [item]="item"
        (dragover)="layoutService.setDropId(item.id)"
      >
        <button
        (click)="layoutService.deleteItem(item)"
        >
          Delete Item
        </button>
      </gridster-item>
  </gridster>
</div>
