<div *ngIf="inputForm"
      [formGroup]="inputForm">

  <div class="grid-container">

      <div class="grid-item range-description fields">THC</div>
      <div class="grid-item">
        <mat-form-field appearance="outline"  class="location-assignment fields">
          <mat-label >THC From</mat-label>
          <input  matInput
                  type="text"
                  name="thc"
                  formControlName="thc"
                >
        </mat-form-field>
      </div>

      <div class="grid-item">
        <mat-form-field
              appearance="outline"
              class="select-conversion fields"  >
          <mat-label >THC To</mat-label>
          <input  matInput
                  type="text"
                  name="thc2"
                  formControlName="thc2"
                >
        </mat-form-field>
      </div>

      <div class="grid-item  range-description fields">THC2</div>
      <div class="grid-item">
        <mat-form-field appearance="outline"  class="location-assignment fields">
          <mat-label >THC From</mat-label>
          <input  matInput
                  type="text"
                  name="thca"
                  formControlName="thca"
                >
        </mat-form-field>
      </div>

      <div class="grid-item">
        <mat-form-field  appearance="outline" class="select-conversion fields"  >
          <mat-label >THC2 To</mat-label>
          <input  matInput
                  type="text"
                  formControlName="thca2"
                  name="thca2"
                >
        </mat-form-field>
      </div>

      <div class="grid-item  range-description fields">CBD</div>
      <div class="grid-item">
        <mat-form-field appearance="outline"  class="location-assignment fields">
          <mat-label >CBD From</mat-label>
          <input  matInput
                  type="text"
                  name="cbd"
                  formControlName="cbd"
                >
        </mat-form-field>
      </div>

      <div class="grid-item">
        <mat-form-field  appearance="outline" class="select-conversion fields"  >
          <mat-label >CBD To</mat-label>
          <input  matInput
                  type="text"
                  name="cbd2"
                  formControlName="cbd2"
                >
        </mat-form-field>
      </div>

      <div class="grid-item  range-description fields">CBD A</div>
      <div class="grid-item">
        <mat-form-field appearance="outline"  class="location-assignment fields">
          <mat-label >CBD A From</mat-label>
          <input  matInput
                  type="text"
                  name="cbda"
                  formControlName="cbda"
                >
        </mat-form-field>
      </div>

      <div class="grid-item">
        <mat-form-field  appearance="outline" class="select-conversion fields"  >
          <mat-label >CBD A To</mat-label>
          <input  matInput
                  type="text"
                  name="cbda2"
                  formControlName="cbda2"
                >
        </mat-form-field>
      </div>

      <div class="grid-item range-description fields">CBN</div>

      <div class="grid-item">
          <mat-form-field appearance="outline"  class="location-assignment fields">
            <mat-label >CBN From</mat-label>
            <input  matInput
                    type="text"
                    name="cbn"
                    formControlName="cbn"   >
          </mat-form-field>
      </div>

      <div class="grid-item">
          <mat-form-field  appearance="outline" class="select-conversion fields"  >
            <mat-label >CBN To</mat-label>
            <input  matInput
                    type="text"
                    name="cbn2"
                    formControlName="cbn2"  >
          </mat-form-field>
      </div>


      <div *ngIf="!inventoryItem"class="grid-item">
        <mat-form-field  appearance="outline" class="select-conversion fields"  >
          <mat-label >MG CBD</mat-label>
          <input  matInput
                  type="text"
                  name="mGCBD"
                  formControlName="mGCBD"  >
          </mat-form-field>
      </div>

      <div class="grid-item range-description fields"></div>

      <div *ngIf="!inventoryItem" class="grid-item">
        <mat-form-field  appearance="outline" class="select-conversion fields"  >
          <mat-label >MG THC</mat-label>
          <input  matInput
                  type="text"
                  name="mGTCH"
                  formControlName="mGTCH" >
        </mat-form-field>
      </div>

      <div *ngIf="!inventoryItem" class="grid-item">
        <mat-form-field  appearance="outline" class="select-conversion fields"  >
          <mat-label >Terpenes</mat-label>
          <input  matInput
                  type="text"
                  name="terpenes"
                  formControlName="terpenes"   >
        </mat-form-field>
      </div>

  </div>

  <div *ngIf="!inventoryItem"
       class="grid-item">
    <mat-slide-toggle
        formControlName="childProof"
            >
    <mat-label>Child Proof</mat-label>
    </mat-slide-toggle>
  </div>
</div>
