<div *ngIf="(style$ | async) as styles"></div>
<div class="parent-container">

  <div *ngIf="(action$ | async)"></div>

  <ng-container [ngTemplateOutlet]="isSearchSelectorOn"></ng-container>

  <div *ngIf="value" class="loader">
    <mat-progress-bar mode="determinate" [value]="value"></mat-progress-bar>
  </div>
     
      <div class="orders-container">
        <div  *ngIf="menuItems"

              [class]="ordersListClass"
              infiniteScroll
              [infiniteScrollDistance]="2"
              [infiniteScrollThrottle]="50"
              (scrolled)="onScrollDown()"
              (scrolledUp)="onScrollUp()"
              [scrollWindow]="false">

          <div class="grid-flow scroller">
            <div *ngFor="let menuItem of menuItems; let i = index">
              <app-menu-item-card
                                [id]        ="menuItem.id"
                                [retail]    ="menuItem.retail"
                                [name]      ="menuItem.name"
                                [menuItem]  ="menuItem"
                                [bucketName]="bucketName"
                                class       ="grid-item"
                                (outPutLoadMore)  ='moveNext($event)'
              ></app-menu-item-card>
            </div>

          </div>
        </div>
      </div>


  <div [hidden]="true"  class="slidein paging-alignment">
      <div> {{searchDescription}} </div>
      <div *ngIf="endOfRecords"> ...all items loaded.</div>
  </div>

  <div class="floating-info slidein loader"  *ngIf="loading && !endOfRecords" >
    <mat-spinner></mat-spinner>
  </div>

</div>

<ng-template #searchSelector>
  <div *ngIf="searchForm">
    <search-debounce-input
       [searchForm]="searchForm"
       [itemNameControl]="'itemName'"
       (outPutMethod)="refreshSearch($event)">
      <div #fieldDescription>Search Items</div>
    </search-debounce-input>
    <mat-divider></mat-divider>
  </div>
</ng-template>
