@import "/src/mixins.scss";

.parent-container {
  overflow: hidden;
  height: 100%;
}

.card-container {
  overflow-x: hidden;
}

.grid-flow-single {
  --gap: 5px;
  margin-top: 2px;
  margin-right: 2px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: 1fr;
  overflow-y: visible;
}

.flex-row {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  gap: 10px;
}

.grid-flow {

  --gap: 5px;
  margin-top: 2px;
  margin-right: 2px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fill, minmax(150px, 1fr) );
  overflow-y: visible;

  @include for-tablet-landscape-up {
    --gap: 5px;
    margin-top: 2px;
    margin-right: 2px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat( auto-fill, minmax(125px, 1fr) );
    overflow-y: visible;
  }

  @include for-phone-only {
    --gap: 5px;
    margin-top: 2px;
    margin-right: 2px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat( auto-fill, minmax(115px, 1fr) );
    overflow-y: visible;
  }
}

.grid-flow-app-margins {
  padding-right: 50px;
}

.grid-flow-custom {
  grid-template-columns: repeat( auto-fill, minmax(150px, 1fr) );
}

.grid-item {
  // align-items: flex-end;
  max-height: 150px;
  min-height: 150px;
  height:     150px;
  overflow-x: scroll;
}


.orders-container {
  overflow-x: hidden;
  overflow-y: hidden;
  padding-right: 5px;
  margin: 5px;
}

.orders-list-single {

}

.orders-list {

  overflow-x: hidden;
  overflow-y: auto;
  height: 85vh;
  padding: 3px;
  padding-right: 5px;
  @include  for-desktop-up {
    overflow-x: hidden;
    overflow-y: auto;
    height: 85vh;
  }

  @include for-phone-only {
    overflow-x: hidden;
    overflow-y: auto;
    height: 65vh;
  }

  @include for-tablet-landscape-up {
    overflow-x: hidden;
    overflow-y: auto;
    height: 85vh;
  }

  @include horizontal-tablet  {
    overflow-x: hidden;
    overflow-y: auto;
    height: 75vh;
  }

}

.c1::-webkit-scrollbar {
  width: 45px;
  overflow-y: scroll;
  background: rgb(91, 93, 94);
  box-shadow: inset 0 0 4px #221c1c;
}

.c1::-webkit-scrollbar-thumb {
  background: rgb(165, 165, 168);
}

.c1::-webkit-scrollbar-track {
  background-color: #262c36;
}

.mat-dialog-actions {
  justify-content: center;
}

.end-of-line {
  float: left;
}

.paging-alignment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 5px;
  margin-top: 3px;
  font-size: .9em;
  font-weight: 300;
}

.loader {
  margin-bottom: 15px;
}

.floating-info {
  position: fixed;
  top     : 150px;
  z-index : 100;
  padding-right: 10px;
  overflow-x: visible;
}

.spinner-loader {
  z-index: 50;
}

.slidein {
  animation-duration    : 500ms;
  animation-name        : fadein;
}

@keyframes fadein {
  from {
    opacity: 5%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes slidein {
  from {
      margin-left: -20%;
  }
  to {
      margin-left: 0%;
  }
}

.text-max-width {
  max-width: 200px;
}

button {
  width: 100px;
  height: 25px;
  margin: 5px 5px 5px 50px;
}
