@import "/src/mixins.scss";

.parent-container {
  overflow: hidden;
  height: calc(100vh - 50px);
  // display: flex;
  // flex-direction: row;
  @include for-tablet-landscape-up {
    height: calc(100vh - 125px);
  }

  @include for-phone-only {
    height: calc(100vh - 125px);
  }
}

.card-container {
  overflow-x: hidden;
}

.grid-flow-single {
  --gap: 5px;
  margin-top: 2px;
  margin-right: 2px;
  display: grid;
  gap: var(--gap);
  grid-template-columns:  repeat( auto-fill, minmax(400px, 1fr) );;
  overflow-y: visible;
  grid-auto-flow: dense;
  grid-auto-flow: column;
  max-height: calc(70vh - 125px);
}

.grid-max-height {

}

.horizontal-view {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
  max-height: 175px;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 5px;
  margin-bottom: 5px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;

  @include for-tablet-landscape-up {
    --gap: 5px;
    margin-top: 2px;
    margin-right: 2px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat( auto-fill, minmax(325px, 1fr) );
    overflow-y: visible;
  }

  @include for-phone-only {
    --gap: 5px;
    margin-top: 2px;
    margin-right: 2px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat( auto-fill, minmax(325px, 1fr) );
    overflow-y: visible;
  }

}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
}

div.mat-chip-list-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .mat-chip {
    flex: 0 0 auto;
  }
}

.justify-content {
  justify-content: center;
  align-items: center;
}

.grid-flow-categories {
  --gap: 5px;
  top: 0px;
  position: inherit;
  margin-top: 5px;
  margin-right: 2px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fill, minmax(75px, 1fr) );
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
}

.grid-flow {
  --gap: 5px;
  margin-top: 2px;
  margin-right: 2px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fill, minmax(125px, 1fr) );
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
}

.grid-flow-app-margins {
  padding-right: 50px;
}

.grid-flow-custom {
  grid-template-columns: repeat( auto-fill, minmax(150px, 1fr) );
}

.grid-item {
  padding-top     : 2px;
  padding-bottom  : 2px;
  height          : 165px;
}

.orders-container {
  overflow-x   : hidden;
  overflow-y   : auto;
  padding-right: 5px;
  margin       : 5px;
  padding-bottom: 10px;
}

.orders-list {
  overflow-x: hidden;
  overflow-y: auto;
  height: 85vh;
  padding: 3px;
  padding-right: 10px;
  @include  for-desktop-up {
    overflow-x: hidden;
    overflow-y: auto;
    height: 85vh;
  }

  @include for-phone-only {
    overflow-x: hidden;
    overflow-y: auto;
    height: 65vh;
  }

  @include for-tablet-landscape-up {
    overflow-x: hidden;
    overflow-y: auto;
    height: 85vh;
  }

  @include horizontal-tablet  {
    overflow-x: hidden;
    overflow-y: auto;
    height: 75vh;
  }
}

// #scrollstyle_1::-webkit-scrollbar {
// 	width: 25px;
// 	background-color: #F5F5F5;
//   margin-left: 5px;
//   overflow-y: auto;
//   overflow-x: hidden;
// }

// /** STYLE 7 */
// #scrollstyle_1::-webkit-scrollbar-track {
// 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// 	background-color: #F5F5F5;
// 	border-radius: 10px;
// }

// #scrollstyle_1::-webkit-scrollbar-thumb {
// 	border-radius: 10px;
// 	background-image: -webkit-gradient(linear,
// 									   left bottom,
// 									   left top,
// 									   color-stop(0.44, rgb(122,153,217)),
// 									   color-stop(0.72, rgb(73,125,189)),
// 									   color-stop(0.86, rgb(28,58,148)));
// }

.mat-dialog-actions {
  justify-content: center;
}

.end-of-line {
  float: left;
}

.paging-alignment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 5px;
  margin-top: 3px;
  font-size: .9em;
  font-weight: 300;
}

.loader {
  margin-top: 10px;
  margin-bottom: 15px;
}

.floating-info {
  position: fixed;
  top     : 350px;
  z-index : 100;
  padding-right: 10px;
  overflow-x: visible;
}

.spinner-loader {
  z-index: 50;
}

.slidein {
  animation-duration    : 500ms;
  animation-name        : fadein;
}

@keyframes fadein {
  from {
    opacity: 5%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes slidein {
  from {
      margin-left: -20%;
  }
  to {
      margin-left: 0%;
  }
}

.text-max-width {
  max-width: 200px;
}

button {
  width: 100px;
  height: 25px;
  margin: 5px 5px 5px 50px;
}
