@import "/src/mixins.scss";

.parent-container {
  overflow: hidden;
  height: 100%;
}

.card-container {
  overflow-x: hidden;
}

.grid-flow {
  --gap: 5px;
  margin-top: 2px;
  margin-right: 2px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
  overflow-y: visible;

  @include for-tablet-landscape-up {
    --gap: 5px;
    margin-top: 2px;
    margin-right: 2px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat( auto-fit, minmax(125px, 1fr) );
    overflow-y: visible;
  }

  @include for-phone-only {
    --gap: 5px;
    margin-top: 2px;
    margin-right: 2px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat( auto-fit, minmax(115px, 1fr) );
    overflow-y: visible;
  }

}

.grid-flow-custom {
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
}

.grid-item {
  align-items: flex-end;
  max-height: 150px;
  min-height: 150px;
  height:     150px;
  overflow-x: scroll;
}

.grid-item :hover {
  box-shadow: 1px 1px 2px black, 0 0 25px rgb(33, 43, 33), 0 0 5px darkblue;
  // transition-timing-function: ease-in;
  // -moz-box-shadow: 0 0 10px rgb(195, 230, 180);
  // -webkit-box-shadow: 0 0 10px rgb(195, 230, 180);
  // box-shadow: 0 0 10px rgb(195, 230, 180);
}

.grid-item :active:hover {
  box-shadow: 1px 1px 2px rgb(158, 82, 82), 0 0 25px rgb(76, 175, 76), 0 0 5px rgb(84, 116, 90);
  // transition-timing-function: ease-in;
  // -moz-box-shadow: 0 0 10px #ccc;
  // -webkit-box-shadow: 0 0 10px #ccc;
  // box-shadow: 0 0 10px rgb(95, 97, 94);
}

.orders-container {
  overflow-x: hidden;
  overflow-y: hidden;
  padding-right: 5px;
  margin: 5px;
}

.orders-list {
  overflow-x: hidden;
  overflow-y: auto;
  height: 85vh;
}

.mat-dialog-actions {
  justify-content: center;
}

.end-of-line {
  float: left;
}

.paging-alignment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 5px;
  margin-top: 3px;
  font-size: .9em;
  font-weight: 300;
}

.loader {
  margin-bottom: 15px;
}

.floating-info {
  position: fixed;
  top     : 150px;
  z-index : 100;
  padding-right: 10px;
  overflow-x: visible;
}

.spinner-loader {
  z-index: 50;
}

.slidein {
  animation-duration    : 500ms;
  animation-name        : fadein;
}

@keyframes fadein {
  from {
    opacity: 5%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes slidein {
  from {
      margin-left: -20%;
  }
  to {
      margin-left: 0%;
  }
}

.text-max-width {
  max-width: 200px;
}

button {
  width: 100px;
  height: 25px;
  margin: 5px 5px 5px 50px;
}
