@import "/src/mixins.scss";

mat-card {
  width     : 100%;
  min-height: 75px;
  overflow-y: auto;
  overflow-x: hidden;

  @include for-phone-only  {
    width     : 100%;
    min-width : 335px;
    // max-width : 335px;
    min-height: 75px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
