
<div *ngIf="order &&
            order.clients_POSOrders  &&
            order.clients_POSOrders.client_Type &&
            order.clients_POSOrders.client_Type.name &&
            ( order.clients_POSOrders.client_Type.name.toLowerCase() === 'patient' ||
              order.clients_POSOrders.client_Type.name.toLowerCase() === 'caregiver'
             )
           ">
  <!-- {{order?.clients_POSOrders?.client_Type?.name.toLowerCase()}} -->
  <div *ngIf="(last30Days$| async) as last30Days">
    <app-progress-bar
        *ngIf="order.gramCount != 0"
        [value]="last30Days.gramTotal"
        [ratio]="gramRatio"
        [uom]="'Gram'"
        [percentage]="gramCountProgress">
        Last 30 Days Grams
    </app-progress-bar>
  </div>
</div>

<div class="bars" *ngIf="order&&  (order?.gramCount != 0
          || order?.concentrateCount != 0
          || order?.extractCount != 0
          || order?.liquidCount != 0
          || order?.seedCount != 0 )" >
    <app-progress-bar
        *ngIf="order.gramCount != 0"
        [value]="order.gramCount"
        [ratio]="gramRatio"
        [uom]="'Gram'"
        [percentage]="gramCountProgress">
        Gram
    </app-progress-bar>

    <app-progress-bar
        *ngIf="order.concentrateCount != 0"
        [value]="order.concentrateCount"
        [ratio]="concentrateCountRatio"
        [percentage]="concentrateCountProgress">
        Concentrate
    </app-progress-bar>

    <app-progress-bar
        *ngIf="order.extractCount != 0"
        [value]="order.extractCount"
        [ratio]="extractRatio"
        [percentage]="extractCountProgress">
        Extract
    </app-progress-bar>

    <app-progress-bar
        *ngIf="order.liquidCount != 0"
        [value]="order.liquidCount"
        [ratio]="28"
        [percentage]="liquidCountProgress">
        Liquid
    </app-progress-bar>

    <app-progress-bar
        *ngIf="order.seedCount != 0"
        [value]="order.seedCount"
        [ratio]="seedCountRatio"
        [percentage]="seedCountProgress">
        Seed
    </app-progress-bar>

</div>

