
<div class="bars" *ngIf="order&&  (order?.gramCount != 0
          || order?.concentrateCount != 0
          || order?.extractCount != 0
          || order?.liquidCount != 0
          || order?.seedCount != 0 )" >

    <app-progress-bar
        *ngIf="order.gramCount != 0"
        [value]="order.gramCount"
        [ratio]="28"
        [percentage]="gramCountProgress">
        Gram
    </app-progress-bar>

    <app-progress-bar
        *ngIf="order.concentrateCount != 0"
        [value]="order.concentrateCount"
        [ratio]="28"
        [percentage]="concentrateCountProgress">
        Concentrate
    </app-progress-bar>

    <app-progress-bar
        *ngIf="order.extractCount != 0"
        [value]="order.extractCount"
        [ratio]="28"
        [percentage]="extractCountProgress">
        Extract
    </app-progress-bar>

    <app-progress-bar
        *ngIf="order.liquidCount != 0"
        [value]="order.liquidCount"
        [ratio]="28"
        [percentage]="liquidCountProgress">
        Liquid
    </app-progress-bar>

    <app-progress-bar
        *ngIf="order.seedCount != 0"
        [value]="order.seedCount"
        [ratio]="28"
        [percentage]="seedCountProgress">
        Seed
    </app-progress-bar>

</div>

