@import "/src/mixins.scss";

mat-card {
  width     : 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2px !important;
  @include for-phone-only  {
    width     : 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

mat-card-content {
  padding: 2px !important;
}
mat-card-subtitle {
  padding: 2px !important;
}

.grid-demo {
  display: grid;
  width: 95%;
  grid-template-columns:repeat( auto-fit, minmax(75px, 1fr) );
  gap: 5px;
  margin: 5px;
}

.grid-contact {
  display: grid;
  grid-template-columns: 70px 150px;
  justify-content: space-between;
  width: 80%;
  gap: 5px;
  margin-top: 6px;
}

.grid-item-button {
  margin-top: -15px;
  margin-bottom: 0px;
  align-items: center;
}

.transaction-data {
  display: grid;
  grid-template-columns: 60px 1fr;
  overflow-y: auto;
  overflow-x: hidden;
}

.float-left {
  float: left;
}

.new-button {
  margin-top: 4px;
}
