
<mat-card *ngIf="order && order.clients_POSOrders; trackBy: trackByFn">
  <mat-card-content>
    <div class="grid-demo">
      <div class="grid-contact">
        <div> Customer </div>
        <div class="grid-item float-left">
          {{order?.clients_POSOrders?.firstName}} {{order?.clients_POSOrders?.lastName}}
        </div>
        <div > Phone </div>
        <div> {{order?.clients_POSOrders?.phone}}</div>
        <div > Account   </div>
        <div> {{order?.clients_POSOrders?.accountNumber}}</div>
        <div > Type  </div>
        <div *ngIf="order.clients_POSOrders && order.clients_POSOrders.client_Type">{{order?.clients_POSOrders?.client_Type.name}}</div>
        <div > Points </div>
        <div> {{order?.clients_POSOrders?.loyaltyPoints}} | {{ order?.clients_POSOrders?.loyaltyPointValue | currency }} </div>
        <div > Age </div>
        <div> {{order?.clients_POSOrders?.age}} | DOB ({{order?.clients_POSOrders?.dob | date : 'shortDate' }}) </div>
      </div>

      <div >
        <div *ngIf="user?.roles != 'user' && (!disableActions || canRemoveClient)" >
          <button mat-button
                  (click)="clearClient()">
              <mat-icon>clear</mat-icon>Clear
          </button>
        </div>

        <div *ngIf="!disableActions && order.clientID !=0">
          <button mat-button
                  (click)="openClient()">
              <mat-icon>open_in_new</mat-icon> View
          </button>
        </div>
      </div>

    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="!disableActions && !order.clients_POSOrders">
  <div class="grid-demo" *ngIf="transactionSettings?.showCustomerOption || mainPanel">
    <div >
      <app-client-search-selector
        (itemSelect)="assignCustomer($event)">
      </app-client-search-selector>
    </div>
    <div>
      <button mat-button
              (click)="addClient()">
              <mat-icon>add</mat-icon>New
      </button>
    </div>
  </div>

  <div class="grid-demo"
       *ngIf="transactionSettings?.showOrderName || mainPanel">
    <div>
      <app-value-fields
        [inputForm]="orderNameForm"
        [fieldsClass]="'fontsmallest'"
        [fieldName]="'name'">
        Order Name
      </app-value-fields>
    </div>
  </div>

</mat-card>
