
<div *ngIf="category$ | async; else loading">
  <form [formGroup]="categoryForm">

    <div fxLayout="row" fxLayoutAlign="space-around center" >

      <div  fxLayout="column">

          <div  fxLayout="row">
            <div  fxLayout="column">
              <h2>Edit Add</h2>

              <div>
                <mat-form-field appearance="outline">
                  <mat-label >Name</mat-label>
                  <input matInput
                        type="text"
                        formControlName="name"
                        class="form-control" >
                </mat-form-field>
              </div>

              <div>
                <mat-form-field appearance="outline">
                  <mat-label >Category Type</mat-label>
                  <input matInput
                        type="text"
                        formControlName="productCategoryType"
                        class="form-control" >
                </mat-form-field>
              </div>

              <div>
                <mat-form-field appearance="outline">
                  <mat-label >Quantity Type</mat-label>
                  <input matInput
                        type="text"
                        formControlName="quantityType"
                        class="form-control" >
                </mat-form-field>
              </div>

            </div>
          </div>
          <mat-divider></mat-divider>
          <div  fxLayout="row">
            <div  fxLayout="column">
              <button mat-raised-button class="form-update" color="primary" (click)="update()">Add / Edit</button>
            </div>
              <div  fxLayout="column">
                <button mat-raised-button class="form-delete" color="primary" (click)="delete()">Delete</button>
              </div>
          </div>

          <div>
             <button mat-raised-button class="form-update" color="primary" (click)="cancel()">Cancel</button>
          </div>
      </div>


    </div>

  </form>
</div>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

