.form-update  {
  float: left;
  margin: 2px 2px 2px 2px;
}

.form-delete {
  float: right;
  margin: 2px 2px 2px 2px;
}

// .grid-buttons {
//   display: grid;
//   grid-template-columns: repeat(3, 75px);
//   gap: 10px;
//   margin-top: 10px;
// }
.grid-buttons {
  --gap: 10px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
}

.center-item {

    margin: 0;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);

}
