<mat-card >
  <mat-card-content>
    <div class="button-grid">

      <div class="span-column">
        <button class="button"
                mat-button
                (click)="resetSearch()">
                <mat-icon>restart_alt</mat-icon>
          <span>Reset</span>
        </button>
      </div>

      <div class="span-column">
        <button class="button"
                mat-button
                (click)="refreshSearch()">
                <mat-icon>refresh</mat-icon>
          <span>Refresh</span>
        </button>
      </div>

      <div class="span-column" *ngIf="isAuthorized">
        <mat-date-range
            [inputForm]      ="scheduleDateForm"
            (outputDateRange)="emitDatePickerData($event, 'schedule')">
            Schedule Date
        </mat-date-range>
      </div>

      <div class="span-column"  *ngIf="isAuthorized">
        <mat-date-range
            [inputForm]      ="sendDateForm"
            (outputDateRange)="emitDatePickerData($event, 'send')">
            Send Date
        </mat-date-range>
      </div>

      <div class="span-column"  *ngIf="isAuthorized">
        <mat-date-range
            [inputForm]      ="acceptedDateForm"
            (outputDateRange)="emitDatePickerData($event, 'accepted')">
            Accepted Date
        </mat-date-range>
      </div>


      <div class="span-column"  *ngIf="isAuthorized">
        <mat-date-range
            [inputForm]      ="paidDateForm"
            (outputDateRange)="emitDatePickerData($event, 'paid')">
            Paid Date
        </mat-date-range>
      </div>

      <div  class="span-column"
            [formGroup]="inputForm"
            *ngIf="(sites$  | async) as sites">

        <mat-form-field appearance="outline">
            <mat-label>Destination </mat-label>
              <mat-select
                        type             ="number"
                        (selectionChange)="setDestinationSite($event)"
                        formControlName  ="destinationID" >
                <mat-option *ngFor       ="let item of sites"
                            [value]      ="item.id">
                  {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
      </div>

      <div  class="span-column"
            [formGroup]="inputForm"
            *ngIf="(type$ | async) as type">
        <mat-form-field appearance="outline" >
          <mat-label>Type </mat-label>
            <mat-select
                         formControlName  ="type">
              <mat-option  [value]="''">
                All
              </mat-option>
              <mat-option *ngFor       ="let item of type"
                          [value]      ="item.name">
                {{ item.name }}
              </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div  class="span-column"
            [formGroup]="inputForm"
            *ngIf="(status$ | async) as status">
        <mat-form-field appearance="outline" >
          <mat-label>Status </mat-label>
            <mat-select
                      formControlName  ="status">
              <mat-option  [value]="''">
                All
              </mat-option>
              <mat-option *ngFor       ="let item of status"
                      [value]="item.name">
                {{ item.name }}
              </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="grid-item"  [formGroup]="inputForm"  *ngIf="inventoryStatusList" >
        <mat-form-field appearance="outline">
          <mat-label>Active</mat-label>
            <mat-select
                      type="number"
                      formControlName="activeStatus"
                    >
            <div>
              <mat-option *ngFor="let item of inventoryStatusList" [value]="item.id">
                {{ item.name }}
              </mat-option>
            </div>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
  </mat-card-content>
</mat-card>

<ng-template #loading >
  <mat-spinner></mat-spinner>
</ng-template>


