<div *ngIf="(bucket$ | async) as item">
  <div *ngIf="(menuItem$ | async) as item"></div>
  <div *ngIf="(newItem$ | async) as item"></div>
  <div *ngIf="(removeItem$| async) as item"></div>
  <div *ngIf="(uiHomePage$ | async) as uiHome"></div>

  <ng-container
    [ngTemplateOutlet]="promptItemView"
    [ngTemplateOutletContext]="{$implicit: promptMenuItem}">
  </ng-container>

  <ng-template #promptMenuItemView let-promptMenuItem>
    <div class="grid-items">

      <ng-container
        [ngTemplateOutlet]="menuItemCard"
        [ngTemplateOutletContext]="{$implicit: promptMenuItem}">
      </ng-container>

      <div  *ngIf="chosenCount || (chosenCount != '' && chosenCount != undefined)"
            class="button-item">
        <button mat-button
                class="buttons"
                color="warn"
                (click)="removeItem()">
                {{chosenCount}}`
        <mat-icon >delete</mat-icon> Remove
        </button>
      </div>

      <div *ngIf="promptMenuItem.prompt_Products?.onlineShortDescription"
          class="span-column onlineShortDescription"
          [innerHTML]="promptMenuItem.prompt_Products?.onlineShortDescription">
      </div>
    </div>

  </ng-template>

  <ng-template #menuItemCard let-item let-type="type">

    <app-menu-item-card
        *ngIf             ="item"
        [isApp]           ="isApp"
        [androidApp]      ="androidApp"
        [displayType]     ="type"
        [ignoreType]      ='true'
        [id]              ="item?.id"
        [name]            ="item?.name"
        [retail]          ="item?.retail"
        [menuItem]        ="item.prompt_Products"
        [bucketName]      ="bucketName"
        [class]           ="'grid-item'"
        [uiHomePage]      ="uiHomePage"
        [isStaff]         ="isStaff"
        [promptModifier]  ="true"
        [smallDevice]     ="phoneDevice"
        [styleMatCard]    ='styleMatCard'
        [disableImages]   ="false"
        [bucketName]      ="bucketName"
        [imageUrl]       = "imageURL"
        (addItem)         ="addItem($event)" >
    </app-menu-item-card>
  </ng-template>
</div>
