<div *ngIf="(bucket$ | async) as item"></div>
<div *ngIf="(menuItem$ | async) as item"></div>
<div *ngIf="(newItem$ | async) as item"></div>
<div *ngIf="(removeItem$| async) as item"></div>

<div *ngIf="promptMenuItem"
      class="grid-items">

  <div>
    <button mat-button
        color="primary"
        class="buttons"
        (click)="addItem()">
      <div class="grid-image-button">
        <!-- <div><mat-icon>add</mat-icon></div> -->
        <div>
          {{promptMenuItem?.prompt_Products?.name}}
        </div>
      </div>
    </button>
  </div>

  <div *ngIf ="imageURL" class="image" (click)="addItem()">
    <img class="image" [src]="imageURL">
  </div>

  <div>
    <button mat-button
        color="primary"
        class="buttons"
        (click)="addLFTHalf()">
      <div class="grid-image-button">
        <mat-icon>Lft 1/2</mat-icon>
      </div>
    </button>
  </div>

  <div>
    <button mat-button
        color="primary"
        class="buttons"
        (click)="addRTHalf()">
      <div class="grid-image-button">
        <mat-icon>Rt 1/2</mat-icon>
      </div>
    </button>
  </div>

  <div  *ngIf="chosenCount || (chosenCount != '' && chosenCount != undefined)"
        class="button-item">
    <button mat-button
            class="buttons"
            (click)="removeItem()">
     <mat-icon>delete</mat-icon> Remove
    </button>
  </div>

  <div
      class="span-column onlineShortDescription"
      [innerHTML]="promptMenuItem.prompt_Products?.onlineShortDescription">
  </div>

</div>
