@import "/src/mixins.scss";

button {
  min-width: 75px;
  white-space: pre-wrap !important;
}


.buttons {
  height: 75px;
  width: 100%;
  @include for-phone-only {
    margin: 2px;
  }
}


.item-count {
  font-style : italic;
  font-weight: 500;
  font-size  : .9em;
}

.image {

  height: 75px;
  width : 75px;

  @include for-phone-only {
    height: 50px;
    width : 50px;
  }
}

.image:hover {
  // transform: scale(1.03);
}

.item-text:hover {
  // transform: scale(1.03);
}

.button-item {
  overflow-y: hidden;
  overflow-x: hidden;
}


.item-text {
  text-overflow: ellipsis;
}

.freeze-text {
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}


.grid-items-buttons {
  --gap: 5px;
  display: grid;
  gap: var(--gap);
  grid-auto-flow: row;
  grid-template-columns: repeat( auto-fit, minmax(75px, 1fr) );

  @include for-phone-only {
    --gap: 10px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: 75px 1f;
  }
}

.grid-button-text {

}

.grid-items {
  --gap: 10px;
  display: grid;
  gap: var(--gap);
  grid-auto-flow: row;
  grid-template-columns: repeat( auto-fit, minmax(105px, 1fr) );

  @include for-phone-only {
    --gap: 10px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat( auto-fit, minmax(105px, 1fr) );
  }

}

.span-column {
  grid-column-end: span 2;
}

.onlineShortDescription {
  margin-left: 20px;


  @include for-phone-only {
    height: 5px;
  }
}
