<div *ngIf="(closingProcedure$ | async) as closingProcedures"></div>
<mat-card *ngIf="(uiTransactions$ | async) as uiTransactions">

  <mat-card-title></mat-card-title>
  <mat-card-subtitle>
    POS Operations
  </mat-card-subtitle>

  <mat-card-content>
    <span>
      <button mat-raised-button (click)="refreshInfo()"><mat-icon>refresh</mat-icon>
      Refresh Sales Reports</button>
    </span>

    <span>
      <button mat-raised-button (click)="closeDay()">Close Day</button>
    </span>

    <span>
      <button mat-raised-button (click)="print()"> <mat-icon>print</mat-icon>Print</button>
    </span>

    <span>
      <button mat-raised-button (click)="email()"> <mat-icon>email</mat-icon>Email</button>
    </span>

    <span *ngIf="(uiTransactions && uiTransactions.dsiEMVNeteEpayEnabled) && dsiEMVSettings && isElectronApp">
      <button mat-raised-button (click)="emvDatacapBatchCards()"> <mat-icon>credit_card</mat-icon>Batch Close</button>
    </span>

    <span *ngIf="(uiTransactions && uiTransactions.dsiEMVNeteEpayEnabled) && dsiEMVSettings && isElectronApp">
      <button mat-raised-button (click)="emvDataCapBatchInquire()"> <mat-icon>credit_card</mat-icon>Batch Inquire</button>
    </span>

    <app-list-printers-electron
        [printerName]      ="printerName"
        (outputPrinterName)="setPrinter($event)" >
      Receipt Printer
    </app-list-printers-electron>

    <span *ngIf="runningClose">
      <mat-spinner [diameter]="25" class="spinner"></mat-spinner>
    </span>
    <span *ngIf="balanceSheetsClosed">
      {{balanceSheetsClosed}}.
    </span>
    <span *ngIf="closeResult">
      {{closeResult}}
    </span>

    <div *ngIf="batchSummary  && isElectronApp">
      <mat-card>
        <mat-card-subtitle>Batch Inquire</mat-card-subtitle>
        <div class="grid-container" >
          <div>Batch No</div>
          <div>{{batchSummary?.BatchNo}}</div>
          <div>Net Batch Total</div>
          <div>{{batchSummary?.NetBatchTotal}}</div>
          <div>Batch Item Count</div>
          <div>{{batchSummary?.BatchItemCount}}</div>
        </div>
      </mat-card>
    </div>

    <div  *ngIf="batchClose  && isElectronApp">
      <mat-card>
        <mat-card-subtitle>Bath close summary</mat-card-subtitle>
        <div class="grid-container">
          <div>Batch No</div>
          <div>{{batchClose?.BatchNo}}</div>
          <div>Net Batch Total</div>
          <div>{{batchClose?.NetBatchTotal | currency}}</div>
          <div>Batch Item Count</div>
          <div>{{batchClose?.BatchItemCount}}</div>
        </div>
      </mat-card>
    </div>

    <div *ngIf="(email$ | async) as item; emailing"></div>
    <ng-template #emailing>
      <div *ngIf="emailSending">
        <mat-spinner [diameter]="50"></mat-spinner>
        ...emailing
      </div>
    </ng-template>


    <div *ngIf="closingCheck$ | async as closing">
      <div>
        <close-day-validation
          [closeDayValidation]="closing">
        </close-day-validation>
      </div>
    </div>

    <mat-divider></mat-divider>
  </mat-card-content>

</mat-card>

<div class="mat-divider">
  <!-- <mat-divider></mat-divider> -->
</div>

<div *ngIf="iBalanceSheet"
     class="grid-sales-cards">
  <mat-card>
    <mat-card-content>
      <div class="grid-sales-cards ">
        <div>
          <div>
            Start {{iBalanceSheet.startTime | date: 'short'}}
          </div>
          <div>
            ID {{iBalanceSheet.id}}
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div #printsection class="container">
  <div class=" grid-sales-cards " *ngIf="iBalanceSheet && localSite">
      <div>
        <sales-tax-report
              [site]="localSite"
              [dateFrom]="dateFrom"
              [dateTo]="dateTo"
              [zrunID]="zrunID" >
            <mat-icon>receipt</mat-icon>  Sales
            <mat-divider></mat-divider>
        </sales-tax-report>
      </div>

     <div>
       <item-sales-card
              [site]="localSite"
              [dateFrom]="dateFrom"
              [dateTo]="dateTo"
              [zrunID]="zrunID"
              [removeGiftCard]="true"
              [groupBy]="'items'">
            <mat-icon>menu</mat-icon>  Items
            <mat-divider></mat-divider>
        </item-sales-card>
        <item-sales-card
            [site]="localSite"
            [dateFrom]="dateFrom"
            [dateTo]="dateTo"
            [zrunID]="zrunID"
            [removeGiftCard]="false"
            [groupBy]="'items'">
          <mat-icon>menu</mat-icon>  Gift Card / Store Credit Issuances
          <mat-divider></mat-divider>
        </item-sales-card>
      </div>
      
      <div>
        <payment-report
              [site]    ="localSite"
              [dateFrom]="dateFrom"
              [dateTo]  ="dateTo"
              [zrunID]  ="zrunID"
              [groupBy] ="'paymentMethod'"
              >
            <mat-icon>credit_card</mat-icon>  Payment Methods
            <mat-divider></mat-divider>
        </payment-report>

        <payment-report
              [site]    ="localSite"
              [dateFrom]="dateFrom"
              [dateTo]  ="dateTo"
              [zrunID]  ="zrunID"
              [groupBy]="'orderEmployeeCount'">
              <mat-icon>people_alt</mat-icon> Employee Orders By Hour
        </payment-report>

        <payment-report
              [site]    ="localSite"
              [dateFrom]="dateFrom"
              [dateTo]  ="dateTo"
              [zrunID]  ="zrunID"
              [groupBy] ="'Employee'"
              >
            <mat-icon>people</mat-icon>  Employee Sales
            <mat-divider></mat-divider>
        </payment-report>
      </div>
  </div>

  <div
      class="section-gap"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      flLayoutGap="20px">
    <mat-card *ngIf="iBalanceSheet && iBalanceSheet.startTime" class="mat-card" fxFlex="100">
        <app-widget-card [dateFrom]  ="iBalanceSheet.startTime"
                         [dateTo]    ="iBalanceSheet.startTime"
                         [zrunID]    ="zrunID"
                         [site]      ='localSite'
                         groupBy     ="orderemployeecount"
                         chartName   ="Employee Order Count"
          ></app-widget-card>
    </mat-card>
  </div>

</div>
  <!-- <div class ="container">

  </div> -->


