<mat-card>

  <mat-card-title></mat-card-title>
  <mat-card-subtitle>
    POS Operations
  </mat-card-subtitle>

  <mat-card-content>
    <button mat-raised-button (click)="closeDay()">Close Day</button>
    <span *ngIf="runningClose">
      <mat-spinner [diameter]="25" class="spinner"></mat-spinner>
    </span>
    <span *ngIf="balanceSheetsClosed">
      {{balanceSheetsClosed}}.
    </span>
    <span *ngIf="closeResult">
      {{closeResult}}
    </span>

    <div *ngIf="canCloseOrderResults">

      <div *ngIf="canCloseOrderResults.openPrintedOrders.length > 0">
        <mat-card>
          <mat-card-subtitle>Resolution required.</mat-card-subtitle>
          <mat-card-content>

            <div *ngIf="canCloseOrderResults.openPrintedOrders.length == 1">
              There is {{canCloseOrderResults.openPrintedOrders.length}} order with printed items.
            </div>
            <div *ngIf="canCloseOrderResults.openPrintedOrders.length > 1">
              There are {{canCloseOrderResults.openPrintedOrders.length}} orders with printed items.
            </div>

            <div *ngFor="let item of canCloseOrderResults.openPrintedOrders">
              <button mat-raised-button color="warn" (click)="ordersWindow()">Resolve Open Orders with printed Items</button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div *ngIf="canCloseOrderResults.openPaidOrders.length > 0">
        <mat-card>
          <mat-card-subtitle>Resolution required.</mat-card-subtitle>
          <mat-card-content>
            <div *ngIf="canCloseOrderResults.openPaidOrders.length == 1">
              There is {{canCloseOrderResults.openPaidOrders.length }} order payments, but a non-zero balance.
            </div>
            <div *ngIf="canCloseOrderResults.openPaidOrders.length > 1">
              There are {{canCloseOrderResults.openPaidOrders.length }} orders payments, but a non-zero balance.
            </div>

            <div *ngFor="let item of canCloseOrderResults.openPaidOrders">
                <button mat-raised-button color="warn" (click)="ordersWindow()">Resolve</button>
            </div>
          </mat-card-content>
        </mat-card>

      </div>

      <!-- {{ canCloseOrderResults | json }} -->

    </div>

    <mat-divider></mat-divider>
  </mat-card-content>

</mat-card>

<div class="mat-divider">
  <!-- <mat-divider></mat-divider> -->
</div>

<div *ngIf="iBalanceSheet"
     class="grid-sales-cards">
  <mat-card>
    <mat-card-content>
      <div class="grid-sales-cards ">
        <div>
          <button mat-button (click)="refreshInfo()"><mat-icon>refresh</mat-icon>
          Refresh Sales Reports</button>
        </div>
        <div>
          <div>
            Start {{iBalanceSheet.startTime | date: 'short'}}
          </div>
          <div>
            ID {{iBalanceSheet.id}}
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="container">
  <div class=" grid-sales-cards " *ngIf="iBalanceSheet && localSite">

      <div >
        <app-sales-tax-report
              [site]="localSite"
              [dateFrom]="dateFrom"
              [dateTo]="dateTo"
              [zrunID]="zrunID"
              >
            <mat-icon>receipt</mat-icon>  Sales
            <mat-divider></mat-divider>
        </app-sales-tax-report>
      </div>

      <div >
        <item-sales-card
              [site]="localSite"
              [dateFrom]="dateFrom"
              [dateTo]="dateTo"
              [zrunID]="zrunID"
              [groupBy]="'items'"
              >
            <mat-icon>menu</mat-icon>  Items
            <mat-divider></mat-divider>
        </item-sales-card>
      </div>

      <div>
        <app-payment-report
              [site]    ="localSite"
              [dateFrom]="dateFrom"
              [dateTo]  ="dateTo"
              [zrunID]  ="zrunID"
              [groupBy] ="'PaymentMethod'"
              >
            <mat-icon>credit_card</mat-icon>  Payment Methods
            <mat-divider></mat-divider>
        </app-payment-report>

        <app-payment-report
              [site]    ="localSite"
              [dateFrom]="dateFrom"
              [dateTo]  ="dateTo"
              [zrunID]  ="zrunID"
              [groupBy] ="'Employee'"
              >
            <mat-icon>people</mat-icon>  Employee Sales
            <mat-divider></mat-divider>
        </app-payment-report>
      </div>

  </div>
</div>
  <!-- <div class ="container">

  </div> -->


