@import "/src/mixins.scss";

mat-icon {
  @media print {
    visibility: hidden;
  }
}
.mat-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  margin:5px;
}

.summary {
  margin: 5px;
  margin-left: 10px;
  width: 355px;
}

.grid-sales-cards {
  --gap: 15px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
  grid-auto-flow: dense;
  justify-content: center;
  align-content: center;
}

.container {
  margin-left: 10px;
  @include for-phone-only {
    margin-left: 0;
  }

}

.mat-card {
  width     : 100%;
  overflow-y: auto;
  overflow-x: auto;
}

.grid-container {
  display: grid;
  gap: var(--gap);
  margin: 10px;
  grid-template-columns: 1fr 1fr;
}
