<div *ngIf="(action$ | async) as action"></div>
<div *ngIf="(sheets$ | async) as list">

  <mat-card>
    <mat-card-title>Transfer Order</mat-card-title>
    <mat-card-content>
      <mat-button-toggle-group >
        <mat-button-toggle
              *ngFor="let item of list"
              type="button"
              [value]="item"
              (click)="transferOrder(item)"
              id="item.id">
          {{item?.name}}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-content>
  </mat-card>
</div>
