

<div *ngIf="(action$ | async) as action"></div>
<div *ngIf="(void$ | async) as void"></div>
<div *ngIf="(printing$ | async) as printing"></div>

<mat-card *ngIf="order">
  <mat-card-subtitle>
    <ng-content></ng-content>
    <div class="grid-header">
      <div>
        <app-order-header
          [hideButtonOptions]="hideButtonOptions"
          [qrOrder]="qrOrder"
          [order]="order">
        </app-order-header>
      </div>
      <div class="grid-items">

        <div *ngIf="!qrOrder && (!deviceInfo || !deviceInfo?.phoneDevice) && !hideButtonOptions">
          <button  class="cart-button"
                   mat-raised-button
                   color="accent"
                   (click)="editCart()">
            <div class="button-content">
              <div>
                <mat-icon class="no-margins" color="primary">shopping_cart</mat-icon>
              </div>
              <div>
                <mat-label class="no-margins-label">Cart</mat-label>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>

    <app-order-total
      [qrOrder]="qrOrder"
      [mainPanel]="mainPanel"
      [order]="order">
    </app-order-total>

    <div class="transaction-data" *ngIf="order?.creditBalanceRemaining > 0
                                          && order?.balanceRemaining != order?.creditBalanceRemaining">
      <div>
        Credit Balance
      </div>
      <div class="totals">
        {{ order?.creditBalanceRemaining  | currency }}
      </div>
      <div>
        Cash Or Other
      </div>
      <div class="totals">
        {{ order?.balanceRemaining | currency }}
      </div>
    </div>

    <div class="transaction-data" *ngIf="order?.creditBalanceRemaining == 0 ||
                                         order?.balanceRemaining == order?.creditBalanceRemaining" >
      <div>
        Remaining Balance
      </div>
      <div class="totals">
        {{ order?.balanceRemaining | currency }}
      </div>
    </div>

    <div class="transaction-data" >
      <div>
        Payments
      </div>
      <div class="totals">
        {{ order?.totalPayments  | currency }}
      </div>
    </div>
  </mat-card-subtitle>

  <mat-card-content *ngIf="order.posPayments">
    <div  *ngFor="let item of order.posPayments">

      <div class="payment-grid"
            *ngIf=" getPaymentViewA(item) ||
                    getPaymentViewB(item)
                  ">

        <ng-container *ngTemplateOutlet="tranTypeInfoView, context: {$implicit: item}"></ng-container>
        <ng-container *ngTemplateOutlet="editPaymentView,  context: {$implicit: item}"></ng-container>
        <ng-container *ngTemplateOutlet="cardPointCaptureView,  context: {$implicit: item}"></ng-container>
        <ng-container *ngTemplateOutlet="triPOSCaptureView,  context: {$implicit: item}"></ng-container>
        <ng-container *ngTemplateOutlet="dCapCaptureView,  context: {$implicit: item}"></ng-container>

        <ng-container *ngTemplateOutlet="cardInfoView,  context: {$implicit: item}"></ng-container>
        <ng-container *ngTemplateOutlet="tipView,  context: {$implicit: item}"></ng-container>
        <ng-container *ngTemplateOutlet="printButtonView,  context:  {$implicit: item}"></ng-container>
        <ng-container *ngTemplateOutlet ="voidActionView,  context:  {$implicit: item}"></ng-container>

        <div *ngIf="item.voidReason && item.voidReason != 0" >
          <mat-label class="void-info">
            {{item.voidReason}}
          </mat-label>
        </div>

      </div>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <div  *ngIf="!qrOrder && (!isUser && paymentsEqualTotal) || order?.service?.filterType == 1">
      <button mat-raised-button color="warn"  (click)="closeOrder()">
        <mat-icon >close</mat-icon>Close</button>
    </div>
  </mat-card-actions>

</mat-card>

<ng-template #cardPointCaptureView let-item>
  <div *ngIf="!qrOrder && (!isUser &&
            item?.paymentMethod?.name.toLowerCase() != 'stripe' &&
            item?.paymentMethod?.name.toLowerCase() != 'paypal' &&
            (item?.paymentMethod?.isCreditCard &&
              (uiTransactions && uiTransactions.cardPointPreAuth)) ||
              (item.account && !item.completionDate &&
              (uiTransactions && uiTransactions.cardPointPreAuth)
            ) )">
      <button mat-raised-button color='primary' (click)="capture(item)">
        Capture
        <br>
        {{ order.creditBalanceRemaining | currency}}
      </button>
  </div>
</ng-template>

<ng-template #dCapCaptureView  let-item>
  
  <div *ngIf="dCapViewEnabled(item)" >

    <div *ngIf="(order.creditBalanceRemaining != 0 && totalAuthPayments > 0 )">
      <button class="payment-buttons-sm" mat-raised-button color='primary' (click)="captureDCap(item, totalAuthPayments)">
          <mat-label>Complete  <br> {{ totalAuthPayments | currency }}</mat-label>
      </button>
    </div>

    <div  *ngIf="( order.creditBalanceRemaining > totalAuthPayments )">
      <button   class="payment-buttons-sm"
                style="width:125px"
                *ngIf="order.creditBalanceRemaining > totalAuthPayments"
                 mat-raised-button color='primary'
                (click)="incrementalAuthByRecordNo(item,  +(+order?.creditBalanceRemaining - +totalAuthPayments).toFixed(2))">
        <mat-label>Add <br> {{ order?.creditBalanceRemaining - totalAuthPayments | currency }}</mat-label>
      </button>
    </div> 

    <div  style="font-size:1.2em;margin-top:10px"  
          *ngIf="(order.creditBalanceRemaining != 0 && totalAuthPayments > 0 && item?.tipAmount > 0 )">
        Tip {{item?.tipAmount  | currency}}
    </div>

    <div *ngIf="( order.creditBalanceRemaining != 0 && totalAuthPayments > 0 ) || item.completionDate "
          style="font-size:1.2em;margin-top:10px">
      <button   color="warn"
                class="payment-buttons-sm"
                style="width:125px"
                mat-raised-button (click)="editPayment(item)">
        <mat-icon>edit</mat-icon><br>
          Edit Tip</button>
    </div> 

  </div>
</ng-template>

<ng-template #triPOSCaptureView let-item>
  <div *ngIf="!qrOrder && (
    (item?.paymentMethod?.isCreditCard &&
      (uiTransactions && uiTransactions.triposEnabled && !item.completionDate)) ||
      (item.account && !item.completionDate &&
      (uiTransactions && uiTransactions?.triposEnabled)
    ) && item.tranType === 'authorizationResponse')  " >

    <div *ngIf="order.creditBalanceRemaining !=  0 && totalAuthPayments > 0">
      <button class="payment-button-balance" 
              mat-raised-button 
              color='primary' 
              (click)="captureTriPOS(item)">
          <mat-label>Complete <br> {{ totalAuthPayments | currency }}</mat-label>
      </button>
    </div>

    <div  *ngIf="order.creditBalanceRemaining > totalAuthPayments ">
      <button   class="payment-button-balance"
                *ngIf="order.creditBalanceRemaining > totalAuthPayments"
                 mat-raised-button color='primary'
                (click)="incrementTriPOS(item)">
        <mat-label>Add <br> {{ order.creditBalanceRemaining - totalAuthPayments | currency }}</mat-label>
      </button>
    </div>

    <ng-container *ngTemplateOutlet="removeLastAuthView"></ng-container>
  </div>
</ng-template>

<ng-template #cardInfoView let-item>
  <div *ngIf="item?.paymentMethod?.isCreditCard && item?.cardNum" >
    {{item.cardNum}}
    <div *ngIf="item.cardHolder">
      <span >
        {{item.cardHolder}}
      </span>
    </div>
  </div>
</ng-template>

<ng-template #tranTypeInfoView let-item>
  <div *ngIf="item.paymentMethod && !getPaymentViewB(item)" class="grid-item">
    {{item?.paymentMethod?.name}}
    <div *ngIf="item.tranType">
      <br> {{ item?.tranType.replace('Response', '') }}
    </div>
    <span *ngIf="item.groupID != 0"> ({{item.groupID}})</span>
    <span *ngIf="item.voidReason"><mat-icon>void</mat-icon> </span>
    <div *ngIf="item?.paymentMethod?.isCash && item?.amountPaid > 0">
      <span *ngIf="item.amountPaid - item.amountReceived !=0">
        Due:
      </span>
    </div>
  </div>
</ng-template>

<ng-template #editPaymentView let-item>
  <div *ngIf="  !qrOrder &&
              ( !isUser &&
              ( item?.paymentMethod?.isCreditCard &&
              ( item.tranType  != 'refundResponse' )) ||
                item?.paymentMethod?.name.toLowerCase() != 'stripe' &&
                item?.paymentMethod?.name.toLowerCase() != 'paypal' &&
              (item.account && !item.completionDate && uiTransactions?.cardPointPreAuth))
              && !getPaymentViewB(item)
              " >
    <button [disabled]="item.voidReason" color="warn"
        mat-button (click)="editPayment(item)">
    <mat-icon>edit</mat-icon></button>
</div>
</ng-template>

<ng-template #tipView let-item>
  <div class="amount-paid" *ngIf="(item?.tranCode && item?.tranCode.toLowerCase()  != 'EMVPreAuth'.toLowerCase()) &&
                                  (item?.tranCode && item?.tranCode.toLowerCase()  != 'IncrementalAuth'.toLowerCase()) "
                                  >
                            
    <span *ngIf="item?.tranCode">
      {{item?.tranCode.replace('PreAuthCapture', 'Captured')}}
    </span>

    <span *ngIf="item.tranType === 'authorizationResponse' ">
      Paid: {{totalAuthPayments + +item.addedPercentageFee | currency}}
    </span>
    <span *ngIf="item.tranType != 'authorizationResponse'">
      Paid: {{item.amountPaid + +item.addedPercentageFee | currency}}
    </span>

    <div  *ngIf="item?.tipAmount > 0">
      Tip {{item.tipAmount  | currency}}
    </div>

    <div class="totals" *ngIf="item?.paymentMethod?.isCash && item?.amountPaid != 0">
      <span  *ngIf="item.amountPaid - item.amountReceived !=0">
        {{  (item.amountReceived + +item.addedPercentageFee - item.amountPaid)  | currency }}
      </span>
    </div>
  </div>
</ng-template>

<ng-template #voidActionView let-item>
  <div *ngIf="(authData$ | async) as auth">
    <div *ngIf="!qrOrder && (auth.voidPayment && item.completionDate)">
      <button mat-button
              [disabled]="(item.voidReason && item.voidReason != 0 && item.voidAmount == item.amountPaid)"
              class="payment-button-balance"
              color="warn"
              (click)="voidPayment(item)"  >
        <mat-icon>delete</mat-icon> Void
      </button>
    </div>
  </div>
</ng-template>

<ng-template #printButtonView let-item>
  <div *ngIf="!qrOrder  && ((!getPaymentViewB(item) && order.completionDate) || item.completionDate)">
    <button mat-raised-button
            class="payment-button-balance"
            (click)="printPaymentReceipt(item)"  >
       Print <br>
      <mat-icon>print</mat-icon>
    </button>
  </div>
</ng-template>

<ng-template #removeLastAuthView>
  <div *ngIf="incrementalAuth">
    <button class="payment-button-balance"
            color="warn" 
            mat-raised-button (click)="reverseIncrementalAuth(incrementalAuth)">
      <mat-label class="reverse-label">
        Reverse <br> Last Auth
      </mat-label>
    </button>
  </div>
</ng-template>
