@import "/src/mixins.scss";

mat-card {
  width     : 100%;
  // min-width : 335px;
  // max-width : 335px;
  // min-height: 155px;
  overflow-y: auto;
  overflow-x: hidden;

  @include for-phone-only  {
    width     : 100%;
    // width      : 335px;
    // min-width : 335px;
    // max-width : 335px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.grid-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.no-margins {
  margin: 1px;
  padding: 1px;
}
.no-margins-label {
  top: -18px;
  margin: 1px;
  padding: 1px;
  position: relative;
}

.button-content {
  display: flex;
  flex-direction: column;
  column-gap: 1px;
  height: 45px;
}

mat-icon {
  margin-bottom: 0px;
  padding-bottom: 2px;
}

mat-label {
  margin-bottom: 0px;
  padding-bottom: 2px;
}
.cart-button {
  margin-bottom: 10px;
  margin-left: 5px;
  width: 70px;
  height: 50px;
}

.grid-header {
  display: grid;
  width: 100%;
  grid-template-columns:  1fr 150px;
  gap: 5px;
}

.totals {
  font-size     : 1em;
  // white-space   : nowrap;
  // overflow      : hidden;
  // text-overflow : ellipsis;
  // text-transform: capitalize;
  float         : right;
  align-items   : flex-end;
  text-align    : right;
}

.transaction-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 300px;
  border-radius: 3px;
  margin: 5px 5px ;
  row-gap: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: larger;
}

.card-height {
  // height    : 155px;
  // min-height: 155px;
  // max-height: 155px;
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  font-size: larger;
}

.grid-item-button {
  margin-top: -15px;
  margin-bottom: 0px;
  height: 45px;
  font-size: 1em;
  align-items: center;
  @include for-phone-only  {
    margin-top: -15px;
    margin-bottom: 0px;
    // height: 45px;
    // font-size: 50px;
    align-items: center;
  }
}

.payment-grid {
  --gap: 15px;
  display: grid;
  gap: var(--gap);
  margin-bottom: 15px;
  grid-template-columns: repeat( auto-fit, minmax(50px, 1fr) );
  overflow-y: auto;
  overflow-x: hidden;
  font-size: larger;


  @include for-phone-only  {
    --gap: 5px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat( auto-fit, minmax(50px, 1fr) );
    font-size: 1em;
    overflow-y: auto;
    overflow-x: auto;
  }

}

mat-card-content {
  max-height: 200px;
  overflow-y: auto;

}

.void-info {
  color:chocolate;
  font-style: italic;
}
