.container {
  overflow-x: auto;
  overflow-y: auto;
}

mat-form-field {
  font-size: 1em;
}

.grid-content {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
  margin: 10px;
  gap: 10px;
}


.grid-fields {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
  margin: 10px;
  gap: 10px;
}

.item-options {
  display: grid;
  grid-template-columns: 125px 50px 125px 50px;
  margin: 10px;
  gap: 10px;
}
