<div *ngIf="paymentMethod &&inputForm " [formGroup]="inputForm" >
  <mat-card >
    <mat-card-title>
       Edit: {{ paymentMethod.name }}
    </mat-card-title>

    <mat-card-subtitle>

      <div class="grid-content">

        <div>
          <app-edit-buttons-standard
              (outputeupdateItem)     ="updateItem($event)"
              (outputupdateItemExit)  ="updateItemExit($event)"
              (outputupdatedeleteItem)="deleteItem($event)"
              (outputupdateonCancel)  ="onCancel($event)"
              (outputCopy)            ="copyItem($event)"
          ></app-edit-buttons-standard>
        </div>
      </div>
    </mat-card-subtitle>

    <mat-card-content>
      <div class="grid-fields">
        <div>
          <mat-form-field appearance="outline" >
            <mat-label >Name</mat-label>
            <input matInput
                  type             ="text"
                  formControlName  ="name"
                  class="form-control" >
          </mat-form-field>
        </div>

        <div>
          <div class="instructions">
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label >Sort</mat-label>
              <input matInput
                    type             ="number"
                    formControlName  ="tenderOrder"
                    class="form-control" >
            </mat-form-field>
          </div>
        </div>

        <div>
          <div class="instructions">
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label >Exchange Rate</mat-label>
              <input matInput
                    type             ="number"
                    formControlName  ="exchangeRate"
                      >
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="item-options">
          <div class="instructions">
            Credit Card
          </div>
          <div>
            <mat-checkbox
                  type             ="checkbox"
                  formControlName  ="isCreditCard"
                  >
            </mat-checkbox>
          </div>

          <div class="instructions">
            Cash
          </div>
          <div>
            <mat-checkbox
                  type             ="checkbox"
                  formControlName  ="isCash"
                  class="form-control" >
            </mat-checkbox>
          </div>

          <div class="instructions">
              Company Credit
          </div>
          <div>
            <mat-checkbox
                  type             ="checkbox"
                  formControlName  ="companyCredit"
                  class="form-control" >
            </mat-checkbox>
          </div>

          <div class="instructions">
            Reverse Charge
          </div>
          <div>
            <mat-checkbox
                  type             ="checkbox"
                  formControlName  ="reverseCharge"
                  class="form-control" >
            </mat-checkbox>
          </div>

          <div class="instructions">
            Manager Required
          </div>
          <div>
            <mat-checkbox
                  type             ="checkbox"
                  formControlName  ="managerRequired"
                  class="form-control" >
            </mat-checkbox>
          </div>

          <div class="instructions">
            WIC
          </div>
          <div>
            <mat-checkbox
                  type             ="checkbox"
                  formControlName  ="wic"
                  class="form-control" >
            </mat-checkbox>
          </div>

          <div class="instructions">
            EBT
          </div>
          <div>
            <mat-checkbox
                  type             ="checkbox"
                  formControlName  ="ebt"
                  class="form-control" >
            </mat-checkbox>
          </div>

          <div class="instructions">
            State
          </div>
          <div>
              <mat-checkbox
                  type             ="checkbox"
                  formControlName  ="state"
                  class="form-control" >
            </mat-checkbox>
          </div>

          <div class="instructions">
            Pre Auth Type
          </div>
          <div>
            <mat-checkbox
                type             ="checkbox"
                formControlName  ="preAuth"
                class="form-control" >
            </mat-checkbox>
          </div>

          <div class="instructions">
            Enabled Online
          </div>
          <div>
            <mat-checkbox
                type             ="checkbox"
                formControlName  ="enabledOnline"
                class="form-control" >
            </mat-checkbox>
          </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
