.container {
  overflow-x: auto;
  overflow-y: auto;
}

mat-form-field {
  font-size: 1em;
}

.grid-content {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
  margin-top: 10px;
}


.grid-fields {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
  margin-left: 15px;
}

