button {
  margin: 5px 5;
}

.grid-list-container {
  display: grid;
  grid-template-columns: 1fr 200px;
  gap: 7px;
  height: 90vh;
}

.grid-item-2 {
  top: 0px;
  position: relative;
  margin-top: -5px;
  font-size: .9em;
}

.grid-dimensions {
  width: 100%; height: 100%;
}

.grid-dimensions-electron {
  width: 90%; height: 90%;
}

.grid-dimensions-capacitor {
  width: 90%; height: 90%;
}

.grid-list {

  display: grid;
  grid-template-columns: 1fr 20vw;
  gap: 7px;

  @media (max-width: 599px)  {
    height: 69vh;
  }
  @media (min-width: 600px)   {
    height: 74vh;
  }
  @media (min-width: 900px) {
    height: 74vh;
  }
  @media (min-width: 1200px)  {
    height: 82vh;
  }

  @media (min-width: 1800px)  {
    height: 81vh;
  }

}

.grid-list-nopanel {
  display: grid;
  grid-template-columns: 1fr 20vw;
  gap: 7px;
  height: 65vh;

  @media (max-width: 599px)  {
    height: 65vh;
  }
  @media (min-width: 600px)   {
    height: 65vh;
  }
  @media (min-width: 900px) {
    height: 65vh;
  }
  @media (min-width: 1200px)  {
    height: 65vh;
  }

  @media (min-width: 1800px)  {
    height: 65vh;
  }

}
