<div class="header-flex">

  <div  *ngIf="searchForm"
        [formGroup]="searchForm"
        class="grid-item">
    <search-debounce-input
              [itemNameControl] = "'itemName'"
              [searchForm]      = "searchForm"
              (outPutMethod)    = "refreshSearchPhrase($event)">
      <div fieldDescription>
          <mat-icon>search</mat-icon>
          Search
      </div>
    </search-debounce-input>
  </div>

  <div>
    <span>
      <button mat-button (click)="gotoAddClient()">
          <mat-icon>add</mat-icon>New Profile</button>
    </span>
  </div>

  <div class="grid-item">
    <button mat-button
      class="assign-button"
      (click)="listAll()">
      <mat-icon>list</mat-icon>
      List All
    </button>
  </div>

</div>

<mat-divider></mat-divider>

<div [class]="gridlist">
  <div>
    <div *ngIf="value" class="loader">
      <mat-progress-bar mode="determinate" [value]="value"></mat-progress-bar>
    </div>

    <ag-grid-angular
          #agGrid
          [style]              ="gridDimensions"
          id                   ="myGrid"
          [class]              ="agtheme"
          [columnDefs]         ="columnDefs"
          [defaultColDef]      ="defaultColDef"
          [gridOptions]        ="gridOptions"
          [rowSelection]       ="rowSelection"
          [frameworkComponents]="frameworkComponents"
          (selectionChanged)   ="onSelectionChanged($event)"
          (gridReady)          ="onGridReady($event)">
    </ag-grid-angular>
  </div>

  <div *ngIf="!hideAdd" >

  </div>
</div>

<div style="flex-grow:0">
  <span id="selectedRows"> </span>
</div>

<div *ngIf="(action$ | async) as action"></div>