<span *ngIf="inputForm" [formGroup]="inputForm">
    <div>
      <mat-slide-toggle name="enabled"
                        formControlName="enabled">
        <mat-label>Enabled</mat-label>
      </mat-slide-toggle>
    </div>

    <div>
      <mat-slide-toggle
                        name= "labelRequired"
                        formControlName="labelRequired">
        <mat-label>Requires Labels Print</mat-label>
      </mat-slide-toggle>
    </div>

    <div>
      <mat-slide-toggle
                        name= "requiresSerial"
                        formControlName="requiresSerial">
        <mat-label>Requires Serial</mat-label>
      </mat-slide-toggle>
    </div>
    <div>
      <mat-slide-toggle name= "weightedItem"
                        formControlName="weightedItem">
        <mat-label>Scale Weighted Item</mat-label>
      </mat-slide-toggle>
    </div>

    <div class="toggle-footer">
      <mat-slide-toggle name           = "expirationRequired"
                        formControlName="expirationRequired">
        <mat-label>Expiration Date Required</mat-label>
      </mat-slide-toggle>
    </div>

    <div class="toggle-footer">
      <mat-slide-toggle name= "requireInStock"
                        formControlName="requireInStock">
        <mat-label>Sale Requires Inventory</mat-label>
      </mat-slide-toggle>
    </div>

    <div class="toggle-footer">
      <mat-slide-toggle name= "requireProductCount"
                        formControlName="requireProductCount">
        <mat-label>Sale Product Count > 0</mat-label>
      </mat-slide-toggle>
    </div>

    <div class="toggle-footer">
      <mat-slide-toggle name= "enableCustomNote"
                        formControlName="enableCustomNote">
        <mat-label>Display note field on product screen</mat-label>
      </mat-slide-toggle>
    </div>

    <div class="toggle-footer">
      <mat-slide-toggle name= "enableCustomNote"
                        formControlName="requireWholeNumber">
        <mat-label>Quantity Requires Whole Number</mat-label>
      </mat-slide-toggle>
    </div>

    <div class="toggle-footer">
      <mat-slide-toggle name= "pricePrompt"
                        formControlName="pricePrompt">
        <mat-label>Prompt Price</mat-label>
      </mat-slide-toggle>
    </div>

    <div class="toggle-footer">
      <mat-slide-toggle name= "pricePrompt"
                        formControlName="promptQuantity">
        <mat-label>Prompt Quantity</mat-label>
      </mat-slide-toggle>
    </div>

    <div class="toggle-footer">
      <mat-slide-toggle name= "disablePriceCategory"
                        formControlName="disablePriceCategory">
        <mat-label>Disable Price Category</mat-label>
      </mat-slide-toggle>
    </div>

    <div class="toggle-footer">
      <mat-slide-toggle name= "disablePriceCategory"
                        formControlName="disableSimplePrice">
        <mat-label>Disable Simple Price</mat-label>
      </mat-slide-toggle>
    </div>

    <div class="toggle-footer">
      <mat-slide-toggle name= "useDefaultPriceInApp"
                        formControlName="useDefaultPriceInApp">
        <mat-label>App Uses Default Price from Price Category</mat-label>
      </mat-slide-toggle>
    </div>

    <div class="toggle-footer">
      <mat-slide-toggle name= "webStoreSimpleView"
                        formControlName="webStoreSimpleView">
        <mat-label>Restaurant view for WebApp</mat-label>
      </mat-slide-toggle>
    </div>




  </span>

